[2020-10-04 20:14] jngrad opened #3934 "Issue tracker for Tutorial 01"
List of things to fix based on feedback from the summer school.

* `matplotlib` plots
   * should be instantiated with `fig = plt.figure(figsize=(10, 8))` instead of `fig = plt.figure()` to be more readable by taking the entire width of the HTML div
   * should end with `plt.show()` to avoid printing the return value of the last matplotlib method
* `scipy`
   * should be imported with `import scip

[2020-10-05 02:51] espresso-ci opened #3935 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13293

[2020-10-06 02:22] espresso-ci opened #3936 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13296

[2020-10-06 10:42] #3931 closed, assigned to christophlohrmann

[2020-10-06 10:42] #3935 closed, assigned to nobody

[2020-10-06 10:42] #3936 closed, assigned to nobody

[2020-10-06 10:47] jngrad commented on #3928
Fixed by 7909555dd.

[2020-10-06 10:47] #3928 closed, assigned to nobody

[2020-10-08 08:16] #3828 closed, assigned to jngrad

[2020-10-08 11:04] jngrad opened #3939 "Split LB tutorial into LB, polymer and Langevin simulation tutorials"
The LB tutorial introduces the Flory theory of polymers, the Rouse regime (implicit solvent) and the Zimm regime (LB fluid). The only difference between Langevin Dynamics and lattice-Boltzmann is the absence resp. presence of the second term in the Kirkwood-Zimm equation of the diffusion coefficient of polymers:

<img src="https://render.githubusercontent.com/render/math?math=%5Cdisplaystyle%20D%3

[2020-10-08 13:39] jngrad commented on #3930
It's no longer an issue from my side, thanks to tooling:
[code]

[2020-10-08 14:45] jngrad commented on #3939
The resulting LB tutorial could get an additional part where we simulate particles falling in a vacuum vs. in a LB fluid, to reproduce the video from the "ESPResSo features" lecture.

[2020-10-09 08:01] jngrad opened #3940 "Issue tracker for Tutorial 04"
* [ ] The polymer simulation with Langevin Dynamics becomes extremely slow when the box size is increased from 12 to to 120.
* [ ] Look into simulating polymers in poor solvent by adding a LJ-cosine interaction: Lyulin et al. 1999 (doi:[10.1021/ma981818w](https://doi.org/10.1021/ma981818w)).
* [ ] The Flory theory is only valid for long polymers, look into corrections for finite chains. See e.g. D

[2020-10-09 11:30] fweik commented on #3940
I'm not sure that introducing Green-Kubo and MSD for the diffusion at once is a good idea. It's too much at once, and a source of confusion, also it did not become clear when you would use what, for the given parameter sets they both work equally well.
I think that would still be the case if the polymer part would be factored out as proposed in #3939.

[2020-10-09 18:36] jngrad opened #3941 "Issue tracker for Tutorial 12"
Regarding the version with WCA active and P3M active:

* it takes 1 hour to run the tutorial
* the tutorial only says "Observe how the ionization equilibrium is affected by various interactions" without interpreting the plot
   * the sigmoid is shifted to higher pH values, i.e. the degree of dissociation is smaller at pH > pKa, probably because once several monomers are basic, protons lost by neig

[2020-10-09 19:49] jonaslandsgesell commented on #3941
If there is low electrostatic interactions present, then the ionization of one group suppresses the ionization of other groups (because of the like-charge repulsion of charged monomers along the chain). Therefore at same pH (for a given acid which has a certain pK), the ionization is lower (if you turn on electrostatics). One can compute this when using the thermodynamic framework, starting from d

[2020-10-10 13:46] jngrad opened #3942 "Issue tracker for Tutorial 11"
* [x] the HTML versions fail to run due to errors in lowercase/uppercase variable names
* [x] symbols in formula are not always consistent with symbols in the text (e.g. `\varphi` instead of `\phi`)
* [x] the formulation "we commit H.mu as the external magnetic field" is used in the sense of "we apply H.mu as...", and "we commit the orientation of the dipole moments" in the sense of "we set the or

[2020-10-10 16:42] jngrad commented on #3940
Regarding performance for large box sizes: `boost::iterators::detail::iterator_facade_base<ParticleIterator<Cell**>>` accounts for 70% of the total runtime according to valgrind. It's called when iterating over `ParticleRanges` or `local_cells`. Increasing the skin by a factor 10 (the same factor as the box size) reduces the iterator footprint to 50% of the total runtime.

With the small box size,

[2020-10-11 02:54] espresso-ci opened #3944 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13330

[2020-10-11 09:01] jngrad commented on #3944
Will be fixed by #3943.

[2020-10-12 07:59] RudolfWeeber opened #3945 "CI: Always run ` run_tutorials` when the .ipynb files change"
Changing tutorials but not variable subsitutions in CI may cause late failues in the weekly schedule.
This would prevent at least those cases, where it was triggered by a changed ipynb file.

Implementation:
Using `only: changes` or `rules: changes`
care has to be taken that the `run_totrials` runs whenever `deploy_tutorials` does, as well

[2020-10-12 09:41] RudolfWeeber opened #3946 "Mention Cmake version requirement and pip3 install --user"

[2020-10-12 10:42] jngrad commented on #3946
Regarding documenting version requirements: I'm not aware of a way to enforce synchronization between the docs and CMake. For example, in 4.2:
https://github.com/espressomd/espresso/blob/b75be6fa9a876230cca03bac3001ff11ed4a031d/CMakeLists.txt#L172
https://github.com/espressomd/espresso/blob/b75be6fa9a876230cca03bac3001ff11ed4a031d/doc/sphinx/installation.rst#L63

It's probably not possible to do a

[2020-10-12 12:29] RudolfWeeber commented on #3930
Offlien discussion: JN's scripts to do the cell type conversion will be integrated

[2020-10-12 12:33] RudolfWeeber commented on #3918
Postponed 4.3 due to Cuda 10 shortcomings

[2020-10-12 13:34] KaiSzuttor commented on #3946
I still think we should drop mentioning specific versions in the documentation

[2020-10-12 14:36] jngrad opened #3947 "Create installation FAQ in the wiki"
The user guide gives a good overview of installation instructions for ESPResSo on various platforms, but some users experience issues when their build environment is not properly set up. We could write troubleshooting information in a FAQ in the wiki. The user guide is not the best place for that, because setting up a proper build environment is not specific to ESPResSo. The wiki can also be edite

[2020-10-12 15:55] #3944 closed, assigned to nobody

[2020-10-12 15:55] #3946 closed, assigned to jngrad

[2020-10-12 17:01] #3101 closed, assigned to nobody

[2020-10-12 17:47] fweik commented on #3947
Ah, something I forgot to forward form the tutorials: Apparently it was not clear to everybody who tried the tutorials on their own machine that ipython is required for that. Maybe somebody could check if this is sufficiently clear in the docs, this is also maybe a candidate for the installation wiki page (?)

[2020-10-13 11:40] KaiSzuttor commented on #3924
can this be done with electrostatics? are single particle MC moves efficient?

[2020-10-13 13:07] RudolfWeeber commented on #3924
Up to a point, but I'm not going to do that near-term.
E.g., you can reuse/update the P3M charge assignment and tune to high cao and low fft mesh sizes.

For the Gibbs ensemble, yes.
However, moves that affect small clusters can make use of this, too.

My plan is to implement something along the lines of non-bonded loop with one partner fixed and a templateable kernel.

[2020-10-13 18:35] jngrad commented on #3895
We exchanged one Vega 56 from `coyote10` with the Vega 58 in `lama`. The ROCm job was run multiple times on the `lama` and `coyote10`runners without failing:
* logfiles for` coyote10` with GPU from `lama`:
  [256766](https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/256766)
  [256770](https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/256770)
  [256771](https://gitlab.icp.

[2020-10-13 18:57] jngrad commented on #3945
I've experimented with the [`only:`](https://docs.gitlab.com/ee/ci/yaml/#onlyexcept-advanced) keyword in GitLab projects recently, and from what I've learned, it should probably look like this:
[code]
instead of the current form:
[code]
This way the tutorials are built in PRs that change them, or change the docker image. This won't build tutorials on side-effects though, e.g. changes in the top-le

[2020-10-14 02:40] espresso-ci opened #3948 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13365

[2020-10-14 07:07] RudolfWeeber commented on #3945
The suggested solution looks correct to me. Let’s go for it.

[2020-10-14 07:18] KaiSzuttor commented on #3945
you may want to use https://docs.gitlab.com/13.4/ee/ci/yaml/README.html#onlyrefsexceptrefs

[2020-10-14 10:41] #3948 closed, assigned to nobody

[2020-10-14 11:14] jngrad commented on #3948
That was an MPI-related random failure in the CUDA 11 job:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/256846
[code]

[2020-10-14 12:51] jngrad commented on #3945
Implemented in #3949. Turns out, the `only: changes:` just looks at changes in the tutorials for the current commit, so there's a risk someone pushes a branch where the last commit, which triggers the CI pipeline, doesn't touch the tutorials, in which case CI skips `run_tutorials` (this is what happens in 41ab461). Plan B is to move the job to the nightly builds (6ef49a6).

[2020-10-14 13:04] jngrad opened #3950 "vtk unavailable on macOS"
See e.g. GitHub Action [1253428513](https://github.com/espressomd/espresso/runs/1253428513)
[code]
From:
https://github.com/espressomd/espresso/blob/cf157f52280adbecbd135ab7476e5b5922664679/.github/workflows/build.yml#L12-L15

@KaiSzuttor is it a temporary issue? I can pip install `vtk` from a docker image without any problem.

[2020-10-14 13:18] KaiSzuttor commented on #3950
that may depend on the python version, maybe mac os got an update?

[2020-10-14 14:57] jngrad commented on #3950
You're right, macOS 10.15 changed from version 20201003.1 to version 20201011.1 yesterday, which replaces Python 3.8.5 with 3.8.6 and pip from 20.1.1 / python 3.8 ([readme](https://github.com/actions/virtual-environments/blob/macos-10.15/20201003.1/images/macos/macos-10.15-Readme.md#package-management)) to 20.2.3 / python 3.9 ([readme](https://github.com/actions/virtual-environments/blob/macos-10.

[2020-10-14 15:55] jngrad commented on #3950
Maybe the VTK project doesn't have a wheel yet for the latest python 3.8 version. I'm temporarily removing it so that CI can pass.

[2020-10-14 16:10] junghans commented on #3905
Still the same as of today: [build.log.txt](https://github.com/espressomd/espresso/files/5379495/build.log.txt)

[2020-10-14 16:58] jngrad commented on #3950
There is an additional issue with packages getting installed for python 3.9 instead of 3.8. Happens randomly, though.

[2020-10-14 19:11] jngrad commented on #3905
I tried again with Fedora 34 with OpenMPI 4.0.4 and UCX 1.9.0 compiled from sources and still have 39 tests failing. These tests don't fail with OpenMPI compiled from sources without UCX.

I also just tried with Fedora 34 with MPICH 3.3.2 and UCX 1.9.0 compiled from sources and have 72 failing tests, but there it's only one type of error:
[code]

I don't know if the issue is in espresso or in UCX,

[2020-10-14 19:29] junghans commented on #3905
@opoplawski

[2020-10-15 01:18] opoplawski commented on #3905
I would check/file issue here: https://github.com/openucx/ucx/issues
There may also be ways to disable UCX in openmpi at runtime.  I would ask them.  Also, I'm doing `export UCX_TCP_PUT_ENABLE=n` in the netcdf package to work around https://github.com/openucx/ucx/issues/5535.  But that has a different error message so YMMV.

[2020-10-15 09:36] jngrad commented on #3950
The macOS image was rolled back to the previous version. I've restarted the failed GitHub Actions.

[2020-10-15 09:44] jngrad commented on #3904
@reinaual the CMake error is no longer reproducible on my side, using 6c5804b5c from the original post or the latest 0cdea165740.

[2020-10-15 12:09] jngrad commented on #3905
I already looked into UCX tickets but couldn't find anything similar. Opening a ticket is not really helpful, because we have three classes of MPI+UCX issues here, for which we cannot write a minimal non-working example:
* reproducible ones in espresso FFT code that hasn't been maintained for a while and is planned to be replaced by FFTW, but not before espresso 4.3
* reproducible ones that involv

[2020-10-15 13:17] jngrad commented on #3905
Alright, the 39-72 random MPI+UCX errors were actually caused by hyperthreading on my AMD Ryzen Threadripper.

Espresso 4.1.3 compiles and passes all tests with [MPICH 3.3.2 + UCX 1.9.0 compiled from sources](https://github.com/espressomd/espresso/files/5385091/Dockerfile-34-mpich-ucx-190.txt) and [OpenMPI 4.0.4 + UCX 1.9.0 compiled from sources](https://github.com/espressomd/espresso/files/538509

[2020-10-15 14:03] fweik commented on #3019
Is anybody working on this?

[2020-10-15 14:06] jngrad commented on #3019
I'm not aware of anyone working on this.

[2020-10-15 14:32] #3950 closed, assigned to nobody

[2020-10-16 02:32] espresso-ci opened #3951 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13382

[2020-10-16 09:09] #3951 closed, assigned to nobody

[2020-10-16 09:38] jngrad commented on #3951
Why is Wang Landau running for 95s in [257159](https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/257159) and for more than 300s in [257145](https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/257145), [257158](https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/257158)?

[2020-10-16 12:34] #3815 closed, assigned to nobody

[2020-10-16 12:34] #3810 closed, assigned to nobody

[2020-10-16 12:34] #3798 closed, assigned to nobody

[2020-10-16 12:34] #3795 closed, assigned to nobody

[2020-10-16 12:52] jngrad commented on #2973
* the `lama` backup broke down several times before, during and after the summer school (Sep 30, twice on Oct 6, Oct 12), putting us in a situation where CI could not pass and PRs could not get merged

[2020-10-16 13:51] mkuron commented on #2973
The first two cases were a due to a broken SSD, the other one was due to a crashed graphics driver.

[2020-10-16 17:46] RudolfWeeber opened #3952 "The pylint check should only run on files which are actually tracked by git"
maintainer/CI/fix_style.sh

[2020-10-16 18:22] jngrad commented on #3952
This can be achieved using this command:
[code]
The `git ls-tree` subcommand lists tracked files, the `git diff --cached` subcommand lists untracked yet staged files.

I prefer using my custom script `git style HEAD`, which only touches tracked and staged files (`/tikhome/jgrad/Documents/protocols/DevOps/git-style/git-style`).

[2020-10-16 19:54] jngrad opened #3953 "Add installation instructions for Windows via WSL"
ESPResSo can be built on a Windows 2019 runner using WSL, with some effort ([`cf157f52...jngrad:ci_wsl`](https://github.com/espressomd/espresso/compare/cf157f52280adbecb...jngrad:ci_wsl)). Works for 4.2-dev ([logfile 1266087811](https://github.com/jngrad/espresso/runs/1266087811?check_suite_focus=true)) and the walberla branch ([logfile 1265818337](https://github.com/jngrad/espresso/runs/126581833

[2020-10-16 20:28] mkuron commented on #3953
Is it really worth adding a CI job for WSL2? After all, it‘s just an Ubuntu VM running on Hyper-V (with guest integrations for shared filesystem access and [CUDA support](https://developer.nvidia.com/cuda/wsl)). Unlike WSL1, it even uses a plain Linux kernel.

[2020-10-16 21:22] RudolfWeeber commented on #3953
I also don’t think, we need to test this for now. It’s unlikely that it breaks as long as CI Ubuntu passes

[2020-10-17 13:01] jngrad commented on #3953
The CI job itself is still in a prototype stage. There are a few things in it which are fragile, e.g. the user cannot use all features of CMake. I worked on it by trial and error whenever I had a few minutes between two `docker run` for the 4.1.4 release candidate. I'm not planning to work on it further, though.

[2020-10-17 17:20] jngrad commented on #3953
Duplicate of #3094. Closing.

[2020-10-17 17:20] #3953 closed, assigned to nobody

[2020-10-18 02:42] espresso-ci opened #3954 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13392

[2020-10-18 15:56] RudolfWeeber commented on #3945
Didn't work (fully). Is now moved to nightly job to get more rapid feedback.

[2020-10-18 16:05] RudolfWeeber opened #3955 "Write Tutorial 02 part 2: ELC system with dielectric boundaries"

[2020-10-19 06:55] KaiSzuttor commented on #2973
as long as we do not have redundancy for testing rocm, we cannot use it in CI.

[2020-10-19 07:09] KaiSzuttor commented on #3955
please add some details why and how

[2020-10-19 07:10] RudolfWeeber commented on #3955
Part 1 was changed to charged rod. The crystal stuff was not kept since there were issues with it (@schlaicha)

The 2nd part still deals with crystal stuff

[2020-10-19 07:18] KaiSzuttor commented on #3952
the cleanest solution is to put pylint into the pre-commit configuration.

[2020-10-19 08:15] RudolfWeeber commented on #3788
Most of the slow import time is due to numpy.
Import numpy
takes 1.6s on my workstation. Espresso only adds another 200ms.
There is nothing we can do with regards to speeding up the test suite until new system instances can be created.
Closing

[2020-10-19 08:15] #3788 closed, assigned to nobody

[2020-10-19 08:18] #3611 closed, assigned to nobody

[2020-10-19 08:25] #3458 closed, assigned to nobody

[2020-10-19 08:29] KaiSzuttor commented on #3458
is the issue resolved?

[2020-10-19 08:42] #2253 closed, assigned to nobody

[2020-10-19 08:57] RudolfWeeber commented on #3458
Yes. I think everything that can (at present) be an observable is.

[2020-10-19 09:10] KaiSzuttor commented on #3945
Reading the documentation for the ```only``` keyword shows that is indeed possible what we wanted to achieve: https://docs.gitlab.com/ee/ci/yaml/#using-onlychanges-with-pipelines-for-merge-requests

[2020-10-19 09:14] RudolfWeeber commented on #3945
We are not using gitlab merge requests, though.

The CI only sees a branch, doesn’t it?

[2020-10-19 09:19] KaiSzuttor commented on #3945
we are currently not using merge requests but it's probably trivial to change that

[2020-10-19 09:39] schlaicha commented on #3955
I think the general point that should be clarified is if

- we want to provide samples/tutorials that teach physics primarily

or

- they should primarily show Espresso capabilities.

In the current state part 1 contains a lot of physics and simply uses P3M whereas part 2 is intended as a show case that can use many of the special electrostatics algorithms (ICC, ELC, ...). With @christophlohrmann

[2020-10-19 11:43] #3952 closed, assigned to nobody

[2020-10-19 13:37] reinaual commented on #3904
@jngrad building with `cmake .. -DWITH_CUDA=ON -DWITH_STOKESIAN_DYNAMICS=OFF -DWITH_CCACHE=ON -DWITH_WALBERLA=ON` works fine, thanks!

[2020-10-19 14:03] #3904 closed, assigned to jngrad

[2020-10-19 14:11] #3954 closed, assigned to nobody

[2020-10-19 16:52] jngrad commented on #3905
Given the frequency at which OpenMPI and OpenMPI+UCX breaks the espressomd package on Fedora Rawhide, the resources it takes us to investigate such issues, and the difficulty of extracting a minimal working example from ESPResSo's custom MPI infrastructure when filing a bug report to the OpenMPI and UCX projects, the ESPResSo core team decided it would no longer be able to offer support for MPI-re

[2020-10-20 08:42] RudolfWeeber commented on #3942
Minor fixes will be provided by @pkreissl, error bars are deferred

[2020-10-20 08:58] RudolfWeeber commented on #3934
@jgrad @schlaicha

[2020-10-20 08:59] RudolfWeeber opened #3958 "Error estimation in ES + tutorial"
@cbiermann with @schlaicha and @RudolfWeeber

[2020-10-20 09:00] RudolfWeeber opened #3959 "Consistent numbering for tutorials"

[2020-10-20 09:02] RudolfWeeber commented on #3959
Indicate difficulty level

[2020-10-20 09:13] RudolfWeeber commented on #3955
@areinauer. Part 2 will be small number of ion pairs with dielectric boundaries and elc.
Crystal part iwll not be kept

[2020-10-20 11:47] jngrad commented on #3819
Tutorial 02 Part 1 was replaced by the charged rod tutorial. Closing.

[2020-10-20 11:47] #3819 closed, assigned to nobody

[2020-10-20 15:00] jngrad commented on #3906
Found the other memory leak:
https://github.com/espressomd/espresso/blob/572f85484bcb96d3c2b8f55af8e73791a10be2ca/src/core/bonded_interactions/bonded_tab.cpp#L40-L41
We overwrite the pointer with `new` without calling a `delete` first.

Fixing both memory leaks brings us from 1400 MB  down to 480 MB of RAM consumption (peak RAM consumption is 850 MB).

[2020-10-20 15:10] junghans commented on #3905
https://bugzilla.redhat.com/show_bug.cgi?id=1889614

[2020-10-20 16:04] christophlohrmann commented on #3421
having to ``np.copy()`` values to check them is still an annoyance
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/257941

[2020-10-20 17:12] junghans commented on #3905
Ok, in conclusion, I exclude the test on openmpi on rawhide for now.

@jngrad could you guys merge this patch for upcoming gcc-11 release:
https://src.fedoraproject.org/rpms/espresso/blob/master/f/espresso-gcc11.patch

[2020-10-21 02:55] espresso-ci opened #3962 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13426

[2020-10-21 07:01] KaiSzuttor commented on #3959
remove numbering

[2020-10-21 19:45] kosovan commented on #3941
I think that an earlier version of the tutorial was running faster and I agree that one-hour runtime is too long. My suggestion is to decrease the number of pH values for which we calculate the result with electrostatics and/or decrease the accuracy of electrostatics, or replace it with DH. However, it should be explained in the tutorial that we sacrificed accuracy for speed, and that this should

[2020-10-22 02:24] espresso-ci opened #3963 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13427

[2020-10-22 07:08] KaiSzuttor opened #3964 "Harmonic dumbbell bond uses parameters of harmonic bond interaction"
https://github.com/espressomd/espresso/blob/572f85484bcb96d3c2b8f55af8e73791a10be2ca/src/core/bonded_interactions/harmonic_dumbbell.hpp#L96

[2020-10-22 07:09] KaiSzuttor commented on #3964
Not covered by tests.

[2020-10-22 10:23] fweik commented on #3964
It is also not momentum conserving ;-) I think this is a bespoke solution for a particular application who's general usefulness can be debated...

[2020-10-22 11:41] jngrad commented on #3907
Addendum: there are a lot of places in the code where free functions that should have internal linkage end up having external linkage, just so that they could be used in `communication.cpp`. Some of them have a clear warning that they should not be used for any other purpose:
https://github.com/espressomd/espresso/blob/572f85484bcb96d3c2b8f55af8e73791a10be2ca/src/core/particle_data.hpp#L370-L375
B

[2020-10-22 12:03] jngrad commented on #3883
Builds are now timing out on ICP workstations. On `giraffe` with sanitizers:
[code]
On `lama` without sanitizers and without coverage:
[code]
This causes CI to fail in PRs (#3960) and nightly builds (#3951, #3963). I have removed `lama` from the list of active CI runners.

[2020-10-23 02:37] espresso-ci opened #3967 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13437

[2020-10-23 07:17] jngrad commented on #3907
Also, there doesn't seem to be a good reason for making the following header files indirectly included in 90 .cpp files:
https://github.com/espressomd/espresso/blob/572f85484bcb96d3c2b8f55af8e73791a10be2ca/src/core/communication.hpp#L55-L57

[2020-10-23 07:58] jngrad commented on #3967
Duplicate of #3895

[2020-10-23 07:58] jngrad commented on #3895
Failing again on `coyote10 GPU0` ([logfile](https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/258186)).

[2020-10-23 08:06] #2973 closed, assigned to nobody

[2020-10-23 08:06] #3895 closed, assigned to nobody

[2020-10-23 08:06] #3967 closed, assigned to nobody

[2020-10-23 10:06] jngrad commented on #3895
Failing on both `coyote10 GPU0` ([logfile](https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/258255)) and `coyote10 GPU1` ([logfile](https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/258256)). The `lama` backup has timeout issues.

[2020-10-23 15:56] #3529 closed, assigned to nobody

[2020-10-23 15:58] RudolfWeeber commented on #3528
Likely caused by symbols exisitng in several shared objects. Can't be fixed with the current structure of the Python interface.
We are intentially leaking the pointer at program exit to work around this.

[2020-10-23 15:59] #3528 closed, assigned to nobody

[2020-10-23 16:00] RudolfWeeber opened #3968 "Avoid symbols exisitng in several shared objects"
currently, the Python interface contains several Cython-compiled modules which are linked against EspressoCore.
Ghis leads to symbols existing several times, which in trun can lead ton undefined behavior.

[2020-10-23 16:11] RudolfWeeber opened #3969 "Walberla: Thermalization + force != momentum conservation"
Unthermalized Walberla-based LBs fulfill:
current momentum = time step * forces applied in previous time steps +1/2 * time step * force applied in last time step

The thermalized LB does not fulfill this if a force has been applied in the last time step. I.e. the f/2 correction seems to be different.

After integration steps in which no force was applied, the equation holds, i.e.:
current momentum

[2020-10-23 16:13] RudolfWeeber commented on #3969
This is probably why thermalized simulations with particle coupling explode after a while.

[2020-10-23 16:14] RudolfWeeber commented on #3969
@mkuron, any idesas?

[2020-10-23 16:55] jngrad commented on #3899
@reinaual @RudolfWeeber
The waLBerla branch was ported from `double` to `real_t` in [jngrad/espresso:walberla-real_t](https://github.com/jngrad/espresso/compare/1fba07b91e...walberla-real_t). To build with single precision, do:
[code]

Several LB tests fail due to rounding errors, with absolute differences of the order 10^-5 to 10^-8.

<details>
  <summary>CTest output: one unit test and 6 python

[2020-10-24 13:19] RudolfWeeber commented on #3883
The following tests are deterministic:
* lb_stokes_sphere
* virtual_sites_tracers

The criterion for "deterministic", here is
There is a non-0 probability that the test fails, even if the implementation is correct.

There are quite a few tests using random numbers which nevertheless have to pass always.
E.g., the inerita ensor has to be correct what ever random particle positions are chosen.

IMO,

[2020-10-24 13:53] #3836 closed, assigned to nobody

[2020-10-24 13:56] RudolfWeeber commented on #3753
We are only testing x64. I don't think, we can do something w/r to s3900.

[2020-10-24 13:58] #3753 closed, assigned to nobody

[2020-10-24 14:10] #3906 closed, assigned to nobody

[2020-10-24 14:11] #2647 closed, assigned to nobody

[2020-10-24 14:12] RudolfWeeber commented on #2647
Emulated archs ar no longer in CI

[2020-10-24 16:42] espresso-ci opened #3970 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13452

[2020-10-24 17:14] #3970 closed, assigned to nobody

[2020-10-25 13:16] mkuron commented on #3969
I think the correct version of your equation is:
current momentum = time step * forces applied in previous time steps +1/2 * time step * force applied in last time step -1/2 * time step * force applied in first time step. The thermalization does not create a force though, so I don't see how it could violate the equation.

[2020-10-26 08:34] KaiSzuttor commented on #3969
We had this issue recently in our LB version where the bug in the thermalization resulted in unphysical fluid flow: https://github.com/espressomd/espresso/issues/3804

[2020-10-26 09:15] RudolfWeeber commented on #3969
Differnt story, probably.

The thermalization only touches off-diagonal elements in the stress tensor. That can create flows but not linear momenta.

Also, the test against the mentioned bug in Espresso was introduced in LbmPy.

I’ll now try to reproduce the issue in LbmPy, and if I can’t get it there, in Walberla. That should narrow it down.

[2020-10-26 09:33] RudolfWeeber commented on #3679
@KaiSzuttor, could you please make a decision with regards to the Current observable.
Remove? Devide by volume and rename to CurrentDensity?

[2020-10-26 09:34] RudolfWeeber commented on #3964
So, we remove it?

[2020-10-26 09:48] fweik commented on #3968
Are you sure this is really the case? Can you show an example?

[2020-10-26 10:17] RudolfWeeber commented on #3968
Make the Walberla instance in lb_walberla_instance.cpp a unique_ptr ore seomthing else which will be destructed at end of program.

The references on Walberla’s custom shared pointers will be miscounted.

This is not new though, just the conclusion from the discussion at the time, as I understood it.

The issue probably only arises with non-trivial globals.

[2020-10-26 13:28] RudolfWeeber commented on #3964
Offline discussion: will be removed

[2020-10-26 13:31] #3962 closed, assigned to nobody

[2020-10-26 13:32] #3963 closed, assigned to nobody

[2020-10-26 13:35] RudolfWeeber commented on #3679
Will be removed due to wrong units/name. Use FluxDensityProfile instead

[2020-10-26 13:41] RudolfWeeber opened #3972 "Remove not-in-use SD GPU glue code from 4.2"

[2020-10-26 14:54] jngrad commented on #3972
underlying issues with the GPU implementation reported in #3826 and hmenke/espresso-stokesian-dynamics#2

[2020-10-26 15:06] #3679 closed, assigned to KaiSzuttor

[2020-10-26 15:29] RudolfWeeber opened #3975 "Code duplication in langevin/dpd/sd tests"
velocity distribution checking code seems to be identical

[2020-10-26 15:38] RudolfWeeber commented on #3883
Langevin:
* test_global_langevin*
* test_langevin_per_particle*
* test_diffusion
* test_noise_correlation

Brownian fully

dpd:
* test_single*
* test_binary

dpd:
* test_single*
* test_binary

dpd:

integrator_npt: fully

lb:
* mass_momentum_thermostat
integrator_npt: fully

lb_pressure_tensor_acf: fully

lb_stokes_sphere: fully, but for speed, not because it is statistical

virtual_sites_tracers:

[2020-10-26 15:39] RudolfWeeber commented on #3883
virtual_sites_tracers:
The various surface restoring forces can be tested without lb. Then, the runtime is no longer an issue. See test in the Walberla branch.

[2020-10-26 16:20] #3964 closed, assigned to KaiSzuttor

[2020-10-26 22:00] jngrad commented on #3516
The implementation was re-added in 2f9e8b34bb, which was necessary for checkpointing (#3513). The setter/getter test in `lb_walberla.py` and the check in `array_properties.py` were also re-enabled. The `Vector19d` typedef was removed.

[2020-10-26 22:00] #3516 closed, assigned to nobody

[2020-10-26 22:07] jngrad commented on #3513
The LB populations and last applied forces are now checkpointed (2f9e8b34bb). The EK checkpointing is still commented out.

[2020-10-27 14:03] jngrad commented on #3513
I quickly experimented with a boost solution to serialize the LB blockforest (5196f7fd69). This is a more compact solution than the one we currently have, and is probably more efficient since we only have one MPI call per checkpointing instead of two MPI calls per LB node. It also removes the boolean flag to defer ghost communication, and keeps the serialization logic inside the walberla class. It

[2020-10-27 14:37] RudolfWeeber commented on #3513
The fact that such a checkpointing freezes the MPI topology is, why I didn’t suggest this approach.

I think we should get to a point, where checkpoitns can be loaded independent of the number of mpi ranks.

Long term, I think, we can give up on the binary/ascii formats and just use hdf. That’s a structured format which potentially supports writing different mpi ranks in parallel, and is easily re

[2020-10-27 18:20] jngrad opened #3977 "Make header files self-contained"
TL;DR: ill-formed header files are repeatedly breaking CI in PRs. Impact can be minimized with coding style.

**Problem statement**

Several header files are not self-contained, leading to recurring issues in PRs: 175098b5f7, 5111868bad, 3b95e4c35f, defba4fe2, 70b6da95c1, 395ce4708d, bcf8abc66, 78ade2aec. Investigating compiler errors caused by missing includes can be especially tedious in the cas

[2020-10-27 20:04] jngrad commented on #3905
@junghans I tried to apply the patch to the 4.2 line so that you could use a PR as patch in the specfile, but `src/script_interface/ParallelScriptInterface.hpp` no longer exists in 4.2. I'm afraid you will need to maintain this patch until the 4.2.0 release.

We can no longer maintain the 4.1 line because we are currently focusing our efforts on the 4.2 and 4.3 releases. The CI infrastructure for

[2020-10-27 20:18] junghans commented on #3905
No problem, just do a build on rawhide with gcc-11 and these issues will pop up again, they aren't hard to fix anyway.

[2020-10-28 16:03] jngrad commented on #3905
Could you share with me how you set up gcc-11 on Rawhide? I couldn't find it in the Fedora packages, was not able to compile it from sources (`gcc/read-md.c:1043: undefined reference to 'operator delete(void*, unsigned long)'`), and with [jwakely/gcc-latest](https://copr.fedorainfracloud.org/coprs/jwakely/gcc-latest/), ESPResSo 4.1.4 builds without error messages (maybe gcc-c++11 is using librarie

[2020-10-28 16:22] junghans commented on #3905
@jwakely, how you get gcc-11 on rawhide?

[2020-10-28 16:37] jwakely commented on #3905
Build from source. My gcc-latest COPR has been failing to build for rawhide for weeks, I don't know why and haven't looked into it.

[2020-10-29 08:30] hirschsn commented on #3590
The H5MD module can't output bonds, can it?
That was the initial idea behind MPI-IO. To have an output routine that works in parallel and can store variable-size data such as bond information for large-scale runs. Also, the format was supposed to be simple binary data to be able to parse it outside of ESPResSo. This is necessary because if one wants to evaluate large-scale runs, reading the snapsh

[2020-10-29 09:02] KaiSzuttor commented on #3590
i think it would have been easier to extend the h5md implementation than reinventing the wheel and implementing a totally new binary format. parsing h5md is trivial because one can directly read it via h5py in python. so i don't see the point of mpiio...

[2020-10-29 09:10] jngrad commented on #3864
@junghans To solve the issue on 4.1.3 and 4.1.4, you can adapt the patch in a3929079785064, i.e.:

[code]

Tested in a Fedora 33 docker container with boost 1.74 compiled from sources.

[2020-10-29 09:47] hirschsn commented on #3590
I totally agree with you reinventing-the-wheel statement. However, iirc, the wheel was never reinvented because MPI-IO was present before HDF5 output in ESPResSo.

You can remove MPI-IO if you see no point in it. But first, please ensure that users can output bond data *and* read them in, again, *and* parse the format without ESPResSo. Which is hard, if they have to know the internals like how a B

[2020-10-29 10:31] RudolfWeeber commented on #3590
I think, MPI-IO was probably first, maybe in a project branch.

Kai, did you at some point resolve the issue with saving three-particle bonds to H5md?

#1715 is still open.

Before removing MPI-IO and switching to Hdf entirely, it would need to be demonstrated that the Hdf5-writer successfully handles the system sizes that Steffen is dealing with.

[2020-10-29 10:38] KaiSzuttor commented on #3590
no, i have not looked into this.

I don't think that this needs to be checked. Hdf5 is designed to deal with large datasets. If our implementation (that is not yet there) is or will be as performant as mpi-io is a different topic.

[2020-10-29 10:41] KaiSzuttor commented on #3590
Reading the file again is probably the point here. That is not implemented at all for espresso. However, i do not see the point here, since we are having the checkpointing mechanism that deals with reading a stored state of espresso.

[2020-10-29 10:44] hirschsn commented on #3590
@KaiSzuttor Does checkpointing work in parallel? Or will it transfer all data to rank 0 first?

[2020-10-29 10:48] RudolfWeeber commented on #3590
The checkpointing is not suitable for the system sizes relevant for Steffen.

[2020-10-29 10:52] KaiSzuttor commented on #3590
yes, reading and writing checkpoints always is only rank 0.

[2020-10-29 11:53] jngrad commented on #3905
ok I finally managed to build GCC 11 from sources thanks to their mailing list thread [Unable to compile - undefined reference to operator new, delete](https://gcc.gnu.org/legacy-ml/gcc-help/2018-03/msg00017.html), and could reproduce the compiler error for `src/utils/include/utils/NumeratedContainer.hpp`. This will be helpful when fixing missing includes in the upcoming 4.2 release.

[2020-10-29 13:43] jngrad commented on #3977
One more "special" include type:
* includes patches such as a39290797

One more tool: [`cppinclude`](https://github.com/cppinclude/cppinclude) to create summaries of highly included files and build include graphs. Moving includes from highly included files down to the source files where they are really needed can help narrow interfaces, and as a side effect, help detect missing includes. I haven't

[2020-10-29 15:45] junghans commented on #3864
Thanks, will use that patch on openSUSE.

[2020-10-30 05:04] espresso-ci opened #3979 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13517

[2020-10-31 17:17] jngrad opened #3980 "Split thermostats into separate classes"
There is currently a single `Thermostat` class in the python interface that mixes the LB, NpT, DPD, Langevin, Brownian and Stokesian thermostats. This design is difficult to maintain, especially in the [checkpointing methods](https://github.com/espressomd/espresso/blob/dc0dfa199e9b2d5e59c3a5176ccceb8f8c99ce14/src/python/espressomd/thermostat.pyx#L110-L240) where all thermostat internals are visibl

[2020-11-02 04:52] dpo854 opened #3981 "Constraint violation by particles"
Hi everyone,
I am trying to simulate mobile dissociable species confined to a surface, which is in contact with a salt solution maintained at a specific pH. The surface is represented in the simulation by a wall, which interacts with the solution species through a standard Lennard Jones potential. The dissociable species on the wall are constrained to move only on the surface through the fix optio

[2020-11-02 08:27] jonaslandsgesell commented on #3981
Hey,

did you constrain the volume in which MC moves happen? You need to do that because the MC moves do not know about constraints (and even if they knew, there are no guaranteed rules what should happen then).

The corresponding commands are:

RE.set_wall_constraints_in_z_direction(slab_start_z, slab_end_z)
And RE.set_volume(volume)
Be sure to set the correct available volume for the MC moves, i

[2020-11-02 10:31] jwakely commented on #3905
Sorry if it's no use now, but the issue with https://copr.fedorainfracloud.org/coprs/jwakely/gcc-latest/ is fixed and you can now get an up-to-date gcc-11 snapshot for Fedora rawhide (or F33) from there. It will install under `/opt/gcc-latest` rather than replace the system `gcc`, so run `/opt/gcc-latest/bin/g++` and use either `-Wl,-rpath,/opt/gcc-latest/lib64` or `LD_LIBRARY_PATH=/opt/gcc-latest

[2020-11-02 11:20] jngrad commented on #3864
Issue fixed in 4.2.0 and patched in the OpenSUSE package ([request 844905](https://build.opensuse.org/request/show/844905)). Closing.

[2020-11-02 11:20] #3864 closed, assigned to jngrad

[2020-11-02 13:38] #580 closed

[2020-11-02 13:39] #259 closed

[2020-11-02 13:45] KaiSzuttor commented on #3930
what's the conclusion here?

[2020-11-02 14:20] RudolfWeeber commented on #3093
Based on Ubuntu 20:
* Remove Cuda 9 asupport
* Cuda 11 with coverage in every build
* CMake 3.16
* Cython 0.29
* Python 3.6
* Boost 1.66

Drop Centos build. Clusters use custom compilers and libraries via modules anyway.

[2020-11-02 14:24] #3907 closed, assigned to nobody

[2020-11-02 14:26] jngrad commented on #3934
Also, the tutorial implements the cyclic autocorrelation function:
[code]

[2020-11-02 14:29] jngrad commented on #3853
Should be fixed by UCX 1.9.0: https://github.com/espressomd/espresso/issues/3905#issuecomment-709318156. Closing.

[2020-11-02 14:29] #3853 closed, assigned to nobody

[2020-11-02 16:44] jngrad commented on #3093
Boost 1.66 needs to be delayed, ICP machine won't be upgraded to boost 1.71 until another 2 weeks.

[2020-11-02 18:34] jngrad commented on #3807
Aforementioned bug and ASAN report are gone with Clang 9.0.1 and ASAN and Boost 1.71 on Ubuntu 20.04, which will be deployed on all ICP machines within 2 weeks. After that, the minimal boost version with be increased to 1.66 by https://github.com/espressomd/espresso/issues/3093#issuecomment-720500515.

[2020-11-02 20:11] dpo854 commented on #3981
Hi Jonas,
I did have the above lines in my program to enforce the volume constraint on MC moves. The error comes up before the reaction ensemble is invoked. I guess that might have something to do with the dissociable particles since they are placed on the wall.

[2020-11-02 20:42] ggjj11 commented on #3981
This is a good point. Did you try to place the particles +/-1e-6 [sigma] in front of the wall and not directly on the wall? I recall that there were numerical instabilities related to this.

Otherwise, could you share a minimal working example which provokes the failure?

[2020-11-02 20:45] jonaslandsgesell commented on #3981
This is a good point. Did you try to place the particles +/-1e-6 [sigma] in front of the wall and not directly on the wall? I recall that there were numerical instabilities related to this.

Otherwise, could you share a minimal working example which provokes the failure?

[2020-11-02 21:47] dpo854 commented on #3981
[Flat.zip](https://github.com/espressomd/espresso/files/5478239/Flat.zip)

[2020-11-02 21:50] dpo854 commented on #3981
The above zipped file has the code along with the shell script for job submission. Unfortunately, putting some distance between dissociable particles and the wall didn't do much to resolve the error.

[2020-11-02 22:18] jonaslandsgesell commented on #3981
If the integration fails before any mc moves, then I think the problem here is the placement of the  the walls? I suspect you want to place them at z=zwall and z=box_l_z, where zwall=0.3*box_l_z and then only place particles in between z=zwall+1 till z=box_l_z-1 (note the +/- 1 here is due to the diverging interaction energy of the WCA/LJ wall), MC moves will fail if you allow for placing particle

[2020-11-03 04:24] espresso-ci opened #3982 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13535

[2020-11-03 06:40] dpo854 commented on #3981
Bringing the wall on the edge of the box a little bit in did the trick. Thanks a lot.

[2020-11-03 17:20] #3942 closed, assigned to nobody

[2020-11-04 00:44] dpo854 commented on #3981
Sorry for restarting the issue. It turns out that it wasn't that simple. Even after I put the above-mentioned changes in place, the constraint violation error comes up at different points in the program. Anticipating that the proximity between newly introduced species in the system during the reaction moves and the already existing particles and the resulting kick experienced by a particle, which

[2020-11-04 02:45] opoplawski commented on #3853
I've built ucx 1.9.0 in Fedora rawhide now.

[2020-11-04 08:01] jonaslandsgesell commented on #3981
Hey no probelm! If your particles have all the same effective "size" I implemented the solution already (without expensive energy minimization which would also probably destroy thermalization), please make sure that:

0) make sure you don't setup unfixed particles next to the wall initially.
1) you do only insert particles up to a distsance shortly before the LJ interaction of the wall diverges (f

[2020-11-05 01:14] dpo854 commented on #3981
Unfortunately, the error remains even after I put sufficient space between the walls and the locations of reaction moves using RE.set_wall_constraints_in_z_direction(zwall+3.0, boxlz-3.0) with a sigma of 1.0. The exclusion radius is sigma. By the way, I had set the wall sigmas to zero just so the effective sigma between the walls and the particles is simply half the diameter of particles.
The erro

[2020-11-05 08:22] jonaslandsgesell commented on #3981
Could you place them at zwall and boxlz-0.000001?

From what you reported earlier you want the space between z=0 to z=zwall to be free of particles.

Another possibility could be that the interaction of the wall is too soft to contrain the particles. Try to use the standard LJ for both the particles and the wall to check if the error still occurs.

[2020-11-05 12:20] KaiSzuttor commented on #3981
this is probably a topic for the mailing list

[2020-11-06 15:27] NilsRethmeier commented on #3654
Anyone reading this may be interested in a simple version that worked:

0. install gcc-8
sudo apt -y install gcc-8
1. add gcc (version) alternatives
`sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-8 8`
2. (may be optional, only do if 3. complains) I had to create this for the next command to work (gcc-9 was installed by build-essentials on Ubuntu 20.04)
`sudo update-alternatives

[2020-11-07 21:04] dpo854 commented on #3981
I did that but it doesn't change anything. Now it throws the same error from a different location in the program.

    system.actors.add(p3m)
Traceback (most recent call last):
  File "MD-fiber-new.py", line 299, in <module>
    system.actors.add(p3m)
  File "espressomd/actors.pyx", line 215, in espressomd.actors.Actors.add (/home/dpo854/mycode/espresso/build/src/python/espressomd/actors.cpp:5586)

[2020-11-08 22:56] dpo854 commented on #3981
Finally some good news. The program runs smoothly now thanks to Jonas bringing to my notice another post with the same problem. The crux of the whole thing is while putting walls in the simulation box, one must set the directions properly, which should always point into the region of simulation. I was under the impression that as long as the product of the distance and the direction gives the prop

[2020-11-09 14:28] #3826 closed, assigned to nobody

[2020-11-09 14:28] #3972 closed, assigned to jngrad

[2020-11-09 17:42] KaiSzuttor opened #3989 "Combination of fixing rotation, dihedral and virtual sites broken with steepest descent algorithm"
The following script shows the bug:

[code]

[2020-11-09 17:43] KaiSzuttor commented on #3989
if the marked line is changed to ```system.part[1].rotation = [True] * 3```, the bond does not break.

[2020-11-09 18:50] RudolfWeeber commented on #3989
Please try the floolowing:

In rotation.hpp:local_rotate_particle or local_rotate_particle_body, the rotation axis in body fied frame needs to be masked by the rotation flags fo the particle.

Use mask(p.p.rotation,axis_in_body_frame)

[2020-11-09 19:05] KaiSzuttor commented on #3989
it's already masked in line 111 of rotation.hpp

[2020-11-10 19:44] fweik commented on #3989
In your example you have nothing keeping the particles of the dihedral together. Why shouldn't it break?

[2020-11-10 20:31] KaiSzuttor commented on #3989
virtual sites?

[2020-11-11 10:35] jonaslandsgesell commented on #3924
It depends on the system. The fundamental problem with it, is that the correlations are high, resulting in the need of having to perform many single steps in order to obtain reliable average values (see Markov Chain central limit theorem).

Additionally MC moves typically need to be taylored to the system which is investigated. Here hybrid MC/MD schemes help.

[2020-11-11 10:38] RudolfWeeber commented on #3924
The single energy calculation is also needed for efficient particle insertion/removal as in the Gibbs scheme.

[2020-11-11 10:59] jonaslandsgesell commented on #3924
Do we have runtime measurements for a charged system? I have the impression that in this case most time is spent in the coulomb energy computation. If this part is not optimized, optimized energy computation of other non-bonded interactions (mainly LJ) won't help too much, right?

[2020-11-11 11:42] schlaicha commented on #3924
You have to get started somewhere, the logical order is to first reproduce a simple system (i.e. a LJ liquid) before turning to more complicated stuff. And in a second (third, fourth, etc.) step you can then also optimize electrostatics. Here you would re-use the interpolation of all other charges etc. So plenty of room for improvement, but again, start simple first!

[2020-11-11 11:46] schlaicha commented on #3924
You can also have the exactly opposite where you make use of non-Markovian MC moves (Cluster algorithms etc) to overcome strongly correlated systems with large free energy barriers. Wang-Landau sampling is another alternative where often you don't want MD sampling. As said, it depends on the system. And the main advantage is that with efficient MC Espresso is able to perform Grand-Canonical simula

[2020-11-11 11:49] jonaslandsgesell commented on #3924
You can already do this now (It was excessively used by me and Peter ): https://github.com/espressomd/espresso/blob/python/samples/grand_canonical.py

It works and gives correct results.

[2020-11-13 01:35] #3905 closed, assigned to nobody

[2020-11-13 01:35] #3977 closed, assigned to jngrad

[2020-11-13 13:30] KaiSzuttor opened #3992 "discussion: remove id exposure from interface"

[2020-11-13 13:55] jngrad commented on #3934
Adding round brackets can lead to subtle bugs:

[code]

In python 3.6+ this construction prints `SyntaxWarning: assertion is always true, perhaps remove parentheses?` without halting the flow of the script. It also cannot be caught by a `try/except` without first importing module `warning` and writing some boilerplate code (see https://stackoverflow.com/a/15934081). In batch jobs submitted to a sc

[2020-11-13 15:43] KaiSzuttor commented on #3992
from the user perspective the system state should not change if two particles are exchanged. the particle id is an implementation detail. this would also remove the odd slice index to id coupling which does not make sense to me

[2020-11-13 22:57] jngrad commented on #3515
The test is non-deterministic and fails at random (e.g. for commit f2273d08):
[code]

[2020-11-14 21:00] #3855 closed, assigned to nobody

[2020-11-16 13:08] #3820 closed, assigned to nobody

[2020-11-16 13:08] #3930 closed, assigned to jngrad

[2020-11-16 13:08] #3934 closed, assigned to jngrad

[2020-11-16 13:08] #3959 closed, assigned to jngrad

[2020-11-16 13:59] jngrad commented on #3992
[code]

[2020-11-16 14:49] jngrad commented on #3719
offline discussion:
1. We could have immutable shapes. To alter a shape, create a new one. For technical reasons, if we move to a UUID framework with a pseudo-particle attached to shapes, we would need a way to store the new shape at the same UUID as the old one
2. We could make shape parameters immutable except for the scale (to be implemented), position and axis. The shape parameters cannot lead

[2020-11-16 16:21] jngrad commented on #3933
* [`uncertainties`](https://uncertainties-python-package.readthedocs.io/en/latest/index.html)
   * offers: automatic error propagation, pretty printing, integrates into `pint`
   * why: avoids mistakes in error analysis
   * where: only in the docker image for tutorials and samples
   * how: Ubuntu package `python3-uncertainties`
   * example:
[code]
[code]

[2020-11-16 17:21] #3093 closed, assigned to jngrad

[2020-11-16 17:21] #3807 closed, assigned to nobody

[2020-11-16 17:25] KaiSzuttor commented on #3992
if somebody knows python, this is a *very* surprising behavior since there is no slice with gaps in the python world. i'd really prefer not to hold onto this slicing syntax.

[2020-11-16 22:11] fweik commented on #3992
While I agree with you in principal, I think from a practical point of view I think this is unwise: It will break most user scripts, without there being an obvious reason for the break. What is your cost/benefit analysis for this? I also think that there are more
serious problems in the particle interface that should be addressed first, e.g. that the code is not reusable for particles that are not

[2020-11-17 05:29] KaiSzuttor commented on #3992
I obviouly did not do a complete analysis, that's why I wanted to have a lively discussion in this issue.

Generally I think that chamging this slicing interface could lead to more readable simulation scripts. I'm thinking of giving groups of filtered particles a name for further reuse, e.g..
But yes, breaking interface changes should not be done, if we do bot have a major benefit overall.

[2020-11-17 09:26] RudolfWeeber commented on #3992
First step is to change the text and examples in `doc/sphinx/part.rst` to make it clear that ids don’t hve to be specified and that the references returned by `system.part.add()` should be used

[2020-11-17 09:36] fweik commented on #3992
On a general note, I have come to think that the Potemkin Pattern is a much bigger design issue than we used to think. The problem with emulating a different API in the interface than in the core is that this always encodes semantic information into the python interface (as opposed to merely syntactic information), and as such is always problematic. If you think about this, the purpose of such a c

[2020-11-18 09:26] fweik opened #3998 "Beginners Tasks and Developement Transparency"
It maybe helpful to get new (potential) contributors started to mark some suitable issues as potential tasks for new developers. I think identifying such tasks and writing them down could also be beneficial for the project as a whole.

Also I think the development process would be easier to follow if for every project there would be an issue which says what is planned and who is working on it. Thi

[2020-11-18 10:07] #3982 closed, assigned to nobody

[2020-11-18 10:09] #3979 closed, assigned to nobody

[2020-11-18 10:11] RudolfWeeber commented on #3969
Caused by a (now resolved) issue in lbmpy. Closing

[2020-11-18 10:11] #3969 closed, assigned to nobody

[2020-11-18 10:17] RudolfWeeber commented on #3800
Can no longer reproduce. Tried 5 different processor counts

[2020-11-18 10:26] fweik commented on #3800
Did you check if the tests fails or if the result depends on the number of cores?

[2020-11-18 10:34] RudolfWeeber commented on #3513
@jngrad, can this be closed?

[2020-11-18 10:36] RudolfWeeber commented on #3311
@reinaual, what's the status, here?

[2020-11-18 11:22] reinaual commented on #3311
I guess based on this issue https://github.com/espressomd/espresso/pull/3331 was introduced which partly fixes this issue. AFAIK the constant potential feature is still untested because there is no analytical solution including the periodic images. For the non-neutral systems ELC is still disabled because it is broken. I assume this is a good topic to discuss in one of the meetings.

[2020-11-18 12:09] jngrad commented on #3513
Yes, checkpointing for LB is now working. EK checkpointing can be dealt with later when we write the new EK code for 4.3.

[2020-11-18 12:09] #3513 closed, assigned to nobody

[2020-11-19 14:24] #3975 closed, assigned to nobody

[2020-11-20 14:38] RudolfWeeber opened #4001 "Mayavi visualizer depends on python3-wxgtk4"
To get rid of
No pyface toolkit plugin for wx
upon
`import espressomd.visualization_mayavi`

[2020-11-20 22:12] jngrad commented on #3998
We've discussed a similar topic recently in the core team. We thought about using a Kanban-like solution or GitHub Projects.

I'm doing this for medium-sized projects that are self-contained, see e.g. #3977 #3883. Larger projects like kernel refactoring could benefit from that too.

[2020-11-22 20:32] dpo854 opened #4003 "Variance in chemical potential computation"
Dear All,
I noticed a peculiar behavior during Widom insertion for excess chemical potential (mu excess) computation of a salt pair. This peculiarity is in the variance in mu excess. Ideally as one adds more insertion cycles to the program (a cycle consists of a few reaction moves followed by a few MD runs. The latter is to rule out a correlation between the base configurations of successive inser

[2020-11-22 21:16] jonaslandsgesell commented on #4003
There are several thoughts I want to add:

1) Widom insertion how it is implemented, is only valid for the canonical ensemble (no particle fluctuations after the Widom insertion step is finished). Do not use the implemented Widom insertion method e.g. in the reaction ensemble/constant pH ensemble/ grand canonical ensemble (as it is also stated in the documentation) - one would need to use modifica

[2020-11-23 11:20] fweik commented on #3998
I've noticed that you are doing this, and I find this very positive.

I think for starters it's more important that stuff *is* written down, and not how. You first have to have the issues before they need
 to be organized. Then, I think GitHub Projects does the job: you can use that as Kanban board, the columns are customizable and it has integration with issues/PRs out of the box.

[2020-11-23 16:37] RudolfWeeber opened #4004 "Walberla: Move interface code to separate library"
The part of the Walberal interface that does not depend on Espresso schould be moved into a separate library `walberla_bridge` or similar located under /src.
The following files should go there:
LbWalberlaBase.hpp // astract base class defining the LB interface
LbWalberlaImpl.hpp // Default implementaiton tempalte
LbWalberlaD3Q19MRT.hpp // Unthermalized MRT specialization
LbWalberlaD3Q19Fluctuatin

[2020-11-23 17:01] KaiSzuttor opened #4005 "Check "boost geometry" for coordinate transformation code replacement candidate"

[2020-11-23 17:24] RudolfWeeber opened #4006 "Walberla: Move agrid and tau out of interface class"
LB grid constant (agrid) and and time step (tau) are currently part of LbWalberlaBase/LbWalberlaImpl.
They are however not part of the Walberla bridge. Rather, they are values used by Espresso core and interface to perform unit conversion between MD and LB units.

Hence, agrid and tau should be removed from the Walberla interface classes.
They should instead be stored at the same level at which Es

[2020-11-23 20:35] RudolfWeeber opened #4007 "Walberla: split of functions not specific to LB"
A number of functions and types currenlty in LbwalberlaImpl.hpp are applicable not only to LB but to other lattice based methods implemented with Walberla.
Examples are:
* BlockAndCell + position and node index to block and cell mapping functions
* to_vector3d
* Walberla-specific bspline short hand

These should be moved to a separate file 'walberla_utils.hpp' so they can be used for electrokineti

[2020-11-23 20:35] RudolfWeeber commented on #4007
I'm currently doing this.

[2020-11-24 08:21] jonaslandsgesell commented on #4003
PPS: Sampling states where the inserted particle is by chance close to an already existing one is rare, for the basic problem see also: https://www.ling.upenn.edu/courses/cogs502/LNRE.html
To overcome these problems you can maybe use/ develop an advanced free energy sampling method.

[2020-11-24 08:22] jonaslandsgesell commented on #4003
See also: https://www.sciencedirect.com/topics/engineering/rare-event-probability-estimation or https://www.researchgate.net/publication/291077975_Introduction_to_Rare-Event_Simulation

[2020-11-24 08:32] jonaslandsgesell commented on #4003
Actually you could maybe adapt the Wang-Landau reaction ensemble method (without educt types) to make grand-canocial moves and obtain excess free energy estimations for inserting 1,2,3,4,... Ion pairs (the number of inserted ion pairs M is the collective variable, as well as the potential energy as another collective variable) from which you can compute the excess chemical potential mu_excess = dF

[2020-11-24 15:51] RudolfWeeber opened #4008 "Can BROWNIAN_PER_PARTICLE and LANGEVIN_PER_PARTICLE be united?"
What we actually are switchting is, whether friction and temperature are particle specific. This should (and will) be also usable) with Walberla LB.

My suggestion would be
* use a common THERMOSTAT_PER_PARTICLE or THERMOSTAT_PARAMS_PER_PARTICLE which turns on the data members (and is therefore performance relevant)
* If it's on, thermostats should use it
* Maybe remove kT per particle (I'm not aw

[2020-11-24 15:52] RudolfWeeber commented on #4008
Came up during review of #3999.

[2020-11-24 16:19] jngrad commented on #4008
Related to #3734

[2020-11-24 17:23] RudolfWeeber opened #4009 "Throw if particles enter ELC gap region"
In case ELC does a pass over all particles, anyway, it could be checked that none is in the gap region. This is, if ELC can distinguish between normal particles and image charges

[2020-11-24 18:14] #3883 closed, assigned to jngrad

[2020-11-24 20:15] fweik commented on #4009
Image charges are not actually created as particles, this shouldn't be a problem.

[2020-11-24 21:54] #4006 closed, assigned to jngrad

[2020-11-25 10:53] RudolfWeeber commented on #4004
walberla_utils.hpp should also be part of the bridge library.
It contains code not specific to LB.

The bridge library depends on the Utils libray.

[2020-11-25 13:38] RudolfWeeber commented on #4004
Underscores from '..._LatticeModel.h/cpp' are gone to match Espresso's convention.

[2020-11-25 13:50] #4007 closed, assigned to nobody

[2020-11-25 14:05] RudolfWeeber opened #4012 "Walberla: Move agrid and tau out of interface class"
The parameters agrid and tau are currently data members of
LbwalberlaImpl
and there are corresponding setters and getters in LbWalberlaBase.

These parameters should be removed from LbWalberlaBase (and LbWalberlaImpl), as they are not used in that class.
(Walberla uses LB units with agrid=tau=1. Unit conversion is performed in Espresso)

Instead, in lb_walberla_instance.cpp, a wrapper class should

[2020-11-25 14:15] RudolfWeeber opened #4013 "Walberla: how much control should users have over relaxation times"
The kernels we use have four relxatation times for different LB modes:
shear, bulk, odd, even.

In practice, we use two relaxation times, where
* omega_1 is used for shear,bulk,even modes
* omega_2 is used for odd modes

there are different ways to arrive at them. What choice should we let users make?
1. shear viscosity, magic number fixed at 3/16 to calculate second relaxation time?
2. shear visc

[2020-11-25 15:05] RudolfWeeber commented on #4012
Aehm, duplicate. Don't know how that got opened again.

[2020-11-25 15:05] #4012 closed, assigned to nobody

[2020-11-25 19:43] jngrad commented on #4004
The files were moved to `src/walberla_bridge`. The espresso core no longer has access to the walberla header files.

The walberla unit test depends on both `EspressoCore` and `WalberlaBridge`, so it has to stay in the core unit test module. It also depends on the specializations of the `LbWalberla` class (FluctuatingMRT and friends), preventing me from implementing the pitchfork layout, in which I

[2020-11-25 19:43] #4004 closed, assigned to jngrad

[2020-11-25 19:45] #3981 closed, assigned to nobody

[2020-11-26 04:06] dpo854 commented on #4003
Unfortunately, the chemical potential computation is just a small part of
the problem I am trying to address. It is used as an input to another grand
canonical simulation. So, I am happy with the value the current Widom
insertion produces if the error is not high without these rare events.

On Tue, Nov 24, 2020 at 2:32 AM Jonas Landsgesell <notifications@github.com>
wrote:

[2020-11-26 04:09] dpo854 commented on #4003
Unfortunately, the chemical potential computation is just a small part of the problem I am trying to address. It is used as an input to another grand canonical simulation. So, I am happy with the value the current Widom insertion produces if the error is not high without these rare events.

By the way, the simulation is indeed in the canonical ensemble with 400 particles.

[2020-11-26 08:18] jonaslandsgesell commented on #4003
For sure the classical widom insertion method is accurate enough for what you want to do. In order to be on the safe side, just run a grand canonical simulation with the excess chemical potential for a given conce traction you determined as input and some random initial number of particles in the box. Then check whether the concentrations you want to achieve are actually achieved in the simulation

[2020-11-26 08:55] RudolfWeeber opened #4014 "Coordinate transformations"
In context with #3960, coordinate transforms are needed.
In the particular case, Cartesian -> cylindrical  with basis vectors and origin not identical.

To my understanding, the most general solution is to split this into
1. translation to align the origins
2. basis transform to align the basis vectors
3. convert Cartesian to cylindrical coordinates for matching basis vectors. I.e. theta=0 would r

[2020-11-26 10:01] fweik commented on #4013
At least for TRT there are different choices for the magic numbers with different properties. There is at least a trade-off between boundary slip and compressibility, there is some Ginzburg paper about the different sets of magic numbers. We have used this in
the past to reduce boundary slip. Is there some specific reason why you can't just expose the most general versions or provide multiple over

[2020-11-26 10:03] fweik commented on #4005
How does this relate to #4014  ?

[2020-11-26 10:17] KaiSzuttor commented on #4005
it turned out that the boost library does not contain the necessary code to replace our coordinate transformation. However, there is the boost qvm library that could at least be used for involved roational transformations.

[2020-11-26 10:21] RudolfWeeber opened #4015 "Investigate switching integrator per particle"
Right now, the integrator is chosen globally (via integ_switch).
Specific intregrators contain their own loop over all particles.

This has two weaknesses:
* some common functions like Verlet list updates have to copied into each integrator, or an extra iteration over all particles is incurred, if Verlet list management is to be separated
* Inertialess tracers are currently implemented as virtual

[2020-11-26 10:23] fweik commented on #4005
From a quick inspection I disagree, but if this is your conclusion you should close this ticket.

[2020-11-26 10:32] #4005 closed, assigned to nobody

[2020-11-26 10:42] fweik commented on #4015
Yes that sounds reasonable. If you want to coerce the virtual sites into that abstraction (they are really not per particle), than they will always need special treatment. Also it has to be considered if rattle can be integrated into this framework.

For the virtual sites I think abstractly what you want to do is in the first sweep defer some particles for later integration.
You could e.g. have in

[2020-11-26 13:57] RudolfWeeber opened #4016 "Split of forces/torques from the particles"
Right now, forces are stored on the particles. So, particles contain both, state information (position, velocity) and quantities that are calculated from the state.

That has unfortunate conseqeunces:
* particles cannot be passed const to force and energy kernels. Therefore, creative uses like storing temporary data for force calculation on particles cannot be prevented.
* stuff has access to full

[2020-11-26 14:29] jngrad commented on #3947
add boost 1.74 bug in espresso 4.1.4

[2020-11-26 15:01] jngrad commented on #3908
actually we don't need `runtimeErrorMsg()`, simply use `std::string` to concatenate strings to ints, and catch the error in cython, see example in 408ca69

[2020-11-26 21:29] RudolfWeeber opened #4017 "Walberla: Seed change has no effect"
Chaning the seed in
LBFluidWalberla(kt=0.1,...,seed=x) doesn't change the outcome for a single particle coupled to the lb when changing x.

[2020-11-26 21:34] RudolfWeeber commented on #4017
Changing the seed on the lb thermostat has an effect.

[2020-11-27 16:15] jngrad commented on #2290
Requires boost 1.70.

[2020-11-27 19:41] dpo854 commented on #4003
Thanks for the clarification. I have a question regarding the grand canonical simulation though. Is the chemical potential that we get from Widom's insertion functionality beta mu or just simply mu? This distinction is important for grand canonical simulations since the input to the reaction ensemble asks for the chemical potential normalized by the temperature. So, if the output from Widom is alr

[2020-11-27 20:50] jonaslandsgesell commented on #4003
Hi Debadutta,

Widom's insertion method is a method to compute the excess part of the chemical potential and therefore has dimensions of energy.

You can see here: https://github.com/espressomd/espresso/blob/ab38289d308df96c74383d5212b0a4e51b392477/src/core/reaction_ensemble.cpp#L1614 that the value of the excess chemical potential is returned including the temperature factor (k_BT) as it is docum

[2020-11-27 21:11] dpo854 commented on #4003
Thanks for the detailed explanation Jonas. I indeed have gamma in units of 1/sigma^3. And I have determined the chemical potential of both pairs at the desired salt concentration with H+ and OH- concentrations set by the pH of the solution. It looks like I need to do more equilibration runs probably just to reach an initial concentration of ions close to the final density profile.

[2020-11-27 21:23] jonaslandsgesell commented on #4003
your gamma has units (1/sigma^3)^nubar, with nubar>1 right? And you test with a system which is filled initally by ions which can all be exchanged with the reservoir (and does not contain particles which cannot be exchanged with the reservoir)? Otherwise you will have the Donnan-Effect and your bulk concentrations won't be reached in the system.

Could you post the values of the excess chemical po

[2020-11-27 21:28] jonaslandsgesell commented on #3283
https://github.com/espressomd/espresso/issues/4003

[2020-11-27 21:56] dpo854 commented on #4003
In some cases, nubar can be equal to 1. For the exchange of monovalent ions with the reservoir, the chemical potential is cplus * cminus * exp(excess_chemical_potential/temperature). The same goes for the H+ and OH- pair. Of course, the concentration units are 1/sigma^3. Now, for a salt concentration of 0.01 M and a pH of 4, the chemical potentials for the salt pair and the (H+-OH-) are -0.5484 an

[2020-11-27 22:12] jonaslandsgesell commented on #4003
Sure, the exchange 1 A2- <-> 2B- would have nubar=1, I intended to exlcude exchanges of single ions from our discussion ;)  Also a grand canonical move with only one ion would have nubar=1. However, in this case you deal with a system which is not electro-neutral anymore (because you added 1 ion). Simulations like these typically require quite some care in order not to produce unphysical results.

[2020-11-27 22:22] dpo854 commented on #4003
That's a good benchmarking suggestion. Will surely put my GC steps through this test.

[2020-11-28 21:28] kosovan commented on #4003
Regarding brute-force sampling a rare event, please note the following:
1. I agree with Jonas that rare insertions at very close distances spoil the averaging. If you look at the time series, you can notice spikes in it which correspond to these insertions.
1. The short-range potentials used in CG models do not provide realistic description at short distances r<<sigma, so you are probably not inte

[2020-11-28 22:20] jngrad opened #4020 "Remove strcat_alloc()"
`Utils::strcat_alloc()` appends a C-string to a char array with manual memory management. This utility function is one of the last consumers of the ESPResSo manual memory management toolset (#2900), the others being EK and LB that are currently being rewritten in the waLBerla branch.

Here is a typical use of `Utils::strcat_alloc()`:
[code]

The same can be achieved with a `std::string`:
[code]

A

[2020-11-28 22:30] jonaslandsgesell commented on #4003
I never observed arbitrary results in Espresso but the interaction energy was always reported correctly as diverging to plus infinity (within numerical precision). Do you have a minimal working example for this case? I would consider this a bug if it really happens and the r^-12 term was not dominating over the r^-1 coulomb term in taking the limit r to 0
https://www.wolframalpha.com/input/?i=Lim+

[2020-11-28 22:45] kosovan commented on #4003
I don't have a minimal working example. Probably you are right hat Espresso will always give you +infty. However, this does not change anything on the rest of my comment.

The term $r^12$ in LJ potential is not based on physical significance - it was introduced for mathematical convenience. Therefore, it makes no sense to use sophisticated methods and accurately sample its contribution. Any other

[2020-11-28 22:52] jonaslandsgesell commented on #4003
I completely agree! One can do the proposed exchange of the short ranged diverging potential with neglegible error in this case.

However, as far as I recall (from long time ago), the jumps in the chemical potential were because of insertions around 0.8 sigma <r < 4sigma (?) So it was not the short range diverging potential but the attractive part of the coulomb interaction which made the "jumps"

[2020-11-29 18:35] fweik commented on #4020
Shouldn't it first be discussed if a string log is really the best way to report back from the tuning?

[2020-11-30 11:38] jngrad commented on #4020
I would be fine with a logger or a printf. Also, there are 2 memory leaks with the tuning code, but that shouldn't surprise anyone...
[code]
[code]
Output:
[code]

[2020-11-30 16:10] #3947 closed, assigned to nobody

[2020-11-30 21:58] jonaslandsgesell commented on #4003
I made a quick run which supports my observation. In the log file, before each reported pair  (value of measured mu_ex, err_mu_ex) there is the closest distance to each inserted test particle reported (for each test particle separately).
In the log the first jump occurs after inserting an ion with distance 1.37116 and another ion with distance 5.31111 to an existing particle:
...
(-0.8346797576640

[2020-12-01 07:32] jonaslandsgesell commented on #4003
I think this issue can be closed. The vanilla Widom insertion estimate of the excess chemical potential is to my understanding inherently sucseptible to jumps due to "rare" events. Widom insertion needs to be run long enough for stable results.

[2020-12-01 10:10] jngrad commented on #4008
ESPResSo meeting discussion: the per-particle temperature was introduced for visualization purposes and isn't used in simulations, can be removed.

[2020-12-01 22:27] dpo854 commented on #4003
Unfortunately, the number of particles in the system comes out to be a bit greater than the number corresponding to the desired concentration. To be more specific, I did the simulation with a volume corresponding to 1000 particles for a given concentration and the average number of particles in the system is around 1175 with the imposed chemical potential. I believe a finite value of the exclusion

[2020-12-01 22:43] jonaslandsgesell commented on #4003
I think you refer to the "empty" box test? ("empty" here means that you setup the box with some number of exchangeable ions (and nothing else) for optimal tuning of P3M and then you see whether the average concentration you obtain in the end is the concentration you set in the grand canonical scheme)
The concentration you encounter is 17.5% increased compared to what you expect (1175/1000). What i

[2020-12-01 22:51] kosovan commented on #4003
This is the expected correct result because the excess chemical potential is negative,
[Fig. S3 of the supporting information for this paper](https://dx.doi.org/10.1021/acs.macromol.0c00260)

The full chemical potential is the sum of reference, ideal and excess terms,
mu = mu_ref + mu_ideal + mu_ex
If mu_ex < 0, then
mu_ideal = kT ln (c / c_ref) = mu - mu_ex -mu_ref > mu - mu_ref

Exclusion radius

[2020-12-01 23:14] kosovan commented on #4003
@dpo854
Perhaps the jump might be related to the fact that you happened to insert the ion close to a 3+ ion that you have in your system. This might be indeed a rare event if you have a low number of 3+ ions. Could you please post your simulation script, so that we could look at the parameters and the whole setup?

[2020-12-01 23:16] jonaslandsgesell commented on #4003
It depends on how the test is performed right? If you set certain bulk concentrations and the corresponding excess chemical potential for this bulk concentration in the grand canonical insertion method (i.e. you set a chemical potential), then the expected behavior is to obtain the bulk concentrations in the "empty box" test as average concentrations in the box.

[2020-12-01 23:31] dpo854 commented on #4003
Yes, this is what I am referring to. Let me put your suggestion to the test and see if it can improve the agreement.

[2020-12-02 16:55] dpo854 commented on #4003
I did a test with 100 particles in the box with 1 million MC moves before taking the data. The average number of particles and the standard deviation are 118.167 and 0.07167, respectively. The statistics were collected over 10000 cycles where each cycle consists of 20 reactions and 200 MD runs.

[2020-12-02 17:04] jonaslandsgesell commented on #4003
I think this deviation is too big.

Can you please post your simulation script (grand canonical and Widom insertion, both) and the parameters with which you called them?

In the mean time I suggest to run the same test with monovalent ions. There we proved that this test converges.

Thank you!

[2020-12-02 17:08] jngrad commented on #1470
One can probably re-use the code from the dipole setter.

[2020-12-02 17:18] dpo854 commented on #4003
This is Widom.
[code]

The salt concentration is 0.01 M and the pH, 4. The ions are monovalent. So, there is greater certainty about the chemical potential computation being correct since it's close to Debye-Huckel predictions, which works well for monovalent ions.

[2020-12-02 17:22] dpo854 commented on #4003
The lines are getting distorted for some reason. I am sending the codes over by email.

[2020-12-02 19:11] jngrad opened #4023 "Add orientation to cylindrical Observables"
Depends on #4019.

Observables based on cylindrical coordinates have a `center` and `axis` parameters, but no `orientation`, which is required to get a well-defined phi angle when the `axis` parameter is not aligned with the x, y, z axes.

For performance reasons, when looping over particles, pre-compute the `phi0` angle with the `orientation` vector once, and use the `phi0` variable instead of th

[2020-12-02 19:21] jngrad commented on #4023
Actually, this should be measured first. If there is no performance degradation when using `orientation` in the for loop, then there is no need to pre-calculate the `phi0` value.

[2020-12-02 22:56] jonaslandsgesell commented on #4003
I spotted a unit conversion problem in this line:
`cs_bulk=(args.cs_bulk)**0.6023*(sigma**3) # converting it into 1/sigma**3`
which should rather read:
`cs_bulk=(args.cs_bulk)*0.6023*(sigma**3) # converting it into 1/sigma**3`
This was the main problem.

Other hints from our private communication are:

- `RE.add_reaction(gamma=cHplus*cOHminus * np.exp(excess_chemical_potential_pair_HOH/temperature

[2020-12-03 03:53] espresso-ci opened #4024 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13796

[2020-12-03 14:02] jngrad commented on #3989
With rotation disabled, the real particles are collapsed onto the real particle.
[code]
output:
[code]

[2020-12-03 18:46] dpo854 commented on #4003
Thanks a lot Jonas. I could never imagine that a typo would be at the heart of all these problems.  I will try to be more careful not to make such errors in the future. And also a lot of thanks for the resources for going deep into the inticracies of pH-dependent simulations.

[2020-12-03 19:06] jonaslandsgesell commented on #4003
Hey Debadutta,

You are welcome! I am glad I could help you.
I am still graceful for how other people also helped me :)

[2020-12-05 18:35] dpo854 commented on #4003
Just an update on the GC simulation. Now, the average number of particles in the system comes out to be 99.276 with a standard deviation of 0.04. I guess that sorts out the problem.

[2020-12-06 03:40] espresso-ci opened #4027 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13814

[2020-12-07 11:33] jngrad commented on #1500
`AutoUpdateAccumulators` has a `clear()` method since 4.1.4.

[2020-12-07 11:33] #1500 closed, assigned to nobody

[2020-12-07 16:29] christophlohrmann commented on #4023
I could do this on the coding day

[2020-12-07 16:42] jngrad commented on #1569
Also the test (`dipolar_mdlc_p3m_scafacos_p2nfft.py`) could be modernized:

- remove print statements conveying the same information as one of the assertions
- use `float(np.genfromtxt())` instead of python2-style file open
- deduce `n_particle` from the size of the particle array loaded from file
- instantiate all particles at once with numpy slicing
- maybe replace the duplicated code logic for

[2020-12-07 17:38] RudolfWeeber opened #4028 "Walberla: Initialization with viscosities and relaxation rates"
Allow initialization of Walberla LB with:
* Viscosity and magic number (defaults to 3/16). For eqn see LB specializations
* Or with the full choice of four relaxation rates omega_shear, bulk, odd even. See code for setting this in Walberla in the LB specializations.

The code is in
src/walberla_bridge/LBWalberla(Fluctuating)MRT.hpp (actual LB specializations incl their constructors)
src/walberla_b

[2020-12-07 17:42] biermanncarl commented on #4009
I could try this on coding day

[2020-12-07 17:47] RudolfWeeber opened #4029 "Make particle id less prominent in system setup and particle doc"
In the system setup and particle related sections of the user's guide, a lot of emphasis is put on referring to particles by their numerical id.
This is not the preferred way to work with particles, since it results in error-prone scripts and id-based slicing behavior can be surprising.

The docs should be changed to emphasize, that
* specifiying the particle id is optional
* system.part.add() ret

[2020-12-07 18:04] RudolfWeeber commented on #3916
The necessary code actually exists in `ParticleHandle.__getstate__()` in `src/python/espressomd/particle_handle.pyx`.
To resolve this ticket:
* Rename the function to `to_dict()` or similar (adapt the docstring, mention in doc). Let the particle id appear in the dict.
* Write a new `__getstate__()` that returns the result of `to_dict()` with the `id` key removed.
* Write a test which checks that
[

[2020-12-08 15:23] jngrad commented on #4009
There needs to be a check in the python testsuite, for example something like the following:
[code]

The magnetostatics counterpart, DLC, has the same issue:
https://github.com/espressomd/espresso/blob/59d100cfe2606533cc1cc46c1364228589f6d607/src/core/electrostatics_magnetostatics/mdlc_correction.cpp#L493-L496
The check could be added in `get_DLC_energy_dipolar()` and `get_DLC_dipolar()` before th

[2020-12-08 18:04] jngrad opened #4033 "The list of actors cannot be cleared"
`system.actors.clear()` doesn't clear the list of actors if ELC or DLC is present.

MWE:

[code]
Output:
[code]

Calling `system.actors.clear()` a second time removes DLC. Here is the current `clear()` implementation:
https://github.com/espressomd/espresso/blob/59d100cfe2606533cc1cc46c1364228589f6d607/src/python/espressomd/actors.pyx#L232-L235

Not sure why the for loop exits early. Re-implementin

[2020-12-08 18:06] jngrad commented on #4009
Beware, `system.actors.clear()` *doesn't* clear the list of electrostatics/magnetostatics actors! This is important to remember when writing the python test outlined above for both ELC and DLC. More details in #4033.

[2020-12-10 06:32] RudolfWeeber opened #4034 "Matrix vector operations with Boost QVM"
[code]

Currently, #4031 adds qvm type traits for Espesso's vector class, so point 1 should be doeable straight away.
#4031 still derives the quaternion type from Espesso's vector type but uses QVM operators.

[2020-12-10 18:11] #2289 closed, assigned to KaiSzuttor

[2020-12-10 18:35] jngrad commented on #4033
This seems to also be an issue for `Scafacos` actors.

The `for` loop doesn't actually early exits, instead something in the callback prevents the `list.remove()` from removing the actor.

[2020-12-10 19:52] jngrad commented on #1569
The proposed improvements to `dipolar_mdlc_p3m_scafacos_p2nfft.py` have been applied in 5ddc3f0178878.

[2020-12-11 16:45] jngrad commented on #4033
Found it: the size of a python `list` is not allowed to change during its iteration, because the internal loop counter is incremented after each step and compared to the current `len(list)`. If the list size was originally 2 or 3, it will leave 1 out, if it was originally 4 or 5, it will leave 2, etc. This bug affects all actors, not just the electrostatic ones. And as expected, there is no python

[2020-12-13 18:23] reinaual opened #4038 "Visualizer: particle info on double click"
In the OpenGL-Visualizer one was able to double-click a particle to see the particle traits. Currently this action results in
`TypeError: _get_particle_info() takes 2 positional arguments but 3 were given`
which is because of a function-signature change introduced with f55cbeab49bc3bed8aebc0a92df17ff1277840da that is incompatible to the assumed callback signature.
Reverting the function signature

[2020-12-14 09:30] #4033 closed, assigned to jngrad

[2020-12-14 09:52] pkreissl commented on #4038
I have recently looked into the visualizer, currently preparing a PR. This issue will be fixed.

[2020-12-14 15:09] pkreissl commented on #1470
I could go for this one on the coding day.

[2020-12-14 15:41] itischler commented on #4028
I can have a look at this on coding day

[2020-12-14 20:00] jngrad opened #4041 "Cannot visualize lbboundaries"
Same backtrace for various recent merge commits since at least dc0dfa199e9b2d5, but could be due to the newer OpenMPI version.
[code]

[2020-12-14 20:10] #3764 closed, assigned to nobody

[2020-12-14 20:10] #4038 closed, assigned to nobody

[2020-12-15 03:50] espresso-ci opened #4043 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13881

[2020-12-15 15:34] jngrad commented on #4041
The backtrace above was on `lama`. For `seraue` via `ssh -X` I get:
[code]

[2020-12-15 15:52] jngrad commented on #4041
Actually, the error on `seraue` seems random, I could get the following 2 other backtraces:
[code]

[code]

[2020-12-15 16:05] #4003 closed, assigned to nobody

[2020-12-15 16:19] KaiSzuttor commented on #3283
@jonaslandsgesell any plans here?

[2020-12-16 12:03] #2636 closed, assigned to RudolfWeeber

[2020-12-16 15:19] jngrad commented on #4023
@christophlohrmann you can create a new PR starting from my branch in #4042, leaving 90d21a8551 out. The python tests fail because there is no `orientation` argument in the python interface yet. Also for backward compatibility, we could use a random orientation vector in the case where no `orientation` vector is provided and the longitudinal axis is collinear to the x-axis.

[2020-12-16 17:08] KaiSzuttor opened #4048 "Add doxygen documentation for Utils::Quaternion and Utils::Matrix"

[2020-12-16 17:50] RudolfWeeber commented on #4023
I’m against introducing random vectors for backward compatibility

The interface is allowed to break non-silently for 4.2 in important cases.

Users should be forced to specify the phi=0 direction for cylindrical historgrams. If they don’t care, they can easily pick one of the Cartesian axes.

Could you please also insert a check throwing a runtime error, if someone specifies a phi=0 direction whi

[2020-12-16 19:31] jngrad commented on #3875
The underlying issue is a regression introduced by be3e2f399c72c. Here is the fix:
[code]

[2020-12-17 08:56] pstaerk commented on #3908
I am working on this.

[2020-12-17 12:31] KaiSzuttor opened #4054 "Document the particle director"
it's not self-explanatory and not a standard term. Using a popular translator to german also gives results that do not help.
Maybe the naming is not optimal here.
<img width="238" alt="Screenshot 2020-12-17 at 13 30 52" src="https://user-images.githubusercontent.com/2150555/102488274-17826800-406c-11eb-98bc-ab9ea7321ae3.png">

[2020-12-17 12:33] KaiSzuttor commented on #4054
```direction``` for example would be a better fit, imo

[2020-12-17 12:51] #3908 closed, assigned to pstaerk

[2020-12-17 12:52] RudolfWeeber commented on #4054
Z_direction, body_z_direction, z_axis?

[2020-12-17 12:52] schlaicha commented on #3939
I've split the tutorial in #4052 and will briefly check the physics with Christian later.
For the suggested LB tutorial is the script somewhere around? Is this at all realistic to have it interactively in a notebook?

[2020-12-17 12:59] KaiSzuttor commented on #4054
still prefer ```direction``` or ```orientation```

[2020-12-17 12:59] KaiSzuttor commented on #4054
but at least it should be documented

[2020-12-17 15:24] jngrad commented on #4008
@KonradBreitsprecher do you remember by any chance why Drude particles are set with a per-particle temperature of 0? The documentation doesn't explain why it is necessary, and we would like to remove the per-particle temperature feature. From what I understand, the per-particle temperature of 0 is not necessary since the per-particle gamma is already zero for Drude, in which case the Langevin ther

[2020-12-17 15:28] KaiSzuttor commented on #4008
in the best of all worlds you can just remove it and see if the drude tests still pass.

[2020-12-17 16:47] reinaual opened #4056 "MMM1DGPU: Segmentation fault without correct periodicity"
adding `MMM1DGPU` to the system without providing the correct periodicity results in a segfault.

[code]

[2020-12-17 17:09] jngrad commented on #4056
It's just a missing `except+`, although looking at the cuda code, we could probably replace a lot of `std::cerr` by `throw`, and more importantly, add python tests to check for these exceptions.

[2020-12-17 17:35] jngrad commented on #4056
As it turns out, MMM1D on GPU was never tested in CI, because the GPU class is a verbatim copy of the CPU class: they both import the CPU actor.

[2020-12-17 17:36] KonradBreitsprecher commented on #4008
The core+drude particles are thermalized by the special bonds, so you can't use them with a global langevin thermostat. If you now want to simulate a Drude complex (like the IL from the drude_bmimpf6.py) PLUS some water, you need a way to thermalize the water as well. Therefore, you do the per particle thermalization to 'exclude' the Drude complex.

[2020-12-17 17:36] pkreissl commented on #3992
As already mentioned in PR #4058, there are for now still some places, especially in the `espressomd.observables`, where  cannot be omitted, such as `ParticlePositions`.

[2020-12-17 17:40] jngrad commented on #4008
Isn't it sufficient to simply set the Drude per-particle `gamma` to zero? Then the friction coefficient of Langevin is zero for Drude particles and non-zero for water molecules.

[2020-12-17 18:11] jngrad commented on #4056
offline discussion: the exception mechanism for MMM1D CPU and GPU is quite tangled in the core. Also, it depends on #4020. The test doesn't pass for MMM1D GPU due to large deviations from the analytical solution. We should benchmark MMM1D on GPU to see if it's worth investing more time into fixing it, otherwise we'll remove it in 4.2.

[2020-12-17 18:13] KaiSzuttor commented on #4008
then dissipation is zero but not fluctuation, right?

[2020-12-17 18:22] KonradBreitsprecher commented on #4008
Doesn't the gamma also appear in the variance of the random force?

[2020-12-17 18:27] KaiSzuttor commented on #4008
correct, @jngrad did you vheck if it works?

[2020-12-17 18:27] jngrad commented on #4008
Yes, sigma also appears as a prefactor of the random noise for Langevin. That's why the Langevin trajectories of Drude particles don't change regardless of the value of the per-particle temperature.

[2020-12-17 18:28] KaiSzuttor commented on #3992
of course we would need to have typebased observables instead of id based

[2020-12-17 21:15] jonaslandsgesell commented on #3283
No plans from my side. Returning the bare values from the accumulator to python could be an option - but I doubt that autocorrelations do pose a big problem here. We saw in the other issue that rater the brute force sampling in widoms method is a problem (in dilute systems it s a rather rare event to obtain a sample which significantly contributes to the estimates). I would close this issue and re

[2020-12-17 21:15] #3283 closed, assigned to nobody

[2020-12-18 08:13] #3875 closed, assigned to KaiSzuttor, jngrad

[2020-12-18 08:13] #4034 closed, assigned to KaiSzuttor

[2020-12-18 14:03] schlaicha commented on #3939
Offline discussion with Christian:
- Further split into a Langevin dynamics tutorial (now polymer part 1)
- add density-dependent diffusion ($\sim N^3/2$?)
- use more appropriate names for LB tutorial (theory and Poiseuille flow instead of part 1 and part 2)
- Check is visualization of the sedimentation can be done (see my note above). @jngrad can you comment on this?
Updating issue title and clos

[2020-12-18 14:07] schlaicha commented on #3939
I cannot change the issue title, can somebody either give me the rights (assign?) or change it correspondingly?

[2020-12-18 14:12] jngrad commented on #3939
@schlaicha You should now be able to change the title.

I don't know if there is a script for the sedimentation visualization (the video was probably made in the Tcl days).

[2020-12-18 14:18] schlaicha commented on #3939
No, also I cannot add myself as assignee.

[2020-12-18 14:22] jngrad commented on #3939
ok, maybe GitHub prevents users from changing other people's ticket titles... I can take care of that, what title do you propose?

Unfortunately, we cannot give you more rights, because the [next permission level is Triage](https://docs.github.com/en/free-pro-team@latest/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization#repository-access-for-ea

[2020-12-18 14:26] schlaicha commented on #3939
I would just change according to the PR: "Split LB tutorial into LB, polymer and Langevin simulation tutorial"

[2020-12-19 16:07] #1569 closed, assigned to RudolfWeeber

[2020-12-20 08:24] KaiSzuttor opened #4062 "Look into design by contract modules for python interface"
*e.g.* https://github.com/Parquery/icontract

[2020-12-20 13:04] #1470 closed, assigned to pkreissl

[2020-12-20 15:03] #4009 closed, assigned to biermanncarl

[2020-12-21 12:47] jngrad commented on #4056
MMM1D with 1000 particles and 500 time steps: 60s on CPU with 4 cores, 1s on GPU. ScaFaCoS, CPU and GPU implementations agree on forces up to 1e-6. ScaFaCoS and CPU agree on energy up to 1e-6, while GPU energies are way off.

[2020-12-21 13:13] KaiSzuttor opened #4063 "Look into pydantic for runtime type checking"
Instead of writing assertions in function bodies, we should maybe use python's native type annotations and use tooling such as [pydantic](https://pydantic-docs.helpmanual.io) to use these annotations to perform type checking. This is more pythonic and adds type information for the user at the right place (function signature instead of function body or docstring). The tool that we currently use to

[2020-12-21 14:58] #3916 closed, assigned to nobody

[2020-12-21 18:08] jngrad opened #4065 "Add ELC test without constant potential"
The `elc_vs_analytic` test takes 1min 20s to run in coverage builds, which represents 6% of the job runtime. It needs to be moved to the statistical tests framework. This will create a drop in coverage for ELC, because there is no other test with `const_pot=False`. Such a test needs to be written. It can be very simple, with only 2 particles (see `elc` test).

[2020-12-21 18:35] reinaual commented on #4065
For the `elc_vs_analytic` testcase it might be enough to just reduce the amount of positions tested with `number_samples = 25` because the testcase is the most simple possible setup which is just involving two particles. Otherwise using different P3M settings also can speed up the test i guess.

[2020-12-21 18:37] reinaual commented on #4065
Also one point on my todo-list is to modify the test for the flipped setup where the dielectric contrast is at the upper boundary. In the implementation these two setups are calculated using different paths, which i didn't capture with the original test.

[2020-12-22 14:15] christophlohrmann opened #4067 "CylindricalLBFluxDensityProfileAtParticlePositions not clear or wrong"
My intuition (which is the best I have with no available documentation) would tell me that ``CylindricalLBFluxDensityProfileAtParticlePositions`` would calculate, per bin, the average of [lb fluid velocity * lb density], where the probe positions come from the particle positions.
In the code, we calculate the sum of lb velocities in the bin, normalized by the volume of the bin.
Am I wrong and the

[2020-12-22 14:47] jngrad commented on #4067
I could be wrong, but `DensityProfile` in the context of ESPResSo should mean a histogram that is normalized by the total number of particles, while a `Profile` is normalized by the number of particles bin-wise. See for example the output of command

[code]

[2020-12-22 15:26] christophlohrmann commented on #4067
For a LB observable that uses the LB velocity I do not see why we should normalize with particles.
In general it seems I have no idea what that observable should do.
In the context of #4023 I could write a test that does not fail but I do not know what the expected behaviour of the observable is, so I guess the test would be meaningless.

[2020-12-22 15:29] KaiSzuttor commented on #4067
on a side note: all / most of the LB observables are too slow to be of any use in practice

[2020-12-22 15:32] KaiSzuttor commented on #4067
flux density is density times velocity

[2020-12-22 15:33] christophlohrmann commented on #4067
Then the observable does not deliver what was promised. Unless what you want is LB velocity * particle density

[2020-12-22 15:42] KaiSzuttor commented on #4067
please check the testcases and if they are wrong we should remove them

[2020-12-22 16:09] #4001 closed, assigned to nobody

[2020-12-22 17:03] #4056 closed, assigned to jngrad

[2020-12-22 22:43] RudolfWeeber commented on #4067
I’m using them. But yes, they are slow.

Unless someone needs them faster urgently for a current research project, let’s deal with it on the Walberla branch.

[2020-12-23 12:02] #4020 closed, assigned to reinaual

[2020-12-25 06:17] joeloliver commented on #3654
Thanks @NilsRethmeier, worked just perfect

[2020-12-25 16:32] jngrad commented on #1146
The `UMBRELLA` macro was removed in #4032, yet the umbrella force/energy kernels remain, with no python interface to use them.

[2020-12-26 16:56] jngrad opened #4074 "gather_buffer() functions are broken"
The two `Utils::Mpi::gather_buffer()` functions give random results when parameter `root` is not 0:
* the first `n_elem` of the buffer on rank `root` are overwritten by the first `n_elem` of the buffer on rank 0
* there is a hole of size `n_elem` somewhere in the buffer on rank `root`, which contains either random data (in the pointer overload) or values generated by `class Allocator` (in the cont

[2020-12-29 11:39] jngrad opened #4077 "Undefined behavior in LB halo communication"
The LB halo communication framework relies on undefined behavior to calculate the length of strides. The use of `int` to calculate a pointer offset leads to an integer overflow for LB grids of size 9x9x9 or larger. UBSAN report:

[code]

MWE: compile ESPResSo with UBSAN and run the integration test `lb_poiseuille_cylinder.py` with the following change:

[code]

This was never caught in CI because

[2020-12-29 15:36] jngrad commented on #3923
How much of a performance drop did you measure? Looking at the code, it should only be the overhead of a function call + traversal of a switch statement. We could add an `if(coulomb.method)` guard in `energy.cpp` to skip that overhead, although it would further increase coupling between the core and the `electrostatics_magnetostatics` module.

[2020-12-30 09:35] jngrad commented on #1146
This ticket has been open for more than 3 years, yet no one volunteered to contribute a python interface for the umbrella kernels. It is safe to assume there is no interest for it in the community. Furthermore, these kernels need to be touched every time we refactor the bonded interactions, but there are no tests to help us detect regressions. Let's remove it.

[2020-12-30 16:20] jngrad commented on #3019
I gave it a try yesterday, but the refactoring effort is quite significant because the kernels are written as free functions. Today I tried to break it down into smaller tasks, and came up with the following plan:

* make bond parameter structs serializable (easy)
    * bond communication can then be simplified substantially
* move the force/energy kernels into the corresponding structs (difficult

[2020-12-30 16:31] #4065 closed, assigned to nobody

[2021-01-04 15:31] #3913 closed, assigned to jngrad

[2021-01-05 14:11] jngrad opened #4081 "CUDA 11 incompatible with GCC 10.2 and Clang 10.0"
[code]

GCC 10.2 header files are incompatible with NVCC 11: adding `-allow-unsupported-compiler` to the NVCC compiler flags leads to the following error:
[code]

Clang 10.0 incorrectly detects CUDA 11 as CUDA 7.0. Creating a new file `/usr/local/cuda/version.txt` containing the string `CUDA Version 11.0.221` (obtained from `nvcc --version`) doesn't help: `clang++-10 --verbose` prints CUDA 10.1. C

[2021-01-05 14:20] jngrad commented on #3918
Support for CUDA 8 and 9 has been dropped in 4.2.

Regarding C++17 and our build system:
- function `Utils::apply()` needs to be removed (superseded by `std::apply()` introduced in C++17, causes a compiler warning due to the ambiguous call)
- GPU support leaves us with two options to compile in C++17 mode:
   - compile with CUDA 10 and Clang 10, by adding `-fsized-deallocation` and `-UNDEBUG`, see

[2021-01-06 13:13] jngrad opened #4082 "Implicit float conversions raise warnings in Clang 10"
Clang 10 enabled the constant-checked version of `-Wimplicit-float-conversion` by default (see [D64666](https://reviews.llvm.org/D64666#1596634)). It checks that integers can be represented exactly as a float during an implicit conversion. If you pass it to the compiler, it will flag all cases where an integer is implicitely converted to a float. If you don't pass it, Clang will still flag implici

[2021-01-06 15:29] RudolfWeeber commented on #4082
How many cases are we talking about, here, roughly?
I assume the time to fix the warning is <1min per occurance?

[2021-01-06 15:37] RudolfWeeber commented on #4081
Are you sure about clang-11 not being available on 20.04. I could `apt install` it on my ICP machine.

[2021-01-06 15:47] RudolfWeeber commented on #3918
We should probably direct users to compile with gcc + nvcc.

Having one clang-base version would be good for devs, due to better error diagnostics and due to static analysis and sanitizers.

I think we should look into clang-11, directly, considering that 4.3 will be released late this year or after.

[2021-01-06 16:14] RudolfWeeber commented on #3019
I think the plan makes sense.
I'd say we go ahead with the pair bonds and the visitor pattern.

The handful of exceptions we can handle in a switch statement as in your 2nd example, initially.

Once the bonds are changed in the core, we should also replace the interface to use ScriptInterface.

There may be more reasons, to split pair bonds from the rest. They can, e.g., be stored symetrically on

[2021-01-06 17:44] RudolfWeeber opened #4083 "VS+too short min_global_cut not caught on one mpi core"
Using VIRTUAL_SITES_RELATIVE together with npt on a single mpi rank causes a segfault if
* min_global_cut is smaller than the distance between virtual site and main particle is larger than min_global_cut
* and the virtual site is in a region affected by ghost communication (outermost cell layer in the ssytem).
The segfault is in cell_cell_transfer() which is called through virtual_sites->update()

[2021-01-07 09:17] jngrad commented on #4082
We're talking around 300 spots in the code, although the majority can be fixed with a simple string-based search/replace. What's surprising to me is that we already have GCC's flag `-Wfloat-conversion`, which is supposed to detect the same errors.

[2021-01-07 14:54] jngrad commented on #3019
offline discussion:
* implementing a visitor pattern for the subset of pair interactions that only take the positions as arguments isn't worth it
* using an `if ... else if` chain to replace the current `switch` statement should be sufficient for our needs, although it's important to remember to add a new `else if` for every new bonded interaction (`src/core/bonded_interactions/bonded_interactions

[2021-01-07 18:46] RudolfWeeber opened #4085 "-lcuda needs to be removed for cuda-11.2"
At least in the installation done by spack, libcuda is not present, there is just libcudart.
This needs to be changed in cmake/FindCUDACompilerNVCC.cmake.
Don't know if -lcuda is needed for older cuda versions.

[2021-01-07 18:47] RudolfWeeber commented on #4081
Cuda 11.2 and gcc-10.2 (as provided by spack) play nice.

[2021-01-08 18:08] #4077 closed, assigned to jngrad

[2021-01-11 03:56] espresso-ci opened #4087 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/14062

[2021-01-11 07:07] Vladimir-Z opened #4088 "Pickle checkpoints fail to restore a state of the DipolarP3M"
When we trying to save and load object of magnetostatics.DipolarP3M  we got the following error
[code]
Code to reproduce the issue is enclosed to the zip file. Link to the zip file is https://1drv.ms/u/s!ApqC1jKqCWuWhLwsSI4D9Ka16Le7vQ?e=saFnPy
It contains files for saving and loading checkpoint.

My suggestion that the reason for the issue is indeed in line 243 from magnetostatics.pyx. It should b

[2021-01-11 09:06] mkuron commented on #4081
Officially, GCC 10 is not supported even by the latest CUDA (https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html), though according to https://gist.github.com/ax3l/9489132#nvcc, CUDA 11.1 supports it.
Clang 11 (when used in place of nvcc) supports CUDA 11 according to https://gist.github.com/ax3l/9489132#clang--x-cuda.

[2021-01-11 09:13] mkuron commented on #3918
In Walberla, we were recently [faced with the same problem](https://i10git.cs.fau.de/walberla/walberla/-/merge_requests/373). As long as you keep C++17 language features out of the header files included by .cu files, it's not difficult though. You can even use C++17 library features like `std::optional`, `std::any` and `std::filesystem` because stdlibc++ provides C++14-compatible versions in `std:

[2021-01-11 11:40] jngrad commented on #4081
* Clang 11 is available in `focal-updates`, but it doesn't correctly detect CUDA 11.0 and 11.1 (e.g. cannot find `CUDA_LIBRARY`)
* CUDA 11.2 doesn't have a docker image yet
* CUDA 11.1 compiles GCC 10.2 (couldn't run the binaries, the nvidia driver on icp machines is for CUDA 11.0)
* CUDA 11.0 doesn't support GCC 10.2

[2021-01-11 12:48] jngrad commented on #4088
Thanks for reporting the issue. The bug is present in both the 4.0 and 4.1 lines of ESPResSo.  I can confirm the suggested change fixes the magnetostatics checkpointing mechanism. Unfortunately, there is no planned 4.1.5 release.

It has already been fixed in the upcoming 4.2 release by #3879 (commit 45e38f4bc6910cd7). I've updated the 4.2 release notes accordingly.

[2021-01-11 13:33] Vladimir-Z commented on #4088
Thank you for answer. We will wait upcoming 4.2 release.

[2021-01-11 13:33] #4088 closed, assigned to nobody

[2021-01-12 03:37] espresso-ci opened #4089 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/14063

[2021-01-12 12:38] #4087 closed, assigned to nobody

[2021-01-12 12:38] #4089 closed, assigned to nobody

[2021-01-12 12:44] jngrad commented on #3019
Depends on #4079.

[2021-01-12 14:42] jngrad commented on #3646
offline discussion:

Exception mechanism in the core: functions called from Cython should `throw std::runtime_error("message");` or similar. The function must be marked as `except +` in the corresponding .pxd file, so that Cython can catch the exception and raise a Python exception. This is not possible in the following cases:
* the function is a MPI function, in which case `runtimeErrorMsg() << "

[2021-01-13 02:39] espresso-ci opened #4091 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/14070

[2021-01-13 08:01] KaiSzuttor commented on #3646
We should include this in the dev guide and close this issue afterwards.

[2021-01-13 10:40] #1146 closed, assigned to jngrad

[2021-01-13 10:42] espresso-ci opened #4092 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/14073

[2021-01-13 11:59] #4092 closed, assigned to nobody

[2021-01-13 15:46] RudolfWeeber opened #4093 "Walberla: Implement support for moving boundaries"
This describes roughly the planned implementation.

* Moving boundaries will be handled by Walberla's so-called physics engine (PE).
* The PE will integrate the equations of motion for the moving boundaries
* Virtual sites in Espresso will ct as "shadows" for the particles in the PE. This will be done via a new virtual sites implementation (VirtualSitesWalberlaMovingBoundary)
* The mapping between

[2021-01-13 16:10] #4082 closed, assigned to jngrad

[2021-01-14 08:38] #4074 closed, assigned to jngrad

[2021-01-14 10:18] #4008 closed, assigned to jngrad

[2021-01-17 03:33] espresso-ci opened #4097 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/14113

[2021-01-19 12:50] jngrad commented on #3019
Prototype: [jngrad/espresso@`fix-3019-prototype`](https://github.com/jngrad/espresso/compare/4d8f8ffc9884c48caa76dba248b9ff11fa63b47e...fix-3019-prototype). The last commit can be removed, i.e. start from jngrad/espresso@7e7b0ea4e898.

[2021-01-20 03:51] espresso-ci opened #4100 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/14123

[2021-01-20 09:44] KaiSzuttor opened #4101 "LB boundaries constructed from Union shape are not checkpointed"
[code]

[2021-01-20 17:06] jngrad opened #4103 "Dipolar P3M fails when a particle is at the box origin"
Reproducible when compiling ESPResSo with GCC 10.2.

MWE:
[code]
Backtrace:
[code]
The `x` value that triggers the assertion is `-0.50000000000000044409` on GCC 10.2. With GCC 9, the lowest value is `-0.50000000000000000000`. A quick look at the [GCC 10 release notes](https://gcc.gnu.org/gcc-10/changes.html) doesn't reveal changes to optimizations like `-ffast-math`.

Below is the relevant code th

[2021-01-20 17:33] jngrad commented on #4081
* CUDA 11.2 now has a docker image
* CUDA 11.2 supports GCC 10.2
* Clang 11 doesn't correctly detect CUDA 11.2

[2021-01-21 14:15] mkuron commented on #4085
libcuda.so is part of the driver, not part of the CUDA SDK. The driver is not installed on the headnode of our cluster because it does not have a GPU, so there is no libcuda.so. There is .../lib64/stubs/libcuda.so, which might be sufficient to link to. Generally, libcudart provides all the `cuda[A-Z][A-Za-z]+` functions and libcuda provices all the `cu[A-Z][A-Za-z]+` functions, so software like Es

[2021-01-21 14:55] jngrad commented on #4081
ESPResSo 4.2-dev compiled with GCC 10.2 in the CUDA 11.2.0 docker image fails during the call to `exit()`. GDB backtrace:
[code]
This is caused by the following 3 global variables (re-order them to get a different type `T` in the backtrace):
https://github.com/espressomd/espresso/blob/6880e6c3c3cb16cf0800cfb8c347a4079abcdc02/src/core/cuda_common_cuda.cu#L54-L59

Removing the `static` keyword didn'

[2021-01-25 10:30] jngrad commented on #2900
The LB GPU mallocs leak memory, the `EK_DEBUG` feature doesn't compile and the EK VTK files are broken.

[2021-01-25 12:06] KaiSzuttor commented on #2900
i think we can live with the leak for now, given that this part of the code will get replaced soon

[2021-01-25 13:35] #4091 closed, assigned to nobody

[2021-01-25 17:18] jngrad commented on #4101
In addition, `system.ekboundaries` is not part of the checkpointing, so after a reload it is `None`. If you add it to the checkpoint dictionary, the `EKBoundaries` object is restored but it's empty: the `EKBoundary` objects are not loaded from the checkpoint.

[2021-01-27 13:35] kosovan opened #4107 "Reduced units: Add link to user guide section in LJ tutorial"
Reduced units are not explained in the tutorials. The statement in Tutorial 1:  _Conventionally, reduced units are employed, in other words LJ units._ is not informative for a new user.

Proposed solution: explain the reduced units in Tutorial 1 or make a separate tutorial on units.

[2021-01-27 13:35] kosovan commented on #4107
I plan to work on this in the near future.

[2021-01-27 18:50] jngrad commented on #2601
done in [wiki/Code review#Style guide](https://github.com/espressomd/espresso/wiki/Code-review#Style_guide)

done in [wiki/Software design#Internal libraries](https://github.com/espressomd/espresso/wiki/Software-design#Internal_libraries)

done in [wiki/Documentation#sphinx](https://github.com/espressomd/espresso/wiki/Documentation#sphinx)

[2021-01-27 23:14] jonaslandsgesell commented on #4107
Good idea: Please introduce the concept of unit conversion by inroducing the multiplication with 1.

Example:

1km= 1km * 1 = 1km * 1000m/km = 1000 m

There is also the possibility to link to https://en.wikipedia.org/wiki/Conversion_of_units#Conversion_factors in jupyter notebooks https://stackoverflow.com/questions/25692293/inserting-a-link-to-a-webpage-in-an-ipython-notebook

[2021-01-28 08:00] kosovan commented on #4107
@jonaslandsgesell I was not suggesting that we should teach simple unit conversion. You would normally learn this at the primary school, not from the Espresso tutorial.

Nevertheless, many users have problems with *reduced units*. What we need to explain is
1. How to choose a suitable system of reduced units that is uniquely defined and internally consistent;
2. How to choose it so that it reflect

[2021-01-28 08:07] jonaslandsgesell commented on #4107
@kosovan The problem of converting to LJ units is of the same kind: 0.355 Angstrom = 0.355 Angstrom *1 = 0.355 Angstrom *(1sigma /0.355 Angstrom) = 1 sigma  (given then choice 1sigma = 0.355 Angstrom). One can do any conversion with this scheme and it is straight forward to introduce LJ units like this. The same works with energies and masses... Consistency will drop out automatically in this case

[2021-01-28 08:22] KaiSzuttor commented on #4107
i agree with @jonaslandsgesell. We have seen a lot of students struggling with this and the proposed scheme is easy to remember and helps in more complex conversions.

However, I think best practice would be to use a dedicated python package like ```pint``` (we should use the advantages of the python ecosystem after we have paid a lot for it).

I use ```pint``` myself, *.e.g.* by putting the follo

[2021-01-28 08:25] KaiSzuttor commented on #4107
i think that we do not want to teach people theoretical physics or concepts but rather how espresso relates to knowledge from physics lectures and known algorithms.

[2021-01-28 08:35] KaiSzuttor commented on #2601
IIRC, @RudolfWeeber did not agree to use this structure (although it is used already)

[2021-01-28 08:52] kosovan commented on #4107
@KaiSzuttor  I disagree. If you teach only the tools without explaining the concepts, this is wrong. It is not a problem to refer to other sources for more detailed explanation of advanced concepts, if such links are readily available. However, I think it is pointless to refer to an article which explains how to convert cm to km.

If the example is shown after explanation of the general concepts,

[2021-01-28 09:06] kosovan commented on #4107
@KaiSzuttor Nevertheless, I agree with this one:

I think that we should show an example of how to use `pint` for setting up the unit system, after explaining the concept of reduced units, or providing a link to such an explanation. I plan to work on that in the coming weeks.

I am not sure if the following is a good idea because there are many good reasons to work with a system of reduced units.

[2021-01-28 09:07] KaiSzuttor commented on #4107
Okay,  think we should have a general discussion about what we want to cover in tutorials and what we expect as textbook knowledge or knowledge that should be covered by lectures. In general I see your point that it is handy to have the minimal knowledge that is needed to understand the tutorial packaged with the tutorial. However, that might also lead to bloated tutorials and the false impression

[2021-01-28 09:29] kosovan commented on #4107
I agree that the tutorial should not become a substitute for a course in computer simulations or statistical mechanics. Defining what is the expected prior knowledge might help making the tutorials internally consistent. I mean, if we expect that the reader does not know topic A, then we should not expected him to know A' and A''.

I am now working with my new students to teach them Espresso and a

[2021-01-28 09:37] KaiSzuttor commented on #4107
sounds like a plan 👍  i'm in favour of keeping the tutorials short and stick to 'how can you do what you have learned in your simulation course with espresso'. That way people are not overwhelmed by too much information and can concentrate on the technicalities. But of course we should include the respective context, maybe as a short abstract-like introduction to each tutorial with relevant textbo

[2021-01-28 09:47] KaiSzuttor commented on #4107
Concerning the reduced unit system: i expect users of software that is designed to be used for coarse-grained simulations to know what coarse-graining is and therefore how length and time scales are mapped from all-atom  (SI units) to coarse-grained (reduced units). A little exaggerated: would you teach users of COMSOL concepts of FEM?

[2021-01-28 09:58] RudolfWeeber commented on #4107
IIRC, there is an extensive section on reduced units in the user's guide.
So, we could write in tutorial one that
* there are many choices for units
* a common choice in soft matter simulations is to use the thermal energy, the particle diameter and the particle mass as units.
* Refer to the section in the UG for more.

[2021-01-28 10:26] kosovan commented on #4107
I would definitely consider a detailed explanation of those concepts that are known to be problematic for users.

I was not aware that the reduced units were explained in the user guide. I checked it and I like the explanation. I think that a link to the user guide would solve this particular problem, as proposed by @RudolfWeeber

[2021-01-28 12:18] jngrad commented on #2601
I wrote "typically adopt the Pitchfork layout" to reflect that. I've now reformulated that section to make it clearer we do not enforce it. If we one day decide to enforce a layout XYZ, we will update page [Naming conventions and folder structure](https://github.com/espressomd/espresso/wiki/Naming-conventions-and-folder-structure) accordingly.

In the context of the [Software design](https://githu

[2021-01-29 14:04] #4085 closed, assigned to jngrad

[2021-02-02 09:58] jngrad commented on #4107
offline discussion: [Espresso meeting 2021-02-02](https://github.com/espressomd/espresso/wiki/Espresso-meeting-2021-02-02)

[2021-02-02 10:36] jngrad commented on #3769
The `time_step` global is used in various places. Here is the list with proposed solutions:
* integrators
   * passing the time step by argument is trivial
* the `Correlator` class constructor
   * add a callback mechanism for observables: changing the time step during accumulation should throw an error
   * for example, we could store a shared pointer to the observables
* the `thermalized_bond_se

[2021-02-05 13:02] #2900 closed, assigned to jngrad

[2021-02-09 17:08] marianoimperatore opened #4111 "pypresso invalid interpreter for Spyder"
pypresso (4.1.2) is reported as invalid interpreter for Spyder installed on my Ubuntu 20.04 LTS (Please see screenshot), differently from what said in the documentation http://espressomd.org/html/doc/index.html in section 2.6.3, although not present in the documentation for version 4.1.2 or 4.1.4 (the latest)
Does this means that it only works on the dev version? Is there a way I can make it work

[2021-02-09 18:01] jngrad commented on #4111
I think ESPResSo 4.1.2 should work, there was no major change to the `pypresso` script in 4.2-dev. It looks like a similar issue to the spyder bug on macOS (https://github.com/spyder-ide/spyder/issues/13252). I just tried it with spyder 4.2.1 and got a different error message, which is similar to the spyder bug on Windows (https://github.com/spyder-ide/spyder/issues/13996).

Since the `pypresso` s

[2021-02-09 19:38] jngrad commented on #3646
This information is now part of the developer's guide, section [Software design: Exception mechanism](https://github.com/espressomd/espresso/wiki/Software-design/9871dbb93ffe304623b8fcb097eb05e9d0792dc0#Exception_mechanism).

[2021-02-09 19:38] #3646 closed, assigned to nobody

[2021-02-10 09:15] marianoimperatore commented on #4111
Thank you very much jngrad, it works launching spyder with pypresso.
Btw, thank you very much guys for this amazing program!

[2021-02-10 14:23] jngrad commented on #4111
You're welcome!

[2021-02-10 14:23] #4111 closed, assigned to nobody

[2021-02-11 04:10] espresso-ci opened #4113 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/14242

[2021-02-15 15:08] #4100 closed, assigned to nobody

[2021-02-15 15:09] #4097 closed, assigned to nobody

[2021-02-15 15:28] #4024 closed, assigned to nobody

[2021-02-15 15:28] #4027 closed, assigned to nobody

[2021-02-15 15:29] #4043 closed, assigned to nobody

[2021-02-15 17:48] jngrad commented on #4015
# Equations of motion for integrators and thermostats

Used notation:
* position: $x(t)$
* quaternion: $q(t)$
* velocity: $v(t)$
* angular velocity: $\omega(t)$
* force: $f(t)$
* torque: $\tau(t)$
* mass: $m$
* moment of inertia: $I$
* interpolated fluid velocity: $u(x(t))$
* box length: $L(t)$
* time step: $dt$
* temperature: $T$
* friction: $\gamma$
* noise: $\eta()$
* quaternion rotation matrix

[2021-02-18 16:55] RudolfWeeber commented on #4015
@jngrad, thanks for collecting the status quo.

In the future, there should be
* possibility to setup several propagation schemes for translation and rotation. For the most part, schemees should work either on translation or rotation.
* Possibility to choose one default propagation for translation and one for rotation. This applies to all particles, which do not have an other selection.
* Possibil

[2021-02-19 16:48] jngrad opened #4117 "P3M and DP3M can silently ignore invalid parameters"
The Cython code of the P3M/DP3M classes is duplicated from the corresponding P3M/DP3M parameter setters in the core, in an effort to avoid having to check the error code returned by core setters. This duplication is unnecessary and has now diverged. This means a core setter can exit early by returning an error code (which is left unhandled in Cython) and leave the core struct in an undefined state

[2021-02-22 04:00] espresso-ci opened #4119 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/14276

[2021-02-22 12:48] jngrad commented on #4119
Runner `coyote11` failed this morning.

[2021-02-22 13:12] #4119 closed, assigned to nobody

[2021-02-22 13:28] #4113 closed, assigned to nobody

[2021-02-22 13:46] RudolfWeeber commented on #4015
* In some cases VS are thermalized (e.g. raspberries)
* Some propagators are not single particle functions (Stokesian)

[2021-02-22 15:04] KaiSzuttor commented on #4062
cython makes life hard here, closing for now

[2021-02-22 15:04] #4062 closed, assigned to nobody

[2021-02-22 15:05] KaiSzuttor commented on #4083
shouldn't it be possible to automatically calculate the global min cut?

[2021-02-23 14:27] #4117 closed, assigned to jngrad

[2021-02-25 03:06] espresso-ci opened #4122 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/14286

[2021-02-25 09:32] #4122 closed, assigned to nobody

[2021-02-26 15:23] jngrad commented on #2155
Another issue of the current implementation is that we cannot remove an ELC actor from the list of active actors, because it raises an exception (this is a workaround for dependency inversion reasons). Setting up the ELC actor sets the ELC core struct but also alters the P3M core struct, and this change cannot be reverted.

Using composition, we can have the ELC actor take a P3M actor as argument

[2021-02-26 15:24] jngrad commented on #2155
Depends on #4124 and #4121.

[2021-03-02 03:28] espresso-ci opened #4126 "ScaFaCoS tuning fails (fftw: planner.c:891: assertion failed: flags.u == u)"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/14307

[2021-03-03 04:33] github-actions[bot] opened #4128 "Scheduled CI job has failed"

[2021-03-03 12:05] #2155 closed, assigned to jngrad

[2021-03-03 18:36] jngrad commented on #4128
Original build log: [pipeline espressomd/espresso/2018811474](https://github.com/espressomd/espresso/runs/2018811474?check_suite_focus=true)

Custom build log with debug information: [pipeline jngrad/espresso/2023938110](https://github.com/jngrad/espresso/runs/2023938110?check_suite_focus=true) (relevant part: [macos-trace-sanitizers.txt](https://github.com/espressomd/espresso/files/6078258/macos-

[2021-03-03 22:44] espresso-ci opened #4131 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/14322

[2021-03-04 04:05] github-actions[bot] opened #4132 "Scheduled CI job has failed"

[2021-03-04 13:31] jngrad commented on #4126
[code]
In both cases, the issue comes from a segfault in FFTW when tuning a P3M grid:
[code]
The signal is sent when one of the following assertions is triggered: [scafacos/scafacos@`/lib/common/fftw-3.3/kernel/planner.c#L890-L891`](https://github.com/scafacos/scafacos/blob/6fb9549bf6219f890a6b492d4780d1afe0ed2bc1/lib/common/fftw-3.3/kernel/planner.c#L890-L891). The assertions check that the bitfi

[2021-03-04 14:16] RudolfWeeber opened #4133 "Refactor globals.cpp:bcast_parameter can of worms...globals"
This relies on gloals.cpp::fields which maps flags to memory localtion of globals.
Ghey are then sent via mpi without serialization.
Afterwards some logic in events.cpp is used to do follow-up changes that aris from the parameter broadcast.

All of this needs to be replaced:
* For each of the objects (box_l, periodicity, skin, ...) an mpi callback pair needs tobe created that does the data transfe

[2021-03-04 15:29] RudolfWeeber opened #4134 "Implement more efficient gpu lb fluid pressure calculation"
this is needed for our various rheology projects.

This is currently very unefficient.
lb_interface.cpp::lb_lbfluid_get_pressure_tensor()
copies the the stress for all nodes to the cpu and does the reduction there.

Instead:
* a trhust transform-reduce operation could do the trick:
https://thrust.github.io/doc/group__transformed__reductions_ga0d4232a9685675f488c3cc847111e48d.html
* The transform p

[2021-03-05 04:16] github-actions[bot] opened #4137 "Scheduled CI job has failed"

[2021-03-05 07:24] KaiSzuttor commented on #4133
In general, we want to get rid of all of those globals in the long term, right?

[2021-03-05 07:45] RudolfWeeber commented on #4133
As isolated globals, yes. Most of them will be part of algorithm-specific data structures, e.g., the temperature will be part of the thermostats that use them.

Some of them are already part of data structures, e.g.h box length and periodicity. Changing them individually probably needs to remain possible, because different follow-up actiosn are required.

[2021-03-05 17:21] #2601 closed, assigned to nobody

[2021-03-05 19:29] jngrad opened #4139 "NpT sanity checks should run at integration start"
The Coulomb/dipoles NpT sanity checks are executed only once, when setting up the NpT integrator. Adding a P3M actor before setting a rectangular NpT integrator fails loudly. But if we add a P3M actor after setting up a rectangular NpT, no error is raised.

MWE:

[code]
Output:
[code]

This can be fixed by moving the sanity checks from the setter to the callback.

[2021-03-06 04:13] github-actions[bot] opened #4140 "Scheduled CI job has failed"

[2021-03-06 09:10] #4131 closed, assigned to nobody

[2021-03-06 09:32] RudolfWeeber opened #4141 "Rattle: Remove mis-use of particle data members"
Rattle stores velocity corrections in the particle force attribte and then forces in the p_old attribute.
This stands in the way of separating state (position, velocity) and observable (force).

If, during the execution of Rattle, the particles are not resorted, and hence, the order in which they are processed, does not change, the temporary values can be stored in a vector.
* If the order does ch

[2021-03-06 10:05] espresso-ci opened #4142 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/14334

[2021-03-06 13:28] jngrad commented on #4142
`coyote6` runner failure

[2021-03-06 13:32] #4142 closed, assigned to nobody

[2021-03-06 13:40] RudolfWeeber opened #4143 "Implement slicing support for LB"
i.e., `lbf[4:20,:,1].velocity`
or
`lbf[:,:,:].velocity = np.zeros(lbf.shape))`

* the __getitem__() method of The LB Python class should accept slices
* If slices are passed in, rather than an instance of LB Node, an instance of a new LBSlice class shuold be returned

An initial implementation of the LBSlice class should just act as proxy to single node getters. this can be done with 20-30 lines o

[2021-03-07 03:03] espresso-ci opened #4144 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/14338

[2021-03-07 04:14] github-actions[bot] opened #4145 "Scheduled CI job has failed"

[2021-03-08 04:16] github-actions[bot] opened #4146 "Scheduled CI job has failed"

[2021-03-09 04:11] github-actions[bot] opened #4147 "Scheduled CI job has failed"

[2021-03-09 14:21] christophlohrmann opened #4149 "CylindricalLBVelocityProfile is not tested"
The corresponding Test only checks getters/setters, not the actual profile

[2021-03-09 16:24] jngrad opened #4150 "Communication of empty vectors can trigger UBSAN in Boost < 1.75"
`boost::mpi` relies on undefined behavior to get the address of the first element in an empty vector. The relevant code is in [boostorg/mpi::include/boost/mpi/detail/binary_buffer_iprimitive.hpp#L42-L50](https://github.com/boostorg/mpi/blob/0dce8d2c2ab273c488d708fb3e66dbb9c4298a79/include/boost/mpi/detail/binary_buffer_iprimitive.hpp#L42-L50). Fixed by https://github.com/boostorg/mpi/commit/28a73e

[2021-03-10 04:03] github-actions[bot] opened #4151 "Scheduled CI job has failed"
https://github.com/espressomd/espresso/actions/runs/637938251

[2021-03-10 14:23] #4023 closed, assigned to christophlohrmann

[2021-03-10 14:23] #4067 closed, assigned to nobody

[2021-03-10 19:06] #4128 closed, assigned to nobody

[2021-03-10 19:06] #4132 closed, assigned to nobody

[2021-03-10 19:06] #4137 closed, assigned to nobody

[2021-03-10 19:06] #4140 closed, assigned to nobody

[2021-03-10 19:06] #4145 closed, assigned to nobody

[2021-03-10 19:06] #4146 closed, assigned to nobody

[2021-03-10 19:06] #4147 closed, assigned to nobody

[2021-03-10 19:06] #4151 closed, assigned to nobody

[2021-03-11 13:07] jngrad opened #4154 "Use Philox PRNG in the Reaction Ensemble"
The Reaction Ensemble (RE) is one of the last consumers of the Mersenne Twister (MT) pseudo-random number generator (PRNG). The MT19937 generator is known to produce correlated data in the first 1 million generated values (Figure 4 in Panneton et al. 2006, DOI:[10.1145/1132973.1132974](https://doi.org/10.1145/1132973.1132974)), which we discard in ESPResSo (5ac12d2aeacdee). The Philox PRNG doesn't

[2021-03-11 14:40] jngrad opened #4155 "Separation of concerns in Reaction Ensemble"
The RE needs to be moved to a submodule of the core and split in several files, one per RE class (along with their dependencies). Right now all classes are mixed together, which makes maintenance more difficult. For example:
* It is not immediately clear which utility classes are needed by each RE class. It's also unclear if RE classes depend on each other, or if they only depend on the parent cla

[2021-03-11 15:31] RudolfWeeber opened #4156 "Let reaction ensemble use observables/accumulators"
The reaction ensemlbe currently has its own "observables/accumulators", called collective variables.
It should instead use Espresso's observable and accumulator framework.

1. As a first step, the degree of association collective variable should be implemented as an observable in the sence of the observable framework.
In the first step, the observable can be stored in the collective variable struc

[2021-03-11 15:41] RudolfWeeber commented on #3922
Alternatively, the call in energy_inline.hpp::calc_non_bonded_pair_energy() should be guarded by a cutoff distance check. See forces_inline.hpp::add_non_bonded_pair_force().

IMO, using quaternions as arguments would be preferrable both for energy and force, since then, the calling code doesn't hvae to know, how the Gay-Berne potential stores its cutoff.

[2021-03-12 13:26] #4150 closed, assigned to nobody

[2021-03-12 14:19] jngrad opened #4157 "Improve testing of the Reaction Ensemble"
At the time this ticket is written, RE code coverage is 51% for [`reaction_ensemble.hpp`](https://codecov.io/gh/espressomd/espresso/src/415f8d4f66bd8b1bb417a7617c14b01577834dad/src/core/reaction_ensemble.hpp) and 32% for [`reaction_ensemble.cpp`](https://codecov.io/gh/espressomd/espresso/src/415f8d4f66bd8b1bb417a7617c14b01577834dad/src/core/reaction_ensemble.cpp). Lines without coverage are not ch

[2021-03-12 19:23] jonaslandsgesell commented on #4157
You intend to add additional unit tests and retain the integration tests? I agree this is a sensible idea. Testing for statistical properties of the algorithm however has its own advantages and does not take long in release mode. Therefore, I would advocate against removing the statistical tests.

[2021-03-13 03:03] espresso-ci opened #4158 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/14382

[2021-03-15 11:42] jngrad commented on #4126
The issue persists even though the tests don't run the tuning function anymore:  #4158.

[2021-03-15 14:36] jngrad commented on #4158
[code]
Stack trace:
[code]

[2021-03-15 15:53] jngrad commented on #4144
[code]

[2021-03-17 11:22] RudolfWeeber opened #4163 "Package Espresso for Ubuntu"
Since many people have a hard time getting the dependencies sorted and build, an Ubuntu package which could just be installed from a PPA would be very helpful.
Inclusion in the distro is not (at presented) a target.

The task can be done by anyone with linux shell skills. Ubuntu's packaging instructions are here:
https://packaging.ubuntu.com/html/packaging-new-software.html

The installation instr

[2021-03-17 11:40] #4126 closed, assigned to nobody

[2021-03-17 11:40] #4144 closed, assigned to nobody

[2021-03-17 11:40] #4158 closed, assigned to nobody

[2021-03-17 11:58] jngrad commented on #4157
The plan is to add extra python tests, for now. The future of the statistical tests is unclear. Their last refactoring showed they were hard to maintain, and their runtime depends greatly on the RNG sequence and the speed of the energy evaluation function, both of which are implementation details that can vary independently of the Reaction Ensemble. This means the statistical tests can become a pr

[2021-03-17 12:34] RudolfWeeber commented on #4157
[code]

I agree that, from a software engineering point of view, statistical tests are a pain in the neck. From the user/physicist point of view, though, I’d only believe an implementation of an algorithm like RE or Langevin dynamics, if the expected statistics is demonstrated with a reasonable accuracy.

[2021-03-17 13:08] KaiSzuttor commented on #4163
We could also think about having a port on macports for espresso:
https://guide.macports.org/#development.introduction

[2021-03-19 19:00] fweik commented on #1238
I believe this is no longer an issue.

[2021-03-20 05:43] #1238 closed, assigned to nobody

[2021-03-20 06:29] RudolfWeeber opened #4168 "Remove code duplication in non bonded test"
Without the code duplication, tests could be expanded, e.g., with regards to checkpointing, effectively.

In testsuite/python/interactions_non-bonded.py, for each non bonded interaction, the same test code is repeated:
* loop over some distances
* move particle
* compare energy/force/pressure

this should be done analogous to the interactions_bonde.dpy:
There, for each interaction, a lambda which

[2021-03-20 06:34] RudolfWeeber opened #4169 "Bonded interactions cannot be deleted"

[2021-03-20 06:38] RudolfWeeber commented on #4169
If they could be, serialization could be tested...

We should try to get this as part of moving bonded interactions to the script interface.

[2021-03-20 06:47] RudolfWeeber opened #4170 "Make BoxGeometry members private"
To allow storing values calculated from the box geometry which are guaranteed to be up to date.

E.g. inverse box length, which is used in minimum image convention in the hot loop depdning on the particle decomposition.

1. Replace the mechanism by which box size and periodicity are communicated. This is currently relies on direct read/write access to the data member (See #4133).
2. Make the data

[2021-03-20 06:50] RudolfWeeber commented on #4170
Difficulty: Intermediate. An MPI callback has to be implemented and the changes will be in quite a few places in the core.

[2021-03-22 14:53] #4101 closed, assigned to RudolfWeeber

[2021-03-23 09:22] jonaslandsgesell commented on #4157
The tests are run with an ideal system. If espresso is smart in this case, skips the energy computation loop and returns energy 0, then the test cases should not be slowed down due to this.

[2021-03-23 09:34] KaiSzuttor commented on #4157
Why is that? Can't you decompose the algorithm and implement mocks such that you can avoid statistical tests?

[2021-03-23 09:49] KaiSzuttor commented on #4157
https://link.springer.com/article/10.1186/s40411-018-0053-5#Sec7

[2021-03-23 14:37] RudolfWeeber commented on #4143
Coding day: Martin and Deniz

[2021-03-23 14:38] RudolfWeeber commented on #270
Coding Day: Martin and Deniz

[2021-03-24 07:49] christophlohrmann commented on #4149
can do

[2021-03-24 11:15] KaiSzuttor opened #4172 "Add central angle option to HollowConicalFrustum shape"

[2021-03-24 11:20] biermanncarl opened #4173 "Tutorials: Notebooks have deprecated numbers in titles"
These should be removed.

[2021-03-24 11:50] biermanncarl commented on #4029
I could have a look at this on Coding Day

[2021-03-24 11:50] biermanncarl commented on #4173
I can do this tomorrow.

[2021-03-24 11:57] biermanncarl commented on #3958
The tutorial side of this issue is being worked on in [this](https://github.com/biermanncarl/espresso/tree/error-analysis-tutorial) branch. I am waiting for a review by someone who has experience in this area, before I move on to the auto-covariance analysis part.

[2021-03-24 12:11] KaiSzuttor commented on #3958
can't you just open a draft pull request and reference this issue?

[2021-03-24 16:14] #4157 closed, assigned to nobody

[2021-03-25 08:40] davidbbeyer commented on #4168
I will take a look at this.

[2021-03-25 11:09] #4048 closed, assigned to KaiSzuttor

[2021-03-25 12:18] #3019 closed, assigned to nobody

[2021-03-25 13:43] #4173 closed, assigned to nobody

[2021-03-25 18:24] huberfrank commented on #4163
try to make it next coding day

[2021-03-25 19:52] jngrad commented on #4168
@davidbbeyer There will be a merge conflict with #4180 (diff view: [`interactions_non-bonded.py`](https://github.com/espressomd/espresso/pull/4180/files#diff-4fd3b8fa2a1f52d97bcd61eeccca10357a2f056367057c94e73fbe7e150cdae2))

[2021-03-26 13:26] jngrad commented on #4156
The `DegreeOfAssociationCollectiveVariable` behaves like an observable, but I'm not sure the `EnergyCollectiveVariable` does. The `EnergyCollectiveVariable` depends on the state of the Wang-Landau system. It's also unclear to me whether the minimum and maximum can be calculated from an accumulator, because the minimum and maximum of one collective variable depends on the minimum and maximum of all

[2021-03-26 16:43] christophlohrmann opened #4183 "Code quintuplication in active matter tutorial"
Code for the rectification of active particle is in the ``.ipynb`` notebook, the geometry exercises, the geometry solutions, the simulation exercise and the simulations solution.
It could all be united in one notebook.

[2021-03-26 16:43] christophlohrmann commented on #4183
If we have a coding day before the next summer school, I volunteer

[2021-03-26 18:39] jngrad commented on #4029
A lot of particle ids and access-by-ids were removed from the testsuite. There's still a lot of it left, here is how to find them:
[code]
These tests typically don't rely on iteration. Instead, the particle ids are carefully chosen for the test logic, sometimes with intentional gaps or patterns. Once we decide on the new particle access mechanism, we can revisit them.

[2021-03-28 15:58] fortysixandtwo opened #4184 "Build failure on Debian Bullseye"
Hey there,

I've just tried my hand at building espresso on a Debian Bullseye (Debian 11) host and sadly had a failure with regards to
libboost.

You can find the terminal output of `make -j1` attached:
[build_fail.log](https://github.com/espressomd/espresso/files/6217578/build_fail.log)

I'm running libboost 1.74.0.3

[2021-03-28 16:07] fortysixandtwo commented on #4184
I forgot to clarify: This is happening on 4.1.4, but seems to be fixed on the current master b069c6a7882f35f42b80dbe99756d472a54636a9 so feel free to close the issue (or leave it open until a new release is tagged?).

[2021-03-29 02:08] espresso-ci opened #4186 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/14639

[2021-03-29 07:15] KaiSzuttor commented on #4186
https://github.com/open-mpi/ompi/issues/8510

https://github.com/lanl/Draco/pull/1029

[2021-03-29 07:39] #4186 closed, assigned to nobody

[2021-03-29 07:54] #4134 closed, assigned to nobody

[2021-03-29 10:19] KaiSzuttor opened #4187 "Serialisation of proxy objects can be improved"
[code]

[2021-03-29 10:52] fweik commented on #4187
While this is obviously not great, this is known (and documented) behavior. We decided
to accept this because there is no straight forward way to fix this. For python objects this
works because pickle actively tracks the relationship between objects, for the so object
this is not visible on the python level. I think there are some potentially some deeper
design flaws (by me) at work here that make

[2021-03-29 11:28] #4141 closed, assigned to nobody

[2021-03-29 12:09] KaiSzuttor opened #4188 "Refactor the existing h5md output"
implementation and consider replacing h5xx with https://github.com/BlueBrain/HighFive

[2021-03-29 12:16] #4139 closed, assigned to jngrad

[2021-03-29 13:03] KaiSzuttor commented on #4187
the underlying issue is that the referenced object is not stored but the python representation gets created upon request

[2021-03-29 14:55] RudolfWeeber opened #4189 "Implement string stream << for Utils::Vector"
Otherwise, it is not possible to write BOOST_CHECK_EQUAL and friends with vectors.

[2021-03-29 18:07] jngrad opened #4190 "LB GPU grid resize bug"
The code that updates the LB GPU grid dimensions and checks the box length is an integer multiple of `agrid` is duplicated since 2013 and has now diverged. Also, resizing the box has no effect on the LB GPU grid:

[code]

Output with LB GPU:
[code]

Output with LB CPU:
[code]

That's because the code that updates the LB GPU grid is only executed when the LB GPU instance is managed by an EK actor.

[2021-03-30 14:32] #4190 closed, assigned to jngrad

[2021-03-30 14:38] fweik commented on #4189
I can do that.

[2021-03-31 07:02] KaiSzuttor commented on #4189
Why not using  ```BOOST_TEST``` which is available since 1.59? We already use it, .e.g. in src/core/unit_tests/Particle_test.cpp:127

[2021-03-31 07:03] KaiSzuttor commented on #4189
However I think it might still be handy to have this operator for our static array type.

[2021-03-31 08:11] #4189 closed, assigned to nobody

[2021-03-31 11:19] jngrad commented on #4184
Hi, this is a know bug in Boost 1.74: [FAQ: Compiler error with boost::optional](https://github.com/espressomd/espresso/wiki/Installation-FAQ#compiler-error-with-boostoptional). It's already been fixed from our end in the upcoming 4.2.0 release, and the 4.2.0 patch can be manually applied to 4.1.4 sources. There will be no 4.1.5 release for technical reasons.

[2021-03-31 11:19] #4184 closed, assigned to nobody

[2021-04-01 13:59] #4143 closed, assigned to nobody

[2021-04-02 08:10] kosovan opened #4197 "Constant pH method can enter an infinite loop if some particles are not created initially"
Due to a mistake in my code, I have learned that there is a small bug in the constant pH algorithm. I have observed that this bug happens in the actual development version of espresso. Consider the typical acid/base equilibrium of a weak acid

HA <-> A- + H+

HA: type 0
A-: type 1
H+: type 2

Consider that, by mistake, the user does not create any particle of types 0 and 1, but it creates particle

[2021-04-02 08:40] jonaslandsgesell commented on #4197
FYI There s a function called all_reactant_particles_exist(int reaction_id) returning a bool which can be used for checking whether all reactant particles exist.

[2021-04-02 09:08] fweik commented on #4169
Can you explain a bit what you mean by that, and what the ideal behavior would be for you? Do you mean that bonded interactions can not be removed from the list of active interactions in the core?

[2021-04-02 10:09] RudolfWeeber commented on #4169
Yes. If one could, then one could check from a single script whether the checkpointing restores (combinations of) bonds correctly.

This one should be fixed while we move the bond interface from manual Cython code to script interface. At that point, we have to replace the code for communicating and managing `bonded_ia_params` anyway.

[2021-04-02 10:16] pm-blanco commented on #4197
Thank you Jonas for the hint, this function seems like a very straightforward solution for solving the problem.
I am working on a bugfix, I will try this function out and propose a solution.

[2021-04-02 22:05] fweik commented on #4169
Thank you for clarifying the issue!

[2021-04-06 07:40] KaiSzuttor commented on #4197
shouldn't this just cause no-op? Why is there an infinite loop in the first place?

[2021-04-06 11:45] #4155 closed, assigned to jngrad

[2021-04-06 13:01] RudolfWeeber opened #4201 "Reduce number of non-bonded interactions"
Remove ﻿duplicates and non-used

[2021-04-06 17:03] RudolfWeeber opened #4204 "Implement == for cdef class LBNode and LBSlice"
Nodes and slcies shoudl be considered equal, if the index/slice is equal﻿

Otherwise
[code]
can have duplicate entries

This would be solved by implementing `__eq__()`.

Particle handles might also be affected.

[2021-04-07 07:02] KaiSzuttor commented on #2953
is this still up to date?

[2021-04-07 07:02] KaiSzuttor opened #4208 "make observables immutable"

[2021-04-07 07:07] bindgens1 commented on #2953
I didn't get any news on this here.

[2021-04-07 09:14] RudolfWeeber commented on #2953
No. The current belief is that consecutive stress measurements are affected by over-correction. The behavior is comparable to what can be observed in lbmpy.

[2021-04-07 09:20] #4172 closed, assigned to christophlohrmann

[2021-04-07 09:29] KaiSzuttor commented on #2953
so I "believe" that this issue can be closed

[2021-04-07 09:29] #2953 closed, assigned to nobody

[2021-04-07 12:47] fweik opened #4209 "Add benchmark for MC methods"
Akin to the MD benchmark scripts there should be a benchmark script for the MC methods, which measures the performance of a typical (=important to stakeholders) scenario, so that performance impacts introduced by changes can be identified, and to make
it possible for people without domain knowledge to identify bottlenecks.

[2021-04-07 12:51] RudolfWeeber commented on #4015
## Single particle propagators without pre/post tasks
Below propagators have kernels of the form
[code]
force is optional in some cases. Analogous for rotation.
There is (to my understanding) no task which has to run before they can be applied
* Translation
    * Velocity Verlet (dt, particle specific mass)
    * Velocity Verlet + Langevin (dt, kT, gamma, particle specific mass)
    * Velocity Ver

[2021-04-07 13:03] fweik commented on #4201
I did not get the feeling that those are particularly high maintenance, is there some specific reason to get rid of them now?

That being said, my must-have list would be
- wca
- lj
- ljgen
- hat
- gaussian
- gb
- tabulated

We can probably do without
- smooth_step
- buckingham
- bmhtf-nacl
- ljcos{, 2}

thole should potentially be handled in a different way, but there is already a [ticket](https:

[2021-04-07 13:20] RudolfWeeber commented on #4015
So, if we only had single particle kernels which work independently, we'd have

[code]
Here, filter() would filter the particles that qualify for a specific propagator.
select_propagatro() will either reutrn the default (system-wide) propagator or the one specified on the single particle.

Alternatively, one can have one traversal of particles per propagator

[code]
The latter approach works also

[2021-04-07 13:37] jonaslandsgesell commented on #4209
I think a typical scenario would be the one in the reaction ensemble/cpH test with the reaction HA <> A +H. Typically A and H are charged. Not sure you want to benchmark with electrostatics though.
I would suggest parameters such that alpha is approx. 0.5 for the cpH test this would mean input1=pH=pK=-log10(Gamma)= input2
For the reaction ensemble alpha depends on the system volume and K so I woul

[2021-04-07 14:56] RudolfWeeber commented on #4201
So we don’t spend work on refactoring unused code and to reduce the number of compile-time features, ideally to the point, where we can just turn on all remaining interactions.

[2021-04-08 08:08] #4168 closed, assigned to nobody

[2021-04-08 08:34] itischler opened #4210 "EK parameter changes after activation do not apply"
Changing the EK parameters (like external force density) after the method was activated was activated would not apply, because those parameters are only communicated to the GPU during ``ek_init()`` which is only called on activation or species creation.

[2021-04-08 09:04] #270 closed

[2021-04-08 09:43] #3284 closed, assigned to nobody

[2021-04-08 10:39] KaiSzuttor opened #4212 "RDF Observable parameters are not checked"

[2021-04-08 15:06] #4208 closed, assigned to nobody

[2021-04-09 12:31] #3596 closed, assigned to nobody

[2021-04-09 13:09] jngrad opened #4217 "Debye-Hückel setter needs refactoring"
Several issues are hiding in the Debye-Hückel setter logic:

https://github.com/espressomd/espresso/blob/3e2674a8f2b193b32c404dd4cab633cd8c5c76a3/src/python/espressomd/electrostatics.pyx#L110-L112
https://github.com/espressomd/espresso/blob/3e2674a8f2b193b32c404dd4cab633cd8c5c76a3/src/python/espressomd/electrostatics.pxd#L111
https://github.com/espressomd/espresso/blob/3e2674a8f2b193b32c404dd4cab6

[2021-04-09 13:18] jngrad opened #4219 "Robust exception mechanism in core setters"
**Problem statement**

Setters in the core return an error code to indicate whether the core object was successfully initialized or not. The Cython code is expected to check this error code and react to it if it is non-zero. There are however many places in the Cython code where the returned error code was simply ignored and the range checks from the core setter were copy-pasted to the `validate_p

[2021-04-09 13:37] jngrad opened #4220 "Core objects should have the life expectancy of the corresponding Python objects"
Many python objects (e.g. actors and integrators) have a constructor that call a C++ setter that recycles the old core object, i.e. the core setter copies the new parameters passed as arguments into the corresponding fields of an already-existing global struct object, which is default-constructed when the ESPResSo system is instantiated and destroyed when the python session terminates. This approa

[2021-04-09 14:18] #4217 closed, assigned to nobody

[2021-04-12 02:05] espresso-ci opened #4221 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/14778

[2021-04-12 06:37] #4221 closed, assigned to nobody

[2021-04-12 07:25] KaiSzuttor opened #4222 "Make espresso "pip installable" by adding a setup.py file"
... just like any other python package

[2021-04-12 07:27] KaiSzuttor commented on #4222
An example can be found in https://github.com/m-pilia/disptools

[2021-04-12 09:17] RudolfWeeber commented on #4222
This would be desirable.

I guess the issue is that not all dependencies can be pip-installed.

In the example you posted it was not obvious to me, how C++ library dependencies are handled. And then, there is MPI, which also lives outside the Python realm.

[2021-04-12 09:20] jngrad commented on #4222
See https://pypi.org/project/lbmpy/ for a python package that takes arguments in brackets to include features like GPU support.
The corresponding python logic to handle these arguments is available in [`pycodegen/lbmpy:setup.py#L99-107`](https://i10git.cs.fau.de/pycodegen/lbmpy/-/blob/91a0cfad3cc6bf65a5024d7489a157d35191dcc6/setup.py#L99-107).

[2021-04-12 13:29] jngrad opened #4224 "Drude helpers relies on particle ids and static global variables"
The [`espressomd.drude_helpers`](https://github.com/espressomd/espresso/blob/d929871a23c35e513bb5a4105c035353fdd3b579/src/python/espressomd/drude_helpers.py) module doesn't follow the same interface as the other modules in ESPResSo:
1. It relies on particle ids for book-keeping, which is an obstacle to #3992.
2. Book-keeping is done via python global variables which are not checkpointable and have

[2021-04-12 16:05] RudolfWeeber opened #4225 "Replace bonded interactions cython interface"
Bonded interactions should be managed by the script interface and the hand-crafted Cython code should be removed.

Steps:
* Wrap the bonded interaction parameter store by a map-like container
    * should support `at()` and `insert()` and `contains()` as in `std::unordered_map`
    * and an additional `insert()` which auto-generates a free key (as we would like to avoid manual bond id handling in

[2021-04-13 09:03] biermanncarl commented on #4029
Section 7 of the user guide (bonded interactions) needs some rework, too, to get rid of numerical particle IDs

[2021-04-13 09:50] biermanncarl commented on #4029
What I personally find a bit annoying is the fact that ParticleSlice objects aren't subscriptable. Sure, one can iterate over them with
[code]
but for debugging, bond setup and various other purposes, it would be convenient to be able to access one single particle out of a slice without much effort, like ```print(myslice[0].pos)```. This is easy when accessing particles with numerical ids. Would i

[2021-04-13 11:51] jngrad commented on #3918
nvcc 11.0 now supports most of the C++17 core language features ([cppreference chart](https://en.cppreference.com/w/cpp/compiler_support#C.2B.2B17_features)). We need nvcc 10.1 support for the ICP workstations and cluster, so we have to keep supporting C++14 in 4.2. Since waLBerla now requires C++17, 4.2 needs C++17 support too because it is developed in parallel to 4.3. This is trivial, we only n

[2021-04-13 12:24] jngrad commented on #4029
The current particle slice implementation supports slices with gaps: https://github.com/espressomd/espresso/issues/3992#issuecomment-728063238. Once we're done removing particle ids from the docs and tests, we can design a more pythonic slice implementation that supports subscription.

[2021-04-14 16:58] #4029 closed, assigned to nobody

[2021-04-16 13:45] jngrad opened #4230 "ELC core object can have uninitialized data members"
The ELC actor is set up by recycling the old struct and assigning new values to individual members, which is a potential source of bugs. For example, when the setter is called with `const_pot=false`, the core parameter `elc_params.const_pot` is not updated:
https://github.com/espressomd/espresso/blob/415f8d4f66bd8b1bb417a7617c14b01577834dad/src/core/electrostatics_magnetostatics/elc.cpp#L1111-L111

[2021-04-16 15:38] jngrad commented on #2628
Progress report:
* removed CUDA-related globals: a07a124590ad4eae540 955ad2a71f9583 1d6c7ee1258012e81 fe8ddaade293 436ce0733902 823b2f296898fa0a bb02c861755503f8 235480bc1743dcf fd3f7fd495
* removed cellsystem-related globals: 6a3e36457f3b 4bab12f4801a6 9a11ffcac7c0c 3ef73b7518d39ea98 84690b23060a04f2 c829dd965c6fc1301
* removed electrostatics-related globals: 05f5a066e652e2fbd2ef3eb12b70980fff70b

[2021-04-16 15:48] #4230 closed, assigned to jngrad

[2021-04-18 09:34] KaiSzuttor commented on #4222
I think it's okay to fail if you provide a source package. We could probably also deploy a wheel binary package (c.f. https://softwareengineering.stackexchange.com/questions/408214/best-way-to-go-about-including-c-c-dependencies-in-python-packages). BTW this is pretty standard, ```maplotlib``` for example may also fail to install via pip because of unmet dependencies.

[2021-04-19 16:19] jngrad commented on #4224
This is a suitable task for a coding day. A solution could look like this:
- gather the python globals into a python class
- convert all free functions operating on these globals to methods of that class
- the user needs to pass particle handles instead of particle ids, the methods will extract the particle ids (this is also how we deal with bonds in `particle_data.pyx`)
- users are responsible fo

[2021-04-25 18:11] #4170 closed, assigned to nobody

[2021-04-29 12:21] #3247 closed, assigned to nobody

[2021-05-03 13:46] jngrad commented on #4220
In the long term, these core objects need to be managed by the ScriptInterface instead of being stored as global variables.

[2021-05-04 02:06] espresso-ci opened #4239 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/14887

[2021-05-04 07:27] RudolfWeeber commented on #4239
Runner failure

[2021-05-04 07:31] #4239 closed, assigned to nobody

[2021-05-10 16:37] RudolfWeeber opened #4245 "Revisit cylindrical Poiseuille test"
On the Walberla branch, the effective radius in the analytical comparisson hat to be changed by 0.03 agrid for the test to pass.
With only 16 grid cells per direction, the test is not that precise anyway.
The test srrvives a change of box size but not agrid.
The results (including the f/2 correction) should be looked at in a plot to see whether there are systematic errors.

The test for direct che

[2021-05-11 09:06] jonaslandsgesell opened #4246 "Gibbs ensemble MD moves instead of MC moves"
Would you mind investigating using MD moves instead of MC moves to propagate the internal states of each system. Just instead of moving 1 particle and computing exp(-beta Delta E_pot) in an MC step, run x MD steps (e.g. 10-100) and compute exp(-beta Delta E_pot) from before and after running MD.
This would allow to simulate polymer systems and should have much faster decaying autocorrelations of o

[2021-05-11 12:22] RudolfWeeber commented on #4041
Is this still the case?

[2021-05-11 12:24] RudolfWeeber commented on #4014
This is done, i guess.

[2021-05-11 12:24] #4014 closed, assigned to nobody

[2021-05-11 12:46] RudolfWeeber opened #4247 "Add time step and kT as parameters to components that use them"
In preparation for the integrator refactor (#4015):
In order to remove time_step (#3769) and temperature as globals, components that use them should take them as an initialization argument and store their own copy.

This affects e.g.:
* dpd (time step and temperature)
* thermalized bonds (tim step and temperature)
* lb (temperature, time step because of unit conversion)
* reaciton ensemble (temper

[2021-05-11 15:33] jngrad commented on #3854
This is a suitable task for a coding day. One needs to read through the samples, tutorials and Sphinx documentation to spot anti-patterns and python2-specific syntax. In addition to what was already mentioned above, here are a few more things to look out for.

The following statements:
[code]
can be changed to:
[code]
because the statement `import X.Y.Z` makes `X`, `X.Y` and `X.Y.Z` available in t

[2021-05-12 14:05] jngrad commented on #4041
Yes. On `lama` in a debug build with Boost 1.71 and OpenMPI 4.0.3, the GDB backtrace ([attached](https://github.com/espressomd/espresso/files/6466680/gdb.log)) shows on frame 68 this line as the probable culprit in function `int lb_lbnode_get_boundary()`:
https://github.com/espressomd/espresso/blob/ae3094f47cf78cfafaddb5cdc8c0e7edb5630b4f/src/core/grid_based_algorithms/lb_interface.cpp#L1110-L1111

[2021-05-12 15:59] jngrad commented on #4041
This LB function is called by this visualizer function:
https://github.com/espressomd/espresso/blob/ae3094f47cf78cfafaddb5cdc8c0e7edb5630b4f/src/python/espressomd/visualization_opengl.py#L930-L945
The visualizer fails after 1-4 frames. If I pre-compute the values with `boundaries = self.lb[:, :, :].boundary` and use that numpy array in the innermost loop, it takes ~24 seconds (~600 frames) for the

[2021-05-12 18:22] jhossbach opened #4248 "Missing docstring for ParticleHandle.update() method"
There needs to be some documentation for the update method of the ParticleHandle class, namely in the `particle_data.pyx` script, explaining what the function does update and what it takes as input.

[2021-05-13 13:42] espresso-ci opened #4249 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/14942

[2021-05-13 13:49] jngrad commented on #4249
`polymer_linear` timed out
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/283457

[2021-05-13 14:11] #4249 closed, assigned to nobody

[2021-05-14 10:30] RudolfWeeber opened #4251 "Reaction method refactoring wish list"
actoring wish list (Disclaimer: I'm not terribly familiar with that part of the code)

This is a WIP

## ReactionAlgorithm::make_reaction_attempt()

* [x] Are the non const vector arguments actually used only as outputs? If so, they should be returned rather than being arguments, to make the dependencies clear.

## ReactionAlgorithm::generic_oneway_reaction()
* [x] This should take a reference to

[2021-05-14 12:44] jhossbach commented on #4246
Would it be necessary to check the energies before and after? Because we are running MD simulations using a thermostat we wouldn't need to check if the particle movement is correct, we could simply accept it as such. Or am I missing a point here?

[2021-05-15 00:01] jonaslandsgesell commented on #4251
These are only some short answers. Here it is really late night...

The value nubar to which you refer is an accumulated value: nu_bar = \sum_i \nu_i, the stochiometric coefficients nu_i are the changes in particle numbers and contain the necessary information for performing the reaction: \nu_1=+1,\nu_2=-1,\nu_3=+1 has \nu_bar=1, but  \nu_1=+1,\nu_2=0,\nu_3=0 also has \nu_bar=1. The value of nu_ba

[2021-05-15 00:18] jonaslandsgesell commented on #4246
You are right, if MD sampling is already correct (i.e. particles have Maxwell-Boltzmann distributed velocities etc.), then the additional MC criterion is not needed.

If you want to have guaranteed properties from the MC algorithm, you need to check energies before and after running MD (this is frequently done in hybrid Monte-Carlo methods https://de.wikipedia.org/wiki/Hybrid-Monte-Carlo-Algorithm

[2021-05-16 15:11] RudolfWeeber opened #4252 "Control boundary condition per LB node"
This sketches the steps that need to be taken to allow setting lb (velocity) boundary conditions on a per-node level. this would allow, e.g., for tangential flow around a cylinder (four-roller mill etc).

This is for the Walberla branch.

Objective: LB boundary velocity (and in the future, other BC) should be settable per node. Furthermore, there should be a quick way to mark all lb nodes as bound

[2021-05-17 08:47] RudolfWeeber commented on #4251
As far as I can tell from reading through the code, there are three big items + a few minor ones.
The main points are:
1. Optimizing the exclusion radius logic, make the search for particles close to the test position O(1). This will liekly also solve the performance issue with tutorial 12
2. Disentangling the Wang-Landau stuff from the ReactionAglorithm base class, e.g., by communicating outcomes

[2021-05-17 11:39] jhossbach commented on #4246
My algorithm seems to be working now, but I have problems with the particle exchange move. I use the logic from the snippet you proposed with d_min=0.9 sigma, it seems that almost every time a random particle is chosen or a random position is proposed, at least one of them will be in close range to another particle resulting in no particle exchanges being done in the overall simulation. Even for s

[2021-05-18 17:41] #4197 closed, assigned to nobody

[2021-05-18 21:04] jonaslandsgesell commented on #4246
Hey, I see your point! The Gibbs-Ensemble is applied here in the context of systems with high densities, where employing the exclusion radius based rejection strategy can become quite inefficient.
I like your idea of trying to employ force capped, thermalized MD to propagte the state of the systems and then accept/reject the move with exp(-beta Delta E_pot). In the case of a rejection of the MD mo

[2021-05-19 08:31] jhossbach commented on #4246
I found that this is a common problem with Gibbs Ensemble simulations. [This paper](https://doi.org/10.1021/acs.jctc.6b00575) describes two ways to implement MD into the simulation: One uses pure MD simulations but introduces an extra degree of freedom describing whether the particle is in either one of the boxes or in a transition state inbetween to simulate the Gibbs Ensemble behaviour. But as o

[2021-05-19 21:19] jonaslandsgesell commented on #4246
Thanks for the paper :) A key concept there is summarized like this : "we implemented a short-
range cutoff to the pairwise potential to remove instabilities
resulting from the divergence of most intermolecular potentials
at low separation distances. " This is promising for dense systems.

[2021-05-20 17:19] jhossbach opened #4254 "Additional minimum potential value instead of zero for LJ"
If the `min` parameter for the LJ potential is set, the potential is simply set to zero if `r < min`. Instead of that, it would be wise to introduce a minimum potential at which the potential is held constant e.g. the value of the potential at `min`.
This would improve particle insertions / particle removals during MC simulations for systems with higher density.

[2021-05-20 17:21] jhossbach commented on #4246
I opened a new issue dedicated to this short range cutoff in #4254, meanwhile I will use tabulated potentials and a LJ potential to mimick this behaviour.

[2021-05-25 02:08] espresso-ci opened #4256 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/15014

[2021-05-25 09:41] #4212 closed, assigned to jngrad

[2021-05-25 09:47] jngrad commented on #4103
This bug also triggers on GCC 8.4: https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/284525 (issue #4256)
[code]

[2021-05-25 12:54] RudolfWeeber commented on #4251
I removed the items that were sorted out in Zoom the discussions

[2021-05-25 15:03] jngrad commented on #4204
Suitable task for @KaiserMartin @stekajack

[2021-05-25 15:03] jngrad commented on #4245
Suitable task for @KaiserMartin @stekajack

[2021-05-26 08:06] kosovan commented on #3941
I propose to address the following issues in the constant-pH tutorial ( I plan to do it during the coding day):

* Title of the notebook "The Reacton-Ensemble Method" does not correspond to the filename and to the content
* Specify the expected prior knowledge:
    * Chemistry, chemical reaction equilibria
    * Espresso - Electrostatics, LJ tutorials
* Refernce cocnentration with ominus or with z

[2021-05-26 10:38] RudolfWeeber opened #4257 "Reaction Methods: Make hidden particle type user-specified"
The reaciton algorithms change the type of a particle to hide it from itneractions.
The particle type 100 is hard-coded as that hidden type (without checking that no interactions are defined for it).
This is in src/core/reaction_methods/ReactionAlgorithm.hpp.

100 is a bad choice, because at integration start, the maximum interaciton range is recalculated. This operation scales like N^2, wher N is

[2021-05-26 10:55] pm-blanco commented on #4257
Maybe I am being naif here, but wouldn't it be better at the begining of the integration to define the hidden particle type depending of the existing particle types? For instance, the hidden particle type could simply be the largest particle type + 1.

[2021-05-26 11:55] jngrad commented on #4257
If the user later adds new particles with type equal to the largest particle type in the simulation script + 1, then the reaction method will give unexpected results.

[2021-05-26 16:06] bindgens1 opened #4258 "Installation instructions for MacPorts..."
... should include `py37-scipy`

The software can be build without scipy but the import fails

[code]

[2021-05-26 16:09] bindgens1 commented on #4258
Further information:
I built with py38 instead of py37, so maybe there are some changed dependencies.

[2021-05-26 16:13] bindgens1 commented on #2181
Everyone fine with closing this?
The final implementation works completely different so this doesn't seem relevant anymore.

[2021-05-26 16:13] #2181 closed, assigned to bindgens1

[2021-05-26 19:19] RudolfWeeber opened #4259 "Switch propagation per particle (partial)"
Aim of this project is that virtual sites relative and inertialess tracers canbe used simulatenously.

This will become part of #4015, but has to be addressed now, because it is needed in a research project.
The aim is, to do it such that the code can be re-used (or kept) for #4015

## Add a typed enum class named `Propagation` in the core and in Python to store available propagation types. For no

[2021-05-26 20:58] jonaslandsgesell commented on #4257
The documentation https://espressomd.github.io/doc/advanced_methods.html says

''''
set_non_interacting_type(self, non_interacting_type)
Sets the particle type for non-interacting particles. Default value: 100
....
'''''

[2021-05-26 21:29] kosovan commented on #4257
I like the solution proposed by @RudolfWeeber

 Make the particle type used for "hiding" particles a required user-provided parameter when setting up the reaciton methods. Advise users in the docs to pick the lowers not-used particle type number.

If it is required that the user has to specify the type for hiding the particles, then it assures that he is aware of it and there is no need to hard-co

[2021-05-27 07:08] pm-blanco commented on #4257
In my opinion, the solution proposed by @RudolfWeeber  is good for solving the issue quickly. In the long term, I think that the hidden particle type should not be something that the user must choose but something espresso should intelligently set. Even if we state on the documentation how this hidden particle type should be set, I foresee that it could become the source of bugs in the scripts of

[2021-05-27 07:36] kosovan opened #4260 "suggested changes to the LJ tutorial"
- [ ] Links to References seem to fail (probably because square brackets are special characters that affect the behaviour)
- [x] Add a list of expected prior knowledge
- [x] Avoid phrases like "today's research" or "Espresso is most flexible in the martket" - they can easily become outdated
- [x] Meaning of `epsilon` as the depth of the minimum should be explained
- [x] Add formula for the LJ pote

[2021-05-27 07:42] jngrad commented on #4258
This also needs to be added to the [Ubuntu 20.04 section](https://espressomd.github.io/doc/installation.html#installing-requirements-on-ubuntu-linux).

[2021-05-27 08:03] RudolfWeeber commented on #4260
These are good points.

I’m not in favour of writing stuff to a file during the simulation, and plotting from a file, though.

I also don’t think this is recommended practice for production simulations. Particularly text files.

With the exception of very big data such as trajectories, data should be accumulated in structured data types (lists, numpy arrays, espresso time series) during the simula

[2021-05-27 08:06] RudolfWeeber commented on #4257
IMO, in the long term, particles should be delete rather than hidden.

This is currently not done, because for the current implementation of bonds, it is expensive to delete bonds binding the particle.

Reason: Bonds are only stored on one of the bond partners. Therefore one needs to scan all particles to check whether they have a bond to the particle that is being deleted.

Long term, bond storag

[2021-05-27 08:11] jngrad commented on #4257
We could use a negative particle type, but it's not a great idea. For example `-1` is already used for uninitialized particles, so we would have to use `-2`.

[2021-05-27 08:12] kosovan commented on #4260
@RudolfWeeber I will check your video but I think that it is a common practice to store the simulation data in a file and analyze it offline because you often don't know in advance what you will want to analyze in the end. What (structured) data format should be used is a separate question. The main problem I see is that the runtime variables and results are lost when you exit the simulation scrip

[2021-05-27 08:17] jngrad commented on #4260
Writing to a file can be an issue in CI, because the file system can lag behind during write operations. This synchronization issue can cause the python test to end up in a state where it is trying to open a file that doesn't exist yet but has already been written to.

[2021-05-27 09:26] kosovan commented on #4260
@jngrad OK, then I suggest to at least mention that in the production one would save the data and post-process it later. The LJ tutorial is one of the first tutorials that new users encounter, so I think that such things should be mentioned as good practice.

[2021-05-27 09:27] KaiSzuttor commented on #4258
or we could provide a macports package...

[2021-05-27 09:44] RudolfWeeber commented on #4260
I’m not against storing the time series in a file. It should just be done after the run is complete.

And first saving, then loading back and plotting is just extra confusion compared to plotting the data directly.

[2021-05-27 12:23] RudolfWeeber commented on #4017
Done﻿

[2021-05-27 12:23] #4017 closed, assigned to nobody

[2021-05-27 15:11] #3899 closed, assigned to reinaual

[2021-05-27 16:16] kosovan commented on #4257
Just a note on user experience: calling `RE.set_non_interacting_type(len(TYPES))` in the constant-pH tutorial gave me a factor of two speedup out of the box. So, I think it is really important to set it dynamically, or use a negative type.

[2021-05-27 17:17] christophlohrmann commented on #4210
After 10 hrs of two man work and 3 pairs of eyes on the problem, we decided it is not possible with reasonable effort to make this work. We suggest to make ekin immutable.

[2021-05-27 19:36] pm-blanco commented on #4251
@kosovan and I want to add a couple of things to the wish list:

- reaction_ensemble.ConstantpHEnsemble takes as an argument 'temperature' but actually kT is expected as input. We think that for consistency this variable should be renamed as 'kT'.
- reaction_ensemble.ConstantpHEnsemble has as an argument reactant_coefficients and product_coefficients. However, for the constant pH method the only p

[2021-05-28 07:41] KaiSzuttor commented on #4257
would a feature like the existing exclusions but based on types instead of ids be the way to go?

[2021-05-28 08:02] RudolfWeeber commented on #4257
No. The RE “hides” specific particles not all particles of a type.

Anyway, hiding via type is not safe under all conditions, because it doesn’t hide the particle from e.g., external potentials, dipolar interactions.

[2021-05-28 08:06] RudolfWeeber commented on #4210
OK, let’s do that

[2021-05-28 08:08] KaiSzuttor commented on #4257
I'm just thinking of ways to make the non-interacting type explicitly setable. Of course this would only work for short range interactions.

[2021-05-28 08:23] KaiSzuttor opened #4266 "Refactor thermostat switches"
The low-level handling of how thermostats are enabled or disabled should not be exposed to the developer. Something like the following could be implemented:

[code]

[2021-05-28 11:34] RudolfWeeber commented on #4266
What you propose represents the current structure very clearly.

We have to decide whether to still do this refactoring before the propagation refactoring.

After that, the thermostats will no longer exist as independent concept, and each particle will be propagated according to exactly one scheme.

(DPD, like ThermalizedBond, will be just an interaction).

[2021-05-28 14:06] RudolfWeeber opened #4267 "Add EKIN to Walberla branch"
# Structure, LB coupling
* EK and LB can each be used independently but also in combination
* If used in combination, the LB velocity field is passed into EK, and EK adds to the LB force field
* To allow for this, they should share the Walberla Blockforest (the data structure that handles the domain decomposition and field storage in Walberla)
* To this end, a Lattice component is introduced:

[2021-05-28 15:27] #4247 closed, assigned to jngrad

[2021-05-28 16:25] espresso-ci opened #4269 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/15062

[2021-05-28 16:41] jngrad commented on #4269
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/285419
OpenMPI failure:
[code]

[2021-05-28 16:44] #4269 closed, assigned to nobody

[2021-05-28 21:21] kosovan commented on #4260
I used to write the data at the end of the simulation but it happened too many times that I lost all data if the simulation ended unexpectedly, e.g. due to exceeding the wall time. Therefore, I recommend to my students to store the data after shorter periods of simulation runtime. Nevertheless, this is a minor issue that should not be a part of the tutorial.

[2021-05-29 02:12] espresso-ci opened #4270 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/15069

[2021-05-29 10:36] jngrad commented on #4256
duplicate of #4103

[2021-05-29 10:37] jngrad commented on #4270
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/285528
duplicate of #4103
[code]

[2021-05-30 01:59] espresso-ci opened #4271 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/15074

[2021-05-30 15:31] #4133 closed, assigned to nobody

[2021-05-30 16:31] jngrad commented on #4271
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/285624
duplicate of #4103

[2021-05-31 18:42] biermanncarl commented on #3939
According to [Wikipedia](https://en.wikipedia.org/wiki/Diffusion#Diffusion_coefficient_in_kinetic_theory_of_gases), D should behave like 1/P, which is proportional to 1/rho. Unfortunately, I couldn't get this scaling out of a Langevin Dynamics setup. The problem is that kinetic gas theory expects the particles to move in a straight line, while Langevin Dynamics prevents exactly this. Lowering the

[2021-05-31 19:11] jngrad commented on #4251
I have no strong opinion on this proposed change. In the ESPResSo C++ code, variables called `temperature` in both the MD and Reaction Methods code is in units of kT. This is documented in the user guide for the MD code:

https://github.com/espressomd/espresso/blob/0327d9a271a55a973b53f167ec9955fea99c0f83/doc/sphinx/introduction.rst#L391-L400

Maybe @jonaslandsgesell can tell us about this design

[2021-05-31 20:28] kosovan commented on #4251
To my understanding, this parameter is called `temperature` because by the time when it was implemented, parameters of the thermostat were called the same. Later, the thermostat parameters were renamed to `kT` but the RE parameter was not renamed.

Therefore, we should rename it also in the reaction ensemble to ensure consistency. Then, the documentation could also become much simpler. Instead of

[2021-06-01 10:19] #4256 closed, assigned to nobody

[2021-06-01 10:19] #4270 closed, assigned to nobody

[2021-06-01 10:19] #4271 closed, assigned to nobody

[2021-06-03 16:16] #4204 closed, assigned to nobody

[2021-06-04 00:30] junghans opened #4274 "v4.1.4: fails to build openSUSE error: 'size_t' does not name a type"
From https://build.opensuse.org/package/show/openSUSE:Factory/python3-espressomd
[code]

Build [here](https://github.com/espressomd/espresso/files/6595008/build_log.txt)

[2021-06-04 04:35] github-actions[bot] opened #4275 "Scheduled CI job has failed"
https://github.com/espressomd/espresso/actions/runs/905113379

[2021-06-04 10:07] jngrad commented on #4274
Yes, in 4.1 many source files don't including the header files they are using, instead relying on indirect includes from the STL and Boost library. As a consequence, 4.1 can only be built with the GCC/Clang compiler versions available 2 years ago.

This issue was resolved in 4.2-dev (#3990). It's unrealistic to backport these changes to 4.1. As a quick workaround, you could try adding `#include <c

[2021-06-04 10:13] jngrad commented on #4275
Harmless download issue.
[code]

[2021-06-04 10:13] #4275 closed, assigned to nobody

[2021-06-08 12:19] kosovan commented on #4257
Just a note on user experience: calling `RE.set_non_interacting_type(len(TYPES))` in the constant-pH tutorial gave me a factor of two speedup out of the box. So, I think it is really important to set it dynamically, or use a negative type.

[2021-06-08 15:21] RiccardoFrenner opened #4277 "system.cell_system.resort() invalidates ghosts"
After the call to `system.cell_system.resort()` the ghost particles are invalidated, which results in an assertion failure after a call to the integrator. This can be reproduced on the python branch build with `cmake .. -DCMAKE_BUILD_TYPE=Debug`, default config (no myconfig.hpp in build directory) and the following MWE python file:
[code]
Output of `./pypresso MWE.py 2>&1 | c++filt`:
[code]

[2021-06-08 15:50] jngrad commented on #4277
The resort leaves the cell system with default-constructed ghost particles (particle id = -1). The python tests don't check the state of the system after the resort. The regression could have been caught with the following checks:
[code]

[2021-06-09 09:15] itischler opened #4278 "system.part does not behave like an array"
choosing a random particle via ```np.random.choice``` will fail, if there is only one particle in the system and if this particle has not the id of 0

[code]

[2021-06-09 09:30] KaiSzuttor commented on #4278
what is "failing"?

[2021-06-09 09:32] itischler commented on #4278
[code]

[2021-06-09 09:52] KaiSzuttor commented on #4278
so, your MWE can be made more "minimal":

[code]

[2021-06-09 09:56] KaiSzuttor commented on #4278
the issue is that the particle list in espresso is not "array-like" because it can have gaps and the index is interpreted as the id (which is not the best idea), right?

[2021-06-09 10:05] KaiSzuttor commented on #4277
isn't that a collective function?

[2021-06-09 10:49] itischler commented on #4278
yes, and np.random.choice thinks if the length of a list is one the index must be 0

[2021-06-09 11:55] KaiSzuttor commented on #4278
okay, but is it a bug or expected behavior? looking at https://espressomd.github.io/doc/espressomd.html#espressomd.particle_data.ParticleList I'd say it's documented behavior

[2021-06-09 14:58] jhossbach commented on #4278
I am using numpy v1.20.3 and I can't reproduce this problem. However running the same snippet with numpy v1.17.4 returns the mentioned error. Seems like this has been resolved somewhere inbetween.

[2021-06-09 15:08] RudolfWeeber commented on #4278
This is duck-typing at its worst. If it has [], it must be a list. Unfortunately, dictionaries use [] too.

If we are prepared to break the interface, we can remove the [] operator and instead have
system.part.by_id(id) as a replacement for []
and
system.part.select(predicate) for more complex stuff

[2021-06-09 18:44] jngrad commented on #4277
The regression was introduced in #3870, commit e29c4308b86d421f16e5c96bc93ee33137e1b8f8.

If I understand the code correctly, `CellStructure::resort_particles()` invalidates ghosts and synchronizes their number, but doesn't update them, which leaves them in a default-constructed state. This is not an issue in the normal flow of the integration loop, because this method is called by `cells_update_g

[2021-06-10 06:38] KaiSzuttor commented on #4278
it might be that the underlying implementation in numpy changed, but as I said it's not an issue of numpy but an issue of our ParticleList implementation that does not behave like an "array-like" which is the requirement for the numpy function. This is in principle also connected to #3992 and #3369

[2021-06-10 07:42] KaiSzuttor commented on #4278
btw: our list is also officially non-pythonic:

 These represent finite ordered sets indexed by non-negative numbers. The built-in function len() returns the number of items
 of a sequence. When the length of a sequence is n, the index set contains the numbers 0, 1, …, n-1. Item i of sequence a is
 selected by a[i].

... and

 [...]
 Lists
 The items of a list are arbitrary Python objects. Lists a

[2021-06-10 09:10] RudolfWeeber commented on #4278
When comparing to Py built-in types System.part should be thought of a dict, I guess.

[2021-06-10 09:26] KaiSzuttor commented on #4278
That's why we call it ```ParticleList```? :smiley:

[2021-06-11 07:13] KaiSzuttor commented on #4278
Python dictionaries also do not support slicing.

[2021-06-11 20:59] jngrad opened #4280 "Checkpointing doesn't support recursion with more than 1 MPI rank"
In ESPResSo 4.2-dev, a regression from #4167 broke the checkpointing mechanism. When reloading from a checkpoint file, script interface objects with global creation policy are not broadcasted, i.e. they are only restored on rank 0. This affects ~63 python classes.

The checkpointing tests don't check that these objects are restored on all MPI ranks. This could be achieved by e.g. introducing a new

[2021-06-14 15:58] jngrad commented on #4280
This doesn't affect release 4.1.4.

On 4.2-dev, this only affects objects contained in an object list (e.g. `Constraints`, `LBBoundaries`, etc.). The contained objects are deserialized on the head node, then added to the core via `std::move()` on the head node only:
https://github.com/espressomd/espresso/blob/7eaf45f21c69d65bdead1f04dc9844a701cf8b95/src/script_interface/ObjectList.hpp#L146-L150

[2021-06-17 16:15] #4277 closed, assigned to nobody

[2021-06-21 15:49] jngrad commented on #4280
The fundamental issue with the current object management framework is the lack of support for recursive unpickling. At the moment, contained objects are managed by the `GlobalContext` on which the `ObjectList` container is stored. The container and containees need to be stored in the same context `std::unordered_map`, so that the `ObjectList` can access its contained objects.

## Calling `ObjectLi

[2021-06-22 14:47] RudolfWeeber commented on #4280
Thank you for investigation this so thorroughly. In view of the ongoing discussion to move to shared memory parallelization, we might consider working around this by reverting (most of) the PR which introduced the regression.
Then, we would be back with the old 'solution' to handle the serialization of containers from Cython (via the ScripObjectRegsitry Cython class, IIRC). Then, everything except

[2021-06-22 17:50] jngrad opened #4284 "IBM volume conservation edge case"
There is an edge case for the `softID` argument of the `IBM_VolCons` bond that leads to undefined behavior:
* for `softID = IBM_MAX_NUM + 0` the forces are not calculated for particles with that softID
* for `softID = IBM_MAX_NUM + 1` the call to the `std::vector` constructor actually lands us in the destructor according to GDB
* for `softID = IBM_MAX_NUM + 2` there is a segfault
* for `softID = I

[2021-06-23 13:49] espresso-ci opened #4285 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/15329

[2021-06-23 14:00] jngrad commented on #4285
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/287831
[code]

[2021-06-23 14:06] #4285 closed, assigned to nobody

[2021-06-24 17:42] #4284 closed, assigned to jngrad

[2021-06-24 18:13] jngrad commented on #2071
All features mentioned in the original post have either reached a satisfactory C++ code coverage level, or have been removed.

![Plot showing the progression of code coverage as a function of time since July 2018. The curve branches out at every minor release and all bugfix releases are labeled. The coverage is 95.5% for 4.2-dev in June 2021, 87% for 4.1.4 and 70% for 4.0.2](https://user-images.gi

[2021-06-28 15:46] jngrad commented on #3854
There are a few try/except anti-patterns that look like this:
[code]
They can be rewritten as:
[code]

[2021-06-29 10:09] jngrad commented on #3800
The issue is reproducible. Changing the skin or number of MPI ranks introduces a small deterministic deviation. This leads to error accumulation, which becomes problematic after 10k steps.

MWE:
[code]
Output:
[code]

[2021-07-01 11:55] #4156 closed, assigned to nobody

[2021-07-01 14:14] #4274 closed, assigned to nobody

[2021-07-01 14:44] SamTov commented on #4222
[TensorFlow](https://github.com/tensorflow/tensorflow) is a good example of a project heavily built on cpp libraries but has a nice pip install interface.

To a lesser extent for just linking c++ files is [DScribe](https://github.com/SINGROUP/dscribe/blob/master/setup.py) which uses the same approach as [MDAnalysis](https://github.com/MDAnalysis/mdanalysis)

They might be helpful references.

[2021-07-06 13:55] itischler commented on #4267
first ek kernel generator added [here](https://github.com/itischler/espresso/commit/728be35439a0a94a43cb38ef8c229608e55d4b03#diff-a5581fff0e56f55ec8e7988752df131b8327b14f50defb928738ef2a34bf565d)
boundary and electrostatics kernels still to be done

[2021-07-08 12:40] RudolfWeeber opened #4293 "Nonbonded force kernel called if non-bonded cutoff is 0"
There was code at some point to skip the non-bonded kernel, when no nonbonded ia is present. This seems to ahve been removed.

[2021-07-08 12:42] RudolfWeeber opened #4294 "Cutoffs should be accessible from Python"
It should be possible to obtain the various cutoffs from Python.
This was, iirc, in system.cell_system.get_state() at some point.

[2021-07-08 14:09] jngrad commented on #4294
They have been moved out of the dict, since they can be recalculated from the state of the cellsystem and the list of interactions:

[code]
output:
[code]

[2021-07-09 08:47] christophlohrmann opened #4295 "Brownian dynamics: Virtual sites do not contribute to friction"
For raspberry particles, the friction of the virtual sites is not taken into account for the real particle.
MNWE:
[code]

This also creates problems for rotational dynamics: If I use ``gamma_rotation = 0, act_on_virtual = True``, the rotational friction should come from the virtual beads. At the moment this friction is 0 and any torque leads to undefined angular velocity.

[2021-07-09 17:24] jngrad opened #4296 "IBM trajectory depends on the number of MPI ranks"
The trajectory of an IBM simulation with a tetrahedron mesh shows a different relaxation profile depending on the number of MPI ranks. The following MWE sets up a low viscosity unthermalized LB fluid such that the volume relaxation follows an underdamped harmonic oscillator. With `LBFluidGPU` the system crashes early due to broken bonds. I'm not sure if there is a bug in the IBM code, or if the `I

[2021-07-13 08:07] #3854 closed, assigned to jngrad

[2021-07-13 08:11] pm-blanco commented on #4251
I can continue with the pending tasks on this issue tomorrow!

[2021-07-13 12:24] #4245 closed, assigned to nobody

[2021-07-13 14:38] davidbbeyer commented on #4149
I can take a look at this on the CodingDay.

[2021-07-14 09:09] espresso-ci opened #4299 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/15528

[2021-07-14 09:17] kosovan commented on #3941
I will try to finish the changes to the constant-pH tutorial during the coding day today.

[2021-07-14 09:18] jngrad commented on #4299
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/289518
[code]

[2021-07-14 09:22] #4299 closed, assigned to nobody

[2021-07-14 10:59] jhossbach opened #4301 "Missing tests in test_gibbs_ensemble.py"
The gibbs ensemble test script should check if a density e.g from [here](https://www.nist.gov/mml/csd/chemical-informatics-research-group/sat-tmmc-liquid-vapor-coexistence-properties-cut) is measured. This issue is just for reference in the upcoming pull request

[2021-07-14 16:07] RudolfWeeber opened #4303 "Walberla: Phase out lattice model"
the Walberla bridge should not make use of the LatticeModel class template in Walberla.

* It is not supported on the GPU
* Its floating point precision cannot be changed from whatever is the compile-time default for Walberla. So we cannot let the user choose at runtime the precision they want.

Tasks:
* [X] Generate collide and stream sweeps independent from a lattice model
* [X] Switch the strea

[2021-07-14 16:07] RudolfWeeber commented on #4303
Current progress is on my github in the branch walberla_wo_lattice_model

[2021-07-14 17:43] pm-blanco commented on #4251
@RudolfWeeber @jngrad  I have been trying to improve the searching of a nearby particle for the exclusion radius using the cell system, but I was not able to find the way of getting the particles that are in the same cell than a given particle (or something similar). Is there somewhere in the code where I could get an example on how to do it? Thank you in advance!

[2021-07-16 07:47] RudolfWeeber opened #4306 "unit test VerletCriterion"
currently, the VerletCriterion relies on the onn-bonded interaction data structures being set up, so it is nont trivial to test.
This could be changed by making the retrieval of non-bondex cutoffs for type pairs injectable.

* Change
`auto const max_cut = get_ia_param(p1.p.type, p2.p.type)->max_cut;`
to a new function `get_nonbonded_cutoff(int type_i, int type_j);`

* Make VerletCriterion a class

[2021-07-20 08:54] jhossbach commented on #4301
Reasonable tests would take at least a few minutes which is not desired for sample tests. The task will be put on hold indefinitely.

[2021-07-20 08:54] #4301 closed, assigned to nobody

[2021-07-20 15:20] #4183 closed, assigned to christophlohrmann

[2021-07-21 02:02] espresso-ci opened #4308 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/15587

[2021-07-21 11:38] jngrad commented on #4308
coyote11: the GPU was momentarily unreachable:
[code]

coyote1:
[code]

[2021-07-21 13:26] #4308 closed, assigned to nobody

[2021-07-22 09:21] #3941 closed, assigned to kosovan, davidbbeyer

[2021-07-27 09:45] #2071 closed, assigned to nobody

[2021-07-28 10:08] #4258 closed, assigned to jngrad

[2021-07-28 17:54] jngrad opened #4313 "Future-proofing size_t namespace issues"
**TL;DR:** using plain `size_t` or `std::size_t` without the correct header file (`<stddef.h>` resp. `<cstddef>`) leads to portability issues, especially with recent compilers like GCC 10+ or Clang 11+. Can be mitigated by using `std::size_t` instead of `size_t`.

**Problem statement**

The codebase often relies on indirect includes from standard library and STL header files to make the `std::size

[2021-07-29 11:37] jngrad commented on #3933
The core team decided to not move forward with this ticket, in an effort to limit the number of non-essential ESPResSo dependencies. The autocorrelation algorithm implemented in `tidynamics` was re-implemented with `scipy` in 662202a6029e492dde04ff816a90f2babfd56439.

[2021-07-29 11:37] #3933 closed, assigned to nobody

[2021-07-29 11:54] jngrad commented on #3565
After discussing the topic with the DaRUS team, we reached the conclusion that DaRUS in its current form wasn't adequate for archiving ESPResSo releases, in comparison to platforms like Zenodo that have more specialized metadata for software.

[2021-07-29 11:54] #3565 closed, assigned to nobody

[2021-07-29 12:17] jngrad commented on #2870
@RudolfWeeber I can't find the code you're referring to in the 4.0, 4.1 and 4.2-dev releases. Is this ticket still relevant?

[2021-07-29 13:29] RudolfWeeber opened #4315 "Verlet list update not tested"
When removing the Verlet update check
`(p.r.p-p.l.p_old).norm2() > (skin/2)^2`
only some lb and dpd tests fail. this means that the Verlet lsit managment ist not tested (effecively) direclty.
In the Python branch, the checks are in the first steps of the various integrators and virtual sites implementaitons.

Necessary steps:
* Centralize the criterion to a single location (extracted from the le_n

[2021-07-29 15:44] RudolfWeeber opened #4316 "algorithm::periodic_fold should check for types"
the implementation
[code]
should check that I is a reference to an integer (and not a pointer to an integer), otherwise the `i<limits:;max()` comparisson is invalid.