[2016-12-02 14:34] RudolfWeeber opened #975 "initialize.cpp:on_boxl_change() is called when the box size isn't changed"
because it is called in dd_on_geomery_change() which is also called for chagned skins and cutoffs

[2016-12-07 16:50] RudolfWeeber commented on #938
I now also wrote a tcl version of the python msd and vacf checker posted in a previous comment.
For the default myconfig and current (tcl) master, I get the correct beahaviour.
Joost, can you please check the script, and then run it with your build and report the results?
On my machine, this runs a few minutes.

Tcl script:
---------------------------------------------------------
set gamma 2.4
se

[2016-12-08 13:51] jonaslandsgesell commented on #577
Yes, I open a new issue for the seed in tcl

[2016-12-08 13:52] jonaslandsgesell opened #978 "Seeding of the PRNG in tcl does not work"
However a new problem has shown up:
In the tcl interface running the following script fails to set the seed in the core to 3, instead the seed 1 is reported from the core.

[code]
(for the python interface seeding works)

[2016-12-08 17:59] jdegraaf commented on #938
Hi Rudolf,

I check this with the version of ESPResSo I was running the tests with and
it did not seem to fail, i.e., they predicted the correct value via
Green-Kubo to within 3%. I ran these with several different feature
combinations. I guess this implies that any problem was due to the
checkpointing. That makes some sense, since I did carefully check the
Langevin thermostat when I made the chan

[2016-12-09 12:43] jdegraaf commented on #904
Hi Rudolf,

I've checked once more the more complicated system. Unfortunately, the strange long-time decay in the VACF is still there in the current python master for which I use the correlator to obtain samples, but I do not use checkpointing:

![latest_python_master_vacf](https://cloud.githubusercontent.com/assets/2853791/21049402/8f139452-be0c-11e6-9d14-789abf73c33b.png)

and the mean value is

[2016-12-13 11:02] #972 closed

[2016-12-27 15:31] jonaslandsgesell opened #984 "running pypresso with mpi is very slow"
this seems to be a problem with my PC only.

[2016-12-27 15:54] #984 closed

[2017-01-12 12:26] #968 closed

[2017-01-16 16:01] mkuron opened #991 "Travis Mac builds: need pre-built boost-mpi libraries from Homebrew"
Currently we rebuild Boost (https://github.com/Homebrew/homebrew-core/blob/master/Formula/boost.rb) with the optional MPI variant during Travis build and cache the resulting binary. That is a hack and it requires manual resubmission of a Travis job whenever Boost releases a new version (see #980).

To solve this problem, a pull request should be filed with @homebrew that makes boost-mpi a separate

[2017-01-18 13:41] lahnerml opened #992 "Undesired behavior in on_geometry_change"
In case that no interaction is defined before the simulation box (or most probably any other simulation parameter) is set in

src/core/domain_decomposition.cpp, line 779

a division by 0 is made as max_range is not yet set.

[2017-01-18 20:31] jonaslandsgesell opened #994 "Documentation H5MD in userguide is outdated"
This seems like a task for the documentation day

[2017-01-19 11:18] fweik commented on #969
I think this is fixed. Please check.

[2017-01-19 11:20] fweik commented on #938
I think we agree that this problem is due to the correlator checkpointing, which is a known (and different) issue. Will close, you can reopen if there is new evidence that this is in fact a separate issue.

[2017-01-19 11:20] #938 closed

[2017-01-19 11:20] fweik commented on #904
See other thread.

[2017-01-19 11:20] #904 closed

[2017-01-19 16:28] KonradBreitsprecher commented on #969
Nope. Same error..

[2017-01-19 16:38] KonradBreitsprecher commented on #969
Ah wait, it's "corner" now.. Works!

[2017-01-19 16:38] #969 closed

[2017-01-25 10:47] fweik commented on #953
After discussion with the original author we decided to remove the feature. The same functionality can be build with ordinary constraints and interactions, which is also more general and more flexible

[2017-01-25 10:58] mkuron commented on #991
#997

[2017-01-27 13:48] #994 closed

[2017-01-29 15:35] KaiSzuttor opened #999 "Circular dependency in _system.pyx, analysis.pyx and actors"
The _system module imports analysis since an instance of Analysis is a member of System,
on the other side the Analysis depends on System since it uses the System as an argument.
We should decide how we want to init those objects.

[2017-01-29 16:44] RudolfWeeber commented on #999
Is this a problem? The import happens at runtime only.
So, to my knowledge, it is legal in Py.

[2017-01-30 03:06] rbardak commented on #999
It's legal, but it is considered bad practice. The garbage collector cannot handle circular referencing objects and leaks in these cases. However it doesn't matter for us because _there can only be one_.

We can always use weak references though, I think they are a built-in feature.

[2017-01-30 08:48] KaiSzuttor commented on #999
Actually I stumbled over this while writing documentation with sphinx. But that's another topic...I'll close this issue for now.

[2017-01-30 08:48] #999 closed

[2017-01-30 12:39] davidsean opened #1000 "more than one thermostat"
Issuing
`thermostat LD 1.0 1.0`
followed by
`thermostat LB 1.0`
will initialize a system with two thermostats.

Although one can use `thermostat off`to turn off the Langevin thermostat before activating the Lattice-Boltzmann thermostat, the expected behavior should be that the latest call to `thermostat` overrides any previous calls.

Although this cannot be changed for legacy reasons, there could

[2017-02-02 14:18] #855 closed

[2017-02-02 14:19] #854 closed

[2017-02-02 14:20] #673 closed

[2017-02-02 14:21] #485 closed

[2017-02-02 14:21] #481 closed

[2017-02-03 11:35] mkuron commented on #991
https://github.com/Homebrew/homebrew-core/pull/9598

[2017-02-06 11:57] davidsean opened #1017 "checkpoint looks for gamma_rotation when not included"
checkpoint.save()
followed by
checkpoint.load()

raises a KeyError: 'gamma_rotation'
note that feature ROTATION  is not enabled.

[code]

[2017-02-06 17:15] hmenke commented on #1000
Fixed in #1001.  Why wasn’t this closed already?

[2017-02-06 17:20] #1000 closed

[2017-02-06 17:58] KaiSzuttor opened #1019 "Checkpoint error when bonded interaction is not initialized"
If you want to load a pickled espressomd.System.part object which includes bonded interactions, an error occurs: 'list' object has no attribute '_bond_id'

[2017-02-08 11:17] davidsean opened #1020 "create_polymer ignores constraints"
`polymer.create_polymer(...., constraints=1)` does not seem to avoid constraints.

The behavior is the same whether I include `type_poly_neutral=0, type_poly_charged=0` or not (in this case constraint has type 0).

I add this, because when i do not specify `type_poly_neutral=0` the particles are of type 1 and it could make sense that it ignores the constraint types that it does not interact with.

[2017-02-10 09:51] fweik opened #1022 "Test lbgpu_remove_total_momentum.py broken"
The lbgpu_remove_total_momentum.py is broken (not tested on travis).
It fails with

[code]

[2017-02-10 09:56] fweik opened #1023 "Jenkins should test the python branch,"
including the CUDA dependent tests that are not run on travis.

[2017-02-10 10:23] fweik commented on #1022
Sorry, tested on wrong branch. Apparently I broke that myself.

[2017-02-10 10:23] #1022 closed

[2017-02-13 08:52] fweik opened #1025 "Bonded IAs should not be ifdefed"
The performance impact of additional bonded IAs is very small if it exists at all, the only effect being that
the Bond_parameters union gets potentially bigger. This is not worth the complexity.

[2017-02-13 11:55] fweik commented on #1020
I took a quick look and it was not obvious to me why this does not work. The code is independent of the interactions (which might in itself be a defect), so this is not an issue with the types.
It checks whether the new monomer is on the same side of the constraint (as determined by the sign of the distance), or not.

[2017-02-13 13:56] #1017 closed

[2017-02-16 10:05] jonaslandsgesell opened #1031 "allow H5MD to write data which are provided by the user through python"
This would be a nice feature and would remove the need to write every observable in the core.

[2017-02-16 16:02] junghans opened #1032 "New release"
Espresso-3.3.1 fail on Fedora with:
[code]
This is fixed in the master version.  Could you guys tag a new release please?

[2017-02-20 06:39] KaiSzuttor opened #1036 "Bonded energy is always zero"
system.analysis.energy()['bonded'] is zero although bonded interactions are set.
[minimal-polymer.py.zip](https://github.com/espressomd/espresso/files/786729/minimal-polymer.py.zip)

[2017-02-20 08:58] KaiSzuttor commented on #974
@KonradBreitsprecher is this resolved?

[2017-02-20 12:20] fweik opened #1038 "Decide faith of immersed boundary method"
This seems very similar to object-in-fluid but contains a lot of code duplication. I tend to remove it. Any objections?

[2017-02-20 13:05] fweik commented on #1038
Also it lacks tests and docs.

[2017-02-20 13:16] rbardak commented on #1038
Dito, everything that lacks tests and docs dies. However, I would ask the mailing list and check whether or not someone is using this feature and if they are willing to write some docs/tests.

[2017-02-20 14:21] #991 closed

[2017-02-22 22:03] KonradBreitsprecher commented on #974
Resolved

[2017-02-22 22:23] junghans commented on #1032
https://bugzilla.redhat.com/show_bug.cgi?id=1307487

[2017-02-23 06:57] KaiSzuttor commented on #974
#970

[2017-02-23 06:57] #974 closed

[2017-02-24 08:19] KaiSzuttor opened #1046 "Using set_random_state_PRNG leads to stucked script."
After using the system.set_random_state_PRNG(), adding an LB fluid does not work.
[lbf.py.zip](https://github.com/espressomd/espresso/files/798676/lbf.py.zip)

 method adding

[2017-02-28 10:38] hmenke commented on #1019
This is not reproducible with the following adapted `minimal-polymer.py`.  The first run generates a checkpoint, the second one loads it (and should crash but doesn’t).
[code]

[2017-02-28 12:05] RudolfWeeber opened #1050 "Re-introducing non-shape based constraints in Py branch"
I'd suggest to use "Constraint" as the name for the base-class to avoid interface change
I.e.: a constraint provides a force and an energy contribution for a single particle
What's currently a constraint (i.e., is based on a distance function) would go in a sub-class of Constraint called ShapeBasedConstraint

Roughly, the following steps would be required.
In src/core/constraints/
Copy the current

[2017-02-28 12:15] KaiSzuttor commented on #1019
I did not say anything about using the checkpoint module of espresso but rather pickling directly the particle object.

[2017-02-28 12:42] hmenke commented on #1019
I don’t see how this is possible.  If I try to pickle the `system.part` object I get an error.
[code]
Error message:
[code]

[2017-03-01 09:29] KaiSzuttor commented on #1019
I used "import dill as pickle". This package is able to pickle the ParticleList object. Sorry for confusion.

[2017-03-01 09:58] hmenke opened #1051 "Restoring checkpoint with LB_GPU fails"
If one tries to restore a checkpointed simulation with an LB_GPU fluid, one tends to be greeted with
[code]
This is due to the fact that the LB_GPU time step is stored as a float but is converted to a double in the interface which then loses precision.  A simple C program to understand the error is:
[code]

The following script reproduces the issue in ESPResSo.
[code]

[2017-03-01 13:50] hmenke commented on #1019
I see.  However, since `ParticleList` is unpickleable I’m closing this as invalid.

[2017-03-01 13:50] #1019 closed

[2017-03-02 09:17] #1036 closed

[2017-03-06 14:32] KaiSzuttor opened #1057 "Rare segmentation fault with P3M."
In very rare situations (in this case after 2e8 integration loops), I get a segfault.
*** Process received signal ***
Signal: Segmentation fault (11)
Signal code: Address not mapped (1)
Failing at address: 0xfffffffc032ea7d0
[ 0] /lib64/libpthread.so.0[0x397b40f7e0]
[ 1] /home/kai/git/espresso/build/src/core/libEspressoCore.so.4(_Z20p3m_do_assign_chargeILi3EEvdPdi+0x38c)[0x7f63878ceb4c]
[ 2] /home

[2017-03-06 15:01] hmenke commented on #1057
Can you provide a stack trace?

[2017-03-06 15:41] KaiSzuttor commented on #1057
I havent performed 2e8 integrations withe the debugger, sorry.

On 6 Mar 2017, at 16:01, Henri Menke <notifications@github.com<mailto:notifications@github.com>> wrote:

Can you provide a stack trace?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/espressomd/espresso/issues/1057#issuecomment-284420256>, or mute the threa

[2017-03-09 09:37] fweik commented on #1057
Typically this happens when particles are out of the box. The p3m assumes that all particles have valid coordinates, and fails if they are not. Could you rerun with ADDITIONAL_CHECKS, iirc this should catch
this.

[2017-03-13 13:35] hmenke commented on #1051
The fix was not enough.
[code]

[2017-03-15 14:22] #1051 closed

[2017-03-16 12:51] hmenke opened #1063 "mol_id breaks checkpointing"
The `mol_id` particle property is default initialized to `-1` which is invalid according to the new interface.  Therefore, running the following script twice will result in the error below.
[code]
Error message:
[code]

[2017-03-29 14:41] KonradBreitsprecher opened #1072 "P3M doesn't check for full periodicity (any more)"
[code]

Returning a Segmentation fault...

[2017-03-31 14:25] RudolfWeeber commented on #1050
#1071

[2017-03-31 15:09] RudolfWeeber opened #1075 "Tabulated bond interpolates incorrectly. State of tabulated non-bonded unclear"
The tabulated bond interpolates for 1/r rather than r. This is especially relevant for r close to 0.
A tentative fix is here. https://github.com/RudolfWeeber/espresso/commit/c84832b64936abe077358d7367f96e519b4bcb92

The state of the tabulated non-bonded IA seems to be unclear
* the tcl test does not actually test the erngy of the tabulated potential against a stored result. It just checks that Esp

[2017-04-05 09:26] helvrud opened #1076 "memory leak while piping to Espresso"
I am sending the commands to Espresso using pipe, like "cat filename.tcl | Espresso"
A also run the file using normal way "Espresso fileneame.tcl".
It works normal in second case and the memory used by Espresso is constant  155 Mb
But in the first case (by using pipe) the memory grows until Espresso gets killed by oom killer.
A test input file is included
[test.txt](https://github.com/espressomd/e

[2017-04-05 15:25] hirschsn opened #1077 "Collision detection possibly wrong"
The three particle bonding code for cellsystem domain_decomposition in collision.cpp (function three_particle_binding_domain_decomposition) in the inner-most loop looks as follows:
[code]
While the first `continue` might make sense, the second and third seem wrong since the formed bonds depend on the ordering of the particles. This code should be reviewed.

[2017-04-05 17:04] jonaslandsgesell opened #1078 "Publish Sphinx Documentation on Github?"
What do you think about putting the sphinx Documentation on github?

Technically this is possible, see e.g.:
https://stackoverflow.com/questions/1553800/how-to-upload-html-documentation-generated-from-sphinx-to-github/1622472#1622472

[2017-04-05 21:10] hmenke commented on #1078
I think this is a good idea.  Actually, I have done this before for Doxygen documentation.

The script to make and publish the docs is here: [`publish_doxygen.sh`](https://github.com/pairinteraction/pairinteraction/blob/master/doc/doxygen/publish_doxygen.sh)

The output can be viewed here: https://pairinteraction.github.io/pairinteraction/

[2017-04-06 08:12] hirschsn commented on #1077
I guess, this might be what was intended:
[code]

[2017-04-06 09:02] hmenke commented on #1076
I cannot reproduce this with the latest master compiled with `maxset.hpp` and the sample input you sent.  For neither variant of the call does `valgrind` report any memory leaks (apart from some verified false positives in OpenMPI and the TCL interpreter).

[2017-04-06 14:54] RudolfWeeber commented on #1077
The parallelizaiotn probably never was correct (aa2ae).
Concerning your suggested changes, I think, they are correct. However,, one needs to make sure that the three particle search actually runs on all nodes. Whether that is the case, is not immediately obvious to me.
The collision-angular.tcl testcase only prints out stuff but never fails.
Also, to test a parallel version, the particles wwould h

[2017-04-10 23:35] hmenke commented on #1076
Please add detailed instructions on how to reproduce.  I am closing this for now.

[2017-04-10 23:35] #1076 closed, assigned to nobody

[2017-04-11 10:11] #1057 closed

[2017-04-11 13:37] helvrud commented on #1078
Yes, please, upload it. Let's make it Google searchable!

[2017-04-12 04:03] hmenke commented on #1078
I now have a tentative version here: https://hmenke.github.io/espresso/

Please tell me if this is what you are after and I will merge it into ESPResSo with permission of the other maintainers.  (I want to merge this myself)

@fweik @rempferg I need access to the [espressomd organization](https://hub.docker.com/r/espressomd/) on DockerHub for this  (My username there is hmenke).

[2017-04-12 08:11] mkuron commented on #1078
So why do we want to do this? The more sensible place would be www.espressomd.org together with the old-but-still-necessary user's guide. I think we may be spreading our stuff across too many places (we've also got the wiki, the developer guide, the tutorials, ...).

[2017-04-12 08:14] hmenke commented on #1078
This one is integrated with Travis.

[2017-04-12 08:57] jonaslandsgesell commented on #1078
Automation is a big point. Also because in the past the userguide pdf was not accessible through the espressomd page. There was constantly some manual work to do in order to be able to view it in the browser.

I think it is much better to have code documentation in the place where you can also find the code. Therefore I would rather drop content from http://espressomd.org and place it on github in

[2017-04-12 09:02] hmenke commented on #1078
I agree with @jonaslandsgesell.  My current solution which only builds Sphinx can be augmented to also make the User Guide PDF, the Developers Guide PDF, and Doxygen and put it all on gh-pages.

[2017-04-12 09:12] mkuron commented on #1078
I don't see how that puts it closer to the code. While it would technically be hosted on Github servers, it would still be at a different URL (http://espressomd.github.io) and there is no extra button that shows up in the top bar of the project page.

[2017-04-12 10:10] hmenke commented on #1078
Okay, I think this should be discussed in an ESPResSo dev meeting, but here is my suggestion:

* Put Sphinx on GitHub pages.
* Link it to http://espressomd.org
* As a next step put the User Guide PDF and the tutorials on GitHub pages.  (Consider Sphinx-ifying the tutorials?)
* The Developers Guide (hopelessly outdated but could be easily Sphinx-ified) and Doxygen can follow.
* Ultimately move http

[2017-04-12 11:50] jonaslandsgesell commented on #1078
@mkuron Of course the documentation should be prominently linked in the Readme.

As a off-topic hint: this link from espressomd.org simply does not work inside the browser. http://espressomd.org/jenkins/job/master-doc/lastSuccessfulBuild/artifact/doc/ug/ug.pdf

[2017-04-12 12:07] mkuron commented on #1078
I agree with all of these points, except for this one:

Ok, the website is terribly outdated and contains little useful content. But that isn't going to change just by moving it elsewhere.

Automation is also important to keep the documentation in sync between repository and website, but for the tutorials user guide PDF, that was dealt with by Jenkins and that worked too.

The main motivation for

[2017-04-12 13:09] davidsean commented on #1046
Seems to only affect the GPU implementation of LBF

[2017-04-13 06:01] KaiSzuttor commented on #1046
You may be right, I haven't checked, but most people using LB are actually using the GPU implementation.

[2017-04-13 06:30] davidsean commented on #1046
Yes, of course. I was hoping my observation could help highlight the cause---which seems to be related strictly to the GPU implementation.

[2017-04-14 10:30] #1050 closed

[2017-04-16 06:27] hmenke commented on #1078
My method now builds *all* documentation including User's Guide, Developer's Guide, Tutorials, Doxygen, and Sphinx and uploads them on GitHub pages.  An overview page is missing so far which is why this cannot be view from `https://hmenke.github.io/espresso/`.

https://github.com/hmenke/espresso/tree/gh-pages/

[2017-04-18 07:54] hmenke opened #1090 "Replace P3M log by Runtime Error Collector"
Currently the P3M writes its tuning stats to a log (which is a dynamically allocated char pointer).  This is not very elegant and can be done much better using the Runtime Error Collector.

---

I tried replacing the errors in the tuning log with `runtimeErrorMsg()` for a start.  However, the tuning loop becomes infinite then (???) and `strace` reports that ESPResSo is doing
[code]
Where the numbe

[2017-04-18 08:37] #1072 closed, assigned to nobody

[2017-04-19 05:30] hmenke commented on #1038
I'm very much in favour of removing stray features.  Please do this.

[2017-04-19 05:32] hmenke opened #1091 "Decide faith of Stokesian Dynamics (SD)"
I'm pretty sure nobody ever used this.  It is not part of any predefined feature set (like `maxset.hpp`), has no tests, no Python interface, and it is unkown whether this even compiles.  Please remove.

[2017-04-19 11:05] davidsean commented on #1046
Two things worth noting:

1. The problem may be related to an integer overflow. In `set_random_state_PRNG()` changing the line
`states_on_node_i.append(rng.randint(0, sys.maxint))
`
to
`states_on_node_i.append(rng.randint(0, 2**31-1))
`
seems to fix it for me. Perhaps sys.maxint is too big for whatever occurs later in the core.

2. On a perhaps related note (or different bug?), manually setting th

[2017-04-19 11:31] davidsean commented on #1046
Yet another possibly related issue (or different bug?).

The value the last integer when `system.random_number_generator_state` is called is always the same after being seeded by an arbitrary single value `system.seed=...`

[2017-04-24 07:50] #1046 closed

[2017-04-24 10:44] hmenke commented on #1078
Is there any progress on this?

[2017-04-26 02:38] hmenke commented on #613
What is the exact task here?  Do you want to always build unit tests but run them only on one compiler, or do you want to build and run tests only on one compiler?

[2017-04-26 07:51] jonaslandsgesell commented on #1078
I would like to see this merged. I like the idea

[2017-04-26 08:05] mkuron commented on #1078
The maintainers never chimed in to this discussion. Perhaps you should bring it up at tomorrow's meeting.

[2017-04-26 08:06] mkuron commented on #613
He meant the former. Though we still need to run the tests once with Python 2 and once with Python 3 on both Mac and one Linux platform to ensure that all the linking etc. works.

Since we are actually primarily running different myconfigs now and not different compilers, I think this issue can now be closed. The only duplication is that we run myconfig=maxset with both Debian and Ubuntu since the

[2017-04-26 10:37] hmenke commented on #613
I agree that CentOS and openSUSE are valid build targets, however, I think we are already wasting more than enough build minutes.  Travis should convert this directly to CO2, so users can see the impact.

[2017-04-26 10:37] #613 closed

[2017-04-26 13:22] RudolfWeeber commented on #958
I was going to implement this. However, as we now moved to sphix documentation, there is a catch.

If this is implemented as suggested above, the individual properties of
ParticleSlice
such as
ParticleSlice.pos
do not have docstrings anymore.
We can either
1. decide to accept this drawback, and put a remark into the class docstring, that all properties of ParticleHandle are available. This would r

[2017-04-26 13:38] fweik commented on #958
I'm in favor of 1

[2017-04-26 15:15] mkuron commented on #958
Can docstrings be set programmatically? I seem to recall that @fweik ran into an issue there, but since this is Python, there must be a way to do it.

[2017-04-26 15:34] fweik commented on #958
No, they can not. The reason is that they are typically read on module load.

[2017-04-27 09:53] mkuron commented on #958
Are you sure? A (simplified) test works:

docstr.py:
[code]

test_docstr.py:
[code]

[2017-04-27 10:04] hmenke commented on #958
@mkuron Does this also work in Sphinx?

[2017-04-27 10:14] mkuron commented on #958
Doesn't Sphinx just import all modules and use introspection to read the docstrings?

I'll test it if you tell me how I can run Sphinx on a single Python file.

[2017-04-27 12:50] RudolfWeeber commented on #958
One can probably popoulate the docstrings at module load.
However, I did not manage to add properties to a class programatically, the way methods can be added:

class C:
  pass

def gen_method(name):
  def method(self):
    return name
  method.__doc__ ="Docstring for "+name
  return method

for mname in "a","b","c":
  method=gen_method(mname)
  setattr(C,mname,method)

c=C()
print c.a(),c.b(),c.c

[2017-04-27 13:09] mkuron commented on #958
Your indentation got broken by GitHub, I've cleaned it up:
[code]

Actually, since properties are just special kinds of methods, you can add them just as easily:

[code]

[2017-04-27 13:34] RudolfWeeber commented on #958
So that means, we can populate the ParticleSlice class at module load time
with auto-generated properties, and sphinx will probably scan it.

[2017-05-03 16:50] RudolfWeeber opened #1101 "ScriptInterfaceHelper.__getattr__ fails with Python3"
This was not noticed, because until #1100, no test case uses attribute retrieval on script objedcts without get_parmas()
The cause is that __getattr__ uses a string ("") for the attribute name,
whereas in Python3, PScriptInterface.valid_parameters() contains byte literals (b""),
probably, because that's what cython converts c++ strings into.

Test code:
import espressomd
from espressomd.shapes imp

[2017-05-03 18:37] mkuron commented on #1101
The byte literal should never be passed to Python. `espressomd.utils.to_str()` should be used in the interface code (right where the string is obtained by calling a a C++ function) to handle the conversion if it is needed.

[2017-05-04 11:23] #1101 closed, assigned to nobody

[2017-05-04 13:04] hirschsn commented on #1077
Actually, the checks for p1 and p2 might be superfluous because in the very same function it is ensured that `(local_particles[gathered_queue[id].pp1] != NULL) && (local_particles[gathered_queue[id].pp2] != NULL)`. So the question is really: should p1 and p2 be bonded if P is ghost or not.

[2017-05-05 11:54] RudolfWeeber commented on #1078
http://espressomd.github.io/doc

[2017-05-05 11:54] #1078 closed, assigned to hmenke

[2017-05-05 12:07] #1038 closed

[2017-05-05 12:08] #1023 closed

[2017-05-05 12:27] RudolfWeeber opened #1104 "Add doxygen stuff to doc repo"

[2017-05-05 12:32] RudolfWeeber opened #1105 "Functional tests for python"
Based on http://espressomd.org/wiki/Coding_day_2016_functional_tests

[2017-05-05 12:48] RudolfWeeber opened #1106 "actors.pyx"

[2017-05-05 12:48] RudolfWeeber opened #1107 "analyze.pyx"

[2017-05-05 12:48] RudolfWeeber opened #1108 "cellsystem.pyx integrate.pyx"

[2017-05-05 12:48] RudolfWeeber opened #1109 "checkpointing.py"
Documentation is bad/missing. Docstrings missing.

[2017-05-05 12:48] RudolfWeeber opened #1110 "constraints.py"

[2017-05-05 12:48] RudolfWeeber opened #1111 "correlators.py / observables.pyx"

[2017-05-05 12:48] RudolfWeeber opened #1112 "cuda_init.pyx"

[2017-05-05 12:48] RudolfWeeber opened #1113 "electrostatic_extensions.pyx electrostatics.pyx"

[2017-05-05 12:48] RudolfWeeber opened #1114 "galilei.pyx"

[2017-05-05 12:48] RudolfWeeber opened #1115 "grand_canonical.pyx"

[2017-05-05 12:48] RudolfWeeber opened #1116 "interactions.pyx"

[2017-05-05 12:48] RudolfWeeber opened #1117 "lbboundaries.py lb.pyx ekboundaries.py electrokinetics.pyx"

[2017-05-05 12:48] RudolfWeeber opened #1118 "magnetostatic_extensions.pyx magnetostatics.pyx"

[2017-05-05 12:48] RudolfWeeber opened #1119 "minimize_energy.pyx"

[2017-05-05 12:48] RudolfWeeber opened #1120 "particle_data.pyx"

[2017-05-05 12:48] RudolfWeeber opened #1121 "polymer.pyx diamond.pyx"

[2017-05-05 12:48] RudolfWeeber opened #1122 "reaction.pyx"

[2017-05-05 12:48] RudolfWeeber opened #1123 "scafacos.pyx"

[2017-05-05 12:48] RudolfWeeber opened #1124 "script_interface.pyx"

[2017-05-05 12:48] RudolfWeeber opened #1125 "shapes.py"

[2017-05-05 12:48] RudolfWeeber opened #1126 "_system.pyx"

[2017-05-05 12:48] RudolfWeeber opened #1127 "thermostat.pyx"

[2017-05-05 12:48] RudolfWeeber opened #1128 "utils.pyx"

[2017-05-05 12:48] RudolfWeeber opened #1129 "visualizationMayavi.pyx visualizationOpenGL.pyx visualization.pyx"

[2017-05-05 12:48] RudolfWeeber opened #1130 "dg: script interface"

[2017-05-05 12:48] RudolfWeeber opened #1131 "dg: bonded interactions"

[2017-05-05 12:57] KaiSzuttor commented on #1078
no, its now http://espressomd.org/html/doc/

[2017-05-05 13:15] RudolfWeeber opened #1132 "Get rid of _espresso subdir in src/python/espressomd"
It only contains globals.pxd, and in the build, myconfig.pxi.
I don't see, why they cannot be in the espressomd directory.
(Involves changes to CmakeList.txt)

[2017-05-05 13:23] KaiSzuttor commented on #1132
I will have a look.

[2017-05-05 13:42] davidsean commented on #1110
Dibs!

[2017-05-05 14:40] etzaras commented on #1125
I'd like to do this one!

[2017-05-05 18:11] KonradBreitsprecher commented on #1129
I 'll take care of that.

[2017-05-07 22:04] jonaslandsgesell commented on #1128
I take care of this

[2017-05-07 22:34] hmenke commented on #1122
This file already has docstrings, see http://espressomd.org/html/doc/espressomd.html#module-espressomd.reaction

[2017-05-08 07:42] pkreissl commented on #1118
I'll take care of this one.

[2017-05-08 07:58] richter-t commented on #1121
I claim this one

[2017-05-08 08:18] RudolfWeeber opened #1134 "Sort out sphinx documents for features that cannot be built together"
Sphinx uses introspection to get the doc strings from the python moduels.
Hence, modules not being built due to missing myconfig.hpp features are not included in the doc.
We build the doc based on the maxset features set.

[2017-05-08 08:19] RudolfWeeber opened #1135 "Debye Hueckel and Coulomb Debye Hueckel should be usable at the same time"
#1134

[2017-05-08 08:20] RudolfWeeber commented on #1134
#1135

[2017-05-08 08:27] RudolfWeeber opened #1137 "What to do about different thermostat noise distributions?"
By means of compile time switches, one can chose from uniform, Gaussian and cutoff Gaussian distributions.
This is not documented nad requires separate CI builds.
Is this actually relevant for anyone? Do we keep it?

[2017-05-08 08:28] RudolfWeeber opened #1138 "Decide fate of EK_REACTION"

[2017-05-08 08:30] RudolfWeeber commented on #1138
Activating it results in a compile time error that it has not been adjusted to the new lb boundaries.
Do you still plan to do this, or should the feature be removed?

[2017-05-08 08:49] RudolfWeeber opened #1139 "Implement Python support for IMMERSED_BOUNDARIES"

[2017-05-08 08:54] RudolfWeeber opened #1140 "Implement Python support for LEES_EDWARDS"
It should also be possible to switch it on or off in the script, so we can remove the comiler switch and test it in maxset.
It would also be interesting to see, whether the resort_particle in every time step can be replaced by sth more relaxed.

[2017-05-08 08:55] davidsean commented on #1114
got this one

[2017-05-08 08:59] RudolfWeeber opened #1141 "Implement Python support for OBJECT_IN_FLUID"

[2017-05-08 09:05] KaiSzuttor commented on #1126
me

[2017-05-08 09:06] RudolfWeeber opened #1142 "Decide fate of Metadynamics"

[2017-05-08 09:08] RudolfWeeber opened #1143 "Decide fate of MOL_CUT"
It does not have docs. What does it do?

[2017-05-08 09:09] RudolfWeeber opened #1144 "Implement Python support for MULTI_TIMESTEP"

[2017-05-08 09:11] RudolfWeeber opened #1145 "Does ChanChen (gpu) alter the behaviour of the gpu lb"
I.e., can we include it in the maxset config?

[2017-05-08 09:12] RudolfWeeber opened #1146 "Decide fate of UMBRELLA"
Does not have docs

[2017-05-08 09:13] RudolfWeeber opened #1147 "Implement python support for CONFIGTEMP"

[2017-05-08 09:22] RudolfWeeber opened #1148 "Decide fate of BOND_CONSTRAINTS (rattle)"

[2017-05-08 09:25] RudolfWeeber commented on #1134
The tenative outcome is the following:

No Python support, may still be incomatible with other featues:
  Misc:
    BD
    CONFIGTEMP #1147
    EK_REACTION #1138
    IMMERSED_BOUNDARY #1139
    LEES_EDWARDS #1140
    METADYNAMICS #1142
    MOL_CUT #1143
    MULTI_TIMESTEP #1144
    SHANCHEN #1145
    UMBRELLA #1146

  Dpd related: #943
    DPD
    DPD_MASS
    DPD_MASS_LIN
    DPD_MASS_RED
    INT

[2017-05-08 09:42] jonaslandsgesell commented on #1147
@tbereau Would you like to bring the documentation you provided (#725) to shpinx?

[2017-05-08 09:46] jonaslandsgesell commented on #1127
I have a look on it

[2017-05-08 10:20] RudolfWeeber opened #1150 "CMAKE: the build rule for code_info.pyx should trigger, if features.def has changed"

[2017-05-08 10:29] davidsean commented on #1120
I give give this a try

[2017-05-08 10:29] richter-t commented on #1121
Updated the documentation for polymer and diamond #1151

[2017-05-08 10:38] RudolfWeeber opened #1154 "Sphinx documentation lost for decorated classes"
Will affect all script_interface based classes after #1100 is merged

[2017-05-08 10:51] RudolfWeeber commented on #1154
@kaiszuttor
http://stackoverflow.com/questions/32828446/sphinx-decorated-classes-not-documented

[2017-05-08 11:00] richter-t commented on #1119
this is also part of pull request: #1151

[2017-05-08 11:12] RudolfWeeber opened #1155 "Constructor of PScriptInterface creates a new script object even if it is supposed to refer to an existing one"
E.g. when getting the Shape object out of a ShapeBasedConstraint
In that case, set_sip() will be called later, and the script object created in the constructors of the PScriptInterface class will go out of scope.
This might result in performance problems, if many objects are instanced or parameter setting in the core is slow.

[2017-05-08 11:34] etzaras commented on #1112
On it.

[2017-05-08 12:20] RudolfWeeber commented on #1134
Regarding the stuff to be included (previous comment):

All the BOND_ANGLE_SOMETHING features are legacy stuff not present in the Python interface.
there is a pr open to remove them entirely #1153

H5MD is an external dependency, which is compiled in if available. So nothing to do, as well.
SCAFACOS doc is also compiled in, if it is available.
We should probably change the version on the CI server

[2017-05-08 12:58] jonaslandsgesell commented on #1127
Documentation is there. This can be closed. There is only the problem with the decorators which break documentation, see #1154

[2017-05-08 13:51] jonaslandsgesell commented on #1109
Documentation in the code is there. Documentation in io.rst is there but is not really readable.

[2017-05-08 16:19] richter-t opened #1162 "Sphinx In-Code Documentation"
There seems to be no solution to reference a method that was inhereted from a base class.
For example the UG trys to refer to :meth:\`espressomd.electrostatics.P3M.Tune\` in the description of the P3M coulomb solver, but this symbol is not created in the list of modules, since this was originally defined in the object ElectrostaticInteraction.

[2017-05-08 16:41] KaiSzuttor commented on #1162
http://stackoverflow.com/questions/40508492/python-sphinx-inherit-method-documentation-from-superclass

[2017-05-08 16:47] RudolfWeeber opened #1163 "Twice defiend name of bonded interactions"
Once in src/core/interaction_data.cpp: get_name_of_bonded_ia()
Once in the python interface, where sub-classes of BondedInteraction define a type_name() method.

Probably, the one in the core should stay (and be checked for completeness) and the BondedInteraction base class should get the information from the core.

[2017-05-08 16:55] RudolfWeeber opened #1164 "Implement auto exclusions in Python"

[2017-05-08 17:20] richter-t commented on #1162
This looks utterly complicated and solves the problem by pythonic hacks. If sphinx could automatically do the job...

[2017-05-08 17:21] RudolfWeeber opened #1165 "Get rid of the (nearly) copy of the bonded force calculatino in the pressure/virial calculation."
the one for forces lives in forces_inline.hpp:add_bonded_pair_force()
the one for virials in pressure.hpp:calc_bonded_pair_force()
It is not immediately clear if the second one is complete.

Getting rid of the one in the pressure calculations requires the particles used in the force calculation be const, so that we can be sure bonded interactions do not secretly modify them.
Then, bonded interacti

[2017-05-08 17:22] richter-t commented on #1113
At least updated some of the available documentation for several methods see Pull request #1151

[2017-05-08 18:22] KaiSzuttor commented on #1162
I think thats not the job of sphinx... You also don't get the docstring of inherited members from within python.

[2017-05-08 22:23] #1132 closed, assigned to KaiSzuttor

[2017-05-08 22:25] #1128 closed, assigned to jonaslandsgesell

[2017-05-09 13:23] fweik opened #1169 "Ewald gpu is broken"
or the testcase. Test fails with
[code]

[2017-05-09 14:10] fweik opened #1170 "ImmersedBoundaries does not work with LB_BOUNDARIES_GPU"
Was forgotten in the refactoring

[2017-05-09 18:26] KaiSzuttor opened #1172 "cufft usage not CUDA 8 compatible"
The cuda based methods like ewaldgpu and p3m are not compatible with CUDA toolkit 8.

[2017-05-10 12:04] RudolfWeeber commented on #1162
Numpydoc seems to support that. At least, there is a
numpydoc_show_inherited_class_members
option.

[2017-05-10 12:41] #1125 closed, assigned to etzaras

[2017-05-11 10:43] RudolfWeeber opened #1174 "Python object to variant conversion does not handle numpy float types"
e.g. `np.sqrt(0.1**2+0.11**2+0.12**2)` is not converted to a double

[2017-05-11 13:32] #958 closed

[2017-05-11 13:36] mkuron commented on #1154
If it's really caused by that, it is simple to fix. No need for custom documenter classes, just try applying this patch:
[code]

[2017-05-11 23:17] #1118 closed, assigned to nobody

[2017-05-12 14:57] fweik opened #1178 "mass and rinertia per particle has random failures"
Everyone's favorite test case has random failures, probably because the sampling time is to short.

[2017-05-12 14:59] #1154 closed, assigned to nobody

[2017-05-12 15:16] mkuron commented on #1127
Please close, fixed by #1176.

[2017-05-12 15:22] #1127 closed, assigned to nobody

[2017-05-15 11:54] RudolfWeeber commented on #1148
The python interface is impleneted via a bonded interaction.
Needs a test case to see, whether it works

[2017-05-15 12:04] RudolfWeeber commented on #1143
@junghans Could you comment on what this feature does?
Does it have a usecase without ADRES?

[2017-05-15 12:07] RudolfWeeber commented on #1142
Probably, a Python itnerface should be implemented
* Setter for the 2 partile ids for which the distance is the reaction coordinate
* Read access to global containing the entropic force profile

[2017-05-15 12:07] RudolfWeeber commented on #1141
@icimrak

[2017-05-15 12:08] fweik commented on #1138
@rempferg ?

[2017-05-15 12:10] RudolfWeeber commented on #1137
Unless someone supplies good arguments for keeping it until 1st of June, this will be removed

[2017-05-15 12:14] #1131 closed, assigned to RudolfWeeber

[2017-05-15 12:16] #1122 closed, assigned to hmenke

[2017-05-15 12:16] #1121 closed, assigned to nobody

[2017-05-15 12:17] #1119 closed, assigned to nobody

[2017-05-15 12:18] #1112 closed, assigned to nobody

[2017-05-15 12:28] RudolfWeeber commented on #978
No longer fixing tcl related issues

[2017-05-15 12:28] #978 closed

[2017-05-15 12:32] RudolfWeeber commented on #950
duplicate

[2017-05-15 12:32] #950 closed

[2017-05-15 12:32] #774 closed

[2017-05-15 12:33] RudolfWeeber commented on #949
Duplicate

[2017-05-15 12:33] #949 closed

[2017-05-15 12:33] #882 closed

[2017-05-15 12:33] #946 closed

[2017-05-15 12:34] fweik commented on #1172
Duplicate of #918.

[2017-05-15 12:34] #1172 closed, assigned to nobody

[2017-05-15 12:35] RudolfWeeber commented on #931
@rempferg is this still the case?

[2017-05-15 12:35] #898 closed

[2017-05-15 12:36] #897 closed

[2017-05-15 12:37] #874 closed

[2017-05-15 12:38] #879 closed

[2017-05-15 12:38] #747 closed

[2017-05-15 12:50] RudolfWeeber commented on #825
As this is undocumented and has no test case, it will probably be removed,
unless someone commits to working on this code by 1st of June.

[2017-05-15 12:54] RudolfWeeber commented on #653
825ghi close

[2017-05-15 12:55] #581 closed

[2017-05-15 12:56] RudolfWeeber commented on #577
Tcl. Won't fix

[2017-05-15 12:56] #577 closed

[2017-05-15 12:58] #482 closed

[2017-05-15 12:58] #480 closed

[2017-05-15 12:58] #463 closed

[2017-05-15 12:59] #460 closed

[2017-05-15 12:59] #454 closed

[2017-05-15 13:00] #409 closed

[2017-05-15 13:06] RudolfWeeber commented on #271
Will be rmoved unless someone commits to wokring on it until 1st of June.

[2017-05-15 13:07] RudolfWeeber commented on #269
Will be rmoved unless someone commits to wokring on it until 1st of June.

[2017-05-15 13:10] #267 closed

[2017-05-15 13:13] RudolfWeeber commented on #266
Seems to be duplicate of rdf. Will be removed

[2017-05-15 13:15] #262 closed

[2017-05-15 13:15] #261 closed

[2017-05-15 13:18] RudolfWeeber commented on #257
Will be rmoved unless someone commits to wokring on it until 1st of June.

[2017-05-15 13:20] RudolfWeeber commented on #255
Should be merged with inertia tensor. And an observable at that

[2017-05-15 13:22] RudolfWeeber commented on #252
This is now implemented via observables/correlators. Will be removed

[2017-05-15 13:25] RudolfWeeber commented on #242
Implemented as observable. Will be removed

[2017-05-15 13:25] #241 closed

[2017-05-15 13:26] RudolfWeeber commented on #240
Replaed by Python one-liner

[2017-05-15 13:26] #240 closed

[2017-05-15 13:27] RudolfWeeber commented on #233
Duplicate

[2017-05-15 13:27] #233 closed

[2017-05-15 13:27] #230 closed

[2017-05-15 13:28] RudolfWeeber commented on #228
@rempferg

[2017-05-15 14:30] junghans commented on #1143
`MOL_CUT` determines the cutoff based on the distance of the centers of masses of two molecules instead of distance of two individual atoms.

Only use case outside AdResS I could think of is to avoid dipole moment errors for a purely short-range  Coulomb interaction (e.g. Reaction field).

[2017-05-15 14:30] junghans commented on #1143
If you don't want to support the latter, just drop `MOL_CUT`.

[2017-05-17 13:39] mkuron opened #1181 "Pickle checkpoints are not compatible between versions"
Reported by @jdegraaf in https://lists.nongnu.org/archive/html/espressomd-users/2017-05/msg00001.html

#1176 broke loading old checkpoints as new-style classes pickle differently than old-style classes. The situation is illustrated by the following code snippet:
[code]
The above is a one-off problem as we have now completed the transition to new-style classes. The underlying issue however can occu

[2017-05-17 13:57] jdegraaf commented on #1181
Dear All,

I have the following suggestion, based on Michael's analysis and comments

1. We can accept that checkpoints are version-specific. This means that
checkpoint.load should display a warning if a checkpoint from a different
version is loaded.

Perhaps a quick (temporary) fix, is to put the version in the checkpoint
and have a check to see if the checkpoint was generated with another
versio

[2017-05-18 22:57] hmenke commented on #1181
To be honest, none of the proposed solutions is clean.  Actually, I would say, that as long as ESPResSo 4.0 is not released we might introduce breaking changes at any point.  On the other hand, in this particular case it would be very handy to have some kind of migration script which loads the pickle dump, replaces the affected classes and pickles it back, so that it can be used again.

[2017-05-19 05:19] mkuron commented on #1181
The trouble is that it is not always obvious which changes are breaking. It cannot be detected automatically and there is no recipe that code reviewers could follow. Therefore, we must treat the checkpoint format as fragile even within a release branch.

A migration script for this specific case would require a non-executing parser for the pickle protocol. It is not a matter of just doing textual

[2017-05-19 10:00] jdegraaf commented on #1181
For now, I have just restarted the runs, so conversion is not really
necessary anymore. It's also a matter of time-investment, just how long is
it going to take to convert all the stuff, versus rerunning, plus knowing
for certain that the reruns are without any issues. Thanks for the
suggestion though.

On 19 May 2017 at 06:19, Michael Kuron <notifications@github.com> wrote:

[2017-05-22 16:06] RudolfWeeber opened #1184 "Intersphinx would be desirable to link between different rst files"

[2017-05-23 17:26] RudolfWeeber opened #1185 "espressomd.has_featues silently fails when passing a single feature"
has_features("EXCLUSIONS") -> False
has_features(("EXCLUSIONS",)) -> True

In my opinion, the 1st syntax should be supported. If it isn't, it should throw an exception.

[2017-05-24 12:42] #1185 closed, assigned to hmenke

[2017-05-24 16:20] #1143 closed, assigned to nobody

[2017-05-26 14:30] #1178 closed, assigned to nobody

[2017-05-30 11:28] fweik commented on #947
Also the current implementation works only on a single core.

[2017-06-07 12:27] #956 closed

[2017-06-07 15:52] RudolfWeeber opened #1195 "Python testsuite not run in parallel"
The test suite seems to be run only on a single core on Travis. It is also not clear to me, whether the CMAke based testsuite even allows for running the tests in parallel.

[2017-06-07 16:07] fweik commented on #1195
Yes it does, and we use to have that for tcl. (cf. https://github.com/espressomd/espresso/blob/master/testsuite/tcl/CMakeLists.txt)

[2017-06-12 16:55] kosovan opened #1198 "segmentation fault when trying to add bond with no bonded interactions defined"
I think that this should raise an exception or produce an error message.

Minimal working example:

import espressomd as es;
fene = es.interactions.FeneBond(k=30.0, d_r_max=1.5);
system=es.System();
\# uncomment the line below to recover normal behaviour
\# system.bonded_inter.add(fene)
system.part.add(id=0, pos=[0.0, 0.0, 0.0], type=0);
system.part.add(id=1, pos=[1.0, 0.0, 0.0], type=0);
system.p

[2017-06-13 15:20] RudolfWeeber opened #1199 "HDF5 feature not deactivated when git clone of h5xx fails"

[2017-06-14 08:09] #1198 closed, assigned to nobody

[2017-06-14 10:11] RudolfWeeber opened #1202 "Silence numpy deprecation warning during compilation"
it is my understanding that this is a Cython issue, not an Espresso one.

[2017-06-14 10:25] sgekle opened #1203 "Bug with particle advection in LB code?"
Based on the poiseuille flow tutorial, I created a modified version which includes a particle (attached).
If kT=0, in my view, the particle should be advected by the fluid. It is not, for some reason.
Setting kT=1e-4, some advections sets in. Setting kT=1e-3, advection increases.

Should the advection not always take place independent of kT? Is this a bug or am I missing something?

[poiseuille_mo

[2017-06-19 20:48] RudolfWeeber commented on #1077
Confirmed by the test in testsuite/python/collision_detection.py in
http://github.com/RudolfWeeber/espresso, py_collision_detection branch.
The test for three particle binding passes on one core and fails for higher numbers of core due to missing bonds.

[2017-06-21 08:22] #1202 closed, assigned to hmenke

[2017-06-21 11:49] fweik opened #1207 "Irregluar failures of ICC test case on macOS"
The icc test case fails sometime on macOS with python3.

[2017-06-21 12:32] mkuron commented on #1207
The failures on 708245595706f863f3d34ba9632fa30d23ae5d71 were due to Homebrew download issues. These appear to have been temporary and no longer occur.

The other failures are real though and seem to affect Python 2 and 3. They seem to have started at the time @KonradBreitsprecher's #1193 was merged. Some backtraces are below, but it doesn't look like a Mac-specific issue to me. Most likely, unass

[2017-06-21 12:37] fweik commented on #1207
I think the issue turned up with #1193 because this code path was not tested before. I'm currently looking into this.

[2017-06-22 11:16] rempferg commented on #1203
What you describe is not the expected behavior. The advection should be independent of kT. I can reproduce your problem on the GPU.

[2017-06-22 12:16] rempferg commented on #1203
The fluid velocity in the output seems independent of kT, but the value of interpolated_u used in calc_vicous_force seems to scale with kT.

[2017-06-22 12:21] rempferg commented on #1203
I believe you placed the particle in the wall with

     `system.part.add(id=0, pos=[5,0,0])`

replace that with

     `system.part.add(id=0, pos=[5,5,5])`

to obtain the expected advective behavior. The LB fluid in the wall follows twilight zone physics for performance reasons.

[2017-06-22 12:21] #1203 closed, assigned to nobody

[2017-06-23 08:39] mkuron commented on #1207
It's some out-of-bounds access, but seems to fail only in ~20% of cases. Running it in LLDB always triggers this one first:
[code]

I tried to use address sanitizer to see where that comes from, but that would have required me to recompile the Python interpreter and NumPy too... Were you able to reproduce the issue on Linux?

[2017-06-23 10:13] mkuron commented on #1207
Allright, it seems like `p3m.ca_num` is sometimes 32, even though it should always be 224 for this test case. Unfortunately, I do not understand where in the P3M code that size is coming from.

[2017-06-23 10:53] fweik commented on #1207
No I could not reproduce this. I found another issue, but I believe it is unrelated.

[2017-06-23 14:15] #362 closed

[2017-06-23 15:10] fweik commented on #1207
The other issue was #1209, but I don't think it's related.

[2017-06-29 14:46] jonaslandsgesell opened #1212 "Analysis.calc_rg(...,chain_length=x) segfaults instead of throwing an error message"
Wrong Alarm

[2017-06-29 16:57] #1212 closed, assigned to nobody

[2017-06-30 13:38] KonradBreitsprecher opened #1214 "Interface exception message "Set particle position first." misleading"
I did not check all of them, but some of the errors that say _"Set particle position first"_ thrown on failed particle property changes have nothing to do with the positions. We should run through the `set_particle..() `methods in particle_data.cpp and give meaningful error messages. Most of them are _"Particle with ID xyz does not exists"_ I think.

[2017-06-30 13:56] KonradBreitsprecher opened #1215 "Leaking memory for exclusions"
[code]
causes

![image](https://user-images.githubusercontent.com/3974659/27738451-a87dfbfa-5dab-11e7-9ee3-1df362658ea4.png)

All good without the `exclude` property. So I guess it's related to allocation of exclusion lists.

[2017-06-30 14:17] kosovan opened #1216 "unexpected len(system.part) when deleting a particle in the middle of id range"
When I delete a particle in the middle of the id range of already existing particles, len(system.part) decreases by one. Its return value then refers to the number of existing particles but not to the actual length of the python array system.part. This is confusing. See also the attached script.
[delete.txt](https://github.com/espressomd/espresso/files/1115417/delete.txt)

[2017-06-30 14:19] RudolfWeeber commented on #1214
On Fri, Jun 30, 2017 at 01:38:14PM +0000, KonradBreitsprecher wrote:

My understanding is the following:
s.part[i].anything for i=invalid id
raises an exception that the particle does not exists. This is thrown by the __getitem__ of the ParticleList.

When adding a new particle, the Python interface will always set the position first, because only then it is determined, which node has the particle

[2017-06-30 14:54] KonradBreitsprecher commented on #1214
I got this while setting an exclusion to a non-existing particle id. Could not find it elsewhere other than accessing a invalid id though. The node argument makes sense, but maybe something like "Particle id invalid or position not set" would be more clear.

[2017-06-30 14:54] RudolfWeeber commented on #1216
On Fri, Jun 30, 2017 at 07:17:47AM -0700, Peter Kosovan wrote:

system.part is not an array. Rather, view it as dictionary, i.e., id->particle mapping.
Also, len(system.part) and the iterator
for p in system.part:
   pass
need to be consistent.

You probably need system.part.highest_particle_id

[2017-06-30 15:00] kosovan commented on #1216
I am sorry for the confusion. Please ignore my comment and thank you for the explanation.

[2017-06-30 15:00] #1216 closed, assigned to nobody

[2017-06-30 18:12] mkuron commented on #1207
It seems like the Travis tests are passing again. Did anything change?

[2017-07-03 16:29] kosovan opened #1219 "if skin is not set by the user, integrator may fail after tuning p3m"
The reason is that if skin is not set, then python_integrate() tries to guess the optimum skin as `0.4*max_cut` and goes out of bounds if `0.4*max_cut>max_skin`.

If tuning of p3m sets too big value of max_cut, this guess becomes greater than max_skin for the given parameter set and generates an error. When I manually set the p3m parameters to the same values as determined by tuning, everything wo

[2017-07-03 16:51] #1215 closed, assigned to nobody

[2017-07-05 10:57] fweik commented on #1155
Looks to me like this is fixed?

[2017-07-05 11:01] fweik commented on #1148
IIRC our last discussion of this we came to the conclusion that there is no advantage of rattle/shake over virtual sites.

[2017-07-07 15:48] #1207 closed, assigned to nobody

[2017-07-13 08:27] #1219 closed, assigned to nobody

[2017-07-15 18:58] #1147 closed, assigned to nobody

[2017-07-19 09:50] fweik opened #1228 "P3M forgetts parameters"
@kosovan  was pointing out to me that If P3M parameters are set before adding the actor,
they are not saved:

[code]

[2017-07-25 08:49] fweik opened #1229 "Use python unit test framework"
for integration tests instead of ctest to better handle skipped tests.

[2017-07-25 08:54] fweik opened #1230 "Migrate tutorials to ipython notebooks"
maybe

[2017-07-25 13:29] rempferg opened #1233 "analyze pressure documented incorrectly"
system.analysis.pressure()['total'] does not include ideal part of pressure. system.analysis.stress_tensor()['total'] does include the ideal part. The documentation claims they both do.

It makes sense to leave out the ideal part from the pressure to make the hydrostatic pressure available to the user, but it should be documented as such.

[2017-07-25 14:12] RudolfWeeber opened #1235 "Merge particle flags into one bitfield"
virtual, translational fix, rotational fix, ghost_flag, etc.

[2017-07-25 14:32] RudolfWeeber commented on #1233
I don't think, leaving it out was intended. Total should be total. The ideal pressure/stress tensor is available separately, and if one needs to substract it, that can be done.

[2017-07-25 16:27] fweik commented on #1233
The ideal pressure should be in pressure()['total'], and it should hold that Tr[stress_tensor()] == pressure()['total']. This can be done by changing the interface.

[2017-07-26 09:24] RudolfWeeber opened #1238 "ScriptInterface: cannot set global script objects as parameter of local ones"
E.g. ClusterStructure (github.com/RudolfWeeber, branch py_cluster_analysis) needs to
have creation policy LOCAL, whereas the PairCriterion it uses does not have to be LOCAL
and may be used by other global script objects.

To reproduce, fetch the branch mentioned above, set creation policy of PairCriterion (pair_criteria.py) to local and run the cluster_analysis.py test case.

[2017-07-26 10:29] RudolfWeeber opened #1239 "Lbgpu does not compile with clang++ 4.0"
(on icp)
[ 19%] Building CXX object src/core/CMakeFiles/EspressoCore.dir/lb.cpp.o
/home/weeber/espresso-dev/src/core/lb.cpp:785:24: error: non-constant-expression cannot be narrowed from type 'unsigned int' to 'int' in initializer list [-Wc++11-narrowing]
            bb_high = {lbpar_gpu.dim_x-1, lbpar_gpu.dim_y-1, lbpar_gpu.dim_z-1};
                       ^~~~~~~~~~~~~~~~~
/home/weeber/espresso-

[2017-07-26 10:50] fweik commented on #1238
This is intended behavior. You can not just unwrap the parallel instance, setting parameters would then lead to an inconsistent state and this would cause lifetime issues (use_count would be no longer the same on all nodes), and calling methods on it might lead to MPI deadlock. At the moment I can not think of clean solution to this. To make it work in your case you can check if the argument passe

[2017-07-26 10:52] RudolfWeeber opened #1241 "Random segfaults on correlator.finalize()"
e.g. in the lj tutorial msd.py

[2017-07-26 10:53] RudolfWeeber opened #1242 "No Python version of active matter tutorial"

[2017-07-26 14:34] #1239 closed, assigned to nobody

[2017-07-26 14:38] fweik commented on #1238
We discussed this offline. The anticipated solution is to give const access to the local instances of an SO passed as an parameter. Const access excludes call_method() and set_parameter(), and is safe to use everywhere as it can not mess with the consistency across the nodes.

[2017-07-26 15:53] #653 closed

[2017-07-26 15:55] #272 closed

[2017-07-26 16:08] #1120 closed, assigned to nobody

[2017-07-26 16:12] #1115 closed, assigned to nobody

[2017-07-26 16:13] #1114 closed, assigned to nobody

[2017-07-26 16:15] #1110 closed, assigned to nobody

[2017-07-26 16:20] #1091 closed, assigned to nobody

[2017-07-26 16:21] RudolfWeeber commented on #967
Do the existing tests provide sufficient coverage?

[2017-07-26 16:24] RudolfWeeber commented on #966
There are now tests for the basic interface, walls and homogeneous fiels.
Wich other ones do we want to hve coverage for in the near future?

What was the outcome of the issue with jumping force vectors in corners? @rempferg

[2017-07-27 14:29] RudolfWeeber opened #1244 "analysis-core.rst: Convert to Py interface"

[2017-07-27 14:29] RudolfWeeber opened #1245 "analysis.rst: Convert to Py interface"

[2017-07-27 14:30] RudolfWeeber opened #1246 "aux.rst: Convert to Py interface"

[2017-07-27 14:30] RudolfWeeber opened #1247 "contributing.rst: Merge with developer guide"

[2017-07-27 14:30] RudolfWeeber opened #1248 "cuda.rst: Convert to Py interface"

[2017-07-27 14:31] RudolfWeeber opened #1249 "electrokinetics.rst: Convert to Py interface"

[2017-07-27 14:32] RudolfWeeber opened #1250 "examples.rst: Check, include list of tutorials"

[2017-07-27 14:32] RudolfWeeber opened #1251 "features.rst: Update"

[2017-07-27 14:33] RudolfWeeber opened #1252 "firststeps.rst: Convert to Py interface"

[2017-07-27 14:37] RudolfWeeber opened #1253 "installation.rst: Merge with installation intstructions from intorduction.rst"

[2017-07-27 14:37] RudolfWeeber opened #1254 "internal.rst: Check, maybe merge with developer guide"

[2017-07-27 14:38] RudolfWeeber opened #1255 "inter.rst: Convert to py interface"

[2017-07-27 14:39] RudolfWeeber opened #1256 "introduction.rst: Check stuff except for installation instructions"

[2017-07-27 14:39] RudolfWeeber opened #1257 "io.rst: Convert to py interface"

[2017-07-27 14:39] RudolfWeeber opened #1258 "lb.rst: Convert to py interface"

[2017-07-27 14:42] RudolfWeeber opened #1259 "Remove mbtools.rst as long as there is no Python version of mbtools"

[2017-07-27 14:44] RudolfWeeber opened #1260 "mmm.rst: Convert to py interface"

[2017-07-27 14:44] RudolfWeeber opened #1261 "part.rst: Convert to py interface"

[2017-07-27 14:45] RudolfWeeber opened #1262 "setup.rst: Convert to py interface"

[2017-07-27 14:46] RudolfWeeber opened #1263 "run.rst: Convert to py interface"

[2017-07-27 14:55] RudolfWeeber opened #1264 "dg.rst"
Architecture descriptoin: callback vs integration loop

[2017-07-27 15:03] RudolfWeeber commented on #1129
@KonradBreitsprecher, could you adress this on the workshop, both the in code doc for the opengl visualizer and the overview doc in the user's guide?

[2017-07-27 15:05] RudolfWeeber commented on #1126
@KaiSzutor, could you adress this at the workshop?

[2017-07-27 15:06] #1123 closed, assigned to nobody

[2017-07-27 15:08] RudolfWeeber commented on #1244
Includes #1111

[2017-07-27 15:09] RudolfWeeber commented on #1111
Includes #1244

[2017-07-28 07:20] KaiSzuttor opened #1265 "boost 1.58 + gcc-4.9: boost::filesystem::canonical causes segfault"
I encountered this while trying to construct a CUDA 7.5 docker image where gcc > 4.9 can't be used due to CUDA restrictions. Building boost 1.61 with gcc-4.9 from source solved the segfault issue.

[2017-07-28 08:36] mkuron commented on #1265
Do you also get the segfault when you build boost 1.58 from source or only with the Ubuntu-provided packages? If it's the former: can you provide a backtrace? If it's the latter: boost libraries are compiler-specific (in theory they shouldn't be, but in practice they are), but typically things already fail during linking.

[2017-07-28 09:37] KaiSzuttor commented on #1265
Did not try to build 1.58. If I have time I will try.

[2017-07-28 09:50] KaiSzuttor opened #1267 "Duplicate method: ParticleHandle.delete and ParticleHandle.remove"
We should stick to the corresponding core method name -> remove.

[2017-07-28 12:09] fweik commented on #1265
It appears that this is now also happening at the icp witch clang. At lease the h5md test segfaults for me and this seems to be at the same place, see backtrace:

[code]

[code]

[2017-07-28 14:42] RudolfWeeber commented on #1229
I had a look. This seems to be non-trivial, since
pypresso -m unittest discover --pattern=*.py
runs the tests in a single Python process. However, espresso's System class can only be instanced once per process, due to the globals in Espresso.
One could probably write a custom testrunner, which uses a new process for every test case, but its probably not worth the effort.

[2017-08-01 15:14] davidsean commented on #1261
I'll take a stab at this one

[2017-08-01 15:31] KaiSzuttor commented on #1257
I'll check

[2017-08-01 15:45] KaiSzuttor opened #1277 "Tutorials: warn user if features are missing in the myconfig.hpp"

[2017-08-02 14:03] #1257 closed, assigned to nobody

[2017-08-03 07:56] fweik opened #1284 "Hide private variables and methods in sphinx docs"

[2017-08-03 14:04] RudolfWeeber commented on #1284
Was discussed offline.
The split of system.py and _system.pyx is there, because cdef
classes do not support custom decorators (in this case @highlander).
Probably can be resolved by putting a cdef static variable in the
System class to track the number of instances.

[2017-08-03 20:57] RudolfWeeber opened #1286 "Extend default myconfig.hpp"
The following set of features did not alter (within error margin of 10%) the speed of an lj liquid with phi=0.1 and 0.4, respectively.
Therefore, we should consider adding it to the default myconfig.

Please leave a comment if you think that there are interactions between features on this list.
For example: @rempferg Does ek compiled in slow down lb simulations?
[code]
The test script was
[code]

[2017-08-03 21:03] RudolfWeeber opened #1287 "Improve performance of virtual sites relative"
The presence of VIRTUAL_SITES_RELATIVe in myconfig.hpp slows down ES by a factor of 2 as compared to a simulation with ROTATION_PER_PARTICLE and all rotations turned off.
This is true, even if no virtual sites are present.

The reason is probably additional ghost communicatoin. For some of them (particularly the one in integrate_vv()), I don't understnad the origin. Also, they can be skipped if no

[2017-08-03 21:06] RudolfWeeber opened #1288 "Compiling in ROTATION should not alter the system's behavior"
* ROTATION should imply ROTATION_PER_PARTICLE
* The default value for all particles should be OFF.

Once this is done, an lj liquid with ROTATION, DIPOLES, ENGINE, RINERTIA, PARTICLE_ANISOTROPY but NOT VIRTUAL_SITES_RELATIVE compiled in is only 25% slower than the default myconfig.

[2017-08-04 13:48] RudolfWeeber opened #1289 "BOND_CONSTRAITNS feature executes ghost comms without checkiunt if a rigid bond is defined"
`integrate.cpp:integrate_vv():`
[code]
and:
[code]

[2017-08-04 14:01] RudolfWeeber opened #1290 "Unneeded runtime error collection in the integration loop"
Collection includes an `all_reduce` which, in effect acts as barrier.
Several algorithms call this during the integration loop without checking whether they are on:

There is one non-ifdef-ed `check_runtime_errors()` somewhere in the middle of the integration loop. Maybe, that's the only one which should stay.
It might however be moved to the point at which the `announce_resort_particles` happens,

[2017-08-07 08:52] KaiSzuttor opened #1291 "h5xx not checked out automatically since #1278"

[2017-08-07 10:17] #1291 closed, assigned to nobody

[2017-08-08 10:42] fweik commented on #1284
Not fixed, sphinx still has to be changed.

[2017-08-09 14:39] #738 closed

[2017-08-10 12:08] KonradBreitsprecher opened #1303 "Bonds with more than one partners in H5MD will fail"
https://github.com/espressomd/espresso/blob/aecc6622ea2b3082185b4c5910222761e63bd1e8/src/core/io/writer/h5md/h5md_core.cpp#L350

The bond list format is e.g. bondindex1 Id1 Id2 bondindex2 Id1 Id2 Id3 ...
The current implementation assumes single partner bonds. This will cause errors, types and Ids will be mixed.

If the H5MD format doesn't support that, skip the bond and throw a warning.

[2017-08-10 20:56] fweik opened #1305 "Exclusions also disable short-range part of P3M"
I don't think this is intended or a good idea.

[2017-08-10 22:03] fweik opened #1306 "Rotation, anisotropy and the thermostat"
Build with ROTATION, PARTICLE_ANISOTROPY and not ROTATIONAL_INERTIA is broken (this combination is not tested). Also, at least from a physics point of view, it would make sens if PARTICLE_ANISOTROPY would imply ROTATIONAL_INERTIA if ROTATION is turned on.

In the thermostat ROTATIONAL_INERTIA is mentioned in several places, but the rinertia property of the particles is not used anywhere. This seem

[2017-08-10 22:43] #1259 closed, assigned to nobody

[2017-08-11 06:08] KaiSzuttor commented on #1265
P.S.: does not happen if boost is built with gcc 4.9, so rather not an issue on our side.

[2017-08-11 06:08] #1265 closed, assigned to nobody

[2017-08-12 21:17] #1137 closed, assigned to nobody

[2017-08-15 08:12] #1264 closed, assigned to RudolfWeeber

[2017-08-15 08:33] RudolfWeeber commented on #1140
There is a tcl integration test @bindgens1 @rempferg

[2017-08-15 08:58] RudolfWeeber opened #1310 "Decide fate of uwerr error estimation"
There are some 300 lines of c code in src/core and some 800 in src/tcl
Is there a good reason to invest in python support? It would probably be more than half a rewrite.

[2017-08-15 12:15] RudolfWeeber opened #1311 "Testcase: analysis mindist, nbhood, distto"
The tcl testcase analysis.tcl seems rather un-transferrable

[2017-08-15 12:15] RudolfWeeber opened #1312 "Integration test for energy calculation"
Total energy and individual components of analysis.energy()

[2017-08-15 12:16] RudolfWeeber opened #1313 "Integration test for stress tensor"
total and individual components

[2017-08-15 12:18] RudolfWeeber opened #1314 "Integrator test (NVT)"
This can be done by rewriting the following tcl tests (which differ by only a few lines of code) and the associated stored results.
intpbc.tcl intppbc.tcl layerd.tcl nsquare.tcl

[2017-08-15 12:19] RudolfWeeber opened #1315 "Integrator test (NPT)"
by transferring npt.tcl and associated stored results to Python

[2017-08-15 12:19] RudolfWeeber opened #1316 "Thermostat integration tests"
langevin.tcl and langevin_per_particle.tcl

[2017-08-15 12:20] RudolfWeeber opened #1317 "mass-and-rinertia test"
Can probably be merged with mass-and-rinertia per particle

[2017-08-15 12:21] RudolfWeeber opened #1318 "Extend minimize_energy test for rotational degrees of freedom"
minimize energy = steepest descent integrator.

(minize_energy_rotation.tcl)

[2017-08-15 12:22] RudolfWeeber opened #1319 "Integration test non-cubic p3m"
Merged versoin of
p3m_simple_noncubic.tcl and p3m_gpu_simplenoncubic.tcl

[2017-08-15 12:25] RudolfWeeber opened #1320 "Tests for key interactions potentials"
non-bonded: lj, lj generic
Bonded: harmonic, fene, angle_harmonic
Probably check against the actual energy expressions rather than transfer the tcl test case.
Also check that  force is compatible with derivatigve of energy

[2017-08-15 12:26] RudolfWeeber opened #1321 "Testcases: EK electrostatic coupling"
@rempferg, there are tcl tests for that but no python tests. Is this still relevant?

[2017-08-15 12:33] RudolfWeeber opened #1322 "Integration test for rigid bonds"
I.e., rattle/shake.
E.g., short bead-rigid-bond chain, integrate with langevin thermostat. Check particle distances.

[2017-08-15 12:38] RudolfWeeber opened #1323 "Integration test for dipolar 3d methods"
Merged version of
p3m_magnetostatics2.tcl and scafacos-dipoles.tcl
Both use stored data.
p3m_magnetostatics1.tcl doesn't test all that much.

[2017-08-15 12:43] RudolfWeeber opened #1324 "Integration test for mixed periodicity electrostatics"
mmm1d, mmm2d, elc

mmm1d and mmm1d_gpu. There is stored data and tcl test cases

mm2d and elc can probably be compared against each other

[2017-08-15 12:44] fweik commented on #1314
I think most of this covered by the partners and lj tests from the short
range PR

On Tue, Aug 15, 2017, 2:18 PM RudolfWeeber <notifications@github.com> wrote:

[2017-08-15 12:45] fweik commented on #1319
I've got those. Will merge

On Tue, Aug 15, 2017, 2:22 PM RudolfWeeber <notifications@github.com> wrote:

[2017-08-15 12:46] fweik commented on #1320
Lj test is in the short range PR (compares about the stored results from
the old tcl test)

On Tue, Aug 15, 2017, 2:25 PM RudolfWeeber <notifications@github.com> wrote:

[2017-08-15 12:58] RudolfWeeber opened #1325 "ParticleHanlde.vs_auto_relate_to() exists twice"

[2017-08-15 14:10] fweik opened #1326 "Check coverage in CI"

[2017-08-15 21:01] hmenke commented on #1326
I have actually been working on this some days ago.  It's not yet working unfortunately.  For some reason `codecov` does not find any coverage reports.

Here is the relevant commit: https://github.com/hmenke/espresso/commit/c23a2f6491d6deefb48f203fcf5f72f010c998d9

[2017-08-15 21:29] mkuron commented on #1326
There is something special about codecov-ing a Python module in a non-codecov-ed interpreter, though I don't recall the details. Probably some dynamic library loading order issue.

[2017-08-15 21:38] hmenke commented on #1326
@mkuron No, that is not the issue.  After all we do not care about coverage in the Python interpreter itself.  The coverage reports `.gcno` and `.gcda` are properly generated (as `ls -lRa` on Travis CI reveals), but for some reason the `codecov` script does not find them.  In my pairinteraction project, which also has a Python interface, a similar setup works just fine: https://github.com/hmenke/p

[2017-08-16 00:02] hmenke opened #1327 "Segmentation fault due to std::vector in ParticleProperties"
The following minimal example produces a segmentation fault
[code]
but only with `maxset.hpp` and running in `gdb`.  The debugger points to these lines in `ParticleProperties` which were introduced in #1201 https://github.com/espressomd/espresso/blob/ee9bbbc4576713d082b90a8002ad4751e3b31940/src/core/particle_data.hpp#L212-L215
In the destructor of `ParticleProperties` their allocator segfaults on

[2017-08-16 02:25] hmenke commented on #1327
I have tried adding a default constructor to `ParticleProperties`
[code]
to make sure that the vectors do not have a garbage length but it still fails.

[2017-08-16 08:02] #1284 closed, assigned to nobody

[2017-08-16 08:04] KonradBreitsprecher commented on #1262
Will work on that.

[2017-08-16 08:29] pkreissl commented on #1255
I will work on that.

[2017-08-16 08:45] RudolfWeeber opened #1329 "Integration test for catalytic reactions"

[2017-08-16 08:45] rempferg commented on #1138
Remove.

[2017-08-16 08:55] fweik commented on #1327
The cause is the memove in mpi_recv_part for local particles. The other properties that contain heap memory are handled explicitly, the new stuff is not. I've got a branch where this is solved in a general way (by implementing a proper copy operator for Particle).

[2017-08-16 09:57] jdegraaf commented on #1327
So, can we conclude that the issue is not the way the tutorials are implemented, hence, the pull request for new tutorials can be put through? We'll have to

1. double check the tutorials for the school
2. make a new Active_Matter git label

at some point in the future anyway. And, as far as I gather, the first point can only be done once the above problem is fixed. Still, from a review point, all

[2017-08-16 09:58] jdegraaf commented on #1327
Oops, sorry, wrong thread...

[2017-08-16 11:00] RudolfWeeber commented on #1323
Will do

[2017-08-16 12:45] fweik commented on #1326
Also I think that the code generated by cython should be exlucded

[2017-08-16 13:12] #1256 closed, assigned to RudolfWeeber

[2017-08-16 14:24] #1327 closed, assigned to nobody

[2017-08-16 14:36] rempferg opened #1337 "EK tests non-deterministically fail"
Sometimes with incorrect results, sometimes with NaNs. cuda-memcheck reports no access out of bounds or to uninitialized memory.

[2017-08-16 15:15] rempferg opened #1338 "GPU LB Ladd boundaries missing test case"
And I am unsure whether the units conversions of forces acting on boundaries are correct.

[2017-08-16 15:47] #1246 closed, assigned to RudolfWeeber

[2017-08-16 15:58] RudolfWeeber commented on #1316
I'll do this one.

[2017-08-16 18:15] RudolfWeeber opened #1342 "langevin_thermostat.py"

[2017-08-16 18:16] #1342 closed, assigned to nobody

[2017-08-16 22:58] hmenke opened #1343 "Segmentation fault in Correlator"
The correlator segfaults on calling `finalize()`.
[code]
Full backtrace: https://gist.github.com/anonymous/32e1adf996d5acc870aede0b06b544e4

[2017-08-17 08:29] RudolfWeeber commented on #1148
The feature can stay and wokrs, as soon as the pr containing the test and fixes is merged

[2017-08-17 08:29] #1148 closed, assigned to nobody

[2017-08-17 08:30] RudolfWeeber commented on #1289
There is a global n_rigid_bonds which can probably be used as check

[2017-08-17 08:49] fweik opened #1345 "No standard way of testing performance"
We need a way to track performance changes by pull requests.

[2017-08-18 07:24] HaoZeke opened #1347 "LibPthread segfaults."
So I have been trying to install the latest python version (from git).

The installation goes smoothy, as do the import, until I try to add a polymer.

[code]

[2017-08-18 11:26] fweik commented on #1347
I think this is a know issue that should be fixed in #1341.

[2017-08-18 11:32] #1255 closed, assigned to nobody

[2017-08-18 12:09] fweik opened #1348 "constant_pH test has sporadic failures"
It is also nondeteministic. Please check.

[2017-08-18 13:30] HaoZeke commented on #1347
Sorry, but it doesn't seem to be working even with the latest changes in the PR...
I'm getting the same error...
I did remember to remove and rebuild the entire program from scratch... Anything else I can check?

[2017-08-18 14:15] fweik commented on #1347
Can you please provide a minimal script that produces the error?

[2017-08-18 17:41] HaoZeke commented on #1347
Yup, it's in the logs...

All I did was, (in a interactive pypresso session) run the following:

[code]
This cause the above segfault...

[2017-08-18 18:32] RudolfWeeber commented on #1347
On Fri, Aug 18, 2017 at 10:41:50AM -0700, Rohit Goswami wrote:

Two things missing.
s=espressomd.System()
[...]
s.bonded_inter.add(fene)

Even without that, it shouldn't segfault, though. So still a bug.

[2017-08-19 02:20] hmenke commented on #1347
I can confirm.  For completeness sake, here a full backtrace: https://gist.github.com/anonymous/6fa002b32608a67cd76140661db26112

[2017-08-19 03:22] hmenke commented on #1347
Rudolf's comments are very correct indeed.  The bug is simply resolved by starting up a `System()` and adding the bond before use.  This is the documented behaviour.  Therefore I'm closing this issue.
[code]
The behaviour without a `System()` might be a bit unexpected but in my opinion not worth fixing.

[2017-08-19 03:22] #1347 closed, assigned to nobody

[2017-08-21 13:10] #1326 closed, assigned to fweik

[2017-08-23 12:39] fweik opened #1355 "engine_lbgpu test does not use gpu lb"
Line 63 should read
[code]
but is
[code]
If turned to GPU, the test fails.

[2017-08-23 22:09] hmenke commented on #1338
“Fixed” in #1356

[2017-08-23 22:09] #1338 closed, assigned to nobody

[2017-08-23 22:47] jonaslandsgesell commented on #1348
I will make the tests deterministic. This will fix it.

[2017-08-28 18:56] RudolfWeeber opened #1358 "Travis builds suceed even if cmake fails"
START CONFIGURE
==================================================
Using default myconfig.

-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecti

[2017-08-28 19:20] fweik commented on #1358
Iirc this is fixed in some pr

On Mon, Aug 28, 2017, 8:56 PM RudolfWeeber <notifications@github.com> wrote:

[2017-08-28 20:30] mkuron commented on #1358
Should have been fixed in #1352, but it seems like I missed something. The proper solution would be to put `set -e` at the top of build_travis.sh and build_cmake.sh and make the places explicit where non-zero exitcodes are permitted.

[2017-08-30 11:58] #1358 closed, assigned to nobody

[2017-08-30 13:41] bogdan-tanygin opened #1360 "Do we need a Brownian Dynamics (BD) integrator ?"
Dear ESPResSo team,

My team always had been using the BD integrators for ferrofluid research: regular magnetite ferrofluid, conventional parameters, nothing special. We just need more particles and larger _in silico_ durations.

Main question: are other users requesting this integrator? I'm asking because the SD and BD has been removed: https://github.com/espressomd/espresso/pull/1094

Hence, bef

[2017-08-30 21:04] hmenke commented on #1360
You are correct that both, SD and BD, were removed in #1094.  While the removal of SD was deliberate, the removal of BD was a mere consequence of the interwoven nature of implementation of the two methods.

In a past ESPResSo team meeting we discussed that we would want to keep BD, so if you have a proper implementation which does not do nonsensical things like duplicating the integration loop, as

[2017-08-30 21:05] mkuron commented on #1360
We would certainly like to have BD. It was removed only for technical reasons; we had intended to reimplement BD. The old BD/SD had essentially duplicated integrate.cpp, which made them unmaintainable. If you can provide a minimally-invasive version inside the existing `integrate_vv` function (even if it looks artificial) and provide tests and documentation as required, I think nobody would object

[2017-08-31 07:56] RudolfWeeber commented on #1360
Brownian dynamics would be a great addition, not only for dipolar
systems.
What I find important is that we do not duplicate the main
integration loop. It is already quite complex and it will be near
impossible to keep two copies in sync.

[2017-08-31 08:21] bogdan-tanygin commented on #1360
Thanks for your feedback! OK, I will prepare a pull request. Pure BD does not require a real noisy velocity, hence, it fundamentally does not match the VV loop. However, our team has found a workaround and all TCL and Python tests have been passed. I know how to include it via an analytical derivation of BD from stochastic equations. In this case, BD matches the VV loops precisely with a heat velo

[2017-08-31 15:08] fweik opened #1361 "Sporadic failures in P3M GPU"
P3M  GPU seems to be incorrect for certain parameter sets that sometime are hit in tuning.

[2017-09-03 18:58] fweik commented on #1348
The reaction ensemble test fails also sometime, albeit not so often like the other one.

[2017-09-05 05:39] hmenke commented on #1343
Can somebody confirm this?  It happens to me reproducibly on Ubuntu 16.04 with tools and libraries from the official repositories.

[2017-09-05 06:52] kosovan commented on #1343
I get no segfault on OpenSuse 42.2 with default myconfig.

[2017-09-05 07:08] hmenke commented on #1343
Thanks.  I just checked, I can reproduce on Ubuntu 16.04 with `maxset` and `default`.

[2017-09-05 07:25] kosovan commented on #1343
I am trying to see where the problem comes from but it is difficult when I cannot reproduce it.

Checking your backtrace, the following indices should normally have rather small values:
`        index_new = 4133993882
        index_old = 32767
        index_res = 4134721502
        error = 32767
        tau_lin = 4160266320
hierarchy_depth = 32767`

My interactive session running your python code

[2017-09-05 08:29] fweik opened #1365 "macOS testing setup takes too long"
The macOS travis tests regularly fail because building the dependencies takes too long.

[2017-09-05 10:15] RudolfWeeber commented on #1343
Probably, in the long run, something along the lines of #878 is needed. That would also make it easy to bring checkpointing back.

[2017-09-05 12:33] mkuron commented on #1365
Installation of HDF5 is the problem. Homebrew does not provide binaries with MPI and building them every time takes a few minutes. Sometimes it works within the 10-minute limit (e.g. https://travis-ci.org/espressomd/espresso/jobs/271744619), sometimes it doesn't (https://travis-ci.org/espressomd/espresso/jobs/271952697). As a quick workaround, I can bump the timeout to 20 minutes, but in the long

[2017-09-05 15:06] #1348 closed, assigned to jonaslandsgesell

[2017-09-05 17:01] #1365 closed, assigned to nobody

[2017-09-06 02:01] hmenke commented on #1343
I deleted my build directory and hard reset my branch to the HEAD on GitHub.  Now I can no longer reproduce either.  There seem to have been leftovers of the Ladd boundary code in my repo.

[2017-09-06 02:01] #1343 closed, assigned to nobody

[2017-09-06 12:51] RudolfWeeber opened #1371 "features.rst did not convert from LaTex"
All the actual feature names to be used in myconfig.hpp seem to be missing

[2017-09-06 14:44] #1316 closed, assigned to RudolfWeeber

[2017-09-06 14:48] RudolfWeeber commented on #1286
If there are no objections by the beginning of next week, I'll implement this.

[2017-09-06 14:51] #1195 closed, assigned to nobody

[2017-09-06 14:53] RudolfWeeber commented on #1169
Can this be closed? @fweik

[2017-09-06 15:01] #964 closed

[2017-09-06 15:02] #960 closed

[2017-09-06 15:02] #959 closed

[2017-09-06 15:05] #684 closed

[2017-09-06 15:07] #492 closed

[2017-09-06 15:41] #961 closed

[2017-09-06 15:45] #825 closed

[2017-09-06 15:45] RudolfWeeber commented on #825
Has been removed

[2017-09-06 23:35] fweik opened #1377 "Add scripts from tutorials to testing"
where appropriate and fast enough.

[2017-09-07 02:32] hmenke commented on #1377
I don't think this is feasible.  Many tutorials take about 10 minutes (or more) to complete.

[2017-09-07 05:19] mkuron commented on #1377
You could run them for a very small number of integration steps. That would at least ensure they remain syntactically correct.

[2017-09-07 08:05] RudolfWeeber commented on #1377
Adding a test mode to tutorial scripts means adding code to them
which will confuse unexperienced users. I think, we'll have to do
this manually before releases and summer schools.
Once there will be production releases based on pypresso, tutorials
can and should be used with those.
What we probably should do is note the last known working code
version in the tutorial scripts.

[2017-09-07 08:52] mkuron commented on #1377
The tutorials are always broken whenever someone uses them. Summer schools are not the only time when new people start using Espresso, and not everybody will be using releases, so we need some way to continuously ensure that they remain working.

We don't need to add a test mode to the code to achieve that. Just adding something simple like `sed -i 's/^(\s*T =) .*/$1 10/g'` to the test runner scri

[2017-09-07 09:23] #963 closed

[2017-09-07 11:11] fweik commented on #1377
I think that rejecting changes that break stuff is vastly preferable to last minute bug fix sessions in panic when the stuff is needed but turns out to be not working.

[2017-09-07 11:29] hmenke commented on #1377
\*cough\* #1201\*cough\*

[2017-09-07 12:16] #1150 closed, assigned to nobody

[2017-09-07 12:38] RudolfWeeber opened #1381 "tunable_slip should be a constraint"
pair interaction which only works on one of the particles

[2017-09-07 12:55] RudolfWeeber opened #1382 "Remove dependenceies from thermostat e.g. in long range interactions"
Remove bjerrum length

[2017-09-07 16:02] #1325 closed, assigned to nobody

[2017-09-10 17:14] RudolfWeeber opened #1388 "Too many travis checks?"
IS  env: myconfig=maxset image=ubuntu-cuda make_check=false, os: linux
still needed, now that we have cuda testing at icp?
And what is the purpose of
 env: myconfig=nocheck-maxset make_check=false, os: linux

[2017-09-10 18:15] RudolfWeeber opened #1389 "Script interface: add nullptr to Variant"
such that it can be safely returned from call_method().
Right now, it seems to be converted to one of the other types in Variant. On OpenSuse, it doesn't result in an error, but in the Ubuntu docker image, it gets converted to a string, and results in a runtime error, because there is no conversion from nullptr.

[2017-09-10 19:56] mkuron commented on #1388
The CUDA build is now mostly useful for running on people's own repositories so that they can find errors earlier, before posting a pull request.

The nocheck-maxset contains (or contained in the past) options that were not compatible with each other. Everything compiles, but some tests cannot pass. So this test mainly serves to ensure that some of the more obscure code in Espresso remains compila

[2017-09-10 23:25] hmenke commented on #1388
Actually, `nocheck-maxset.hpp` and `maxset.hpp` have diverged.  The `nocheck-maxset.hpp` is missing the switches
[code]
The main difference is that `nocheck-maxset.hpp` defines all of the `_DEBUG` flags.  I'm very unsure how useful that is at all if we do not run tests with this.  The `_DEBUG` flags only introduce runtime checking, so it's not so useful to just compile and never run.  One might ar

[2017-09-11 07:40] fweik commented on #1389
I think we should rather add a None type as the default type for Variant.
The you can return just {} to express empty. Unfortunately you can't just
leave out the return statement, as this is undefined behavior if you the
look at the return value...

On Sun, Sep 10, 2017, 8:15 PM RudolfWeeber <notifications@github.com> wrote:

[2017-09-11 07:42] hmenke commented on #1389
@fweik At least most compilers produce something that crashes with `Illegal Instruction` if you don't have a return statement.

[2017-09-11 08:32] fweik commented on #1389
Clang and gcc have -Werror=return-type.

[2017-09-11 08:38] fweik commented on #1337
This was fixed by removing the Ladd boundaries.

[2017-09-11 09:27] fweik commented on #1388
This is to ensure that the all the debug messages build, because they are macroed out in the other configs.

[2017-09-11 13:51] fweik commented on #1337
See https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/495
@rempferg  Please make tests deterministic.

[2017-09-11 17:15] RudolfWeeber commented on #1145
Yes it does. Some
#ifdef SHANCHEN
contain an #else block.

I.e., at present, we cannot include it into the maxset feature set and corresponding CI testing.

[2017-09-12 16:37] RudolfWeeber opened #1394 "Introduce interface compatibility level check at instancing of System()"
So that users get warned when the script was written for an other Es version

[2017-09-12 23:32] hmenke commented on #1394
I don't think I get what you mean.  We could introduce a version string, like
[code]
but we'd still have to manually bump the version number which we then hard-code in the interface.  We also might run into problems because we would have to decide when to bump the version number and moreover, we would probably need some sort of compatibility layer, such that people running 4.1 can still use their

[2017-09-13 04:54] mkuron commented on #1394
In an ideal world, the interface is stable and versioning is not required. The Tcl interface was actually pretty good in that regard. If incompatible changes are required, the old function needs to be deprecated (throw a warning or an error) and a new one with a different name needs to be added.

[2017-09-13 08:25] KaiSzuttor opened #1396 "Tune skin of cellsystem not working"
Traceback (most recent call last):
  File "cellsystem_test.py", line 77, in <module>
    print(cs.tune_skin(0, 15))
  File "espressomd/cellsystem.pyx", line 235, in espressomd.cellsystem.CellSystem.tune_skin (/tikhome/kai/git/espresso/build/src/python/espressomd/cellsystem.cpp:3590)
TypeError: a float is required

See samples/python/cellsystem_test.py

[2017-09-13 08:51] KaiSzuttor opened #1397 "samples: load_checkpoint.py is missing a checkpoint file"

[2017-09-13 08:53] KaiSzuttor opened #1398 "samples: load_properties.py is missing a file"

[2017-09-13 09:48] RudolfWeeber commented on #1394
This not being an ideal world...
The fact that we had to keep the tcl interface stable prevented us from making significant changes to the core and also eventually fix sub-optimal interface design choices.
We'd have more freedom in the future, if we made the version dependence explicit
s=System(version="4.0")
or
espressomd.compatibility("4.0")
As we release quite rarely, deprecation warnings would

[2017-09-13 09:53] RudolfWeeber commented on #1394
I would not plan for a compatibility layer. Instead, point people to a list with the interface changes (if any). They can then check their scripts and set the current version string.

[2017-09-13 10:02] hmenke commented on #1396
You're missing arguments.

https://github.com/espressomd/espresso/blob/e9edaf0c785445089ba1424360aa9740b029a267/src/python/espressomd/cellsystem.pyx#L218-L236

[2017-09-13 10:03] RudolfWeeber opened #1400 "Linear and rotational kinetic energy should be separate contributions"

[2017-09-13 10:26] RudolfWeeber commented on #1396
Tune_skin has keyword arguments
min_skin, max_skin, int_steps, tol

[2017-09-13 12:29] KaiSzuttor commented on #1396
Not I am missing keyword arguments, the sample does

[2017-09-13 13:15] #1389 closed, assigned to nobody

[2017-09-20 17:55] pkreissl commented on #1320
Will have a look at that.

[2017-09-20 21:55] fweik opened #1421 "Check and update copyright headers"

[2017-09-20 22:11] #1242 closed, assigned to nobody

[2017-09-20 22:49] hmenke commented on #1421
Please convert this
[code]
into this
[code]

Ideally one could do something like
[code]

Copyright headers only need to be updated when the file is edited.  If the file was last touched in 2016, then the header must not extend the copyright to 2017.

This is probably worth reading in that regard: https://softwareengineering.stackexchange.com/questions/125836/do-you-have-to-include-a-license-notice

[2017-09-21 08:41] rempferg opened #1423 "Check all tutorials for the summer school 2017"
- [x] 00-building_espresso
- [x] 01-lennard_jones
- [x] 02-charged_system
- [x] 04-lattice_boltzmann
- [x] 05-raspberry_electrophoresis
- [x] 06-active_matter
- [x] 07-electrokinetics
- [x] 08-visualization
- [x]  09-catalytic_reactions

[2017-09-21 08:43] fweik commented on #1423
See also #1250.

[2017-09-21 09:37] jonaslandsgesell commented on #1263
Fixing it.

[2017-09-21 09:42] KaiSzuttor commented on #1371
me

[2017-09-21 11:33] jonaslandsgesell commented on #1267
I removed the delete() function in #1427

[2017-09-21 11:42] jonaslandsgesell commented on #1144
Apparently setting the property smaller_time_step of the system class enables the multi_timestep feature. Can this be closed?

[2017-09-21 11:50] jonaslandsgesell commented on #1126
This is removed. Can be closed?

[2017-09-21 13:27] #1126 closed, assigned to nobody

[2017-09-21 14:40] KunTares opened #1430 "Feature ROTATIONAL_INERTIA does not build without PARTICLE_ANISOTROPY enabled"

[2017-09-21 14:44] KunTares commented on #1423
- [x] 00-building_espresso
- [x] 01-lennard_jones
- [x] 02-charged_system ~~analyze.rdf is broken~~
- [x] 04-lattice_boltzmann
- [x] 05-raspberry_electrophoresis
- [x] 07-electrokinetics
- [x] 08-visualization

[2017-09-22 16:37] #1263 closed, assigned to jonaslandsgesell

[2017-09-22 20:10] fweik commented on #1262
Most of this was fixed in #1433.

[2017-09-25 12:42] jonaslandsgesell opened #1437 "H5md does not write folded positions as required by the standard"
Particle positions are stored unfolded although they should be stored folded (pos in the central box + image). This behaviour is required e.g. by the H5MD writer to follow the H5MD specification with the current implementation.

The h5md writer showed wrong behaviour regarding writing folded positions and their images after the following commit:

git bisect bad
8a90942879d98716bf8bb387c9c704619320

[2017-09-25 15:32] RudolfWeeber opened #1438 "Python support for pdb parser"
Is probably rather useful to many users and uncomplicated since it is implemented in the core.

[2017-09-25 16:54] RudolfWeeber opened #1439 "Decide fate of crosslink command"
If the crosslink command stays, it needs a test
It is less-than-apparent, if the code works as advertised

[2017-09-25 17:12] kosovan commented on #1439
Is this command being used by anyone? I am not aware of any publication using Espresso with other than regular crosslinking of polymers.

[2017-09-26 00:45] hmenke opened #1440 "Clash of ROTATIONAL_INERTIA and PARTICLE_ANISOTROPY"
Steps to reproduce:

1. Copy `maintainer/configs/maxset.hpp` as `myconfig.hpp`.
2. Comment out the line `#define PARTICLE_ANISOTROPY` in `myconfig.hpp`.
3. Try to compile.
4. ???
5. Profit.

[2017-09-26 07:55] fweik commented on #1437
Particles in partCfg have unfolded positions, if you want them folded, you have to do that by hand at the point of use. There are several analysis methods that expect unfolded coords. Why would you think a global behavior change would be the right answer to your local problem?

[2017-09-26 08:16] KaiSzuttor commented on #1437
https://github.com/espressomd/espresso/blob/e0f37ee4f7eee0adbc1b436f57f5ff3fef9b5482/src/core/particle_data.hpp#L210

hmmmm...

[2017-09-26 08:17] jonaslandsgesell commented on #1437
Please note that according to particle_data.hpp the particle struct contains "periodically folded positions":
`/** Positional information on a particle. Information that is
    communicated to calculate interactions with ghost particles. */
struct ParticlePosition {
  /** periodically folded position. */
  double p[3] = {0, 0, 0};`
This implies that the changes on 18th May changed espressos behavi

[2017-09-26 08:22] fweik commented on #1437
No, that is not correct. You are talking about the _particles_, the changes you mention are about the partCfg. partCfg has always had unfolded positions. (Btw. the comment on that particles is also misleading, because the coordinates are actually only folded up to skin).

[2017-09-26 08:26] jonaslandsgesell commented on #1437
I see. Well then the commit only broke the writer since get_particle_data() used particles (with folded positions) and partcfg was introduced which uses unfolded positions.

[2017-09-26 08:30] fweik commented on #1437
I'll post a fix in a second. I think the clean way is to just explicitly write the folded positions in h5md.

[2017-09-26 09:51] KaiSzuttor commented on #1184
That is already possible, we don't need intersphinx for that.

[2017-09-26 10:42] #1184 closed, assigned to nobody

[2017-09-26 11:12] davidsean commented on #1398
should save_properties and load_properties be merged (same as the checkpointing example #1397 )?

This way the same script generates, saves and loads, thus becoming self sufficient.

[2017-09-26 15:00] #1437 closed, assigned to nobody

[2017-09-27 09:03] jonaslandsgesell commented on #1377
I think it would also be a fabolous idea to run the sample scripts in the tests. At least a subset of them. For example constraints.py
This would avoid the repeatedly broken syntax there.

[2017-09-27 09:04] jonaslandsgesell opened #1446 "contraints.py in samples folder"
Has a broken syntax. Apparently the constraints syntax has changed again.

AttributeError: 'NoneType' object has no attribute 'add'

What about running (at least where feasable) sample scripts as tests? See #1377

[2017-09-27 15:17] helvrud opened #1450 "reaction ensemble set_volume bug"
**RE=reaction_ensemble.reaction_ensemble(standard_pressure=1, temperature=1, exclusion_radius=1)**

**RE.set_volume()**
_TypeError: set_volume() takes no arguments (1 given)_

**RE.set_volume(100.0)**
_TypeError: a float is required_

[2017-09-27 15:37] KonradBreitsprecher opened #1451 "P3M GPU fails with MPI"
`mpirun -np 2 ./pypresso gpup3m_issue.py`

goes down with

[code]
Features: 'CUDA', 'ELECTROSTATICS', 'FFTW', 'H5MD', 'P3M'

Testscript:

[code]

[2017-09-27 15:48] fweik commented on #1451
Funny enough
[code]
works. Will investigate.

[2017-09-27 15:49] jonaslandsgesell commented on #1446
I got it wrong

[2017-09-27 15:49] #1446 closed, assigned to nobody

[2017-09-27 15:53] jonaslandsgesell commented on #1450
Fix comes in a second

[2017-09-27 21:21] jonaslandsgesell commented on #1303
Stuff like that is covered by the standard.

[2017-09-28 05:05] fweik commented on #1303
This needs to be fixed.

[2017-09-28 08:19] hmenke commented on #1440
Can somebody please confirm?

[2017-09-28 09:54] KaiSzuttor commented on #1440
confirm with current python branch

[2017-09-29 10:00] sgekle opened #1455 "CUDA does not compile"
When trying to compile with CUDA, I consistently get errors like

[  1%] Building NVCC (Device) object src/core/CMakeFiles/EspressoCuda.dir/EspressoCuda_generated_p3m_gpu_error_cuda.cu.o
nvcc fatal   : Unsupported gpu architecture 'compute_52'
CMake Error at EspressoCuda_generated_p3m_gpu_error_cuda.cu.o.cmake:203 (message):
  Error generating
  /home/btpj/bt301429/progs/espressoPy/buildCUDA/src/c

[2017-09-29 10:23] fweik commented on #1455
Hm, we did recently update the nvcc compile flags (c.f. #1412) so that the code runs on the newest nvidia architecture. Compilation works here with
[code]
(that's the one that ships with ubuntu 16.04).

[2017-09-29 10:26] fweik commented on #1440
Seems like I broke that with  #1404. Will fix.

[2017-09-29 10:40] mkuron commented on #1455
CUDA 6.5 is too old to support `compute_52`. CUDA 7.5 and 8.0 do support it though. We run 7.5 on Travis and Gitlab-CI and I tested 8.0 a few days ago.

[2017-09-29 10:51] mkuron commented on #1455
Also, we don't support anything below 7.0 because we require C++11 support.

[2017-09-29 11:48] sgekle commented on #1455
Thanks, I think I have found the solution.
For some reason the ccmake entry CUDA_TOOLKIT_ROOT_DIR continues to
point to the 6.5 version, although the environment variables all have
been set to point 7.5 and I have reconfigured/generated a number of times.
Forcing it by hand to use 7.5 in CUDA_TOOLKIT_ROOT_DIR makes the system
compile.

How does ccmake determine which cuda version to use if there a

[2017-09-29 20:25] fweik commented on #1455
This is found by the FindCUDA module which is part of cmake. I don't think we should replace that with a custom solution.

[2017-09-29 20:29] fweik commented on #1430
Duplicate of #1440.

[2017-10-01 11:37] mkuron commented on #1455
CMake documentation says:

We could require a minimum CUDA version with `find_package(CUDA 7.5)` instead of `find_package(CUDA)`.

[2017-10-02 09:10] RudolfWeeber opened #1461 "LB Fluid deactivation code missing"
_deactivate_method() in lb.pyx for cpu and gpu lb needs to be implemented
@rempferg

[2017-10-02 11:02] #1450 closed, assigned to jonaslandsgesell

[2017-10-03 13:09] RudolfWeeber opened #1462 "part.rst 2nd iteration"
* Sort out headeings
* Virtual sites
* Slicing, itereration
* Explanation of ParticleList ParticleSlice ParticleHandle classes
* Move constraints Doc to interactions
* Check particle creation convenience functions and mark those not transferred to Python

[2017-10-03 13:48] RudolfWeeber opened #1463 "inter.rst 2nd iteration"
* Explain missing interaction types: single particle (constraints) and collective (coulomb, dipolar) actors.
* Explain querying of interaction parameters
* Correct wrong syntax for interaction setup:
   ...tabulated(params) should be ...tabulated.set_params(params)
* Docs for bond angle potentials are missing
* Sort out todo: .. todo:: Document missing implementation for actor.remove()
  Looking a

[2017-10-03 13:49] RudolfWeeber commented on #1463
This one probably needs to be taken by at least two people. There is quite a lot to do.

[2017-10-03 13:51] RudolfWeeber opened #1464 "Implement Python supoort for com_fixed"
Probably as an actor, since it is a collective interaction.
The feature seems to be of general use and implementing support is probably not complicated.

[2017-10-03 13:52] RudolfWeeber opened #1465 "Decide fate of com_force"
This pulls away groups of particles from each other. My impression is that it is rather specialized.

[2017-10-04 06:41] KonradBreitsprecher commented on #1423
Will check 08-Visualization #1479

[2017-10-04 08:00] davidsean commented on #1322
I'll look at this

[2017-10-04 08:17] davidsean commented on #1322
Unless I am missing something, it looks fine as is

[2017-10-04 09:04] davidsean commented on #1312
I'll have a look at this

[2017-10-04 10:30] davidsean commented on #1463
I can try a few, will need third iteration.

[2017-10-04 10:42] RudolfWeeber opened #1470 "Implement setting of particle director"

[2017-10-04 14:43] fweik commented on #1423
(Georg)
Sorry for deleting your comment, Flo. Messed up with the interface.

[2017-10-04 16:02] davidsean commented on #1311
I can try this one,

[2017-10-04 16:05] KonradBreitsprecher commented on #1463
Done with:
- Elc python docs
- Python docs missing
- ICC Python docs missing-
- mmm2d docs py stuff missing
- Correct wrong syntax for interaction setup:
...tabulated(params) should be ...tabulated.set_params(params)
- Capping docs (saw fweiks comment too late)

[2017-10-04 16:10] KonradBreitsprecher opened #1479 "Live plotting with pyplot not working anymore"
pyplot is used in the visualization tutorial and in samples/visualization.py.
@mkuron any idea what might has changed?

[2017-10-04 17:16] KonradBreitsprecher commented on #1479
So this seems to be an issue related to the Ubuntu switch, the scripts are still working on Mac.

[2017-10-04 18:53] davidsean commented on #1479
perhaps the backend that got carried from matplotlibrc isn't working with Ubuntu?  I remember playing around with it last week (I hardly use live plotting), TkAgg seemed to work fine (I'll check samples/visualization.py) tomorrow.

[2017-10-04 18:54] davidsean commented on #1463
I only did one section:
- bond-angle potential

[2017-10-04 20:55] mkuron commented on #1479
It‘s a backend thing. Both Mayavi and Matplotlib need to be using the same GUI toolkit (wx, Qt, GTK, ...).

Also, all plotting and visualization calls need to be made from thread 0.

[2017-10-05 08:37] #1462 closed, assigned to RudolfWeeber

[2017-10-05 09:09] #1430 closed, assigned to fweik

[2017-10-05 09:09] #1440 closed, assigned to fweik

[2017-10-05 09:16] #1371 closed, assigned to KaiSzuttor

[2017-10-05 09:22] davidsean commented on #1479
The script works on my desktop if I use WX or WXAgg as a backend

[2017-10-05 09:46] rempferg commented on #1337
Seems like the error threshold was a bit too optimistic.
https://github.com/espressomd/espresso/pull/1481

[2017-10-05 09:47] #1337 closed, assigned to rempferg

[2017-10-05 09:52] rempferg commented on #1313
done
https://github.com/espressomd/espresso/pull/1380

[2017-10-05 09:52] #1313 closed, assigned to nobody

[2017-10-05 09:53] rempferg commented on #1321
No. The physics of the method is still questionable.

[2017-10-05 09:53] #1321 closed, assigned to nobody

[2017-10-05 09:54] rempferg commented on #1258
done
https://github.com/espressomd/espresso/pull/1480

[2017-10-05 09:54] #1258 closed, assigned to rempferg

[2017-10-05 11:07] RudolfWeeber opened #1482 "PARTICLE_ANISOTROY may still be broken"
@fweik @psci2195

I extended the langevin_thermostat test to include rotational degrees of freedom.
I also added a verification of translational and rotational diffusion coefficients via Green-Kubo integrals of the velocity auto correlation function.
Unfortunately. the test does not pass for rotational degrees of freedom, when PARTICLE_ANISOTROPY is compiled in (independently of LANGEVIN_PER_PARTI

[2017-10-05 11:26] fweik commented on #1479
So what do we do about this? It would be nice if the visualization tutorials would work for next week.

[2017-10-05 11:34] davidsean commented on #1479
I see two possible solutions,
1) select the working backend from the script
- makes the script a bit more busy
- the script fails on other systems
- script is a bit more transparent (users can tweak it at will)

2) select a system wide working backend via ~./config/matplotlib/maplotlibrc
- seamless
- obfuscates tweaks/workarounds if it dosn't work on their system

[2017-10-05 11:39] fweik commented on #1479
Can somebody please check if WX or WXAgg works on macOS?

[2017-10-05 12:00] fweik commented on #1482
From a quick inspection your test looks good, so this seems to be still broken. I'll have a close look next week.

[2017-10-05 12:11] KonradBreitsprecher commented on #1479
It works on maxOS with explicitly setting
[code]
but only after installing wxPython (via brew).

[2017-10-05 12:11] davidsean commented on #1479
it doesn't work "off-the-bat" on my laptop, but I can try to install dependencies....

Another option is to use the same approach as mayavi vs opengl:

[code]

[2017-10-05 12:23] KaiSzuttor commented on #1479
BTW what I find kind of weird is that I have to have mayavi installed if I want to use opengl visualization.

[2017-10-05 13:06] KonradBreitsprecher commented on #1479
I'd go with

if this will work on the cip machines. We should also do test runs with the summerschool user accounts (will do tomorrow).

[2017-10-05 13:25] fweik commented on #1479
Ok, maybe we can add a system wide config to the profile or something. This would also be helpful for teaching, so that plotting works for the students. IIRC what had something like this before, and it was also solved by a sytem wide config.

[2017-10-05 14:20] KaiSzuttor commented on #1479
I salted all ubuntu machines with a matplotlibrc using WX

[2017-10-05 18:00] #1312 closed, assigned to nobody

[2017-10-05 18:47] rempferg commented on #1423
#1471 is correct. David and I checked its results against one of David's RDF scripts. The script nacl.py in tutorial 02_charged_system gives a physically weird result though. The ++, --, and +- RDFs all look like an LJ fluid with a large first peak for +- and a smaller first peak for ++ and --. According to Fig. 2 in the Tutorial the ++ and -- RDFs should monotoneously approach their bulk value. K

[2017-10-05 18:49] rempferg commented on #1423
make tutorials fails. None of the PDFs get built. building them individually with latexmk fails as well, because common.tex isn't located in under the tutorials directories. Changing \include to \input just reveals more problems. The PDFs weren't updated either after people changed the source files. Would have been great if someone said something earlier than the night before we want to print, or,

[2017-10-05 19:08] fweik commented on #1423
Building the tutorials works for me on ICP/ubuntu 16.04 with bb72f74ca520c21361dc0d06b9c13fc4843dfa51. See also #1486.

[2017-10-05 19:17] fweik opened #1487 "Build and deploy tutorials in CI"
The job on gitlab ci that builds and deploys sphinx and doxygen should also do the same with the tutorial pdf's.

[2017-10-05 19:31] rempferg commented on #1423
I can't reproduce the error any more. Now works on the ICP Ubuntus and mine. No idea what was going on. Sorry for the freakout.

[2017-10-05 19:49] davidsean commented on #1311
Did mindist, nbhood and distto, but there is a lot more in analysis.tcl though.
The remaining things should be treated separately.

[2017-10-05 20:29] rempferg commented on #1423
Found out how to reproduce it. Delete one of the PDFs in doc/tutorials/python. Subsequent builds fail.

[2017-10-06 07:39] bogdan-tanygin commented on #1482
I will take a look.

[2017-10-06 07:58] fweik commented on #1482
We did a change in how the features work, compared to the earlier versions. Now PARTICLE_ANISOTROPY should make the gammas directional (both if ROTATION), and ROTATIONAL_INERTIA enables the inertia tensor. Just that you know. It seemed clearer to
us to separate the diffusion part from the mechanics part.

[2017-10-06 09:53] fweik opened #1491 "Base class for python tests"
We should add a base class for the python tests that creates a system and sets the espresso and numpy seeds.

[2017-10-06 09:55] fweik commented on #1479
The WX backend solution works on ubuntu for python2. Solution for python3 is under investigation...

[2017-10-06 09:58] fweik commented on #1465
We decided to remove the feature. Can potentially be reintroduced if molecule-molecule interactions are supported.

[2017-10-06 11:19] KaiSzuttor opened #1494 "Analysis routines not documented (rdf, ...)"

[2017-10-06 14:43] RudolfWeeber commented on #1482
I looked at this some more. Apparently, the tests only fail when the inertia tensor is non-isotropic.
That may be physics rather than a bug due to the cross terms in the rotational eqn of motion.

[2017-10-06 15:36] #667 closed

[2017-10-06 15:36] #918 closed

[2017-10-06 15:36] #1319 closed, assigned to fweik

[2017-10-06 15:38] fweik commented on #1482
But we can still do the Green-Kubo test for translation and rotaion separately right?

[2017-10-06 17:10] RudolfWeeber commented on #1482
On Fri, Oct 06, 2017 at 08:38:39AM -0700, Florian Weik wrote:

Yes. Just only with isotropic I-tensor

[2017-10-06 21:02] bogdan-tanygin commented on #1482
I've reviewed my analytical calculations.. Indeed, probably, the nonlinear system of Euler equations has no simple closed-form solution based on exponents. Hence, probably, Green-Kubo integrals cannot be derived from EOMs noisy solutions in this case as it can be done for a translation motion of an isotropic particle. Due to the analogous reason, I've not added originally a rotational diffusion Ei

[2017-10-06 22:03] RudolfWeeber commented on #1482
On Fri, Oct 06, 2017 at 09:02:58PM +0000, Dr. Theo (Bogdan) Tanygin wrote:

I agree. I'll close this for now. I will open a PR for the langevin
thermostat test, which by now should cover all possible
combintations of ROTATION, PARTICLE_ANISOTROPY, and
LANGEVIN_PER_PARTICLE.

I might add a test later which compares Es's solution for the Euler
eqn to a numerical integration of the eqn using scipy.

[2017-10-06 22:03] #1482 closed, assigned to nobody

[2017-10-08 08:42] KonradBreitsprecher commented on #1479
Could resolve this with a pyplot.pause(0.01) after pyplot.draw(). Backend TkAgg was fine.

[2017-10-08 08:42] #1479 closed, assigned to nobody

[2017-10-08 09:15] RudolfWeeber commented on #1323
This is merged

[2017-10-08 09:15] #1323 closed, assigned to RudolfWeeber

[2017-10-08 09:17] RudolfWeeber commented on #1322
This is merged

[2017-10-08 09:17] #1322 closed, assigned to nobody

[2017-10-08 09:18] RudolfWeeber commented on #1288
done.

[2017-10-08 09:18] #1288 closed, assigned to nobody

[2017-10-08 09:22] #1267 closed, assigned to nobody

[2017-10-08 09:22] RudolfWeeber commented on #1267
delete() is gone

[2017-10-08 09:22] #1261 closed, assigned to davidsean

[2017-10-09 12:11] RudolfWeeber opened #1499 "C++-exceptions called in script_interface'd code need to be caught and forwarded to Py"

[2017-10-09 12:15] RudolfWeeber opened #1500 "Implement clear() in py for ObjectRegestry-drived classes"

[2017-10-09 13:49] KaiSzuttor commented on #1129
The visualization still lacks in-code documentation.

[2017-10-09 14:17] hmenke commented on #1499
That should be the case already.  It means that some method in `script_interface.pxd` is missing the `except +` annotation.  Do you have a minimal example to reproduce?

[2017-10-10 08:20] fweik commented on #1499
[code]

[2017-10-10 09:54] RudolfWeeber commented on #1499
I meant exceptions thrown on nodes other than the head node.

[2017-10-10 16:16] #1355 closed, assigned to nobody

[2017-10-11 12:59] RudolfWeeber opened #1511 "MULTI_TIME_STEP and ROTATION probably don't play ncie"
Since the rotational thermostat seems to lack the switching code

[2017-10-11 13:46] fweik commented on #1499
Hm, I actually think that terminate is the better solution here. It is in no way clear that it is safe to go on.

[2017-10-11 19:37] davidsean commented on #1397
I tried merging load_checkpoint.py and save_checkpoint.py in a single file. Unfortunately, I am unable to delete the espressomd.System() class instance, which needs to be done to before since I cannot create a second one.

deleting the reference via
`system = espressomd.System()`
`del system`

doesn't seem to work, I suspect something else refers to it preventing the instance from actually being d

[2017-10-11 20:16] #1320 closed, assigned to nobody

[2017-10-11 20:22] fweik commented on #1397
It can't be deleted at the moment due to restrictions in the core, so what you are seeing is actually on purpose. This causes duplications in several tests but we can not fix this at the moment.

[2017-10-12 07:02] #1396 closed, assigned to nobody

[2017-10-12 07:09] KaiSzuttor commented on #1397
we could implement a clear method for the system class that removes all members and calls the init again

[2017-10-12 07:18] fweik commented on #1397
There is no way to completely reset the state in the core, so there would always be unexpected behaviour.

[2017-10-12 08:36] jonaslandsgesell commented on #1494
The whole analysis.rst needs to be rewritten to match the python interface. Documentation of the commands should also happen in the code and not in the rst.

[2017-10-12 09:15] fweik opened #1519 "Interface let's you set a mass of zero"

[2017-10-12 09:15] fweik commented on #1494
There are more specific tickets for all the commands. Also rdf has incode docs, but the rest is missing.

[2017-10-12 09:16] #1519 closed, assigned to nobody

[2017-10-12 10:09] pkreissl commented on #896
I think this can be closed, forcecap is documented in `inter.rst`.

[2017-10-12 10:41] davidsean commented on #1397
I guess we can always just add a sample checkpoint file then. Do we know if checkpoint files are compatible across platforms and python versions?

[2017-10-12 11:14] KaiSzuttor opened #1522 "LB parameters only contain particles added before LB initialization"
Reproduces:
[code]

[2017-10-12 12:02] helvrud opened #1523 "global_mc_move_for_one_particle_of_type"
RE.global_mc_move_for_one_particle_of_type(1)
_TypeError: global_mc_move_for_one_particle_of_type() takes no arguments (1 given)_

RE.global_mc_move_for_one_particle_of_type()
_TypeError: an integer is required_

[2017-10-12 15:44] #1455 closed, assigned to nobody

[2017-10-12 16:05] KonradBreitsprecher commented on #1162
@KaiSzuttor can this be closed?

[2017-10-12 22:04] fweik commented on #1522
Actually I think this is correct. The 2nd part does not exist yet on the GPU, you have to trigger a copy first.

[2017-10-13 05:53] KaiSzuttor opened #1524 "get_interpolated_velocity in src/core/lbgpu_cuda.cu gives wrong results for agrid != 1"
I used that function in PR #1515 and got wrong results for agrid != 1

[2017-10-16 12:19] rempferg opened #1526 "LB_GPU does not integrate"
The following does not integrate LB. I don't know why. Uncommenting `lb[0,0,0].velocity` makes it intrgrate. Don't know why, either.

[code]

[2017-10-17 10:16] #1523 closed, assigned to jonaslandsgesell

[2017-10-17 11:20] davidsean commented on #1494
I'll work on this one next for the next coding day

[2017-10-17 11:35] KonradBreitsprecher commented on #1451
On the CD on 19/10, I will work on that.
#600, #658, #1361 and #239  are related.

[2017-10-17 12:29] RudolfWeeber commented on #1317
I think, this is covered between mass-and-rinertia_per_particle and the extend langevin_thermostat and rotational_inertia tests in #1510.

[2017-10-17 12:31] RudolfWeeber commented on #1310
So far, no one spoke up for this feature. That probably means we remove it.

[2017-10-17 12:33] RudolfWeeber commented on #1306
Can this be closed. Based on the extended langevbin test pr, I think, the cleaned-up thermostat code is sufficiently tested and correct.

[2017-10-17 12:37] RudolfWeeber commented on #1251
@KaiSzuttor, this is done, isn't it?

[2017-10-17 12:38] RudolfWeeber commented on #1233
@rempferg, can this be closed?

[2017-10-17 12:40] RudolfWeeber opened #1529 "Make git commit hash and state accessible from Py interface"
This existed already for tcl.

[2017-10-17 12:42] RudolfWeeber commented on #1140
@rempferg @bindgens1 Do we close this?

[2017-10-17 12:46] fweik commented on #1529
What do you mean by 'state'? If the repo was modified?

[2017-10-17 12:50] #857 closed

[2017-10-17 12:51] #624 closed

[2017-10-17 13:12] RudolfWeeber opened #1530 "Remove the doc/ug dir and update make doc build rule"

[2017-10-17 13:59] RudolfWeeber commented on #1529
On Tue, Oct 17, 2017 at 12:46:06PM +0000, Florian Weik wrote:

Yes.

[2017-10-17 15:07] #1311 closed, assigned to nobody

[2017-10-18 08:05] fweik commented on #1464
I think this should be slightly changed. The current implementation acts per type I think it would
be more useful to do that per molecule (as identified by molid).

[2017-10-19 08:28] pkreissl commented on #1116
Will look at that.

[2017-10-19 08:39] KonradBreitsprecher commented on #1315
Will work on that.

[2017-10-19 09:06] rempferg commented on #967
I think so. They test everything I deem production ready. They don't test the particle coupling, yet, but the physics of that is still under development.

[2017-10-19 09:06] #967 closed

[2017-10-19 09:11] rempferg commented on #1262
Read it and found that the only parts not converted are those for which no Python interface exists. All of those had a TODO note informing users about the lack of an interface.

[2017-10-19 09:11] #1262 closed, assigned to KonradBreitsprecher

[2017-10-19 09:11] mkuron commented on #1253
Has been fixed already in #1433. Please close this issue.

[2017-10-19 09:14] #896 closed

[2017-10-19 09:16] #1529 closed, assigned to fweik

[2017-10-19 09:20] rempferg commented on #951
Hat and Soft-Sphere are necessary for DPD. Flo Weik already took care of Hat.

[2017-10-19 09:21] mkuron commented on #1104
https://github.com/espressomd/doc / https://espressomd.github.io/doc/ is not used anymore and should be deleted. Can you do that, @fweik?

The documentation is now built on Gitlab and deployed to http://espressomd.org/html/doc/ (Sphinx) and http://espressomd.org/html/dox/ (Doxygen).

[2017-10-19 09:26] #1248 closed, assigned to nobody

[2017-10-19 09:27] jonaslandsgesell commented on #1329
I ll have a look into this.

[2017-10-19 09:35] rempferg commented on #1250
#1534

[2017-10-19 09:53] rempferg commented on #1251
Is not up to date. Working on it.

[2017-10-19 09:54] #1138 closed, assigned to nobody

[2017-10-19 09:59] KonradBreitsprecher commented on #1315
Can be closed via #1535

[2017-10-19 10:00] rempferg commented on #1260
Is a pure description of the math, doesn't need conversion. Interface is documented in inter.rst and that one is converted.

[2017-10-19 10:00] #1260 closed, assigned to nobody

[2017-10-19 10:05] #1465 closed, assigned to nobody

[2017-10-19 10:08] rempferg commented on #277
Marcello's pull request was merged. I assume that fixed it.

[2017-10-19 10:08] #277 closed

[2017-10-19 10:13] #1250 closed, assigned to nobody

[2017-10-19 10:13] #1253 closed, assigned to nobody

[2017-10-19 10:16] rempferg commented on #1252
Does not exist.

[2017-10-19 10:16] #1252 closed, assigned to nobody

[2017-10-19 10:19] #1423 closed, assigned to KunTares

[2017-10-19 10:20] RudolfWeeber opened #1536 "REACTION_ENSEMBLE sort out ifdefs"
Currently,
REACTION_ENSEMBLE
is defined as a feature in features.def, but the code in the core is compiled in unconditionally.
Only the Python interface is not added, if the features is not defined.

Probably, the feature should be removed from features.def and the Python stuff also compiled unconditionally. Furthermore the skipIf decorator needs to be removed from the test.

[2017-10-19 10:21] rempferg opened #1537 "make tutorials fails if a PDF in doc/tutorials was deleted manually"

[2017-10-19 10:51] KonradBreitsprecher commented on #1129
Will do.

[2017-10-19 11:02] RudolfWeeber opened #1538 "Feature requirements get checked late if at all"
e.g., putting ELECTROKINETICS into myconfig.hpp and compiling without cuda.

ELECTROKINETCS requires CUDA as stated in features.def.

The checks are put in the build dir in src/core/config-features.cpp.
So
* either, config-features.cpp needs to be compiled before everything else
* or, the requirement checking should go into config-features.hpp. In that case, it would also be possible to output a w

[2017-10-19 11:07] mkuron commented on #1537
I can't seem to reproduce this. Can you provide the commands that lead to the problem?

[2017-10-19 11:10] mkuron commented on #1537
This is somehow related to the tutorial PDFs being put into both the source and the build directory:

[code]
[code]

[2017-10-19 11:21] fweik commented on #1538
We can make them into a lib and then make EspressoConfig depend on it, that would force to be compiled first. I would not continue if something went wrong. We should force the user to make an deliberate choice.

[2017-10-19 11:22] fweik commented on #1537
This fixes it. We should have a tutorial cmake command.

[code]

[2017-10-19 11:32] fweik commented on #1536
I can see no reason why this needs to be a FEATURE in the first place. @jonaslandsgesell agrees.

[2017-10-19 11:56] pkreissl commented on #951
I'll take care of the Soft-Sphere interface.

[2017-10-19 12:19] KonradBreitsprecher commented on #658
Still exists. Here in python:

[code]

[2017-10-19 12:55] rempferg commented on #1251
#1543

[2017-10-19 12:55] #1251 closed, assigned to rempferg

[2017-10-19 13:33] davidsean opened #1545 "local_stress_tensor segfault"
calling analysis.local_stress_tensor() results in a segfault
[code]

[2017-10-19 13:41] KonradBreitsprecher commented on #1451
Closed via #1546

[2017-10-19 13:41] #1451 closed, assigned to fweik

[2017-10-19 15:39] itischler commented on #1228
i don't know if this is a bug, because the parameters get updated to the c++-core parameters once the p3m actor is added to the system. If one tries to read them out beforhand the c++-core parameters are set to 0 by default.

[2017-10-19 15:49] RudolfWeeber commented on #1228
On Thu, Oct 19, 2017 at 08:39:20AM -0700, itischler wrote:

It should behave like script interrface classes. I.e., when added to
the system, the parameters should be transferred from the class to
the system. Tuning, is of course, an exception.

[2017-10-19 15:54] pkreissl commented on #951
Also added smooth-step, Morse, Buckingham, Hertzian and Gaussian interaction.

[2017-10-19 16:28] RudolfWeeber commented on #1324
mmm2d is broken. Looking into it

[2017-10-19 16:48] KonradBreitsprecher commented on #229
So I digged into this again, the following script sometimes fails and sometimes works, even though p3m tunes to the same values. Note that in the current branch, the dielectric contrast feature is not interfaced.

[code]
Wrong:
![image](https://user-images.githubusercontent.com/3974659/31783004-09a5d56c-b4fd-11e7-9c9f-468364e12e81.png)
Correct:
![image](https://user-images.githubusercontent.com/39

[2017-10-19 19:33] #1530 closed, assigned to nobody

[2017-10-20 09:03] KonradBreitsprecher opened #1550 "Don't allow attempted change of vector components"
A pitfall for many users might be that `system.part[0].pos[2] = 123` will run but don't change the z component of the position. This only changes the returned numpy.array and not the underlying property's component. A way out would be:
[code]
in all getters that return arrays, which then throws an error if the users attempts the component change.

[2017-10-20 10:24] hmenke commented on #951
I'm not using it but Gay Berne has a Python interface.

https://github.com/espressomd/espresso/blob/0671bf5ad922c3136469851d3bb2119084054fe4/src/python/espressomd/interactions.pyx#L271-L346

[2017-10-20 12:26] #1315 closed, assigned to nobody

[2017-10-20 12:29] #1129 closed, assigned to KonradBreitsprecher

[2017-10-20 12:32] #1286 closed, assigned to RudolfWeeber

[2017-10-20 13:12] jonaslandsgesell commented on #1550
I agree, I would have expected this syntax to modify the particle position.

[2017-10-20 13:23] jonaslandsgesell opened #1551 "Tutorial which nicely demonstrates the differences between the constant pH method and the reaction ensemble"
The differences between both methods (https://arxiv.org/abs/1702.04911) can be nicely shown.
In the tutorial especially the number of H+ ions can be observed as a function of different box volumina.
*For the constant pH method one observes that the box volume does not affect the number of H+ ions
*For the reaction ensemble one observes a change in the H+ number.

*The different electrostatic scree

[2017-10-20 13:34] #658 closed

[2017-10-20 13:42] fweik commented on #1526
There kernels are only executed if the result is observable. Since without particles and no accesses to the velocities the result is not used, the kernels do not run.

[2017-10-20 13:42] #1526 closed, assigned to nobody

[2017-10-20 13:58] #931 closed

[2017-10-20 14:09] rempferg commented on #1550
Would be great if someone *hint* *hint* would create a pull request.

[2017-10-20 14:18] KonradBreitsprecher commented on #1550
A pull request for the indicated solution?
However, as @RudolfWeeber  pointed out, this would prevent something like

[code]

[2017-10-21 11:16] RudolfWeeber opened #1554 "Prevent users from putting external dependencies in myconfig.hpp"
#define SCAFACOS
in myconfig.hpp whith scafacos not found/installed results in a compilation error late in the build process.
?Defining CUDA when compiling without cuda support will compile successfully (everything except cuda stuff) and fail on module import.

[2017-10-21 15:16] fweik commented on #1554
We could put a guard into the generated header (config-features.hpp), sth like
[code]
This does not scale of course. In the longer run we have to think about a replacement for the header-based configuration, e.g. via cmake.

[2017-10-21 15:34] RudolfWeeber commented on #1554
On Sat, Oct 21, 2017 at 03:16:49PM +0000, Florian Weik wrote:

For now, since the config-features.cpp/hpp are generated at build time by a
Python script, we can auto-generate these guards for all features
declared as external in features.def.
This has to happen after the myconfig-final.hpp is included but
before config_cmake.hpp is.

[2017-10-21 17:27] #1329 closed, assigned to nobody

[2017-10-21 17:27] #1536 closed, assigned to nobody

[2017-10-22 12:17] jonaslandsgesell commented on #1550
That's fine the User Just has to provide a whole vector instead of manipulating only components.

[2017-10-22 17:22] mkuron opened #1558 "Eliminate all compiler warnings before releasing Espresso 4.0"
Our CI builds currently show hundreds of compiler warnings. We should take care of all of them before Espresso 4.0 is released. To ensure that no new warnings are ever introduced after that, we might want to add `-Werror` to the compiler flags, which makes all warnings fatal, and `-pedantic`, which shows warnings when the C++ standard is violated.

[2017-10-23 08:26] RudolfWeeber opened #1559 "2d electrostatic methods don't agree with each other"
@KonradBreitsprecher @arnolda

Discovered while writing tests (#1324).
I tested: p3m+elc, mmm2d, scafacos p2nfft against each other and against reference data obtained by direct summation with a circle-cutoff with a radius of 400 periodic images.
* scafacos p2nfft agreed with the direct summation result (Deviation: forces: abs 1.6E-3, abs energy 0.08, rel=1E-3). Energy should converge much slower.

[2017-10-23 09:36] #1538 closed, assigned to fweik

[2017-10-23 13:21] bindgens1 commented on #1140
Python interface for LE should be working in the current Python branch. Documentation is missing. I will add the documentation within the next days and also extend the LB GPU documentation. Test cases will be provided as well.

[2017-10-23 17:48] jonaslandsgesell commented on #1233
I just moved the documentation from tcl to Python recently due to interest in the virial stress. I did not change the calculations. I think this is still open.

[2017-10-23 17:55] jonaslandsgesell commented on #1181
For me this seems OK that changes were introduced which broke the pickle mechanism regarding the fact that Espresso is a research project and keeping pickle checkpoints compatible now would introduce more code complexity which is probably not needed anymore after all classes are new style classes and some time has passed by.
Can we close this issue here?

[2017-10-23 18:55] RudolfWeeber commented on #1181
On Mon, Oct 23, 2017 at 05:55:43PM +0000, Jonas Landsgesell wrote:

What we probably should do is get the version and git info newly
available in Python into the checkpoints and issue a warning
if they mismatch on load.

[2017-10-24 08:17] fweik opened #1563 "Exclusions and bonds don't work on ParticleSlice"
Because they can have variable length, so they can not be cast into a numpy array. If this can't be fixed, they have to be removed from the slice.

[code]

[2017-10-24 10:17] #1545 closed, assigned to nobody

[2017-10-24 13:30] KonradBreitsprecher commented on #1559
I found that in the calculation of the self-energy, the sum over local particles changed to a std::accumulate, which is broken:

[code]
There is a subtle `0` to initialize the sum, but also sets the type to int.
Changing this to a double `0.0` corrects the mmm2d energy in Rudolfs testcase.
Note that I also found a similar call of std::accumulate in mdlc_correction.cpp,
which might be broken as wel

[2017-10-25 08:53] pkreissl commented on #951
So, with PR #1547 we will have the following non-bonded interactions interfaced:
 - Smooth step
 - Morse
 - Buckingham
 - Soft Sphere
 - Hertzian
 - Gaussian
 - Gay Berne (already there)
 - Hat (apparently already done by Flo Weik)
 - BMHTF

Still missing are:
 - Affinity (related to Shan-Chen)
 - ~BMHTF~
 - Directional LJ
 - ~Membrane collision (related to OIF)~ part of PR #1504

Should these als

[2017-10-26 09:33] KonradBreitsprecher commented on #1511
Also MULTI_TIME_STEP and  PARTICLE_ANISOTROPY don't compile.

[2017-10-26 09:40] RudolfWeeber opened #1569 "mdlc (dipolar layer correction) test needs to be checked"
The fact that the test did not fail in spite of the bug removed in #1568 suggests that the test didn't test the method sufficiently. The test data uses sqrt(3) as dipole moment, so the unintended cast to int in the calculation of the total dipole moment should have made a difference.

[2017-10-26 12:18] KonradBreitsprecher commented on #1550
I just realised that modifying operators like
[code]
also won't work with non-writable return arrays..

[2017-10-26 13:15] fweik opened #1571 "Failures in virtual sites relative test"
There are sometimes failures in the vs realtive test. (e.g. https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/3169), there error suggests that there
is a problem with particle sorting with VS under some circumstances
[code]
This is not necessary a new issue, the check the produces the error is activated
by ADDITIONAL_CHECKS, which was enabled only recently in the test configs.
This co

[2017-10-26 17:01] #1494 closed, assigned to nobody

[2017-10-26 20:48] mkuron commented on #1550
How about a solution that actually makes `system.part[0].pos[2] = 123` work? Just subclass `numpy.ndarray` and overwrite the `__setitem__` method with one that sets the value in the core.

[2017-10-27 12:16] fweik opened #1575 "engine_lbgpu broken in debug build"
The 3pt coupling part is broken. The offending commit is 74d2da99213a9230a35d1a149d2695d0324436d7, so it was broken from the beginning. I'll deactivate the 3pt test for now.

[2017-10-27 14:15] fweik commented on #1575
Removed section from test:
[code]

[2017-10-29 14:58] #943 closed

[2017-10-30 08:19] fweik opened #1579 "Gitlab CI should merge master before testing PR's"
Currently the PRs are directly checked, which is less useful than testing there merged code.

[2017-10-30 08:44] KaiSzuttor commented on #1579
that will cause failing checks if there are merge conflicts

[2017-10-30 08:48] fweik commented on #1579
The CI is not started if the PR can't be automatically merged. Travis does the same thing.

[2017-10-30 08:49] fweik commented on #1579
Ok maybe you are right.

[2017-10-30 10:33] hmenke commented on #1579
I don't see the problem.  If the PR cannot be merged it's not useful anyway, so failing checks are only a minor nuisance on top.

[2017-10-30 10:42] KaiSzuttor commented on #1579
its not usefull until master is merged manually but then the tests run again anyway, so I dont see any advantage in trying to merge within the webhook procedure

[2017-10-30 16:29] #1464 closed, assigned to nobody

[2017-10-31 11:36] RudolfWeeber opened #1585 "Compiling in dpd slows down lj liquid by 20-25%"
Default myconfig + DPD, 20k particles on 2 cpus, phi=0.5, skin tuned
5.8 vs 4.7 ms

Most likely cause is the fact that the dpd pair force is not inlined and does not have an early exit if dpd is off.

[2017-10-31 17:03] #625 closed

[2017-11-01 02:51] hmenke commented on #1585
I suspect this one:
https://github.com/espressomd/espresso/blob/d2ec3e4de53a83eccc4e37dc52872227dcbdadc5/src/core/initialize.cpp#L695-L700

but guarding the DPD interaction is not a bad idea either.  Just do
[code]
instead of the current
https://github.com/espressomd/espresso/blob/d2ec3e4de53a83eccc4e37dc52872227dcbdadc5/src/core/forces_inline.hpp#L332-L334

[2017-11-01 10:47] RudolfWeeber commented on #1585
That, as I understand it, only activates ghost velocities if dpd is
actually turned on

[2017-11-02 08:30] fweik commented on #1585
I think
[code]
is more branch prediction friendly. I'll try that.

[2017-11-02 08:51] KaiSzuttor commented on #1579
can this be closed?

[2017-11-02 08:54] KaiSzuttor opened #1588 "test interactions_bonded.py segfaults with more than one core"
@pkreissl @RudolfWeeber
[code]

[2017-11-02 09:02] KaiSzuttor commented on #1579
This would also mean that we would have to trigger a merge for every open PR for every merge. That is kind of overkill

[2017-11-02 09:12] fweik commented on #1588
Yeah, I'm on it.

[2017-11-02 09:13] #1579 closed, assigned to nobody

[2017-11-02 09:43] RudolfWeeber commented on #1559
I merged the current Python branch and  #1580.
MMM2D is fixed (results agree with p2nfft for forces and energy). Elc, despite the bugfix has not improved, apparently.

[2017-11-02 09:59] hmenke commented on #1585
True, it is more branch-prediction-friendly but at the same time prohibits using the DPD interaction without the DPD thermostat.

[2017-11-02 16:01] #1104 closed, assigned to nobody

[2017-11-02 16:57] fweik commented on #1290
@RudolfWeeber , was this fixed by #1587?

[2017-11-02 18:43] RudolfWeeber commented on #1290
On Thu, Nov 02, 2017 at 04:58:12PM +0000, Florian Weik wrote:

Yes, except the one for IMMERSED_BOUNDARIES which I left alone (@sgekle)
The runtime error collection there can probably also be removed, but
it only becomes relevant when virtual sites are switchable at
runtime and IMMERSED_BOUNDARIES can be included in the maxset
configuration.

[2017-11-02 18:43] #1290 closed, assigned to nobody

[2017-11-02 18:46] #1499 closed, assigned to fweik

[2017-11-02 18:46] #1588 closed, assigned to fweik

[2017-11-02 19:22] RudolfWeeber opened #1590 "Py: pep8 class name violations"
Angle_Harmonic, Angle_..., Subt_Lj

should probably be fixed before the release.

[2017-11-02 19:59] RudolfWeeber commented on #1590
electrostatics.pyx:        cdef class P3M_GPU(ElectrostaticInteraction):
electrostatics.pyx:    cdef class MMM1D_GPU(ElectrostaticInteraction):
interactions.pyx:    class Subt_Lj(BondedInteraction):
interactions.pyx:    class Angle_Harmonic(BondedInteraction):
interactions.pyx:    class Angle_Harmonic(BondedInteractionNotDefined):
interactions.pyx:    class Angle_Cosine(BondedInteraction):
interac

[2017-11-03 11:07] fweik commented on #1585
The dpd interaction does only work if the dpd thermostat is turned on anyway. This is needed so that it obeys the global temperature. It would not be hard though to factor out a friction interaction that can be used on its own and is used by dpd, so I think I'll go with my proposed solution as long there is no customer for a stand alone friction ia.

[2017-11-03 13:39] KonradBreitsprecher commented on #1559
I found another small error in the tuning routine of ELC, but it did not improve the accuracy in the cloud test in coulomb_mixed_periodicity.py.
However, with an increased ELC gap size, ELC produces rms force and energy differences comparable to MMM2D. I tested coulomb_mixed_periodicity.py with a gap size of 3 (by increasing box_l[2] to 12) and got

- mmm2d rms force difference 0.00160918028392
-

[2017-11-03 23:54] #1164 closed, assigned to nobody

[2017-11-04 20:28] KaiSzuttor opened #1592 "Sphinx inline doc not present anymore."
Since #1567 is merged, we don't have inline documentation anymore since I used the autdoc mock for mayavi which results in mocking the whole espressomd module. We have to come up with another solution for mayavi which can not be automatically imported by the autodoc extension of sphinx because it has module level statements in there. Maybe @mkuron can resolve this issue.

[2017-11-04 21:44] hmenke commented on #1592
Related issue in Sphinx: https://github.com/sphinx-doc/sphinx/issues/2557

Related answer on Stack Overflow: https://stackoverflow.com/a/15912502

[2017-11-05 10:21] #1317 closed, assigned to nobody

[2017-11-05 10:21] #1305 closed, assigned to nobody

[2017-11-05 10:21] RudolfWeeber commented on #1305
Fix is merged

[2017-11-05 10:23] #1244 closed, assigned to RudolfWeeber

[2017-11-05 10:23] RudolfWeeber commented on #1244
Done

[2017-11-05 10:31] #1108 closed, assigned to nobody

[2017-11-05 10:33] #1107 closed, assigned to nobody

[2017-11-05 10:34] #962 closed

[2017-11-06 13:25] #1592 closed, assigned to nobody

[2017-11-07 12:27] RudolfWeeber commented on #1559
Offline discussion result:
* When the gap is small (10% of box), the elc tuning does not result in parameters which give an accuracy comparable to other methods (p2nfft and mmm2d). We will put a wraning in the user guide and the interface for elc. Users should choose larger gaps and compare force and energy to mmm2d for a representative configuration of their system.
* Elc with image charges is li

[2017-11-07 18:57] fweik opened #1596 "CUDA build with cuda 8 and debug flags broken"

[2017-11-08 07:12] KaiSzuttor commented on #1596
We should go back to the CUDA 7.5 to be able to to test again and investigate what does not yet work with cuda 8.

[2017-11-08 09:12] KaiSzuttor opened #1597 "Scriptinterface not able to handle numpy array parameters"

[2017-11-08 09:40] RudolfWeeber commented on #1597
See open pr.

[2017-11-08 10:52] fweik commented on #1596
This appears to be an upstream issue in trust, see https://github.com/thrust/thrust/issues/864.
They claim this is fixed in cuda 9. So, I think a reasonable workaround is to disable debug flags for the relevant code.

[2017-11-08 13:16] fweik opened #1599 "Potentially unneeded communication in cells_resort_particles"
To me it is now obvious why the both ghost communications in cells.cpp:319-320
[code]
can not be done in one step. Any ideas?

[2017-11-08 14:42] fweik commented on #1599
No.

[2017-11-08 14:42] #1599 closed, assigned to nobody

[2017-11-08 15:55] #1596 closed, assigned to KaiSzuttor

[2017-11-08 16:18] fweik opened #1602 "Lees Edwards BC is missing test"

[2017-11-08 21:39] #1174 closed, assigned to fweik

[2017-11-09 09:51] RudolfWeeber commented on #1289
Fixed.

[2017-11-09 09:51] #1289 closed, assigned to RudolfWeeber

[2017-11-09 09:52] RudolfWeeber commented on #1597
Solution has been merged

[2017-11-09 09:52] #1597 closed, assigned to nobody

[2017-11-09 10:00] RudolfWeeber commented on #1314
Closing, since the short range pr with its associated tests are merged

[2017-11-09 10:00] #1314 closed, assigned to nobody

[2017-11-09 10:01] #1306 closed, assigned to nobody

[2017-11-09 10:03] #1229 closed, assigned to nobody

[2017-11-09 10:04] #1145 closed, assigned to nobody

[2017-11-09 10:05] #1111 closed, assigned to nobody

[2017-11-09 10:06] #965 closed

[2017-11-09 19:53] #1554 closed, assigned to nobody

[2017-11-11 18:07] RudolfWeeber commented on #1563
IIRC, Tobias Rau implemented these. We need to check whether they got removed by accident when the auto-generated properties were introduced.

[2017-11-13 13:17] bindgens1 commented on #1602
I submitted a pull request with a test case

[2017-11-13 22:59] RudolfWeeber opened #1615 "ParticleSlice __len__() missing"
Analogous to ParticleList

[2017-11-13 23:03] RudolfWeeber commented on #1590
And methods:
analysis.pyx
momentofinertiamatrix()
rdfchain()
Vkappa()
mindist()
distto()
centermass()

[2017-11-14 07:49] KaiSzuttor opened #1617 "observables are not documented"
Currently the user can only look into the source code and check which parameters to set in the interface.
The following observables are lacking documentation:
- [x] `class espressomd.observables.ComForce`
- [x] `class espressomd.observables.ComPosition`
- [x] `class espressomd.observables.ComVelocity`
- [x] `class espressomd.observables.Current`
- [x] `class espressomd.observables.CylindricalFluxD

[2017-11-14 08:31] KaiSzuttor commented on #1438
Should this be discussed offline?

[2017-11-14 09:02] RudolfWeeber commented on #1438
On Tue, Nov 14, 2017 at 08:31:26AM +0000, Kai Szuttor wrote:

My suggestion would be to de-couple #1441 from a more general
discussion about I/O refactoring.

Once test and docs are proivded, I think #1441 could be merged.

[2017-11-14 11:30] bindgens1 opened #1623 "Documentation can't be build without h5md"
Not sure if this is a bug actually:

Using `make sphinx` the documentation can't be built without h5md.
`make sphinx` results in:
[code]
h5md is deactivated in `ccmake ..`

[2017-11-14 14:11] fweik opened #1624 "Codebase-wide changes after merge freeze"
Larger changes that should be done after the merge freeze on 1st Dec:

- clang-format all the files
- autopep8 Py and Cy files
- Make local_cells non-global via [CoARCT](https://github.com/lanl/CoARCT)

Please feel free to add stuff, we will not have this opportunity often in the future.

[2017-11-14 14:27] RudolfWeeber commented on #1624
autopep8 Py and Cy files

[2017-11-14 14:27] fweik commented on #1571
The tests fails (not crashed) now with 3 cores.

[2017-11-14 16:42] RudolfWeeber opened #1627 "Prevent simulatneous setting of particle properties with contradicting result"
dip and dipm, quat and dip

[2017-11-14 17:04] RudolfWeeber opened #1628 "Remove warning about eps=0 for dipolar p3m"
Proabbly confuses prefactor with epsilon at infinity

[2017-11-14 17:25] RudolfWeeber opened #1630 "py: Type checking for int and float needs to cope with numpy types"
E.g., access to system.non_bonded_inter[i,j] with i,j being output of ParticleSlice[:].type

[2017-11-14 17:39] fweik commented on #1630
I think this should be centralized.

[2017-11-14 18:11] #1590 closed, assigned to nobody

[2017-11-14 23:48] #1571 closed, assigned to RudolfWeeber

[2017-11-15 21:33] hmenke commented on #1558
Some thoughts:
- We'd have to exclude `-pedantic` and `-Werror` from the Cython-generated code.
- We should aim to compile with `-Wall`.  Currently this triggers heaps of the following
  * `-Wsign-compare`
  * `-Wmissing-field-initializers`
  * `-Wreorder`
  * `-Wmaybe-uninitialized`
  * `-Wunused-variable`

  Apart from `-Wunused-variable` all of those indicate the possibility for undefined behav

[2017-11-16 08:23] mkuron commented on #1558
I‘ll try to do this at next week‘s coding day.

Fixing the `-Wall` Warnings you mention is going to be a huge amount of work, so I‘ll add them one by one after all other warnings have been fixed.

[2017-11-16 09:06] hmenke commented on #1558
#1616 fixes all regular and `-pedantic` warnings from GCC 5.4.1 and all regular and `-pedantic` warnings for non-CUDA code from Clang 6.0.0.

[2017-11-16 12:56] #1623 closed, assigned to KaiSzuttor

[2017-11-17 15:38] fweik opened #1637 "interactions_non-bonded.py broken with 3 cores"
with 3 cores. To reproduce:
[code]
The repetition is only needed because the testcase picks a random starting point. If the interaction crosses a periodic boundary in the direction of the node grid it always fails. The reason seems to be
that the positions in the ghost cell that takes part in the interaction are not shifted as they should be.
This leads to a wrong distance and the pair is discarde

[2017-11-21 18:17] RudolfWeeber commented on #254
Fixed.

[2017-11-21 18:17] #254 closed

[2017-11-22 09:12] hmenke commented on #1624
I've tried `include-what-you-use` on another project of mine today and I found that it is completely useless.  It chokes on Boost because of circular includes (by asserting and crashing) and gives stupid tips like including `<bits/shared_ptr.h>` instead of `<memory>`.  So better don't use it.

[2017-11-22 11:40] fweik commented on #1624
I've testet IWYU on espresso and it worked fine. That was on ubuntu 16.04 with IWYU from the package manager. It uses mapping files to avoid such issues as you describe, they have to match the boost and stdlib versions that are used, otherwise everything explodes.

It does not work perfectly on Espresso though, because there are mutual exclusive ifdefs.

[2017-11-22 12:11] #243 closed

[2017-11-22 12:11] #244 closed

[2017-11-22 12:11] #246 closed

[2017-11-22 12:11] #247 closed

[2017-11-22 12:11] #248 closed

[2017-11-22 12:11] #257 closed

[2017-11-22 12:11] #258 closed

[2017-11-22 12:11] #264 closed

[2017-11-22 12:11] #271 closed

[2017-11-22 23:07] KonradBreitsprecher commented on #1559
Can be closed via #1638 . electrostatic_mixed_periodicity @RudolfWeeber is merged.

[2017-11-23 10:54] hseara opened #1645 "I cannot compile espressomd in archlinux WITH_CUDA=ON and WITH_PYTHON=ON"
Dear all,
it is being a long while since I used espressomd. I understand that you are about to finish the porting to python of the whole code. A great idea. I wanted to test the new version myself using the current git version (3.4.dev.r2998.g6cbef0e6b). Unfortunately, there are two fundamental features that I need to deactivate if I want to succeed compiling espresso in Archlinux using defaults.

[2017-11-23 11:49] #1585 closed, assigned to fweik

[2017-11-23 20:50] kosovan opened #1649 "correlator docs incomplete"
passing of args to fcs_acf needs to be explained

possible values of compress1 and compress2 are not quite clear.

I can fix this on Monday November 27

[2017-11-23 21:04] kosovan opened #1650 "reaction ensemble docs need to be corrected"
Sections 6.6 - 6.8 in the user guide need changes. Some statements are incorrect due to previous misunderstandings, others could be simplified.

Some parameters of the reaction_ensemble module need to be fixed:
pressure - its meaning is incorrectly described.
default_charges - it is unclear from the docs how it is used

The order of types in the list of reactant_types and product_types matters for

[2017-11-23 21:23] kosovan commented on #877
A few comments to these observables and to the docs:

1. spatial_polymer_property - this is a very generic name for an observable. Please give it a more direct name (degree of ionization or degree of charging?). In the updated docs you say that it calculates charges on "weak polyelectrolytes" but I doubt that the observable recognizes whether these particles belong to any polymer or take part in i

[2017-11-24 09:05] KonradBreitsprecher commented on #1382
#600 is involved i guess

[2017-11-24 09:29] KonradBreitsprecher commented on #862
I look into this

[2017-11-24 10:42] KonradBreitsprecher commented on #862
[code]
The script works and the observables testcase also uses random masses, so this can be closed.

[2017-11-24 12:15] KonradBreitsprecher commented on #1214
Closed via #1652

[2017-11-24 13:11] fweik commented on #1645
The reason for the nvcc issues seems to be that compute capability 2.0 is no longer supported by cuda 9. I think the proper solution is to make the compute capabilities that should be build should be settable via cmake.

The numpy warnings can be ignored. This is a known upstream issue in cython and has to be dealt with by them.

[2017-11-24 16:03] KonradBreitsprecher commented on #1563
Can be closed via #1652

[code]

[2017-11-24 16:56] KonradBreitsprecher opened #1656 "OpenGL visualizer doesn't work without EXTERNAL_FORCES"

[2017-11-24 18:58] fweik opened #1657 "Lees Edwards not testet in CI"
There are now tests...

[2017-11-24 18:58] fweik commented on #1657
#1608.

[2017-11-24 20:14] fweik opened #1659 "Lees Edwards has an effect even if not turned on."
See #1658.

[2017-11-25 15:47] RudolfWeeber opened #1661 "Samples need cleanup"
dbebye_hueckel: outdated
villard: Segfaults if no graphics display
load/save_checkpoint are waiting for more tolerant parameter type checkint (int,float)
load_properties misses a file (no save_properties)
observables_correlator crashes with segfault
ireaction_ensemble: Outdated interface
store_bonds produces runtime errors

Some scripts contain irrelevant code
dev = "cpu"
and the like\

Some scrip

[2017-11-25 16:34] RudolfWeeber opened #1662 "Debye Hueckel and Coulomb Debye Hueckel lack integration test"
There is an interface test

[2017-11-25 17:04] RudolfWeeber opened #1663 "MMM1D lacks integration test"
cpu and gpu

[2017-11-27 12:29] #1558 closed, assigned to nobody

[2017-11-27 19:40] richter-t commented on #877
After having a look into this again, my conclusion would be that it's not worth the time to port those observables into the new pythonesque/C++ style, since this stuff can be easily calculated with python alone. So I opt for dropping those obs from the code base. As far as I can see, those obs are already removed from the core (not_yet_implemented), thus I'll probably just delete the documentation

[2017-11-28 09:34] hseara commented on #1645
Hi, it seems that all problems are on my side. I was using the outdated master branch and not the new python branch. Once I used the python branch for the compilation, all problems described above are gone. Therefore, no further action is needed.

[2017-11-28 09:34] #1645 closed, assigned to nobody

[2017-11-28 10:00] fweik commented on #1361
Seems to be no issue anymore.

[2017-11-28 18:35] kosovan commented on #1650
I am still working on this.

After reviewing the docs, I suggest that the reaction ensemble syntax should be be re-considered. There are numerous functions such as `fix_polymer_segments`,  or `set_polymer_start_id` which seem to be single-purpose functions with unclear relation to the reaction ensemble.

[2017-11-29 13:13] davidsean commented on #1662
Coulomb Debye Hueckel is a bit funny,

![cdh_f](https://user-images.githubusercontent.com/1529852/33374666-61a11b76-d507-11e7-8e47-935761421021.png)
![cdh_u](https://user-images.githubusercontent.com/1529852/33374669-63e1f996-d507-11e7-86b7-685eced02fa5.png)

The sign change for alpha helps but  does not completely fix the problem: the forces do not correspond to the energy.

[2017-11-29 14:00] jonaslandsgesell opened #1670 "readpdb.cpp throws errors when compiled with _GLIBCXX_DEBUG"

[2017-11-29 14:16] jonaslandsgesell opened #1671 "Incude _GLIBCXX_DEBUG flag in default debug flags for CXX compiler"

[2017-11-30 08:34] jonaslandsgesell commented on #1661
I touched the reaction_ensemble example already

[2017-11-30 18:28] #1550 closed, assigned to KonradBreitsprecher, jonaslandsgesell

[2017-11-30 22:02] fweik commented on #1670
Can you be more specific?

[2017-11-30 22:16] #1662 closed, assigned to nobody

[2017-11-30 23:08] hmenke commented on #1670
To reproduce, configure with
[code]

[2017-11-30 23:11] hmenke commented on #1671
No, because it's not portable.  It only works with GNU libstdc++ and probably not even on all versions.

[2017-12-01 09:03] mkuron commented on #1671
Actually, it's not such a bad idea. libc++ has `_LIBCPP_DEBUG`. Range checks in debug mode can be quite useful.

Are there any other C++ standard libraries worth supporting? Boost has a [list](http://www.boost.org/doc/libs/1_60_0/libs/predef/doc/html/predef/reference/boost_lib_library_macros.html), but the only ones on there that do C++11 are Dinkumware (included in Microsoft Visual C++) and Moden

[2017-12-01 09:11] KaiSzuttor commented on #1671
Maybe we should not close issues before we are sure what to do with it.

[2017-12-01 09:21] #1670 closed, assigned to hmenke

[2017-12-01 09:32] fweik commented on #1671
Portability would only be an issue if there are standard library implementations other than gcc's that use _GLIBCXX_DEBUG, which is very unlikely. Identifiers beginning with an underscore followed by a capital letter are reserved for the implementation, so 3rd party code is never allowed to use them. So I'm in favor of this. For the Espresso internal containers like Utils::List range-checking is a

[2017-12-01 14:45] #1671 closed, assigned to nobody

[2017-12-02 22:46] jonaslandsgesell opened #1677 "Running make check in Debug mode reveals quite some problems"
The output is too long to be copied here.

[2017-12-02 22:49] hmenke commented on #1677
Which debug flags?  Like simply `cmake -DCMAKE_BUILD_TYPE=Debug ..`?

[2017-12-02 22:58] jonaslandsgesell commented on #1677
Yes exactly. If you run make check but with the debug build, quite a lot segfaults are generated. What is strange though is that running e.g. the cellsystem.py manually (without calling make check) is fine (while this testcase crashes when called through make check).

[2017-12-03 05:54] hmenke commented on #1677
Hm, maybe setting the default build type to `Release` is not so smart.
https://github.com/espressomd/espresso/blob/4437db76a059d9627197477133953a7e6bacfd0f/CMakeLists.txt#L49-L51

[2017-12-03 06:23] hmenke commented on #1677
The `cellsystem.py` testcase is run in parallel by `make check`.  Did you also run it in parallel manually?
https://github.com/espressomd/espresso/blob/4437db76a059d9627197477133953a7e6bacfd0f/testsuite/CMakeLists.txt#L26

[2017-12-03 08:22] jonaslandsgesell commented on #1677
Thanks, running the testcase manually in parallel reproduces the segfaults.

[2017-12-03 09:04] fweik commented on #1677
Debug builds are considerably slower, this is why this is not default. We could do the testing on gitlab with Debug builds though.

[2017-12-03 09:43] mkuron commented on #1677
How much slower are Debug builds of Espresso? If it’s 2-3 orders of magnitude, like I‘ve seen in other software, we couldn’t even put them on Gitlab CI because it‘d take hours to run all tests. Maybe we can do RelWithDebugInfo builds? They contain debugging symbols and assertions, but are built with `-O2`.

[2017-12-03 09:46] fweik commented on #1677
We're already running only with -O1/-Og because of codecov, so the difference is not that big. The default is Release because of the users, not because of CI.

[2017-12-03 09:53] fweik commented on #1677
As for the segfaults, these are caused because boost is not build with _GLIBCXX_DEBUG, but espresso is. (c.f. https://lists.boost.org/boost-build/2011/07/25237.php). So we either have to use our own boost for testing or disable _GLIBCXX_DEBUG. (The deeper reason is that the memory layout of the STL structures is chagned by the option, which messes up serialization if the debug option is not used c

[2017-12-03 10:20] RudolfWeeber commented on #1677
In that case, I'd rather not use a custom boost for testing.
* complicates our test environment
* and we should test Espresso with the boost versions deployed with the
  distros that people are using

[2017-12-04 09:20] #1677 closed, assigned to nobody

[2017-12-04 10:03] #1615 closed, assigned to fweik

[2017-12-04 10:09] fweik opened #1681 "Add static analysis to CI"
This should be done on gitlab, since this takes some time. Cmake has to be run first, to get the compile commands, so we can split the jobs in multiple parts, forwarding the buid dir as artifact between stages for each config, starting with cmake, then static anlysis, build and finaly running the tests. This would also give more detailed and potentially quicker feedback in case of failure. Tool-wi

[2017-12-04 11:25] kosovan opened #1682 "force_cap probably broken"
With @helvrud we found out that since commit d2ec3e4de force_cap scales all forces, not just non-bonded ones.  It leads to "bond broken ..." errors when diverging bonded interactions like FENE are present. This is because capping all forces allows for exceeding the maximum bond length with a finite force.

We will provide a minimal working example soon.

[2017-12-04 11:37] mkuron commented on #1681
It shouldn't be necessary to extract the compile commands. Something like this should do to run Clang static analysis right through CMake:
[code]

I don't think this is a good idea. It would split every compiler and configuration into four separate build steps, which would make the pipelines page very messy and actually waste significant amounts of time because the same Docker image might need to

[2017-12-04 11:52] fweik commented on #1682
I see your point, I did not think of that. Did you try equilibrating such systems with energy minimization?

[2017-12-04 11:55] fweik opened #1684 "Python implementation of Espresso logo missing"
The exploding cup... Maybe we can also come up with a new one that shows off newer Espresso features, like a cup assembling by collisions or something with active particles.

[2017-12-04 12:20] #1602 closed, assigned to nobody

[2017-12-04 13:02] #1214 closed, assigned to nobody

[2017-12-04 13:02] #1563 closed, assigned to nobody

[2017-12-04 14:07] kosovan commented on #1682
Yes, energy minimization does the job. Probably the warmup with force capping can be completely replaced by energy minimization. So the question is whether the force_cap should be retained. But if it should be retained, then I think it should only cap the non-bonded interactions.

[2017-12-04 14:09] KonradBreitsprecher commented on #1684
Or a super-cup-acitor

[2017-12-04 14:28] fweik commented on #1682
force_cap is still useful in situation with non-conservative contributions where the overlap can not remove with energy minimization, because it only acts on the positions. Imagine a setup where you have velocity depended forces that are to big to directly integrate as a result of overlapping DPD particles. Otherwise I see no reason to change the force_cap, it works as advertised. It can also stil

[2017-12-04 15:03] #1637 closed, assigned to nobody

[2017-12-04 16:41] fweik commented on #1124
The classes in this file are not used directly by the user, so I think this does not need to be checked.

[2017-12-04 16:43] RudolfWeeber commented on #1124
On Mon, Dec 04, 2017 at 04:41:21PM +0000, Florian Weik wrote:

Developers do use it, though. One could de-milestone it, if need be.

[2017-12-05 10:35] kosovan commented on #1682
I agree that force_cap is useful. Oleg found out yesterday that the simple energy minimization works well only for short polymers N<20. For longer ones it is insufficient.

However, I do not agree that the current implementation of force_cap can be used with FENE bonds if the time step is small enough. When the forces are capped, the problem is not integrator instability due to long time step, but

[2017-12-05 15:15] fweik opened #1687 "Types named differently in C++ and Cython"
E.g. int_list vs IntList. That is just confusing, they are the same type.

[2017-12-06 16:27] KaiSzuttor opened #1690 "Accumulators get_params returns None for 'obs'"

[2017-12-06 21:28] #1649 closed, assigned to nobody

[2017-12-06 22:05] fweik opened #1693 "Cuda clang builds broken"
Probably related to an Dockerfile update today:
https://github.com/espressomd/docker/commit/21ee756ae3ba82ac9caffe068e7eecdd13b35246

E.g. https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/6115, @mkuron could you please have a look?

[2017-12-07 08:28] fweik opened #1694 "statistics::aggregation has neither test nor documentation."
@RudolfWeeber this seems like something that your cluster code can do?

[2017-12-07 09:01] #1690 closed, assigned to nobody

[2017-12-07 09:28] fweik opened #1695 "Tabulated potentials should not do file io"
but take the potential table as parameter. Also there is no good reason why the tables are stored in a global and not the corresponding IA_Params for the type pair.

[2017-12-07 11:03] mkuron commented on #1693
It must have been due to the CMake upgrade, but it is unclear to me why it ever worked... The problem was that CMake's `find_library` doesn't search non-standard places (even if they are in ldconfig and LD_LIBRARY_PATH).

[2017-12-07 12:16] #1693 closed, assigned to nobody

[2017-12-08 12:53] RudolfWeeber commented on #229
@KonradBreitsprecher is this resolved?

[2017-12-08 12:56] #862 closed

[2017-12-08 12:57] #1559 closed, assigned to nobody

[2017-12-08 13:02] RudolfWeeber commented on #1324
2d is resolved, 1d has its own ticket.

[2017-12-08 13:02] #1324 closed, assigned to RudolfWeeber

[2017-12-08 13:06] KonradBreitsprecher commented on #229
Yes! Is tested and can be closed via #1638

[2017-12-08 13:14] #229 closed

[2017-12-08 15:10] KaiSzuttor opened #1699 "LB CPU boundary velocities wrong"
Minimal script
[code]
Input velocity 0.01 vs. Output velocity approx. 1.0

see mailing list:
http://lists.nongnu.org/archive/html/espressomd-devel/2017-12/msg00000.html

[2017-12-08 15:13] fweik commented on #1699
Boundary slip is not exactly obeyed with MRT-LB and bounce back boundaries. Not sure that this is an issue.  The LB can be switched to TRT with some magic numbers improve this, but that has other drawbacks.

[2017-12-08 15:17] KaiSzuttor commented on #1699
I was rather surprised by a factor of 100 in the above case. GPU LB seems to be fine.

[2017-12-08 15:23] fweik commented on #1682
It's unclear to me why energy minimization would fail for larger polymers.

[2017-12-08 15:38] fweik commented on #1699
I think the mistake to use tau != 1. ^^

[2017-12-08 16:43] kosovan commented on #1682
Because nearest energy minimum for randomly created long chains usually still contains strong overlaps which lead to collapse of the integrator.

[2017-12-11 10:29] fweik commented on #1682
Do you happen to have an example script (and seed) where this is a problem?

[2017-12-11 10:32] fweik opened #1702 "Decide faith of OVERLAPPED"
It lacks interface, interface docs and tests. There is in-code documentation that describes the functions,
they are a special form of bonded potential, which reads parameters from a file.

@NishchaySuri this code came from your group, can you comment on whether you plan to use this in the future, and if so if you can provide the missing tests and doc?

[2017-12-11 12:04] kosovan commented on #1682
I will try to provide it today in the afternoon.

[2017-12-11 13:17] fweik opened #1705 "coulomb_mixed_periodicity is not deterministic"
See e.g.
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/6306

[2017-12-11 20:43] #1705 closed, assigned to RudolfWeeber, KonradBreitsprecher

[2017-12-11 20:44] kosovan commented on #1682
Looks like we cannot reproduce it anymore. Probably we were previously running the script without energy minimization. With energy minimization everything seems to work correctly now. I think that you can consider the issue closed and if the problem shows up again, we can open it anew.

[2017-12-11 22:36] #1682 closed, assigned to nobody

[2017-12-12 13:31] KaiSzuttor opened #1708 "min_global_cut can not be set before box_l"
MWE:
[code]
This results in

[code]

[2017-12-12 13:53] fweik commented on #1708
Actually at the pointer where you set min_global_cut, the box is too small. Default box size is 1.

[2017-12-12 14:07] KaiSzuttor commented on #1708
Though, I think it's unexpected that you have to set the system parameters in a certain order. I think the right way would be that box_l does not have a default size.

[2017-12-12 14:19] fweik commented on #1708
Should be a constructor parameter of System.

[2017-12-12 14:23] RudolfWeeber commented on #1708
On Tue, Dec 12, 2017 at 06:07:22AM -0800, Kai Szuttor wrote:

In my view, the actual bug is that there is no runtime error checking when setting system parameters.
The global cutoff is upper-bounded by the box_l. I think it is ok that the system it is enforced that parameters are consistent at the time you set them.

[2017-12-12 14:37] KaiSzuttor commented on #1708
In my opinion i should not be able at all to set min_global_cut if box_l is not set (the default value of 1 is in no to me known case useful). So how do we wan't to accomplish that?

[2017-12-12 14:51] RudolfWeeber commented on #1524
@KaiSzuttor, is this still open?

[2017-12-12 14:53] #1522 closed, assigned to nobody

[2017-12-12 14:55] RudolfWeeber commented on #1438
@fweik wants to pull this outinto a separate py module. Closing for now

[2017-12-12 14:55] #1438 closed, assigned to nobody

[2017-12-12 14:55] #1394 closed, assigned to nobody

[2017-12-12 14:56] RudolfWeeber commented on #1377
Postpone until tutorial are ipy notebooks

[2017-12-12 14:57] #1361 closed, assigned to fweik

[2017-12-12 15:05] RudolfWeeber commented on #1169
@ Will be marked experimental but kept in current form for now.

[2017-12-12 15:08] RudolfWeeber opened #1709 "Coulomb debye Hueckel broken"
@fweik

[2017-12-12 15:08] KaiSzuttor commented on #1524
yes

[2017-12-12 15:09] RudolfWeeber opened #1710 "Replace COulomb debye hueckel by debye hueckel in maxset config"

[2017-12-12 15:10] fweik commented on #1524
Can you fix it?

On Tue, Dec 12, 2017, 4:08 PM Kai Szuttor <notifications@github.com> wrote:

[2017-12-12 15:11] #951 closed

[2017-12-12 15:14] RudolfWeeber commented on #947
mpi reduction for center of mass is missing

[2017-12-12 15:15] RudolfWeeber opened #1711 "p3m cpu stress tensor lacks a test"

[2017-12-12 15:19] KaiSzuttor commented on #1524
I can try on the coding day

[2017-12-12 15:25] fweik commented on #947
This should probably be renamed to rotate particles, because this is what it does, other stuff is not affected.

[2017-12-12 16:09] RudolfWeeber commented on #947
On Tue, Dec 12, 2017 at 03:25:56PM +0000, Florian Weik wrote:

Rotating the particles (when they have rotational degrees of freedom) can be understood different as well...

[2017-12-12 19:16] #1656 closed, assigned to nobody

[2017-12-12 21:54] jonaslandsgesell commented on #1711
Is this a python interface problem or was this present in the tcl branch already?

[2017-12-12 22:24] jonaslandsgesell commented on #1031
@fweik, I'm interested in coding this. Is there a way to pass numpy arrays to the core through the script interface?

[2017-12-12 23:07] hmenke commented on #1031
Related: https://cython.readthedocs.io/en/latest/src/userguide/memoryviews.html

[2017-12-12 23:13] jonaslandsgesell commented on #1031
Using Cython as General Interface will of course Work. The question is how to pass arrays to the core with the script interface? I'm asking since H5md uses it. Or should i bypass the scriptinterface here?

[2017-12-13 08:47] #1303 closed, assigned to nobody

[2017-12-13 12:02] fweik commented on #1711
That is under investigation.

[2017-12-13 13:38] jonaslandsgesell opened #1715 "Cannot write bonds with more than one partner in h5md"
Failing (#1303) for bonds with multiple partners is avoided, however bonds with multiple partners is still not possible.

[2017-12-13 14:41] mkuron commented on #1421
The license notice we currently have is common practice in GPLv3 projects (so that the license and warranty disclaimer remain intact even when a file is moved out of the project), while the copyright notice is not. Under German law, you do not need to explicitly assert your copyright to have copyright, so we could just delete the notice entirely without changing anything.
Also, "The ESPResSo proje

[2017-12-14 17:24] KonradBreitsprecher opened #1716 "Constraint particle_types bug"
@fweik pointed out there is a missing make_particle_type_exist() for constraints.
Here's a failing script with undefined behavior (run ~10 times to get a crash):
[code]

[2017-12-15 15:10] #1716 closed, assigned to nobody

[2017-12-17 10:59] RudolfWeeber commented on #1694
Statistics aggregation counts contacts between molecules. The pair criteria used by the cluster analysis, on the other hand, at this point act between two particles only and do not have state. So, some hacking would be required to get that working with the cluster analysis. Let's keep this for now.

[2017-12-18 15:07] #1684 closed, assigned to nobody

[2017-12-18 15:12] fweik commented on #947
Potentially the internal degrees of freedom should be rotated too.

[2017-12-18 15:20] KonradBreitsprecher commented on #1630
Slices of particle types are `<type 'numpy.int64'>`,
which works as input for  `system.non_bonded_inter`.
@RudolfWeeber is that what you meant?

[2017-12-19 08:49] #1075 closed, assigned to nobody

[2017-12-19 08:49] #1695 closed, assigned to nobody

[2017-12-19 09:57] RudolfWeeber commented on #1630
I was referring to the integer particle type ids in system.non_bonded_inter[i,j].
They are checked like
 if not (isinstance(_type1, int) and isinstance(_type2, int)):
This, (and a large number of similar checks throughout the code) fail for np.int types.

The solution is probably to have a
is_vald_type_for(value,t)
in utils.pyx, which handles int and float explicitly as in
 Variant python_object_t

[2017-12-19 11:02] KaiSzuttor opened #1731 "StressTensor observable does not use particle ids despite the user can provide ids."

[2017-12-19 11:09] RudolfWeeber commented on #1731
So the base class should be changed to a parmeterles observable?

[2017-12-19 11:12] KaiSzuttor commented on #1731
yes, and please add documentation to observables.py

[2017-12-19 11:26] KonradBreitsprecher commented on #1630
Ok, will work on that.

[2017-12-19 12:49] #1628 closed, assigned to nobody

[2017-12-19 13:32] #1657 closed, assigned to nobody

[2017-12-19 14:51] rempferg commented on #1699
Most likely a unit conversion bug. Check what the number for the velocity in the boundary object is and check what it is when applied in the bounce back.

[2017-12-19 15:31] #1524 closed, assigned to nobody

[2017-12-19 18:01] RudolfWeeber opened #1735 "TCL leftover: Multi gpu message needs to be updated"
More than one GPU detected, please note Espresso uses device 0 by default regardless of usage or capability
Note that the GPU to be used can be modified using cuda setdevice <int>

[2017-12-20 09:27] #1630 closed, assigned to nobody

[2017-12-20 12:23] #1627 closed, assigned to nobody

[2017-12-20 15:38] mkuron commented on #883
Static analysis is in #1683. Address sanitizer requires rebuilding Python.

[2017-12-20 15:43] #509 closed

[2017-12-20 15:43] #806 closed

[2017-12-20 15:43] #878 closed

[2017-12-20 15:43] #1241 closed, assigned to nobody

[2017-12-22 12:43] #1382 closed, assigned to RudolfWeeber

[2017-12-22 12:43] #600 closed

[2017-12-30 17:16] jonaslandsgesell commented on #1650
Commands like

- fix_polymer_segments
- set_polymer_start_id, polymer_end_id
- global_mc_move_for_one_particle_of_type()
- set_cylindrical_constraint_in_z_direction()
- set_wall_constraints_in_z_direction(self, slab_start_z, slab_end_z)

are needed for the configuration changing Monte Carlo moves in the Wang-Landau reaction ensemble, where MD cannot be used. Of course those Monte Carlo moves can a

[2018-01-04 17:01] fweik opened #1742 "Reaction ensemble broken with ELECTROSTATICS"
The constant ph method of the reaction ensemble is broken. There is an out of bounds read of ReactionAlgorithm::charges_of_types in ReactionAlgorithm::create_particle() at reaction_ensemble.cpp:737. This leads to sporadic segfaults due to use of uninitialized memory.
I've changed the line to a ranged check access to make it fail with an exception in the re_fail branch of my github to demonstrate t

[2018-01-04 17:01] #947 closed

[2018-01-04 17:03] jonaslandsgesell commented on #1742
I might have fixed that very recently in another branch. I'll check for this.

[2018-01-05 11:02] jonaslandsgesell commented on #1742
Yes, I recently fixed that in the python branch (as far as I see it the tcl branch was not affected). The problem was in update_type_index().
Running
valgrind --tool=memcheck --leak-check=full pypresso ../testsuite/constant_pH.py
gives no further problems. You can see the fixed version in https://github.com/jonaslandsgesell/espresso/tree/widom_insertion. The code also runs perfectly when types are

[2018-01-08 08:15] fweik commented on #1742
The original one that I quoted is gone, but there are others left. You need to run valgrind directly on python, and not on pypresso, otherwise your just checking bash. You're doing it right if you get a bunch of false positives from python and mpi. The first one in Espresso that I can still see when running the constant_pH test on your branch is

[code]

This seems to suggest that some python clea

[2018-01-08 08:24] fweik opened #1744 "Debugging needs to be better documented"
The docs should point out that running tools on the pypresso script does not work as expected for most tools. It should also list the `--TOOL` options for the script.

[2018-01-08 08:33] hmenke commented on #1744
Well, pypresso is a script, so debugging will work the same as for any other script.
At the same time, we could link with `libSegFault.so` when Espresso is built with glibc to get fancy backtraces.

[2018-01-08 08:54] mkuron commented on #1744
We could also add some more tools to the script, e.g. Valgrind. An MPI debugger would also be useful, but there are no free ones -- though we have an old license for Allinea DDT and TotalView provides free student licenses.

[2018-01-08 09:13] fweik commented on #1744
@hmenke, it turned out in practice that people were not aware of this fact.

[2018-01-08 16:34] #1681 closed, assigned to nobody

[2018-01-09 12:54] pkreissl opened #1750 "Constraints cannot be deleted."
It is currently not possible to remove constraints from the system.

Sample script 1:
[code]
fails with `IndexError: map::at`.

Sample script 2:
[code]
also fails, with a different error:
`RuntimeError: Parameters passed to Parallel entities must also be parallel.`

[2018-01-09 13:38] jonaslandsgesell commented on #1750
For me the first script runs.

[2018-01-09 14:19] KaiSzuttor commented on #1750
Not for me

[2018-01-09 14:30] fweik commented on #1750
The first script is missing the actual remove line.

[2018-01-09 15:01] pkreissl commented on #1750
`system.constraints.remove(c)`
of course, sorry

[2018-01-09 15:06] fweik commented on #1750
So there are two issues, I'm working on a fix.

[2018-01-09 20:18] hmenke opened #1751 "GitLab status is not properly updated"
In #1745 I annotated one commit with `[ci skip]` to prevent the CI from running for my trivial change.  Both Travis and GitLab skipped the job properly, but GitLab didn't updated it's status in the PR correctly.

![test](https://user-images.githubusercontent.com/1903556/34741311-1588fa96-f5e7-11e7-88fa-377bf08d4bdc.png)

If you click the [Details](https://gitlab.icp.uni-stuttgart.de/espressomd/esp

[2018-01-09 20:46] KaiSzuttor commented on #1751
thats due to the fact that the pending state is not set by gitlab

[2018-01-09 21:00] fweik commented on #1751
This can be fixed (yet) due to a missing feature in gitlab, c.f. https://gitlab.com/gitlab-org/gitlab-ce/issues/20727

[2018-01-09 21:10] mkuron commented on #1751
Actually, we can fix that in the shell script running on elk. If the commit message contains `[ci skip]`, we simply shouldn’t post the request to GitHub that sets the pending state. We don‘t need any GitLab fix for that.

[2018-01-09 21:11] mkuron commented on #1751
If you reopen the issue and assign it to me or @kaiszuttor, we can get it fixed tomorrow.

[2018-01-10 09:11] mkuron commented on #1751
Done. Please close this issue. The simple fix:
[code]

[2018-01-10 09:14] #1751 closed, assigned to mkuron

[2018-01-10 10:39] jonaslandsgesell commented on #1742
By the way these problems also occur when ELECTROSTATICS is not compiled in.

[2018-01-10 11:03] #1744 closed, assigned to nobody

[2018-01-10 11:56] fweik commented on #1742
I think this can be ignored for now.

[2018-01-10 13:04] jonaslandsgesell commented on #1742
Thank you for the hint! As far as I can see it these problems are common when using python together with valgrind (https://stackoverflow.com/questions/20112989/how-to-use-valgrind-with-python). The explanation seems to be that python uses some custom allocations/ frees and valgrind is not aware of this.
Using a [suppression file](https://svn.python.org/projects/python/trunk/Misc/valgrind-python.su

[2018-01-10 13:23] #1742 closed, assigned to jonaslandsgesell

[2018-01-10 13:38] helvrud opened #1754 "reaction ensemble segmentation fault"
While running the following script segmentation fault appears

[code]

[2018-01-10 14:28] jonaslandsgesell commented on #1754
It is always a good idea to run RE.get_status() since this performs additional checks on your provided input. It has to be run manually since otherwise it would require to perform a check everytime reaction() is called. This is an unwanted performance leak then.

Calling RE.get_status() reveals that you forgot to assign the charges for the given types. This is OK, if you do not include electrostat

[2018-01-10 14:39] jonaslandsgesell commented on #1754
I think this request can be closed with PR #1743 .

[2018-01-10 16:25] #1750 closed, assigned to nobody

[2018-01-10 20:21] #1287 closed, assigned to nobody

[2018-01-10 20:24] hmenke commented on #1742
@jonaslandsgesell On Ubuntu 16.04
[code]

[2018-01-10 22:15] bogdan-tanygin commented on #1360
The BD PR is almost ready. I've added some tests (see the linked references) which validate both VV-LD and BD and confirm the future BD functions, its kinematics / fluctuation–dissipation routines accuracy. These tests are useful even for VV-LD alone, hence, it is probably logically to separate corresponding PRs from the BD and to suggest ones before in a test-driven way.

[2018-01-11 09:42] helvrud commented on #1754
With the version from repository this script does not work it passes RE.get_status() but fails at RE.reaction(100) with error.

###################
espressomd/reaction_ensemble.pyx in espressomd.reaction_ensemble.ReactionAlgorithm.reaction (/home/kvint/hydrogel/espresso/es-build/src/python/espressomd/reaction_ensemble.cpp:3744)()

IndexError: _Map_base::at
###################

Before the add() pro

[2018-01-11 14:13] kosovan commented on #1754
I think that a generic solution to avoid the problem with setting default_charges would be to change the syntax of add_reaction() such that it accepts reactants+products as one list of tuples (particle_type, stoichiometric_coefficient, charge). I think that parsing of this list could be done at the python level, so that the cpp core code can be left unchanged.

What do you think?

[2018-01-11 14:59] jonaslandsgesell commented on #1754
@ peter @kosovan One could do this, but i would rather keep it as it is. Right now it is easier to see what reactant types are replaced by what product types.

Well for me the script runs.
Do you have the changes from https://github.com/espressomd/espresso/pull/1743/commits/61a5b1f4ced03fd32295dac156fe39a3079f6eac
in your src/core/particle_data.cpp ? Otherwise this explains the effect.

Yes and th

[2018-01-11 16:57] fweik commented on #228
This is quite old, and I can not reproduce. Will close for now.

[2018-01-11 16:57] #228 closed

[2018-01-11 18:04] jonaslandsgesell commented on #1742
I thought about having a suppression file as a default. For new users which might not be aware of the need for using a suppression file for python it might be nice.

[2018-01-11 20:37] hmenke commented on #1742
I suspect that the Valgrind suppression file is version and platform specific, so the user has to use the one shipped with their Python installation.  Otherwise I wouldn't see why it is not bundled with Valgrind already.

[2018-01-12 00:21] HuadaLian93 opened #1759 "Domain Decomposition Issue in Python branch"
Hi,

The results from single core and multi-core are somehow different. Thus, I would guess there is an issue with the Domain Decomposition in the 'python' branch now. The sample code lj_liquid.py in espresso/samples was used to test. The results are shown below:

`pypresso lj_liquid.py`
**Results:**

`mpirun -np 4 pypresso lj_liquid.py`
**Results:**

[2018-01-12 00:35] fweik commented on #1759
Did you remember to set a seed to make the script deterministic? Otherwise it is never the same system, as it places the particles at random positions which will be different between runs, and it uses noise which will also be different between runs. So you would not expect identical results.

[2018-01-12 01:46] HuadaLian93 commented on #1759
Yes, I did. The results I obtained above use the exact same seed for each core. [19931030] for single-core and [19931030]*np for multi-core.

[2018-01-12 05:22] #1759 closed, assigned to nobody

[2018-01-12 05:42] jonaslandsgesell commented on #1754
@helvrud The widom Insertion method rejects all insertions and does Not perform removals of particles. Also it keeps track of the average potential energy of Insertion. That s why you need dedicated code for it.

[2018-01-12 08:54] bindgens1 opened #1760 "Interface TAB interaction"
The bonded tabulated interaction interface does not take the "type" argument. See the following minimal example:
[code]
Ends with:
[code]

Also `type="1"` or  `type=1` or similar alterations do not work.

Probably smaller issue in the interface?

[2018-01-12 09:47] hmenke commented on #1760
The `Tabulated` bond has no parameter `npoints`.
http://espressomd.org/html/doc/inter.html#tabulated-bond-interactions

But there should definitely be a helpful error message instead of another error raised when generating the error message.

[2018-01-12 09:52] bindgens1 commented on #1760
Oh damn... having a look at the UG would have actually helped.
I was using the old syntax.

Sorry!

[2018-01-12 09:52] #1760 closed, assigned to nobody

[2018-01-12 15:35] KaiSzuttor opened #1763 "CylindricalLBFluxDensityProfileAtParticlePositions only works with axis = 'z'"

[2018-01-15 08:34] helvrud commented on #1754
@jonaslandsgesell @kosovan
What about introducing negative \nu coefficients, then there wil bee no need of two lists for products and reactants. Then add_reaction could become a function of two (optionally three lists), for example

add_reaction( [list_of_types], [list_of_coefficients], list_of_charges=[] )

[2018-01-15 09:08] jonaslandsgesell commented on #1754
@helvrud  As far as I understood that is exactly what Peter suggested. So what you propose is an interface change. That is unrelated and not a problem of the code. I would suggest to close the current thread here. Feel free to open a new issue regarding the proposed interface change.

Still: what i dislike about the proposal is the following:
right now you see directly that type a is attempted to

[2018-01-15 09:28] fweik commented on #1754
I'm with @jonaslandsgesell here, the explicit interface is way cleaner, and we should leave it as is.

[2018-01-15 09:56] kosovan commented on #1754
What Oleg suggested is the notation convention used in literature, i.e. negative stoichiometric coefficients for reactants, positive for products. In this respect, explicitly distinguishing reactants and products is redundant.

We have planned a skype discussion with Jonas today, so I expect that we will resolve the issue.

[2018-01-15 13:50] kosovan commented on #1754
In a skype discussion with Jonas today we agreed to postpone the interface changes until we reach a consensus.

[2018-01-15 14:11] RudolfWeeber commented on #1754
On Mon, Jan 15, 2018 at 01:50:19PM +0000, Peter Kosovan wrote:

Please note that interface changes will be significantly more complicated after the release.

[2018-01-15 14:44] jonaslandsgesell commented on #1754
I would not change the way reactions are defined for espresso.
The changes that i discussed with peter are integrated in PR #1767

[2018-01-17 09:45] jonaslandsgesell commented on #1754
Please close

[2018-01-17 11:31] jonaslandsgesell opened #1770 "Draw Maxwell distributed velocities in ReactionAlgorithm::do_global_mc_move_for_particles_of_type"
In order to get kinetic observables right (e.g. the kinetic part of the stress tensor). Right now the velocities of particles are not changed. That means if particles are created without velocity they stay having no velocity. Static observables are not affected here.

[2018-01-17 13:03] #1754 closed, assigned to jonaslandsgesell

[2018-01-18 17:06] #942 closed

[2018-01-18 17:06] #1077 closed, assigned to nobody

[2018-01-23 12:57] RudolfWeeber opened #1776 "run.rst: 2nd iteration"
The steepest descent docs are outdated

[2018-01-23 15:23] davidsean opened #1777 "Ek tutorial needs to be updated"
to reflect the bjerrum_length -> prefactor change

[2018-01-23 17:32] KonradBreitsprecher opened #1778 "Restructure sphinx documentation"
This is a suggestion for a new structure of the sphinx documentation.

Main changes are:
- Improved order
- Dump special methods in new chapter 'Advanced methods'
- Purely physical explanations (MMM, MEMD...) in appendix
- Split large interaction chapter

For a quick overview, here is the first level:

- Introduction
- Getting, compiling and running ESPResSo
- Setting up the system
- Setting up pa

[2018-01-24 09:15] KaiSzuttor commented on #1778
LGTM, but what is ``DNA Model (Fyta DNA)`` doing in the Configuring section?

[2018-01-24 10:02] KonradBreitsprecher commented on #1778
It's a section of the features list. I wanted to put the feature description closer to the explanation about myconfig.hpp and configuring. That one needs to be renamed I think.

[2018-01-24 13:11] fweik opened #1779 "Forces are not scaled after energy minimization"
Steepest descent uses unscaled forces, and they are not rescaled if the integrator is switched back to VV,
the way to go is probably to set `recalc_forces` after switching the integrator.

[2018-01-25 19:15] RudolfWeeber opened #1784 "Segfault for lb cpu + lbboundaries for agrid incompatible to local box_l"
Probably a call of handle_errors() in system.actors.add()

[2018-01-25 20:15] hmenke commented on #1784
Cannot reproduce with `HEAD` at 5f8d0b3b27c72aec77a69ceae0c4d17f75ac8f51
[code]
This gives a clean error and throws an exception.
[code]

[2018-01-25 23:31] jonaslandsgesell commented on #1778
The constant pH method is implemented independent of the reaction ensemble

[2018-01-26 09:07] RudolfWeeber commented on #1784
On Thu, Jan 25, 2018 at 08:15:14PM +0000, Henri Menke wrote:

Try adding boundaries before the integrator.run() call on 2 mpi
tasks. Then, then lbfluid[] on the 2nd task is not initialized and
setting lbfluid[].boundary segfaults.

[2018-01-26 09:18] hmenke commented on #1784
Okay, now I can reproduce.
[code]
Backtrace
[code]

[2018-01-26 14:42] jonaslandsgesell opened #1786 "Suggestion for Default Behaviour: Throw an exception for non-neutral systems during tuning of electrostatic methods unless the user explicitly states differently"
Typically simulations of charge are carried out such that the system is neutral within some limit (e.g. 1e-8 charges).
Sometimes the user fails in setting up the system  as charge neutral. Electrostatic methods like P3M can be used in a non-neutral system since they automatically introduce a background charge which neutralizes the system. However I assume that this default behaviour can lead to un

[2018-01-26 23:12] #1763 closed, assigned to nobody

[2018-01-27 02:03] hmenke commented on #1786
Why not offer a :dizzy: magic :sparkles:  `do_the_correct_physics_for_me()` command for those people?

[2018-01-27 06:51] KaiSzuttor commented on #1786
This comment is superfluous...
If we save 99% of the users from undesired particle setup, why not doing it?

[2018-01-29 01:41] hmenke commented on #1708
I'm not so much in favour of this.  It somehow defeats the notion of procedural programming.  It should be clear that `min_global_cut` cannot be set before `box_l`.  I also cannot get on the bus before it arrives.

[2018-01-29 05:17] KaiSzuttor commented on #1708
We had an offline discussion and agreed on having box_l as a parameter for the system class (min_global_cut is not the only thing that depends on the box length).

[2018-01-29 15:38] fweik commented on #1786
@KaiSzuttor maybe we need community guidelines... ^^ The question is how much we want this? We could also check this "on_integration_start", but this would come add the cost of a global reduction, in the tuning it would be for free (the total charge is calculated there anyway), but would not catch all cases. Maybe do a warning when ADDITIONAL_CHECKS is enabled?

[2018-01-29 16:40] KaiSzuttor commented on #1786
@fweik it seems so... 😉 i think in the tuning would already catch most of the cases.

[2018-01-29 17:23] fweik commented on #1786
Hm, if you propose a sensible messure for what a small charge is I'll implement the warning...

[2018-01-29 18:22] jonaslandsgesell commented on #1786
What about 1e-10 per particle? Something around that? If you include the chosen value into the exception noone is surprised.

[2018-01-29 18:35] RudolfWeeber commented on #1786
Does this work if someone uses SI units?

[2018-01-29 19:20] fweik commented on #1786
Nope, that's about 10^9 elementary charges in SI units. That is kind of my point.

[2018-01-29 19:53] jonaslandsgesell commented on #1786
So due to the arbitrariness of the unit system this would require to provide the size S of a typical charge in the system of N particles that have a summed charge Q. Then the charge neutrality can be determined via Q/(S*N) <10^-10.
Given the fact that in our simulations the typical size of a charge is 1 e0_const I would still introduce this check -
 given the number of users who use SI units in Es

[2018-01-29 20:05] fweik commented on #1786
`S = min_i(abs(q_i))` ?

[2018-01-29 20:06] RudolfWeeber commented on #1786
Since, to my understanding, the forces and energy are not affected
by the neutral background, I do not find a hcek and possible
exception necessary, especially since there doesn't seem to be a
clear criterion.

[2018-01-29 20:08] fweik commented on #1786
The energy is affected, and the point is rather that a non-neutral system is typically not what the user wanted. If you forgot your counter-ions that will of course alter the forces and energies.

[2018-01-29 20:09] jonaslandsgesell commented on #1786
Pressures are definitely affected. I also guess chemical potentials are affected!
I would maybe use S=sum_{I=1}^N |q_i|/N as typical charge, where i runs over all N charged particles

[2018-01-29 20:10] jonaslandsgesell commented on #1786
So if energies are affected, chemical potentials are affected

[2018-01-30 14:53] #1778 closed, assigned to nobody

[2018-01-30 17:01] jonaslandsgesell commented on #1770
There is code on drawing from the maxwell distribution in deleted code in https://github.com/espressomd/espresso/pull/1793/files (maxwell_velocitiesC() )

[2018-01-31 09:36] iammmiru opened #1795 "virtual_sites checkpoint loading error"
The following message comes up whenever I try loading a previous checkpoint.
It hadn't happened until I updated my espresso recently.
I also tried explicitly registering 'system.virtual_sites' but didn't work out.

------------------------------------------------------------------------------------------------------
[code]

[2018-01-31 09:48] RudolfWeeber commented on #1795
On Wed, Jan 31, 2018 at 09:36:39AM +0000, iammmiru wrote:

First of all, checkpoints are not guaranteed to work across
different Espresso versions. In this particular case, please check
that your myconfig.hpp for the newer version contains
VIRTUAL_SITES and VIRTUAL_SITES_RELATIVE

[2018-01-31 09:51] iammmiru commented on #1795
I did complie with VIRTUAL_SITES and VIRTUAL_SITES_RELATIVE.
And I didn't load the checkpoint from previous espresso version. Saving and loading the checkpoint have done in the same newest version of espresso.

[2018-01-31 10:48] RudolfWeeber commented on #1795
On Wed, Jan 31, 2018 at 09:51:14AM +0000, iammmiru wrote:

OK, I misunderstood that. Then, this is a bug.

[2018-01-31 16:23] RudolfWeeber opened #1799 "Script interface: empty lists don't get accepted for double_vector"

[2018-01-31 21:23] jonaslandsgesell commented on #1786
Unfortunately, the test for the electroneutrality in #1796 only tests that the reactions that are performed do not introduce new charges during the reaction. The initial charge neutrality (or the charge neutrality in the nvt ensemble) still needs to be tested. E.g. in the tuning.

[2018-02-01 11:26] pkreissl commented on #1020
@davidsean could you please provide a minimal example script?
I just adapted the `samples/visualization_constraints.py`, namely
 * ~removed~ replaced particle creation by `polymer.create_polymer(..., bond_length=2.0)` with a fene potential
 * removed the LJ[0,1] non-bonded interaction
 * set LJ[0, 0] to be a WCA potential with  `epsilon=1.0` and `sigma=2.0`

I checked for all existing constraints,

[2018-02-01 14:27] RudolfWeeber opened #1801 "Doc Intro, update list of simulation methods"

[2018-02-01 14:31] RudolfWeeber opened #1802 "Doc part.rst"
* grand canonical (incompatibility with collision detection)
* Mention criteria based particle selection (ParticleList.select()). See docstring

[2018-02-01 14:37] RudolfWeeber commented on #1463
Remaining todos are (#1785)

 - Bonded interactions
     - [ ] Quartic bond
     - [ ] Bonded coulomb
     - [ ] Subtracted Lennard-Jones bond

 - Electrostatics
     - [x] Coulomb Ewald GPU (will be removed #1821 )
     - [x] Tuning Alpha Ewald GPU (will be removed #1821)

 - Magnetostatics / Dipolar interactions (needs doc)
      - [ ] Dipolar interaction
      - [ ] Dipolar P3M
      - [ ] Tuni

[2018-02-01 14:38] RudolfWeeber opened #1803 "doc: ComFixed"
In System manipulation

[2018-02-01 14:40] RudolfWeeber opened #1804 "doc: direct analysis routines"
- Direct analysis routines (Remove TCL reference and update)
        - Temperature of the LB fluid
        - Energies (Extend doc)

[2018-02-01 14:40] RudolfWeeber opened #1805 "Doc: Chain analysis"
- Chains (status/fate unclear)
        - Internal distances
        - Internal distances II (specific monomer)
        - Bond lengths
        - Form factor

[2018-02-01 14:41] RudolfWeeber opened #1806 "Doc: accumulators"

[2018-02-01 14:43] RudolfWeeber opened #1807 "Doc: VTF writer"

[2018-02-01 14:58] RudolfWeeber opened #1808 "Doc + features.def: Some features should require EXPERIMENTAL"
Some of them (LEES_EDWARDS, MULTI_TIMESTPE) have known issues. Others are not included in maxset and thus CI testing, so it is unknown whether compiling them in has side effects

MOLFORCES
LEES_EDWARDS
MULTI_TIMESTEP
TUNABLE_SLIP
SHANCHEN
UMBRELLA
GAY_BERNE
COULOMB_DEBYE_HUECKEL

[2018-02-01 14:58] RudolfWeeber opened #1809 "Remove EWALD GPU"
known not to be correct

[2018-02-01 14:58] RudolfWeeber opened #1811 "Remove pore constraint"
Known not to be correct. Replaced by simplepore

[2018-02-01 15:57] mkuron commented on #1809
It used to be correct and we had working test cases back in the Tcl days. So it is probably just some interface thing. Unfortunately we don't have anyone who really understands the Ewald code anymore and it is not particularly well written, so fixing it may be hard.

[2018-02-02 06:49] pkreissl commented on #1811
I start with this.

[2018-02-02 08:26] KonradBreitsprecher commented on #1804
Will work on that

[2018-02-02 09:51] davidsean commented on #1807
got this

[2018-02-02 09:58] itischler commented on #1117
I'm working on it

[2018-02-02 09:59] KunTares commented on #1249
Working on it

[2018-02-02 10:32] KaiSzuttor commented on #1806
will do that

[2018-02-02 11:00] RudolfWeeber commented on #1254
The text is reasonably up to date. Closing for now.

[2018-02-02 11:00] #1254 closed, assigned to RudolfWeeber

[2018-02-02 11:11] #1708 closed, assigned to nobody

[2018-02-02 11:16] #1811 closed, assigned to nobody

[2018-02-02 12:44] KonradBreitsprecher commented on #1801
Will work on that

[2018-02-02 13:07] pkreissl commented on #1020
Offline discussion: seems to work fine. @fweik issue can be closed.

[2018-02-02 13:21] #1020 closed

[2018-02-02 13:35] RudolfWeeber commented on #1113
has a pr

[2018-02-02 13:35] RudolfWeeber commented on #1116
has a pr

[2018-02-02 13:57] RudolfWeeber commented on #1809
I made an unsuccessful attempt at fixing it. Ewald is still available via Scafacos

[2018-02-02 14:05] pkreissl commented on #1735
Working on that.

[2018-02-02 14:30] #1710 closed, assigned to nobody

[2018-02-02 14:30] #1808 closed, assigned to RudolfWeeber

[2018-02-02 14:33] RudolfWeeber commented on #1463
I'll do the magnetostatic stuff

[2018-02-02 14:34] #1804 closed, assigned to nobody

[2018-02-02 14:37] KaiSzuttor commented on #1463
updated your comment to get a checklist

[2018-02-02 14:56] KonradBreitsprecher commented on #1463
I'll do the bonded interactions

[2018-02-02 15:05] #1113 closed, assigned to nobody

[2018-02-02 15:05] #1116 closed, assigned to nobody

[2018-02-02 15:38] #830 closed