[2020-04-06 09:07] #3635 closed, assigned to nobody

[2020-04-06 11:01] jonaslandsgesell commented on #3633
Indeed, the documentation under http://espressomd.org/html/doc/electrostatics.html is inconsistent. C should be equal to C=eo**2/(4piepsilon0epsilonr) in equation (1) and the equation before needs to be adapated (via using valencies z_i=q_i/e_0)

[2020-04-07 20:40] jngrad commented on #3093
Once we get rid of `clang:6.0` in CI (which uses 1.58), we should be able to bump to 1.65, which is used by `osx` in CI. We'll then be able to simplify CMake and remove all `#if BOOST_VERSION`. Python itself and Python packages will need to be kept in sync with NEP 29 (#3421), which should not be difficult considering we support Ubuntu LTS versions for 3 years.

[2020-04-07 21:49] fweik opened #3638 "Make use of boost container custimization"
Make the bond and exclusion lists in `Particle` smaller by using [customization options](https://www.boost.org/doc/libs/1_72_0/doc/html/container/configurable_containers.html#container.configurable_containers.configurable_vectors), which are available starting from boost 1.67.

[2020-04-08 02:23] espresso-ci opened #3639 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11696

[2020-04-08 12:28] #3084 closed, assigned to fweik

[2020-04-08 12:56] jngrad commented on #3639
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/221802
ROCm: test `lb_momentum_conservation` failed
[code]

[2020-04-08 13:00] mkuron commented on #3639
Are we sure that the error bounds on that test are correct? `rtol=1e-07` pretty much assumes that we only have a single cell and a single time step. Addition order is not deterministic in much of the GPU code, so it's no surprise if this is an intermittent error.

[2020-04-08 19:28] fweik commented on #3639
I've seen this one failing before on a PR. The tolerance seems a little bit low for `float` calculations no?

[2020-04-08 20:49] espresso-ci opened #3643 "coyote11 GPU runners are failing"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11708

[2020-04-08 21:32] jngrad commented on #3643
Multiple runner failures: `ERROR: Job failed (system failure): Error response from daemon: OCI runtime create failed: container_linux.go:349: starting container process caused "process_linux.go:449: container init caused \"process_linux.go:432: running prestart hook 1 caused \\\"error running hook: exit status 1, stdout: , stderr: nvidia-container-cli: initialization error: cuda error: invalid dev

[2020-04-08 21:39] jngrad commented on #3643
It only happens on the `coyote11 GPU*` runners. I've paused all three of them for now.

[2020-04-08 22:06] jngrad commented on #3639
According to [numpy.testing.assert_allclose()](https://docs.scipy.org/doc/numpy/reference/generated/numpy.testing.assert_allclose.html), the formula is `atol + rtol * abs(desired)`, and `atol` is 2e-4, so it's not an issue of floating-point precision. Here the y-component of the linear momentum actually halved.

[2020-04-09 02:49] espresso-ci opened #3645 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11713

[2020-04-09 07:08] mkuron commented on #3645
Duplicate of #3639

But with smaller deviations (though again in the y-component):
[code]

[2020-04-09 07:30] mkuron commented on #3643
[code]

The machine was last rebooted yesterday at 06:21. The first time that `invalid device ordinal` appeared was at 22:13. The system log shows this:

[code]
last two lines repeat for three minutes.

[2020-04-09 09:59] #3540 closed, assigned to nobody

[2020-04-09 10:49] fweik opened #3646 "Devise an error handling strategy"
Currently error handling in the core is done by a mixture of exceptions and the runtime error methods.

It is still true that there is no easy way to get the program into a defined state after an error has occurred in an parallel program. I think it should therefore in general not be possible to continue
after an error has occurred.

I think a proper solution would be to use exceptions exclusively

[2020-04-09 10:50] fweik commented on #3646
We might also consider using a logging system per node to get more runtime information to the user,
one _could_ e.g. use [speedlog](https://github.com/gabime/spdlog) or something similar to generate
structured output.

[2020-04-09 11:03] espresso-ci opened #3647 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11714

[2020-04-09 12:34] jngrad commented on #3647
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/222296
duplicate of #3104

[2020-04-09 12:52] #3647 closed, assigned to nobody

[2020-04-09 16:34] jngrad commented on #3627
The `va_printf` compiler error is fixed in thrust 1.9.5, which should be shipped with CUDA 10.1. I've installed thrust 1.9.5 in a local copy of CUDA 10.0 and the compiler error disappeared, and all GPU tests passed, using commit 58bdbc8 from #3582 and the following CMake command:
[code]

[2020-04-09 16:43] RudolfWeeber opened #3649 "maintainer/format/clang_format.sh broken"
It doesn't find clang-format-6.0 even though it is installed:

Could not find clang-format 6.0. /usr/local/stow/llvm-7/bin//clang-format is 7.0.0.

x-bit on the file woudl also be helpful, so they can be called easily

[2020-04-09 16:48] RudolfWeeber commented on #3627
I tried building with cuda 10.1 at ICP installed in /usr/local. The bug was in there, as well. I didn’t investigate further. Let’s see if the workaround has side effects or not.

[2020-04-09 16:55] jngrad commented on #3627
That's odd, because `/usr/local/cuda-10.0` is the only CUDA 10 version I see on the ICP machines. I just logged in `bee` and it only has `/usr/local/cuda-10.2` (with thrust 1.9.7). I couldn't try compiling on `bee` because CMake is too old and pip is not installed.

[2020-04-09 17:03] fweik commented on #3627
@jngrad you can load a more recent cmake as a module on bee.

[2020-04-09 17:14] jngrad commented on #3627
I'm not very used to bee :) I just did `module load cmake clang` to get the latest CMake, but clang is not found.

[2020-04-09 17:17] KaiSzuttor commented on #3649
i think this is an email to support

[2020-04-09 19:27] RudolfWeeber commented on #3627
@jngrad, you're right. Looks like I misread sth

[2020-04-09 19:34] jngrad opened #3650 "Clang++ 9.0 and boost::optional rebind semantics in CUDA code"
I get a compiler error on `src/core/grid_based_algorithms/lbgpu_cuda.cu` with Clang++-9.0, boost 1.71 and CUDA 10.1 from `nvidia-cuda-toolkit` on Ubuntu 20.04. The two offending functions are:
https://github.com/espressomd/espresso/blob/48ba8d16152ca44e09cb2da2a03b2e4d99665a4b/src/core/grid_based_algorithms/lbgpu_cuda.cu#L3042-L3048

According to the [boost::optional docs](https://www.boost.org/do

[2020-04-09 19:36] jngrad commented on #3627
@RudolfWeeber I ran into issues with Clang++-9 in the Ubuntu 20.04 image with CUDA 10.1 installed. You might want to have a look at the compiler error, it's in #3650.

[2020-04-09 19:49] fweik commented on #3650
You can explicitly pass an `optional` to make it unambiguous? Like
[code]
I'm not sure if I follow your MWE: I don't think it's relevant that the type is a template instantiation,
and it's my understanding that the ambiguous operator is on `boost::optional` and not on the contained type.  ~~It's btw. a  known problem pattern that unconstrained template-parameterized forwarding reference special fu

[2020-04-09 19:50] fweik commented on #3650
This is a version of https://github.com/boostorg/config/issues/297 no?

[2020-04-09 20:03] RudolfWeeber commented on #3649
No actually. I took a look and the script is wrong.
there is an underscore instead of a hyphon, so it looks for clang-format_6.0 rather than -6.0
I'll submit a patch tomorrow.

[2020-04-09 20:45] jngrad commented on #3650
Indeed, I missed that post. I'll try that tomorrow.

[2020-04-10 02:33] espresso-ci opened #3651 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11736

[2020-04-10 10:09] #3649 closed, assigned to nobody

[2020-04-10 10:30] jngrad commented on #3651
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/222921
duplicate of #3104

[2020-04-10 10:55] #3651 closed, assigned to nobody

[2020-04-10 11:58] jngrad commented on #3650
Patching the boost library as explained in boostorg/config#297 fixed the compiler error, yet introduced a new compiler error for structs, classes and templated classes, but not for basic types like `int`:
[code]

[2020-04-10 12:50] jngrad opened #3654 "CUDA 10.2 incompatible with GCC 9.3 and Clang 9.0"
According to the [CUDA 10.2 System Requirements](https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#system-requirements), Table 1, the nvcc compiler in CUDA 10 doesn't support the latest versions of GCC and Clang. At the time of writing, Ubuntu 20.04 doesn't appear in that list, but I can confirm nvcc supports the older GCC 8.4 and Clang 8.0 but not the default GCC 9.3 and Clang

[2020-04-10 13:00] mkuron commented on #3654
You can try patching out that check. We did that on our desktop machines with Ubuntu 16.04 and 18.04 to get the default system compiler to work with CUDA and it was always fine. We will most likely have to do that again once we upgrade them to Ubuntu 20.04. This is what we use to make CUDA 9.1 work with GCC 7 on our desktop machines:
[code]

[2020-04-10 13:10] jngrad commented on #3654
I've just applied that patch to enable GCC 9.3, but all LB GPU files give the same compiler error:
[code]

[2020-04-10 14:48] mkuron commented on #3654
That's annoying. You might be able to replace `__builtin_is_constant_evaluated` with `std::is_constant_evaluated`. That's what https://forums.developer.nvidia.com/t/cuda-10-installation-on-fedora-30-with-gcc-9-1-1-20190503/74989/11 suggests.

[2020-04-10 15:13] jngrad commented on #3654
The patch so far:
[code]
CMake fails:
[code]
Compiler error:
[code]
The issue is that [`std::is_constant_evaluated()`](https://en.cppreference.com/w/cpp/types/is_constant_evaluated) is a C++20 feature. Removing `-std=c++14` doesn't help and both `-std=c++20` and `-std=c++2a` aren't recognized by nvcc.

[2020-04-10 15:27] fweik commented on #3104
Do we have any theory why a low P3M `r_cut` leads to crashes? That does not make sense to me.

[2020-04-10 18:13] mkuron commented on #3654
Okay, the error comes from https://github.com/gcc-mirror/gcc/blob/releases/gcc-9.3.0/libstdc++-v3/include/bits/stl_function.h#L437. This means you should be able to conditionally undef `_GLIBCXX_HAVE_BUILTIN_IS_CONSTANT_EVALUATED` in https://github.com/gcc-mirror/gcc/blob/releases/gcc-9.3.0/libstdc++-v3/include/bits/c++config#L649-L651 (`if __GNUC__ >= 9 && !defined(__NVCC__)`).

Let me know if th

[2020-04-10 18:29] RudolfWeeber commented on #3654
Let's discuss this in the Espresso meeting as well.

[2020-04-10 18:31] jngrad commented on #3633
Should we fix this or not?

[2020-04-10 18:38] dpo854 opened #3655 "Density profile determination using cylindrical_average"
Hi everyone,
Does the command "cylindrical_average" have the function of determining ion profiles around an axis?  The reason why I ask this is I am getting a huge standard deviation in density values computed for radial bins even when the number of analyzed frames is 1000. Originally, I was set out to do this density determination manually by creating bins in the radial direction and computing th

[2020-04-10 18:45] jngrad commented on #3654
@mkuron The file in question isn't shipped with the header library. It's not even included in another file (`grep -rF '_GLIBCXX_HAVE_BUILTIN_IS_CONSTANT_EVALUATED 1' /usr/include/c++/9/` returns nothing). Manually fixing the ifdefs solved the compiler error and all GPU tests passed. Full patch:
[code]

[2020-04-10 18:51] ggjj11 commented on #3633
Yes, for clarity this should be fixed.

[2020-04-10 23:38] dpo854 opened #3656 "H5md feature unavailable"
How does one go about fixing the unavailability of H5md? My espressomd.io.writer seems to have the vtf feature available in it. So, I am not sure where the error is coming from. A look at the source code for espressomd.io.writer.h5md suggested that 'H5md' is not part of the features of code_info. Any way out of this?

    h5_file=h5md.H5md(filename="systeminfo.h5", write_pos=True, write_vel=False,

[2020-04-11 04:44] dpo854 commented on #3656
On further reading about H5md module, I found out that it's a feature that is external to Espressomd and must be invoked using "Note Requires H5MD external feature, enabled with -DWITH_HDF5=ON.". But, putting this option before the file name in the command "$ESPRESSO_PATH/pypresso -DWITH_HDF5=ON minimal.py 0.0002694 -0.2179 50.0" did not lead to any good.

[2020-04-11 06:44] parisa-asd opened #3657 "Class 'Shapes::HollowConicalFrustum' not found"
hello
my espresso is 4.1.2 on ubuntu 18.04.4
what should I do with ValueError: Class 'Shapes::HollowConicalFrustum' not found.

[2020-04-11 08:09] dpo854 commented on #3656
I figured that it's not compiled since it threw up the error message "H5MD not compiled in. Does it mean I will have to install EspressoMD again?
"

[2020-04-11 08:33] KaiSzuttor commented on #3656
please have a look at http://espressomd.org/html/doc4.1.2/installation.html. You have to enable certain features (like H5MD) at compile time.

[2020-04-11 08:56] dpo854 commented on #3656
Hi Kai, does it mean I will have to install H5MD first before compiling espressomd with "H5MD" ON during ccmake?

[2020-04-11 09:11] KaiSzuttor commented on #3656
yes

[2020-04-11 09:38] RudolfWeeber commented on #3657
Hi, this feature is only part of the development branch of Esprseso (i.e., you have to pull the current Python branch from Github).

Possibly, you are using an older version (such as the 4.1.2 release)?

[2020-04-11 17:40] mkuron commented on #3654
Glad that worked! Using GCC 8 would have been messier because we would probably have needed to recompile Boost. Their C++ ABI is not downwards-compatible (or compatible at all).

[2020-04-11 19:24] dpo854 commented on #3656
Ok. What version do you recommend? By the way, it's h5py I guess (http://docs.h5py.org/en/stable/).

[2020-04-11 23:13] dpo854 commented on #3656
I recompiled Espressomd with " -DWITH_HDF5=ON" but the problem remains.

[2020-04-12 02:26] espresso-ci opened #3658 "ffmpeg missing from CI image for tutorial 11 ferrofluid"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11748

[2020-04-12 06:14] dpo854 commented on #3656
By the way, I also added this H5MD feature to "myconfig.hpp" file.

[2020-04-12 08:16] dpo854 commented on #3656
When I put out all features using print(code_info.features()), I get the following:
features   ['BOND_CONSTRAINT', 'COLLISION_DETECTION', 'CUDA', 'DIPOLAR_BARNES_HUT', 'DIPOLAR_DIRECT_SUM', 'DIPOLES', 'DP3M', 'DPD', 'EK_BOUNDARIES', 'ELECTROKINETICS', 'ELECTROSTATICS', 'ENGINE', 'EXCLUSIONS', 'EXTERNAL_FORCES', 'FFTW', 'GAUSSIAN', 'GSL', 'HAT', 'HERTZIAN', 'LANGEVIN_PER_PARTICLE', 'LB_BOUNDARIES',

[2020-04-12 08:52] dpo854 commented on #3656
If I write "#define H5MD" in the myconfig.hpp file (the documentation in the above link counts H5MD as a general feature), I get the following error during make -j4. So, I believe it's an external feature which must be activated using " -DWITH_HDF5=ON". Either way, the problem still remains.
"
External feature 'H5MD' can not be defined in myconfig.
There were errors in '/home/dpo854/mycode/espress

[2020-04-12 10:13] jngrad commented on #3656
To enable H5MD, you'll need both the python package `h5py` version 2.6.0 or above, and the library `libhdf5` (on Ubuntu, it can be installed via `apt-get install libhdf5-openmpi-dev`). The CMake log will look like this:
[code]
If `h5py` or `libhdf5` were not found, CMake will carry on and let you compile ESPResSo without the `H5MD` feature.

[2020-04-12 18:33] jngrad commented on #3658
Part of the ferrofluid tutorial that failed CI:
https://github.com/espressomd/espresso/blob/dd25cf8c91a5597bfc1be487fe8c367ea808d98c/doc/tutorials/11-ferrofluid/11-ferrofluid_part1.ipynb#L600-L601
Error message:
[code]
The animation submodule of matplotlib will check for the presence of ffmpeg and instantiate the adequate writer class to write the mp4 file. If ffmpeg is not installed, it will defa

[2020-04-12 19:16] dpo854 commented on #3656
I checked the version of h5py on my cluster, it's '2.10.0'. And my cluster already has hdf5 since on running CMake, I got this message

-- The following OPTIONAL packages have been found:

 * CUDA (required version >= 9.0)
 * FFTW3
 * HDF5 (required version >= 1.8)
 * GSL
 * Doxygen
 * Git

[2020-04-12 19:17] fweik commented on #3656
@jngrad are you sure the python module is needed? I didn't think that would be the case, IIRC it's also all C++ code...

[2020-04-12 20:12] dpo854 commented on #3656
To support my statement about hdf5 having already been installed, I attach here the snippet of the output of ccmake.. related to hdf5.

 HDF5_C_COMPILER_EXECUTABLE       /software/anaconda3/bin/h5cc
 HDF5_C_LIBRARY_dl                /usr/lib64/libdl.so
 HDF5_C_LIBRARY_hdf5              /software/anaconda3/lib/libhdf5.so
 HDF5_C_LIBRARY_m                 /usr/lib64/libm.so
 HDF5_C_LIBRARY_pthread

[2020-04-12 21:04] dpo854 commented on #3656
It looks like a complicated technical problem. So, what are some other ways of storing the coordinates for computing density profiles (mind you I need to analyze thousands of frames to get smooth results)? Can .vtf files be read from a python script? I ask that because they are designed specifically for visualization through VMD.

[2020-04-12 21:27] jngrad commented on #3656
@fweik you're right, the Python package isn't required. There's actually no point in having it in the CMake logic. The H5MD CMake logic could be cleaned up a bit. We should also consider making CMake fail instead of carrying on silently if an external feature is requested but the libraries not found. The current behavior probably stems from CMake's `option()` command that only takes a binary value

[2020-04-12 21:31] fweik commented on #3656
@jngrad It's needed for a test, the corresponding cmake stuff should be at the point of usage imho.

[2020-04-12 21:51] jngrad commented on #3656
@fweik it took me a while to find out this command actually sets variable `PY_H5PY` to be used two levels down in the `testsuite/python` folder. We probably don't even need that variable anymore, now that we have unittest fixtures to skip tests when a python package is missing, like in [test_MDAnalysisIntegration.py](https://github.com/espressomd/espresso/blob/dd25cf8/testsuite/scripts/samples/tes

[2020-04-12 21:58] dpo854 commented on #3656
@jngrad I get "/* #undef H5MD */" in the cmake_config.hpp file. My espresso version is 4.1.2.

[2020-04-13 12:19] jngrad commented on #3656
Alright, looking through the Ubuntu repository, it looks like `libhdf5` isn't the correct package. It offers the serial version, while ESPResSo requires the parallel version. The documentation should be clearer about that, and we should rewrite the CMake logic to throw and error if only the serial version is found, instead of printing "Found HDF5" and carrying on without HDF5.

To get the parallel

[2020-04-13 14:06] dpo854 commented on #3656
Thank you for tracking down the source of the error. A silly question. Since I am trying to install it on my cluster and sudo apt install or sudo yum install do not work there, is there a way to get its .tar.gz file? That's how I built fftw on my cluster.

[2020-04-13 15:06] jngrad commented on #3656
I've obtained the sources from the [Ubuntu repo page](https://packages.ubuntu.com/bionic/amd64/libhdf5-openmpi-dev), under "Download Source Package". Workflow:
[code]
then add `set(HDF5_C_COMPILER_EXECUTABLE /work/jgrad/hdf5-build/bin/h5pcc)` above `find_package(HDF5 "1.8" COMPONENTS C)` in the top-level `CMakeLists.txt` file. Change the prefix to any location you have write access to. I was able

[2020-04-13 15:27] #3658 closed, assigned to jngrad

[2020-04-13 20:47] dpo854 commented on #3656
Thanks for detailing the installation procedure. However, I am not seeing any "find_package(HDF5 "1.8" COMPONENTS C)" in the top-level CMakeLists.txt file.

[2020-04-13 23:47] dpo854 commented on #3656
Do I have to delete "  set(HDF5_PREFER_PARALLEL 1)", which is before "find_package(HDF5 "1.8" COMPONENTS C)"?

[2020-04-14 00:07] dpo854 commented on #3656
Now, it throws up this error. I am sorry for causing you so much inconvenience. However, I did follow all the abovementioned steps.

    import espressomd
    File "/home/dpo854/mycode/espresso/install/lib/python3.4/site-packages/espressomd        /__init__.py", line 23, in <module>
    import espressomd._init
    ImportError: libhdf5.so.100: cannot open shared object file: No such file or directo

[2020-04-14 02:25] dpo854 commented on #3656
I added this line "export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/home/dpo854/mycode/hdf5-1.10.0-patch1+docs/build/lib" to my submission script but it did not help. Rather it gives me another error:

    Traceback (most recent call last):
    File "minimal.py", line 36, in <module>
    import espressomd
    File "/home/dpo854/mycode/espresso/install/lib/python3.4/site-packages/espressomd/__init__.py", l

[2020-04-14 02:36] espresso-ci opened #3660 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11753

[2020-04-14 07:03] KaiSzuttor commented on #3656
@dpo854 sorry, but we cannot give support for building dependencies from source. Please ask on the mailing list for hdf5.

[2020-04-14 07:04] KaiSzuttor commented on #3656
I'll close this for now, if you have any further questions please open another ticket.

[2020-04-14 07:04] #3656 closed, assigned to nobody

[2020-04-14 07:16] KaiSzuttor commented on #3654
Why do they exclude those compiler versions by default if it actually works?

[2020-04-14 07:18] #3657 closed, assigned to nobody

[2020-04-14 07:21] #3660 closed, assigned to nobody

[2020-04-14 07:24] KaiSzuttor commented on #3655
You can use an observable for that, namely [DensityProfile](http://espressomd.org/html/doc4.1.2/espressomd.html?highlight=observable#espressomd.observables.DensityProfile).

[2020-04-14 07:38] mkuron commented on #3654
Nvidia just excludes all compilers that were released after the CUDA version. That is, they are not officially supported but work fine.

[2020-04-14 07:46] dpo854 commented on #3655
Dear Kai,
What version are you referring to? This one(http://espressomd.org/html/doc4.0.2/espressomd.html) has  cylindrical_average and this one (http://espressomd.org/html/doc/espressomd.html#module-espressomd.analyze) doesn't have it. In the same module (observable), there is an observable for CylindricalDensityProfile. Is it the same as cylindrical_average? If yes, how accurate is it?

[2020-04-14 07:48] dpo854 commented on #3656
No problem. On a side note, is it okay to save manually the positions in text files as an alternative to hdf5?

[2020-04-14 07:52] KaiSzuttor commented on #3655
The cylindrical average in the analysis module is deprecated by now (and removed in the current dev version). However, if you need a cylindrical average then you can use the observable, it's the more recent implementation and is tested.

[2020-04-14 07:54] KaiSzuttor commented on #3656
Of course you can do that, but it's quite slow. The best option is probably live analysis if you know beforehand what you want to look at.

[2020-04-14 08:00] dpo854 commented on #3656
Pardon my ignorance, but isn't the computational cost involved in live analysis (I assume by this you mean determining profiles by looping over particles in each step as the simulation goes forward) the same as writing to a file in each step and analyzing it later from a separate script?

[2020-04-14 08:01] KaiSzuttor commented on #3656
no because file I/O slows you down significantly.

[2020-04-14 08:03] dpo854 commented on #3656
Ok. That was quite helpful. Hopefully, now I can find a way around the hdf5 issue. Thanks

[2020-04-14 11:31] jonaslandsgesell commented on #3655
Does the CylindricalDensityProfile work with fluctuating particle numbers for a given type (in grand canonical simulations)? Could I obtain the density profile of + ions if they are exchanged with a reservoir (and therefore have varying ids)

[2020-04-14 11:40] KaiSzuttor commented on #3655
No, because the observables are paritcle-ID based. So, you explicitly have to tell the observable for which ids to track the density.

[2020-04-14 11:52] fweik opened #3663 "Virtual Sites Relative can dangle"
If the reference particle of a virtual site is removed, and virtual sites relative is enabled, this leaves the system in an invalid state, and it will crash on next propagation. I think the straight forward solution for
this turning virtual sites relative into a bond, at least internally. There is already a mechanism in
place that removes dangling bonds on particle removal. This would also make th

[2020-04-14 13:13] fweik opened #3664 "Future of sublj bond"
There is a bond type called `subt_lj`, which subtracts the LJ interaction between the bond partners. It seems to me that the same effect can be achieved with an exclusion (which also works for other interaction types, not only for lj). This interaction introduces a cyclical dependency between the bonded and non-bonded interactions? If this is really required, it needs to get its own set of LJ para

[2020-04-14 13:43] RudolfWeeber commented on #3664
Wouldn’t an exclusion kill all non-bonded stuff, including DPD?

That’s the only case with two non-bonded interactions I can think of.

[2020-04-14 13:43] jngrad commented on #3664
I'm not opposed to removing it. It's not very flexible and the `exclusion` list does the same job,  albeit with particle ids instead of types, which makes `subt_lj` only relevant to simulations with particle insertions and deletions. Breaking the non-bonded/bonded cyclic dependency would be advantageous.

[2020-04-14 13:47] fweik commented on #3664
@jngrad `subt_lj` is a bond, so it acts only between specific particles, not types.

[2020-04-14 13:49] fweik commented on #3664
@RudolfWeeber exclusions do not affect DPD (nor electrostatics and magnetostatics).

[2020-04-14 13:52] RudolfWeeber commented on #3664
Wasn’t there someone on the mailing list using that a while back. But with DPd and electrostatics being un-affected by exclusions, I really cannot imagine the purpose.

[2020-04-14 13:57] fweik commented on #3664
Last mention on the ML is from 2017...

[2020-04-14 14:14] fweik commented on #3664
Btw, the same effect can always be reached with just adding an additional type for the particle in question.

[2020-04-14 16:39] #3664 closed, assigned to nobody

[2020-04-14 18:02] RudolfWeeber commented on #3650
this is also present when building with clang 8.

How big of an issue would it be to switch the dev branch to C++17? Then, we could use std::optional (after checking that that actually works, that is)

What to do about 4.1 is a different issue, of course. I did not check, if the counters are already optionals, there.
If the counters are the only instance, we can probably work around that issue for

[2020-04-14 18:05] fweik commented on #3650
So, what version of NVCC supports C++17? (The alternative would be abseil, which provides C++14 implementations of the C++17 library parts). Also `boost::optional` and `std::optional` are not exactly equivalent (`std::optional<T&>` is not a thing, but does work with boost, don't know if we have that).

[2020-04-15 09:20] jngrad commented on #3650
offline core team discussion: remove the optional from the CUDA code

[2020-04-17 23:41] jngrad commented on #3650
I've replaced the `boost::optional` by a custom implementation in f18fc3b359360e. It's now possible to compile with Clang 9, but Clang-Tidy fails on .cu files. We need to either figure out why, or find a way in CMake to exclude CUDA files from Clang-Tidy. MWE:
[code]
The message was truncated. The complete trace is attached: [clang-tidy-trace.log](https://github.com/espressomd/espresso/files/44956

[2020-04-18 02:21] espresso-ci opened #3669 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11800

[2020-04-18 07:52] mkuron commented on #3650
Clang has a list of CUDA versions whose libraries and nvptx assembler it supports. As per https://github.com/llvm/llvm-project/blame/a9627b7ea7e2b47488188cb1d80a23b24a8066b2/clang/include/clang/Basic/Cuda.h#L25, CUDA 9.0 is supported by Clang 6.0+, CUDA 9.1 and 9.2 by Clang 7.0+, CUDA 10.0 by Clang 8.0+, CUDA 10.1 by Clang 9.0+, and CUDA 10.2 and 11.0 only by the current Clang master.

That would

[2020-04-18 10:24] fweik commented on #3650
@jngrad ~~this may be because the device code versions `sm_30` and `sm_52` are no longer supported by the cuda installation?~~ according to wikipedia this is supported

[2020-04-18 10:36] mkuron commented on #3650
That's an odd message. Sounds like Clang is getting invoked with wrong arguments.

This looks like it explains what is happening: http://lists.llvm.org/pipermail/cfe-dev/2015-December/046634.html. Does that `clang-tool` invocation come from CMake? It probably needs to be invoked twice, once for host code and once for device code to do clang-tidy (though not to compile the code). Maybe the old CMak

[2020-04-18 11:07] jngrad commented on #3650
Not sure, with the `clang:6.0` image the Clang-Tidy command for .cu files is completely different.

I can tinker with CMake to see how Clang-Tidy is invoked, or choose whether to analyse only the host or device code with these flags.

[2020-04-18 17:54] jngrad commented on #3650
CMake injects ` /usr/bin/cmake -E __run_co_compile --tidy="/usr/bin/clang-tidy-6.0;--line-filter=[{name: boost/mpi/collectives/all_reduce.hpp}]" --source=/work/jgrad/espresso/src/core/actor/DipolarBarnesHut_cuda.cu --` before the compilation command `/usr/bin/clang++ ...`. The feature `__run_co_compile` is undocumented, and the source code ([Kitware/CMake:Source/cmcmd.cxx#L406](https://github.com/

[2020-04-18 18:04] fweik commented on #3650
I doubt that `clang-tidy` can check device code, is there any documentation to that effect?

[2020-04-18 21:17] mkuron commented on #3650
It definitely checked host code when I added clang-tidy a few years ago. Does it do that when you add `--cuda-host-only`? I think it used to do device code too, but your sample code might not trigger it because almost any function is inlined by default — that is, your code is never compiled.

[2020-04-19 02:34] espresso-ci opened #3670 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11801

[2020-04-19 06:53] mkuron commented on #3650
[code]

`clang-tidy-9 --extra-arg=--cuda-host-only  test.cu` and `clang-tidy-9 --extra-arg=--cuda-device-only  test.cu` both result in
[code]
suggesting that it always analyzes both host and device code.

[2020-04-19 15:03] jngrad commented on #3650
Thanks @mkuron! It's clear now that our CMake logic is incorrect. Adding `--cuda-host-only` to the list of compiler flags for CUDA files in docker image `clang:6.0` revealed 147 Clang-Tidy warnings:
[code]
The majority are trivial to fix, but there are a few in there about potential memory leaks with malloc. Device code is also checked with `--cuda-host-only`.

We cannot simply add this flag to th

[2020-04-19 17:45] mkuron commented on #3650
We would want to add `--extra-arg=--cuda-host-only test.cu` to the commands that clang-tidy is invoked with. Clang-tidy and the compilation itself are separate processes and it should be possible to pass arguments to one but not the other. Maybe directly add it here: https://github.com/espressomd/espresso/blob/python/CMakeLists.txt#L378 ? That's what they do in https://cmake.org/cmake/help/latest/

[2020-04-19 18:28] RudolfWeeber commented on #3650
Se Ubuntu 20.04 Pr for clang tidy args.

[2020-04-20 02:34] espresso-ci opened #3671 "Add GPU fixture in lb_profile sample test"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11802

[2020-04-20 06:39] fweik commented on #3671
The failure in `sample_lb_profile` is new and recurring, this should be investigated.

[2020-04-20 06:39] fweik commented on #3671
@KaiSzuttor can you please look at this?

[2020-04-20 11:40] KaiSzuttor commented on #3671
don't know... recent changes have been made by @jngrad and @RudolfWeeber . Tested the sample 50+ times on my machine without failure.

[2020-04-20 11:51] fweik commented on #3671
Then check if you can reproduce it in the runners/containers? In the CI it seems pretty consistent...

[2020-04-20 14:32] KaiSzuttor commented on #3671
works on my machine within the container

[2020-04-20 14:56] jngrad commented on #3650
The following change restores the expected behavior of Clang-Tidy, but only for Clang-Tidy 6:
[code]
With that change, Clang-Tidy 9 doesn't fail anymore, but doesn't output any warning in the Ubuntu 20.04 image with `nvidia-cuda-toolkit`. Also, in that image, I can't run GPU scripts:
[code]
The GPUs appear in the `lspci` output, but the subfolders in `/usr/lib/cuda` are mostly empty, `nvidia-smi`

[2020-04-20 15:22] fweik opened #3672 "cmake-format error does not post the style patch"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/224599
is probably not what should happen?

[2020-04-20 15:40] jngrad commented on #3672
Pretty confident I'm the one who suggested to @KaiSzuttor  to add the `|| exit 1` in 0c8382af7f at:
https://github.com/espressomd/espresso/blob/18ffb6f983201436d12b00a23fc127e1e2ede8d3/maintainer/CI/fix_style.sh#L32
I don't remember the motivation behind it, and can't find any trace of that in the 3 PRs on GitHub and in our offline conversation on Mattermost. @KaiSzuttor the `|| exit 1` should be

[2020-04-20 15:47] fweik commented on #3672
I think it would  be great if the patch could be posted, because running `clang-format` locally requires the tools, which most people probably don't have installed...

[2020-04-20 15:54] jngrad commented on #3672
I agree, right now the script doesn't push the patch and this needs to be fixed.

[2020-04-20 16:05] mkuron commented on #3650
That image needs to be run using `nvidia-docker`. However, because it is not derived from Nvidia's official images, you need to add the appropriate metadata yourself, see https://github.com/NVIDIA/nvidia-docker/wiki/Usage#dockerfiles and https://gitlab.com/nvidia/container-images/cuda/-/blob/master/ubuntu/base/Dockerfile.jinja#L75.

That's odd. `--extra-arg=--cuda-host-only` works locally for me a

[2020-04-20 16:08] jngrad commented on #3650
Yes, the stand-alone command `clang-tidy-9 --extra-arg=--cuda-host-only test.cu` works, but not through our CMake logic.

[2020-04-20 22:10] #3633 closed, assigned to jngrad

[2020-04-21 02:32] espresso-ci opened #3674 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11815

[2020-04-21 09:36] jngrad commented on #3671
Found the source of the issue, I forgot to add a GPU fixture in the new `lb_profile` test, sorry for the trouble. PR is coming.

[2020-04-21 09:45] KaiSzuttor commented on #3671
the real issue is the cryptic error message

[2020-04-21 09:52] fweik commented on #3671
@KaiSzuttor can you please open a separate ticket for that?

[2020-04-21 11:08] KaiSzuttor opened #3675 "Cryptic cuda error message if no GPU available"
*e.g.*: https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/224552

[2020-04-21 11:21] mkuron commented on #3675
We should check `cudaGetDeviceCount()` before performing any CUDA operations.

[2020-04-21 11:29] KaiSzuttor commented on #3675
every time?

[2020-04-21 11:33] mkuron commented on #3675
No, just the first time. Trace back where the error message comes from, then add the check before that place. https://github.com/espressomd/espresso/blob/python/src/core/cuda_init_cuda.cu#L42 might be a good place.

[2020-04-21 13:01] jngrad commented on #3675
We worked around these cryptic errors in CI by adding GPU fixtures in the testsuite.

To generate a meaningful error message, we could add assertions in python classes that rely on the GPU features, either in constructors (1be50234ff) to warn early, or in `_activate_method()` methods, as long as it works with objects created by loading from a checkpoint.

edit: in 1be50234ff I didn't look into GPU

[2020-04-21 13:08] KaiSzuttor commented on #3675
then someone adds a new gpu feature and you have the same story again... I think we should do that low-level as @mkuron said

[2020-04-21 13:46] #3669 closed, assigned to nobody

[2020-04-21 13:46] #3670 closed, assigned to nobody

[2020-04-21 13:46] #3671 closed, assigned to jngrad

[2020-04-21 13:46] #3672 closed, assigned to jngrad

[2020-04-21 13:46] #3674 closed, assigned to nobody

[2020-04-21 15:10] jngrad commented on #3650
I ended up using `strace -o trace.txt -s 80 -f make EspressoCore` to dump the complete trace of system calls and reveal the full command line for Clang-Tidy 9. Mystery solved: the culprit was option `"--line-filter=[{name: boost/mpi/collectives/all_reduce.hpp}]"`, which actually suppresses all warnings in source files (both .cpp and .cu). Here is a MWE:
[code]

[2020-04-21 15:24] jngrad commented on #3650
Found it: the `--line-filter` argument is actually inclusive, not exclusive. The correct syntax is therefore `--line-filter="[{'name': 'boost/mpi/collectives/all_reduce.hpp', 'lines': [[9999999,9999999]]}, {'name': '.h'}, {'name': '.hpp'}, {'name': '.hxx'}, {'name': '.hh'}, {'name': '.c'}, {'name': '.cpp'}, {'name': '.cxx'}, {'name': '.cc'}, {'name': '.cu'}, {'name': '.cuh'}]"`.

[2020-04-21 15:54] RudolfWeeber commented on #3650
Thanks. I apparently misunderstood how that works.

[2020-04-21 17:21] jngrad commented on #3650
We're not the only ones who got bitten by this mechanism. There is a PR from 2016 to add a flag `-suppress-checks-filter` to exclude files (https://reviews.llvm.org/D26418), but it hasn't made it yet.

[2020-04-21 22:04] jngrad commented on #3650
In the end, the `--line-filter` was useless, it can't suppress the boost warning:
[code]
I guess that's not suppressed because [`clang-analyzer-core.StackAddrEscapeBase`](https://clang.llvm.org/extra/clang-tidy/checks/clang-analyzer-core.StackAddressEscape.html) is not a Clang-Tidy rule, but an alias to [`core.StackAddressEscape`](https://clang.llvm.org/docs/analyzer/checkers.html#core-stackaddres

[2020-04-21 23:34] jngrad commented on #3650
There are more warnings triggered by boost MPI, e.g. `clang-analyzer-optin.mpi.MPI-Checker`, which will need to be disabled in `WarningsAsErrors`. I'm addressing all Clang-Tidy 9 warnings, including in CUDA code, either by fixing them or adding `NOLINT` if the change is not trivial.

[2020-04-22 07:41] mkuron commented on #3650
That is pretty much incompatible with Boost.MPI because it doesn't properly trace MPI calls across multiple files. We have already disabled that via https://github.com/espressomd/espresso/blob/08dd1948402c60e82690b4525b3547fbaaf84938/.clang-tidy#L6

.

See https://github.com/boostorg/mpi/pull/52 and https://github.com/boostorg/mpi/issues/68. This issue should have been fixed since Boost 1.69. If n

[2020-04-22 09:41] KaiSzuttor opened #3679 ""Current" observable wrong"
The observable is currently defined as
<img src="https://render.githubusercontent.com/render/math?math=I=\sum_i q_i v_i ">
which has dimensions [length] [charge] [time]^-1. whereas electric current has units of [charge][time]^-1

[2020-04-22 10:11] fweik opened #3680 "Use separate cutoff for bonded and non-bonded interactions"
Because espresso finds bond partners by an index, and not by spatial neighbor search it is sufficient
for bond partners to be present (real or ghost) on the node where a bond is evaluated. Hence the cutoff for bonds needs only to be considered for the halo size, not for the cell size. This can lead to
considerable performance increase: e.g. currently adding a dihedral bond doubles the cutoff, and

[2020-04-22 10:32] jngrad commented on #3650
I was using the ICP machine with boost 1.65 for convenience, that must explain it.

[2020-04-22 23:04] dpo854 commented on #3655
What is the output structure of observables? It says it's an array, for certain functions such as **CylindricalDensityProfile** (http://espressomd.org/html/doc4.0.2/espressomd.html#module-espressomd.observables). But, when I try to print the output of it, it gives me something else.

[2020-04-22 23:26] jngrad commented on #3655
Shouldn't it return a 1D list of doubles that can be reshaped with numpy into a 3D grid?
[code]

[2020-04-23 12:19] fweik opened #3682 "Investigate why the forces have to be recalculated `on_resort_particles`"
The forces have to dismissed on particles resort (triggered by `on_resort_particles`), otherwise multiple tests fail. This should not be the case, but rather suggests that the current correct outcome is coincidental. The most likely explanation is that some (or multiple) methods do not trigger the appropriate events when parameters are changed. This is has been rectified, the `on_resort_particles`

[2020-04-23 14:07] espresso-ci opened #3683 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11870

[2020-04-23 15:42] #3683 closed, assigned to nobody

[2020-04-23 15:45] jngrad commented on #3683
The bot glitched and did not close the issue, had to manually retry it:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/225922
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/225926

[2020-04-23 20:53] jngrad commented on #3643
The issue did not reoccur for two weeks, closing.

[2020-04-23 20:53] #3643 closed, assigned to nobody

[2020-04-23 21:49] jngrad commented on #3627
I've addressed the majority of the Clang-Tidy 9 warnings. `modernize-avoid-c-arrays` was disabled since it's triggered in too many places. `bugprone-macro-parentheses` was temporarily disabled, until we refactor the macros in the rhomboid shape. The two warnings triggered by `boost::mpi` in Boost <1.96 were configured such that they don't become compiler errors; we can't exclude those warnings wit

[2020-04-24 13:43] jngrad commented on #3421
The requirement `MDAnalysis>=0.16` breaks for version 0.16 on Ubuntu 20.04. I'll increase the required version numbers once we're done with the ongoing simplification of CI images.

[2020-04-25 11:09] #3627 closed, assigned to jngrad

[2020-04-25 11:09] #3650 closed, assigned to nobody

[2020-04-25 12:24] espresso-ci opened #3685 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11886

[2020-04-25 12:55] jngrad commented on #3685
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/226122
Runner failure.

[2020-04-25 13:26] #3685 closed, assigned to nobody

[2020-04-25 16:46] jngrad commented on #3611
Here's the status:
* Ubuntu 20.04 with Ubuntu-supplied Cuda 10.1 -> done, we can drop our `cuda10.1` image
* Ubuntu 18.04 with Ubuntu-supplied Cuda 9.1 -> done, we can drop our `cuda9.2` image
* Ubuntu 20.04 with ROCm -> base image `dev-ubuntu-20.04` not yet available
* Nvidia-supplied Ubuntu with Cuda-latest -> base image `nvidia/cuda:10.2-devel-ubuntu20.04` not yet available
* OSX with Cuda 10.2

[2020-04-26 03:05] espresso-ci opened #3686 "Missing lxml Python package in CI images"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11889

[2020-04-27 14:56] #3654 closed, assigned to nobody

[2020-04-27 14:56] #3686 closed, assigned to jngrad

[2020-04-27 15:37] jngrad opened #3688 "Deprecated instructions in CUDA-generated assembly code"
Building the CUDA sources with Clang 9, CUDA 10.1 and thrust 1.9.5 on Ubuntu 20.04 revealed deprecated instructions in the generated assembly code:

[code]

Full log file: https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/226271

The `shfl`-related warnings come from code emitted by thrust reductions:

https://github.com/espressomd/espresso/blob/35e0865e6645cc62ed2718ee0eb1600bd9e440e

[2020-04-27 16:48] mkuron commented on #3688
That's an upstream issue. Clang needs to stop generating these when targeting newer CUDA versions.

Since these are only warnings, just ignore them for now. There is no way to suppress them that I am aware of. I guess they already fixed part of this issue in Clang 10: https://github.com/llvm/llvm-project/commit/5c6ab2a0b1f2da22c8ce4fbfc022f599aaa4a2a6

[2020-04-27 16:52] jngrad commented on #3688
Thanks for the explanation.

[2020-04-27 16:53] #3688 closed, assigned to nobody

[2020-04-28 12:55] fweik commented on #3680
Furthermore the bonded cutoff can then be ignored on a single node and for the n^2 cell system, because in either case all particles are always present.

[2020-04-29 02:52] espresso-ci opened #3691 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11913

[2020-04-29 11:03] #3691 closed, assigned to nobody

[2020-04-29 16:49] espresso-ci opened #3694 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11924

[2020-04-29 17:02] jngrad commented on #3694
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/227011
ferrofluid tutorial part 1

[2020-04-29 17:18] #3694 closed, assigned to nobody

[2020-04-30 02:22] espresso-ci opened #3695 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11925

[2020-04-30 08:49] jngrad commented on #3695
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/227044
tutorial_12-constant_pH

[2020-04-30 09:07] #3695 closed, assigned to nobody

[2020-04-30 20:17] fweik opened #3697 "Add unit test and documentation for `get_mi_coord` and `get_mi_vector`"
We should tests for those important functions. Also they are not documented.

[2020-04-30 20:33] fweik commented on #3697
It might also be possible that there are better names for those functions.

[2020-05-01 19:57] RudolfWeeber opened #3700 "Performance degradation since 4.1.2"
LJ benchmark with 1000 particles on one core at 0.1 volume fraction
on argali.icp with g++-6 and nvcc
From 0.27 ms/ step to 0.34 ms /step
Accoding to git bisect, this occured in
[code]
The calls in the commit need to be hecked for unwanted copy operations etc. The changes intended by the commit, do not explain a 30% slow down IMO.

[2020-05-01 20:37] fweik commented on #3700
Please provide a minimal script that demonstrates the issue.

[2020-05-01 21:10] RudolfWeeber commented on #3700
Pypresso Maintainer/benchmarks/lj.py –-particles_per_core 1000 -–volume_fraction 0.1

With default myconfig

[2020-05-01 21:50] fweik commented on #3700
If I remember correctly, this code adds an additional frame transformation. That could be it. Those could also probably be optimized, currently they calculate the full rotation matrix from the quaternion and the subsequently apply it, which is probably not the most effective way to do it. The absolute change you are showing here are pretty small still, about 70ns per particle, so not sure if this

[2020-05-02 18:06] #3700 closed, assigned to nobody

[2020-05-03 02:58] espresso-ci opened #3703 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11955

[2020-05-03 10:18] jngrad commented on #3703
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/227649
duplicate of #3104

[2020-05-03 12:54] #3703 closed, assigned to nobody

[2020-05-03 19:07] jngrad commented on #3454
The `FetchContent` solution with namespace `walberla::` was implemented in 8c75d8ea6d86. Closing.

[2020-05-03 19:07] #3454 closed, assigned to jngrad

[2020-05-05 02:39] espresso-ci opened #3704 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11966

[2020-05-05 08:27] jngrad commented on #3704
Two jobs timed out. Maybe we should have a cron job to download the Ubuntu 20.04 image on all runners before running the nightly builds.

[2020-05-05 08:58] #3704 closed, assigned to nobody

[2020-05-05 09:52] mkuron commented on #3704
Better solution would be to mirror the image to our own registry.

[2020-05-06 02:58] espresso-ci opened #3705 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11970

[2020-05-06 15:28] jngrad commented on #3705
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/227982
sample_electrophoresis

[2020-05-06 16:07] #3705 closed, assigned to nobody

[2020-05-07 15:00] jngrad commented on #3526
This issue was resolved by #3684.

[2020-05-07 15:00] #3526 closed, assigned to nobody

[2020-05-07 15:08] #3605 closed, assigned to nobody

[2020-05-08 02:58] espresso-ci opened #3707 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11989

[2020-05-08 07:02] #3707 closed, assigned to nobody

[2020-05-10 10:26] #3630 closed, assigned to nobody

[2020-05-10 11:22] espresso-ci opened #3709 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12003

[2020-05-10 12:28] jngrad commented on #3709
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/228663
sample_electrophoresis

[2020-05-10 12:44] #3709 closed, assigned to nobody

[2020-05-12 13:42] hirschsn opened #3711 "Variant_test fails with boost 1.73.0"
The unit test `Variant_test` fails with the most recent version of boost 1.73.0 in the `unpack_pair` test. The `const std::vector<Variant> &v` passed to `unpack_pair` (Variant.hpp:79) contains garbage. :)

The reason is some fancy template gone wrong in the script interface. Compiler warning:
[code]

Latest ESPResSo python branch.
Edit: Forgot to mention: Of course, with boost 1.72.0 everything wo

[2020-05-14 13:48] Kischy opened #3713 "Segmentation fault with Espresso 4.1.1 using p3m, Gay-Berne potential, Lennard-Jones potential and virtual sites"
I have a very weird segmentation fault in one of my simulations. The curios thing is that I do multiple simulations in exactly the same manner and the only thing I change between different simulations is the position of a virtual particle, that carries a charge. For one particular charge position the simulation fails with a segmentation fault, all the others work just fine. The point at which it f

[2020-05-14 13:57] Kischy commented on #3713
Might be connected to issue #3663, but I am not sure. I do not remove any particles during the simulation.

[2020-05-14 15:07] jngrad commented on #3713
This looks like espresso 4.1.2, failing in function `void p3m_do_assign_charge<7>(double, Utils::Vector<double, 3ul>&, int)`.  This part of the code was refactored recently in the dev version. Is this bug reproducible without MPI? If not, is the failure reproducible on the same MPI rank by using the same particle position?

[2020-05-14 15:27] jngrad commented on #3713
In 4.1.1 there are additional checks available to generate meaningful error messages before a segfault:
https://github.com/espressomd/espresso/blob/35e18f7167f95f75057384993e0ef771bc061b12/src/core/electrostatics_magnetostatics/p3m.cpp#L557-L570
Could you please recompile your version of espresso with the extra feature `ADDITIONAL_CHECKS` in your `myconfig.hpp` and share with us if there is a runt

[2020-05-14 16:10] Kischy commented on #3713
I will try that tomorrow and come back with the output. Might take awile, the simulation does not fail on start.

[2020-05-14 16:12] Kischy commented on #3713
I have never tried without MPI, because the tuning of the p3m algorithm never finishes. Or at least not in a reasonable time.

What exactly do you mean with this question?

[2020-05-14 16:22] jngrad commented on #3713
You mentioned the system crashes depending on the charge and position of the virtual particle. The backtrace shows the failure happened on MPI rank 8. The MPI ranks are assigned to slices of the cellsystem. If you re-run the same script, the virtual particle will be in the same domain. If MPI rank 8 fails repeatedly, we can attach GDB to ranks 0 and 8 to get an opportunity to print the values of a

[2020-05-14 16:30] Kischy commented on #3713
It only depends on the position of the virtual particle, the value of the charge does not change between different simulation runs. I will try  `ADDITIONAL_CHECKS` tomorrow and come back. Thank you.

This is another run:

[code]

and yet another run:

[code]

[2020-05-15 02:53] espresso-ci opened #3714 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12047

[2020-05-15 08:04] Kischy commented on #3713
So I compiled using `ADDITIONAL_CHECKS` and reran the simulation. Unfortunately the error looks much the same:

[code]

[2020-05-15 08:15] fweik commented on #3713
It's not obvious to me what is happening here from the traces. Can you please provide a (minimal) script that reproduces the issue?

[2020-05-15 08:17] KaiSzuttor commented on #3713
doesn't that look like a blow up of forces if the top of the stack is ```p3m_do_assign_charge```?

[2020-05-15 08:18] Kischy commented on #3713
I can send you the whole script. I can't send it to you here, because its not puplished yet. It is not minimal, because this is hard to reproduce.

[2020-05-15 08:30] Kischy commented on #3713
I just send you the script. Thank you for looking into this. If there is anything I can do, please let me know.

[2020-05-15 08:32] Kischy commented on #3713
Might be possible. In this simulation the charge is relatively exposed in comparision with the other simulations.

[2020-05-15 08:47] fweik commented on #3713
Did you set the `min_global_cut` to the maximal distance between virtual and reference particle?

[2020-05-15 08:57] Kischy commented on #3713
Almost, I would say.  rel_virt_pos[2] holds the maximal distance. I had problems with the exact value, which I assumed to stem from floating point inaccuracies, so I added a tiny bit.

` md_system.min_global_cut = rel_virt_pos[2] + 0.0000001 ` (line 53, file particle_setup_q_2_zc_1_5.py)

[2020-05-15 10:18] fweik commented on #3713
This is an open source project, we can not provide private support to you. If you want our help, the discussion has to be public, so that it is also helpful to others.

[2020-05-15 10:49] Kischy commented on #3713
I think this must be some kind of misunderstanding: I did never ask you for private support. I simply wanted to report a bug, which I will definitly not do again in such a hostile environment. You asked me for a simulation script and I send it to you. I understand your need for a public discussion, but with a pending paper I simply cannot puplish the script here yet. I can provide the script here

[2020-05-15 10:59] Kischy commented on #3713
By the way: This is the second time I feel like I am beeing attacked for trying to contribute. For me, that is unacceptable for any kind of open source project.

[2020-05-15 11:18] fweik commented on #3713
I'm sorry you feel that, that was not my intention. But referring to a private mail in public forum just isn't very helpful.

[2020-05-15 11:34] Kischy commented on #3713
That is right, but as I said, I can provide it later. And I did not refer to the private mail, I simply answered your question in a meaningful way. I could have simply stated "yes", which is not as helpful once the scripts are provided. The reference was a mere bonus.

[2020-05-15 11:51] Kischy commented on #3713
I just realized, that if this simulation does not work, it will not be included in the puplication anyway. So here you go:
[q_2_zc_1_5.zip](https://github.com/espressomd/espresso/files/4634145/q_2_zc_1_5.zip)

You can start the simulation from "Temp_alle/ILC.py" if you want.

[2020-05-15 11:51] fweik commented on #3713
Ok, I can see how my comment could be understood as harsh, as I was saying, this wasn't my intention. With regards to the problem, I've run out of ideas for now, I'll have a look again next week.
@KaiSzuttor yes that is what we thought first, but with `ADDITIONAL_CHECKS` it is actually checked that the particles are withing the valid domain....

[2020-05-15 11:54] jngrad commented on #3713
@Kischy  Thank you for reporting this issue to us. This lead us to re-introduce one of the 4.1 `ADDITIONAL_CHECKS` assertions in the P3M code of the 4.2 dev branch (#3715).

It's unfortunate `ADDITIONAL_CHECKS` didn't catch the issue. This means something else is wrong, but from our side we cannot tell whether the issue is a bug in espresso or an issue with your script, as the backtrace alone does

[2020-05-15 12:03] Kischy commented on #3713
Okay, no worries, the tone was quite aggressive to me, therefore my reaction. If we are back to a helpfull discussion, I want to mention again, that this is the second time this happend and kindly ask for an improvement on that front.

[2020-05-15 12:03] Kischy commented on #3713
I understand the policy, the files are provided above.

[2020-05-15 12:09] Kischy commented on #3713
If you change the value in line 29 from 1.5 to 1.2 in file "particle_setup_q_2_zc_1_5.py" and then run the simulation, there is no issue. The value changes the position of the virtual particle relative to the Gay-Berne particle. In fact all values from 0.0 to 1.2 seem to work fine. Only when the charge is almost or close to the tip of the GB particle the simulations break for some reason.

[2020-05-15 12:16] fweik commented on #3713
The working hypothesis is that the manual cutoff setting does not lead to the required reinit of the P3M.
Will check.

[2020-05-15 12:36] Kischy commented on #3713
Here is a minimal exampe of this. I will be able to tell you in a few hours if it fails too. At this time I have no guarantee that it does.

[q_2_zc_1_5_minimal.zip](https://github.com/espressomd/espresso/files/4634395/q_2_zc_1_5_minimal.zip)

[2020-05-15 12:44] fweik commented on #3713
So there was something wrong with regards to the P3M initialization and manual setting of the cutoff, which should be fixed with #3717. If this is ported back, I'll recheck your script.

[2020-05-15 12:51] Kischy commented on #3713
Thank you.

[2020-05-15 13:01] jngrad commented on #3713
Backported in the upcoming 4.1 bugfix release as 041c9c8a32

[2020-05-15 16:05] Kischy commented on #3713
Are the two lines you added in 041c9c8 the only ones that need to be added? In that case I can test it myself and come back with the result.

[2020-05-15 16:11] jngrad commented on #3713
Yes, unless I missed a side-effect in the recent cellsystem refactoring.

[2020-05-15 16:28] jngrad opened #3718 "Create StressTensor/Pressure/Energy observables"
Follow-up to #3712.

Next step is to convert the `Observable_stat` globals into `Observable` classes. Here is the plan:
* `StressTensorKinetic`: NxN matrix
* `StressTensorVirtualSites`: NxN matrix
* `StressTensorExternalFields`: NxN matrix
* `StressTensorCoulomb`: NxN matrix, there doesn't seem to be a need for 2 or 3 matrices
* `StressTensorDipolar`: skip it: not implemented
* for interactions, i

[2020-05-15 18:13] jngrad opened #3719 "Sanitize shape parameters"
Currently, shapes accept any geometrical parameter, even those outside the definition domain of their distance calculation function. Incorrect parameters lead to non-differentiable surfaces or NaN values. We need to provide setters that will throw an error when constructing or updating shapes with  incorrect parameters.

To illustrate the issue, here are a few examples:
- `HollowConicalFrustum`: i

[2020-05-16 08:06] Kischy commented on #3713
After I changed the two lines, compiled and reran the script the error still persists:

[code]

I am currious too know wheather this stems from an error in my script or a rare bug.

[2020-05-16 08:40] fweik commented on #3719
In this context we should also consider if it wouldn't be easier to provide the tools (like the `Union` thing) to build up more complex shapes from primitives, instead of hard-coding them. I would expect that it is pretty hard to write a test for the `Stomatocyte` shape, that will check that the invariants that you want to enforce are actually kept.

[2020-05-16 09:04] fweik opened #3722 "ELC self-forces do not obey Coulomb prefactor."
The elc self interaction is add directly to the particles in `ELC_P3M_self_forces`, but from what I can tell it does not consider the Coulomb prefactor.

[2020-05-16 14:52] jngrad commented on #3719
Yeah the `Stomatocyte` is going to be rough. I couldn't find the equations for the expressions in the source code. WolframAlpha helped me in the past with the Gay-Berne code, and it already found a simpler expression for the first variable `d`. I've brute-forced the shape with 1000 gaussian-distributed geometrical parameters, and from the results it seems you can check if parameters are appropriat

[2020-05-16 15:01] fweik commented on #3719
I'm not sure the Stomatocyte has any users, so we shouldn't put too much work into it. If more complex forms could be build up from simpler once, such single-shot stuff wouldn't need to be in the core code, and subsequently be maintained. This is probably not in incredibly good use of our resources...

[2020-05-16 15:25] jngrad commented on #3719
The issues with `Stomatocyte` are orthogonal to the problem at hand, so let's focus on the bigger picture. Whether we should invest resources into building a CAD framework is an interesting question, and I would be happy to participate to the development if we decide to do so, but we won't port it back to 4.1, so we'll have to address the issue of sanitizing parameters in any case for 4.1.3. The s

[2020-05-16 15:37] RudolfWeeber commented on #3719
Let’s do it in a “best effort” fashion and add checks for obvious nonsense such as negative radii. Whatever can be achieved in 1-2 hours.

I agree with @fweik, that we should probably ignore stomatocyte. It’s a candidate for removal.

[2020-05-16 20:13] Kischy commented on #3713
I checked the minimal example. It does throw the error!

I added a line, so it prints the cycle number every 1000 cycles.

[q_2_zc_1_5_minimal.zip](https://github.com/espressomd/espresso/files/4639154/q_2_zc_1_5_minimal.zip)

[2020-05-17 10:11] fweik commented on #3719
`building a CAD framework` sounds very much out of scope for the project, it is probably simpler to just support some common mesh format is supported (and fast), so that existing specialized tools can be used for the actual geometry work...

[2020-05-17 13:42] jngrad commented on #837
The `etype` parameter was removed in 4.0. The energy/pressure/stress tensor globals will be converted to observables in 4.2 (there is a dedicated ticket). Closing.

[2020-05-17 13:42] #837 closed

[2020-05-17 13:55] jngrad commented on #1233
The scalar pressure is equal to a third of the trace of the stress tensor for every contribution, including the kinetic contribution, since 4.0. This can be closed.

[2020-05-17 13:55] #1233 closed, assigned to nobody

[2020-05-17 16:48] jngrad commented on #1400
I'll soon refactor the energy contributions in #3718.

If I understand the code correctly, it's simply a matter of splitting [`add_kinetic_energy()`](https://github.com/espressomd/espresso/blob/4e578cde72d5f383eb6a88ab20e3849f246714be/src/core/energy_inline.hpp#L310-L329) into two functions and updating [`calculate_current_potential_energy_of_system()`](https://github.com/espressomd/espresso/blob/

[2020-05-18 06:31] jngrad commented on #2200
This can be done as part of #3718.

[2020-05-18 07:21] fweik commented on #2200
Did we agree to do this? The other possibility would be to change the sign. I think that stress is a clearer and less loaded term, it's also more correct I think, because it does not actually calculate the (thermodynamic) pressure....

[2020-05-18 09:00] jngrad commented on #2200
I've been reading a few papers this morning, and it's unclear to me what is actually calculated in the core. Cheng et Merz 1996 ([10.1021/jp952646x](https://doi.org/10.1021/jp952646x)) give the following definitions of the scalar pressure and pressure stress:

<img src="https://render.githubusercontent.com/render/math?math=P=\displaystyle\frac{1}{3V}\sum_{i=1}^{N}\left(m_iv_i^2%2b\vec{r_i}\cdot\ve

[2020-05-18 09:08] fweik commented on #2200
As I was saying, stress is a less loaded term with a clear (mechanical) definition. From a physics point of view, pressure is a statistical property, that can only be calculated from an ensemble, not from a configuration. I know that the term is used somewhat differently in engineering, but it is controversial, also I think there are different sign conventions, which also doesn't help.

[2020-05-18 09:14] fweik commented on #2200
Btw. I think the authoritative source for these terms is the seminal Kirkwood and Irving paper (https://doi.org/10.1063/1.1747782) from the 50s...

[2020-05-18 13:16] jngrad commented on #3718
offline discussion: rename `StressTensor` to `PressureTensor`, create `Energy` and `Pressure` for the total energy and total scalar pressure, remove state tracking from the global observables, leave the analysis module as it is now until a better solution is found (it's helpful to print all contributions when debugging simulations).

[2020-05-18 13:20] jngrad commented on #2200
offline discussion: is espresso the velocity term is calculated by the kinetic virial function and the force term is calculated by the particle and nonbonded virial functions.

[2020-05-18 16:02] Kischy commented on #3713
@fweik I just wanted to say, that I read the conversation again and I see now that I have interpreted the comment about "private support" very negatively the first time. I can see how you probably didn't mean it as harsh as my interpretation was. I apologize for my hard interpretation and for labeling the comment "hostile". I hope we can leave this behind us. Thank you.

[2020-05-18 17:07] jngrad commented on #3713
Good news: the error is reproducible in a debug build with a numpy seed without MPI, code fails at:
https://github.com/espressomd/espresso/blob/35e18f7167f95f75057384993e0ef771bc061b12/src/core/electrostatics_magnetostatics/p3m.cpp#L599

The crash occurs when accessing an array with an index cast to int from a NaN, resulting in a negative value. @fweik is this GDB report enough for you to figure o

[2020-05-18 18:35] fweik commented on #3713
That would suggest that something went wrong before? The most likely source for NaN positions is NaN forces from somewhere. You are running this with the patche 4.1 branch?

[2020-05-18 18:42] jngrad commented on #3713
without the patch, forgot to pull the branch...

[2020-05-18 20:50] jngrad commented on #3713
Tried again with the patch, still the same error... I've also added assertions in the non-bonded force function, but no NaN was caught.

[code]

[2020-05-19 08:43] fweik commented on #3713
@Kischy no harm done. I think the communication was not optimal from both sides. Let's do better next time and move on.

[2020-05-19 12:25] jngrad commented on #3719
The `Cylinder` class can be used as an example to re-design the other classes, it's one of the few that has const getters and setters that process the input parameters:
https://github.com/espressomd/espresso/blob/4e578cde72d5f383eb6a88ab20e3849f246714be/src/shapes/include/shapes/Cylinder.hpp#L92-L96

[2020-05-19 12:32] jngrad commented on #3711
Thanks for bringing our attention to this issue. Boost 1.73 will be shipped with [Fedora 33](https://fedoraproject.org/wiki/Changes/F33Boost173), which will start rebuilding all packages including espressomd on [July 22](https://fedorapeople.org/groups/schedule/f-33/f-33-key-tasks.html). I can maybe have a look next week.

[2020-05-19 20:55] jngrad commented on #3713
I tracked down the source of NaN to this expression:
https://github.com/espressomd/espresso/blob/35e18f7167f95f75057384993e0ef771bc061b12/src/core/rotation.cpp#L197-L203

We're taking the square root of a negative number, which propagates to the particle quaternion, to the particle director, and finally to the virtual site position via:
https://github.com/espressomd/espresso/blob/35e18f7167f95f750

[2020-05-20 07:43] Kischy commented on #3713
I'll have a look at the paper again and come back if I find anything usefull.

------------------------------------------------------------------------------------------

One question about the parameters: From `p.p.rinertia = {0.5, 0.5, 0.10000000000000001}` I can see that it is a GB particle, but why does it have the starting values of `p.r.quat = {1, 0, 0, 0}` for the quaternion? The value of t

[2020-05-20 09:59] jngrad commented on #3713
It is not an issue in itself. The line `md_system.force_cap = warmup_cap * warmup_integ_steps` in the for loop made me think that you were increasing the force cap, as we typically do in the samples, but then I realized the two variables were constants.

I got it to fail on the first integration step:
[code]

I did too. In fact, the steepest descent algorithm does exactly that. Not sure why the fo

[2020-05-20 10:31] Kischy commented on #3713
I do not know why these leads to a negative value in the sqrt. It might be that the timestep is simply to high and I have to use a lower timestep for this simulation.

-----------------------------------------------------------------------------------

The torque values are immediately that high? Even with the particles so far appart?

--------------------------------------------------------------

[2020-05-20 11:00] Kischy commented on #3713
Are torques calculated for the virtual sites? I think I turned rotation off for the virtual sites. Only the GB and LJ particles need to rotate.
Thank you, that is good to know. Maybe I turn off the thermostat during warmup.

[2020-05-20 12:31] jngrad commented on #3713
I'm not exactly sure what happens with virtual site torques and thermostats, but after removing both the force cap and thermostat, the NaN issue persists, so the issue has a different origin.

Yes, although I'm not sure why.

Yes, the papers use a different formalism for quaternions. This already caused issues once (#2964). It's now clear to me we need to write down in `rotation.cpp` which formali

[2020-05-20 12:34] Kischy commented on #3713
That is confusing and not clear at all. The comment
[code]
suggests, that the formalism of the paper is used and I thought it was scalar first. Thank you for clearing that up. Please note this somewhere! I would suggest updating the comment.

[2020-05-20 12:49] Kischy commented on #3713
@jngrad I think the signs in your matrix might be incorrect. The third row should be all positive signs. But even with this, the result does not match the code, does it?

[2020-05-20 13:03] jngrad commented on #3713
Nice catch, it was a copy-paste error. The third line of the code should also have only positive signs.

We definitively need to update the comment to reflect the formalism used in the function.

Updating the code with my solution (with the correct signs) fails the `rotational_inertia.py` test. To move forward, I think we need to come up with a simple case, e.g. a particle with angular velocity `[

[2020-05-20 13:13] RudolfWeeber commented on #3713
First of all, I just took a very brief look at the script, so the comments below may not be exactly applicable here. I'll still comment, since I'm probably one of the people who has spent significant time with the rotation and virtual sites stuff.

I think the torque is just to big for the simulation to be stable.
If we pretend for a second, that rotation is linear and use the Euler scheme, in a s

[2020-05-20 13:15] Kischy commented on #3713
@jngrad
Are we absolutly sure then, that the formalism and therefore the new equations are correct? Are we sure, that the old code is incorrect? I am asking again because I did not expect an error in such a fundemental part of the code and we should be absolutly sure not to introduce new mistakes.

I think your sugestion for a test is perfect. Would it be possible to calculate the derivitaves usin

[2020-05-20 13:15] Kischy commented on #3713
@RudolfWeeber Thank you for your suggestions. I will test them.

[2020-05-20 13:25] RudolfWeeber commented on #3713
With regards to errors in the rotation code:
Never say never, but I'd be somewhat surprised. Quite a few people have looked at it in detail, Bogdan for instance. Also, rather sophisticated time-dependent stuff was done with it. E.g., producing a correct Debye spectrum for a dipolar particle. That involves time auto-correlation functions of the particle orientation. A bug would have to be quite sub

[2020-05-20 13:37] jngrad commented on #3713
It's tested indirectly by spinning a particle with anisotropic inertial moment around a principal axis and checking for angular velocity conservation, if I read the code correctly.

It's probably easier to work out an analytical result. With a particle rotating around its principal axis and a torque applied on a perpendicular axis, the solution might just be a product of two quantities.

I think t

[2020-05-20 14:11] RudolfWeeber commented on #3713
There is also a test for anisotropic inertia moments.

If we really want peace of mind with this, one can compare Espresso’s trajectory for a particle with an external torque and anistropic inertia moments at T=0 with a numerical solution of the Euler equations, e.g., using

Scipy.integrate.solve_ivp.

[2020-05-20 14:16] Kischy commented on #3713
Hopefully you are right, but I do not understand the equations then. If espresso is using the scalar first convention and the paper uses the scalar last convention then your equations are correct and the code is incorrect. I do not see how the code can be correct, because there musst be a line in the resulting equations that has all positive signs (according to the paper) and there is no such line

[2020-05-20 14:27] Kischy commented on #3713
I think a bug would only matter for systems that are out of equilibrium. The argument would go as follows: Monte Carlo and MD give the same equilibrium result. Monte Carlo does not need equations of motion, therefore it should not matter in MD, if the equations of motion are incorrect as long as the particles are allowed to rotate and move. Only if a system is out of equilibrium or one needs the t

[2020-05-20 14:28] Kischy commented on #3713
Thanks for the suggestion!

[2020-05-20 14:39] RudolfWeeber commented on #3713
Yes, if it were only ensemble averages such as <omega^2>.

The diffusion coefficients and Debye spectra use correlations between omega now and omega in a while, though (or orientation vectors, when we look at Debye spectra). That requires an actual trajectory and is not an ensemble average that could be calculated with MC or an equation of motion with an incorrect inertia term.

[2020-05-20 14:40] jngrad commented on #3719
Hmm that's annoying, there is a situation where the correctness of a geometrical parameter depends on the value of another parameter. In the `Rhomboid` shape, the three edge vectors cannot be collinear otherwise the shape is flat, but we cannot know in a setter if the user is done setting the other parameters.

The correct way to address this dependency is to introduce a private member `is_initial

[2020-05-20 14:43] Kischy commented on #3713
Okay, nice. Then I assume for now, that the equations in the code are correct and I just do not understand where they come from at the moment.

Regarding my simulation: As you suggested I will try a different warmup and see if I can make it work.

[2020-05-20 14:50] fweik commented on #3719
I think it's the easiest way to just make the parameters immutable.

[2020-05-22 13:02] vanadiuz opened #3724 "Please, don't drop GPU support"
Dear developers,

_I didn't find a dedicated email address to write about it, so I write here._

**GPU support is one of the main Espresso's superpower:**

ca. 60000, 10% out of them are dipolar

10%

Dip. P3M (with DLC) or Dip. Direct Sum on GPU + Lattice Boltzmann (GPU)+ WCA + FENE + Harmonic bonds

Potentially needed

~8e5

~1k

The ability to use **GPU changes the whole game.** Simulations wor

[2020-05-22 14:33] RudolfWeeber commented on #3724
Thanks for the response to the survey.

What exactly is the system in which you have a factor of 10 between running on a GPU or a CPU?

Against how many MPI processes are you comparing?

The mentioned factor of 2-3 was for an LB simulation on 8 MPI processes.

[2020-05-22 15:22] jngrad commented on #3711
Just tried it with boost 1.73 on Ubuntu 20.04 with espresso 4.2-dev and 4.1.2. The Variant test fails because the pair is serialized into a vector of size 1. I originally also got random values as I forgot to add `boost::get<T>()` when printing the first value of the vector. The second value is uninitialized memory, so it can only be random.

The double brace expression `return {{pair.first, pair.

[2020-05-22 16:48] #3711 closed, assigned to jngrad

[2020-05-23 00:50] vanadiuz commented on #3724
Dear Rudolf,

In my case, such a small performance was due to the fact that I used Dip. Direct Sum on CPU in the simulation, with which MPI does not work. Therefore, it was only one process. I apologize for the slurred presentation of my experience.

Without dip. direct sum on eight MPI processes, performance is indeed about only two times slower.

Once again, I carefully read your letter "Future

[2020-05-23 00:51] #3724 closed, assigned to nobody

[2020-05-23 02:33] espresso-ci opened #3726 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12112

[2020-05-23 10:04] #3726 closed, assigned to nobody

[2020-05-23 13:21] #3518 closed, assigned to nobody

[2020-05-23 14:01] #3522 closed, assigned to nobody

[2020-05-23 14:29] #3682 closed, assigned to nobody

[2020-05-23 14:53] #3521 closed, assigned to nobody

[2020-05-25 12:38] #2200 closed, assigned to nobody

[2020-05-25 13:30] fweik commented on #3722
I tried adding the prefactor to `ELC_P3M_self_forces` but could not get `elc_vs_analytical` test case to work, but I'm not sure that I did understand the test correctly.  @reinaual could you please have a look?

[2020-05-25 13:56] jngrad opened #3729 "coyote10 randomly disconnects"
In the last 2 hours, coyote10 runners have been freezing randomly, with the 5 min timeout of CTest and the 1 hour timeout of GitLab-CI not being respected:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/231548
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/231563
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/231595

There's no clear pattern. It's no

[2020-05-25 14:14] mkuron commented on #3729
The machine was rebooted at 15:01. Here are some unusual log messages I found that are still coming in after the reboot:
[code]

And during the reboot, it reported multiple of these:
[code]

[2020-05-25 18:23] #3722 closed, assigned to nobody

[2020-05-25 20:32] jngrad commented on #2071
Updated version of the original post, which was written before the 4.0 release. We are currently working on 4.2.0 and 4.3.0.

This ticket lists parts of Espresso that do not have (sufficient) tests. Some of them have been removed, others have been marked with `#define EXPERIMENTAL_FEATURES` in myconfig.hpp.

- accumulators/correlators:
   - all accumulation/correlation methods are tested in 4.1.3

[2020-05-26 11:47] KaiSzuttor commented on #3729
I think this does not belong here but to the internal institutes support mailing list.

[2020-05-26 12:28] #3729 closed, assigned to nobody

[2020-05-26 12:31] fweik opened #3734 "LB coupling should use per particle gamma"
Currently the behavior of the LB and the Langevin thermostat differ in that the latter does use per partticle gamma's and particle anisotropy, while the former only support a global, scalar friction coefficient. This shouldn't be hard to change, and would allow for anisotropic point particles with dispersity. (In principle this is also true for the per particle temperature, but this is even more o

[2020-05-26 15:14] jngrad commented on #3719
I agree, that would be far easier. Yet I just found out about a use case for a `Wall` whose `position` attribute is increased slowly over time to compress a polymer ([10.1021/acs.nanolett.9b02224](https://doi.org/10.1021/acs.nanolett.9b02224) section [Simulation](https://pubs.acs.org/doi/10.1021/acs.nanolett.9b02224#sec4_2)).

[2020-05-26 18:09] fweik commented on #3719
Yes, but you can just replace the whole wall.

[2020-05-27 18:13] espresso-ci opened #3737 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12159

[2020-05-27 18:44] jngrad commented on #3737
`coulomb_tuning` failed with the same error on:
* coyote11 / cuda10-maxset without GPU https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/232541
* coyote10 / rocm-maxset with GPU https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/232534

[2020-05-27 19:12] #3737 closed, assigned to nobody

[2020-05-28 08:19] jngrad commented on #3266
According to [Bugzilla 1722181](https://bugzilla.redhat.com/show_bug.cgi?id=1722181), `librpm` is allocating too much TLS storage. The issue is worse on aarch64/ppc64le. This issue was reported in June 2019 and is still being investigated to this day. There doesn't seem to be a way to mitigate the TLS issue from our side. Closing.

[2020-05-28 08:19] #3266 closed, assigned to nobody

[2020-05-28 09:23] KaiSzuttor commented on #3655
@dpo854 have you looked at this again?

[2020-05-28 09:35] RudolfWeeber commented on #3455
lb momentum conservation test and newly added single coupling step force and force balance tests now pass. Closing

[2020-05-28 09:36] #3455 closed, assigned to itischler

[2020-05-28 09:38] RudolfWeeber commented on #3514
Testing single swimmer coupling steps is now possible via the last_applied_force property of lb nodes.
See test_viscous_coupling in testsuite/python/lb.py for template

[2020-05-28 09:56] RudolfWeeber commented on #3515
After some fixes, some tests now pass on one mpi core, but not on two.
A single coupling step needs to be tested as in testsuite/python/lb.py test_viscous_coupling.

[2020-05-28 10:13] #3523 closed, assigned to nobody

[2020-05-29 06:34] jonaslandsgesell commented on #3718
Particles of this type are non-physical (just for algorithmic reasons in the MC code) and exist only temporarily (i.e. at times where no observable can be called by the user). These temporary types should not be considered in any observable calculation.

[2020-05-29 15:36] jngrad commented on #2398
Can this be closed? The global was removed by #3399.

[2020-05-29 15:55] fweik commented on #2398
Yes, there are also integration tests that fail if this isn't working.

[2020-05-29 15:55] #2398 closed, assigned to nobody

[2020-05-29 16:11] #3456 closed, assigned to pkreissl

[2020-05-29 16:38] jngrad commented on #3714
`tutorial_12-constant_pH`

[2020-05-29 16:38] #3714 closed, assigned to nobody

[2020-05-29 17:24] RudolfWeeber opened #3744 "Immersed boundary method: external forces and constraints may be missed"
@sgekle, @fweik

The CPU implementation likely misses part of the forces contributed by constraints and the ext_force property of particls
close to node boundaries, both the actual particles and its ghosts are coupled to the fluid, evenn on a single MPI rank.
IBM applies the content of p.f.f to the fluid. On ghosts, this, however, does not contain single particle forces such as those from constrai

[2020-05-29 18:29] RudolfWeeber commented on #3744
Particles within one agrid of a node- or domain boundary are affected.
Between 1/2 and 7/8th of the forces are neglected, depending on whether the particle is next to a wall/edge/corner.

[2020-06-01 13:16] sgekle commented on #3744
Dear Rudolf,

could you point me to the exact position in the source code where you
think that the problem is?

Thanks,

   Stephan

Am 29.05.20 um 20:29 schrieb RudolfWeeber:

[2020-06-01 20:33] jngrad commented on #3134
This is no longer an issue on the `python` branch. Closing.

[2020-06-01 20:33] #3134 closed, assigned to nobody

[2020-06-02 10:44] jngrad commented on #3527
Tutorials still need features EK and thermalized LB.

LB samples now work, except for OIF which creates NaN values in the cylinder constraint (without GDB) and throws in the walberla code (with GDB):
[code]
Full tracebacks are [attached](https://github.com/espressomd/espresso/files/4716567/traces-oif.txt).

[2020-06-02 17:56] jngrad commented on #3697
The docs are indeed missing, but there are some basic test cases in [src/core/unit_tests/grid_test.cpp](https://github.com/espressomd/espresso/blob/540b6f0f5f59bd8257f09b750281dc7ddd9533c0/src/core/unit_tests/grid_test.cpp). Do you have a more specific test scenario in mind?

[2020-06-02 18:53] fweik commented on #3697
Apparently I missed those, they seem fine.

[2020-06-03 14:41] jngrad commented on #3713
Just had another look at the issue today. In a work-in-progress branch, I've clarified which formalism is used (a037bf56a23) and added an assertion to catch square roots of negative values (3a6ee73998827). If you tinker with torques and angular velocities, a pattern seems to emerge: when the largest component of the angular velocity multiplied by the time step gives 2.0 or more, the solution for l

[2020-06-03 15:50] RudolfWeeber commented on #3529
In the cases, where Walberla uses a Cartesian communicator,
src/blockforest/Initialization.cpp:227 matches what Espresso is doing, i.e., delegating the node position to rank mapping to MPI.
When not using a Cartesian communicator, blockforest/loadbalancing/CartesianDistribution.cpp decides. Apparently, it decides the opposite to what MPI is doing.

Ubuntu 18.04 has the broken OpenMPI which prevent

[2020-06-04 08:52] mkuron commented on #3529
This is hopefully going to be fixed on the Walberla side. https://i10git.cs.fau.de/walberla/walberla/-/issues/117

[2020-06-04 12:17] jngrad commented on #3639
Hasn't re-occurred in 2 months and not related to the test tolerance. Closing.

[2020-06-04 12:17] #3639 closed, assigned to nobody

[2020-06-04 12:17] jngrad commented on #3645
Hasn't re-occurred in 2 months and not related to the test tolerance. Closing.

[2020-06-04 12:17] #3645 closed, assigned to nobody

[2020-06-05 04:31] dpo854 commented on #3655
Unfortunately, it's putting out negative values at somepoints for me.

[2020-06-05 17:41] #3697 closed, assigned to jngrad

[2020-06-05 17:59] junghans opened #3749 "Variant_test fails on Fedora Rawhide"
[code]

Build log [here](https://github.com/espressomd/espresso/files/4737732/build.log.txt)

[2020-06-05 18:01] junghans commented on #3749
Same on x86_64: [build_x86_64.log.txt](https://github.com/espressomd/espresso/files/4737738/build_x86_64.log.txt)

[2020-06-05 18:22] jngrad commented on #3749
Already fixed by #3725 :wink:

[2020-06-05 18:34] junghans commented on #3749
Ah and you even told me about it, let me test it quickly.

[2020-06-05 20:03] junghans commented on #3749
Hmm, now I am getting:
[code]
for nearly all tests.

[build_x86_64.log.txt](https://github.com/espressomd/espresso/files/4738241/build_x86_64.log.txt)

[2020-06-05 20:09] junghans commented on #3749
Reason I doing a rebuilt: https://bugzilla.redhat.com/show_bug.cgi?id=1843105

[2020-06-05 20:57] jngrad commented on #3749
The `F33FailsToInstall` issue is quite unfortunate. There's a similar packaging issue with CentOS 8, when I tried to create a docker image, it failed due to missing python dependencies...

I've just created a Fedora 33 docker image and can reproduce the new error with OpenMPI. It's only happening for 2 or more MPI ranks. Here's my trace:
[code]
The issue happens in [`boost::mpi::detail::packed_arc

[2020-06-07 19:10] jngrad commented on #3573
Removing the `std::function` wrapper had no noticeable effect on timing (6216ab95). Using `std::array` instead of `std::vector` in the return value of lambdas reduced the `random_test` runtime by 15 s out of 4 min 44 s (cfd8156b5cc7). I'm using a variant with a visitor pattern because the dimension of noise vectors depends on the RNG. Using instead a tuple wouldn't be convenient: since we cannot i

[2020-06-08 02:20] espresso-ci opened #3750 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12228

[2020-06-08 07:01] KaiSzuttor commented on #3655
Could you please provide a minimal example that reproduces your issues.

[2020-06-08 08:52] jngrad commented on #3750
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/234361
tutorial_12-constant_pH

[2020-06-08 09:08] #3750 closed, assigned to nobody

[2020-06-08 22:01] junghans commented on #3749
Any news on this?

[2020-06-09 16:29] fweik commented on #3749
Isn't this again a instance of the well known problem where it tries to get a pointer by taking the address of the first element? (which is UB when die vector is empty). I think the eventual cause
is here: https://github.com/boostorg/mpi/blob/1c09f39948218d094a4fde9c09309580f33c5db5/include/boost/mpi/detail/packed_oprimitive.hpp#L41, not much we can do about this tho...

[2020-06-09 16:30] fweik commented on #3749
Seems like boost.mpi is still not using UB sanitizer in the CI...

[2020-06-09 16:33] jngrad commented on #3749
Reproducible in the dev branch.

During initialization in `espressomd/_init.pyx` L37, `mpi_loop()` calls `mpiCallbacks().loop()`. This method iterates over a list of functors ([`MpiCallbacks.hpp:L595`](https://github.com/espressomd/espresso/blob/4.1.2/src/core/MpiCallbacks.hpp#L595)) and calls them with the current boost mpi communicator and a packed archive, in order to initialize mpi callbacks o

[2020-06-09 16:35] fweik commented on #3749
As you might guess I'm also not a huge fan of adding awkward stuff in our code to work around broken libraries...

[2020-06-09 16:49] junghans commented on #3749
Can you make a PR for boostorg/mpi? Then we can patch it in Fedora

[2020-06-09 16:56] jngrad commented on #3749
I'm not a huge fan of the espresso MPI infrastructure :) It took me 5 hours to get this far and I still don't know if it's a regression in boost::mpi or if it's a side effect from gcc 10. I get the same failure with MPICH instead of OpenMPI.

[2020-06-09 16:59] fweik commented on #3749
Don't you agree that the line I pointed out is the root cause?

[2020-06-09 17:00] fweik commented on #3749
boostorg/mpi#81fixes a different instance of the same error.

[2020-06-09 18:08] junghans commented on #3749
@jwakely is there anything we can do to test boost-mpi on Fedora better?

[2020-06-09 18:16] mkuron commented on #3749
grepping for `[0]` and `front` in Boost.MPI reveals several dozen lines potentially affected by the same bugs. Some places explicitly check for emptyness, some ensure non-emptyness by surrounding code, but for many the vector comes straight from a function argument and can thus be empty. All these places should probably be converted to calling `c_data` so that they benefit from the fix in  https:/

[2020-06-09 18:18] jngrad commented on #3749
Following the [GDB backtrace](https://github.com/espressomd/espresso/files/4753852/boost_mpi_gdb.txt) in the `boost::mpi` frames, we have a call to [`communicator::send()`](https://github.com/boostorg/mpi/blob/1c09f39948218d094a4fde9c09309580f33c5db5/include/boost/mpi/communicator.hpp#L1386), which calls [`communicator::array_send_impl()`](https://github.com/boostorg/mpi/blob/1c09f39948218d094a4fd

[2020-06-09 18:36] fweik commented on #3749
The front comes from the binary version of oprimitiv, same story: https://github.com/boostorg/mpi/blob/1c09f39948218d094a4fde9c09309580f33c5db5/include/boost/mpi/detail/binary_buffer_oprimitive.hpp#L43

[2020-06-09 22:14] jwakely commented on #3749
@junghans is there a word missing from that question? "test" maybe?

If somebody has a fix for Boost.MPI we can certainly apply that to the Fedora boost packages.

[2020-06-09 23:19] junghans commented on #3749
Yeah.

Well that is something, so we can at least unbreak Rawhide.

[2020-06-10 02:20] espresso-ci opened #3752 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12235

[2020-06-10 07:34] mkuron commented on #3749
@jngrad, since you have already compiled the libraries from source, could you please test (and probably fix) https://github.com/espressomd/espresso/files/4754022/cdata.txt? That would get rid of the problem once and for all.

[2020-06-10 07:51] jwakely commented on #3749
@mkuron that very last change looks wrong. You've changed the function name as well as the body.

[2020-06-10 09:27] fweik commented on #3749
FYI, https://github.com/boostorg/mpi/commit/28a73eac54fbc7cfebfd3b2231ee607284233a00 seems to pass CI. ~~I'll open PR upstream...~~ I made a PR (https://github.com/boostorg/mpi/pull/119) upstream

[2020-06-10 10:05] Kischy commented on #3713
Thank you, that is much better.

I still do not understand the equations. Even with the correct notation the equations in code should be different. As also calculated by @jngrad they should be:
[code]
As said before we should have a test to verify if there is an error in code or in the calculations done here. I do not have the time to do this right now. Sorry about that.

-------------------------

[2020-06-10 11:32] jngrad commented on #3749
Compiling boost with debug symbols
[code]
won't generate `./stage/lib/cmake/boost_mpi-1.73.0/libboost_mpi-variant-shared.cmake` (other submodules like `test` and `serialization` have one), which is looked for by CMake:
[code]
[code]

[2020-06-10 11:36] KaiSzuttor commented on #3749
the same build protocol works if not building ```DEBUG```?

[2020-06-10 11:38] jngrad commented on #3749
Without DEBUG I can compile and use boost, but there are no assertions, so I can't test if @fweik's PR actually solves the bug.

[2020-06-10 13:14] jngrad commented on #3749
Took me two hours, but I finally got boost to compile in debug mode. The trick was to compile OpenMPI from sources first (instead of fetching `openmpi-devel` from the Fedora repo), then the boost build system generates a `libboost_mpi-variant-shared.cmake`. But I still can't reproduce the bug with that debug build of boost 1.73.0. I've tried again with
[code]
to get closer to the build environment

[2020-06-10 15:37] fweik commented on #3749
I'd expect you need a debug version of the standard library? This is where the assert is triggered...

[2020-06-10 16:24] jwakely commented on #3749
No, there is no debug version. Just define `_GLIBCXX_ASSERTIONS` when compiling the code that does the out of bounds accesses. The assert is in templates in headers, not compiled into the standard library.

The entire fedora distro is built with that macro defined.

[2020-06-10 16:26] jngrad commented on #3752
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/234568
duplicate of #3104

[2020-06-10 16:43] fweik commented on #3749
Ah you are right, I got it confused with `_GLIBCXX_DEBUG` which changes ABI...

[2020-06-10 16:47] #3752 closed, assigned to nobody

[2020-06-10 17:43] jngrad commented on #3749
Thanks! I'm now able to reproduce the bug with boost compiled from sources. The b2 command is:
[code]
Applying the patch in boostorg/mpi#119 fixes the bug reported by @junghans for both `openmpi-devel` (OpenMPI 4.0.4rc1) and  `mpich-devel` (MPICH 3.3.2).

[2020-06-10 18:11] fweik commented on #3749
Do you think we should turn on `_GLIBCXX_ASSERTIONS` in the CI on linux builds?

[2020-06-10 18:31] junghans commented on #3749
@jwakely can you patch boostorg/mpi#119 into rawhide?

[2020-06-10 18:37] jwakely commented on #3749
@fweik it can't hurt, and could be useful.

@junghans will do -- nice work, everybody.

[2020-06-10 18:56] jngrad commented on #3749
Depends on the extra runtime. If it adds more than 5 min to all builds, we could be more selective, e.g. enabling it only on the fedora and centos images, as well as maxset (which uses the latest Ubuntu packages and isn't a dependency of other jobs). I guess it shouldn't increase runtime by much, because our codebase uses mostly `Vector` instead of `std::vector`, and we have bounds checking in `Ve

[2020-06-10 20:54] jngrad commented on #3749
Running the python tests on maxset in a Fedora 33 image with `_GLIBCXX_ASSERTIONS` (de1d978b) only increases the runtime by 2 seconds, so we could add this define in our CI once boost 1.73.1 becomes available in Ubuntu. The bug is reproducible in our Ubuntu 20.04 image with boost 1.71.0 and gcc 8.4 ([Travis-CI logfile](https://travis-ci.org/github/jngrad/espresso/builds/696975318)) but not on ICP

[2020-06-10 23:45] junghans commented on #3749
@jwakely, let me know when and I will attempt an espresso rebuild after that.

[2020-06-11 06:11] mkuron commented on #3749
If we do that, we can‘t use the distribution-packaged Boost anymore, but need to build our own.

Don‘t we have Fedora in CI already? Why didn‘t it catch this problem?

[2020-06-11 08:29] jwakely commented on #3749
No, that's not true.

Defining `_GLIBCXX_ASSERTIONS` doesn't change ABI and can be turned on or off per-translation unit. You won't check the entire program if some objects are built without it, but it's still more checking than not turning it on at all.

[2020-06-11 09:55] mkuron commented on #3749
Did that change recently? I seem to recall that it used to break ABI compatibility. Might have been before they separated _GLIBCXX_DEBUG and _GLIBCXX_ASSERTIONS.

[2020-06-11 10:15] jwakely commented on #3749
"They" is me. [I added `_GLIBCXX_ASSERTIONS`](https://github.com/gcc-mirror/gcc/commit/2f1e8e7c4730bbc4bf15e85ecf4f954d1711db10), and the whole point is that it doesn't alter the ABI the way that `_GLIBCXX_DEBUG` does.

[2020-06-11 10:16] jwakely commented on #3749
Anyway, the change in https://github.com/boostorg/mpi/pull/119 seems to have a problem, please see my comment.

[2020-06-11 16:26] jwakely commented on #3749
@junghans there's a new Boost in rawhide now.

[2020-06-11 16:31] junghans commented on #3749
Testing: https://koji.fedoraproject.org/koji/taskinfo?taskID=45598515

[2020-06-11 17:16] junghans commented on #3749
On s390x:
[code]

[2020-06-11 18:39] junghans opened #3753 "all_gatherv_test segfaults on s390x"
[code]

[build_s390x.txt](https://github.com/espressomd/espresso/files/4766658/build_s390x.txt)

[2020-06-11 18:40] junghans commented on #3749
All other archs pass, so I will exclude s390x for now and have opened an issue for the s390x issue (#3753)

[2020-06-12 12:00] KaiSzuttor commented on #3679
actually what is called ```Current``` in the espresso observable is the current density times the volume

[2020-06-12 14:28] jngrad commented on #3753
Segfault not reproducible with 4.1.2 + 48f04238 and 4.1.3rc, using boost 1.73.0 from the fedora:33 docker image as well as boost compiled from sources with boostorg/mpi#119, in a docker image emulated as s390x with QEMU. The unit tests themselves pass (the logfile says no errors were detected), and the test doesn't segfault with MPICH, so maybe the issue comes from OpenMPI 4.0.4?

[2020-06-14 02:25] espresso-ci opened #3754 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12254

[2020-06-15 09:56] #2899 closed, assigned to fweik

[2020-06-15 11:34] jngrad commented on #3754
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/234876
tutorial_11-ferrofluid_1

[2020-06-15 11:54] #3754 closed, assigned to nobody

[2020-06-15 12:59] fweik commented on #3180
I still think this still should be a priority. Includes clarification of the ownership of the globals (frontend vs core).

[2020-06-15 19:43] jngrad commented on #2544
Is this fixed by #3756?

[2020-06-15 20:36] fweik commented on #2544
No, unfortunately not.

[2020-06-15 21:50] jngrad commented on #3611
Concerning the NVidia-supplied Ubuntu image, we run into the following CMake issue when looking for CUDA package cublas with `find_library(CUDA_CUBLAS_LIBRARIES NAMES cublas PATHS ...)`:
[code]
According to https://stackoverflow.com/a/54350198 that's because CMake versions below 3.12.2 don't know that `cublas_device` was removed in CUDA 9.2. I can confirm that in the `intel:19` image: several CMak

[2020-06-16 02:12] espresso-ci opened #3758 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12272

[2020-06-16 08:09] #3758 closed, assigned to nobody

[2020-06-16 12:13] jngrad commented on #3624
If I understand [walberla/walberla:cmake/waLBerlaModuleDependencySystem.cmake](https://i10git.cs.fau.de/walberla/walberla/-/blob/ff2f5e13816be1547f69b487f9aaed4481094f06/cmake/waLBerlaModuleDependencySystem.cmake) correctly, in waLBerla target names are generated automatically from the filepath relative to `${CMAKE_ROOT}`, with slashes replaced by minuses, to avoid collisions. This makes the CMake

[2020-06-16 13:47] #3624 closed, assigned to jngrad

[2020-06-16 14:41] espresso-ci opened #3760 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12277

[2020-06-16 14:56] #3760 closed, assigned to nobody

[2020-06-16 15:56] #3749 closed, assigned to nobody

[2020-06-17 02:12] espresso-ci opened #3762 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12287

[2020-06-17 08:00] mkuron commented on #3529
@RudolfWeeber, could you please test https://i10git.cs.fau.de/walberla/walberla/-/merge_requests/282? That should replace MPI_COMM_WORLD with the Cartesian communicator (and only print a warning message that MPI-I/O will be slower on broken OpenMPI versions).

[2020-06-17 11:06] RudolfWeeber commented on #3529
@mkuron, works. Thanks. As soon as that's merged in Walberla, and @jgrad's updated patch for the Walberla build system is ready, we can pin to that walberla version and switch all LB tests to max 8 nodes.

[2020-06-17 11:35] jngrad commented on #3529
@mkuron works for me too, including `lb_momentum_conservation` on 8 cores. I've also updated the CMake patch just now

[2020-06-17 11:46] jngrad commented on #3762
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/235795
duplicate of #3737
[code]

[2020-06-17 12:05] #3762 closed, assigned to nobody

[2020-06-17 15:10] RudolfWeeber commented on #3514
@christophlohrmann, I fixed the factor 8. Source positions should not be folded in lb_particle_coupling.cpp.
That may well have solved the boundary issue as well.

The momentum conservation after 100 steps test fails due to the tolerance limit. The momentum is conserved up to 1E-9. Can you please take a look at the test and make a decision whether or not that's OK.
Also, could you please clarify w

[2020-06-18 09:18] RudolfWeeber commented on #3744
Stephan, I don't know, as I don't fully understand the code in 4.1.2.
We'll try to sort it out in the Walberla branch first, because there, the code is simpler and the individual coupling step can be tested directly.
https://github.com/RudolfWeeber/espresso/blob/walberla/src/core/virtual_sites/VirtualSitesInertialessTracers.cpp
Once we have a olution there, we can look into backporting it.

[2020-06-18 15:39] RudolfWeeber commented on #3744
@ffweik, I copied the ghost force code from vs relative as suggested, but it didn't do the trick.

The contents of p.p.ext_force still is not present as part as p.f.f on ghost particles, so if a particle close to a boudnary is coupled, all lb cells within range from the ghosts don't receive that part of the external force.

It was also my understanding that the ghost force reduction only works one

[2020-06-18 17:39] fweik commented on #3744
Upon further inspection it might be the case that the code in the virtual sites is in the wrong direction,
sorry for that.
Just to clarify: You want that the forces on the ghost particles are the same as on the corresponding real particles? If this is the case then you can set the forces on the ghosts to zero, and then do a regular ghost update with the force as data part. (You have to set them to

[2020-06-18 19:28] jngrad opened #3764 "Visualizer freezes with Steepest Descent"
MWE:
[code]

Behavior: the OpenGL visualizer doesn't start or freezes (on 4.1.3rc 8ee3aa86a50b) or is extremely slow (on 4.2-dev b2ced40e09e368).

Expected behavior: the visualizer starts and two particles become visible, with no time evolution.

Slowing down the main loop solves the freeze, suggesting a race condition between the two threads:
[code]

[2020-06-19 03:10] dpo854 commented on #3655
Hi Kai,
I finally managed to get profiles that make sense physically. However, a question still remains. How does cylindrical_density_profile compute the volumes of the cells? I ask that because the profiles from it are not in quantitative agreement with the results of manual density computations although there is agreement in terms of the general trend in how the density varies in the radial dire

[2020-06-19 10:12] aminiussi commented on #3753
Works fine with gcc 7.5.0 and openmpi-4.0.0

[2020-06-19 10:32] aminiussi commented on #3753
Works fine with gcc 7.5.0 and openmpi-4.0.4

[2020-06-19 10:43] aminiussi commented on #3753
And Intel's 2020 compiler and MPI

[2020-06-23 02:48] espresso-ci opened #3768 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12316

[2020-06-23 06:27] RudolfWeeber commented on #3744
@fweik, using ghost update with forces as data parts worked. Thanks.

Offline discussion yielded that the VS relative version is likely correct, because there, forces are transferred from physical non-ghost particles to virtual ghost particles. In that case, the standard ghost force reduction is the correct thing to do.

Now looking into 4.1.3rc.

[2020-06-23 07:07] jngrad commented on #3768
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/236522
sample_electrophoresis

[2020-06-23 07:20] #3768 closed, assigned to nobody

[2020-06-23 07:21] jngrad commented on #3585
Any news on this? The proposed fix simplifies the core a lot and would be a nice addition to 4.1.3.

[2020-06-23 07:22] fweik commented on #3585
I forgot about this, sorry. I'll take a look and asses how much work this still is. Then we can decide on a course of action.

[2020-06-23 07:27] fweik commented on #3585
The plan here was to use a single monotonic counter as parametric time, which is propagated once per integration step? Does anybody see a problem with such a design? @RudolfWeeber?

[2020-06-23 07:33] jngrad commented on #3585
Looking at your [WIP](https://github.com/espressomd/espresso/compare/3ba2d1d1e93aaa7ae506ccf1c6685f43c89b664c...fweik:counter) I don't see an issue on 4.2.0, but for 4.3.0 with walberla I'm not sure.

The only side effect I can think of in 4.2.0, is that disabling a thermostat and re-enabling it later with the same seed will produce a different trajectory, if I understand your code correctly. This

[2020-06-23 07:35] RudolfWeeber commented on #3744
Stephan (@sgekle), could you please review the following code and let me know if that's what the method is supposed to do:
https://github.com/RudolfWeeber/espresso/blob/walberla/src/core/virtual_sites/VirtualSitesInertialessTracers.cpp
and the single step test
https://github.com/RudolfWeeber/espresso/blob/walberla/testsuite/python/virtual_sites_tracers_common.py#L73

Should the update of the parti

[2020-06-23 07:35] fweik commented on #3585
Apparently this is the desired behavior, so this is by design.

[2020-06-23 07:56] fweik commented on #3585
Looking at the thermostat code, I found more bugs.

[2020-06-23 08:47] fweik opened #3769 "Remove time_step global"
~~and derived values~~. The time step should be parameter of the integration command.

[2020-06-23 13:46] christophlohrmann commented on #3514
Thanks for the factor 8 fix. Crossing boundaries works on one MPI rank now.
1E-9 is acceptable for me.

As for the full time step:
- why I used ``reuse_forces=True``: If I don't use it, ``force_calc()`` is called the first time without LB-coupling. That means no friction for any swimmer and no additional force for the ``v_swim`` type swimmers. The active force for the ``f_swim`` swimmers gets adde

[2020-06-24 02:57] espresso-ci opened #3771 "Wang-Landau test is timing out"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12325

[2020-06-24 09:08] jngrad commented on #3771
The Wang-Landau python test (`testsuite/python/wang_landau_reaction_ensemble.py`) can take anywhere from 100s to 260s in CI jobs with coverage enabled. Sometimes it takes more than 300s and times out.

[2020-06-24 09:14] RudolfWeeber commented on #3771
Unscientific impression: The particle serialization and fetching to the head node became really slow recently in debug builds. Most of the stuff in the faster tests pr addresses those situations as well (by avoiding them), e.g. in observable evaluation.

For Wang Landau RE, we can temporarily switch the test to one mpi rank. That does, however, actually result in less testing.

From: Jean-Noël Gra

[2020-06-24 10:00] fweik commented on #3771
The reaction ensemble is front-end code, so there is no particular benefit for testing to run it in parallel. At some point the future of the RI code has to be decided, I should either be made a proper integrator or the front-end interface hast to be extended to give it proper performance. Also I guess the bus factor for this is 0.

[2020-06-24 14:48] christophlohrmann opened #3772 "Thermalized CPU LB produces unphysical currents"
When using the thermalized CPU LB with boundaries that create corners, unphysical currents occur. See below an example. With the CPU implementation, there are currents in y and z direction without any external forces or velocity boundary conditions. For the GPU implementation, this does not happen.

[code]

[2020-06-24 21:49] espresso-ci opened #3773 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12332

[2020-06-25 02:41] espresso-ci opened #3774 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12333

[2020-06-25 08:03] jngrad commented on #3774
duplicate of #3771

[2020-06-25 08:03] jngrad commented on #3773
duplicate of #3771

[2020-06-25 09:58] jngrad commented on #3771
The test already runs on a single MPI rank. Looking at the C++ code, there are a few spots that looked surprising to me at first glance, but turned out to be actually ok. Although without proper profiling it's difficult to conclude anything. Right now, the hot loop in the test runs 100000 times before convergence is reached:
https://github.com/espressomd/espresso/blob/25ca96d2bc9b6d400b7437c103732

[2020-06-25 10:02] fweik commented on #3771
I think the actual performance problems lie deeper. The hot loop of the MC does trigger an update of the head node particle cache in each iteration, which is probably what made it slow. I'll see if I can find a quick fix for this. Are you sure that you have time to
jump into this rabbit hole?

[2020-06-25 10:27] jngrad commented on #3771
<s>@fweik I found a solution by accident: there is a performance bottleneck in a `for` loop that runs 500'000 times:
[code]
Now the test runs in 10 s with coverage enabled. Not sure why. With coverage enabled and no optimization, the original code assembly is 40% longer and contains a call to the `std::max` function. I don't understand why such a dramatic 25-fold decrease. According to coverage, w

[2020-06-25 10:35] fweik commented on #3771
Yes, I was just about to ask if this is really equivalent :D

[2020-06-25 10:35] jngrad commented on #3771
the test passed, though :smile:

[2020-06-25 10:38] fweik commented on #3771
Well, high level integration tests are just how we roll... ^^

[2020-06-25 13:28] fweik commented on #3771
I looked at the code, I think the problem is the invalidation of the particle-node-mapping during the move attempts. I could find
and easy way to fix this, because I could not understand the logic of the code. Unfortunately I don't have time to look into this any further.

[2020-06-25 13:50] jngrad commented on #3771
@fweik I've also looked at the code in more detail with valgrind and found another lead. According to valgrind, 46% of the self time is spent in `obs_energy` and 19% in the `obs_energy` MPI reduction free function. Now that the observable is stateless, each call to `calculate_current_potential_energy_of_system()` recalculates everything. In fact this function is hit almost 1 million times and has

[2020-06-25 13:59] fweik commented on #3771
Looking at the code, I think the long-term survival prognosis for this is rather dire, so I think we should invest the least amount possible...

[2020-06-25 21:52] #3773 closed, assigned to nobody

[2020-06-25 21:52] #3774 closed, assigned to nobody

[2020-06-26 02:12] espresso-ci opened #3777 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12339

[2020-06-26 11:02] jngrad commented on #3771
Despite the 30% speed-up from #3775, the test still times out on coyote2 and coyote4 when the runner runs 2 jobs simultaneously. When a single job runs, the test passes within ~276s. More recent runners pass this test in ~220s. @jonaslandsgesell do you have any suggestion on how we could speed up that test further?

[2020-06-26 11:02] jngrad commented on #3777
duplicate of #3771

[2020-06-26 11:13] jonaslandsgesell commented on #3771
I would expect that the slow part is the energy calculation and/or the update of the particle chache if espresso is compiled without optimization.
So either the particle cache update is made efficient or the energy update is made more efficient.

Maybe an option could also be to run certain tests only with a compiled program which has optimizations turned on.

[2020-06-26 11:49] fweik commented on #3771
@jonaslandsgesell it's probably the caches, because that is the part the changed. Probably this can be helped by reordering stuff, if somebody invests the time to look into this.

[2020-06-26 11:53] jngrad commented on #3771
Based on valgrind on 4.1.3rc vs 4.2.0-dev, I'd say that caching the potential energy in the RE classes and re-introducing the `Observable_stat` callbacks as `invalidate_mc_cache()` to invalidate the RE cache (on particle addition/removal, charge change) would buy us between 15s to 30s. I'm afraid this is not enough, and would re-introduce too much coupling between components of ESPResSo. Right now

[2020-06-26 12:00] jonaslandsgesell commented on #3771
The script calculates the potential energy density of states of a reacting 3D harmonic oscillator (see https://en.wikipedia.org/wiki/Wang_and_Landau_algorithm#Test_system) and then calculates the heat capacity of the system. In principle one could reduce the dimensions from 3 to 1 and look at a harmonic oscillator in 1D.  This would speed up the process a lot, because the energy states are then no

[2020-06-26 12:59] jngrad commented on #3771
This would still be a physical test instead of a proper integration test. According to valgrind, the RE methods account for 0.5% of the total runtime. What we really need here is an integration test with a system that converges at the 90'000th iteration of the `for` loop. Otherwise the test will time out again in the future when we refactor the energy calculation or cell system.

We also cannot re

[2020-06-26 19:52] #3777 closed, assigned to nobody

[2020-06-26 19:54] #3771 closed, assigned to jngrad

[2020-06-27 17:41] jngrad commented on #3421
Currently the `centos:7` image still uses numpy 1.12.1. With numpy 1.13.0 and above, it looks like we no longer need the `np.copy()` trick in the testsuite to cast `array_locked` to mutable arrays inside `np.testing.assert_array_equal()`.

[2020-06-28 15:16] fweik commented on #3585
I won't have time to work on this.

[2020-06-28 18:37] jngrad commented on #3585
Could you tell me more about the other thermostat bug you found? I'd be interested in having a look at it.

[2020-06-28 18:43] fweik commented on #3585
No unfortunately I don't remember. I should have taken notes.

[2020-06-28 18:58] fweik commented on #3585
Let's talk on Monday, I have looked into this, and in principle it is solvable. They old WIP is of no use anymore, because too much of the relevant code changed, I have started a new one, providing the infrastructure, e.g. exposing all bits of the key in the philox wrapper and adding the evolution parameter as a new global. This could now be used for the thermostats, but I looked at design
and I'm

[2020-06-29 02:17] espresso-ci opened #3782 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12368

[2020-06-29 08:30] jngrad commented on #3782
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/237817
duplicate of #3104

[2020-06-29 08:45] #3782 closed, assigned to nobody

[2020-06-29 13:30] sgekle commented on #3744
Dear Rudolf,

sorry for the late reply. I tried to figure out the exact order that we
are currently using. It appears to be the following:
1) force calculation
2) forces into fluid
3) LB streaming & collision
4) velocity interpolation & position update

I looked at VirtualSitesInertialessTracers.cpp
<https://github.com/RudolfWeeber/espresso/blob/walberla/src/core/virtual_sites/VirtualSitesInertial

[2020-06-29 19:18] jngrad commented on #3421
Actually we can only remove the `np.copy` from the first argument of `np.testing.assert_*` function, the second argument (the reference value) needs to be writeable, i.e. `np.copy()` is still required there. Although we'll have to remember that caveat, this still improves the readability of the tests by a lot. I was able to remove 140 superfluous `np.copy()` in the proof-of-concept bd193ff5eff (10

[2020-06-30 04:56] RudolfWeeber commented on #3421
I don’t mind, either way.

[2020-06-30 07:37] KaiSzuttor commented on #3421
is ```np.copy``` such a big deal? I think we have more serious issues.

[2020-06-30 09:46] fweik commented on #3421
It's a surprising hurdle for writing tests, and as such we would be better off if it was not needed.

[2020-06-30 11:57] KaiSzuttor commented on #3421
I agree, but if we do not get rid of the calls completely I think it is not worth the effort.

[2020-06-30 12:50] jngrad commented on #3421
I wish we could remove `np.copy()` everywhere. Looking at the numpy code, the issue stems from the statement at [`numpy/numpy:numpy/testing/_private/utils.py#L769-L771`](https://github.com/numpy/numpy/blob/e8a3bfaa17b571c63fa4f3b81d8a914106ea7be2/numpy/testing/_private/utils.py#L769-L771). In `flagged |= bool_array`, `bool_array` is an array that inherits from our `espressomd.utils.array_locked()`

[2020-07-01 11:44] jngrad commented on #3421
Looking at the exact block where we return a `bool_(array_locked)` object whose type inherits all our disabled special methods (line 750 in [`numpy/testing/_private/utils.py#L745-L750`](https://github.com/numpy/numpy/blob/e8a3bfaa17b571c63fa4f3b81d8a914106ea7be2/numpy/testing/_private/utils.py#L745-L750)) gave me second thoughts. If the numpy project decides to change this if/else block in the fut

[2020-07-01 15:49] jngrad commented on #3421
Update: we can't inject `subok=False` without also changing the type of the `array_locked`, otherwise we have infinite recursion. Changing the type by passing a view of the `np.array` works without noticeable overhead in the python tests. Once the CentOS 7 image is updated, 334 occurrences of `np.copy()`, `np.array()` and `obj.copy()` can be removed from the tests/samples/cython code. This will im

[2020-07-01 15:56] fweik commented on #3421
@jngrad is there some immediate issue that needs fixing here? Is it worth putting much thought into this?

[2020-07-01 16:30] jngrad commented on #3421
no

The fact that we have constructions in the code like [`np.array(np.copy(array_locked([i,j,k]))) - np.array([x,y,z])`](https://github.com/espressomd/espresso/blob/850ae92240e949434f4fe1e4c460b29a74d3fd0b/src/python/espressomd/rotation.py#L112) suggests to me that our current `array_locked` class design goes against developer's expectations. The rightmost array casts the leftmost object into a n

[2020-07-02 08:39] fweik commented on #3421
Just as a side note: The `array_locked` construction is a hack, which has come back multiple time to bite us. The underlying problem is the impedance mismatch between the reference semantics of python and our wonky interface code. Since we can't bend python to our will, the fundamental solution is to give our side also reference semantics. The reason for the whole `array_locked` thing is that our

[2020-07-03 08:28] RudolfWeeber opened #3788 "CMake: TEST_NP needs to be sorted out"
It is currently used as the number of ranks for mpi exec, but also passed as -j to ctest, which controls parallel execution of several tests.
I don't htink, this is intentional.
Suggested solution:
Introduce two variables such as:
* TEST_MAX_MPI_RANKS
* TEST_NUM_PARALLEL_RUNNERS

With this, test execution on the work stations in the dev wor flow can be accelerated by sth like
cmake -DTEST_NUM_PARA

[2020-07-06 07:56] jngrad commented on #3753
@junghans We will soon release 4.1.3. Unless there is a need for a 4.1.4, this will be the last release where we test s390x. The s390x builds are disabled on Koji for [espresso-4.1.2-4](https://koji.fedoraproject.org/koji/buildinfo?buildID=1523012), [espresso-4.1.2-5](https://koji.fedoraproject.org/koji/buildinfo?buildID=1536683). Is this a temporary measure?

[2020-07-06 12:20] junghans commented on #3753
Yes, https://src.fedoraproject.org/rpms/espresso/blob/master/f/espresso.spec#_9

[2020-07-06 18:57] RudolfWeeber commented on #3788
The actual issue mentioned probably needs to be resolved, because it is confusing.

The more general aim of getting a portion of tests that run very quickly is not trivial though.
This is because the importin of the Espresso module itself takes 0.6s (on an SSd at my ICP workstation).
A trace reveals that half the Python ecosystem is imported.
Among others:
[code]

[2020-07-07 02:28] espresso-ci opened #3793 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12453

[2020-07-07 07:35] jngrad commented on #3793
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/239867
tutorial_02-charged_system__scripts__nacl_units_confined failed

[2020-07-07 07:51] #3793 closed, assigned to nobody

[2020-07-07 11:48] jngrad commented on #3788
I think the issue is in `maintainer/CI/build_cmake.sh`, where by default `check_procs` is equal to 2. The `-j` option of ctest should be given the number of processors allowed on the runner, while `TEST_NP` should always be 4, except on the CI job with an odd number of processors. This looks like a bug to me, as we're likely only testing on 2 and 3 cores at the moment. This can be easily fixed in

[2020-07-07 12:25] jngrad commented on #3788
Looks like I misunderstood the docs, `-j` actually selects the number of parallel jobs, not the number of cores:

That explains why the CPU usage did not match the theoretical values in the table above. The following CMake logic is wrong:
https://github.com/espressomd/espresso/blob/9b62aa2bfc1eb808ad71f4640f65af93e99a2bba/cmake/unit_test.cmake#L1-L8

This means `TEST_NUM_PARALLEL_RUNNERS` should b

[2020-07-07 13:45] jngrad commented on #3788
Here's the quick fix I was thinking about for 4.1.3rc: b4675f2. I'm looking into a cleaner solution for 4.2.0. We can probably get a default value for `TEST_NUM_PARALLEL_RUNNERS` by calculating `NP / TEST_MAX_MPI_RANKS`.

I find your python trace surprising: why are the OpenGL imports present? On my workstation `lama`, a script containing only `import espressomd` takes 440 ms to run, while importi

[2020-07-07 14:49] RudolfWeeber commented on #3788
I don't think this needs to go into 4.1.3.

Not sufficiently important.

W.r. to the trace:

[code]

All the imports in all the .py files in the espressomd folder are executed,
when importing espressomd.

Probably not a high priority issue, though.

[2020-07-07 14:51] RudolfWeeber commented on #3788
AFAIK, hard cpu quota limits are enforced for the runners via docker at present.

That’s probably unnecessary, once we have fixed this issue.

[2020-07-07 15:02] jngrad commented on #3788
Reading through the CMake logic, my impression is that we currently only run on 2 MPI ranks in both 4.1 and 4.2. If that's indeed the case, shouldn't we fix it in 4.1.3 so that 4 MPI ranks are used?

While investigating ctest with a toy example containing 8 identical tests on 4 MPI ranks, I found out that the `-j` option tries to be smart: ctest starts `N` parallel jobs such that `N * NP_TEST` is

[2020-07-07 16:06] jngrad commented on #3788
`./pypresso -m trace --trace import_espressomd.py 2>&1 | grep -Po ': +(import|from) .+' | sed -r 's/: +//' | sort -u | grep OpenGL` returns nothing on the dev branch on my workstation

[2020-07-08 02:28] espresso-ci opened #3795 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12464

[2020-07-09 11:20] fweik opened #3797 "Warnings in CUDA builds"
There are warnings in the CUDA build:

[code]
which should be fixed. Also why are warnings are not errors for CUDA?

[2020-07-09 13:01] mkuron commented on #3797
Because `nvcc` did not support `-Werror` for a long time. Since around CUDA 9, you could specify `-Werror reorder,cross-execution-space-call`, but the supported types of warnings changed between versions. I just saw in the documentation that since CUDA 10.2 there is `-Werror all-warnings`, which would be worth adding to our flags (of course with an appropriate version check).

The Clang build has

[2020-07-10 02:30] espresso-ci opened #3798 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12481

[2020-07-12 02:23] espresso-ci opened #3799 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12498

[2020-07-13 13:18] #3799 closed, assigned to nobody

[2020-07-13 16:28] fweik opened #3800 "integrator_npt test fails with 4 cores"
with
[code]
while it passes with fewer nodes (4 is the maximum allowed).

This is a bug, the result should be independent of the number of ranks.

[2020-07-13 16:42] fweik commented on #3800
Apparently this was caused by merging the topology PR. I don't know how to address this.

[2020-07-13 17:36] jngrad commented on #3800
The test was recently made quicker by sampling for 10'000 steps instead of 40'000 ([`749108b7`](https://github.com/espressomd/espresso/commit/749108b7ec5d4cc06ada35e6a8731bbfcd889b76#diff-3f6abb429df9fb28f32692241cc427af)). According to my stats (7f7dda5844), 20'000 was a minimum to avoid random failures in CI. We could increase the delta value. The compressibility statistic changed significantly

[2020-07-13 17:57] fweik commented on #3800
But why would the result depend on the number of ranks?

[2020-07-14 15:28] fweik commented on #3800
FYI 30k samples work, 20k are not enough. This looks still suspicious to me, but I don't that we can make progress here without proper tests...

[2020-07-17 10:22] pkreissl opened #3804 "Thermalization of CPU LB broken"
IMHO broken for CPU. Minimal example:
[code]
Testing via `run_minimal.sh`:
[code]
yields:
[code]
`kT=0` case is fine, but with thermalization, CPU produces off-dagonal pressure values of order $10^0$, instead of GPU, order $10^{-2}$ which seems more reasonable, I think.

[2020-07-17 10:57] RudolfWeeber commented on #3804
Can you please check in Ulf Schillers PhD thesis what are the expectation values for

<sigma_{ij}^2> for thermalized lb?

What are the integrals of the stress acf for cpu and gpu, respectively?

[2020-07-17 11:00] pkreissl commented on #3804
With gpu the acf integral produces ~ resonable values for the viscosity via Green-Kubo, for cpu, the acf does not even decay yet (~1e6 ~steps~ samples, runs A LOT slower than gpu...)

[2020-07-17 11:45] pkreissl commented on #3804
Concerning Ulfs PhD thesis, I have not yet had to much to do with it, apart from browsing a bit and I am thus not immediately familiar with the different notations and definitions used there. Will give it a try, however, it will probably be a lot faster, if someone more involved with this, e.g. @mkuron or @KaiSzuttor could comment...

[2020-07-17 11:53] pkreissl commented on #3804
ACF of off-diagonal elements using 400000 samles (and a slightly differen lb parameter set, however nothing fancy), evaluated every second time step, for GPU:
![Screenshot from 2020-07-17 13-49-50](https://user-images.githubusercontent.com/12623404/87783353-93b21e80-c834-11ea-96d1-59cf3a95026e.png)
and for CPU:
![Screenshot from 2020-07-17 13-50-35](https://user-images.githubusercontent.com/126234

[2020-07-19 01:59] espresso-ci opened #3805 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12568

[2020-07-19 10:47] #3805 closed, assigned to nobody

[2020-07-20 02:25] espresso-ci opened #3806 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12570

[2020-07-20 06:35] #3806 closed, assigned to nobody

[2020-07-21 10:42] pkreissl commented on #3804
In offline discussion, @RudolfWeeber suggested that this issue might be a regression. I checked for ESPResSo version 4.1.0, same problem, for 4.0.0 there doesn't seem to be a fluid stress observable (neither `LBFluidPressureTensor` nor `LBFluidStress`)?! So this problem does indeed seem to have been around for some time.

[2020-07-22 07:08] KaiSzuttor opened #3807 "BondList serialization hits bug in boost 1.65.1"
[code]

Steps to reproduce:

* Build ```BondList_test``` with boost 1.65.1 and execute the testcase, the serialization test is responsible for hitting the bug.

probably related to https://github.com/boostorg/serialization/pull/79

[2020-07-22 07:29] KaiSzuttor commented on #3804
How do you know that the issue has been around for some time if you cannot check for versions older than 4.1.0 (which is less than a year old)?

[2020-07-22 09:29] fweik commented on #3807
Is this a regression introduced by a minor update, or why does this show up only now?

[2020-07-22 09:50] pkreissl commented on #3804
Let me rephrase that: ~I couldn't find the feature before 4.1.0 (if it had just a different name, please do tell me, I'll check for the issue)~ The `LBFluidStress` observable was introduced with 4.1.0 (PR #2054), so it seems to have been broken from the beginning...

[2020-07-22 10:09] jngrad commented on #3807
I also had issues recently with boost 1.65.1 on my workstation, specifically boost::test (93ac6951), although without segfault. The last patch was `0ubuntu5` in 2018.

[2020-07-23 02:39] espresso-ci opened #3810 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12606

[2020-07-23 07:44] KaiSzuttor commented on #3810
[code]

[2020-07-24 02:19] espresso-ci opened #3811 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12613

[2020-07-24 14:32] fweik opened #3812 "Document openmpi symbol loading code"
The function `mpi_init` in communication.cpp contains the following code:

[code]

It needs to be documented what this is doing and why it is needed. Also it is not clear to me that
this is safe in all circumstances, e.g. what happens if the shared has already be loaded before.

[2020-07-24 15:02] mkuron commented on #3812
This was originally inspired by mpi4py (https://github.com/mpi4py/mpi4py/blob/4e3f47b6691c8f5a038e73f84b8d43b03f16627f/src/lib-mpi/compat/openmpi.h). It's needed because OpenMPI `dlopen`s its submodules. These are unable to find the top-level OpenMPI library if that was `dlopen`ed itself, i.e. when the Python interpreter `dlopen`s a module that is linked against OpenMPI. It's about some weird two-

[2020-07-24 15:18] fweik commented on #3812
Thank you, I'll add some comments...

[2020-07-25 02:19] espresso-ci opened #3814 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12627

[2020-07-26 02:19] espresso-ci opened #3815 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12628

[2020-07-27 03:06] espresso-ci opened #3816 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12630

[2020-07-27 08:08] RudolfWeeber opened #3818 "Tutorial 1: LJ"
* the overlap removal should be done using steepest descent

* the odd indexing
[code]
in the sampling loop needs to be changed to zero-based

* The tutorial assumes without justification that the energy time series is uncorrelated.
At the very least, an acf of the data needs to be plotted so the auto-corrleaiton time can be read  visually. It needs to be stated that the effective sample count in

[2020-07-27 08:35] RudolfWeeber opened #3819 "Tutorial 02: electrostatics part 1"
* There are a lot of constants defined at the top. Yhry nrrf yo br rcplsinrf ot mobrf yo s plsvr, where the explanation has been made, already

* Do we keep to the convention that constants are all-caps?

* In this ttutorail, we should demonstrate creating several particles at once. One call for cat-ions, one for anions.

* The lj parameter definition is too hard to read.

    - change name of loo

[2020-07-27 09:01] RudolfWeeber opened #3820 "Tutorial 02: electrostatics part 2"
* Cite ELC

* The reference to MMM2D has to be removed. No longer part of Espesso

* n_ion_pairs needs to be cast to an int in Python 3

* Some of the parametres need explaining, e.g., gamma.

* The concept of Bjerrum length needs to be explained

* Constraints:

    - state direction of normal vector (inwards or outwards?)
    - Explain how wall-particle interactions are calculated and that an in

[2020-07-27 13:07] #3812 closed, assigned to nobody

[2020-07-27 15:04] #3816 closed, assigned to nobody

[2020-07-27 16:59] jngrad commented on #3249
Here is a solution to mask solutions and prevent them from running when clicking on "Run all cells":
* install the NB extensions, and push the javascript and CSS of the "exercise2" plugin into your local jupyter installation:
[code]
  Please note this will bring in or update a lot of dependencies. Among those, the `tornado` dependency, if too recent, can create compatibility issues with old versio

[2020-07-27 16:59] #3249 closed, assigned to nobody

[2020-07-27 18:29] fweik opened #3826 "SD test failure"
The Stokasian Dynamics GPU test fails on my machine with

[code]
System Info

[code]

The GPU is a ` NVidia GeForce RTX 2080`.

[2020-07-27 19:03] jngrad commented on #3826
Already mentioned in https://github.com/espressomd/espresso/pull/3445#issuecomment-653767014, I forgot to open a ticket. IIRC it works by tweaking the CUDA include paths, but can't remember the exact procedure. It probably involved my custom CUDA library with the patched thrust version. SD on GPU is experimental until this is sorted out.
https://github.com/espressomd/espresso/blob/b61090a70c30dbb5

[2020-07-27 19:05] fweik commented on #3826
If it is experimental it should be opt-in and not turned on ~~by default~~ in maxset.

[2020-07-28 08:12] fweik commented on #3826
Also related, why is `STOKESIAN_DYNAMICS` configured via a cmake option, and not via myconfig?

[2020-07-28 08:14] RudolfWeeber opened #3828 "Tutorial 04: lb part1"
* It should be stated at the top that LB is for hydrodynamics

* Poiseuille  flow needs to be described more accurately than "flow between tow walls".

* LB_BOUNDARIES should be listed as recommended myconfig feature, so it also works with the CPU.

* The info about there being four relaxation rates is repeated immediately after the 1st statement

* kT needs to be added to the list of LbFluid para

[2020-07-28 08:22] jngrad commented on #3826
* maxset enables `EXPERIMENTAL_FEATURES`
* if @hmenke doesn't find a fix by the time we release 4.2.0, we will have to reconsider including the SD GPU code in 4.2.0
* CMake doesn't read the `myconfig.hpp` file to avoid introducing coupling; CMake only writes external features to the file (didn't we agree on that solution in the June 8th core dev meeting?)

[2020-07-28 08:25] fweik commented on #3826
I can't see why this should be treated differently. I think a better solution would be to have an `external` feature for the library,
and regular espresso features, configured in the usual way, that require the external features. Otherwise there is no way of
disabling the feature without meddling with the build system?

[2020-07-28 08:30] mkuron commented on #3826
@jgrad decided to have `WITH_STOKESIAN_DYNAMICS` instead of `WITH_LAPACK` and `WITH_BLAS`. The latter would have been more consistent with e.g. `WITH_HDF5` and `WITH_CUDA`, but SD is the only feature that needs LAPACK/BLAS.

[2020-07-28 09:28] hmenke commented on #3826
[git blame](https://github.com/espressomd/espresso/blame/b61090a70c30dbb53f9164e76fc27eba80f0869f/testsuite/python/stokesian_dynamics.py#L122) gives https://github.com/espressomd/espresso/commit/7078940f50817b37c3ada11b0142d5194c344cc0

[2020-07-28 09:41] mkuron commented on #3826
The question is why does the result differ between a GTX 1080 and an RTX 2080. Is it just slightly different numerical precision and the error bound is too tight, or is it an actual bug.

[2020-07-28 12:23] jngrad commented on #3826
This commit is quite long, and some of the changes (e.g. the time step) were reverted later. I don't think exploring this commit further would help. On my workstation (`GeForce RTX 2080`), I get the GPU SD tests to pass with CUDA 10.0 patched with thrust 1.9.5, using either nvcc or clang9 as the compiler. The test fails with the default installation of CUDA 10.0, which ships thrust 1.9.3.

[2020-07-28 15:48] espresso-ci opened #3833 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12682

[2020-07-28 17:54] RudolfWeeber commented on #3826
My take on the offline discussion at the Esprseso meeting:
We can only live with the failing test very temporarily. Since this is confusing and distracting to people doing unrelated work on Espresso.
Unless a solution is found quickly, we will have to take out GPU support from the development branch.

Personally, I think this has to converge by mid-August. In the weeks around the Espresso school,

[2020-07-28 18:30] #3833 closed, assigned to nobody

[2020-07-29 03:17] hmenke commented on #3826
Well, I initially suggested pinning the Thrust version by including it as a submodule which would have also saved many hours that were wasted on the `thrust_wrapper` shenanigans, but that was immediately shot down because of “muh dependencies”.

[2020-07-29 05:57] mkuron commented on #3826
Good find. Should be easy enough to bisect https://github.com/thrust/thrust/compare/1.9.3...1.9.5 to find the cause.

[2020-07-29 09:44] mkuron commented on #3826
That wouldn't have worked as Thrust and CUDA versions are not arbitrarily upward and downward compatible.

CUDA 9.1.85 with Thrust 1.9.2, 1.9.3, 1.9.5 and 1.9.7 exhibits the error.
CUDA 10.0.130 with Thrust 1.9.2, 1.9.3 and 1.9.5 does not.
CUDA 10.0.130 even works with the Thrust version it ships with (which I guess is some pre-release version of 1.9.3).

Here is my git-bisect-compatible build scr

[2020-07-29 10:36] jngrad commented on #3826
I need to amend this statement: there is no error with CUDA 10.0. I misread my CMake log output. The test fails with CUDA 9, either 9.0 from the ICP or CUDA 9.1.85 from the docker image, when the hardware is a GeForce RTX 2080.

Indeed, thrust is likely not at fault here. However, it depends also on the hardware. The test runs fine in CI on CUDA 9.

This requires making the CMake logic for the `ST

[2020-07-29 11:36] mkuron commented on #3826
Ah, I forgot about that. So in summary, it only fails when you use CUDA 9 with a Turing GPU. According to Nvidia's documentation, newer GPUs support code compiled with older CUDA versions (Turing was released after CUDA 9.1), but here they clearly don't. We've actually had a similar case before (https://github.com/espressomd/espresso/pull/1412#issuecomment-330522632), but the trick employed back t

[2020-07-30 09:28] #3462 closed, assigned to RudolfWeeber

[2020-07-30 09:30] #3520 closed, assigned to nobody

[2020-07-30 09:32] KaiSzuttor commented on #3462
is this done?

[2020-07-30 09:44] RudolfWeeber commented on #3462
Yes.

[2020-07-30 10:34] Kischy opened #3834 "Slight error in Gay-Berne Potential"
I think there is a slight error in the Gay-Berne Potential calculation in code and documentation:

The term (see http://espressomd.org/html/doc4.1.3/inter_non-bonded.html#gay-berne-interaction)
![grafik](https://user-images.githubusercontent.com/42995291/88912403-80a14480-d25f-11ea-9d69-c217e8def714.png)
should really be
![grafik](https://user-images.githubusercontent.com/42995291/88912643-dc6bcd8

[2020-07-30 12:38] jngrad commented on #3834
I think you're right. However, a quick literature search reveals we are not the only one who dropped the nu exponent on epsilon0:
- Berardi et al. 1993 eqn 4 ([doi:10.1039/FT9938904069](https://doi.org/10.1039/FT9938904069))
- Rull et al. 2017 eqn 4 ([doi:10.1080/00268976.2016.1274437](https://doi.org/10.1080/00268976.2016.1274437))
- Rull et al. 2017 eqn 4 ([doi:10.1021/acs.langmuir.7b02347](http

[2020-07-30 12:41] Kischy commented on #3834
Ok, sounds good.

[2020-07-30 12:42] jngrad commented on #3834
Thanks for pointing out that discrepancy. I'll open a PR.

[2020-07-30 13:01] KaiSzuttor opened #3836 "cannot build if default config is used and cuda enabled"
steps to reproduce:
[code]

[2020-07-30 13:08] fweik commented on #3836
This should have priority.

[2020-07-30 13:09] fweik commented on #3836
It should in that context also be clarified why espresso handles the dependencies of the SD upstream library.

[2020-07-30 14:48] RudolfWeeber commented on #3513
@jgrad, did I understand correctly that you fully restored checkpointing for Walberla?

[2020-07-30 14:58] #3514 closed, assigned to nobody

[2020-07-30 15:03] jngrad commented on #3836
offline discussion with @KaiSzuttor: there are two orthogonal issues in this issue:
- feature `EXPERIMENTAL_FEATURES` should be a CMake flag rather than a macro because CMake needs to know whether a library is marked as experimental
- SD only works on CUDA 9+, while we support CUDA 8 through the Clang compiler (cannot be resolved with the current build system, unless we have `-DWITH_SD_CPU` and `-

[2020-07-30 15:20] fweik commented on #3836
Can you explain why this is? I don't follow

[2020-07-30 15:36] jngrad commented on #3836
CMake appends `STOKESIAN_DYNAMICS_GPU` to the myconfig file. But `STOKESIAN_DYNAMICS_GPU` is not self-contained, it depends on `EXPERIMENTAL_FEATURES`. This means the espresso build will fail eventually, usually after many dependencies of `EspressoCore` have been built already:
[code]

[2020-07-30 15:39] fweik commented on #3836
This is all a consequence from trying to do feature configuration from cmake, while features are not a cmake concept.
This is e.g. why your proposed solution does not scale, what if `STOKESIAN_DYNAMICS_GPU` would depend on another
feature? This has to become a cmake option too?

[2020-07-30 16:41] jngrad commented on #3513
The checkpointing was restored for everything except LB and EK. I still haven't looked into serializing the LB fluid.

[2020-07-30 16:52] RudolfWeeber commented on #3744
Stephan, I moved the particle velocity update as suggested. I also adapted the test. Can you please take an other look whether this is what you meant?

lattice_switch contains the info which LB implementaiton (if any) is active. It probably should be renamed, but that's a different matter.

There is a per particle check, because
switching the virtual sites to inertialess tracers + no LB + virtual

[2020-07-30 17:10] jngrad commented on #3836
is 356f878a7 what you have in mind?

[2020-07-30 20:14] fweik opened #3840 "Noise behavior of stokesian dynamics and other thermostats differ"
SD seems to use a counter based noise source, as do the other thermostats. The counter value is derived from the simulation
time by calculating `sim_time / time_step`, which means that if the users resets the time, the noise is repeated. This differs from
the other thermostats, where the noise is derive from a monotonous counter which can not be reset. Also the SD version leads
to correlated noise

[2020-07-30 20:40] RudolfWeeber commented on #3513
Ah right. We still need a populations setter/getter. The original version by @itischler was incompatible with the switchable lattice model, because now the stencil size is no longer fixed. Also, we gave up on the exact mapping between ES 4.1 and Walberla stencil index order.

In addition to the populations, the last applied force has to be checkpointed, since it enters into the lb fluid velocity c

[2020-07-30 20:57] #3834 closed, assigned to jngrad

[2020-07-30 23:09] jonaslandsgesell commented on #3771
I just tested the idea of using a 1D harmonic oscillator to speed up the tests. Unfortunately, it took the same amount of time to execute the test for a 1D harmonic oscillator or a 3D harmonic oscillator.

Seems like you need to drop the Wang-Landau reaction ensemble if the tests take too long. (The reaction ensemble and the cpH ensemble I would keep though, as this is also used in Peters group).

[2020-07-31 06:59] KaiSzuttor commented on #3771
Do you know why that did not help?

[2020-07-31 07:23] jonaslandsgesell commented on #3771
Speculating, and seeing the timings, I would say that it is computationally the same cost because in both cases the potential energy density of states g(E(r)) needs to be computed. Somehow it seems to be computationally the same for the *same range of energies*, regardless of E being a function of r=x (1D), r=x,y (2D) or r=x,y,z (3D).
But intuitively, I would have expected that the computational c

[2020-07-31 08:10] KaiSzuttor commented on #3836
The build issue mentioned above is gone by #3837. The underlying issue however is not resolved yet.

[2020-07-31 08:16] KaiSzuttor commented on #3826
why is all the SD dependency management happening on our side? This should be handled by the cmake of the external library.

[2020-07-31 11:41] jngrad commented on #3840
The long-term solution is for SD to use the same framework as the other thermostats, once the framework is refactored to use a single counter.

[2020-08-01 06:45] #2232 closed, assigned to nobody

[2020-08-03 07:27] #3814 closed, assigned to nobody

[2020-08-03 07:27] #3811 closed, assigned to nobody

[2020-08-03 07:31] KaiSzuttor opened #3842 "All integration tests should be deterministic"
including those for samples and tutorials

[2020-08-03 07:32] KaiSzuttor commented on #2755
closing due to inactivity

[2020-08-03 07:32] #2755 closed, assigned to jonaslandsgesell

[2020-08-03 07:49] KaiSzuttor commented on #3713
@jngrad are you still working on that?

[2020-08-03 07:52] KaiSzuttor opened #3843 "Fix CMake developer warning"
[code]

[2020-08-03 07:53] KaiSzuttor commented on #3675
this seems to be resolved

[2020-08-03 07:53] #3675 closed, assigned to nobody

[2020-08-03 07:55] KaiSzuttor commented on #3611
@jngrad any update here?

[2020-08-03 07:57] #3591 closed, assigned to nobody

[2020-08-03 07:58] KaiSzuttor commented on #3590
as we have already discussed in private we should either put work into mpiio or remove it and invest in reading from h5md files (which is probably the better idea).

[2020-08-03 08:01] KaiSzuttor commented on #3577
missing: ```Correlator```

[2020-08-03 08:02] #3524 closed, assigned to nobody

[2020-08-03 08:06] KaiSzuttor commented on #3104
closing in favor of #3842

[2020-08-03 08:06] #3104 closed, assigned to nobody

[2020-08-03 08:08] KaiSzuttor commented on #2953
Do we now know if this is expected or if it's a bug?

[2020-08-03 08:10] KaiSzuttor commented on #2832
this has not been an issue for quite some time

[2020-08-03 08:10] KaiSzuttor commented on #2691
i once looked in to that and it did not work out

[2020-08-03 08:13] KaiSzuttor commented on #1947
it's not obvious how (even if)  this can be done for arbitrary geometries

[2020-08-03 08:13] #1947 closed, assigned to nobody

[2020-08-03 08:23] KaiSzuttor commented on #1849
currently, we have a target for doctest but we actually do not run the check in CI (because it's broken probably).

[2020-08-03 09:25] RudolfWeeber commented on #2953
Bug. @pkreissl is looking into it, AFAIK

[2020-08-03 09:47] RudolfWeeber opened #3844 "Test rotational dynamics against numerically integrated Euler eqn"

[2020-08-03 09:57] RudolfWeeber commented on #3713
To my understanding

*	The segfault was triggered when the rotational dynamic becomes unstable. This now produces an appropriate error msg, AFAIK.
*	A boundary related issue in P3M was fixed, which was not directly involved in the report
*	Since the quaternion stuff in the rotational integrator is hard to understand and we are not totally sure, the rotational dynamics of a particle with an externa

[2020-08-03 10:04] jngrad commented on #3713
I tried to come up with an analytical solution to write a simple unit test, but it's a second order differential equation... The Euler integration method suggested by Rudolf is a better approach.

[2020-08-03 10:04] #3713 closed, assigned to nobody

[2020-08-03 10:06] jngrad commented on #3844
More details in #3713. The paper is Omelyan 1998 ([10.1063/1.168642](https://doi.org/10.1063/1.168642)).

[2020-08-03 10:09] jngrad commented on #2832
True. Furthermore, the scripts now halt when an HTTP error code is found, instead of printing a cryptic error message (5636ee03cda5).

[2020-08-03 10:09] #2832 closed, assigned to nobody

[2020-08-03 10:33] jngrad commented on #3611
I think the issue with the NVidia-supplied Ubuntu image was solved in the `intel:19` image. So we're mostly done with this ticket. The last item in the list is ROCm, for which there is still no Ubuntu 20.04 image. The ROCm 3.5.0/3.5.1 releases are also not working properly due to an incorrect path in their HIP wrapper script.

Since this ticket was opened, CUDA 11 was released. If we want to test

[2020-08-03 12:22] #3843 closed, assigned to jngrad

[2020-08-04 07:58] mkuron commented on #3812
According to https://github.com/open-mpi/ompi/issues/3705, this issue was fixed in OpenMPI 3.0.0 and higher. We should thus be able to limit our workaround to older versions.

[2020-08-04 09:25] biermanncarl opened #3850 "stokesian dynamics affected by langevin thermostat even after `thermostat.set_sd()`"
I simulated an LB fluid, cleared everything and then simulated three SD particles. They were affected by the langevin noisy forces. Even after setting `thermostat.set_sd()`, the langevin thermostat was active. Trying to set the langevin thermostat temperature to zero didn't work, because it said those two thermostats were incompatible with one another.

The only way to work around it is to restart

[2020-08-04 09:29] KaiSzuttor commented on #3850
please provide a M(N)WE that can be executed to reproduce the issue. What do you mean by "langevin noisy forces"? And what do you mean by "cleaned everything"?

[2020-08-04 23:25] junghans commented on #3396
Now we have that problem on Fedora 33 as well.
[build.log.txt](https://github.com/espressomd/espresso/files/5025282/build.log.txt)

[2020-08-06 16:22] jngrad opened #3853 "epresso-4.1.3: Many tests fail on Fedora33 due to IndexError: _Map_base::at"
Same problem as #3396 but for Fedora 33, originally reported by @junghans in https://github.com/espressomd/espresso/issues/3396#issuecomment-668876991.

The investigation below was conducted with this [dockerfile](https://github.com/espressomd/espresso/files/5036211/Dockerfile-fedora.txt) and [script](https://github.com/espressomd/espresso/files/5036223/script.txt).

TL;DR: the MPICH build fails d

[2020-08-06 16:32] junghans commented on #3853
There is a bug in the mpich package that makes `%define _lto_cflags %{nil}` getting ignored, see
https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/7TFWEKTDWBYBHEGMIWBVI3AVGORZGNBS/#7TFWEKTDWBYBHEGMIWBVI3AVGORZGNBS and https://src.fedoraproject.org/rpms/mpich/pull-request/4

[2020-08-07 02:42] junghans commented on #3853
I made some progress: https://koji.fedoraproject.org/koji/taskinfo?taskID=48848410, now it fails on x86_64 with:
[code]
[build.log.txt](https://github.com/espressomd/espresso/files/5039037/build.log.txt)

[2020-08-07 09:15] jngrad commented on #3853
Thanks! This explains why I couldn't opt out LTO.

I have the same log on x86_64. This is independent of LTO. The `layered` test hangs with a UCX error message.

[2020-08-07 10:06] KaiSzuttor opened #3854 "Check documentation for bad practices"
E.g.:
[code]
in ```doc/sphinx/particles.rst```.

Polluting the namespace with "polymer" is probably not the best idea.

[2020-08-07 10:22] KaiSzuttor commented on #3854
maybe we should check https://gist.github.com/sloria/7001839

[2020-08-07 15:30] junghans commented on #3853
Have a look at https://github.com/junghans/espresso-rpm/blob/f33/espresso.spec for my latest changes.

[2020-08-07 19:06] jngrad commented on #3853
I had tried `%global _lto_cflags %{nil}` as well, as suggested in one of the Fedora tickets mentioned in the first post, but MPICH still injected the LTO flags: `-flto -ffat-lto-objects -fexceptions -fasynchronous-unwind-tables`. I've re-built espresso with your new spec file, but the MPICH issue persists from my side.

However, the OpenMPI UCX timeout is now gone with your new specfile (junghans/

[2020-08-07 19:38] junghans commented on #3853
The build of https://github.com/junghans/espresso-rpm/commit/12b1bb2ca680868e02 was  https://koji.fedoraproject.org/koji/taskinfo?taskID=48848410, but I retriggered it again as https://koji.fedoraproject.org/koji/taskinfo?taskID=48889098

[2020-08-07 20:24] jngrad commented on #3853
The `layered` test passes reproducibly from my side on x86_64, but it doesn't pass on the x86_64 Koji job you just re-triggered.

MPICH doesn't inject the `-flto` flag anymore on Koji, so I guess your LTO fix that was merged recently is already deployed.

[2020-08-07 20:47] junghans commented on #3853
@opoplawski any idea on UCX error on F33?

[2020-08-08 01:37] opoplawski commented on #3853
I haven't seen that before.  I would bring it up with UCX directly - they were responsive to another UCX issue I just reported.

[2020-08-09 03:51] dpo854 opened #3855 "Simulating ionization reactions on surfaces"
Hi All,
I am trying to study the ionization of chemical groups(acids in this case) constrained to be on solid surfaces, which are in contact with an electrolyte. I can do this manually by changing the type of the reactant to that of the product, which is the charged state, and simultaneously bringing an H+ ion into the system, with a probability that would depend on the reaction constant, the chem

[2020-08-09 19:45] jonaslandsgesell commented on #3855
Hi Debadutta,

Confining reacting groups to surfaces is simple! You simply need to call the add(...,fix=True) function for the particles which ought be fixed first and flag them with fix=True on creation.
The reactions then need to be setup such, that the reactand type which you want to replace with a product type are in the corresponding positions of the particle type lists:

... reactand_types=[

[2020-08-09 20:13] jonaslandsgesell commented on #3655
For checking with PB you need to go to the low coupling limit of the coupling parameter going to zero. You can achieve this via going to small Bjerrum lengths (high dielectric permittivities). Then the difference between PB and MD solutions has to approach zero too. Please do so and post your comparison again. For a Bjerrum length of smaller than 0.355 Angstrom I would suppose that the difference

[2020-08-11 07:45] #3577 closed, assigned to jngrad

[2020-08-12 14:41] jngrad commented on #3719
`SimplePore` created with `smoothing_radius=0` generates a stack overflow error message in an infinite loop when visualized in the OpenGL visualizer when the GSL Extrusion library is available, because of a division by zero. The cryptic python backtrace did not help in finding the source of the issue. Took me and @KaiSzuttor several man-hours to figure that one out.

[2020-08-13 15:50] espresso-ci opened #3857 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12811

[2020-08-13 16:48] jngrad commented on #3513
Can waLBerla serialize its state? A checkpointing mechanism was implemented in Kohl et al. 2018 ([10.1177/1094342018767736](https://doi.org/10.1177/1094342018767736)).

[2020-08-14 15:13] fweik commented on #3854
It might be worthwhile to look for espresso usage on github, to find patterns that people use, e.g.
have a look at <https://github.com/search?q=import+espressomd&type=Code> . I did not look for
this previously, and this apparently finds some use scripts...

[2020-08-14 17:36] #3797 closed, assigned to jngrad

[2020-08-15 17:07] jngrad commented on #3853
Could be a false lead, but printing the value of `data[0]` and `data[1]` (real resp. imaginary components of the first data point) in [`fft_perform_back()`](https://github.com/espressomd/espresso/blob/17291e1b2f5f63b4d0bead214b67b87a4e1f1068/src/core/electrostatics_magnetostatics/fft.cpp#L715-L755) shows a discrepancy between ES built on Fedora 33 (columns 2-3) and Ubuntu 18.04 (columns 4-5):

| s

[2020-08-15 18:07] jngrad commented on #3853
Additional data point: bug reproducible when compiling OpenMPI 4.0.4 + UCX 1.8.1 + boost 1.73 from sources ([dockerfile](https://github.com/espressomd/espresso/files/5079239/Dockerfile-33-openmpi-ucx.txt)), but not reproducible when compiling OpenMPI without UCX ([dockerfile](https://github.com/espressomd/espresso/files/5079238/Dockerfile-33-openmpi.txt)).

[2020-08-15 18:37] fweik commented on #3853
I'm not familiar with the FFT code. I does have a complex communication pattern which will make it hard to debug. Let's discuss this on Monday, maybe I'll have an idea how to approach this until then. Generally I'd say it will  be easier to re-implement the algorithm or use PFFT (library solution) than understanding the existing code. PFFT is bus factor 1 domain scientist code too iirc, but it has

[2020-08-15 18:53] jngrad commented on #3853
Yeah, I'm also not sure how to approach this. We would need to extract a self-contained MWE that reproduces the issue, but this means first finding out where in the FFT workflow things go wrong. Since it's only reproducible with a specific version of UCX, there is also a possibility that nothing is wrong from our side (it already happened once with an older OpenMPI+UCX version).

The UCX repositor

[2020-08-15 19:03] fweik commented on #3853
Well, I made the fft an isolated component, so to test if it does actually do FFT shouldn't be that hard. The error that is eventually raised does mean that either tthe fft algorithm dosen't work as expected, or that the Fourier coefficients what went into the transform just were not those of a real function, and the problem is in the P3M or elsewhere. Tests for the fft would help to locate the is

[2020-08-15 19:15] jngrad commented on #3853
New data point: with UCX 1.9.0rc1 we have 55 failing python tests. Most print a UCX backtrace, but not the ones I'm investigating.

[2020-08-16 14:39] junghans opened #3861 "ninja: error: build.ninja:2172: bad $-escape (literal $ must be written as $$)"
On Gentoo, I am getting the following error build with ninja:
[code]

The line in question is:
[code]
and I guess `$(ARGS)` is the issue. This might have been added by me in #2252! However, otherwise I don't see a way to exclude some of the flaky tests.

[2020-08-16 14:48] junghans commented on #3861
I guess the right things to do would be to make it a cmake options, that is not was flexible as a runtime option, but would work for Ninja as well.

[2020-08-16 16:21] jngrad commented on #3861
The `$(ARGS)` injects itself in the generated makefiles, which makes it incredibly useful for developers, as we can pass arguments to ctest through makefiles from bash. I'm using this feature daily in my workflow. The alternative would be to open a subshell everytime, e.g. `(cd testsuite/python; ctest --timeout 300 -j4 --output-on-failure <ARGS...>)`, which I would quickly replace by a custom-made

[2020-08-16 19:05] jngrad commented on #3853
After a lengthy bisection through recents merge commits, I found out openucx/ucx#5473 introduced the fix for the 3 failing tests, but I couldn't backport it onto 1.8.1 due to non-trivial merge conflicts. The PR is also quite substantial, so I can't tell what's responsible for the fix. The merge commit cannot be used to build espresso 4.1 with OpenMPI+UCX, as it contains all PRs since 1.8.1, some o

[2020-08-16 20:46] junghans commented on #3853
Is there already a ucx release containing the fix?

[2020-08-16 21:08] jngrad commented on #3853
The fix hasn't been milestoned yet. The release candidate 1.9.0rc1 doesn't include it, and causes other espresso tests to fail.

[2020-08-16 23:16] junghans commented on #3853
Hmm, not great. @opoplawski can we back port that UCX fix?

[2020-08-17 10:05] jngrad commented on #3861
Somewhat related: ninja doesn't fully support `VERBATIM` custom targets [cmake/cmake!18062](https://gitlab.kitware.com/cmake/cmake/-/issues/18062).

Is there a CMake resource advocating against writing Makefile variable expansion commands in custom targets?

[2020-08-17 13:05] junghans opened #3864 "v4.1.3: error: ‘value’ is not a member of ‘typex’"
[code]

[build log](https://github.com/espressomd/espresso/files/5084320/attachment.txt)

Upstream Bug in Gentoo: https://bugs.gentoo.org/737534

[2020-08-17 19:08] jngrad commented on #3864
That's an issue from boost 1.74. Reproducible in Fedora 32 with boost 1.74 compiled from sources ([dockerfile](https://github.com/espressomd/espresso/files/5086165/Dockerfile-32-openmpi-boost174.txt)). Also happens on espresso 4.2-dev, although only in `src/utils/tests/memcpy_archive_test.cpp`. I'm opening a ticket on their repository.

---

Here is a MWE for the first bug:

[code]
[code]
[code]

[2020-08-17 19:14] junghans commented on #3864
Thanks for the update.

[2020-08-18 02:21] espresso-ci opened #3865 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/12863

[2020-08-18 08:05] jngrad commented on #3865
[code]

[2020-08-18 08:11] #3865 closed, assigned to nobody

[2020-08-18 08:58] jngrad commented on #3850
@biermanncarl could you please provide your script?

[2020-08-19 09:21] #3857 closed, assigned to nobody

[2020-08-19 10:09] biermanncarl commented on #3850
Sry for the delay. Here it is. I do not really know what the correct behavior should be. But if the Langevin thermostat complains about the SD thermostat, then the SD thermostat should complain about the Langevin thermostat, too, right? (Or maybe even when activating the SD integrator, the Langevin thermostat should be deactivated)
[code]

[2020-08-19 17:17] jngrad opened #3868 "P3M-based electrostatics and magnetostatics tuning functions ignore errors"
The electrostatics tuning function runs into an infinite loop if the system time step is not set. Magnetostatics tuning is not affected. Regression introduced in 4.1.0 by #3141. MWE:
[code]

[2020-08-19 17:41] jngrad commented on #3868
There are more issues with electrostatics tuning: several errors are simply appended to the standard log string, preventing `handle_errors()` from halting the flow of the program and leaving the system in an undefined state. Magnetostatics tuning is also affected.

[2020-08-19 17:55] jngrad commented on #3868
The magnetostatics `dp3m_rtbisection()` function doesn't throw on error, and the error code it returns isn't checked, so we end up in an infinite loop...

[2020-08-19 18:24] #3861 closed, assigned to nobody

[2020-08-19 19:19] jngrad commented on #3868
The script interface for P3M in the metallic case is broken since before 4.0.

[2020-08-19 19:43] jngrad commented on #3868
The code samples in the user guide for electrostatics/magnetostatics don't run in pypresso. The user guide says `P3M` requires a Bjerrum length when it actually requires a prefactor since 4.1. The user guide says using `DipolarP3M` requires reading the P3M literature but doesn't provide the list of P3M citations.

[2020-08-20 15:07] jngrad commented on #3868
The epsilon parameter is changed to 0 during tuning in `P3M` and `P3MGPU` classes since ESPResSo 4.0.0. `DipolarP3M` is not affected.

[2020-08-24 09:10] #3868 closed, assigned to jngrad

[2020-08-25 18:01] jngrad commented on #3807
I compiled `BondList_test` with Clang 9.0.0 and ASAN and got the following report:
[code]

[2020-08-26 09:32] jngrad opened #3875 "Rotational diffusion test fails with Brownian Dynamics"
Test `rotational-diffusion-aniso` has a bad feature guard. Fixing the guard (d02b835b) reveals the test doesn't pass:
[code]

[2020-08-26 14:45] pkreissl opened #3876 "Replace pressure_tensor_acf test with test of variances"
During discussion of bug fix #3847 the need for testing the variances of fluctuations of the thermalized LB pressure tensor became apparent. This test could replace the slow acf test, to also provide CPU LB pressure testing by default.

[2020-08-26 15:25] jngrad opened #3877 "Division by zero and buffer overflow in 4.1 DP3M"
MWE:
[code]

With 4.1.3 and Clang 6 in docker:
[code]
[code]

With 4.1.4rc and Clang 6 in docker: same trace as 4.1.3.

The division by zero comes from this code:
https://github.com/espressomd/espresso/blob/098adfe327aba153d88604bbe23e313b4d3ddc15/src/core/electrostatics_magnetostatics/p3m-dipolar.cpp#L1313-L1329
The values of `dp3m.d_op` are all zero for the calculated indices `n = {0, 0, 2}` (`d

[2020-08-26 16:40] jngrad commented on #3877
Enforcing an even `mesh` size (like in `p3m.cpp`) and adding guards around divisions by zero still leads to buffer overflows:
[code]

[2020-08-27 09:34] RudolfWeeber commented on #3877
I’m not sure, the existing tuning code can be salvaged.

[2020-08-27 09:50] jngrad commented on #3877
I won't be able to spend any more time on this one. Closing.

[2020-08-27 09:50] #3877 closed, assigned to nobody

[2020-08-28 17:27] jngrad commented on #2549
I just tried again with the new script interface in 4.2-dev and still couldn't get MPI to hang. Closing.

[2020-08-28 17:27] #2549 closed, assigned to nobody

[2020-08-28 17:35] jngrad commented on #1155
The script interface underwent a major refactoring in 4.2-dev. Feel free to re-open with a MWE if the issue still exists.

[2020-08-28 17:35] #1155 closed, assigned to nobody

[2020-08-31 15:55] jngrad commented on #3850
That's a bug in the cython code. The DPD and SD thermostats have no compatibility checks. Easy fix, PR is coming. The only way to remove a thermostat is to reset all thermostats in the core via a call to `system.thermostat.turn_off()`.

[2020-08-31 17:19] jngrad commented on #3585
not a unit test, but illustrates the issue:
[code]
output:
[code]
The only way to test this is to run an autocorrelation function, which isn't very convenient in a unit test. We should also check autocorrelation on the *ordered* random sequences to reveal bugs such as the NPT one that took me, Flo and Rudolf quite a while to figure out when refactoring the NPT code where we call the same random fu

[2020-08-31 21:32] jngrad commented on #3585
The bonded interactions checkpointing mechanism in set up in such a way that exceptions are silently ignored. This makes it really hard to track down a seed checkpointing bug I just ran into (maybe this is what @fweik mentioned above). The seed checkpointing mechanism is really cryptic.
[code]
output when running into the seed checkpointing bug that resets the seed to 0:
[code]

[2020-09-01 02:28] espresso-ci opened #3882 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13013

[2020-09-01 06:42] #3882 closed, assigned to nobody

[2020-09-01 06:49] KaiSzuttor commented on #3585
why do you think that the ```__get__``` method is called for checkpointing?

[2020-09-01 07:46] RudolfWeeber commented on #3585
I think w need the following checks. Uncorrelated results for:

*         2 particles, same counter value

*         1 particle, consecutive time steps

*         2 particles with the same id with 2 rngs with consecutive seeds

All of these are single value correlations.

In addition, we need to check the mean and variance of the outcome for a single particle.

That should be feasible, both in ter

[2020-09-01 07:55] KaiSzuttor commented on #3585
wouldn't it be better to have a single implementation of the generation of random numbers which can be unit tested?

[2020-09-01 08:17] RudolfWeeber commented on #3585
That would be the outcome of the steps I proposed in the second list.

However, there is two parts: key generation and random number generation. Both would need to be tested.

It is clear that that approach is better, but it is also much more work.

Since the thermalization is quite a central part, it might be worth it, though.

@jngrad, what would you prefer?

[2020-09-01 09:32] jngrad commented on #3585
I looks like it's the mechanism currently used for checkpointing bonded interactions objects, but I could be wrong. From what I understood, the `__get__` method of the `params` member is called on all objects to be checkpointed in the `__getstate__` method of the `BondedInteractions` class that handles them. The error probably happens in the hasattr
https://github.com/espressomd/espresso/blob/748e

[2020-09-01 09:52] RudolfWeeber commented on #3585
But if we decide to pull out the RNG and key generation, then THAT is the refactoring that should be done now.
Or maybe I don't understand what you are attempting with your current refactor.

[2020-09-01 09:59] KaiSzuttor commented on #3585
it is not the first bug we encounter since we switched to the counter-based RNG and we are still not sure if it is worth to pull out the logic and write unit tests?

[2020-09-01 13:41] jngrad commented on #3585
All functions generating uniform and gaussian noise are checked for correlation in `src/core/unit_tests/random_test.cpp`. During this refactor I've added an extra check for autocorrelation at lag time `n` for seeds offset by `n` to capture the bug in this ticket. It's not as good as checking all lag times with a full autocorrelation function, but I don't think we need to check that case (Philox it

[2020-09-01 13:53] RudolfWeeber commented on #3585
By “key generation”, I mean: how a particle or a pair of particles maps to a key for the RNG.

I think, there are two kinds:

*	Single particle (Langevin, SD, Brownian)
*	Pair of particle (DPD, thermalized bond)

[2020-09-01 14:06] jngrad commented on #3585
At the moment we use the same function for the single particles and particle pairs. In the particle pair case, either the particle ids order matters (thermalized bond), or it doesn't matter and the ids are sorted (DPD). We could refactor the free functions in `random.hpp` to take a key as argument instead of particle ids, and write a method that derives that key from the particle ids in the thermo

[2020-09-01 19:29] jngrad commented on #3585
Alright the WIP is in [jngrad:thermostats-global-counter](https://github.com/espressomd/espresso/compare/python...jngrad:thermostats-global-counter). All thermostats now derive from `BaseThermostat` and depend on a global, monotonically-increasing counter (even Stokesian Dynamics) that cannot be altered by the user, but gets checkpointed. All sources of correlation we know of should be gone. All t

[2020-09-02 09:06] jngrad commented on #3585
By the way, the `boost::optional` guard around the RNG seed seems unnecessary to me. It looks like it only helps in the python interface, to spare the user from providing the same seed again when updating the thermostat temperature. This could be handled in the python class directly by storing the seed. Better yet, we could make it mandatory to provide the same seed again. Users should no longer u

[2020-09-02 09:46] RudolfWeeber commented on #3585
Not sure about the optional, probably, we need to look at it in a meeting.

``temperature` is one of the globals which should go away.

As Flo pointed out, the system doesn’t have a temperature. Algorithms which use one as parameter, should store it themselves.

[2020-09-02 12:57] jngrad opened #3883 "Framework for statistical tests"
Currently we have frameworks for unit testing, integration testing and sample testing. They are all deterministic, either because the functionality being tested is deterministic, or RNG seeds (both in numpy and espresso) have been set such that the functionality is deterministic. We currently do not have a suitable framework for testing functionality that is stochastic in nature and for which a st

[2020-09-02 14:17] jngrad commented on #3101
Here is a MWE to illustrate the asymmetry of the GB torques, based on an idea from @christophlohrmann :
[code]
output:
[code]
The opposing torque cannot be deduced from a linear transformation nor from a vector product.

[2020-09-02 15:09] RudolfWeeber commented on #3101
So how is it with angular momentum conservation?
`dL/dt =[T_1 +T_2] +[ F_1 \times r_1 +F_2 \times R_2] =0`
Why is/shouldn’t that be fulfilled? Or is it not valid to combine internal angular momentum and angular momentum from translation in that way?
@christophlohrmann
T_1,2 are torques on particles 1,2, F_1,2 and r_1,2 are forces and positions.
For conservative forces, the second bracket should be

[2020-09-02 16:01] jngrad commented on #3101
You are right. Looking at eqn 6 in Allen et Germano 2006, Molecular Physics, 104:20-21 (doi:[10.1080/00268970601075238](https://doi.org/10.1080/00268970601075238)):

<img width="240" src="https://render.githubusercontent.com/render/math?math=%5Ctau_A%20%2B%20%5Ctau_B%20%2B%20r_%7BBA%7D%20%5Ctimes%20f_A%20%3D%200" alt="\tau_A + \tau_B + r_{BA} \times f_A = 0">

We can indeed recover the second torq

[2020-09-03 19:52] jngrad commented on #3585
Good point. Let's discuss the thermostat infrastructure in the next meeting.

---

Going back to the original issue, here is a MWE to reproduce the bug in a simulation:
[code]
output:
[code]
Although the random sequences are shifted between two simulations, the initial conditions (particle positions and velocities) are necessarily different, thus if at least two particles in the system are within

[2020-09-03 20:30] schlaicha commented on #3818
We need to add some documentation for the tutors mentoring the tutorials. I suggest we use simple markdown files for these instructions. Would `doc/tutorials/01-lennard_jones/NotesForTutor.md` be the right place to put this? We should then unify this for all tutorials...

[2020-09-07 21:31] jngrad commented on #3844
I tried again to substitute the indices from the paper using the quaternion formalism in ESPResSo:
[code]
but these yield incorrect angular velocities when plugged into `src/core/rotation.cpp`. I also worked out the A matrix backwards from the source code, but it doesn't look like the one from Omelyan 1998. I'm not sure where the matrix comes from.

The results are correct in trivial torque-driven

[2020-09-07 21:43] jngrad commented on #3844
Oh nevermind, it was simply `err(f(x)) = 1e-8 * x * sin(x / (2 * T) * pi - 3 * pi / 2)` with `T = 400` the period.

[2020-09-08 20:37] junghans commented on #3864
This issue now happens on openSUSE as well. @dirkmueller, can we patch https://github.com/boostorg/serialization/issues/217 into tumbleweed?

[2020-09-09 15:09] christophlohrmann opened #3889 "p3m tuning unintuitive"
Below example shows that calling the ``tune()`` function of a previously tuned p3m will not tune all parameters again. To get an actual retuning of the parameters, ``tune()`` has to be given the original default values of p3m (except ``r_cut``, that needs special treatment)

Expected/intuitive behaviour would be a  tuning of all parameters by default and not tuning the parameters that are explicit

[2020-09-11 10:08] jngrad opened #3892 "UUID manager needs to be designed"
Shape-based constraints have a particle representation `Particle ShapeBasedConstraint::part_rep` which is default-constructed, therefore its particle id is always `-1`. This causes an issue when a real particle interacts with two shape-based constraints via the DPD interaction, which requires random numbers. Philox maps a tuple `(counter, seed, salt, pid1, pid2)` to a unique 4-tuple of 64bit integ

[2020-09-12 15:34] jngrad opened #3894 "Polymer observables"
`statistics_chain.cpp` provides functions to calculate the average hydrodynamic radius, radius of gyration and end-to-end distance of uniform (monodisperse) polymers. It doesn't support non-uniform (polydisperse) polymers, and requires all monomers to have monotonically increasing particle ids without gaps between monomers and between polymers. This is designed this way because linear polymers are

[2020-09-14 09:16] jngrad commented on #3892
Variant of option 1.:

3. Create a new salt `DPDShapeBasedConstraint`, so that particle ids of shape-based constraints can be incremented in the 32bit range using `int get_maximal_pseudo_particle_id()`. There is no collisions as long as the first pid in the key is always the shape-base constraint, for example.

In any case, we would have to expose the particle representation to the cython class to

[2020-09-14 09:39] KaiSzuttor commented on #3892
In general, I'm not sure how big the issue is at all. You get correlated noise for a single particle and the constraint interaction.

  Create a new salt DPDShapeBasedConstraint, so that particle ids of shape-based constraints can be incremented in the   32bit range using int get_maximal_pseudo_particle_id(). There is no collisions as long as the first pid in the key is always the   shape-base con

[2020-09-14 13:35] jngrad commented on #3892
From the offline core team meeting:

4. Change RNG function to take a pair of uuids instead of a pair of particle ids. Add a new field in the `Particle` struct that stores a uuid. This uuid can be generated from a global counter. A prototype needs to be written in Python.

[2020-09-14 15:06] espresso-ci opened #3895 "DipolarBarnesHutGpu and DipolarDirectSumGpu tests fail on ROCm"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13105

[2020-09-15 16:51] jngrad commented on #3895
Currently affecting the following PRs: #3891 #3896

These tests fail randomly since yesterday:
[code]

The failures are reproducible with the docker image on `coyote11`. More details in https://github.com/espressomd/espresso/pull/3891#issuecomment-692799199.

[2020-09-15 17:36] jngrad commented on #3895
Reproducible as far back as 79b53f6de27. Before that, we used a different docker image and a different compiler (HCC).

[2020-09-15 18:34] mkuron commented on #3895
Hmm then why did it just start coming up in CI this week?

@psci2195 any ideas what might be causing it? I don‘t know enough about the algorithm to understand  your code.

[2020-09-16 02:28] espresso-ci opened #3897 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13115

[2020-09-16 09:23] mkuron commented on #3895
coyote10 was just rebooted and the issue appears resolved. Looks like a hardware or driver glitch.

[2020-09-16 09:23] jngrad commented on #3895
Rebooting the runner seems to have fixed the issue. Before the reboot:
* BH GPU0
   * free(): invalid pointer
   * Forces on particle do not match
   * Torques on particle do not match
* BH GPU1
   * Forces on particle do not match
   * Torques on particle do not match
* DDS GPU0
   * MPI deadlock
   * std::runtime_error
   * free(): invalid pointer
* DDS GPU1: all good

After the reboot: all good

[2020-09-16 09:28] jngrad commented on #3897
duplicate of #3895

[2020-09-16 10:25] jngrad commented on #3895
Rebooting the runner only made the issue irreproducible in docker in a ssh terminal. It's still failing in CI pipelines.

The 4.1.4 release might be affected too. In docker in a ssh terminal, there is a random MPI deadlock with `dawaanr-and-bh-gpu`.

[2020-09-16 12:52] jngrad commented on #3895
We're temporarily running the ROCm jobs on `lama` to clear the backlog.

[2020-09-16 13:12] #3897 closed, assigned to nobody

[2020-09-16 14:49] jngrad opened #3898 "Custom criteria for Steepest Descent: minimal distance vs. relative energy"
Until now (as of 07f2a3ae7c8) the documentation gives examples of custom convergence criteria for Steepest Descent that are only based on inter-particle distances. This is not always re-usable, for example it's not suitable for dense, mixed LJ liquids where particle sizes are significantly different (the inter-particle distance must be as large as the largest sigma, yet there might not be enough s

[2020-09-16 14:55] jngrad opened #3899 "Measure performance of ESPResSo LB GPU vs. waLBerla LB CPU"
Measure the performance for a fluid and a fluid with particle coupling, using the ESPResSo LB implementation on GPU single-precision and the walberla implementation on CPU double-precision (and single-precision if possible), on the same workstation, e.g. `lama`.

[2020-09-16 14:58] jngrad commented on #2973
* #3895 took me 5 man-hours to troubleshoot, and probably as much for @mkuron; we ended up using `lama` as a runner in CI

[2020-09-16 15:30] jngrad commented on #3815
`tutorial_11-ferrofluid_1 failed`

[2020-09-16 15:34] mkuron commented on #2973
No idea about that one, it's either a hardware or driver issue, and a heisenbug too. We don't have anyone here who understands the Barnes-Hut code, so our debugging abilities are rather limited.

[2020-09-16 16:02] #3850 closed, assigned to jngrad

[2020-09-16 17:00] espresso-ci opened #3900 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13119

[2020-09-16 17:34] jngrad commented on #3900
`polymer_linear (Timeout)` in `default` job

[2020-09-16 17:59] #3900 closed, assigned to nobody

[2020-09-16 18:00] schlaicha commented on #3898
IMHO the purpose of offering a steepest descent algorithm is to allow people to relax their simulations such that they don't explode when not equilibrated. This means that the forces (or energies, respectively) should be minimized; there is no physical reason to assume that a certain distance criterion (overlap removal) would be beneficial.

As such I think that using steepest descent as energy mi

[2020-09-17 15:01] RudolfWeeber commented on #3898
Assuming `kT=1`

[code]

Or force

```np.amax(np.abs(system.part[:].f))```

[2020-09-17 16:06] KaiSzuttor commented on #3898
i don't understand your snippet

[2020-09-17 16:17] RudolfWeeber commented on #3898
those are the two variants I'd mention in the docs. The one with forces is probably better in principle, since those actually matter for integrator stability. In big mpi parallel simulations, accessing the full slice in Python might become a performance issue, though.
Since the loop is rather harmless, I'm not in favor of integrating something with lambdas into the interface, here.

[2020-09-17 16:31] KaiSzuttor commented on #3898
what I had in mind is more something like the following:
[code]

[2020-09-17 17:06] schlaicha commented on #3898
Completely agree with @KaiSzuttor - in the end I guess if you take the energy or the force convergence should not make a bih difference.

[2020-09-18 13:18] #3889 closed, assigned to nobody

[2020-09-18 14:20] #3573 closed, assigned to nobody

[2020-09-18 14:20] #3585 closed, assigned to nobody

[2020-09-18 14:20] #3840 closed, assigned to nobody

[2020-09-21 11:07] jngrad opened #3904 "Walberla: build system fails when CUDA is enabled"
Reported by @reinaual:
[code]

[2020-09-21 12:54] junghans opened #3905 "Some tests fail on Fedora Rawhide"
On Fedora Rawhide:
[code]

Build log attached: [build_x86_64.log.txt](https://github.com/espressomd/espresso/files/5255428/build_x86_64.log.txt)

[2020-09-21 15:09] jngrad commented on #3905
According to the build log, it's for ESPResSo 4.1.3 on Fedora 34. The tests pass with MPICH, but some fail with OpenMPI 4.0.5 compiled with UCX. Excerpt of the errors:
[code]
I'm not familiar with the cluster analysis error.

The other 3 errors are already described in #3853 for Fedora 33 in the subsection for OpenMPI.

[2020-09-22 07:53] jngrad opened #3906 "Memory leaks in tabulated bonds"
The head node callback `mpi_bcast_ia_params()`and its worker node callback `mpi_bcast_ia_params_slave()` are mostly identical and could be merged into a single callback, with a conditional on the MPI rank to manage manual memory allocation on worker nodes. This callback could then be moved from `communication.cpp` to e.g. `src/core/bonded_interactions/bonded_interaction_data.cpp`.

Right now the w

[2020-09-22 09:03] jngrad opened #3907 "Better separation of concerns in the communication framework"
**Background**

ESPResSo uses a custom MPI communication framework where everything is managed from the head node. Functions visible in the script interface must be implemented twice: once as a worker function, and once as a head function that contains the same body as the worker function, plus a preamble that triggers the worker function on worker nodes with `mpi_call_*()`. The body usually conta

[2020-09-22 09:27] mkuron commented on #3907
That's an anachronism from the autotools build system (which would call mpic++ and nvcc -- nowadays we use the MPI library search path directly with c++ or nvcc) and from when the OpenMPI headers contained syntax that could not be parsed by nvcc (that was fixed around CUDA 5.5).

[2020-09-22 10:08] RudolfWeeber commented on #3907
I think many of the affected callbacks should be replaced by script interface code, rather than be refactored as callbacks.

The interaction stuff is a prime candidate, IMO.

The LB stuff in gather_stats will go away with Walberla.

I think the callback registration should happen, where they are implemented as done in lb_walberla_interface.cpp.

[2020-09-23 08:53] schlaicha commented on #3818
A note on the values for the density/temperature:
* A reduced density of 0.5 that was previously used is **always** metastable, i.e. it wants to phase separate.
  This leads to the fact that NVE/NVT simulations yield different RDFs (and probably more observables differ) and the failing comparison of the fitted RDF expression in Tutorial 01.
* Using a density of 0.75 and reasonable temperature for

[2020-09-23 14:53] jngrad opened #3908 "Improve error message in number_of_particles_with_type()"
The method `system.number_of_particles(type)` can throw an exception when `type` is not in the list of tracked particle types.

Here is the relevant core function:

https://github.com/espressomd/espresso/blob/f760050199b94226b9127b309bfa7db569507605/src/core/particle_data.cpp#L1048-L1053

The runtime error should be replaced by something that supports streams to produce a more descriptive error me

[2020-09-23 15:02] jngrad opened #3909 "Build system breaks on ROCm 3.8"
[code]
[code]

[2020-09-23 15:35] jngrad opened #3910 "Unnecessary CUDA allocation in MPI worker nodes"
`cudaStreamCreate()` allocates around 130 MB of data on the GPU, yet the GPU is only used on the head node. This allocation is not needed on worker nodes and locks resources that could otherwise be used by the head node, e.g. to run a simulation with a finer LB grid. Removing this allocation on worker nodes would save (X - 1) * 130 MB of memory on the GPU with X the number of MPI ranks.

Issue ori

[2020-09-23 16:34] mkuron commented on #3909
Not an Espresso bug. AMD's packaging is slightly broken again. Uninstalling all ROCm/HIP/AMD packages and then reinstalling _rocm-dkms_ seems to have fixed it.

[2020-09-23 18:22] schlaicha commented on #3818
After offline discussion with various ICP members we decided to remove the MSD part in the LJ tutorial because
* simulations are performed with a Langevin thermostat, this the measurable diffusion coefficient is only given by the friction coefficient and not the LJ fluid
* NVE simulations would be an alternative but make the tutorial
  * more complicated
  * the use of a thermostat should be shown

[2020-09-23 20:16] jngrad commented on #3818
Concerning the RDF, you can simply reduce the test tolerance from 2.5% to e.g. 0.5%, or lower, depending on well the ESPResSo RDF agrees with the paper.

[2020-09-23 21:36] jngrad commented on #3909
Indeed, it's working again on `lama`. Thanks for looking into it. Closing.

[2020-09-23 21:36] #3909 closed, assigned to nobody

[2020-09-23 21:38] jngrad commented on #2973
* #3909 broken AMD packages on `lama`, fixed by re-installing packages

[2020-09-25 02:19] espresso-ci opened #3912 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13191

[2020-09-25 05:26] #3912 closed, assigned to nobody

[2020-09-25 13:51] jngrad opened #3913 "Central chapter for thermostats and integrators"
The number of thermostats and integrators has increased in 4.2, and their documentation has improved substantially. They are currently documented in chapters "3. Setting up the system" and "5. Running the simulation", respectively. However, they are tightly coupled to each other. I think the user guide would be more intuitive if thermostats were moved into chapter "5. Running the simulation".

The

[2020-09-27 15:57] jngrad commented on #3913
The Brownian integrator is not documented in the user guide.

[2020-09-27 21:39] jngrad opened #3915 "Bisection bugs in dipolar P3M"
The dipolar P3M algorithm fails for specific particle configurations. The bug depends on the box size and operating system. MWE:
[code]
* with box size 1: `./pypresso mwe.py` triggers an assertion `Root must be bracketed for bisection in dp3m_rtbisection in function double dp3m_rtbisection(...)`, initially reported in https://github.com/espressomd/espresso/pull/3869#issuecomment-676686275
   * thi

[2020-09-27 21:55] RudolfWeeber commented on #3915
I’m not sure, what to do about this. I do not understand the dipolar p3m code, unfortunately.

[2020-09-28 09:47] RudolfWeeber opened #3916 "Need a way to save particle state in a dict"
For MC simulations, it would be useful to be able to save all writable particle properties in a dict. Then, it would be easy to restore the particle later, if an MC move is rejected.
Came up during Gibbs ensemble work.

[code]

[2020-09-28 11:08] jngrad opened #3918 "Increase required C++ version to C++17"
**New features**

* constexpr if, constexpr lambda
* std::optional, std::filesystem
* template argument deduction
[code]
* structured bindings and tuple unpacking
[code]
* fold-expressions
[code]

**Prior work**

ESPResSo is C++17-ready since #3824, including in the walberla branch.

**Course of action**

* Update `CMAKE_CXX_STANDARD` to 17
* Sort out the failing exit function check in the CI buil

[2020-09-28 11:37] mkuron commented on #3918
According to https://en.cppreference.com/w/cpp/compiler_support, CUDA 11's C++17 support is quite incomplete, so it's probably a bit early to make the switch. Cray does not support C++17 yet, but since Hazel Hen has been replaced with Hawk, nobody should care. Intel should have pretty good C++17 support by now, but we'll need to keep an eye on it since it's not in CI anymore.

That's going to be a

[2020-09-28 15:01] christophlohrmann opened #3920 "p3m retuning uses initial state from previous tunings"
Reducing the box size and retuning p3m is in some cases not possible because the k-space cutoff is kept from the first tuning. Interestingly, it works when one just tries again.
MNWE:
[code]

[2020-09-28 15:51] RudolfWeeber commented on #3920
@reinaual , could you take a look at this?

[2020-09-29 02:22] espresso-ci opened #3921 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13220

[2020-09-29 07:56] #3921 closed, assigned to nobody

[2020-09-29 16:19] RudolfWeeber opened #3922 "The Gay-Berne potential should take quaternions as args"
because the calc_direcotr() calls on both particles can be omitted if the potential is turned off (which is most of the time)

[2020-09-29 17:05] RudolfWeeber opened #3923 "Coulomb energy kernel is executed in systems without Coulomb"
According to perf output. Probably the conditional in energy_calc() needs to be checked

[2020-09-29 17:06] RudolfWeeber opened #3924 "Functions to calculate the non-bonded energy for a single particle"
For MC simulations. Currently, the full energy needs to be calculated, even for single particle MC moves

[2020-09-30 09:01] #3920 closed, assigned to nobody

[2020-09-30 13:01] jngrad commented on #3883
* The `wang_landau_reaction_ensemble` test is timing out again in CI in sanitizer builds ([logfile](https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/254619)).
* The `lb_pressure_tensor_acf` test on CPU required the introduction of a new workaround in the CMake logic (1c16301ab508).

Both of these tests have introduced unmaintainable CMake workarounds that will have to be removed once

[2020-09-30 13:36] #3818 closed, assigned to nobody

[2020-09-30 18:32] #3772 closed, assigned to nobody

[2020-09-30 18:32] #3804 closed, assigned to nobody

[2020-09-30 19:31] #3910 closed, assigned to nobody

[2020-10-02 02:35] espresso-ci opened #3926 "Tutorial 02 Part 1 is missing a WCA feature guard"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13262

[2020-10-02 11:08] jngrad opened #3928 "Tutorial 01 randomly fails in CI"
The RDF check `atol=0.1` is too strict, failed with 0.10175872 ([logfile](https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/255261)).

[code]

@schlaicha

[2020-10-02 11:12] jngrad commented on #3928
I typically run stochastic tutorial tests in a loop to make sure the checks are not too strict (third code block in [wiki/Testing](https://github.com/espressomd/espresso/wiki/Testing#writing-tests-2)).

[2020-10-02 11:20] #3926 closed, assigned to christophlohrmann

[2020-10-02 16:11] jngrad commented on #3915
It now fails on ICP computer `sheep` at random. This could be a problem during the summer school.

[2020-10-02 19:14] jngrad commented on #3928
Using 46fd5f133a78c9e, 75 runs out of 1007 resulted in an RDF with `atol>0.1`:
![histogram of the RDF check](https://user-images.githubusercontent.com/42201407/94960895-ec1fc080-04f3-11eb-8962-e236989ccf11.png)

[code]

[2020-10-02 19:22] schlaicha commented on #3928
I briefly discussed today offline with @RudolfWeeber , I will add add a seed to the numpy.random calls which removes the stochastic nature of the test.

[2020-10-03 18:47] jngrad opened #3930 "Simplify code review of tutorials"
Currently, solution cells contain python code wrapped in fenced blocks in markdown cells. The idea was to prevent the user from running the solutions by clicking on `Run All`. However, during hands-on sessions, tutors make sure the participants go through the cells one by one. During self-teaching, participants would presumably also go through cells one by one, because clicking `Run All` would put

[2020-10-03 21:47] RudolfWeeber commented on #3930
I find it important that solutions are hidden and that students who do the tutorials seriously attempt the exercises without seeing the solution.

Learning by doeing is much more effective than learning by reading.

Tutors will have to run the tutorials manually before teaching them, anyway, to be prepared themselves. So I’m not too worried about serious issues not getting noticed in time.

[2020-10-03 22:49] jngrad commented on #3930
This is probably a misunderstanding. This issue is not about hiding solutions, which we agree is important for didactic reasons. This is about making our life easier as maintainers and reviewers. Right now, to review and improve a tutorial, I have to convert all markdown cells to code cells, remove the backticks, do the changes and run the cells, add backticks, convert to markdown cells. Repeat th

[2020-10-04 02:33] espresso-ci opened #3931 "Tutorial 02 Part 1 cannot be exported to HTML"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/13271

[2020-10-04 07:57] RudolfWeeber commented on #3930
OK. Then I did not understand it. Let’s take it to the next core team jour fixe.

[2020-10-04 09:11] RudolfWeeber commented on #3915
My understanding is the following:
* The error occurs in the bisection which finds the best alpha for a given real-space cutoff.
* The error message means "You can't bisect if the evaluated function is not <0 on the one end and >0 on the other end of the bisection interval."
* In the MWE, this is the case, because the real space error for the cutoff which comes out of the previous tuning steps is

[2020-10-04 14:15] jngrad commented on #3931
The tutorial has changed but the CMake logic hasn't been updated accordingly ([logfile](https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/255447)):
https://github.com/espressomd/espresso/blob/4b6d3c5f0abb7c74e4baf7762c7e174c363c8c62/doc/tutorials/02-charged_system/CMakeLists.txt#L17-L20

[2020-10-04 14:20] reinaual commented on #3931
As far as i can tell this should be also wrong for the ferrofluid tutorials.

[2020-10-04 14:55] RudolfWeeber commented on #3931
Why was the CI green on the PR, then?

[2020-10-04 15:10] jngrad commented on #3931
Because this CI job runs only once in a week with a long runtime to make pretty plots in tutorials before pushing them to the website. We can't afford to block a GPU runner for half a hour at every CI pipeline. It's the same reason we check samples and tutorials with non-maxset config files only on nightly builds. Adding a small CI test to check if the variable substitution is valid will only shif

[2020-10-04 15:22] RudolfWeeber commented on #3931
I didn’t know that I have to check for this manually.

Let’s discuss what we can do about it at the core team meeting as well.

[2020-10-04 16:15] RudolfWeeber commented on #3931
I think, we want this:
https://stackoverflow.com/questions/51661076/gitlab-ci-cd-run-jobs-only-when-files-in-a-specific-directory-have-changed

[2020-10-04 18:27] jngrad commented on #3918
Thanks for posting this chart, I didn't realize how few of the new features were supported by nvcc. `std::optional` isn't supported, which would have been nice for the LB GPU thermostat. This was the only change I had in mind for the CUDA code though, so it's not a deal breaker. My main motivation here is to get C++17 in the C++ core. We can probably live with a C++14 restriction on the subset of

[2020-10-04 19:51] jngrad opened #3933 "Add extra scientific python package dependencies"
Wish list based on the summer school. Feel free to expand it.

* [`tidynamics`](https://joss.theoj.org/papers/10.21105/joss.00877)
   * offers: lightweight package for autocorrelation functions
   * why: avoids custom re-implementation of autocorrelation functions
   * where: only in the docker image for tutorials and samples
   * how: installed via pip
* [`pandas`](https://pandas.pydata.org/docs/