[2018-02-02 15:38] #1169 closed, assigned to fweik

[2018-02-02 15:38] #1809 closed, assigned to RudolfWeeber

[2018-02-02 15:46] pkreissl opened #1824 "CUDA device cannot be set via CudaInitHandle"
The following minimal example
[code]
yields
[code]
as expected, but throws
[code]
when trying to set the device.

[2018-02-02 16:04] #1806 closed, assigned to nobody

[2018-02-02 17:07] KaiSzuttor commented on #1824
works for me, but cannot set to 1

[2018-02-02 21:13] jonaslandsgesell commented on #1824
Did not work for me on cip machines.

[2018-02-03 10:11] KaiSzuttor commented on #1245
this is done, right?

[2018-02-03 10:15] KaiSzuttor commented on #1421
What is the decision here?

[2018-02-03 10:59] KaiSzuttor commented on #803
any update on that?

[2018-02-03 11:00] KaiSzuttor commented on #883
can we close this? @mkuron

[2018-02-03 11:01] KaiSzuttor commented on #903
does this issue still exist, is there a python interface minimal example?

[2018-02-03 11:03] KaiSzuttor commented on #952
duplicate of #945

[2018-02-03 11:03] #952 closed

[2018-02-03 11:40] fweik commented on #803
Iirc this was resolved on die mailinglist

On Sat, Feb 3, 2018, 11:59 AM Kai Szuttor <notifications@github.com> wrote:

[2018-02-03 12:03] #1735 closed, assigned to nobody

[2018-02-06 08:59] icimrak commented on #903
The affinity for OIF has currently no interface for python. In coming months I plan to make one and go through the C-code to make it work properly. So for now, this issue may be closed.

[2018-02-06 10:08] #903 closed

[2018-02-06 13:13] #1805 closed, assigned to fweik

[2018-02-06 13:20] RudolfWeeber commented on #1711
As I understand the state of affiars, the results from ESPResSo agree with those from Lamps. Do we close this issue or do we want an independent test, e.G. via Ewald expressions?

[2018-02-06 13:30] RudolfWeeber commented on #1439
Was removed.

[2018-02-06 13:30] #1439 closed, assigned to nobody

[2018-02-06 13:31] #1388 closed, assigned to nobody

[2018-02-06 13:56] RudolfWeeber commented on #1233
as I understand testsuite/stress.py, it tests the consistency of stress and pressure tensor.
And both contain the kinetic part.
Can this be closed?

[2018-02-06 13:58] #1144 closed, assigned to nobody

[2018-02-06 13:58] #1140 closed, assigned to nobody

[2018-02-06 14:01] #803 closed

[2018-02-06 14:54] #1807 closed, assigned to nobody

[2018-02-06 14:55] #1249 closed, assigned to rempferg

[2018-02-06 14:58] #1803 closed, assigned to fweik

[2018-02-06 15:35] #1650 closed, assigned to nobody

[2018-02-06 15:52] #1245 closed, assigned to nobody

[2018-02-06 17:30] #1117 closed, assigned to rempferg

[2018-02-06 18:27] #1801 closed, assigned to nobody

[2018-02-06 19:00] davidsean commented on #266
fixed via #1660

[2018-02-06 19:02] davidsean commented on #268
fixed by #1565

[2018-02-06 19:48] #266 closed

[2018-02-06 19:48] #268 closed

[2018-02-06 19:54] RudolfWeeber opened #1832 "P3M_GPU tuning Heisenbug"
Discussion is in #1769

[2018-02-07 10:29] KaiSzuttor commented on #1824
@jonaslandsgesell what was the error?

[2018-02-07 11:02] jonaslandsgesell opened #1834 "Documentation of formula for pressure and stress tensor is wrong"
http://espressomd.org/html/doc/analysis.html?highlight=pressure%20tensor#stress-tensor
The actual formula which is used, is not only the common virial part but there is some short range part which is calculated via the common virial expression and there is some long ranged part which is calculated via the Maxwell stress tensor formula. This needs to be properly documented.

Also it should be state

[2018-02-07 11:55] jonaslandsgesell commented on #1824
Same as Patricks

[2018-02-07 12:29] #1824 closed, assigned to nobody

[2018-02-07 12:54] KaiSzuttor commented on #1617
@fweik @RudolfWeeber the remaining observables seem to be last touched by you. Can you please provide a documentation for these?

[2018-02-07 12:59] KaiSzuttor commented on #239
is this a 4.0 Milestone project?

[2018-02-07 13:34] #1786 closed, assigned to nobody

[2018-02-07 13:44] KaiSzuttor commented on #1699
@uschille could you have a look? We lost our last in-house expert since this year... I had a look at the code but could not find the issue just by visual inspection and I'm not familiar with the implementation.

[2018-02-07 14:34] jonaslandsgesell opened #1835 "Move c_analyze.pxd to also existing analyze.pxd"

[2018-02-07 15:57] jonaslandsgesell opened #1837 "stress tensor components do not yield total stress tensor if summed up"
This adapted sample script which is shown below (I call it script.py for now) illustrates the behaviour.

Running the script via

works.
Setting a fene bond however instead of setting a harmonic bond then the script fails. You can achieve this behaviour via running the script with

Then the script fails if the lines
[code]
are not commented out. If those lines are commented out there seems to be u

[2018-02-07 16:10] uschille commented on #1699
I'll try but I'm not sure when I'll get to it (teaching 6 credits this spring).

[2018-02-07 16:11] jonaslandsgesell commented on #1837
In the case of a fene bond the bonded term seems to be 0 falsely (most of the time).

[2018-02-08 10:17] jonaslandsgesell commented on #1832
This may or may not be related but valgrind shows me an invalid read of size 8 during the tuning of the CPU P3M.

[code]

[2018-02-08 10:29] jonaslandsgesell commented on #1837
Checks were performed wrong:
```if (bonded_ia_params[i].type != 0) ... ```
had to be changed to
```if (bonded_ia_params[i].type != BONDED_IA_NONE) ...```

The same problem was present in the pressure calculation

[2018-02-08 10:45] jonaslandsgesell commented on #1742
By the way the user still has to comment out the lines i mentioned above, so one cannot use /usr/lib/valgrind/python.supp directly.

[2018-02-08 11:43] jonaslandsgesell commented on #1802
Can be closed

[2018-02-08 12:21] #1802 closed, assigned to jonaslandsgesell

[2018-02-08 15:15] jonaslandsgesell opened #1839 "Exclusions Documentation still valid?"
Is the following documentation (http://espressomd.org/html/doc/particles.html?highlight=exclusion) still valid? I remember discussions about that:

[code]

[2018-02-09 14:27] #1832 closed, assigned to nobody

[2018-02-09 14:35] jonaslandsgesell commented on #1837
What is strange though is that i observed undefined behaviour.

[2018-02-10 20:39] bogdan-tanygin commented on #1360
The PR has been opened.

[2018-02-11 18:13] fweik commented on #1839
No, that's not correct anymore, the check for the forces is on forces_inline.hpp:302 and only acts on the regular pair forces. Same for the energies.

[2018-02-12 23:07] junghans commented on #1032
Now failing on OpenSuse as well: https://bugzilla.opensuse.org/show_bug.cgi?id=1080642

[2018-02-13 08:36] #1777 closed, assigned to nobody

[2018-02-13 10:02] fweik opened #1847 "docs should contain a descibtion if the file structure"

[2018-02-13 10:26] KonradBreitsprecher opened #1848 "Test pickle checkpointing"
@davidsean @pkreissl @konradbreitsprecher

[2018-02-13 11:12] davidsean opened #1849 "sphinx doctest"
Test the code-blocks / snippets for (at the very least) correct syntax.

[2018-02-13 12:07] fweik opened #1850 "Energy minimization propagates other fields"
E.g. LB and Maggs. It also considers non-conservative forces, which makes no sense and yields in a force that is not the gradient of the internal energy, which results in the method not minimizing the energy.

[2018-02-13 12:23] fweik commented on #1776
Actually the version that is in the docs works too. Which one do we want to keep? I think the integrator variant is a little bit artificial, see also #1850.

[2018-02-13 12:24] fweik commented on #1850
It also does collisions and catalytic reactions.
I don't think this can be properly accommodated without its own integration loop, which in turn requires some refactoring.

[2018-02-13 13:36] RudolfWeeber commented on #1847
I put tht into the developer's guide at some point. Not sure whether
it is still up to date.

[2018-02-13 16:35] #1837 closed, assigned to nobody

[2018-02-14 07:00] jonaslandsgesell commented on #1711
To be honest. I would like to see an explicit, analytic test for the electrostatic part of the stress tensor. Otherwise how could one trust these results fully?

[2018-02-14 12:48] KaiSzuttor commented on #1849
http://www.sphinx-doc.org/en/stable/ext/doctest.html

[2018-02-14 13:35] davidsean commented on #1849
Yes (hence why I called this issue doctest). Someone needs to implement it, with espresso-related preambles and cleanup current snippets that have imports.

[2018-02-14 13:55] RudolfWeeber commented on #1849
Not sure if I understand this correctly. I think, we should restrict
ourselvs to syntactic checking. E.g., becuase there are placeholders
for user specific values in some snippets.
In some places, getting rid of tthem would make the docs more
difficult.
Syntactic correctness can still be achieved and checked by using valid variable names
for the place holders.

[2018-02-14 14:12] KaiSzuttor commented on #1849
I think it makes sense to check if the samples work if they are copy pasted to an empty textfile.

[2018-02-14 14:22] RudolfWeeber commented on #1849
On Wed, Feb 14, 2018 at 02:12:11PM +0000, Kai Szuttor wrote:

Many samples are not formulated in this way. E.g.,
http://espressomd.org/html/doc/advanced_methods.html#creating-bonds-when-particles-collide
but I'm sure there are a lots of others.
I'm not sure if inserting numbers into those samples would improve
things. But syntatic correcntess is surely worth checking.

[2018-02-14 14:26] KaiSzuttor commented on #1849
i was not here at the meeting yesterday, @KonradBreitsprecher  mentioned that this was discussed. what was the outcome?

[2018-02-15 12:34] pdebuyl commented on #1715
The connectivity list in H5MD is not tied to "one particle at a time". It is perfectly ok to have bonds for the following list:

    0 1
    0 2
    1 2
    2 3

for instance, where particle 0 has two bonds. Also, several connectivities can be provided for a given particles group. You can split, for instance, the FENE and harmonic bonds, etc.

Given the interaction with core data structures of ESP

[2018-02-16 08:57] KaiSzuttor opened #1854 "Quaternion reference axis not documented"
The reference axis for the quaternion representation of particle orientation is not documented.

[2018-02-16 09:27] RudolfWeeber commented on #1854
On Fri, Feb 16, 2018 at 08:57:52AM +0000, Kai Szuttor wrote:

http://espressomd.org/html/doc/running.html#integrating-rotational-degrees-of-freedom

[2018-02-16 09:40] hmenke commented on #1854
It is a bit confusing what is the actual issue here.  I have no idea what you mean by reference axis.  Perhaps you mean axis of rotation but that is encoded in the quaternion itself.  What is indeed not documented is the *initial orientation of the particle's director* which is `(0,0,1)` by default.

[2018-02-16 10:21] KaiSzuttor commented on #1854
Okay seems, i'm confused about the quaternions...

[2018-02-16 10:21] #1854 closed, assigned to nobody

[2018-02-18 16:52] fweik commented on #1228
There is more issues in the Actor class:

- Unpickling an inactive actor will activate it.
- Using set_params() on an inactive Actor will set params in the core.
- Activation and deactivation do not sync the parameters.

[2018-02-19 12:06] mkuron commented on #883
We don't have sanitizer builds yet. Easy to add though once we have our new build nodes running.

[2018-02-19 12:06] mkuron commented on #883
@KaiSzuttor, We don't have sanitizer builds yet. Easy to add though once we have our new build nodes running.

[2018-02-19 12:18] fweik commented on #1847
That's in the docs and up-to-date.

[2018-02-19 12:18] #1847 closed, assigned to nobody

[2018-02-20 09:02] fweik opened #1861 "DD has excess ghost communication"
The ghost communicator of the dd cell system updates the complete halo around the local box, even though only one side is needed to calculate the interactions.

[2018-02-20 09:42] #1247 closed, assigned to fweik

[2018-02-20 10:11] #1799 closed, assigned to nobody

[2018-02-20 13:44] fweik commented on #1661
Is this still relevant after #1845?

[2018-02-20 14:12] RudolfWeeber commented on #1850
I'd keep the system.integrator.set_steepest_descent() variant.
It's not clear to me whether or not the minimize energy class restores the old integ_switch after completion.

[2018-02-20 19:47] #1784 closed, assigned to nobody

[2018-02-21 10:09] #1699 closed, assigned to nobody

[2018-02-21 10:21] #1228 closed, assigned to fweik

[2018-02-21 11:46] RudolfWeeber opened #1865 "Lb cpu velocity interpolation close to boundaries may fail in some cases"
lb.cpp:lb_fluid_get_interpolated_velocity() contains a case switching
if the polisiton is close to an lbboundary.
distance >agrid/2: use the actual position
0<distance <agrid/2: Use agrid/2
distance<=0: Use velocity of the boundary.

When the boundary is at/close to a processor boundary, the code seems to try to  access lb nodes not on that processor in some cases.

Lb Gpu does not seem to have th

[2018-02-21 14:06] #1839 closed, assigned to nobody

[2018-02-22 14:08] #1461 closed, assigned to nobody

[2018-02-23 17:41] RudolfWeeber opened #1880 "Script interface doesn't terminate simulation due to unknown parameters"
s.constraints.add(shape=Wall(normal=(-1,0,0),distance=1),only_positive=0,penetrable=True)
Wall doesn't know "distance". But while an exception is printed, the simulation is not terminated

[2018-02-23 17:53] RudolfWeeber opened #1881 "ParticleSlice allows setting of non-existent particle properties"
[code]
`ParticleHandle` behaves correctly.

[2018-02-23 23:03] hmenke commented on #1881
That is just regular Python class behaviour.  I don't see anything wrong with that.
[code]

[2018-02-25 11:10] RudolfWeeber commented on #1881
On Fri, Feb 23, 2018 at 11:03:30PM +0000, Henri Menke wrote:

The other Es classes behave like built-in types. You cannot set
non-existing (or mis-typed) properties on ParticleHandle and System,
e.g.
s.time_Step =0.01
So I consider being able to set not-compiled in properties on a
ParticleSlice a bug. When you write
s.part[:].fix=1,1,1
you just expect particle to be fixed or get an error.

[2018-02-25 20:29] hmenke commented on #1881
Possibly relevant Stack Overflow post: [A Python “catch all” method for undefined/unimplemented attributes in classes
](https://stackoverflow.com/questions/16227657/a-python-catch-all-method-for-undefined-unimplemented-attributes-in-classes)

[2018-02-27 11:24] pdebuyl commented on #1661
I have been checking the samples recently (as you could guess from my other PR). I did file fixes mostly about simple Python 3 issues, even though some revealed issues in the source tree, see #1879 ).

There are still a few other issues.

An annoying one (I find) is the call to `__getstate__` as the typical Python style is to not access underscored methods in user-facing code. Also, in Python 3 th

[2018-02-27 13:04] jonaslandsgesell commented on #1661
__getstate__ is related to pickle https://docs.python.org/2/library/pickle.html
I would not remove all instances of __getstate__

[2018-02-27 13:09] pdebuyl commented on #1661
My message was confusing, sorry about this. I meant to remove the calls to `__getstate__` in the samples. Not to remove it from the code overall.

[2018-02-27 20:22] jonaslandsgesell commented on #1715
I think writing particles with multiple bonds in the format you proposed is possible. What is not possible so far is writing a bond which has 3 partners (e.g. for bonds that are anisotropic and depend on the location of a third particle).
To my understanding such a bond would be written as a 3-tuple
(0,1,2).
Unfortunately the way espresso stores these kinds of bonds is not the best I can imagine.

[2018-02-28 08:44] pdebuyl commented on #1715
The file format itself is generic. You can have as many datasets in `/connectivity` as needed.

A typical use case could be:
[code]

Where the first group is a fixed-in-time connectivity list for a pair potential, the second one a fixed-in-time connectivity list for an angular potential and the thid one the result of a polymerization process (note the extra time dependence indicated by the first v

[2018-02-28 16:02] gsitaru opened #1887 "Issue with tilted cylinder shape"
I have recently encountered a possible bug regarding the implementation of espressomd.shapes.cylinder that I would like to share with you.

I tried to run some Lattice-Boltzmann simulations to study the flow around a cylinder and I realized that, unless the cylinder axis is aligned to one of the three axis, the resulting shape is not a cylinder anymore. If one tries to implement and analyze a tilt

[2018-02-28 18:23] jonaslandsgesell opened #1889 "Feature Catalytic Reactions in Espresso"
The description of the feature seems odd to me since one can constantly introduce energy into the system with this freature (till time infinity). With a fixed number of reactants it is in reality not possible to create an infinite amount of energy. Therefore this feature violates energy conservation and is not thermodynamically correct. I would at the very least warn the users that this is not a f

[2018-02-28 19:35] fweik commented on #1889
What?

[2018-02-28 20:32] hmenke commented on #1889
Reference http://espressomd.org/html/doc/advanced_methods.html#catalytic-reactions

Please keep in mind that this feature is used to study non-equilibrium phenomena, like surface reaction induced self propulsion of an anisotropic colloid.  Therefore it is not really valid to argue about conservation of energy anyway.

[2018-03-01 07:19] jonaslandsgesell commented on #1889
Still I do not see how real catalyzers would behave in that way. Calling it a catalyzer is to my mind not correct. The feature does something artificial and cannot be derived from the behaviour of a catalyzer.

[2018-03-01 09:13] kosovan commented on #1889
@jonaslandsgesell what is the problem wit this reaction? This really works as described in the documentation, see e.g. https://www.nature.com/articles/srep42264 or many other articles on the topic.

In the experiment, the energy is stored in H2O2, and the presence of the catalyst lowers the activation barrier to release this energy by a chemical reaction. The amount of H2O2 in the system is suffic

[2018-03-01 09:45] jonaslandsgesell commented on #1889
Hi Peter
reading the documentation http://espressomd.org/html/doc/advanced_methods.html#catalytic-reactions I conclude there are janus particles which have one catalyst C+ on the top and one catalyst C- on the bottom. Further there is a chemical reaction involved that can convert species A into species B.
A<-> B
A catalyst cannot change the position of chemical equilibrium. If A is to be preferabl

[2018-03-01 09:49] kosovan commented on #1889
This is a non-equilibrium system. The catalyst changes the rate at which the system approaches equilibrium. Without catalyst this rate is close to zero, with catalyst the rate is finite but still small enough that the system remains out of equilibrium on a macroscopic time scale.

[2018-03-01 09:53] jonaslandsgesell commented on #1889
Non-equilibrium or not. I never saw that a catalyst (at the *same * environment where another catalyst splits 2H2O into 2H2O and O2) generates 2 H2O2 out of O2 and 2 H2O. This would be awesome and would solve a lot of energy problems humanity has.

[2018-03-01 10:05] kosovan commented on #1889
@hmenke is right, you cannot apply equilibrium arguments to this system. Or, at least, you have to apply them very cautiously.

@jonaslandsgesell is also right that the reactions should run (in principle) in both directions.

But this system is intentionally designed to remain off-equilibrium as long as possible. It is far enough from equilibrium that the other direction can be neglected. In the e

[2018-03-01 10:27] jonaslandsgesell commented on #1889
Let s say on the way to equilibrium A would be converted mainly to B.
Starting from a non-equilibrium situation (mainly A, no B) a real system would create more and more B since it tends to reach equilibrium.
In experiment there is so much A that gets converted to B which will create energy for the janus particle to move.

Regarding the simulation: If A would be constantly added and B removed from

[2018-03-01 13:30] jonaslandsgesell commented on #966
There are now even more tests. Can this be closed?

[2018-03-01 19:53] pdebuyl commented on #1889
As far as "particle-based simulations of catalytically self-propelled colloids with explicit solvent" go, there are two main methods:

1. "resetting": if the catalyst acts as "A+C -> B+C", change B to A far away enough from the colloids. This the method used in Rückner & Kapral 2007 https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.98.150603
2. bulk counter-reaction (B->A with well-defined

[2018-03-02 08:29] jonaslandsgesell commented on #1889
Awesome. So we agree that resetting the particle species from the less energetic B (H2O and O2) to A (e.g. H2O2) is not happening in reality through means of a "catalytic" chemical reaction but by exchanging particles with a bulk. I was criticizing that resetting the particle of type B happens through a chemical reaction here. This suggests this behaviour was chemical reality (which it is not). Th

[2018-03-02 08:58] hmenke commented on #1889
@jonaslandsgesell Better change the names in the documentation and interface from “Catalytic Reactions” to “Chemical Reactions” and “catalyzer” to “converter”.  I hope that makes it less ambiguous.  I don't really care what it is called.

[2018-03-02 09:06] kosovan commented on #1889
@jonaslandsgesell I suggest that you talk to Georg before you start making changes there. I do not remember all the details but as far as I know, all approximations in the model seemed well justified to me at the time when we were discussing it. Note that "catalyst" (not catalyzer) is a well established term, "converter" is not.

@hmenke calling it "Chemical reactions" is too generic and could be

[2018-03-02 09:07] jonaslandsgesell commented on #1889
@hmenke Well the warning is partially about the mechanism why the particle moves. If the energetic particle A (H2O2) is converted to B (H2O and O2) this releases Delta_R G in energy. This energy (or parts of it) are used in experiment to propel the active swimmer.
However in this feature a back reaction on the other side is performed this conversion however would use up exactly Delta_R G in energy

[2018-03-02 09:14] fweik commented on #1889
@kosovan I think the original implementation is by @hmenke and @jdegraaf, not by Georg.
@jonaslandsgesell If you update the docs anyhow can you please also rename the files from `reaction.{hpp,cpp}` to `catalytic_reaction.{hpp,cpp}` or whatever you settle on name-wise.

[2018-03-02 13:58] pdebuyl commented on #1889
The `CATALYTIC_REACTION` feature is documented best in tutorial 09 (by @hmenke and @jdegraaf ). It is designed for bimetallic types of swimmers and the mechanism is a bit different than what I mention in the references above in that the overall effect here is a swapping. There is thus no need to "refuel".

I don't know if ESPResSo plans for other types of catalytic reactions, in which case a speci

[2018-03-02 16:09] jonaslandsgesell commented on #1889
I think it s not appropriate to call it catalytic reaction. The backward reaction (creation of H2O2) is not happening spontaneously (on average) - if there is a catalyst or not. The feature however claims to perform a *reaction* that recreates H2O2 at one catalyst.

[2018-03-02 16:11] fweik commented on #1889
@pdebuyl just to be clear on that: `espressomd.reaction.Reaction` is part of the reaction ensemble feature, which is not the type of reactions we're discussing here.

[2018-03-02 16:57] jdegraaf commented on #1889
Dear All,

Sorry for putting my two cents in at such a late point in the conversation.

The reaction feature was developed by Georg together with the Italian
postdoc (Francesca Lugli?) who was at the ICP a long time ago. This was
done for the purposes of modeling self-propelled particles. However, that
project ultimately went nowhere and when I came to the ICP we rewrote it,
broke it, and turned i

[2018-03-02 18:32] jonaslandsgesell commented on #1889
Indeed there reappeared plans to do some real catalytic reactions. Sounds like we want to discuss with you before touching anything further ;-) Renaming the feature to swimmer_reaction and touching the documentation a little, leaving a note would resolve the problems I had with this feature.

[2018-03-05 14:26] RudolfWeeber commented on #966
(lack of) coverage reported on the src/core/shapes/ folder says, this ticket should stay open.

[2018-03-05 17:24] RudolfWeeber opened #1892 "Ctrl-C does not interrupt integration loop"
Waiting for an integrator.run(10000) to complete...

[2018-03-05 17:34] RudolfWeeber commented on #1892
this only occurs when pypresso is called without mpirun

[2018-03-05 17:38] fweik commented on #1892
Well if you want that you have to add a signal handler to espresso (or spawn a additional thread that checks PyErr_CheckSignals periodically). Or we could return control to python every now and then. The latter would be the preferred solution if this does not change behavior (I think it might).

[2018-03-06 04:32] hmenke commented on #1892
Just [`kill`](https://linux.die.net/man/1/kill) it?

[2018-03-06 06:21] KaiSzuttor commented on #1892
well, that's not a solution, I expect a python script to quit via ctrl-c

[2018-03-06 19:41] #1779 closed, assigned to nobody

[2018-03-06 21:06] fweik commented on #1795
Can you please provide a minimal script that demonstrates the issue?

[2018-03-06 22:08] fweik commented on #1795
The implementation of `__getstate__` of `System` only saves attributes that are in `setable_properties`, which excludes `_active_virtual_sites_handle`. Since unpickeling also does not run the constructor, `_active_virtual_sites_handle` is not initialized, and there for `None`, which causes the error. It's very well possible that this affects other properties too.

[2018-03-07 09:54] KaiSzuttor opened #1894 "CI: Lees-Edwards is not tested"
[code]

[2018-03-07 14:05] fweik commented on #1894
Ah, it needs a test group now. Will fix.

[2018-03-08 15:33] fweik opened #1897 "Setting CellSystem.min_num_cells has no effect"
For the DD, this eventually triggers`dd_topology_init`, which resets `min_num_cells` to its default value.
Also, the topology reinit should only be run if if current number of cells is smaller than the new `min_num_cells`.

[2018-03-09 09:40] helvrud opened #1898 "espresso hangs on addresisng to system.part[:].type"
espresso hangs when trying to run
system.part[:].type
Does not matter if it is "type" or "pos",  for example

But it works when it is just
system.part[:]

[test.txt](https://github.com/espressomd/espresso/files/1796290/test.txt)

[2018-03-09 10:34] fweik commented on #1898
Can you please provide a minimal example that demonstrates the issue? In
general the slicing works and is tested.

On Mar 9, 2018 10:40 AM, "helvrud" <notifications@github.com> wrote:

[2018-03-09 14:17] KunTares opened #1899 "Adding EKBoundary resets species density to initial value everywhere"
Adding an EKBoundary resets the density of all species in all cells back to the value they were initialized with.

[2018-03-10 03:52] hmenke commented on #1898
I ran the script attached by @helvrud in GDB to get a backtrace from where it hangs.  Looks like an MPI deadlock triggered by `len(s.system.part[:].type)`.
[code]

[2018-03-13 09:34] KaiSzuttor opened #1902 "clang-tidy fails on get_value unit test"
The lines that causes the erros are currently NOLINTED, see https://github.com/KaiSzuttor/espresso/blob/11645e86b47882f991997999dd88ac05caf07d28/src/core/unit_tests/get_value_test.cpp

[2018-03-13 09:55] mkuron commented on #1902
I think I'll upgrade the docker image to Clang 6.0 and see what `NOLINT`s are still necessary.

[2018-03-13 10:16] fweik commented on #1902
Can you please check if
[code]
fixes the issue? This is less drastic than nolint.
I'll check boost.variant to see if there is a real issue here.

[2018-03-13 17:32] #1881 closed, assigned to nobody

[2018-03-14 08:27] KaiSzuttor commented on #1902
This does not help.

[2018-03-14 09:56] bogdan-tanygin opened #1905 "Thermo test readability improvement"
I will refactor the test mass-and-rinertia_per_particle.py in order to make it more readable according to advices of @KaiSzuttor.

[2018-03-15 10:26] KaiSzuttor opened #1908 "Subprojects should not be part of the coverage analyis"
```libs``` folder should be excluded

[2018-03-15 10:58] #1880 closed, assigned to nobody

[2018-03-15 11:51] #1908 closed, assigned to nobody

[2018-03-16 09:13] KaiSzuttor commented on #1617
@kosovan, I just noticed that you seem to be the author of the StressTensor observable calculation. Could you please provide documentation for the observable?

[2018-03-19 09:37] kosovan commented on #1617
@KaiSzuttor I could document the Stress Tensor but the question is in what timeframe. Next two weeks I will be pretty busy because of some project deadline.

[2018-03-19 12:56] pkreissl opened #1915 "`testsuite/thermalized_bond` test fails when run in parallel on 8 cores"
[code]
yields
[code]

[2018-03-19 12:57] pkreissl opened #1916 "`testsuite/thermalized_bond` test fails when run in parallel (4, 5 cores)"
[code]
yields
[code]
(also for `-n 5` cores).
Works again for `6` or `7` cores.
For 8 cores, it fails with different error, see #1915

[2018-03-19 14:39] bogdan-tanygin opened #1917 "Brownian Dynamics: anisotropic moment of inertia support"
Non-linear components of the rotational Euler's EOM have not been taken into account (by myself) within the PR #1842. Probably, we (me) need to make some calculations and prepare new PR with corresponding capabilities (in case if a closed-form solution exists there at all). Meanwhile, I've added the documentation to the #1842 with a corresponding limitation description.

[2018-03-19 14:43] bogdan-tanygin commented on #1917
This could be a fundamental limitation of the BD in case of an unstable stationary terminal drag motion possibility under some external torque applied. Similarly like the Dzhanibekov effect but for the viscous drag. I'll check, maybe someone already knows an answer.

[2018-03-20 08:59] KaiSzuttor opened #1919 "dpd testcase sporadically fails"
see e.g. https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/15000

[2018-03-23 11:38] #1795 closed, assigned to KaiSzuttor

[2018-03-23 14:01] #1463 closed, assigned to nobody

[2018-03-26 12:34] KaiSzuttor commented on #1848
we still need more components tested

[2018-03-28 15:18] KonradBreitsprecher commented on #1916
The problem here was the decreased sample length.. should be fixed with #1930

[2018-03-28 17:00] KonradBreitsprecher commented on #1915
This is vague, but it seems to be related to n_squared, ghosts, ghosts_have_v.
Same error happens with 8 cores and the DPD testcase using n_squared.
Both set ghosts_have_v. Will investigate further...

[2018-03-28 17:24] RudolfWeeber opened #1932 "The fake-open() which opens temp files has to be removed from the samples"
A user expects the file that's being written into it.
Fro some samples, it is also necessary (store_properties)
When a tempfile is intended, that needs to be visible

[2018-03-28 17:47] RudolfWeeber commented on #1661
Regarding the __get_state__(): Some parts of Espresso do not have __str__() implemented yet, so __get_state__() is the only way to get the data.

More generally, the tests would still benefit from a clean up in the sense of removing outdated and duplicate stuff.

My impression is that this is not urgent for the release though, so I'm de-milestonin this for 4.0

[2018-03-29 13:02] KaiSzuttor opened #1935 "LBBoundary can not be removed"
[code]

[2018-03-29 14:45] fweik commented on #1915
I'm looking into this right now.

[2018-03-30 07:54] RudolfWeeber opened #1937 "Removing dipolar p3m keeps some parameters which constrain tuning when re-adding it"
May well apply to charge p3m too, since they have similar deactivation code

[2018-03-30 08:17] pdebuyl commented on #1661
Hi @RudolfWeeber

When I run `samples/lj_liquid.py` under Python 3, the output is

[code]

That occurs on the line `pprint.pprint(system.__getstate__(), width=1)` of the program.

`samples/save_checkpoint.py` and `samples/load_checkpoint.py` work fine however.

[2018-04-01 10:35] RudolfWeeber commented on #1661
I can reproduce this, but do not understand the cause.
The individual keys and corresponding values in the reutnr value of System.__getstate__()
can be pretty-printed. Just not the entire thing.
THe problem goes away when one leaves out the width=1 option.
I'll put that into #1933 for now, until someone has a better-informed solution.

[2018-04-01 13:09] RudolfWeeber commented on #1661
+ a bunch of further py3 fixes, mostly related to file modes and str/bytes

[2018-04-02 00:51] hmenke opened #1938 "Checkpointing is broken"
Restoring a checkpoint results in things being discarded.  Unfortunately I don't know why.

Here is a “minimal” sample script
[code]
When I run this script and exit using Ctrl+C somewhere during equilibration and then restart the script, all the dynamics get lost.  As you can see, after restoring none of the energies change anymore (which shouldn't happen because there is a thermostat present).
[c

[2018-04-02 14:23] RudolfWeeber commented on #1398
Fix has been merged

[2018-04-02 14:23] #1398 closed, assigned to nobody

[2018-04-02 14:23] RudolfWeeber commented on #1397
Fix has been merged

[2018-04-02 14:23] #1397 closed, assigned to nobody

[2018-04-04 09:38] hmenke commented on #1938
Can somebody please confirm?

[2018-04-04 09:59] KaiSzuttor commented on #1938
Maybe we should try to get the testcase PR #1940 running and check more parts, i.e. also the thermostat

[2018-04-05 07:51] jonaslandsgesell opened #1942 "Convert all 0/1 flags to True, False in the python interface"
E.g. (and at *all* the other occations - which one would need to find)

[code]
should read:
[code]
this can be easily achieved e.g. in the interface. It would be a task for a Hiwi.

[2018-04-05 09:23] hmenke commented on #1942
That is probably a remnant from the TCL interface.  On the other hand, the integers are implicitly convertible to boolean, so the “wrong” syntax will remain valid.  Furthermore I believe that `particle_type` should *not* be a boolean.

Relevant lines:

https://github.com/espressomd/espresso/blob/ea28f3cb1f53f504be5282f7326a4c061d745577/src/core/constraints/ShapeBasedConstraint.hpp#L47-L48

https:/

[2018-04-05 09:48] #1915 closed, assigned to KonradBreitsprecher

[2018-04-05 09:50] fweik commented on #1942
The only implicit type conversions in the script interface are int -> float, this is on purpose because implicit conversions are evil. For the constraints class you can just change the core variable to bool, the rest is automatic, as Henri pointed out.

[2018-04-05 12:39] jonaslandsgesell commented on #1942
I want this to be replaced everywhere, shape based constraints are not the only occasion. Another arbitrary occasion is create_polymer(...,constraints=0) etc. I guess there are so many occasions that a student assistent could look for all these occasions and remove them.
Another arbitrary example is system.periodicity=[0,1,0], which coule more intuitively be [False, True, False]

[2018-04-06 11:40] KaiSzuttor commented on #1938
@hmenke please check PR #1940 and see if your issue is still there

[2018-04-08 23:03] hmenke commented on #1938
@KaiSzuttor No change:
[code]
Just for reference:
[code]

[2018-04-09 12:15] #1776 closed, assigned to nobody

[2018-04-09 13:51] KaiSzuttor commented on #1938
[code]

gives the following output:
First run:
[code]
Second run:
[code]

[2018-04-10 06:59] KaiSzuttor opened #1943 "Collision detection not able to checkpoint"
see https://travis-ci.org/espressomd/espresso/jobs/364132063

[2018-04-10 07:01] fweik commented on #1943
Any ideas as to why that is?

On Tue, Apr 10, 2018, 08:59 Kai Szuttor <notifications@github.com> wrote:

[2018-04-10 07:07] hmenke commented on #1943
It might not be the case, but it is possible that you run into this problem at some point, so I wanted to make you aware of it.

Python 3 strings are not compatible with C++ `std::string` which leads to a loss of data when passing a string from Python to C++.  This used to blow up our serialization in the [pairinteraction project](https://github.com/pairinteraction/pairinteraction/blob/0f5bd7ff844

[2018-04-10 07:24] fweik commented on #1943
Wouldn't you use `bytes` anyway in python 3? In my understanding the standard string class implies unicode. According to the cython docs `std::string` is convertible to and from `bytes` (== a char array), but not from `str`.

[2018-04-10 07:49] KaiSzuttor opened #1944 "ek tests sporadically fail"
seems like #1931 introduced the failing checks.

[2018-04-10 09:40] pdebuyl commented on #1661
The error went away, thanks.

I maintain though that promoting via the samples the call to a doubly underscored method is not recommended. I know PEP8 is not to be followed always but this part is really enforced by the large majority of Python code

From https://www.python.org/dev/peps/pep-0008/#designing-for-inheritance

[2018-04-10 11:49] pkreissl opened #1946 "Visualization of Flow Directions Incorrect"
The visualization of flow directions using the openGL visualizer seems to have a probrem. When running the Poiseuille flow sample `samples/visualization_poiseuille.py`, the arrow heads and stems start to point into a wrong direction after some time.
I believe this issue already existed at some point and was fixed by @KonradBreitsprecher.

![visualization_opengl_0](https://user-images.githubusercon

[2018-04-10 12:05] KonradBreitsprecher commented on #1946
Yes I know more or less where this comes from.. will fix, thanks.

[2018-04-10 16:41] RudolfWeeber commented on #1661
I agree. We are, however, postponing further updates to the sample to the 4.0.1 release.

[2018-04-11 14:05] KaiSzuttor opened #1947 "Implement proper fluid interpolation near boundaries for CPU and GPU LB"
Testcase:
 - Couette flow:
    Interpolated velocity linearly decreases until zero exactly between fluid node plane and boundary node plane

[2018-04-12 08:16] #1916 closed, assigned to KonradBreitsprecher

[2018-04-13 09:19] jonaslandsgesell commented on #1898
Fixed via commit d172e52bb2afbf61d9f867fb240a74919a801d96 in PR #1895
There was an update of particle_node in remove_particle() in particle_data.cpp missing which ended up in particle_exists() to falsely report a particle to exist. Therefore the particle_slice.id_selection in geta() in particle_data.pyx contained ids which were not existing. This resulted in espresso hanging.

[2018-04-13 11:49] #1898 closed, assigned to nobody

[2018-04-16 12:23] #1617 closed, assigned to nobody

[2018-04-16 16:28] #1850 closed, assigned to fweik

[2018-04-18 02:07] hmenke commented on #1938
I have adapted my example to your reduced syntax but it's not fixed.  What am I doing wrong here?
[code]

[code]

[2018-04-18 02:16] hmenke commented on #1938
Actually, your example doesn't work for me either.
[code]
For what it's worth
[code]
Addendum: It also doesn't work with `maxset.hpp`.

[2018-04-18 08:45] KaiSzuttor commented on #1938
I've just built the same commit with the same features enabled and cannot reproduce your issue. Please don't mark an issue as a bug if its not confirmed.

[2018-04-18 08:49] KaiSzuttor commented on #1938
[code]
gives
[code]
Maybe check that?

[2018-04-18 08:50] KaiSzuttor commented on #1938
BTW, we now have tests with the docker container, please try it with one of those and if it works compare your system with the container system.

[2018-04-18 15:28] AlexanderDKazakov commented on #1938
Can it be connected with python version? I have python 2.7.14 and I have the same issue as @hmenke has. What python version do you have?

Now I have compiled the last commit. Here output (I added system.time as well):
[code]
[code]

[2018-04-18 15:44] AlexanderDKazakov opened #1953 "Types of particles"
I am attaching the simplest code for representation of the issue.

Initially after initialization of the system espresso returns the number of type particles = 1. Finally, it returns 6, but types of particle are only 2.
[code]

Output:
[code]

[2018-04-18 17:28] KaiSzuttor commented on #1953
If you look into the core, you see the it states
[code]
so its not the number of types in the system but the type with largest integer.

[2018-04-18 17:31] KaiSzuttor commented on #1953
The relevant part is actually in particle_data.cpp:
[code]

[2018-04-18 18:08] RudolfWeeber commented on #1953
Is the conclusion that n_part_types in the Python interface needs to be renamed?
To actually get the number of used types:
len(set(s.part[:].type))

[2018-04-18 18:24] KaiSzuttor commented on #1953
yes im for renaming, the only usecase i can imagine is to automatically choose an unused type.

[2018-04-18 21:02] hmenke commented on #1953
We could rename it to, say `max_part_types` or `max_seen_type` (akin to the core variable `max_seen_particle`).

[2018-04-18 21:37] AlexanderDKazakov commented on #1953
Aha! Okay. Now it becomes clear! Thank you!

PS. However, probably this function is not so necessary. Because it just takes last value of inserted type and increases this value by one. But maybe I am wrong.

[2018-04-19 07:14] KaiSzuttor commented on #1938
I have just checked with python version 2.7.14 and did not had the issue. So it doesn't seem to be related to the python version.

[2018-04-19 11:34] hmenke commented on #1938
Python 2.7.12 and pickle 72223 here (Ubuntu 16.04 LTS https://packages.ubuntu.com/xenial-updates/python).

[2018-04-19 12:08] #953 closed

[2018-04-19 12:08] #1381 closed, assigned to nobody

[2018-04-19 15:54] AlexanderDKazakov commented on #1938
I build espresso using Docker. Checkpointing is working as expected. It is weird.

[2018-04-20 12:54] pdebuyl commented on #1938
Ubuntu 16.04 LTS, Python 3.5.2, no issue as far as I can tell.

[code]

[2018-04-24 18:54] pdebuyl commented on #1421
Some Python projects have something along the lines of

[code]

or

[code]

with the precise meaning in a file `AUTHORS` (that espresso has already anyway) or in the changelog (numpy for instance).

I don't know the intent here, or the importance of keeping explicitly the MPI Polymer name.

[2018-04-25 07:30] hmenke commented on #1938
I have tried with a fresh clone from GitHub and `maxset.hpp`, to make sure that it wasn't due to my build directory being polluted but it still doesn't work.  Here is the output of `cmake -LAH .` to see all the variables: https://hastebin.com/raw/zuxahizazi
As already noted, I'm on Ubuntu 16.04 LTS with compilers and libraries from the official repos.

Addendum: I compared my installed versions of

[2018-04-25 11:07] fweik commented on #1938
That it does not work in docker is really odd. Can you tell me the exact container (hash) you used?

[2018-04-25 16:28] #1946 closed, assigned to nobody

[2018-04-26 01:23] hmenke commented on #1938
@fweik
[code]
That's the latest of tag `latest` (just pulled yesterday).  Here is the [DockerHub build log](https://hub.docker.com/r/espressomd/espresso-ubuntu/builds/b7l9cditk4aqlg3eccjgrgg/).

[2018-04-26 07:03] #1889 closed, assigned to nobody

[2018-04-26 07:03] jonaslandsgesell commented on #1889
Closed with PR

[2018-04-26 10:20] fweik commented on #1889
Next time please just add a "Fixes/Closes ..." to the PR so it closes automatically with the PR.

[2018-04-26 10:31] fweik commented on #1938
I can reproduce the issue in docker, here is the log:

[code]

[2018-04-26 10:40] hmenke commented on #1938
You don't even need `maxset.hpp`.  The default configuration doesn't work either.

[2018-04-26 11:02] fweik commented on #1938
The issue is not related to the thermostat, which is restored correctly. The system is no longer integrate after loading the checkpoint. The reason is that Integrator._method is set to None, which makes run return directly.

[2018-04-26 11:06] fweik commented on #1938
So this can be fixed by adding appropriate `__setstate__` and `__getstate__` to espressomd.Integrator.

[2018-04-26 11:09] KaiSzuttor commented on #1938
But why does it work for me outside of docker?

[2018-04-26 11:11] hmenke commented on #1938
It might be a good idea to add an else branch throwing an exception to `run()`, such that inconsistent state is detected earlier.
https://github.com/espressomd/espresso/blob/0aad12ec6d19030045288cdea76062d53da24eeb/src/python/espressomd/integrate.pyx#L39-L70

[2018-04-26 11:14] fweik commented on #1938
Doesn't work for me outside of docker either, no idea what you did. Exactly the same behaviour on my machine.
@hmenke Would be a good idea if python had switch and enums :-)

[2018-04-26 11:16] fweik commented on #1938
@KaiSzuttor Can you please add the missing pickling functions to `Integrator` and extend the checkpoint test so that this is caught?

[2018-04-26 13:00] #1938 closed, assigned to KaiSzuttor

[2018-04-27 00:53] hmenke opened #1960 "Restoring checkpoint hangs with multiple threads"
Just when you thought it was over...

Here is my (not so) minimal script:
[code]
Reproducible in the Docker container with `maxset.hpp`.
[code]
---

It runs fine in a single thread but I noticed that after restoring the checkpoint the integration seems to be much slower than before.
![test](https://user-images.githubusercontent.com/1903556/39339135-2ad5eb7e-4a1b-11e8-8c7b-9c2ad9d35415.gif)

[2018-04-27 06:29] RudolfWeeber commented on #1960
There is at least an mpi deadlock in the setter for gamma_rot. Fix
will come some time today.

[2018-05-02 10:29] hmenke commented on #1960
What is the status?

[2018-05-02 21:11] RudolfWeeber opened #1963 "py: particle id is writable"
p=s.part[0]
p.id=17

Because id is a standard python attribute.

[2018-05-03 10:55] fweik commented on #1960
Fix was in #1962, which was merged today.

[2018-05-03 11:38] fweik opened #1965 "Increase required C++ version to C++14"
Maybe also update cython and boost.

[2018-05-03 11:48] fweik commented on #1963
This should be a read-only property ?

[2018-05-03 16:25] KaiSzuttor opened #1968 "actors not checkpointed"

[2018-05-03 19:38] #1963 closed, assigned to nobody

[2018-05-03 23:06] #1960 closed, assigned to nobody

[2018-05-03 23:09] hmenke opened #1969 "Massive performance loss after restoring checkpoint"
[code]
After restoring the checkpoint, integration is a **factor of 5 to 6 slower!**

This is reproducible in the latest [`espressomd/espresso-ubuntu`](https://hub.docker.com/r/espressomd/espresso-ubuntu/) container with `maxset.hpp`.
[code]

[2018-05-04 07:57] fweik commented on #1969
At least part of the issue is that verlet lists are disabled after loading the checkpoint.

[2018-05-04 08:05] fweik opened #1970 "DD chooses bad default values"
The domain decomposition chooses default values that have very poor performance, because it does not take into account that the box needs not be cubic. E.g. if you have a `[10, 10, 100]` box and 3 nodes, Espresso will use a `[3, 1, 1]` node grid thus using `[3.33, 10, 100]` local boxes instead of the much saner `[10,10, 33]` and a `[1, 1, 3]` node grid.

[2018-05-04 08:09] fweik opened #1971 "Domain decomposition does not obey min_num_cells"
[code]
shows `'min_num_cells': 8`, but `'cell_grid': array([1, 1, 1])`, which are incompatible.
Also it chooses the largest possible cell size, which results in poor performance, because
it maximizes the size of the the ghost layer to the whole box (in every direction).

[2018-05-04 10:07] fweik opened #1973 "Force is not invalidated if the system is changed."
If the system is changend, e.g. a particle added or moved, the forces are not invalidated or recalculated,
leaving the system in an invalid state. They are only corrected if the integrator is run, e.g. `system.integrator.run(0)`.

[2018-05-05 00:42] hmenke commented on #1973
That is nothing new.  This was already the case with the TCL interface and it was common practice to issue `integrate 0` to “update the configuration”.  I think having good documentation would be the best remedy to this issue rather than trying to catch all the corner cases.

[2018-05-05 18:54] fweik commented on #1973
Actually the state tracking code exists because it is used to invalidate e.g. the energy. So it's not hard to fix this.

[2018-05-08 12:07] KaiSzuttor commented on #1919
fixed in #1945

[2018-05-08 12:07] #1919 closed, assigned to nobody

[2018-05-08 12:32] KaiSzuttor commented on #1969
Fixed in #1974

[2018-05-08 12:52] KaiSzuttor commented on #1511
fixed in #1948

[2018-05-08 12:52] #1511 closed, assigned to nobody

[2018-05-08 12:56] #1162 closed, assigned to nobody

[2018-05-08 12:58] KaiSzuttor commented on #992
fixed in #1734

[2018-05-08 12:58] #992 closed

[2018-05-08 12:59] #627 closed

[2018-05-08 13:14] #1953 closed, assigned to nobody

[2018-05-08 13:32] fweik commented on #1702
We decided to remove the FEATURE as it can be easily replaced by a tabulated potential.

[2018-05-08 14:01] #1731 closed, assigned to nobody

[2018-05-08 14:21] hirschsn commented on #1970
`MPI_Dims_create` (which is currently used) cannot do that as the standard mandates that the output must be in descending order (and the dims themself as close to each other as possible). Also, sorting the `dims` array w.r.t. `box_l` is not a solution as you want `[1, 1, 9]` in your example for 9 processes and Dims_create gives you `[3, 3, 1]`.

As I needed exactly this functionality once, I wrote

[2018-05-08 15:34] #1702 closed, assigned to nobody

[2018-05-09 06:48] #1944 closed, assigned to nobody

[2018-05-09 08:05] hirschsn commented on #1861
Since we use half-shell on a cell-basis and employ the same neighborhood on all cells, we could in total save only one of the current 6 communications.
Assuming row-major, the half-shell neighbor access pattern for cell `O` looks like follows in 2d:

[code]

For a subdomain (local cells `O`, ghost cells `X`) with more than one cell in each direction this implies the following ghost layer requireme

[2018-05-11 10:08] RudolfWeeber commented on #1943
This also depends on being able to control the order of restoring stuff, because the bonds used in the collision deteciton have to be present

[2018-05-14 12:07] #1968 closed, assigned to nobody

[2018-05-14 12:07] #1969 closed, assigned to nobody

[2018-05-16 15:45] helvrud opened #1981 "Constant pH hangs"
I tried to simulate constant pH ensemble and discovered the following

In archive the files test_one.py and test_two.py differ only in the number of added particles (line 66)
The first script hangs terminal, another runs...

Yet another issue is when I run test_three.py i get `RuntimeError: Particle node not found!
`. This script differs from test_two.py by presence of the reactions from ReactionE

[2018-05-16 18:50] jonaslandsgesell commented on #1981
Hey Oleg, I m on vacation. I will look into this as soon as I am back ~ 1-2 weeks.

[2018-05-22 12:32] RudolfWeeber opened #1983 "ESPResSo cannot be built with cuda at icp"
gcc/cuda compiler incompatibilty?
[...]
-- Found CUDA: /usr (found suitable version "7.5", minimum required is "7.0")
-- Found MPI_C: /usr/lib/openmpi/lib/libmpi.so
-- Found MPI_CXX: /usr/lib/openmpi/lib/libmpi_cxx.so;/usr/lib/openmpi/lib/libmpi.so
-- Boost version: 1.58.0
[...]

[  2%] Building NVCC (Device) object src/core/CMakeFiles/EspressoCuda.dir/EspressoCuda_generated_cuda_common_cuda.cu.o

[2018-05-22 14:00] mkuron commented on #1983
The real problem here is that we require CUDA 7.5, but the lowest version we test in CI is 8.0. There is a 7.5 Docker image available with CentOS, but it has an older GCC version.

We always thought that CUDA 7.5 should be sufficiently tested by the developers as we have that on our desktop machines, but evidently it is not -- the present issue was already introduced in #1197.

I think that once o

[2018-05-22 15:26] RudolfWeeber opened #1986 "Constraint energy calculated from unfolded position"
Forces are calculated using the folded one. Is this difference intended?

[2018-05-22 16:38] #1983 closed, assigned to nobody

[2018-05-22 16:39] fweik commented on #1986
No, shapes are only defined inside of the box.

[2018-05-23 08:25] jonaslandsgesell commented on #1981
Thanks for the report!
There was an off by 1 error in get_random_valid_p_id() in using i_random().
Therefore there was an endless loop in ConstantpHEnsemble::do_reaction()
The second problem was also related to get_random_valid_p_id() and occured when there was an invalid particle id returned. This could happen because of the reaction ensemble invalidating a particle id and the constant pH method

[2018-05-23 09:18] #1981 closed, assigned to nobody

[2018-05-23 09:50] fweik commented on #1986
Are you sure about this? If you look at https://github.com/espressomd/espresso/blob/14c9e4716f64894dbdcbd10c950b0feb1757440b/src/core/constraints.hpp#L40 that seems pretty folded to me.

[2018-05-28 08:34] #1986 closed, assigned to nobody

[2018-05-29 14:44] jonaslandsgesell commented on #1834
This can be closed with #1991. Thanks for @fweik for going through the formulas of the stress tensor and verifying what is calculated in the coulomb part of the P3M stress tensor calculation! You were a great help.

[2018-05-30 09:06] fweik opened #1994 "Clean up repository"
The repository and cmake container unused and duplicate functionality,
e.g. in `/config` which should be cleand up.

[2018-06-04 17:06] jonaslandsgesell opened #2004 "ek_eof_one_species_x fails randomly"
It failed e.g. in PR #1991 although only documentation was touched:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/20865

This was already reported and closed in issue #1944
It appears to me that in the PR mentioned in #1944 in the ...x... Tests the width of the box was not modified as opposed to in the ...y... and ...z.... Tests.

[2018-06-04 18:20] fweik commented on #2004
~~It needs to be seeded.~~

[2018-06-05 11:47] fweik commented on #2004
@mkuron and me concluded that the limits are to low for float precision.

[2018-06-06 08:55] KaiSzuttor opened #2007 "Checkpointing broken for multi-core (hangs)"
should be tested in parallel

[2018-06-06 09:19] hmenke commented on #2007
Duplicate or at least closely related: #1848

[2018-06-06 14:45] #2007 closed, assigned to nobody

[2018-06-06 18:52] KonradBreitsprecher commented on #1887
@gsitaru, once #2011 is merged could you please try again, if the tilted cylinder works in your LB test?

[2018-06-06 19:56] #1887 closed, assigned to nobody

[2018-06-07 20:59] #1834 closed, assigned to nobody

[2018-06-08 14:07] KaiSzuttor opened #2019 "GPU LB: external force gives wrong velocity"
M(not)WE:
[code]

[2018-06-08 14:37] KaiSzuttor opened #2020 "LB: ext_force -> ext_force_density"
the ext_force parameter should be renamed to prevent confusion since it has a different meaning for the same named particle parameter

[2018-06-09 20:08] tienp opened #2023 "Python cannot import espressomd"
Hi,

I followed the instructions to install ESPreSso and built it with no error:

[100%] Linking CXX shared library visualization_opengl.so
[100%] Built target visualization_opengl
Scanning dependencies of target espressomd
[100%] Built target espressomd
Scanning dependencies of target pypresso
[100%] Built target pypresso

However, when testing:
./pypresso

Traceback (most recent call last):
  Fi

[2018-06-10 03:40] hmenke commented on #2023
This looks like either you don't have Boost MPI installed, or the headers you have for Boost MPI have a different version from the library you link to.  What does
[code]
report?  Do you see `not found` somewhere?

[2018-06-10 14:21] tienp commented on #2023
I did ldd as you suggested :

ldd /home/tien/Apps/espresso/build/src/core/cluster_analysis/libcluster_analysis.so.4

linux-vdso.so.1 =>  (0x00007ffd77edb000)
libstdc++.so.6 => /usr/lib/x86_64-linux-gnu/libstdc++.so.6 (0x00007fbc89339000)
libm.so.6 => /lib/x86_64-linux-gnu/libm.so.6 (0x00007fbc89030000)
libgcc_s.so.1 => /lib/x86_64-linux-gnu/libgcc_s.so.1 (0x00007fbc88e1a000)
libc.so.6 => /lib/x86_

[2018-06-10 16:20] vanadiuz commented on #2023
Hi,
I have the same problem. I guess I've already spent about 20 hours on fruitless attempts to solve it!
To the above, I can add that when trying to call a `./pypresso ./../samples/billard.py` the following is output:

[cpk10:45960] *** Process received signal ***
[cpk10:45960] Signal: Segmentation fault: 11 (11)
[cpk10:45960] Signal code: Address not mapped (1)
[cpk10:45960] Failing at address:

[2018-06-10 17:46] vanadiuz commented on #2023
The problem was on my side with openmpi!
1) To solve it, I had to achieve output like "Your system is ready to brew." to call "brew doctor"
2) reinstall espresso

[2018-06-11 03:37] tienp commented on #2023
Hi Ivan,

So you solved the problem? I installed espresso on Ubuntu 16.04 and CentOS as well.  Each case it reported no errors, but when I imported espressomd it returned similar error. Below is the error on the CentOS:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/homes/minhtien/Apps/espresso/build/src/python/espressomd/__init__.py", line 23, in <module>
    i

[2018-06-11 05:27] hmenke commented on #2023
I tried to reproduce your problem in our Cent OS 7 build container but was unsuccessful.  Here are my steps
[code]
[code]
I even tried to `module unload mpi` but not even that raised the error.
Maybe you are lacking packages.  You can take a look at the Docker file to see which packages we install: https://github.com/espressomd/docker/blob/master/docker/centos/Dockerfile

[2018-06-11 08:53] #2020 closed, assigned to nobody

[2018-06-11 10:22] vanadiuz commented on #2023
tienp, yes, I solved the problem. But I also tried to install everything on ubuntu 18.04. Follow the steps from the instructions (sudo apt install build-essential cmake cython python-numpy \
libboost-all-dev openmpi-common) the espresso is not compiled. 💁‍♂️

[2018-06-11 16:13] vanadiuz commented on #2023
Dear Henri,
Is it true that pypresso is installed only with the second version of the python (concluded from your Docker file)? If YES, then can I write my scripts on Python3 and launch them in pypresso? 🤓

[2018-06-11 21:32] hmenke commented on #2023
There are many different build environments for Espresso based on Docker images.  If you want to build Espresso using Python 3 on Ubuntu, take a look here for which packages you need: https://github.com/espressomd/docker/blob/master/docker/ubuntu-python3/Dockerfile
This is guaranteed to build and run, because it is tested automatically on [Travis CI](https://travis-ci.org/espressomd/espresso/jobs/

[2018-06-12 01:04] tienp commented on #2023
Hi Henri,

I just installed espresso in my home directory on the university's cluster with CentOS 7. Looking at the docker, I am quite sure that I loaded all the required modules from the instructions but unsuccessfully installed espresso. Are there any ways that we can know which packages are lacking because espresso was installed with no errors?

[2018-06-12 05:06] KaiSzuttor commented on #2023
Could you please paste the commands you perform to build espresso?

[2018-06-12 08:43] #1905 closed, assigned to nobody

[2018-06-12 12:33] fweik commented on #1109
@KaiSzuttor are there still urgent changes or bug fixes for the checkpointing that need to be done before the release?

[2018-06-12 14:55] tienp commented on #2023
Here are the commands:
[code]
[code]
[code]
BTW, the modules were loaded on CentOS 7 before building:
[code]

I have spent some days working on this, so any advice and suggestions will be greatly appreciated.

[2018-06-12 15:35] mkuron commented on #2023
Your problem is that it is picking up MPI from Anaconda (`Found MPI_C: /homes/minhtien/.conda/envs/my_root/lib/libmpich.so;/homes/minhtien/.conda/envs/my_root/lib/libopa.so;/homes/minhtien/.conda/envs/my_root/lib/libmpl.so;/usr/lib64/librt.so;/usr/lib64/libpthread.so`), while your Boost library was likely compiled against OpenMPI (cf. `ompi_mpi_cxx_op_intercept`). Please delete your Anaconda Pytho

[2018-06-12 20:23] tienp commented on #2023
That makes sense. So I start from scratch again, I unload Anaconda3, rebuild espresso and it works like a charm 👍. I think the same problem happened with my Ubuntu 16.04 box, I also used Anaconda python when building, it picked up MPI from Anaconda and messed things up. I thought it was great if I was able to use jupyter notebook with espresso. 😏

Thanks all.

[2018-06-12 21:23] #2023 closed, assigned to nobody

[2018-06-13 07:30] mkuron commented on #2023
You can still use jupyter if you install the necessary packages from the Ubuntu/CentOS repository.

You might also be able to install Boost from the Anaconda repository so it ties in with Anaconda's MPI version. Don't do that on the compute cluster though as Anaconda's MPI will not be optimized for the cluster interconnect.

[2018-06-14 23:06] bogdan-tanygin opened #2028 "LD/BD drag terminal velocity tests"
I could implement this later (if needed, of course). See the referenced PR & comments there.

[2018-06-14 23:13] bogdan-tanygin opened #2029 "Anisotropic particle rotational diffusion test for both LD and BD"

[2018-06-18 15:34] ashreyaj opened #2033 "Shear relaxation of fluid is absent for GPU LB"
[code]

[2018-06-18 17:23] jonaslandsgesell commented on #2033
Hey could you please leave a comment of what exactly to expect or even make it a test which fails?

[2018-06-18 17:26] KaiSzuttor commented on #2033
She does not observe a reduction in fluid velocity after setting boundary velocity to zero.

[2018-06-19 12:20] fweik commented on #2033
The issue is that boundary slip is not implemented in the GPU code, no?

[2018-06-19 12:23] KaiSzuttor commented on #2033
No, it's just that you have to copy the new velocities to the GPU

[2018-06-19 13:17] #2033 closed, assigned to nobody

[2018-06-25 14:00] pkreissl opened #2040 "`system.part.bonds` cannot be pickled for Cython version < 0.26.0"
Pickle `system.part[:].bonds` fails.

Example script:
[code]
fails with
[code]

[2018-06-25 14:01] pkreissl commented on #2040
Was still working ~ two weeks ago.

[2018-06-25 14:19] KaiSzuttor commented on #2040
Works for me :/  Which pickle version do you use?
```python -c 'import pickle; print pickle.__version__'```
gives me
[code]
Can you git-bisect and look which commit it was if it worked before?

[2018-06-25 14:24] pkreissl commented on #2040
Same version.

[2018-06-26 14:07] pkreissl commented on #2040
OK, `Cython` is the issue here. The minimal script above fails for Cython version 0.23.4.
After upgrading to version 0.28.3 and recompiling the issue disappears.

However, still a problem for those using a Cython version below the fixing 0.2X.Y <= 0.28.3.

[2018-06-26 14:16] mkuron commented on #2040
You can try `diff`ing the cpp files that the two Cython versions generate. We can probably find a workaround for whatever wrong code the old version is generating.

[2018-06-26 14:30] KaiSzuttor commented on #2040
i’d have to look it up but i think that they introduced some kind of autogenerated pickle functions at some point. I think thats the reason.

[2018-06-26 14:35] fweik commented on #2040
What @KaiSzuttor is saying: We came across this before. The solution is to add get the missing functions to the class (or do increase the required cython version). https://github.com/cython/cython/pull/1708

[2018-06-26 15:00] KaiSzuttor commented on #2040
Thanks @fweik for looking up the reference. I think we excluded the second solution last time since we want checkpointing to work on standard ubuntu 16 installations to work.

[2018-06-26 15:02] pkreissl commented on #2040
This would mean requiring Cython>=0.26.0.
The default cython version in the current Ubuntu 18.04LTS release is 0.26.1-0.4 according to [ubuntu.com](https://packages.ubuntu.com/bionic/cython). However, I agree with Kai.

[2018-06-26 15:11] mkuron commented on #2040
We should keep Ubuntu 16.04 support at least until the end of this year. Ubuntu 16.04 won't offer to automatically upgrade to 18.04 until six months after release. Add a few more months to give people time to do the upgrade. Not sure how popular Ubuntu is on compute clusters, but they are probably not affected as they tend to provide separate Python environments.

[2018-06-26 15:21] KaiSzuttor commented on #2040
@pkreissl  please try to find out which class is lacking proper ```__setstate__``` /``` __getstate__ ```methods.

[2018-06-26 15:25] RudolfWeeber commented on #2040
On Tue, Jun 26, 2018 at 08:11:48AM -0700, Michael Kuron wrote:

A more relaxed take would be to support 16.04 until the release.

[2018-06-26 15:29] mkuron commented on #2040
You need to implement a `__reduce__` function and an unpickle function that returns/reads the class's `__dict__`, see https://github.com/cython/cython/pull/1708/files#diff-28c66ef9e2ff564619ef82aa9d72ee7dR1611. So far, there is only one place in Espresso where that is done: https://github.com/espressomd/espresso/pull/1701/files#diff-7ccfd5af256520586f57265d72d5e300R246

[2018-06-26 15:35] KaiSzuttor commented on #2040
You dont have to use the reduce syntax, afaik. The standard ```__getstate__``` /```__setstate__``` syntax is fine for most of the cases and easier to read, IMO.

[2018-06-26 15:45] KaiSzuttor commented on #2040
@fweik the "meta-question" is rather if we want to refactor the whole bonded interactions in the core and get a less ugly interface code then which is in turn easier to write checkpointing for.

[2018-06-26 17:05] fweik commented on #2040
You mean like #1224?

[2018-06-26 17:34] KaiSzuttor commented on #2040
uh yeah, totally forgot

[2018-06-27 13:37] kosovan opened #2045 "exclusion radius in the reaction ensemble breaks detailed balance"
We discussed this with @jonaslandsgesell and @helvrud some time ago but apparently it was missed: if a particle is generated within the exclusion radius defined by the user, the trial configuration should be rejected, and the old configuration should be accepted. In the current implementation, new configuration is attempted up to 1000 times, until the attempt generates new particles outside the ex

[2018-06-27 20:36] jonaslandsgesell commented on #2045
Solution 1 is not practical from my experiences too big forces may occur which leads to a broken integration step (aka an exploding system). We can rather directly reject any move which is violating the exclusion radius.
There was no original intention other than avoiding exploding systems due to too high gradients in the potential energy. As long as you have an exclusion radius compatible with yo

[2018-06-28 08:40] jonaslandsgesell commented on #2045
@kosovan
I think i fixed the problem in #2039 via commit e243340d6056b8ceecca85155cf0141fa52f39d2
There should be no more usage of max_tries or the like.
Can you also please change the title to "max*_tries in the reaction ensemble breaks detailed balance". To me the problem is not the exclusion radius itself.

[2018-06-28 10:23] RudolfWeeber commented on #2019
The error stays constant with the number of integraiotn steps.
I think, the force is added twice in the 1st time step. Once in the ext_force setter and once during integration.

[2018-07-05 13:35] michaelmarquardt opened #2048 "OpenGLLive visualizer crashes if particle IDs are discontinuous"
The following minimal script:
[code]
fails with the following error
[code]

[2018-07-05 16:35] #2048 closed, assigned to nobody

[2018-07-06 18:19] #2004 closed, assigned to nobody

[2018-07-09 12:49] RudolfWeeber opened #2051 "Lees Edwards Rewrite tracking ticket"
The current Lees-Edwards implementation creates duplicte pairs in the short range loop. It produces incorrect short range interactions even for an offset of 0.

The idea is to use a columnar cell and node grid, such that the neighborship relations do not change when the Lees Edwards offset changes.
I.e., the length of the cells in shear directoin is the box length. In the other directions, the cel

[2018-07-10 11:59] fweik opened #2053 "CI check with empty myconfig is missing"
We somehow lost the CI test with an empty config (as opposed to no/default config). This is useful to find missing feature guards.

[2018-07-12 20:22] #2053 closed, assigned to KaiSzuttor

[2018-07-13 10:19] #975 closed

[2018-07-13 12:45] fweik commented on #1109
Most of the methods seem to have docstrings now. I'd tend to close this one. Opinions? @KaiSzuttor @RudolfWeeber

[2018-07-13 12:53] #572 closed

[2018-07-13 14:45] #1897 closed, assigned to nobody

[2018-07-13 14:45] #1971 closed, assigned to nobody

[2018-07-13 15:37] KaiSzuttor commented on #2040
@pkreissl any success here? If not, we should have a look next week.

[2018-07-13 19:45] pkreissl commented on #2040
I am afraid not yet. I might have another look at it tomorrow. Otherwise let's talk on monday.

[2018-07-17 14:26] KaiSzuttor commented on #2040
btw, it seems to work if you use the latest pickle protocol (-1)

[2018-07-17 14:36] mkuron commented on #2040
Are you using Python 2 or 3? Python 2 defaults to protocol 0 and uses protocol 2 if you specify `protocol=-1`. Python 3 defaults to protocol 3. Python 3.4 and higher use protocol 4 if you specify `protocol=-1`.

[2018-07-17 14:43] mkuron commented on #2040
Are you using Python 2 or 3? Python 2 defaults to protocol 0 and uses protocol 2 if you specify `protocol=-1`. Python 3 defaults to protocol 3. Python 3.4 and higher use protocol 4 if you specify `protocol=-1`.

From your `pickle.__version__`, I guess it's Python 2. The important bit in [PEP 307](https://www.python.org/dev/peps/pep-0307/#case-2-pickling-new-style-class-instances-using-protocols-0-

[2018-07-17 15:11] jonaslandsgesell commented on #2045
We could compare our results with results from literature and see wheter they agree. e.g. https://www.sciencedirect.com/science/article/pii/S0304420302000397

[2018-07-17 18:50] KaiSzuttor commented on #2040
thats the reason why it works with the checkpointing module. I think we can close this issue.

[2018-07-17 19:10] pkreissl commented on #2040
I used Python 2 here.

[2018-07-19 07:44] pkreissl opened #2061 "Test `#67: coulomb_mixed_periodicity` fails when run in parallel (X>3 cores)"
Test `#67: coulomb_mixed_periodicity` fails on with:
[code]
when run on more than three cores (checked up to 7 cores).

[2018-07-19 07:51] #2040 closed, assigned to nobody

[2018-07-23 08:28] jonaslandsgesell opened #2065 "Run Grammar check on all documentaion"
E.g. diction (http://manpages.ubuntu.com/manpages/bionic/man1/diction.1.html ) may be used. This task does not require knowing the code too much and would be suited for a student assistant.

[2018-07-23 08:50] RudolfWeeber opened #2067 "Rs mesh overflow warning"
1: rs_mesh overflow! (pos 5.000000, nmp=17)
1: allowed coordinates: 2.500000 - 5.000000

In coulomb_mixed_periodicity test with p3m+elc when node grid is manually sorted correctly.

Is there really an overflow or is the condition for the warning too broad

[2018-07-23 08:53] mkuron opened #2068 "Update CI Docker images"
Before the release, we need to add Docker images and CI testing for some recent Linux distributions to ensure that Espresso 4.0 runs properly on all our users' machines:
- debian:stretch
- opensuse/leap:15.0
- ubuntu:bionic
- nvidia/cuda:9.0-devel-ubuntu16.04

The ubuntu-clang-cuda image should be upgraded to Clang 6.0, which is available in the xenial-updates repository and has better static anal

[2018-07-23 08:54] RudolfWeeber commented on #2061
The test saves a node grid at start and restores it for the p3m elc test, when it may no longer be feasable.

I don't think that should be done. Leaving that code out, one gets an error from p3m_init about the node grid having to be sorted. The test passes, if one does this.
This may be a regression from the min_num_cells change.

What would be the best way to proceed? @fweik

[2018-07-23 09:00] RudolfWeeber commented on #2068
furthermore, the pull url for scafacos should be changed to
github.com/scafacos/scafaocs --branch dipoles
and the now exposed flag for availability fo dipolar methods included in the configuration logic.

[2018-07-23 09:06] mkuron commented on #2068
`--enable-fcs-dipoles`

[2018-07-23 10:19] #1994 closed, assigned to nobody

[2018-07-23 10:19] #1109 closed, assigned to nobody

[2018-07-23 10:23] fweik commented on #2067
This is related to the particle sorting. In the past there was some ambiguity there, which may be the cause of this problem (p3m assuming an open right border vs dd assuming some tolerance). This will potentially go away with #1923, which consistently chooses the local boxes an removes the tolerance.

[2018-07-23 12:12] RudolfWeeber opened #2071 "Low test coverage: Candidates for downgrade or removal"
This ticket lists parts of Espresso that do not have (sufficient)
tests.
These parts will likely be marked to require
#define EXPERIMENTAL_FEATURES
in myconfig.hpp, or they may be removed, if the situation persists.

As per https://codecov.io/gh/espressomd/espresso/tree/python/src/core

Potential users/developers/authors are mentioned, below

Accumulators/Correlator.cpp:
* several of the compressi

[2018-07-24 16:03] #2061 closed, assigned to nobody

[2018-07-24 19:35] RudolfWeeber opened #2075 "Slow tests"
Timings as per gitlab ci maxset config

dawaanr-and-bh-gpu 11.29 sec
npt 11.99 sec
virtual_sites_relative 13.89 sec
lb_gpu 20.58 sec
coulomb_tuning 24.97 sec
wang_landau_reaction_ensemble 29.56 sec
langevin_thermostat 31.18 sec
random_pairs 32.00 sec
mass-and-rinertia_per_particle 51.75 sec

[2018-07-25 15:12] RudolfWeeber opened #2078 "lb_cpu without EXTERNAL_FORCES silently ignores a set ext_force_density"
[code]

[2018-07-25 15:56] #2019 closed, assigned to RudolfWeeber

[2018-07-25 20:15] fweik commented on #2078
Arguably the EXTERNAL_FORCES should have no effect on the LB.
Currently this works as follows: If `!EXTERNAL_FORCES`, every LB node has a flag that indicates if the node has a force applied to it (`LBFluid_Node::has_force_density`), which is `false` initially and set to `true` if a force is applied to the node due to particle coupling or similar. If `EXTERNAL_FORCES`, every node has a force applie

[2018-07-26 08:06] KaiSzuttor commented on #2071
codecov is currently not updating the coverage...

[2018-07-26 08:28] KaiSzuttor commented on #2071
thanks @mkuron

[2018-07-26 08:28] mkuron commented on #2071
@KaiSzuttor, seems like they changed the IP addresses used. I've updated our firewall rules now, so we should be getting coverage reports again.

Also, our coverage reports for the python branch are wrong. We don't mirror it to Gitlab, so it only gets coverage results from the maxset build (from the documentation deployment) and from Travis. Could you change that to mirror all branches to Gitlab?

[2018-07-26 08:30] KaiSzuttor commented on #2071
i don't quite get what you mean. We have not only the maxset build reporting to codecov, but also e.g. no_cuda_default

[2018-07-26 10:05] fweik opened #2083 "Modify `get_mi_vector` to support Lees-Edwards"
Currently `get_mi_vector` (from `grid.hpp`) takes two points as arguments and returns their minimum image convention distance. When Lees-Edwards BC are used this distance needs to be modified. The
calculation of the modified distance needs more information, which is currently not available in the function.
So two things need to be done:

 - Determine what information is needed for the LE distance

[2018-07-26 12:26] RudolfWeeber opened #2086 "Raspberry tutorial: print pos_folded rather than pos"

[2018-07-27 11:01] RudolfWeeber opened #2089 "QA Day: Samples"
* Check that all samples run with the current Espresso
* Put doc strings at the top of the sample files explaining what they do
* Put a list of required Espresso features in the samples and check for them

required_features = []
espressomd.assert_features(required_features)

[2018-07-27 11:02] RudolfWeeber opened #2090 "QA Day: Samples with visualization"
Chekc that samples with visualization display as expected

[2018-07-27 11:06] RudolfWeeber opened #2091 "QA Day: check tutorials that do not get IPy Notebooks in 4.0"
* Check that tutorials 6-9 run with current Espresso
* Check consistency between PDF and Script

[2018-07-27 11:06] RudolfWeeber opened #2092 "QA Day: check tutorial 00"
Mention git checkout of the 4.0 tag

[2018-07-27 11:09] RudolfWeeber opened #2093 "QA Day: Check tutorials with IPy"
Check usage of tutorials with IPY Notebooks and adapt to current syntax
There are pull requests for Tutorial 1-5

[2018-07-27 11:10] RudolfWeeber opened #2094 "QA Day: Prepare build system for IPy tutorials"
Some tutorials will stay Latex/PDF in 4.0.
Preparations for automatic testing of IPy tutorials

[2018-07-27 11:11] RudolfWeeber commented on #2093
Save sample output and corresponding parameters / calls in preparation for automatic testing

[2018-07-27 11:11] RudolfWeeber opened #2095 "QA Day: Release notes"

[2018-07-27 11:12] RudolfWeeber opened #2096 "QA Day: Put update policy in UG"

[2018-07-27 11:13] RudolfWeeber commented on #2091
Add feature check to tutorials

required_features = []
espressomd.assert_features(required_features)

[2018-07-27 11:13] RudolfWeeber commented on #2093
Add feature check to tutorials

required_features = []
espressomd.assert_features(required_features)

[2018-07-27 11:14] RudolfWeeber opened #2097 "Lb Stokes sphere test on CPU"

[2018-07-27 11:15] RudolfWeeber opened #2098 "Add test for some shapes"
* spherocylinder
  * slit pore @KonradBreitsprecher
  * rhmoboid
  * hollow cone

[2018-07-27 11:16] RudolfWeeber opened #2099 "QA Day: Add tests for some interactions"
* angle_cosine
  * angle cos^2
  * bonded Coulomb
  * dihedral
  * tabulated @fweik

[2018-07-27 11:17] RudolfWeeber opened #2100 "QA Day: Fix or remove removal of lb boundaries"

[2018-07-27 11:26] bindgens1 commented on #2083
I think it will be sufficient except for the virtual sites. Probably we have to take care of them separately, especially if a rigid body is crossing the boundary partially.

[2018-07-27 14:44] RudolfWeeber opened #2102 "Parallel collision detection causes segfaults"
this was hidden due to a wrong box size in the test (10 rather than 1) which skipped the cross-node scenario.

Three particle binding at 8 nodes
Glue to surface node with 16 nodes

[2018-07-27 15:03] RudolfWeeber opened #2103 "Test dipolar scafacos in CI"
react to scafacos'  exposed macro concerning dipolar support

[2018-07-27 15:18] RudolfWeeber opened #2104 "Polymer command should not default to start pos (0,0,0)"
for the 1st polymer it places.

-> Random or explicitly passsed

[2018-07-27 15:19] fweik commented on #2104
Shoud be mandatory. Explicit is better...

[2018-07-30 07:18] kosovan commented on #2104
What is wrong with the default (0,0,0)? In my opinion, this argument can be left optional - the list of required arguments for the polymer command is long enough already.

[2018-07-30 07:41] mkuron commented on #2103
depends on https://github.com/espressomd/docker/pull/29

[2018-07-30 08:21] RudolfWeeber opened #2105 "make sphinx does not work when no graphical display attached"
because sphinx imports the visualizer module which import sth else which raises a RuntimeError when no X display is connected.

[2018-07-30 09:48] #2096 closed, assigned to RudolfWeeber

[2018-07-30 10:15] jonaslandsgesell commented on #2093
Regarding ci testing: I would only check for runnability not for the results of the tutorials. There should be faster tests for each command that is used in the tutorials in the testsuite. Keep in mind that tutorials are meant to reproduce physics which may require long sampling. Therefore tutorials (if not shortened explicitly for runnability tests) are not well suited as a test case.

[2018-07-30 10:36] jonaslandsgesell commented on #2093
I found PRs
#1605
#1654
#1603
#1572
related to ipy. Checking for those

[2018-07-30 12:39] #2103 closed, assigned to RudolfWeeber

[2018-07-30 12:51] #2100 closed, assigned to KaiSzuttor

[2018-07-30 12:51] #1935 closed, assigned to nobody

[2018-07-30 13:16] jonaslandsgesell commented on #2095
- contains Reaction Ensemble and constant pH method

[2018-07-30 14:19] jonaslandsgesell opened #2116 "make assert_features(list) raise an exception if a feature is not in list"
currently assert_features does not raise an error:
run e.g. doc/tutorials/06-active_matter/SOLUTIONS/enhanced_diffusion.py without the engine feature compiled in (assert_features() does not raise an exception here)

[2018-07-30 15:26] jonaslandsgesell commented on #2116
Fixed via

def assert_features(*args):
    """Raises an excpetion when a list of features is not a subset of the compiled-in features"""

    if len(missing_features(*args))!=0:
        raise Exception("Missing features " + ", ".join(missing_features(*args)))

[2018-07-30 15:29] jonaslandsgesell commented on #2116
Fixed in
8a0dbd0

[2018-07-30 20:22] #2116 closed, assigned to nobody

[2018-07-31 06:45] RudolfWeeber commented on #2105
This seems to be matplotlib backend depending. Clsoing for now.

[2018-07-31 06:45] #2105 closed, assigned to nobody

[2018-07-31 06:48] RudolfWeeber commented on #2104
If I read the code correctly, this does not only place the 1st particle on 0,0,0 but possible also the second on top of that on 0,0,0.
The default for the pos2 argument should be a nulptr but is 0,0,0.

@peterkosovan: Why the origin, why not the box center? Also several polymer commands in a single script (e.g., for polydisperse systems) silently create highly overlapped polymers by all starting a

[2018-07-31 06:50] RudolfWeeber commented on #2102
Non-trivial. I'll disable parallel collision detection in 4.0 and fix that in 4.0.1.

[2018-07-31 06:51] KaiSzuttor commented on #2104
+1 for explicit since there is no sensible default here
see https://softwareengineering.stackexchange.com/questions/63908/default-values-are-they-good-or-evil

[2018-07-31 06:51] RudolfWeeber commented on #2099
I suggest to merge the ones done yesterday and keep the rest of the ticket for 4.0.1.

[2018-07-31 06:53] RudolfWeeber commented on #2097
De-milestoning for 4.0.1. Poisseulle flow tests boundaries on cpu.

[2018-07-31 06:58] RudolfWeeber commented on #2091
Ekin has a PR, active matter has a PR but still needs to be run.
@konradbreitsprecher, @mkuron: What is the state of the visualization tutorial (8)
What is the state of tutorial 9 (swimmer reactions)?

[2018-07-31 14:07] #2104 closed, assigned to nobody

[2018-07-31 14:40] fweik opened #2125 "Skin should be a property of the system class and have a default value"
and not of `CellSystem`, it's not related to the cell system. It also should have a default value.

[2018-07-31 21:25] fweik opened #2127 "P3M+ICC updates ICC with garbage value during tuning"
During tuning P3M uses uninitialized memory as kernel to (considerably) speed up the process.
If ICC activated it updates the ICC charges with garbage value which can lead to crashes.

[2018-08-01 07:54] jonaslandsgesell commented on #2125
Is the skin depending on the update frequency of the verlet lists? And is the update frequency depending on the timestep, the particle masses and the temperature and maybe also external fields because all these variables influence the velocity of the particles (and therefore the distance traveled within 1/update frequency). If so, then how would one find a sensible default value without tuning the

[2018-08-01 08:54] fweik commented on #2125
If the system is simple we can make an educated guess (as Espresso does currently with LJ). If the system is complicated the user won't know the optimal skin either and has to tune anyway. If she happens to know (e.g. from previous tuning), it can just be set.
I think from an user experience perspective it is very bad that the user is confronted with an technical
detail that is unimportant to the

[2018-08-01 09:35] hmenke commented on #2125
:+1:  property of system

:-1:  default value (Espresso is software for an advanced MD user)

[2018-08-01 12:04] jonaslandsgesell commented on #2125
Can't we call the tune automatically e.g. on the first integration step unless the user provided manually a value for the skin thikness? That way the user does not have to set it manually.

[2018-08-01 14:04] fweik commented on #2125
We can't call tune as it modifies the system.

[2018-08-01 19:38] #2068 closed, assigned to mkuron

[2018-08-02 14:36] RudolfWeeber commented on #2092
Tutorial 00 is a (less complete) duplicate of the installation instructions in the ug.
I think, it should be removed.

[2018-08-02 16:27] iammmiru opened #2135 "LB ckeckpoint error"
While Espresso tries to load a checkpoint which includes lb_fluid as an actor, it produces the following error.
It happens if I use 'couple = '3pt'' feature. '2pt' does not make this error.

I also included a simple code that reproduces the error.
I don't know a nice way of putting my code here so I just did copy and past.

[code]

[code]

[2018-08-02 16:59] KaiSzuttor commented on #2135
@fweik is 3pt coupling tested? IIRC its broken...

[2018-08-02 21:46] #2078 closed, assigned to fweik

[2018-08-02 21:53] fweik commented on #2135
The actor in the script is a gpu lb, while the trace suggests that it is trying to create a CPU LB. The CPU LB does not support 3pt coupling, hence the error.

[2018-08-03 08:47] fweik opened #2137 "Remove ghost shifts for DD and layered"
For the `domain_decomposition` and `layered` cell systems the positions of the ghosts are shifted from the real particles, so that they corresponds to the respective periodic replica. This has the benefit that
all minimum image distances can be calculated with the plain Euclidean norm, and there is no special
treatment at the boundaries needed.

Unfortunately this has also several drawbacks:
- Gho

[2018-08-03 09:32] fweik commented on #2083
So we discussed that again and we have to opinion that `get_mi_vector` does not need to know the image boxes for Lees-Edwards to work. That this was the case before is an artefact of the ghosts shifts.
We think that one has to do two things:
- After updating the particle positions, directly update the particles velocity if it has crossed
  an LE boundary
- In the distance calculation (get_mi_vecto

[2018-08-03 10:43] bindgens1 commented on #2083
Just put the stuff in the the functions: Would have replaced the other get_mi_vectors soon.
[See the changes here: New get_mi_vector](https://github.com/bindgens1/espresso/commit/f58392eac9bd9bac0884ec2e9f6ec54c4b3bd131)

Possibility two:

[Changed function routine of get_mi_vector](https://github.com/bindgens1/espresso/commit/4c61c0b033286aacafc12d2f69546ff17b37289d)

[2018-08-03 11:07] mkuron commented on #1902
Fixed by #2110. Please close this issue.

[2018-08-03 11:10] #1902 closed, assigned to mkuron

[2018-08-03 14:16] fweik commented on #2083
The original literature[1] seems to suggest that, c.f. Eq (1a) and Eq (4). No?

[1]: https://doi.org/10.1088/0022-3719/5/15/006

[2018-08-03 15:21] #883 closed

[2018-08-03 19:17] #2135 closed, assigned to nobody

[2018-08-05 12:03] fweik commented on #2083
So I've done a proof of concept implementation of the formula from the LE paper.
You can find it at https://github.com/fweik/espresso/tree/lees_edwards . I've run
this with a DPD fluid like

[code]

which seems to produce the expected sheer profile. The steps needed
are: Add a position jump and velocity offset to the particles when they cross
the boundary. Modify `get_mi_vector` to respect the off

[2018-08-05 17:29] bindgens1 commented on #2083
I've run a test with the n_squared cell system and didn't get the correct offset.
I used the version available at [ESPresSo](https://github.com/bindgens1/espresso/tree/get_mi_vector_routine)

The script used:
[code]

The result is:
[code]
Somehow the information concerning the shift is lost after the integration and just visible in the image box.
Something wrong with the script?

[2018-08-05 18:15] fweik commented on #2083
[code]
Why 2? Also you lost the sign information,
you need to add the offset on one side and
subtract it on the other. Also as dist <= box_l,
this is almost always zero. Please look at my
code, I think it is correct (except that the shift
is to the left and not to the right).
[code]
why do you add the offset multiple times? To
what formula from the paper does this correspond?

[2018-08-06 11:44] #2090 closed, assigned to KonradBreitsprecher

[2018-08-06 12:01] bindgens1 commented on #2083
I think the line `le_shifts = floor(2.* dist / box_l[1]);` is an old version of the code. Has been removed [(here)](https://github.com/bindgens1/espresso/blob/4c61c0b033286aacafc12d2f69546ff17b37289d/src/core/grid.hpp)

As discussed offline:
1) `res[0] += le_shifts * le_offset;` multiple offsets are apparently not necessary.
2) The former mentioned issues with particles connected over the boundary

[2018-08-06 13:04] RudolfWeeber commented on #2093
@jonaslandsgesell, could you please report back on this.
For those tutorials, that are ready, please approve the corresponding pull requests.
For the others, please mention what is missing
Thanks

[2018-08-06 13:32] jonaslandsgesell commented on #2093
Miru, Ashreya and Cameron are testing runnability again.

[2018-08-06 14:39] iammmiru commented on #2093
Tut4ipy is running and pushed and fine.
Tut2ipy and 5ipy are running and pushed and fine.

[2018-08-06 14:43] ashreyaj commented on #2093
Tutorial 1 runs

[2018-08-07 12:13] bindgens1 commented on #2083
I had a look at [Lees Edwards](https://github.com/fweik/espresso/tree/lees_edwards) and would propose the following changes:

1) Change of shear plane and direction
2) Folding of all three components of get_mi_vector. Bonded interactions across the boundary got the wrong distance otherwise.

I opened a pull request for that.

[2018-08-07 14:33] jonaslandsgesell commented on #2093
I approved the PRs from above. There are some random testcase crashes, which look unrelated to the changes introduced here. Are the testcases stable?

[2018-08-07 16:57] RudolfWeeber commented on #2093
Tutorials 2 and 5 still have scripts/ folders. Is that really intended?

[2018-08-07 17:21] jonaslandsgesell commented on #2093
Yes there were references to scripts which were doing stuff not handled
more explicitly in the old tutorials.

RudolfWeeber <notifications@github.com> schrieb am Di., 7. Aug. 2018, 18:57:

[2018-08-08 08:28] fweik commented on #2127
This was fixed by #2130.

[2018-08-08 08:28] #2127 closed, assigned to fweik

[2018-08-08 15:56] jonaslandsgesell commented on #2094
That is a priority. Otherwise we will have diverging tutorials very soon again. I would only check for runnability - Not for results.

[2018-08-08 16:23] KaiSzuttor commented on #2094
I think cmake was meant, not CI

[2018-08-09 06:49] KaiSzuttor opened #2143 "Decide fate of twist stack interaction"
not interfaced, not tested, not documented

[2018-08-09 07:45] hmenke commented on #2094
I have done this before in pairinteraction.  We are also testing our tutorials in the CI for which we use `ipython nbconvert`.  This is added to the CMake tests and will then run when `make check` is called.
https://github.com/hmenke/pairinteraction/blob/a9d03f5838f77bf6d6c845700460f6aaefdbba33/doc/sphinx/CMakeLists.txt#L109-L130

[2018-08-09 09:28] fweik commented on #2143
All the bonds related to the cg dna model can be removed. That is HYDROGEN_BOND, TWIST_STACK and COULOMB_DEBYE_HUECKEL. I did those, and they were never really validated, CBH is known to be broken. I'll maybe reintroduce them later, but if so I'd use a different approach.

[2018-08-09 09:50] KaiSzuttor opened #2144 "CMake: compiler flags should depend on compiler version"
e.g. ```WITH_COVERAGE``` adds ```fprofile-instr-generate``` which is not available for the default clang++ on ubuntu16.04

[2018-08-09 11:26] jonaslandsgesell commented on #2093
Please close here

[2018-08-09 11:43] RudolfWeeber commented on #2091
@mkuron @KonradBreitsprecher, what is the state of the visualization tutorial?

[2018-08-09 11:44] #2093 closed, assigned to jonaslandsgesell

[2018-08-09 11:47] #2099 closed, assigned to nobody

[2018-08-09 11:48] RudolfWeeber opened #2145 "Test coverage for tabulated angle potentials missing"

[2018-08-09 15:42] #2143 closed, assigned to nobody

[2018-08-13 13:28] michaelmarquardt opened #2150 "Removed particles cause error when removing again"
I remove all particles after a certain id: `system.part.remove[id:].remove()`.
If I do it again from the same id it causes an error and core dumps.
I recognized that some particle id's are stored somehow after removing.
The following script shall show the problem.
The comments are the terminal output of `print()`.
[code]
Usually nothing happens when removing [5:] particles if only [0 1 2 3 4] exis

[2018-08-13 14:08] KaiSzuttor commented on #2150
What do you expect to happen? It's caused by the interface not checking if a particle actually exist if you only access the id...
C.f.: https://github.com/espressomd/espresso/blob/338abf073ed0913f5a19c7b09bc22a28b69dea6e/src/python/espressomd/particle_data.pyx#L93-L94

[2018-08-14 05:58] jonaslandsgesell commented on #2150
I think this behaviour is fine.

[2018-08-14 06:34] hmenke commented on #2150
Looks like there is an `except +` missing in a Cython file.  It should throw but it should also propagate the exception to Python.

[2018-08-14 06:36] KaiSzuttor commented on #2150
why should it throw?

[2018-08-14 06:37] jonaslandsgesell commented on #2150
Because you re doing something which you cannot do. Why should it be silent
about that?

Kai Szuttor <notifications@github.com> schrieb am Di., 14. Aug. 2018, 08:36:

[2018-08-14 06:37] hmenke commented on #2150
It does throw, look at the log in the original post
[code]
but `remove_particle` is not marked `except +` in
https://github.com/espressomd/espresso/blob/338abf073ed0913f5a19c7b09bc22a28b69dea6e/src/python/espressomd/particle_data.pxd#L206

[2018-08-14 06:52] KaiSzuttor commented on #2150
there are two problems here: first of all it should not be possible to get the id of a non-existing particle and second the exception should be propagated for remove. What i meant with “why should it throw” is the referenced snipped above. The particle handle gets initialized with the id and this is is returned then without checking if the corresponding particle actually exists. So it cant throw i

[2018-08-15 19:29] #2150 closed, assigned to nobody

[2018-08-15 19:37] fweik opened #2153 "CI should ignore [ci skip] for python branch"
Otherwise the docs are not deployed. Also may be ci skip is not a great idea at all.

[2018-08-15 20:00] KaiSzuttor commented on #2153
if you dont change documentation...

[2018-08-15 20:02] fweik commented on #2153
What is gained by not running the CI? I don't think users should be able to skip the CI under any circumstance. It's for catching the things that you did not think of...

[2018-08-15 20:18] fweik opened #2154 "Sporadic failures in FENE test"
E.g. https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/31827

[2018-08-15 20:31] mkuron commented on #2153
The head of the python branch should always be a merge commit without its own message. Also, the head of the python branch should always run CI so that the CI badge displays correctly.

[2018-08-15 20:32] mkuron commented on #2153
Also, ci skip is a Gitlab feature we can't turn off.

[2018-08-15 20:42] fweik commented on #2153
Apparently the CI is skipped even with the merge commit.

[2018-08-15 20:44] fweik commented on #2153
Well then there needs to be an other mechanism to deploy the docs no?

[2018-08-16 04:56] KaiSzuttor commented on #2153
@mkuron, isnt the skip implemented on webhook level?

[2018-08-16 08:31] KaiSzuttor commented on #2153
i just checked, we only filter the commit message for '[ci skip]' for the commit status since the build will not happen on gitlab ci and we would have a pending state forever.

[2018-08-16 09:38] fweik commented on #2153
I think this is not worth the effort.

[2018-08-16 09:38] #2153 closed, assigned to nobody

[2018-08-17 10:48] fweik opened #2155 "ELC misclassified as electrostatic extension"
In Espresso ELC is implemented as an electrostatics solver, and should be interfaced as such. This has the effect that it can not be combined with ICC, which should be possible.

[2018-08-17 17:42] vanadiuz commented on #2023
Dear friends,

tell me please, what should I do, I installed an espresso with a python3 on the local computer and wrote my own script. Now it's time to run it on the cluster with mpi. But the fact is that there are not enough packets on the cluster to assemble the espresso with the python3 (and I'm not a root). After a day of torment, I  stumbled upon the anaconda. But you write that it will not w

[2018-08-17 21:29] mkuron commented on #2023
You can actually use Anaconda, but make sure it does not install any MPI or Boost packages.

Alternatively you could use the system Python and install any missing packages via pip (`pip3 install --user numpy` etc.).

[2018-08-18 00:52] tienp commented on #2023
I think you first use `module avail` to see all the modules installed on your cluster, then `module load` the requirements for `espresso`. In my case, I loaded `FFTW3, HDF5, GSL, Sphinx` and it worked. We don't usually have `root` permission on cluster but if you like Anaconda you can use `virtualenv` to create a virtual environment and use `conda` to install all requirement packages.

[2018-08-18 05:11] KaiSzuttor commented on #2023
actually you dont need sphinx nor hdf5 nor gsl to compile espresso if you dont want to use h5md or to build the documentation.

[2018-08-18 09:21] vanadiuz commented on #2023
Many thanks for your answers! 👍🏻
At some point, I just started to sort through dozens of different combinations of packages and I eventually found the right one 😀. I also tried the anaconda, but nothing happened. Most importantly, it's boost and mpi!

**If someone is dealing with VSC3, then here's what I got:**
[code]

[2018-08-19 10:21] RudolfWeeber opened #2157 "LB Thermostat: acton_on_virtual should default to True"

[2018-08-19 10:24] RudolfWeeber opened #2158 "Recheck all LB-related totorials using virtual sites"
Because of #2157. The raspberry electrophoresis one is definitely affected.

[2018-08-20 08:54] mkuron commented on #2153
It seems like this is @KaiSzuttor's fault. Whenever he merges a pull request, its commit message is

which obviously preserves the `[ci skip]` into the merge commit.

Whenever anyone else merges a pull request, its commit message is

which is the usual GitHub behavior.

It seems like this started at some point between July 30th and August 9th. @KaiSzuttor didn't merge any pull requests in the ten

[2018-08-20 09:00] mkuron commented on #2153
Aha, it seems like @KaiSzuttor likes to use squash-merging. So there are two solutions to this problem: either he promises to always remove any `[ci skip]` from the commit message whenever he uses that feature, or @fweik can go to the project settings and under "Merge button", uncheck everything except for "Allow merge commits".

[2018-08-20 10:49] RudolfWeeber opened #2159 "Non-running script in tutorial 5"

[2018-08-20 10:50] fweik opened #2160 "Integrate stuff from wiki into documentation"
https://github.com/espressomd/espresso/wiki/Development

[2018-08-20 10:50] KaiSzuttor commented on #2153
we decided to not do anything here because it does happen so infrequently that we can manually trigger the CI.

[2018-08-20 10:51] fweik commented on #2159
The notebook does not run either, fails with
[code]

[2018-08-20 11:18] fweik commented on #2159
`figures/raspberry_snapshot.png` is missing. There is only a pdf with that name.

[2018-08-20 12:13] jonaslandsgesell opened #2161 "Documentation on id assignment and index in particle slices is wrong"
Please assign with the label python. Normal users cannot tag. This should probably be changed either.
@atagliabue

[2018-08-20 12:49] RudolfWeeber opened #2162 "Put static versions of tutorial on web page after release"
~/espresso-dev/doc/tutorials$ ipython nbconvert --to html --template full */*.ipynb

[2018-08-20 12:52] fweik commented on #2161
Can you please elaborate?

[2018-08-20 12:53] fweik commented on #2162
We should consider doing this automatically when the normal docs are deployed.

[2018-08-20 13:18] #470 closed

[2018-08-20 13:29] RudolfWeeber commented on #2162
Should not be difficult but probably needs an update of the docker container cuda8-maxset with ipython-nootbook package.

[2018-08-20 13:31] atagliabue commented on #2161
This sentences "Note that the index and the property ID are not necessarily the same." in espresso documentation (http://espressomd.org/html/doc/particles.html) is probably wrong?

AT

[2018-08-20 13:33] RudolfWeeber commented on #2162
Can be merged

[2018-08-20 13:35] fweik commented on #2162
@RudolfWeeber this should probably go somewhere else.

[2018-08-20 13:44] RudolfWeeber commented on #2161
On Mon, Aug 20, 2018 at 01:31:33PM +0000, atagliabue wrote:

Also, the particle id cannot be set at all, once the particle has been added.

[2018-08-20 13:46] RudolfWeeber commented on #2162
Meant #2165

[2018-08-20 14:01] RudolfWeeber commented on #2094
Build stuff came in with the tutorial prs. Automatic checking comes later

[2018-08-20 14:01] #2094 closed, assigned to KaiSzuttor

[2018-08-20 14:27] RudolfWeeber opened #2166 "py: integrator.run() needs to call handle_errors() independently of return value from core"

[2018-08-20 15:38] #2092 closed, assigned to RudolfWeeber

[2018-08-20 16:07] RudolfWeeber commented on #2159
And a particle being electrophoresed should move, ideally.
At least, the virtual sites implementation needs to be set.
Also, the ext_force on the particle is multiplied with a global "charge"  variable. I think, this should be the charge of the respective particle?

[2018-08-20 20:01] fweik commented on #2159
One *could* use an `constraints.ConstantElectricField` now...

[2018-08-21 09:11] #2166 closed, assigned to nobody

[2018-08-21 09:12] #2154 closed, assigned to nobody

[2018-08-21 10:57] fweik opened #2171 "Build of tutorial 10 broken"
`make tutorials` fails with an missing file error in latex:
[code]

[2018-08-21 11:14] fweik opened #2172 "Runtime errors not shown in ipython"
If a runtime error occures during ipython notebook cell evaluation, the actual
error message is printed to the console from the c level, which is not shown in
the notebook.

[2018-08-21 11:57] fweik opened #2173 "Ipython tutorials should give regular feedback on long-running cells"
without spamming too much. Possibilities e.g.
[code]
or more fancy we could look into ipython progress bars like
[tqdm](https://github.com/tqdm/tqdm).

[2018-08-21 15:23] RudolfWeeber opened #2176 "PARTICLE_ANISOTROPY should still accept single numbers for parameters"
system.part[0].gamma =1. So that scripts not written for particle anisotropy still run.

[2018-08-21 15:34] jngrad commented on #2098
The Sphinx documentation currently warns against using the Rhomboid shape (@KonradBreitsprecher). I did not experience any issue when creating tests for it. The OpenGL engine had trouble rendering the rhomboid in 3D, though.

[2018-08-21 17:18] KonradBreitsprecher commented on #2098
Some shapes are rendered via brute-force rasterization with the shape's distance calculation. So if something looks odd there, it's most likely a problem in the calculation.
The warning is because the rhomboid is unprotected against wrong parameters, so for example
`corner = [1,1,1], a = [-1,0,0], b = [0,-1,0], c=[0,0,-1]` will fail.
Basically, it fails if  `|corner| > |opposite_corner|`.  We coul

[2018-08-22 00:09] jonaslandsgesell commented on #2171
@atagliabue can you please add the missing figure and check whether make tutorials runs then?

[2018-08-22 07:52] jonaslandsgesell opened #2180 "Sensible default value widom insertion"
Let the widom insertion radius default to 0 since it is not altering the particle configurations or forces in any way.

[2018-08-22 08:43] bindgens1 opened #2181 "Lees Edwards interface"
@pdebuyl
@fweik or @RudolfWeeber: Please add this to the Lees Edwards rewrite project.

After change to the get_mi_vector we should decide on the Lees Edwards interface. In the current version there are for protocols that can be used: off, step, steady shear, oscillatory shear. They are set the following:

[code]

If a protocol is used without the correct number of arguments e.g. `system.lees_edwa

[2018-08-22 08:59] #2159 closed, assigned to nobody

[2018-08-22 09:00] fweik opened #2182 "Remove output cells from ipython nb tutorials (?)"
like tutorial 5. @RudolfWeeber?

[2018-08-22 09:00] jngrad commented on #2098
Good point, there are currently no range checks in src/core/shapes/*.hpp to assert the validity of geometrical parameters. Without particles in the system, broken shapes (ex. missing walls in Slipore with negative radius) won't throw an exception during integration. With particles, the system throws an exception `"ERROR: Constraint violated by particle 0 dist -nan"` during integration. This should

[2018-08-22 09:11] bindgens1 opened #2183 "Columnar Cell System"
@pdebuyl
@fweik or @RudolfWeeber: Please add this to the Lees Edwards rewrite project.

The columnar cell system was suggested by @RudolfWeeber and @fweik to circumvent issues with the changing Lees Edwards offset while integrating.

The columnar cell system should be based on the regular domain composition cell system enforcing one cell in the x-direction.

[2018-08-22 13:53] #2157 closed, assigned to fweik

[2018-08-22 14:09] #2098 closed, assigned to nobody

[2018-08-22 14:10] #2182 closed, assigned to nobody

[2018-08-22 14:39] fweik opened #2186 "analyze_rdfchains leaks memory"
and look generally suspicious.

[2018-08-22 15:01] #2176 closed, assigned to nobody

[2018-08-22 15:07] fweik opened #2187 "Sporadic failures in `system.analysis.rdf_chain`"
Can be found by repeatedly running the test case (`analyze_chains.py`). Error occurs about 1% of the time.

[2018-08-22 15:37] #2158 closed, assigned to fweik

[2018-08-22 15:40] #2172 closed, assigned to nobody

[2018-08-22 15:58] #2171 closed, assigned to jonaslandsgesell

[2018-08-22 15:58] #2161 closed, assigned to nobody

[2018-08-23 13:42] #966 closed

[2018-08-23 13:44] RudolfWeeber commented on #1310
uwerr was removed

[2018-08-23 13:44] #1310 closed, assigned to nobody

[2018-08-23 13:53] #1105 closed, assigned to nobody

[2018-08-23 13:53] RudolfWeeber commented on #1135
Coulomb DH was removed

[2018-08-23 13:54] #1135 closed, assigned to fweik

[2018-08-23 13:54] #1139 closed, assigned to nobody

[2018-08-23 13:54] #1141 closed, assigned to nobody

[2018-08-23 13:55] #1170 closed, assigned to nobody

[2018-08-25 19:17] pdebuyl commented on #2181
please add quotes to the strings (`'off'`, etc).

I'd add the the settings can roundtrip: the property `lees_edwards` returns always a list, with `['step', 0.1]` for the step case for instance.

[2018-08-27 04:28] #2086 closed, assigned to nobody

[2018-08-27 04:44] RudolfWeeber commented on #269
Removed in 4.0

[2018-08-27 04:44] #269 closed

[2018-08-27 04:46] #253 closed

[2018-08-27 04:46] #252 closed

[2018-08-27 04:46] #251 closed

[2018-08-27 04:47] #249 closed

[2018-08-27 04:47] #242 closed

[2018-08-27 05:02] RudolfWeeber commented on #1709
Removed in 4.0

[2018-08-27 05:02] #1709 closed, assigned to nobody

[2018-08-27 05:11] RudolfWeeber commented on #1134
Afaik, the only things left are SHANCHEn and the different LB noise types.
Everything else has been removed or refactored.
Since noe of this affects the docs at this point, I'll close this issue.

[2018-08-27 05:11] #1134 closed, assigned to nobody

[2018-08-27 08:37] bindgens1 commented on #2181
First part: Done!

[2018-08-27 09:45] jonaslandsgesell opened #2200 "stress tensor should be renamed to pressure tensor"
since it has the sign convention of a pressure tensor

[2018-08-28 11:11] ashreyaj opened #2204 "Inertialess tracers complains when non-virtual particle is integrated before initializing LB"
[code]

Running the above script throws the following error
[code]

The error occurs when the non-virtual particle is integrated before LB is initialized. I believe that `VirtualSitesInertialessTracers()` should not have an effect on integrating non-virtual particles whether or not LB is activated.

[2018-08-28 11:58] pdebuyl commented on #2181
thanks. I guess that we'll have to wait for 4.0 to be released before we receive feedback on the interface.

[2018-08-28 13:56] #2091 closed, assigned to nobody

[2018-08-28 21:40] RudolfWeeber opened #2207 "CI: OpenSuSE and Centos don't work with release_type=Debug"

[2018-08-28 21:40] RudolfWeeber commented on #2207
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/3256/failures

[2018-08-29 11:54] pdebuyl commented on #2181
@rempferg @fweik @bindgens1 can one of you allow me to assign labels to issues? a label "per feature" would be nice (here: "lees-edwards")

[2018-08-29 12:06] fweik commented on #1421
I suppose this was fixed by #2198?

[2018-08-29 12:29] mkuron commented on #1421
Yes, please close this ticket.

[2018-08-29 12:36] fweik commented on #2181
@pdebuyl unfortunately this can not be done on github without also granting permissions to the repository.

[2018-08-30 15:40] #2207 closed, assigned to nobody

[2018-08-30 16:26] #2102 closed, assigned to RudolfWeeber

[2018-08-30 18:02] fweik opened #2210 "Style checking for merge broken"
Fails with unclear error:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/36002

[2018-08-30 18:03] fweik commented on #2210
@mkuron could you have a look? Also there were no automatic comments today on PRs that needed style fixes according to the CI.

[2018-08-30 18:09] #1421 closed, assigned to fweik

[2018-08-31 06:02] #2186 closed, assigned to nobody

[2018-08-31 06:44] mkuron commented on #2210
The bot definitely works, see https://github.com/espressomd/espresso/pull/2211#issuecomment-417438779. Probably those PRs hadn't merged the python branch in the last few days.

I can confirm though that it doesn't work on the Python branch. I'm preparing a fix right now.

[2018-08-31 08:10] #2210 closed, assigned to nobody

[2018-08-31 08:23] fweik commented on #2187
This is still valid after #2212. It is also not clear if the test is correct.

[2018-08-31 11:23] fweik opened #2214 "membrane_collision is broken"
The oif membrane_collision relies on the `p.p.out_direction` being up-to-date. But the `out_direction` is updated by a bonded interaction, which are not guaranteed to be evaluated before the pair interactions are calculated.

[2018-08-31 11:48] RudolfWeeber commented on #2187
rdfchains:
My tentative conclusions from looking at the core code:
* The center of mass calculation probably does not cope with polymers spanning the periodic boundaries under all conditions.
* The center of mass implementation (and maybe other parts of the code) do not seem to cope with particle coordinates outside the primay simulation box. There seems to be some kind of capping going on.
* Ther

[2018-08-31 12:01] fweik commented on #2187
If this is correct the code should be removed and reimplemented on top of correct primitives extracted from the cluster analysis or elsewhere.

[2018-08-31 12:46] RudolfWeeber commented on #2187
We will remove the code for rdfchain from the release.

[2018-09-01 09:29] #2095 closed, assigned to RudolfWeeber

[2018-09-01 15:34] #1624 closed, assigned to fweik

[2018-09-03 20:04] #2065 closed, assigned to nobody

[2018-09-04 07:18] #2187 closed, assigned to nobody

[2018-09-04 19:06] junghans commented on #1032
I saw v4.0 is out, but where is the release tag?

[2018-09-04 20:10] junghans commented on #1032
And https://github.com/espressomd/release/raw/master/espresso-4.0.0.tar.gz has no `espresso-4.0.0` path prefix.

[2018-09-04 20:53] fweik opened #2226 "Odd difference in statistics between LB CPU and GPU test"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/37547

possibly due to changes in the in #2220 or #2221.

[2018-09-04 21:41] #1932 closed, assigned to nobody

[2018-09-05 04:29] KaiSzuttor commented on #2226
lb test was only touched in #2221

[2018-09-05 07:57] fweik commented on #2226
Ok. Then either somebody has to look at this again or we just revert #2221, since it only changed test performance.

[2018-09-05 08:49] KaiSzuttor commented on #2226
I can not reproduce the failing lb test on a linux machine...

[2018-09-05 09:09] KaiSzuttor commented on #2226
actually also not on mac neither with python2 nor with python3

[2018-09-05 09:39] KaiSzuttor commented on #1032
i readded the tag, but the attached tar.gz file is not usable due to the missing submodule (h5xx).

[2018-09-05 09:53] RudolfWeeber commented on #2226
I had a closer look.
Are we prepared to believe that the standard deviation for kT=1.5
is 0.015 for the cpu lb and 0.15 for the gpu lb?
A single measurement is for the entire lb fluid.

Is the expected standard deviation of the temperature known?

[2018-09-05 09:54] RudolfWeeber commented on #2226
I have cleaned up the lb test, but the question is which criterion to use.
Based on the standard deviation estimated from the sample, the lbgpu would bass the 95% confidence interval, but the lb cpu would not because of the much smaller standard deviation.

[2018-09-05 10:02] KaiSzuttor commented on #2226
since the LB thermostat is nothing but a langevin thermostat it should ideally be tested the same way (ideally the langevin thermostat would be used for LB)

[2018-09-05 10:11] fweik commented on #2226
@KaiSzuttor doesn't this concern the LB thermalization, and not the particle coupling?

[2018-09-05 10:15] KaiSzuttor commented on #2226
I'm not sure what @RudolfWeeber is talking about

[2018-09-05 10:20] RudolfWeeber commented on #2226
I'm talking about the fluid temperature, which is calculated
as T \sim node_density *|node_velocity|^2

The particle temperature (\sim m |v|^2) is not the issue.

[2018-09-05 10:34] KaiSzuttor commented on #2226
another issues with the test: it's not clear to me why we have a different precision for the mass and momentum for CPU and GPU

[2018-09-05 12:35] Kischy opened #2229 "Bug in the implementation of the Gay-Berne potential"
There is a error in gb.hpp (Gay-Berne potential) that makes it impossible to use other values for \sigma_0 other than 1:

Line 83 and 84

`X = 1/(dist - Sigma + ia_params->GB_sig);`
`Xcut = 1/(ia_params->GB_cut - Sigma + ia_params->GB_sig);`

should really be

`X = ia_params->GB_sig / (dist - Sigma + ia_params->GB_sig);`
`Xcut = ia_params->GB_sig / (ia_params->GB_cut - Sigma + ia_params->GB_sig);`

[2018-09-05 12:56] Kischy opened #2230 "Equation in the manual (Gay-Berne interaction) has a slight error"
[http://espressomd.org/html/doc4.0/inter_non-bonded.html#gay-berne-interaction](http://espressomd.org/html/doc4.0/inter_non-bonded.html#gay-berne-interaction)

There is a slight mistake in the fourth equation of this chapter:
The first part of the right side of the equation there is written as:

![grafik](https://user-images.githubusercontent.com/42995291/45094343-4bdfed80-b11b-11e8-949e-ddaa1f6f6

[2018-09-05 13:08] bindgens1 commented on #1659
@fweik
@pdebuyl

Shall we close this?

[2018-09-05 13:09] bindgens1 commented on #1894
@fweik
@KaiSzuttor

Shall we close this?

[2018-09-05 13:25] #1894 closed, assigned to nobody

[2018-09-05 16:41] RudolfWeeber opened #2231 "Coldet: vs based modes may place particles outside box"
Yet another corner case:
The vs are initailly placed at the position of one of the colliding particles, to put them in a valid cell for the node.
After all collision are handled, a reosrt occurs, which will put the vs in the correct cell on the correct node.

However: the colliding particle may itself be outside of the node domain by up to a skin.
A possible solution might be to place based on p.l

[2018-09-05 19:03] fweik commented on #2231
Why can't you just put it into the same cell as the the colliding particle? The position should not matter.

[2018-09-05 21:43] CompRhys opened #2232 "Structure Factor Scaling Query"
I was wondering what the reasoning behind the structure factor implementation as it is cubic-runtime in the order. I fully appreciate that I am not an expert but as the routine returns s(q) and not s(q,theta,phi) are we not implicitly assuming that s(q) and therefore the system is isotropic?

If we assume an isotropic system I think it should be possible to have a routine that is linear-runtime in

[2018-09-06 07:45] fweik opened #2233 "Proper return type for Observables needed"
Observables return floating point tensors, but have no
way of communicating the dimensions of the data (just
the size). We can't use `boost::multi_array` for that because
there the rank is static, but we need dynamic rank for the
Observables.

[2018-09-06 07:46] #1659 closed, assigned to nobody

[2018-09-06 07:51] fweik commented on #2232
No I can't see one either. I think the implementation is just inefficient. It's also not clear to me why
you would need an explicit calculation of the structure factor. You could also just do a FFT of the RDF I think.

[2018-09-06 08:11] #2162 closed, assigned to nobody

[2018-09-06 08:28] CompRhys commented on #2232
I require an explicit calculation to avoid finite size effects imposed by the need to truncate g(r) in accordance with the minimum image convention that although are often negligible are significant sources of error for my investigation. The idea is explained in part G of this paper:

[2018-09-06 10:57] fweik commented on #2230
Yes, this is the right place. Thank you!

[2018-09-06 12:03] #764 closed

[2018-09-06 12:31] KaiSzuttor commented on #1032
@junghans Could you please check if the recently uploaded file for the release meets your requirements?

[2018-09-06 12:34] KaiSzuttor opened #2236 "Shanchen untested"
https://github.com/espressomd/espresso/pull/2235#issuecomment-419075769

revert #2235 if tests are added.

[2018-09-06 13:02] junghans commented on #1032
@KaiSzuttor: still no `espresso-4.0.0/` path in `espresso-4.0.0.tar.gz`:
[code]

[2018-09-06 13:06] junghans opened #2237 "NameError: name 'pattern' is not defined"
Building 3dd990f3c8301a27a2bf068d7f179214c5015861 fails with:
[code]
this is with cython-0.25.2, which is indeed a bit dated, but CMake should request a newer version if needed.

[2018-09-06 13:19] RudolfWeeber opened #2238 "LB_GPU thermostat test fails when EXTERNAL_FORCES are not compiled in"
Does not hit target temperature by a wide margin

[2018-09-06 13:25] KaiSzuttor commented on #1032
I'm not familiar with the necessary structure... what you want to have is:
[code]
?

[2018-09-06 13:33] KaiSzuttor commented on #2237
I cannot reproduce this on ubuntu with cython 0.25 and python 3.5. On which distribution are you building with which compiler?

[2018-09-06 13:39] KaiSzuttor commented on #2238
but the test succeeds...

[2018-09-06 13:57] #2230 closed, assigned to nobody

[2018-09-06 14:00] fweik commented on #2238
If `!EXTERNAL_FORCES` no force is applied to the fluid. This should also trigger the momentum conservation test. If not this needs to be investigated (c.f. src/core/lbgpu_cuda.cu:3562).

[2018-09-06 14:03] fweik commented on #2238
I think the proper solution is to just always run the `apply_forces` kernel. This does have a performance cost, but on the other hand LB simulations w/o body forces are not exactly our optimization target.

[2018-09-06 14:06] KaiSzuttor commented on #2238
i get a
[code]
if compiled with maxset.hpp minus all features that imply external forces:
[code]

[2018-09-06 16:21] RudolfWeeber commented on #2238
I git bisected:
[code]

[2018-09-06 16:23] RudolfWeeber commented on #2238
Candidate:
[code]
I undid the force -> force_density renames before git diff.

[2018-09-06 17:29] junghans commented on #1032
@KaiSzuttor, that is pretty much the standard for release tarballs!

[2018-09-06 17:30] junghans commented on #2237
This some gentoo box! Let me try a new cython.....

[2018-09-06 18:34] mkuron commented on #1032
Back in the Tcl days, there was a script that created our release tarballs. And since @junghans was happy with those, I assume they had a root directory. That script also ran autoconf and automake so the user didn’t need them installed on his machine. I guess we could run cython before creating the tarball so the user doesn’t need it installed.

[2018-09-06 20:10] junghans commented on #1032
Yes, autotools has `make dist`.

[2018-09-06 20:10] junghans commented on #1032
Just have a look at the older espresso tarballs to check for the structure.

[2018-09-06 23:35] hmenke commented on #1032
Why don't you just use `git archive` to generate the tarball?
[code]

[2018-09-07 05:37] KaiSzuttor commented on #1032
the answer is simple: i was not aware of the prefix that is needed

[2018-09-07 06:05] KaiSzuttor commented on #1032
it's now updated for the tag

[2018-09-07 08:59] jngrad opened #2239 "Refactor Particle struct"
Objective: reduce memory footprint of particle lists during `short_range_loop()` execution
- [ ] **re-shuffle Particle struct into dedicated structs or classes**
  + group members relevant to `short_range_loop()` in the same struct
  + refactor all functions processing Particle structs (member names should already be unique)
- [x] **write benchmarks for different projects**: magnetic fluids, ...
-

[2018-09-07 09:29] hmenke commented on #2239
I think that's a bad idea because older parts of Espresso might rely on the exact order of the data members (for strided `memcpy` an such).

[2018-09-07 09:57] fweik commented on #2239
@hmenke I don't think so. Do you have something specific in mind? Also such code should be fixed/removed anyhow...

[2018-09-07 10:03] pdebuyl commented on #2239
The only occurence of memcpy in the current python branch is to actually error out on the use of memcpy for the particles.

https://github.com/espressomd/espresso/blob/python/src/core/particle_data.hpp#L412

[2018-09-07 10:25] hmenke commented on #2239
@fweik That is the case for swimmers in LB GPU.  It's also the most efficient way to perform strided `memcpy`.

https://github.com/espressomd/espresso/blob/8ae11ece4bff74c4bbfac726148acdb2c521893d/src/core/cuda_interface.hpp#L46-L58

[2018-09-07 10:38] fweik commented on #2239
@hmenke I don't get your point. Can you make an example of something that is possible now and would not be after the change? Even now particles in Espresso are not trivially copyable.

[2018-09-07 10:40] hmenke commented on #2239
@fweik Apparently this is not an issue for `Particle` as Pierre confirmed, just something to keep in mind when refactoring memory layouts.

[2018-09-07 11:50] fweik commented on #2238
Why did we not catch this?

[2018-09-07 12:08] KaiSzuttor commented on #2238
Probably because we don't have a cuda test where EXTERNAL_FORCES is not defined.

[2018-09-07 12:09] fweik commented on #2238
Fair enough.

On Fri, Sep 7, 2018, 14:08 Kai Szuttor <notifications@github.com> wrote:

[2018-09-07 12:13] RudolfWeeber commented on #2238
Because builds with (not EXTERNAL_FORCES) is one of the 2^20 combinatations we don't test.
In the future, I think, we should do big changesets by automated tools like clang-rename.
Then, it's easier to see if any unintended changes make their way in by re-running the tool and making a diff.

[2018-09-07 12:37] jngrad commented on #2214
I have a similar issue with elastic membranes simulations in a fluid. In [jngrad/espresso/OIF-normals](https://github.com/jngrad/espresso/tree/OIF-normals), member `out_direction` is now updated before evaluation by `add_membrane_collision_pair_force(const Particle *p1, const Particle *p2, ...)`. The simulation does not crash during a collision anymore, however this solution isn't completely satis

[2018-09-07 12:40] fweik commented on #2214
I'm currently working on a generic solution for this. If you are interested
please come talk to me next week.

On Fri, Sep 7, 2018, 14:37 Jean-Noël Grad <notifications@github.com> wrote:

[2018-09-07 13:03] junghans commented on #1032
prefix is correct now, but no `h5xx`?

[2018-09-07 13:14] junghans commented on #2237
Works with cython-0.26.1, so it must be a problem with python-3.6 and cython-0.25.2.

[2018-09-07 14:07] KaiSzuttor commented on #1032
fixed

[2018-09-07 14:23] #2238 closed, assigned to nobody

[2018-09-07 15:28] junghans commented on #2237
https://github.com/gentoo/gentoo/commit/87ad744e3f351ce03906019a1025fa52454125af

[2018-09-07 15:28] #2237 closed, assigned to nobody

[2018-09-07 16:08] junghans commented on #1032
I uploaded the tarball to the Gentoo mirror, so please from now on no tarball replacements anymore.

https://github.com/gentoo/gentoo/commit/87ad744e3f351ce03906019a1025fa52454125af

[2018-09-08 00:45] junghans commented on #1032
And OpenSuse: https://build.opensuse.org/request/show/634398

[2018-09-08 07:41] mkuron commented on #1032
In case you didn't know, Espresso cannot be built with HDF5 support on OpenSUSE 15. The Boost.MPI and HDF5 packages in that release were built against different OpenMPI versions.

[2018-09-08 11:33] junghans commented on #1032
And Fedora: https://bugzilla.redhat.com/show_bug.cgi?id=1625379

[2018-09-08 11:34] junghans commented on #1032
@mkuron, I think they fixed that in OpenSuse Factory.

[2018-09-08 12:04] mkuron commented on #1032
I'm not sure about that. Looking at https://build.opensuse.org/public/build/home:cjunghans:branches:devel:languages:python/openSUSE_Tumbleweed/x86_64/python-espressomd/_log, I can see that it installed both openmpi and openmpi2, just like it did on my tests on 15.0 a few weeks ago. While that may build, all tests will fail. Your 42.3 build failed due to some RPM spec syntax issue and The 15.0 buil

[2018-09-08 13:00] junghans commented on #1032
@mkuron, so let's disable hdf5 for now and the other issue goes away if make it python3-only.

https://build.opensuse.org/request/show/634468

[2018-09-10 08:39] KaiSzuttor opened #2245 "Add test for installation to CI"
Currently we don't test the install target but we provide it.

[2018-09-10 10:20] fweik opened #2247 "Failures in LB test"
There are again random failures in the LB test, c.f.
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/38388

[2018-09-10 11:26] fweik opened #2248 "MDA_ESP does not work without ELECTROSTATICS"
Also I think there is no test.

[2018-09-10 12:07] junghans opened #2249 "rpmlint report"
Update of #774

[code]

[2018-09-10 12:51] mkuron commented on #2249
Here's a list of all `exit` calls:
[code]

These are either fatal errors (where `std::abort` may be more appropriate, as in an `assert`) or incorrect parameters (where one should return an error to the Python interpreter instead of terminating).

Maybe we should add a check to the CI to ensure that the `exit` symbol doesn't appear in any library.

[2018-09-10 16:25] junghans opened #2250 "collision_detection test fails on Fedora"
[code]
Details [here](https://github.com/espressomd/espresso/files/2367503/build_fedora.txt)

[2018-09-10 21:12] junghans commented on #2250
How can I skip a test?
[code]
doesn't seem to do the job!

[2018-09-11 12:38] mkuron opened #2253 "Move release tarballs from release repo to release page"
@fweik, please move the tarballs from https://github.com/espressomd/release to https://github.com/espressomd/espresso/releases. They all have corresponding tags, except for 2.1.2j, which is 608ff0074436b43b9faab2bc5b5da3b38aa45ab7.

[2018-09-11 12:46] junghans opened #2254 "Some test fails on OpenSuse"
From https://build.opensuse.org/request/show/634758
[code]
Details [here](https://github.com/espressomd/espresso/files/2370996/log.txt)

[2018-09-11 12:47] junghans commented on #2254
@mkuron might be related to what you saw on OpenSuse 15

[2018-09-11 12:47] #1032 closed

[2018-09-11 13:20] mkuron commented on #2254
This only happens on your 32-bit build. I think numpy just doesn't support 128-bit floats there. I have posted a patch.

Thanks for reporting all these issues. I saw that your builds for the exotic architectures (ppc64, ppc64le, s390x) are still failing. Please keep on reporting bugs and we'll try to fix them. Also, your SLE12 and openSUSE 42.3 builds should probably require _openmpi_ instead of _

[2018-09-11 15:54] junghans commented on #2254
Once the initial rpm request went in, you can take it over an and fix all the builds ;-)

[2018-09-11 17:17] junghans commented on #2254
Oh and it seems strange, that the i686 on Fedora doesn’t have that problem!

[2018-09-11 21:42] junghans commented on #2254
[opensuse_log.txt](https://github.com/espressomd/espresso/files/2372820/opensuse_log.txt)
There is something else wrong on openSUSE 42.3

[2018-09-12 08:29] mkuron commented on #2254
[code]
That comes from here:

https://github.com/boostorg/mpi/blob/e5fe21df2f42dda0ce8674a935d44e99739c4a19/include/boost/mpi/environment.hpp#L87-L101

https://github.com/boostorg/mpi/blob/56c2a212e5d9c43dab7ae873a0a8c2c7897327bd/include/boost/mpi/config.hpp#L37-L57

`MPI_VERSION` is unconditionally set to `3` in _mpi.h_, so it seems like the MPI headers are broken in your build container. It work

[2018-09-12 08:43] junghans commented on #2254
It is not _my_ build container, but the one OpenSUSE Build Service is using ;-)

[2018-09-12 08:44] junghans commented on #2250
@mkuron do you have an idea for that one?

[2018-09-12 08:53] mkuron commented on #2254
I know. I actually found the cause of the problem though: in Boost 1.54, it explicitly checks for `MPI_VERSION == 2`, which was not fixed until Boost 1.56. Can you apply #2255 and see if that fixes it?

[2018-09-12 09:02] mkuron commented on #2250
Not sure. https://github.com/espressomd/espresso/blob/3dd990f3c8301a27a2bf068d7f179214c5015861/src/core/collision.cpp#L433-L475 looks rather inconspicuous. At least if we assume that `n_nodes` has already been set here, which it might not be since this happens while loading the module. Maybe @RudolfWeeber or someone else who knows the collision detection can have a look.

[2018-09-12 09:50] junghans commented on #2254
I am playing around with it here: https://build.opensuse.org/package/show/home:cjunghans:branches:devel:languages:python/python-espressomd

[2018-09-12 11:11] fweik commented on #2250
Rudolf is on vacation for another two weeks. I'll look into this today.

[2018-09-12 13:50] junghans commented on #2254
Leap 15.0 and 42.3 and Tumbleweed seems to be ok now with #2255. I will post the build issues on ppc64le in a bit!

[2018-09-12 13:54] junghans opened #2258 "Some tests fails on i586, ppc64, ppc64le and 390x"
`npt`:
[code]
and `test_elc_vs_mmm2d`:
[code]
and `test_elc_vs_mmm2d`:
[code]

Details [here](https://github.com/espressomd/espresso/files/2375439/log_opensuse_ppc64le.txt)

CC @mkuron

[2018-09-12 14:15] mkuron commented on #2258
These errors are actually on ppc64le, and I have no idea what is happening.

The errors on [ppc64](https://build.opensuse.org/package/live_build_log/home:cjunghans:branches:devel:languages:python/python-espressomd/openSUSE_Factory_PowerPC/ppc64) and [s390x](https://build.opensuse.org/package/live_build_log/home:cjunghans:branches:devel:languages:python/python-espressomd/openSUSE_Factory_zSystems/s

[2018-09-12 15:43] junghans commented on #2258
Not sure, I fixed it now...

[2018-09-12 15:53] mkuron commented on #2258
What did you change?

Also, please re-open this issue as the periodicity issue on the big-endian architectures still exists.

[2018-09-12 15:58] junghans commented on #2258
I think, it is a parallel test issue, `make check` without `-j5` helped.

`ppc64` with `le` is still failing, but that is a different issue.

[2018-09-12 16:32] junghans commented on #2258
On ppc64:
[code]
and
[code]

[2018-09-12 16:37] junghans commented on #2258
Same on 390x

[2018-09-12 18:15] pdebuyl commented on #2248
The line https://github.com/espressomd/espresso/blob/python/src/python/espressomd/MDA_ESP/__init__.py#L161

    charges.append(p.q)

requires the `q` particle property to be defined.

Solutions:
1. Always define `q`, even without ELECTROSTATICS
2. Protect the access to q in MDA_ESP by a conditional

[2018-09-12 19:25] fweik commented on #2248
Yes, `q` should just be `static constexpr` and zero if !ELECTROSTATICS.

[2018-09-13 01:20] junghans commented on #2258
There is still an issue on Tumbleweed i586:
[code]

[2018-09-13 02:38] junghans commented on #2250
I can NOT reproduce this outside of the rpm vms with:
[code]

[2018-09-13 11:28] #2254 closed, assigned to nobody

[2018-09-13 12:09] junghans commented on #2258
Ok, #2259 fixed big endian!

[2018-09-13 12:26] mkuron commented on #2258
https://build.opensuse.org/package/show/home:cjunghans:branches:devel:languages:python/python-espressomd

SLE_12_SP4: needs to be switched from openmpi2 to openmpi, @junghans.

armv7l:
[code]

i586:
[code]

[2018-09-13 15:10] fweik commented on #2247
This is still happening and needs to be resolved soon.

[2018-09-13 15:51] KaiSzuttor commented on #2247
problem: only ca. 2% fail rate

[2018-09-13 15:57] KaiSzuttor commented on #2247
IIRC LBs seed is not interfaced

[2018-09-13 15:59] fweik commented on #2247
The variance of <v^2> is 10  times larger for the GPU code than for the CPU code, and there is no apparent reason for that.

[2018-09-13 16:51] junghans commented on #2258
SLE_12_SP4 has another problem:
[code]

[2018-09-13 17:42] RudolfWeeber commented on #2247
The LB GPU rng needs to be seeded, otherwise the test will fail from time to time.
I did not check the variance of the variance for different seeds.
the current tolerance was chosen arbitrarily such that the test ran in a loop for some ten minutes. The failure rate shoud drop at least exponentially with the tolerance.

[2018-09-13 20:57] fweik commented on #2247
Also the GPU LB fails a simple shear test https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/39761, which works fine for the CPU. Could it be that the viscosity units are different for GPU and  CPU? That would also explain why the GPU version is more noisy with the same (numerical) parameters.

[2018-09-14 10:09] junghans commented on #2245
You should also test `make install DESTDIR=/some/dir`

[2018-09-14 10:10] junghans commented on #2258
@mkuron any idea about that i586 issue?

[2018-09-14 11:24] mkuron commented on #2258
Patch in #2265. That only leaves us with the segfault on 32-bit ARM.

[2018-09-14 12:26] junghans commented on #2258
I guess, you need to run qemu again ;-)

[2018-09-15 23:34] junghans commented on #2258
Hmm, on i586 the serial tests take a very long time.

[2018-09-16 06:46] mkuron commented on #2258
I think the i586 build machine just got stuck. Before you uploaded my patches, the tests ran just fine, and the patches shouldn't slow down any tests. They also still run fine in my Docker container.

Regarding ARM: I couldn't reproduce the _analyze_energy_ failure. Trying to reproduce it was a nightmare though: the QEMU emulation is missing a syscall that OpenMPI 2 uses, so I first had to [work a

[2018-09-16 12:46] junghans commented on #2258
Maybe @kkaempf knows how to do that!

[2018-09-16 13:43] kkaempf commented on #2258
Reach out to opensuse-buildservice@opensuse.org, they should be able to help.

[2018-09-18 08:02] fweik opened #2269 "Create release checklist"
We need a check list  for the next release containing all the needed steps to
make sure the process goes smoothly next time.

Here is what we came up with in the last Espresso meeting:

## May change repository
- Update CI containers to recent version
  of libs and distributions
- Check /requirements.txt
- Check tutorials and samples
- Check and fix copyright headers
- AUTHORS list
- Check the ver

[2018-09-18 08:17] RCreyghton opened #2270 "Use of deprecated Sphinx config value"
When make'ing sphinx on my configuration (python 2.7.15, sphinx 1.8.0) I get the following error:
[code]
I traced this to line 312 in build/doc/sphinx/conf.py, which uses autodoc_default_flags, which is indeed deprecated: http://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#confval-autodoc_default_flags
Replacing this as follows solved this issue for me:
[code]
I suspect line 312 of /

[2018-09-18 08:28] mkuron commented on #2269
One point to add after @junghans's OpenSUSE package builds showed a bunch of issues:
 - Test builds on i386 and some big-endian architecture

[2018-09-19 21:49] junghans commented on #2258
The ppc64le issue is back:
[code]
and
[code]

[2018-09-20 06:30] kkaempf commented on #2258
Hmm, can we track which buildhosts are affected ? That might be a hardware/architecture/cpu-type problem !?

[2018-09-20 08:33] mkuron commented on #2258
Looking at https://build.opensuse.org/packages/python-espressomd/job_history/home:cjunghans:branches:devel:languages:python/openSUSE_Factory_PowerPC/ppc64le, there is no pattern. The job can succeed one day and fail on the same host the next day. These issues are also not reproducible in QEMU emulation, which is too bad as we only have x86_64 hardware on site.

This one is also interesting:
[code]

[2018-09-20 08:45] kkaempf commented on #2258
Are you saying the failures (like the array mismatch) are ppc64le specific ?

Naa, that's just an "out of memory". This can be avoided by adding a `_constraints` file next to the `.spec` to tell buildservice "this needs a bigger build host". See [libreoffice](https://build.opensuse.org/package/view_file/LibreOffice:Factory/libreoffice/_constraints?expand=1) as an example.

[2018-09-20 09:10] mkuron commented on #2258
Yes, this specific set of errors only appears on ppc64le. Some tests have rather tight tolerances that might not be valid on different hardware implementations of floating-point arithmetic, but the deviations appearing here are a bit big to blame on that.

[2018-09-20 09:42] kkaempf commented on #2258
Can you give me a minimal test case ? I have a (large) `ppc64le` machine available to run tests and narrow the problem down. It might be a compiler bug after all.

[2018-09-20 09:52] mkuron commented on #2258
While I can't provide a minimal test case as I don't know what is specifically causing the issue, here is how I built and ran the failing tests manually:
[code]

[2018-09-20 12:22] junghans commented on #2258
@kkaempf on i586 it gets stuck reproducible at:
[code]

[2018-09-21 09:07] fweik opened #2275 "VirtualSitesInteratialessTracers do not conserve momentum"
See #2274.
Also there is a lot confusion and code-duplication going on there. Also there are issues with the integration scheme when there are tracers and normal particles, because during the force calculation
the positions of the tracers is not update yet, but the one of the real particle is which leads to wrong forces. This can probably be repaired by updating the tracers like the other virtual

[2018-09-21 09:09] fweik opened #2276 "mass-dependent observables shouldn't include virtual particles"
which is wrong, because they are not degrees of freedom and do not carry momentum or mass.

[2018-09-21 13:44] KonradBreitsprecher opened #2278 "ELC + ICC only for constant potential ELC"
Unlike in the code, I think ICC+ELC only makes sense for const. pot. ELC (= full metallic + cancelling the global dipole moment in non-periodic dim). A global dipole moment allowed in vanilla ELC (no dielectric contrast) can lead to ICC charge divergence. I could get it to run (after removing the checks) with const. pot. and a smaller relaxation parameter to avoid overshoot by ELC.

[code]

[2018-09-21 13:58] fweik commented on #2278
Can you please explain how plain ELC can lead to an ICC divergence? Physically this looks sensible to me.

[2018-09-21 16:17] fweik opened #2279 "Code duplication in and between MMM2d and ELC"
The code for the two directions in the long range part of MMM2d and in ELC are largely identical but duplicated, so is the code for the sine/cosine cache. Also MMM2d and ELC are largely identical.

[2018-09-21 20:14] RudolfWeeber commented on #2276
On Fri, Sep 21, 2018 at 02:09:21AM -0700, Florian Weik wrote:

This might also be true for kinetic energy

[2018-09-22 08:21] RudolfWeeber commented on #2275
The test has lbboundaries defined in the individual cpu and gpu files.
Without those, the momentum conservation passes.
The test files should be merged into a single file the same way as is done fo lb.

[2018-09-22 09:07] fweik commented on #2275
Argh. Thank you. Then there is still the issue of the integration order.

[2018-09-22 09:19] RudolfWeeber commented on #2275
On Sat, Sep 22, 2018 at 02:07:35AM -0700, Florian Weik wrote:

Can you write down a test case demonstrating that?

[2018-09-22 10:11] fweik commented on #2275
Yes, will do. But it's obvious, the real particles are propagated before the force calculation, the tracers after.

[2018-09-23 17:43] fweik commented on #2276
Also kinetic pressure.

[2018-09-24 12:43] RudolfWeeber commented on #2239
Benchmarks:
Based on our discussion two weeks ago, I think, the following is reasonable
* Dilute and dense LJ liquid:
  * 1k and 10k particles per processor core
  * 1,2,8,16 cores
* Neutral liquid of charged lj particles:
  * Charges of +,-1, neutral system
  * P3M at 1E-4 accuracy
  * Same sizes and cores as for lj liquid

* Each individual simulation should run about 1-2 minutes to limit noise

[2018-09-24 15:50] #2248 closed, assigned to nobody

[2018-09-25 12:28] pdebuyl commented on #2083
This is done in both mine and Sebastian's `lees_edwards_rebase` branch, I consider this done :-)

[2018-09-25 12:30] pdebuyl commented on #2083
This is done in both mine and Sebastian's `lees_edwards_rebase` branch, I consider this done :-)

[2018-09-25 12:31] pdebuyl commented on #2181
This is done in both mine and Sebastian's lees_edwards_rebase branch, I consider this done :-)

See https://github.com/pdebuyl/espresso/blob/lees_edwards_rebase/samples/lees_edwards_vis.py for a sample simulation.

[2018-09-25 12:39] pdebuyl commented on #2051
An update, with @bindgens1

1. We finalized the interface and the global variable holding the parameters.
2. `get_mi_vector` is done.
3. We modified the algorithm so that it performs only half a velocity update in `propagate_vel_pos` and the remaining velocity update is in `propagate_vel_finalize_p_inst`. This should help for the coupling to LB.
4. There is a testcase
5. There is a working sample

[2018-09-26 07:49] KaiSzuttor commented on #2270
We can only use ```autodoc_default_options``` after we require sphinx 1.8.

[2018-09-28 15:10] jonaslandsgesell opened #2286 "Mention in the documentation how one can open H5MD files with h5py"

[2018-09-30 19:04] fweik commented on #2137
Just an update on this: I managed to make the MD work without the ghost shifts (the ghosts_shits2 branch in my repository). Unfortunately the LB coupling relies on the ghost shifts, so this can't be done easily. We should really consider a rewrite.

[2018-09-30 19:11] fweik opened #2287 "Add proper halo communication to LB so it does not rely on internals of the cell system."
Currently The LB couples to local cells and ghost cells. This needs to be replaced with halo reduction for the force density field.

[2018-09-30 19:11] fweik commented on #2137
Depends on #2287.

[2018-09-30 19:16] fweik commented on #2287
The required type of halo communication is not supported by the LB halo implementation (in `halo.{hpp,cpp}`). The separate halo communication in the P3M implements this, but can not be lifted out because it's tied to P3M internals. Also Maggs uses the same coupling/halo strategy as the LB and needs to be fixed too if we want to keep it.

[2018-09-30 19:24] fweik commented on #2287
Some more information on this:
Currently the LB coupling communication works as follows (this is only for coupling, for the LB streaming itself there is different stuff which is specific to LB):
1. The 19 populations in the halo regions are communicated with a 3-step halo communication.
2. Random numbers are drawn for each local particle and stored on the particle.
3. There is a (particles) ghosts

[2018-09-30 20:11] RudolfWeeber opened #2288 "Non-blocking particle data collection for gpu methods"
Gpu methods like LB_GPU or GPU-based electro/magnetostatics collect particle data on the head node at the beginning of the force calculation.
This is blocking, which potentially lets nodes idle.

Assuming that only particle forces and torques change during force_calc(),
  Everything gpu-related form
  the particle data collecting (from espresoSystemInterface.update())
  to the distribution of forc

[2018-09-30 20:15] fweik commented on #2288
I'm currently working on this. All of the communication can be run asynchronously during the normal ghost communication phase, including the memory transfer.

[2018-09-30 20:20] fweik opened #2289 "Replace custom rotation and vector code by boost.qvm"
[boost.qvm](https://www.boost.org/doc/libs/1_68_0/libs/qvm/doc/index.html) has most of the vector/matrix/quaternion methods that we need. With this we could drop most of our own quaternion and vector code, plus we would gain more things, like matrix-vector ops. Boost.qvm can work with out types by providing some simple template specializations, so this could be rolled out gradually and easily.

Th

[2018-09-30 20:34] fweik opened #2290 "Look into boost.histogram"
Boost voted in a very powerful histogram library for the next release which Espresso might benefit from. We should look into this at some point. [boost.histogram](http://hdembinski.github.io/histogram/doc/html/index.html).

[2018-09-30 20:39] hmenke commented on #2290
What's wrong with [`numpy.histogram`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.histogram.html) or [`scipy.stats.histogram`](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.histogram.html)?

[2018-09-30 20:42] fweik commented on #2290
Nothing, but we have a lot histogram code on the core level, e.g. to calculate density profiles and LB profiles. If you want to do things in parallel in Espresso, it has to be done in the core.

[2018-10-01 10:11] vanadiuz opened #2291 "What does python_dp3m_adaptive_tune(self) method?"
Dear developers,
the documentation does not say how this method works. 💁‍♂️ Could you please tell me which method to use if I want to REtuning P3M every N integration steps? 🤓
Thanks in advance!

[2018-10-01 20:31] hmenke commented on #2291
If you have to re-tune, I guess you could use the private `_tune()` function (which is common to all electrostatics methods).  Otherwise you pass the `"tune"` argument on construction.

Here are the relevant functions for `P3M`:
https://github.com/espressomd/espresso/blob/c1d850ef3c4bee39f164acc6077cde547f0e2014/src/python/espressomd/electrostatics.pyx#L255-L269

[2018-10-01 21:12] RudolfWeeber commented on #2291
I'm not sure, whether  #1937 is fixed. The following works in spite of
that issue.
p3m=DipolarP3M(prefactor=1,accuracy=1E-3,tune=True)
s.actors.add(p3m)
s.integrator.run(1000)
print "Retuning"
s.actors.remove(p3m)
p3m=DipolarP3M(prefactor=1,cao=0,mesh=0,r_cut=0,accuracy=1E-4,tune=True)
s.actors.add(p3m)

[2018-10-01 22:04] vanadiuz commented on #2291
@RudolfWeeber , I thought so 😄, thanks!

[2018-10-02 21:15] fweik commented on #2291
I take this as resolved. Still #1937 should probably be fixed.

[2018-10-02 21:15] #2291 closed, assigned to nobody

[2018-10-03 13:37] CompRhys commented on #2232
Update: Having tired to implement this I see that what I initially suggested doesn't actually work due to the quantisation of reciprocal space and so we are limited to evaluating on grid points defined by the reciprocal vectors to our real space co-ordinates. I think this means if we want to limit ourselves to evaluating s(q) at the information limit then the only thing we can do is average along

[2018-10-04 14:28] Raketenjoint opened #2293 "AUR Package"
I am using the distribution "Arch Linux" and would like to install espresso via the [AUR](https://aur.archlinux.org/). I am going to package it myself according to the [Arch packaging standards](https://wiki.archlinux.org/index.php/Arch_Packaging_Standards).
That's my first time so maybe I could need your help when trouble comes up (i.e. solved python3 issues).
Kai told me that usually @junghans d

[2018-10-04 14:31] junghans commented on #2293
Sorry, I don't do Arch packages! So I cannot really help you there!

[2018-10-11 12:10] mkuron opened #2298 "Remove CONSTRAINTS feature from documentation"
`CONSTRAINTS` no longer exists but is used in multiple tutorials and in the documentation.

[2018-10-11 15:06] RudolfWeeber opened #2300 "py; lbgpu doesn't complain when accessing non-existing nodes"
lbf[x,y,z].velocity
when  on of x,y,z > grid dim

[2018-10-15 12:07] RudolfWeeber commented on #2183
Offline discussion yielded that instead of a separate cell system, we will add a `fully_connected` property to domain decomposition.
If true for a given direction, this will designate all cells in a column as neighbors of all cells in the same column across the boundary.

[2018-10-15 12:11] #2075 closed, assigned to nobody

[2018-10-15 12:19] RudolfWeeber commented on #1575
What do we do about this?

[2018-10-15 12:21] RudolfWeeber commented on #1551
@jonaslandsgesell, what's the status?

[2018-10-15 12:22] fweik commented on #1575
Can you check if this still holds?

[2018-10-15 12:22] RudolfWeeber commented on #1537
This still relevant? At least the active matter tutorial is still a pdf?
@hmenke, @jdgraaf did you teach using the pdf, or is there an IPy version by now?

[2018-10-15 12:26] jonaslandsgesell commented on #1551
Can be closed.

RudolfWeeber <notifications@github.com> schrieb am Mo., 15. Okt. 2018,
14:21:

[2018-10-15 12:46] bindgens1 commented on #2183
I will file a pull request with the changes, so it can be merged independent of the rest.

[2018-10-15 13:04] RudolfWeeber commented on #2204
So, the complaint should only be displayed, if virtual particles are present.

[2018-10-15 13:06] RudolfWeeber commented on #1848
Can this be closed?

[2018-10-15 13:30] #1551 closed, assigned to nobody

[2018-10-15 16:23] RudolfWeeber opened #2304 "Tabulated bond should not depend on TABULATED feature"

[2018-10-15 16:29] RudolfWeeber opened #2305 "IBM and OIF surface deformation bonds lack energy contrib"
@icimrak @sgekle

[2018-10-15 16:40] RudolfWeeber opened #2306 "Formatting: Upgrade pep8 version to the one from Ubuntu 18.4?"

[2018-10-15 19:57] kosovan commented on #1551
@jonaslandsgesell Why do you consider this tutorial closed? We agreed that I will provide feedback after we finish the work on the reaction ensemble / constant pH review paper.

Last week, while working no the review we found out that it is not completely clear how and why the results follow the trend observed in Fig.2 of the tutorial. We plan to look into it together with Pascal this week.

After

[2018-10-15 21:03] KonradBreitsprecher commented on #1848
test_checkpoint.py and save_checkpoint.py actually only test for a very few things. I think checkpointing this is an important feature and bugs here might be pretty silent and nasty. We should test thoroughly for parameter retrieval of ALL interaction, methods, constraints etc.

[2018-10-15 21:27] davidsean commented on #1848
I remember testing to see if I would deterministically (including the PRNG state) resume a simulation and I couldn't get it to work.

A part if it was the use of checkpoint.register as a unit test case (since in that context the variables needed to be registered as unittest objects). I see now that this is circumvented by not having  save_checkpoint.py use the unittest framework.

Another part (II

[2018-10-15 22:28] jonaslandsgesell commented on #1551
Please open a new issue for this. This issue was about the tutorial not
existing. The curve follows the trend because of screening effects and
particles which react to water being (almost surely) removed from the
simulation for ever.

Am Mo., 15. Okt. 2018 um 21:57 Uhr schrieb Peter Kosovan <
notifications@github.com>:

[2018-10-16 11:48] RudolfWeeber commented on #1937
This might affect electrostatics as well.

[2018-10-16 13:25] #2298 closed, assigned to nobody

[2018-10-16 13:40] fweik commented on #1937
No, it does not.

On Tue, Oct 16, 2018 at 1:48 PM RudolfWeeber <notifications@github.com>
wrote:

[2018-10-16 20:16] RudolfWeeber opened #2308 "Improve stability of npt test"

[2018-10-18 12:32] fweik opened #2311 "ShapeBasedContraint hands negative distance to pair kernels"
The `ShapeBasedContraint` calls pair kernels (for force and energy) with the verbatim scalar distance returned by it's `Shape`. `Shapes` use the sign of the distance to indicate if the point in question is inside or outside, so it may return a negative distance, so this can result in the pair kernel being called with a negative distance which some do not expect leading wrong results, e.g. unexpect

[2018-10-18 20:47] fweik commented on #2247
There are now also issues with the CPU LB, c.f. https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/44784. Not sure if this is related. But I saw this at least twice today, could also be new.

[2018-10-19 13:00] #2308 closed, assigned to nobody

[2018-10-19 13:03] RudolfWeeber opened #2315 "Bugs in the LJ tutorial"

[2018-10-19 13:20] #2311 closed, assigned to fweik

[2018-10-22 13:29] RudolfWeeber opened #2316 "Thermalized LB GPU looses mass"
Density vs time:
[code]
Since single precision accuracy is ~10E-7, this may or may not be due to numerics.

The script was (with time step 0.01):
[code]

[2018-10-22 13:47] RudolfWeeber opened #2317 "Thermlized LB GPU does not conserve density"
Density vs time averaged over all nodes:
[code]
Single precision accuracy is ~1E-7, so this may or may not be numerics.
The time step was 0.01, this was without particles.

[2018-10-22 13:48] RudolfWeeber commented on #2316
The script was:
[code]

[2018-10-22 15:28] #1899 closed, assigned to itischler

[2018-10-22 16:40] #2317 closed, assigned to nobody

[2018-10-24 09:09] KaiSzuttor commented on #1537
I cannot reproduce this issue @RudolfWeeber

[2018-10-24 09:13] #1537 closed, assigned to KaiSzuttor

[2018-10-24 09:56] bindgens1 commented on #2183
Pull request
Fully connected #2314

Merged

[2018-10-24 15:13] #2300 closed, assigned to KaiSzuttor

[2018-10-24 15:17] fweik opened #2321 "Replace LB GPU RNG"
The LB GPU fluid thermalization uses a custom implementation of ran01, which is untested. This should be replaced by library code.

[2018-10-24 15:20] fweik opened #2322 "Remove LB GPU particle coupling code"
The LB GPU has it's one code to do viscous coupling. This should be unified with the CPU code to
remove this code duplication. A complete solution to integrate the viscous LB coupling into the rest of the Langevin code. This might depend on a clean up of the LB CPU coupling, see  #2287.

[2018-10-24 15:20] #2183 closed, assigned to nobody

[2018-10-25 00:21] nkinney06 opened #2323 "espresso 4 compile error"
Hello, I am a user of espresso. I am trying to install 4.0 and running into the following issue after running cmake; and then make from the build directory:
[code]
assistance would be appreciated. I tried searching the bug database. thanks, Nick

[2018-10-25 04:29] KaiSzuttor commented on #2323
Could you please provide the ```myconfig.hpp``` you used?

[2018-10-25 09:07] RudolfWeeber commented on #2097
@jainka, the gpu test is in
testsuite/python/lb_stokes_sphere_gpu.py
The resulting test for cpu and gpu lb should use a shared source file.
See testsuite/python/lb.py for an example of that. There, the test for the GPU and CPU are derived from the same base class and only a few parameters are updated.
The combined cpu+gpu tests should run in about 30 secs, probably the cpu system has to be a bit s

[2018-10-25 09:08] RudolfWeeber commented on #2097
https://www.cambridge.org/core/journals/journal-of-fluid-mechanics/article/on-the-periodic-fundamental-solutions-of-the-stokes-equations-and-their-application-to-viscous-flow-past-a-cubic-array-of-spheres/F0F666CB13F9F4508FF24329E5589709

[2018-10-25 15:47] RudolfWeeber opened #2325 "PARTICLE_ANISOTROPY: Missing guards"
myconfig including LENNARd_JONES, PARTIAL_PERIODIC, PARTICLE_ANISOTROPY:
in file included from /home/weeber/espresso-dev/src/core/electrostatics_magnetostatics/magnetic_non_p3m_methods.cpp:41:0:
/home/weeber/espresso-dev/src/core/thermostat.hpp: In function ‘void friction_thermo_langevin(Particle*)’:
/home/weeber/espresso-dev/src/core/thermostat.hpp:284:5: error: ‘thermo_convert_vel_space_to_body’

[2018-10-25 15:49] RudolfWeeber opened #2326 "LB_ELECTROHYDRODYNAMICS: missing guards"
Myconfig with LENNARD_JONES, PARTIAL_PERIODIC and LB_ELECTROHYDRODYNAMICS

/home/weeber/espresso-dev/src/core/cuda_interface.cpp: In function ‘void pack_particles(ParticleRange, CUDA_particle_data*)’:
/home/weeber/espresso-dev/src/core/cuda_interface.cpp:90:15: error: ‘struct CUDA_particle_data’ has no member named ‘mu_E’
     buffer[i].mu_E[0] = static_cast<float>(part.p.mu_E[0]);

[2018-10-25 15:51] RudolfWeeber opened #2327 "Does IMMERSED_BOUNDARY actually require VIRTUAL_SITES?"

[2018-10-25 15:52] RudolfWeeber commented on #2327
IMMERSED_BOUNDARY contains the volume conservation and surface stiffness stuff. It is not clear, if there is a remaining link with the VIRTUAL_SITES_INERTIALESS_TRACERS

[2018-10-25 15:54] RudolfWeeber opened #2328 "VIRTUAL_SITES_RELATIVE: test guards missing"
Fails with myconfig containing lj, partial_periodic, vs_relative

[2018-10-25 15:56] RudolfWeeber opened #2329 "SWIMMER_REACTIONS: Missing test guards"
Fails with myconfig lj, partial_periodic and swimmer_reactions.

[2018-10-25 15:58] RudolfWeeber opened #2330 "BOND_ANGLEDIST: Undefined symbol"
Myconfig: lj, partial_periodic, BOND_ANGLEDIST.

    import espressomd._init
ImportError: /scratch/weeber/guards/build/src/core/libEspressoCore.so.4: undefined symbol: _Z16angledist_energyP8ParticleS0_S0_P20Bonded_ia_parametersPd

[2018-10-25 16:00] RudolfWeeber opened #2331 "Non-bonded ia test fails with LJGEN_SOFT_CORE"
Myconfig: lj, partial_periodic, LJGEN_SOFT_CORE

[2018-10-25 16:01] RudolfWeeber opened #2332 "COLLISION_DETECTION: Missing guards in test"
Myconfig with lj, partial_periodic, collision detection.
At least AngleHarmonic needs to be checked.
It is not clear to me, why that is a feature in the 1st place.

[2018-10-25 16:03] RudolfWeeber opened #2333 "Missing guard in checkpointing test"
For a myconfig containing LJ, partial periodic, ELECTROSTATICS

[2018-10-25 16:04] RudolfWeeber commented on #2333
And also with INTER_RF

[2018-10-25 16:05] RudolfWeeber commented on #2333
The electrostatics stuff in the test needs to be guarded

[2018-10-25 16:07] RudolfWeeber opened #2334 "Test lb_gpu_viscous needs a guard for the presence of 'fix'"

[2018-10-25 16:17] RudolfWeeber commented on #2329
@hmenke, could you take a look at this?

[2018-10-26 07:09] KaiSzuttor commented on #2316
has to be checked after #2321 is closed.

[2018-10-26 08:50] #2331 closed, assigned to nobody

[2018-10-26 12:31] #2315 closed, assigned to pkreissl

[2018-10-27 13:15] #2334 closed, assigned to nobody

[2018-10-27 13:16] #2333 closed, assigned to nobody

[2018-10-28 14:03] RudolfWeeber opened #2343 "coldet_test_guard"

[2018-10-28 14:03] #2343 closed, assigned to nobody

[2018-10-28 18:27] #1943 closed, assigned to RudolfWeeber

[2018-10-28 22:19] fweik commented on #2330
This is fixed in mainline by #2338, but needs an extra fix for 4.0.1

[2018-10-28 22:34] fweik commented on #2330
So the reason is that the usage and prototype is if `BOND_ANGLEDIST`, and the implementation is `BOND_ANGLEDIST_HARMONIC`.

[2018-10-28 23:12] nkinney06 commented on #2323
Hi thank you for looking into this issue. I do not have a file names myconfig.hpp on my system. I do have this one

`espresso/src/core/config.hpp`

would that help? Im using bash on ubuntu on windows 10

[2018-10-29 07:58] fweik commented on #2323
The reason for this is that the implementation in `bonded_coulomb_p3m_sr.cpp` is wrongly guarded with `ELECTROSTATICS` instead of `P3M`.

[2018-10-29 08:00] fweik opened #2347 "Test building in container without external libraries"
to check that this works. This is to catch issues like #2323.

[2018-10-29 08:18] fweik commented on #2330
Closed by #2346.

[2018-10-29 08:18] #2330 closed, assigned to nobody

[2018-10-29 12:52] #2204 closed, assigned to RudolfWeeber

[2018-10-29 16:35] KaiSzuttor commented on #2316
is due to floating point precision. We will make the GPU implementation use double.

[2018-10-29 16:46] #2328 closed, assigned to RudolfWeeber

[2018-10-29 16:46] #2323 closed, assigned to KonradBreitsprecher

[2018-10-29 16:49] mkuron commented on #2316
@KaiSzuttor, please provide before/after numbers on different GPU generations. Here's a list of GPUs we have and some candidate computers: GTX 680 (wisent, impala), Titan Black (bee), GTX 780 Ti (gaur, tahr), GTX 980 (chiru, gnu), GTX 1070 (wapiti), GTX 1080 Ti (cipXX), Vega 64 (lama, requires recompiling).

The 600 and 700 series had 1/24th double precision performance, the 900 and 1000 series ha

[2018-10-29 17:19] RudolfWeeber commented on #2316
Does the temperature fluctuation width issue also go away with double precision?

The places where a lot of summing takes place are mainly the mode<->population transformations.
Maybe a Kahan summation in a few strategic places could allow us to continue with single precision.

[2018-10-29 19:34] KaiSzuttor commented on #2316
| GPU  | Timing float | Timing double | ratio float/double |
| ----------- | ------------- | -- | -- |
| GeForce GTX 780 Ti  | 6.8347299099e-05  | 0.000103395255566 | 0.6610293550207637 |
| GeForce GTX 980  | 5.94442596436e-05  | 9.95463490486e-05 | 0.5971515802611549 |
| GeForce GTX 1070 | 7.30076231956e-05 | 0.000126591158867 | 0.5767197634418034 |
| GeForce GTX 1080 Ti | 3.57395396233e-05 | 5.6

[2018-10-29 19:41] KaiSzuttor commented on #2316
~~I haven't checked for the temperature fluctuation yet.~~
Using doubles, the ```lb.py``` testcase passes when using the same precision requirements for CPU/GPU LB.

[2018-10-29 22:39] #1937 closed, assigned to KonradBreitsprecher

[2018-10-30 08:23] mkuron commented on #2316
We would need to essentially replace float with a custom Kahan-summed datatype so we can keep the correction term for the entirety of the simulation. If we only did Kahan summation inside the mode transformation and then convert back to a plain float, we would only gain 1-2 orders of magnitude in precision, which is not enough.

[2018-10-30 11:51] jonaslandsgesell commented on #2286
As well as hdfview to inspect the hdf5 files which are generated according to the h5md standard

[2018-10-30 14:19] #2286 closed, assigned to nobody

[2018-10-31 11:57] #2326 closed, assigned to nobody

[2018-11-02 02:27] nkinney06 commented on #2323
Works now! thank you.

[2018-11-02 09:52] KaiSzuttor opened #2356 "LB GPU uses random seed"
See https://github.com/espressomd/espresso/blob/478818f1625b1762ffee15776e8ae6182d709666/src/core/grid_based_algorithms/lbgpu.cpp#L234

That will go once we refactored out the particle coupling from the GPU LB.

[2018-11-02 09:57] mkuron commented on #2356
It wouldn't be difficult to interface that variable even now. The right solution is of course to require the user to seed manually as decided in #1211.

[2018-11-02 10:13] KaiSzuttor commented on #2356
We probably don't want to interface it. We would want it to use the seed already provided.

[2018-11-02 10:36] KaiSzuttor opened #2357 "LB GPU uses uniform random numbers instead of normal distributed"

[2018-11-02 10:43] RudolfWeeber commented on #2357
I thought that could be switched at compile time?
The CPU and GPU ones using different distributions might also be a
cause of the different width of the temperature fluctuations

[2018-11-02 10:46] KaiSzuttor commented on #2357
Yeah but... check lb.cpp line 101

[2018-11-02 10:47] KaiSzuttor commented on #2357
Btw it's also not tested that LB thermostat gives the right maxwell distribution of velocities.

[2018-11-02 10:48] KaiSzuttor opened #2358 "LB thermostat not tested for velocity distribution"

[2018-11-02 10:48] KaiSzuttor commented on #2358
see #2357

[2018-11-02 11:03] mkuron commented on #2356
That's what I meant: it should be deterministically set by some user-provided value. We probably shouldn't set it to the seed provided but to some number derived from it so we don't use the same sequence of random numbers in multiple places.

[2018-11-02 11:07] RudolfWeeber commented on #2357
I did a quick check. With Gauss random cut, the standard deviations in cpu and gpu are similar.
I'll open a pr fixing lbcpu with other noise types

[2018-11-02 11:14] KaiSzuttor commented on #2357
Why is that actually switchable by the user?

[2018-11-02 11:31] mkuron commented on #2357
As far as I know, the actual random number distribution does not matter as long as their mean and variance is correct. There might be a publication by Alexander Wagner on this topic, but I couldn't find it. The switch may have been added for testing purposes at some point.

[2018-11-02 17:54] #2358 closed, assigned to nobody

[2018-11-03 05:15] #2321 closed, assigned to nobody

[2018-11-03 09:07] RudolfWeeber commented on #1715
@jonaslandsgesell?

[2018-11-03 09:40] jonaslandsgesell commented on #1715
This requires a more changes in the way bonds are written by the h5md part
in espresso. Won't fix now.

Am Sa., 3. Nov. 2018, 10:07 hat RudolfWeeber <notifications@github.com>
geschrieben:

[2018-11-05 17:42] RudolfWeeber commented on #2247
The pr which introduced better averaging in the test is merged
Furhtermore, the temperature fluctuations no longer differ with the current head, presumably due to the use of the Filox RNG in lbgpu.
Closing.

[2018-11-06 13:11] KaiSzuttor opened #2365 "LB GPU test for non binary checkpointing missing"

[2018-11-07 09:50] jainka commented on #2097
The test has been changed to run on both CPU and GPU.
The test file is now named **lb_stokes_sphere.py**

[2018-11-07 09:57] KaiSzuttor commented on #2097
issue can be closed since #2366 is merged

[2018-11-07 09:57] #2097 closed, assigned to jainka

[2018-11-07 12:38] #2247 closed, assigned to RudolfWeeber

[2018-11-07 13:05] #2332 closed, assigned to nobody

[2018-11-07 13:09] fweik commented on #2231
Fixed by #2344.

[2018-11-07 13:09] #2231 closed, assigned to RudolfWeeber

[2018-11-07 13:13] fweik commented on #2347
Not sure if really needed, but the issue mention was not raised in the CI because we don't have scenario without FFTW.

[2018-11-07 14:49] fweik commented on #2356
@KaiSzuttor this can be closed now?

[2018-11-07 15:00] fweik commented on #2329
Can not reproduce.
`myconfig.hpp:`
[code]
and commit 2223737c8424fc8f6b7d16e0428c6d482d9f057a.

[2018-11-07 15:06] KaiSzuttor commented on #2356
no, it's not resolved yet

[2018-11-07 15:19] #2329 closed, assigned to nobody

[2018-11-08 15:30] #2325 closed, assigned to fweik

[2018-11-09 10:39] pdebuyl commented on #2051
Hi @RudolfWeeber @fweik

We have again made some progress, including the use of the script interface as requested :-) See https://github.com/pdebuyl/espresso/tree/lees_edwards_rebase

For now, there is one test failing about which @bindgens1 will contact. Once the `get_mi_vector` merge is done, we are ready to include the feature for good.

[2018-11-13 09:37] KaiSzuttor commented on #2316
Update: after eliminating the leftover floats, the situations looks quite different

| GPU  | Timing float | Timing double | ratio float/double |
| ----------- | ------------- | -- | -- |
| GeForce GTX 780 Ti  | 6.8347299099e-05  | 0.000103395255566 | 0.6610293550207637 |
| GeForce GTX 980  | 5.94442596436e-05  | 9.95463490486e-05 | 0.5971515802611549 |
| GeForce GTX 1070 | 7.30076231956e-05 | 0.0

[2018-11-13 09:38] KaiSzuttor commented on #2316
Update: after eliminating the leftover floats, the situations look quite different

| GPU  | Timing float | Timing double | ratio double/float |
| ----------- | ------------- | -- | -- |
| GeForce GTX 680  | 1.78741159439e-05  | 9.24656462669e-05 | 5.173159140128341 |
| GeForce GTX 780 Ti  |  1.5184492588e-05  | 6.42595734596e-05 | 4.23192102648 |
| GeForce GTX 980  | 1.41606082916e-05  | 6.817425

[2018-11-13 10:38] mkuron commented on #2316
So your tests two weeks ago used `double` only in some places which was sufficient to make the test case pass but only cost a factor of two in run time? There is no technical reason why we have to use `double` everywhere, so let's just use them in the critical places.

[2018-11-14 12:58] thepith opened #2374 "neutral particles in the reaction ensemble leads to error"
If you define particles as neutral in the `default_charges` paratmeter of `espressomd.reaction_ensemble.ReactionAlgorithm.add_reaction` the following error occurs:

[code]

Minimal working example:
[code]

The expected behavior is that you can also use the reaction ensemble with neutral particles.

[2018-11-23 21:37] RudolfWeeber opened #2383 "ENGINE: Single swimmer rotation wrong due to sign error"
rotation.cpp:331 2nd component of the cross product

Will get a fix as part of #2382.

[2018-11-26 02:42] opoplawski opened #2384 "Fails to build with openmpi 4.0"
openmpi 4.0 drops support for MPI1.  espresso fails to build with:
[code]

[2018-11-26 03:06] hmenke commented on #2384
As you can see from the line `In file included from /usr/include/boost/mpi/communicator.hpp`, ESPResSo is not at fault here, but [Boost.MPI](https://boost.org/libs/mpi) is.  This dependency has to be updated to work with OpenMPI 4.0 which was only [released a few days ago](https://www.mail-archive.com/announce@lists.open-mpi.org/msg00119.html).  It will probably take a lot of time until support ha

[2018-11-26 03:25] opoplawski commented on #2384
Ah, working too quickly and didn't notice the source.  I've filed https://github.com/boostorg/mpi/issues/77

[2018-11-26 03:41] hmenke commented on #2384
Then I will close this because it's a missing feature from Boost.MPI.

[2018-11-26 03:41] #2384 closed, assigned to nobody

[2018-11-26 09:36] jonaslandsgesell commented on #2045
This can be closed, right?

[2018-11-26 14:20] jngrad opened #2386 "CI failures due to LB and timeout"
Multiple PR are currently failing CI due to an LB thermostat error unrelated to the committed changes:
   * #2385, [CI](https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/3963): added a Markdown file
   * #2381, [CI](https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/3940): added an optional test, which is disabled by default
   * #2379, [CI](https://gitlab.icp.uni-st

[2018-11-26 16:30] #2269 closed, assigned to jngrad

[2018-11-26 17:26] jonaslandsgesell opened #2388 "Make Reaction-Ensemble aware of particle masses in order to assign the correct mass dependent Maxwell-Boltzmann distributed velocities"
This is important if one is interested e.g. in the mass dependent velocity distribution

[2018-11-26 19:52] RudolfWeeber opened #2389 "ENGINE: Un-needed data transfers"
@hmenke @jdgraaf
In its current form, the engine feature copies v_cs data
(velocities at particle center and 2nd point, I assume)
from the gpu and distributes it via mpi, independently of whether swimming particles are there.
This takes some 20% of the execution time in an unrelated lbgpu+particle simulation.
19.97%  python         EspressoCore.so.4               [.] _ZN12_GLOBAL__N_18set_v_csEN5U

[2018-11-27 00:49] hmenke commented on #2389
That is certainly possible but would either introduce a new global variable or require a reduction over all particles to see whether the `swimming` property is enabled.

*N.B.*: `v_cs` stands for **V**elocity at the particle **C**enter and the **S**ource point of the counter force.

[2018-11-27 13:55] mkuron commented on #2389
Just use a global variable, that would be similar to how the actors/`SystemInterface` work. The first time a method is activated that needs a certain property on the GPU, a global variable (or maybe static variable in a class) is toggled.

The reduction is unnecessary as the only way to switch on `swimming` is via the interface.

[2018-11-28 08:40] mkuron commented on #2386
The timeout on rocm is short on purpose because that's my desktop computer, not a dedicated machine. Normally the jobs take about 8 minutes, so the 20-minute limit should be plenty. If something runs into the timeout, it's usually a frozen test.

[2018-11-28 13:55] #2386 closed, assigned to nobody

[2018-11-30 15:16] #2374 closed, assigned to jonaslandsgesell

[2018-11-30 15:20] #1770 closed, assigned to nobody

[2018-12-03 10:49] jonaslandsgesell commented on #2357
Please cite this paper in a comment in the corresponding parts of the code. This question will pop up in each developer generation.

[2018-12-03 14:39] bindgens1 opened #2396 "Loss of precision in ScriptInterface"
@pdebuyl

During the introduction of the Lees Edwards boundary conditions, we discovered a serious issue with the ScriptInterface. This issue is of critical importance as it leads to ballooning errors and has widespread effects.

The "double" floating point parameters set via "set_params" are rounded to "float" with a relative accuracy of about 10e-8 / 10e-9. This is not only a problem with regard

[2018-12-03 20:34] fweik opened #2398 "ghosts_have_bonds not tested"
The testsuite passes with completely remove the implementation of `ghosts_have_bonds`.

[2018-12-04 12:09] RudolfWeeber commented on #2396
The behaviour of the script interface is indeed incorrect. The fix is in PR #2397.
Affected features are shapes, lb boundaries, collision detection, cluster analysis.
The MD parameters such as time step and box_l are not affected, since the script interface is not used there.

Your example for the simulation time is expected behaviour for doubles:
The error in setting the time step is of order 1E-

[2018-12-04 12:38] bindgens1 commented on #2396
@pdebuyl

Thank you very much for taking care of this issue.

As written above: The fact that we didn't suspect an error in the ScriptInterface lead to a huge waste of time on our side while trying to debug our implementation. Despite that a difference of 10e-8 won't influence most results in a big manner it is indeed really strange that none of the tests was triggered by this bug. I think that PR

[2018-12-04 13:53] #2396 closed, assigned to nobody

[2018-12-04 18:22] RudolfWeeber commented on #2383
This has been fixed with the rotation cleanup pr.

[2018-12-04 18:22] #2383 closed, assigned to nobody

[2018-12-04 18:45] RudolfWeeber commented on #2293
Closing for now.

[2018-12-04 18:45] #2293 closed, assigned to nobody

[2018-12-04 18:47] RudolfWeeber commented on #2258
What's the state of this?

[2018-12-04 18:49] RudolfWeeber commented on #2250
@junghans, is this still the case for the current HEAD?

[2018-12-04 18:49] RudolfWeeber commented on #2250
A bunch of fixes have vone into the collision detection.

[2018-12-04 18:49] RudolfWeeber commented on #2245
@jngrad, this is done, isn't it?

[2018-12-04 18:51] RudolfWeeber commented on #2226
The temperature fluctuation issue has been resolved. Mass loss has its own ticket. Closing for now.

[2018-12-04 18:51] #2226 closed, assigned to nobody

[2018-12-04 19:04] jngrad commented on #2245
Yes, you should close it.

[2018-12-04 19:15] RudolfWeeber commented on #2067
The resort refactor was merged. Closing

[2018-12-04 19:15] #2067 closed, assigned to nobody

[2018-12-04 19:16] RudolfWeeber commented on #2045
What's the status?

[2018-12-04 19:18] RudolfWeeber commented on #1848
Can this be closed?

[2018-12-04 19:19] RudolfWeeber commented on #1318
Went in with the rotation cleanup pr

[2018-12-04 19:19] #1318 closed, assigned to nobody

[2018-12-04 19:21] RudolfWeeber commented on #1277
Done, as far as I can tell.

[2018-12-04 19:21] #1277 closed, assigned to nobody

[2018-12-04 19:22] #1230 closed, assigned to nobody

[2018-12-04 19:22] jonaslandsgesell commented on #2045
As I said it s not the exclusion radius but the max tries (which were removed in response to this issue) which breaks statistics. Please close.

[2018-12-04 19:22] RudolfWeeber commented on #1199
@KaiSzuttor, is this still the case?

[2018-12-04 20:01] junghans commented on #2250
I will just test the next release, when you made it!

[2018-12-05 08:41] mkuron commented on #2258
It's still broken and I can't debug it due to lack of hardware. It does not happen in QEMU-emulated Docker images of the respective architecture. I was unable to set up the official openSUSE QEMU environment, so I can't tell whether it occurs there. So whatever bug this is, it won't get fixed.

I do want to set up weekly CI jobs for other architectures, but before I can do that someone needs to me

[2018-12-05 08:49] mkuron commented on #1199
Fixed in #2227. Please close.

[2018-12-05 09:06] pdebuyl commented on #2396
Hi @RudolfWeeber thank you for fixing this.

[2018-12-05 09:26] #1199 closed, assigned to nobody

[2018-12-05 10:37] #2245 closed, assigned to jngrad

[2018-12-05 10:38] #2045 closed, assigned to jonaslandsgesell

[2018-12-07 11:16] jonaslandsgesell opened #2405 "check electrostatic pressure"
We can check the electrostatic part for consistency with the energy calculation: https://aip.scitation.org/doi/abs/10.1063/1.472721
Is this desired? Then I can implement this consistency check.

[2018-12-07 17:11] jonaslandsgesell opened #2408 "printing of p3m tuning parameters"
tuning gives something along those lines:

This is not readable ;) It should be provided what the indiviual parameters are (i.e. variable names).

[2018-12-12 19:47] KaiSzuttor opened #2413 "```copy_v_cs_from_GPU(Utils::Range<ParticleIterator<Cell**, Particle> >)``` seems to make trouble with hip"
see https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/56529

[2018-12-12 22:05] mkuron commented on #2413
What pull request did this start with? It worked fine last week.

[2018-12-13 08:43] mkuron commented on #2413
I think #2390 fixes it. https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/57294 did not crash.

[2018-12-13 11:28] #2389 closed, assigned to hmenke

[2018-12-13 13:11] fweik opened #2414 "Build fails when Scafacos is found"
with
[code]

[2018-12-13 14:03] KaiSzuttor commented on #2413
no, still have issues in #2406:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/57513

[2018-12-13 14:11] mkuron commented on #2413
Now it only occurs in engine_lb, which makes some sense. It didn't occur in #2390, which means that it was broken by some pull request in the past two weeks.

[2018-12-13 20:42] hmenke commented on #2413
It might be that HIP does not like the strided `memcpy` we are performing in `copy_v_cs_from_GPU`.

https://github.com/espressomd/espresso/blob/7a485cc49f0cb494ebc0c5b982b6efbcee6a98f1/src/core/cuda_common_cuda.cu#L462-L477

What we are doing here is, instead of calling `memcpy` for each individual particle we are calling `memcpy` of *all* particles at once, but in strides of the first few bits.

[2018-12-13 20:44] mkuron commented on #2413
That should be fine. Also it used to work, some recent change must have broken it. I won‘t have time to debug it before next week though.

[2018-12-17 11:36] mkuron commented on #2413
It's mysteriously fixed on the current master: https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/57998 . I also couldn't reproduce it on my own machine. Please close this issue for now.

[2018-12-17 12:01] #2413 closed, assigned to nobody

[2018-12-17 12:47] KaiSzuttor opened #2418 "Particle exclusions cannot be checkpointed"
see mailing list:

[2018-12-17 16:27] #2418 closed, assigned to nobody

[2018-12-17 18:54] #2347 closed, assigned to KaiSzuttor

[2018-12-19 14:16] jonaslandsgesell commented on #2071
This issue got closed automatically while merging. I guess we want to reopen it.

[2018-12-20 01:45] #2405 closed, assigned to nobody

[2018-12-20 15:20] RudolfWeeber commented on #2229
Thanks for reporting this. Pull request #2424 applies these corrections.
We now also test a Python version of the expression in the user's guide against the code.

Since there is no test for the forces/torques (we did not find analytical expressions) the PR downgrades Gay-Berne to an experimental feature.
You need
#define EXPERIMENTAL_FEATURES
in myconfig.hpp to use it.

[2019-01-01 20:30] AlexanderDKazakov opened #2426 "VMD visualization on fly"
I would like to ask you about visualization. The espresso version 3.3 has a communication protocol with VMD using sockets. Is it possible to migrate the same communication protocol for the last espresso using python?

[2019-01-01 21:25] mkuron commented on #2426
That feature was removed, sorry. It hasn‘t worked reliably in quite some time and we had trouble understanding the old code well enough to fix it. We have Mayavi live visualization though and a custom OpenGL visualizer with tight Espresso integration (see the tutorials), so Espresso should continue to fulfill your visualization desires.

[2019-01-02 11:01] AlexanderDKazakov commented on #2426
Okay! I will check them!

Thank you!

[2019-01-02 11:01] #2426 closed, assigned to nobody

[2019-01-07 08:32] #2229 closed, assigned to jainka

[2019-01-07 17:07] #2414 closed, assigned to nobody

[2019-01-11 15:23] KaiSzuttor opened #2436 "checkpoint testing needs a rewrite"
In the current test framework for the checkpoints mutually exclusive features can not be tested. That's a fundamental issue and should be resolved in general.

[2019-01-14 15:48] lotuspaperboy opened #2437 "remove() causes "double free or corruption (fasttop)" when using gnu"
I'm a running the same python script on three different machines. On one machine I have pypresso compiled with icc and on the other two I have pypresso compiled with gcc. My code runs find on the icc machine. However, the same python script crashes in the same place on the two gcc machines:

    for i in range(self._start[n], self._start[n] + self._size):
        print("DELITING -> {}".format(i))

[2019-01-14 16:37] mkuron commented on #2437
GCC is our primary targeted compiler, so this definitely shouldn't be happening there if it doesn't happen on Intel. Removing particles is a supported operation, so please provide your script (or ideally, a minimal script that exhibits the error) so we can try to reproduce and fix the bug.

[2019-01-14 21:57] RudolfWeeber commented on #2437
Please also report the version of Espresso you are using (or git commit
hash)

[2019-01-15 06:06] RudolfWeeber commented on #2437
On what platform are you? 32 or 64 bit?
This is bug also occurs in the analyze_energy test caes of pr #2438 on i386.

[2019-01-15 08:16] mkuron commented on #2437
@rudolfweeber, I seem to recall we fixed that as part of the i386 support, so we must have forgotten to cherry-pick that to 4.0.1. I can't find the pull request though.

[2019-01-15 08:19] mkuron commented on #2437
Ah, @fweik's #2410. seems like that was incompletely cherry-picked.

[2019-01-15 10:47] lotuspaperboy commented on #2437
I'm using an 64bit Intel processor on both machines:

    Architecture:        x86_64
    CPU op-mode(s):      32-bit, 64-bit
    Byte Order:          Little Endian
    CPU(s):              8
    Model name:          Intel(R) Core(TM) i7-3770 CPU @ 3.40GHz

I'm using espresso-4.0.0 (I downloaded the zip file from the website).

I'll try get a minimum working script up here by the end of the day.

[2019-01-15 11:07] RudolfWeeber commented on #2437
Are you using a 64bit or 32bit operation system?
We currently only see this in a 32bit docker container.

We think we fixed the issue in the current development branch, which you can download at
https://github.com/espressomd/espresso/archive/python.zip

Our candidate branch for the 4.0.1 bugfix release still seems to have the issue on i386, but we don't see it on amd64.

[2019-01-15 12:11] mkuron commented on #2437
We never saw it on 64-bit, but it was an actual bug that might also surface on non-32-bit for certain parameters.

[2019-01-15 12:49] lotuspaperboy commented on #2437
I've been able to reproduce this behavior with a simple script (attached). I run the script with:

    /usr/bin/mpirun -n 4 pypresso main.py

As some point during the run, I see the error:

    Setting up
    Adding particles
    Bonding particles
    Warming
    Integrating
    Does particle 0 exist? -> True
    Removing 0
    Does particle 1 exist? -> True
    Removing 1
    double free or corru

[2019-01-15 13:24] RudolfWeeber commented on #2437
This seems to be working on the current development branch. The script also passes with pr #2441 for the 4.0.1 candidate branch.

[2019-01-15 14:42] lotuspaperboy commented on #2437
Do you have any other suggestions of things I could try to get to the bottom of this? It must be something to do with how I am compiling the binary. To build I do:

    mkdir build
    cd build
    cp <store>/myconfig.hpp .
    cmake <path_to_espresso>
    make
    sudo make install

I also tried building the latest binary on github but I am still seeing the issue. Even running pypresso with a sin

[2019-01-15 14:55] mkuron commented on #2437
It's an Espresso bug, fixed by #2410. Please either use the current version from Git or wait a few days until we release version 4.0.1, which contains that patch.

[2019-01-15 14:59] RudolfWeeber commented on #2437
On Tue, Jan 15, 2019 at 02:42:48PM +0000, Lotuspaperboy wrote:

Sorry, we were probably not clear enough.
This is a bug in the 4.0.0 release. To avoid it, you can either use the current development branch (named "python" on github) or the "4.0.1" branch with pull request 2441 merged.

[2019-01-15 16:01] lotuspaperboy commented on #2437
Thanks Rudolf, I downloaded and compiled the 4.0.1 branch and I'm now no longer seeing the issue. I'll run my main script again overnight but it looks like issue has been solved. Thanks!

[2019-01-15 18:57] #2029 closed, assigned to nobody

[2019-01-16 09:55] fweik opened #2445 "Angle potentials have code duplication"
angle harmonic, angle cossine and angle cossine2 are almost identical, yet have all the code duplicated.

[2019-01-16 21:25] #1892 closed, assigned to nobody

[2019-01-20 17:42] RudolfWeeber opened #2453 "changing ext_force_density on lb_gpu kills the velocity field"

[2019-01-23 21:50] #2258 closed, assigned to nobody

[2019-01-23 21:50] #2437 closed, assigned to nobody

[2019-01-25 11:49] jngrad commented on #2408
Here is the proposed output (#2465):
[code]

[2019-01-25 17:27] junghans opened #2467 "Some headers are marked executable"
rpmlint says:
[code]

[2019-01-25 17:32] junghans opened #2468 "npt test is broken on ppc64le"
Building 4.0.1 on OpenSuse:
[code]

[2019-01-25 17:33] junghans commented on #2468
Same on ppc64

[2019-01-25 17:47] junghans opened #2469 "analyze_gyration_tensor test broken on aarch64"
Building 4.0.1 on openSUSE, I found:
[code]

[2019-01-25 17:50] junghans commented on #2258
npt seems to be fixed on aarch64 and i586, but persists on ppc64* (#2468)

[2019-01-26 13:59] junghans commented on #2469
I cannot reproduce this on Fedora, so it must be an openSUSE thing.

[2019-01-26 14:00] junghans commented on #2468
I can reproduce this on ppc64* and **aarch64** on Fedora 28 and 29, but not Fedora 30.

[2019-01-27 23:09] junghans commented on #2468
And on i686 (Fedora 28 & 29) `npt` is just hanging, on Fedora 30 it runs fine.

[2019-01-27 23:18] junghans commented on #2468
The i686 might be related to boost-1.66, even though that wouldn't explain why it succeeds  on f30.

[2019-01-28 06:50] mkuron commented on #2468
CMake should just show an error on i686, saying that we require Boost 1.67.0.

[2019-01-28 08:50] #2467 closed, assigned to nobody

[2019-01-28 10:24] fweik opened #2472 "dawaanr-and-dds-gpu hangs in CI on AMD GPU"
or are very slow. This looks like technical issue. (cf. https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/68418 e.g., where the test took more than 2500 sec). The problem did not go away when executing only one job at a time (see #2471).

[2019-01-28 13:29] junghans commented on #2468
Due to other issues in boost, Fedora still only comes with 1.66.0, so I had to patch that on i686, however that does explain the issue on the other 64-bit platforms.

[2019-01-28 13:30] junghans commented on #2468
Fedora 30 comes with gcc-9.0.1 while Fedora 29 is still gcc-8, so that might be the issue...

[2019-01-28 15:09] mkuron commented on #2468
We have GCC 8.2 in our Ubuntu images, so that's probably not it. I don't really have an explanation for what looks like a numerical precision issue.

[2019-01-28 15:53] #2408 closed, assigned to nobody

[2019-01-28 16:35] fweik opened #2475 "Tests on emulated platforms take too long"
There is a time limit of 3h for the jobs, for some of the tests that run in qemu that is too low.
I think it is sufficient to run them only scheduled, like every night, and not on every update.

[2019-01-28 17:00] fweik opened #2476 "Improve CI pipeline parallelism"
I think throughput of the CI could be improved if the build and test a split into two stages. Currently, for pull requests, if there are enough resources the runtime is basically the time for clang-6.0 (slowest job from 'build' stage) plus 'check_with_odd_no_of_proc'. If they would be split it would be only the clang-6.0 runtime (plus some overhead for downloading the artifacts).

[2019-01-28 19:56] mkuron commented on #2472
Outside of the CI, this test works just fine and completes in 1.5 seconds.

[2019-01-28 20:28] mkuron commented on #2472
Outside of the CI, this test works just fine and completes in 1.5 seconds. Even inside the Docker container! It must be something about parallel testing. The issue was introduced only recently, perhaps by #2462. Are multiple tests being run simultaneously, @fweik? https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/68418 sure looks like it -- the added up test durations are greater than

[2019-01-28 20:41] fweik commented on #2472
I checked in the meantime with running the gpu tests serially, that did not really help. I'll recheck tomorrow, I agree that this has to be some sort of scheduling problem.

[2019-01-28 20:47] mkuron commented on #2472
I tried `ctest -j2 -L gpu` to get the tests to run parallel, but as far as I can tell, the tests aren't even running in parallel. There definitely are a few things odd here.
By the way, while I was doing these tests, Gitlab was running its own tests on my computer. So while I can see that the tests are slowed down by overcommitting the GPU, a moderate level of overcommitment seems fine.

[2019-01-28 21:59] fweik commented on #2472
I changed the cmake today so that gpu jobs don't run in parallel because I thought this was the problem, but apparently not.

[2019-01-29 08:06] fweik commented on #2436
@jngrad are you interested in looking into this?

[2019-01-29 11:00] KaiSzuttor commented on #2436
the more sustainable way of handling checkpointing is probably to move some logic from the interface to the core

[2019-01-29 13:19] #222 closed

[2019-01-29 13:19] #944 closed

[2019-01-29 16:36] RudolfWeeber opened #2479 "Changing the time step changes particle velocities"
By the ratio of old_dt/new_dt. If the time step was never set, old_dt=-1.

[2019-01-30 08:49] #2479 closed, assigned to nobody

[2019-01-31 12:35] fweik opened #2488 "Implement proper notifications for scheduled pipelines"
So that they are not forgotten.

[2019-01-31 15:57] #255 closed

[2019-01-31 15:59] #256 closed

[2019-01-31 15:59] #260 closed

[2019-01-31 16:01] #877 closed

[2019-01-31 16:14] RudolfWeeber commented on #868
What do we do about this. There are some 500 lines of untested (and according to Georg's report) wrong code.
If there's no application in sight, we might remove the Rhomboid shape.

[2019-01-31 16:24] RudolfWeeber opened #2489 "Implement Py interface for EK checkpointing + Test"
Core code seems to be in src/core/grid_based_algorithms/elekctrokinetics_pdb_parser.cpp

[2019-01-31 16:24] fweik commented on #868
First of all check how much of it can be accomplished by library code? I think boost.geometry should be helpful here, but I have not checked.

[2019-01-31 17:49] jngrad commented on #2436
Could jngrad/espresso/fix-2436@d5e4b08 be an option? The user would have to provide a list of mutually inclusive options like `lbgpu-p3m-lj` to generate multiple versions of the checkpoint test. This syntax could be extended with flags, for instance `lb.cpu-p3m.cpu`, `lb.gpu-p3m.gpu`, `re.constant_pH`, etc.

[2019-02-01 11:11] itischler opened #2491 "testcase lb_thermostat.py has a chance to randomly fail"
After running this this for 70 times it crashed
[code]

[2019-02-01 12:32] fweik commented on #2488
Maybe they can file an issue on github, gitlab allows to trigger webhools on pipeline events.

[2019-02-01 13:21] fweik commented on #2491
This is a know issue that will be fixed eventually by #2392.

[2019-02-01 20:50] mkuron commented on #2476
Just move check_with_odd_no_of_proc to the build stage; then it can run simultaneously with clang-6.0. This has the advantage of not burdening our GitLab server with all the build artifacts.

[2019-02-02 19:45] jngrad commented on #2445
I'll have a look

[2019-02-04 16:32] RudolfWeeber opened #2495 "Py: Shape.calc_distance() not exposed in Python"
although usable via call_method

[2019-02-05 14:12] fweik opened #2498 "Multiple issues with swimmer reaction, decide faith"
Currently swimmer reactions does not properly handle ghosts and pair discovery: It does it's own n2 pair finding but does not take into account the facts that pairs can be found multiple times, that some of the reacting particles could be ghosts and does not synchronize reactions between nodes. Also the implementation is rather confusing and the details are not documented. In the current state we

[2019-02-05 14:24] fweik commented on #2498
It also shadows the old catalytic reaction method, which is a different method.

[2019-02-06 20:27] fweik opened #2500 "DipolarBarnesHut does not work with multiple cores"
The dipolar method is not properly set. If fixed, core limit on the test should be removed.

[2019-02-07 12:47] jngrad opened #2502 "Use Vector3d and std::tuple in force functions"
Use `Vector3d force` instead of `double force[3]` and `std::tuple` instead of output arguments in bonded/non-bonded functions called by force/pressure functions, i.e. from

[code]
[code]

to

[code]
[code]

Maybe also use `bool` instead of `int` for  variable `bond_broken` and the return value of bonded forces.

[2019-02-07 15:28] #2476 closed, assigned to nobody

[2019-02-11 02:59] junghans commented on #2468
We had a similar issue with votca-csg recently, however if you have a Fedora VM it is not that hard to do a cross-arch build:
https://github.com/votca/votca/blob/master/share/doc/DEVELOPERS_GUIDE.md#failed-release-builds
you can use the spec file from here:
https://src.fedoraproject.org/rpms/espresso/blob/master/f/espresso.spec
and of source you have to re-enable the test here:
https://src.fedorap

[2019-02-11 08:11] KaiSzuttor commented on #2436
I think that is the solution with least effort and should work for now but on the long run we should think about a more generic solution as already mentioned.

[2019-02-11 19:33] jngrad commented on #2145
There is some refactoring going on in #2497, with new integration tests in 5c50bd6 covering the tabulated angle potential, among others.

The tabulated dihedral force appears to be zero on all particles.

Bonded angle calculations seem based on the external angle convention. It can be a source of confusion with tabulated angles if the user forgets to flip the energy and force arrays. In addition,

[2019-02-12 00:54] junghans opened #2507 "4.0.1 fails to build on Fedora 30"
https://bugzilla.redhat.com/show_bug.cgi?id=1674863

[2019-02-12 07:15] mkuron commented on #2507
[code]
I think that is a duplicate of the Boost 1.69.0 incompatibility you already reported in another ticket.

[2019-02-12 10:47] mkuron commented on #2475
I have switched the schedule from weekly to nightly.

[2019-02-12 11:10] KaiSzuttor opened #2509 "Add documentation for Caliper"
Depends on #2506.

[2019-02-12 11:31] fweik commented on #2475
The tests were not reliably finishing within the 3 hr time limit enforced by gitlab, this limit needs to be increased before the tests can be enabled again.

[2019-02-12 11:36] fweik commented on #2509
It would also be nice if one could set markers/attributes from python, so that e.g. sections in the script can be marked.

[2019-02-12 12:42] #2472 closed, assigned to nobody

[2019-02-13 15:23] mkuron commented on #2507
Boost 1.69.0 on Ubuntu does not exhibit this problem. Upgrading our Fedora 29 Docker container to Fedora 30 also does not exhibit this problem. I have also rebuilt the Docker container with the packages listed in https://src.fedoraproject.org/rpms/espresso/blob/master/f/espresso.spec, but didn't see the issue there either. So I conclude that it is due to some of the flags that the rpm build proces

[2019-02-13 16:18] junghans commented on #2507
On Fedora you can do:
[code]

[2019-02-13 17:19] junghans commented on #2507
Hmm, I cannot reproduce it either....

[2019-02-13 17:42] junghans commented on #2507
Let's trigger it again on koji: https://koji.fedoraproject.org/koji/taskinfo?taskID=32789573

[2019-02-13 20:59] junghans commented on #2507
`mock` does that, but can you include `-D_GLIBCXX_ASSERTIONS` in your cpp flags?

[2019-02-13 21:34] mkuron commented on #2507
I don‘t have Fedora, but I put together a Dockerfile that does rpmbuild (without mock though). I‘ll upload it here tomorrow — if you figure out how it needs to be modified to trigger the bug, I‘m happy to fix it. But as long as I can‘t reproduce it, there isn‘t much I can do.

[2019-02-14 11:49] mkuron commented on #2507
Here is a Dockerfile that exhibits the reported problem:
[code]
Now I just need to diagnose it.

[2019-02-14 14:00] KaiSzuttor opened #2517 "LB: three point coupling gives wrong results"

[2019-02-14 14:01] KaiSzuttor commented on #2517
See #2516

[2019-02-14 14:43] mkuron commented on #2507
This is actually a Boost.MPI bug. As of today, Boost.MPI is simply incompatible with `-D_GLIBCXX_ASSERTIONS`. To fix this and make the tests pass, the following simple patch is needed:

[code]

Since this is only needed at Espresso compile time, you might as well put that into Espresso's rpm spec, @junghans. Once the build passes with that patch, please close this issue.

[2019-02-14 14:47] fweik commented on #2507
@mkuron did you check if that is fixed upstream?

[2019-02-14 14:52] mkuron commented on #2507
I don't think it is. https://github.com/boostorg/mpi/compare/boost-1.69.0...develop doesn't show anything related.
Needless to say, `&(v[0])` was a common idiom before C++11's `v.data()`, and as long as you didn't attempt to dereference it everything was well-defined. So I'm tempted to give Boost.MPI a pass and blame this on the assertions.

[2019-02-14 14:56] junghans commented on #2507
@jwakely @denisarnaud can we include the above patch in Fedora's boost package?