[2019-02-14 14:57] mkuron commented on #2507
I have reported it upstream now: https://github.com/boostorg/mpi/pull/81.

[2019-02-14 15:17] jwakely commented on #2507
No it wasn't, `v[0]` was always undefined on an empty vector.

[2019-02-14 15:25] jwakely commented on #2507
@junghans I'm building boost-1.69.0-6.fc30 for rawhide now.

[2019-02-14 15:37] KaiSzuttor commented on #2357
Dünweg, Burkhard, and Wolfgang Paul. "Brownian dynamics simulations without Gaussian random numbers." International Journal of Modern Physics C 2.03 (1991): 817-827.

[2019-02-14 15:38] jonaslandsgesell commented on #2357
Please cite in source as documentation!

[2019-02-14 15:44] KaiSzuttor commented on #2357
Ladd, Anthony JC. "A fast random number generator for stochastic simulations." Computer Physics Communications 180.11 (2009): 2140-2142.

[2019-02-14 16:21] junghans commented on #2507
@mkuron FYI: https://src.fedoraproject.org/rpms/boost/c/0f9795fc5c163da080677858f3514ffbea0f0937?branch=master

@jwakely thanks!

[2019-02-14 16:22] junghans commented on #2507
Once https://koji.fedoraproject.org/koji/taskinfo?taskID=32808787 is done, I will rebuild espresso.

[2019-02-14 19:19] junghans commented on #2507
Espresso scratch build: https://koji.fedoraproject.org/koji/taskinfo?taskID=32813571

[2019-02-14 21:55] mkuron commented on #2507
Great! So this issue can be closed.

[2019-02-14 21:56] mkuron commented on #2250
Since #2507 reports a successful build, this issue can be closed.

[2019-02-14 22:05] junghans commented on #2507
Re-build of espresso for F30: https://koji.fedoraproject.org/koji/taskinfo?taskID=32816257

[2019-02-14 22:06] junghans commented on #2250
Yes, everything fixed in F30 with boost-1.69.0!

[2019-02-14 22:06] #2250 closed, assigned to nobody

[2019-02-14 22:06] junghans commented on #2468
Everything fixed in F30 with boost-1.69.0!

[2019-02-14 22:06] #2468 closed, assigned to nobody

[2019-02-14 22:07] junghans commented on #2469
Everything fixed in F30 with boost-1.69.0!

[2019-02-14 22:07] #2469 closed, assigned to nobody

[2019-02-14 22:07] junghans commented on #2249
Any progress on this?

[2019-02-15 00:29] junghans commented on #2507
Fixed, thanks to all!

[2019-02-15 00:29] #2507 closed, assigned to nobody

[2019-02-15 11:54] #2475 closed, assigned to nobody

[2019-02-15 16:19] #2249 closed, assigned to nobody

[2019-02-16 10:23] fweik opened #2521 "CI failures due to coverage collection"
We need a solution for the `lcov`-related issues like here: https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/75623
No idea what the cause of this is. Rerunning usually fixes the issue, but not always.

[2019-02-18 14:34] jngrad opened #2523 "Properly sync online docs"
The Sphinx and Doxygen documentations are currently deployed by the following `rsync` command:
https://github.com/espressomd/espresso/blob/a72bf2fe46bcfa3546fc04c65e9c48e031387302/.gitlab-ci.yml#L374-L378
The `--delete` flag only deletes extra files in subfolders. We currently send the `.../html/*` files, hence html files of .rst files that were removed or renamed in a PR are not deleted. See for

[2019-02-18 15:09] KaiSzuttor commented on #2523
There are not additional files in that directory, so we can just override

[2019-02-21 09:55] #2523 closed, assigned to nobody

[2019-02-21 15:09] fweik commented on #2521
The problem persists: https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/76701, there is now a failure in almost every pipeline.

[2019-02-21 18:04] jngrad commented on #2521
Difficult to say since the container exits on failure before the artifacts get uploaded, so we cannot browse the files. Tinkering with lcov locally suggests the error message is raised when the gcno file is missing:

| gcda    | gcno           | stderr |
| :---: | :---: | :--- |
| present | present        |        |
| present | missing        | `geninfo: ERROR: $path/Variant_test.cpp.gcno: could n

[2019-02-22 07:35] fweik commented on #2521
I *think* the runners can be run locally for debugging.

[2019-02-22 08:12] mkuron commented on #2521
While a job is running, you can even click the "Debug" button on its GitLab page and get a terminal in your browser. Just add a `sleep 10000` to the end of the build script first so the terminal session doesn't get killed when the build finishes.

[2019-02-24 22:17] Marcello-Sega commented on #1310
that was a useful piece of code, maybe those who are still interested can make good use of  https://github.com/dhesse/py-uwerr

[2019-02-25 12:23] fweik commented on #2521
This is still a problem (https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/76169)

[2019-02-25 16:54] fweik opened #2530 "Reorganize core library"
The code in the core library should be split into src, include and tests folders. This allows for public (those in include) and private (those in src) header files and makes clear what is exported. In cmake one would then only expose the include folder to other targets.

[2019-02-25 16:56] fweik opened #2531 "ScriptInterface variant should support Vector3d"
Currently `Vector3d` is converted to a `std::vector<double>` when assigned to a `ScriptInterface::Variant`. This is not only wasteful, it also requires `Vector3d` to have an awkward implicit conversion operator to `std::vector`.

[2019-02-25 19:41] diogomusical opened #2532 "Problems installation"
Good night,

I installed the espresso and start doing ./pypresso to do espressomd and the result: Traceback (latest last call):
File "<stdin>", line 1, under <module>
ImportError: No module named espressomd

And you do not have to solve this problem.
Thanks for the collaboration.

Diogo

[2019-02-25 20:27] fweik commented on #2521
If fixed, #2533 has to be reverted.

[2019-02-25 20:35] KaiSzuttor commented on #2521
May it be that there is interaction with ccache?

[2019-02-25 20:40] fweik opened #2534 "Timeouts in LB tests"
There are sometimes timeouts of the LB test in the CI, potentially related to oversubscribing the GPU (?)
c.f. https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/77724 but those occur regularly, not as often as #2521 though (i think).

[2019-02-25 20:59] #2495 closed, assigned to nobody

[2019-02-26 10:03] #2532 closed, assigned to nobody

[2019-02-26 10:17] diogomusical opened #2535 "Problem installation"
Good morning,
later of ./pypresso
input:

sys
sys.path.insert(0, "/Users/diogo/Simulation/espresso-4.0.1/src/python/")
import espressomd

given:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/diogo/Simulation/espresso-4.0.1/src/python/espressomd/__init__.py", line 23, in <module>
    import espressomd._init
ImportError: No module named _init

Thanks

[2019-02-26 10:19] KaiSzuttor commented on #2535
Can you please show how you tried to build and if there were any error messages during the build

[2019-02-26 10:24] KaiSzuttor commented on #2535
You should not add the python directory of the source tree you your python path. Acutally that is not necessary if you use the pypresso python executable. Please have a look at http://espressomd.org/html/doc/installation.html

[2019-02-26 11:50] diogomusical commented on #2535
Good morning,

compiling does not give errors. I just do not know how to set the directory. If you could write the commands and the steps I have to do thank you.

[2019-02-26 13:18] KaiSzuttor commented on #2535
You don't have to set any directory. Just use the pypresso executable that is created in the build directory.

[2019-02-27 11:45] #2521 closed, assigned to nobody

[2019-02-27 11:45] #2534 closed, assigned to nobody

[2019-02-27 13:55] KaiSzuttor opened #2538 "CI: collision detection test runs into timeout"
E.g.: https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/78551

[2019-02-27 16:07] KaiSzuttor opened #2539 "utils/Vector.hpp needs operator/(scalar, Vector)"
@fweik

[2019-02-27 18:42] fweik commented on #2539
What should that do?

[2019-02-27 18:47] KaiSzuttor commented on #2539
my bad, doesn't make sense. i was confused by weird compiler errors due to weird cython generated code, c.f. 6a82be8

[2019-02-27 18:47] #2539 closed, assigned to fweik

[2019-02-28 12:49] diogomusical commented on #2532
Good afternoon,
input:
./pypresso
import espressomd

when does the code to input gives the following error:

import espressomd
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named espressomd

Thank you

[2019-02-28 14:01] fweik opened #2540 "Non amd64 tests fail due to timeout"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/78710

[2019-03-01 08:57] fweik opened #2544 "NPT should use normal pressure calculation"
Currently NPT uses it's own pressure calculation integrated into the force calculation. This is a duplication and has diverged, so that NPT does not use the same pressure as calculated by the "normal" pressure calculation. It should just use the pressure kernels.

[2019-03-01 16:15] AlexanderDKazakov opened #2547 "Removing constraints"
Hello!

I tried to create a constraint and after some time I would like to remove it.
I am attaching some simplest code for that.
Here is Traceback:

 →  ./py-es constraints.py
Traceback (most recent call last):
  File "constraints.py", line 19, in <module>
    system.constraints.remove(constraint=cylinder)
  File "/PATH/espresso/es-build/src/python/espressomd/constraints.py", line 80, in remove

[2019-03-02 06:13] #2356 closed, assigned to nobody

[2019-03-02 06:13] #2357 closed, assigned to nobody

[2019-03-02 06:13] #2491 closed, assigned to nobody

[2019-03-02 06:13] #2517 closed, assigned to nobody

[2019-03-02 09:20] fweik opened #2548 "Doc deployment fails"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/79722, seems like it still uses the cuda 8. container, while the build was cuda 9

[2019-03-03 10:36] RudolfWeeber commented on #2547
On Fri, Mar 01, 2019 at 04:15:02PM +0000, AlexanderDKazakov wrote:

You are using a short-hand for
system.constraints.add(ShapeBasedConstraint(shape=cylinder))
you need to remove the ShapeBasedConstraint objects. The simplest
way is
constraint= system.constraints.add(shape=cylinder)
system.constraints.remove(constraint)

[2019-03-03 11:26] RudolfWeeber opened #2549 "Instanceing parallel script object with non-existent name hangs in mpi"
Ex: Instanceing VirtualSites::VirtualSitesRelative when they are not compiled in.

[2019-03-03 12:12] RudolfWeeber commented on #2498
The test case fails without ROTATION. It is also not clear to me, what it does without ROTATION.
@jdgraaf @hmenke, is the SWIMMER_REACTIONS feature actually being used?
Based on the issues mentioned in this ticket. I think that, either someone has to commit to clean it up or we will have to remove it.

[2019-03-03 19:22] AlexanderDKazakov commented on #2547
A! Now I got it. I was losing the pointer to instance! Initially, I thought that the cylinder already is the pointer.

Great! Thank you for help!

[2019-03-03 19:22] #2547 closed, assigned to nobody

[2019-03-04 10:10] mkuron commented on #2540
Make lb_stokes_sphere shorter/faster/better. It's by far the slowest test on amd64 too. Also, I'm not even sure about the physics of it. I tried to recreate it in Walberla for https://i10git.cs.fau.de/walberla/walberla/merge_requests/163 and saw significant deviations when changing any parameters.

[2019-03-04 11:01] #2548 closed, assigned to nobody

[2019-03-04 16:27] RudolfWeeber opened #2554 "LB Coupling forces warning displayed when no lb is active during integration"

[2019-03-05 10:48] jngrad opened #2555 "Extend LB checkpointing tests"
* test multiple lattice sites
* test more properties: population, density, velocity, stress, ... per lattice site
* loading a checkpointed LB fluid into an LB object with different lattice geometry should raise an error (maybe write lattice dimensions to the checkpoint file)

[2019-03-05 15:17] jngrad opened #2556 "LB: lattice_switch is ambiguous"
The global variable `lattice_switch` is currently defined as:
https://github.com/espressomd/espresso/blob/0682e84736bd6d8b0131078a0551d35dd1a920c6/src/core/grid_based_algorithms/lattice.hpp#L34-L43

And it is used like this:
https://github.com/espressomd/espresso/blob/0682e84736bd6d8b0131078a0551d35dd1a920c6/src/core/grid_based_algorithms/lb_particle_coupling.cpp#L48-L59

A few issues here:
* the

[2019-03-05 15:45] KaiSzuttor commented on #2556
* you are right about the fact that this whole concept is not best practice in C++, it's a relict of the old C code.
* the ```#ifdef```s are not redundant, since you don't want to check if the feature is not even compiled in
* ```lattice_switch = LATTICE_LB & LATTICE_LB_GPU``` should not be legal at all

I think the way to go would be to have a global ```enum class ActiveLB { NONE, CPU_LB, GPU_LB

[2019-03-05 17:02] christophlohrmann commented on #1500
A clear() function for interactions or even the whole system would be nice, too.

[2019-03-05 17:14] jngrad commented on #2556
Sorry, I meant to write `lattice_switch = LATTICE_LB | LATTICE_LB_GPU` with a pipe instead of the ampersand! Just found the function in the LB interface that throws an exception when an illegal value is used. And the `#ifdef` only prevents exposing calls to functions not compiled in.

Using an enum solves the ambiguity and allows writing conditional statements with `==` instead of the ampersand. I

[2019-03-05 17:33] #2554 closed, assigned to nobody

[2019-03-05 17:49] jngrad commented on #2555
To fill the entire lattice with values without running a simulation, we could use numpy:
[code]

To check the function produces different values on each grid point of a 2D slice:
[code]

[2019-03-06 18:04] fweik opened #2559 "LB GPU coupling performance needs to be improved"
@RudolfWeeber please provide a benchmark.

[2019-03-06 18:06] fweik commented on #2559
Also I think the performance will be back with #2558.

[2019-03-06 21:48] KaiSzuttor commented on #2559
@RudolfWeeber Could you please check with #2558. As far as I can tell there is no performance difference to the python branch before the three-point coupling has been merged.

[2019-03-07 10:23] diogomusical opened #2560 "Problem installation"
Hello,

input terminal:
./pypresso
import espressomd

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/diogo/Simulation/src/python/espressomd/__init__.py", line 23, in <module>
    import espressomd._init
ImportError: No module named _init

Thank you

[2019-03-08 11:57] #2559 closed, assigned to nobody

[2019-03-08 15:21] KaiSzuttor opened #2564 "LB: incompatible agrid is handled to late (leads to segfault)"

[2019-03-08 16:32] diogomusical commented on #2560
Reinstall and compile.

Thank you

[2019-03-08 16:32] #2560 closed, assigned to nobody

[2019-03-08 16:36] diogomusical opened #2565 "Problem with dpd.py"
Hello

dpd.dy is what's in the samples folder.

when I make the input:
./pypresso dpd.py

gives the following error:
Traceback (most recent call last):
  File "dpd.py", line 25, in <module>
    espressomd.assert_features (required_features)
  File "/Users/diogo/Simulation/espresso/src/python/espressomd/__init__.py", line 52, in assert_features
    "Missing features" + "," .join (missing_features (

[2019-03-08 18:46] jngrad commented on #2565
Hi,
When compiling espresso, you can choose which features are enabled with the file `myconfig.hpp` (if you don't have one, you can create an empty one). Simply add these lines to `myconfig.hpp` and recompile espresso to enable DPD:
[code]
We don't enable all features by default for performance reasons. Please refer to the file `myconfig-sample.hpp` to see all available interactions that are not e

[2019-03-08 19:00] jngrad commented on #2555
@jainka The GPU checkpoint file saves forces (3D array of float[3]) and boundaries (3D array of bool) but the CPU doesn't. These value should probably be unit tested on the GPU. If there is anything analogous on the CPU, and if so, should they be saved to the checkpoint file as well?

[2019-03-08 20:00] diogomusical commented on #2565
Hello,

I forgot to recompile the espressomd. I had only had the script run.

Thank you,

Diogo

[2019-03-09 11:29] diogomusical opened #2569 "Problem in visualization"
Hello,

input:
./pypresso nacl_units_vis.py

output:

Traceback (most recent call last):
  File "nacl_units_vis.py", line 60, in <module>
    visualizer.keyboardManager.registerButton(
AttributeError: 'KeyboardManager' object has no attribute 'registerButton'

Thank you,

Diogo Silva

[2019-03-11 16:14] jngrad commented on #2535
Issue resolved (#2565)

[2019-03-11 16:14] #2535 closed, assigned to nobody

[2019-03-11 16:14] #2565 closed, assigned to nobody

[2019-03-11 19:10] #2569 closed, assigned to jngrad

[2019-03-12 08:38] KaiSzuttor opened #2572 "coulomb mixed periodicity test fails on i386"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/82953

[2019-03-12 08:55] mkuron commented on #2572
On amd64, it completes within 5 seconds, so I think it hangs. When it succeeds (https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/83001), it takes 15 seconds on i386.

[2019-03-12 08:58] KaiSzuttor opened #2573 "cuda 9 build fails (probably due to update of thrust in container)"
https://gitlab.icp.uni-stuttgart.de/espressomd/docker/-/jobs/82509

[2019-03-12 11:00] jainka commented on #2555
I have been thinking about it. From my point of view checking only the 19 populations is enough in LBM as other quantities are more or less derived from it. I don't know why GPU checkpointing saves forces and boundaries, and why such decisions were made in the past. Please thus let me know if this should be like this, and if this should be checked in the tests? I think it just adds to the complica

[2019-03-12 11:11] KaiSzuttor commented on #2555
I think it does not make sense to store the force densities since they're reset in every integration step. However, by storing the force densities the external force density is correctly restored. I'm not sure though if that is part of the state of the fluid, i tend to no.

[2019-03-12 11:14] KaiSzuttor commented on #2572
i could not reproduce this

[2019-03-12 11:15] jainka commented on #2555
My view here more is if it makes sense to complicate the testing of checkpoint more. I think checking every lattice site and corresponding 19 populations is already too much. Furthermore, the tests are already overloaded with if-then-else, and a decision needs to be made whether to check forces/boundaries for GPU or not? I tend to no as well...

[2019-03-12 11:19] KaiSzuttor commented on #2555
I think the boundaries are restored via the state of the ```espressomd.System```. So I think, neither forces nor boundaries should be written.

[2019-03-12 11:20] jainka commented on #2555
Very well! I will change this..

[2019-03-12 15:10] #2573 closed, assigned to nobody

[2019-03-12 17:35] RudolfWeeber opened #2579 "Deadlock in dipolar Barnes-Hutt on the GPU"
On an NVidai rtx 2080.

This happens in `sortBH()`, at the device synchronize after launching the `sortKernel()`
The likely cause is that some threads enter an endless loop:

[code]

If `start = bhpara->start[k]`  is less than zero, k is not decremented in the loop.
The deadlock happens most of the time, but not always.
There seems to be an undefined behavior or race condition.
The card's specs ar

[2019-03-12 17:39] fweik commented on #2500
Duplicate of #2579.

[2019-03-12 19:25] #2365 closed, assigned to nobody

[2019-03-12 19:25] #2436 closed, assigned to nobody

[2019-03-12 19:25] #333 closed

[2019-03-12 19:25] #1848 closed, assigned to nobody

[2019-03-12 19:25] #2555 closed, assigned to jainka

[2019-03-12 19:25] #2564 closed, assigned to jngrad

[2019-03-13 13:25] KaiSzuttor opened #2584 "Decide which samples can go"
Since there are already tutorials for some features we probably do not need to keep all the samples.

Candidates:
  * [```samples/lj_liquid.py```](https://github.com/espressomd/espresso/blob/python/samples/lj_liquid.py)
  * [```samples/constraints.py```](https://github.com/espressomd/espresso/blob/python/samples/constraints.py)
  * [```samples/ekboundaries.py```](https://github.com/espressomd/espr

[2019-03-13 15:42] KaiSzuttor commented on #2584
@RudolfWeeber

[2019-03-13 18:49] #2556 closed, assigned to jngrad

[2019-03-13 18:50] fweik commented on #2572
Seems to be gone, closing for now.

[2019-03-13 18:50] #2572 closed, assigned to nobody

[2019-03-13 19:05] jngrad opened #2587 "Make documentation of library interfaces visible"
Several places in the code are guarded by `#ifdef SCAFACOS`, `#ifdef CUDA`, etc. These macros are categorized as either derived or external in `features.def`, so `gen_doxyconfig.py` ignores them, making several parts of the code invisible to Doxygen. For example, the `Scafacos Namespace Reference` page is mostly empty, and a CUDA method throws a Doxygen warning because it is implemented in a .cu f

[2019-03-13 21:28] fweik opened #2589 "LB test has random failures"
E.g. https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/84472, https://travis-ci.org/espressomd/espresso/jobs/505903357
Iirc it should be deterministic now.

[2019-03-14 08:20] pdebuyl commented on #2584
I believe that a nice set of samples is a good addition to the tutorials. After having built ESPResSo, running the samples from the command-line is really straightforward.

I would support keeping `minimal-polymer.py` for instance, and `lj_liquid.py`, probably with some cleanup.

[2019-03-14 08:36] KaiSzuttor commented on #2584
@pdebuyl you are probably right, but we are struggling with keeping the samples up to date. If you're an absolute beginner you should start off with a tutorial anyway because you don't really gain much knowledge from looking at a sample. Therefore I would only keep the most fundamental samples.

[2019-03-14 08:44] KaiSzuttor commented on #2589
I'm not sure about this... Should be deterministic despite hardware issues of course. Do you know if it's always the GPU part and always the same runner?

[2019-03-14 09:13] KaiSzuttor commented on #2589
I just ran the test 100 times on my machine with no failure. Also on the machine where it failed with the same Docker images - no failure.

[2019-03-14 09:19] fweik commented on #2589
The failures are in the CPU code.

On Thu, Mar 14, 2019, 10:13 Kai Szuttor <notifications@github.com> wrote:

[2019-03-14 09:20] #2445 closed, assigned to nobody

[2019-03-14 09:20] KaiSzuttor commented on #2589
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/84472 this one is GPU

[2019-03-14 09:21] fweik commented on #2589
Yes., bit the other one is CPU

On Thu, Mar 14, 2019, 10:20 Kai Szuttor <notifications@github.com> wrote:

[2019-03-14 11:51] diogomusical opened #2590 "Problem h5md"
Hello,

input:

./pypresso h5md.py

output
Traceback (most recent call last):
  File "h5md.py", line 41, in <module>
    write_force=True, write_species=True, write_mass=False, write_charge=True, write_ordered=True)
  File "/Users/diogo/Simulation/simulacaotestespersonal/espresso/src/python/espressomd/io/writer/h5md.py", line 83, in __init__
    "ScriptInterface::Writer::H5mdScript")
  File "espre

[2019-03-14 12:21] KaiSzuttor commented on #2590
This is caused by a missing installation of the ```hdf5``` library. Please have a look at the [documentation](http://espressomd.org/html/doc/installation.html)

[2019-03-14 13:29] fweik opened #2594 "Master is failing"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/84777

[2019-03-14 16:14] diogomusical commented on #2590
when does
ccmake ./
output

 BIBTEX                           BIBTEX-NOTFOUND
 CMAKE_BUILD_TYPE                 Release
 CMAKE_INSTALL_PREFIX             /usr/local
 CMAKE_OSX_ARCHITECTURES
 CMAKE_OSX_DEPLOYMENT_TARGET
 CMAKE_OSX_SYSROOT
 CUDA_HOST_COMPILER               /Applications/Xcode.app/Contents/Developer/To
 CUDA_SDK_ROOT_DIR                CUDA_SDK_ROOT_DIR-NOTFOUND
 CUDA_TOOLKIT_ROOT_DI

[2019-03-14 17:11] #2590 closed, assigned to nobody

[2019-03-14 22:20] #2236 closed, assigned to nobody

[2019-03-14 22:21] #1965 closed, assigned to fweik

[2019-03-14 22:27] KaiSzuttor commented on #1165
can we close this? see #2542

[2019-03-14 22:36] bogdan-tanygin commented on #2579
@RudolfWeeber when it started a reproduce: on new NVidai rtx 2080? Also, the referenced issue with a number of CPU cores: I suppose it is just a related issue but not a part of a reproduce here?

[2019-03-15 06:51] mkuron commented on #2579
I suspect this happens for the same reason that breaks Barnes-Hut on AMD GPUs:
https://github.com/espressomd/espresso/pull/2364, https://github.com/psci2195/espresso-ffans/issues/223.

[2019-03-15 10:57] KaiSzuttor commented on #245
removed in 94487643f5be1924b2e9fb95b11a3400e343ffc9

[2019-03-15 10:57] #245 closed

[2019-03-15 11:25] KaiSzuttor commented on #265
removed at some point

[2019-03-15 11:25] #265 closed

[2019-03-15 11:43] fweik opened #2600 "Doxygen landing page outdated"
http://espressomd.org/html/dox/ could need some modernization.

[2019-03-15 12:42] #250 closed

[2019-03-15 12:42] #263 closed

[2019-03-15 12:42] #273 closed

[2019-03-15 13:44] fweik opened #2601 "Coding Style/Review Guide"
We should somewhere specify what use of C++ is acceptable and make a check list for code reviews.
Generally I would not write a complete coding style but would refer to
something like the [Core Guidline](https://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md) and add some specific rules for our project, like our [Naming Convention](https://github.com/espressomd/espresso/wiki/

[2019-03-15 14:15] KaiSzuttor commented on #2601
* no C-style casts
 * no wildcard imports in cython/python

[2019-03-15 16:40] fweik commented on #2601
For things that can be checked by `clang-tidy` we should keep track of the corresponding rules...

[2019-03-15 17:58] fweik opened #2603 "Timeouts in CI"
There are timeouts in the CI, e.g. https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/86159
Could be due to gpu usage.

[2019-03-15 18:01] fweik commented on #2594
The failing test is a unit test of a simple mpi function, the is probably some kind of UB.

[2019-03-17 08:47] #2587 closed, assigned to jngrad

[2019-03-17 17:57] bogdan-tanygin commented on #2579
@mkuron thanks for a hint, I think that you are right, we have the sortKernel deadlock in both cases. Indeed, this is probably due to a hardware architecture dependent issue with a physical threads execution racing being different. OK, let me try to handle both tickets. The issue is reproducing at least starting from the "Turing" level GPU architecture / AMD Vega 64 or similar.

[2019-03-17 18:09] mkuron commented on #2579
Turing (and Volta, not sure if anyone runs Espresso on these expensive cards) changed something about the scheduling, which means that threads are no longer guaranteed to run in lock-step. The list of suggestions at https://docs.nvidia.com/cuda/turing-tuning-guide/index.html#sm-independent-thread-scheduling is probably a good starting point for this issue.

[2019-03-19 10:50] RudolfWeeber opened #2611 "Various issues with LB Stress"
In the development branch, lb the node stress for gpu and cpu don't agree for the lb_shear test case.
Compared to 4.0.2rc, the cpu value changed.

Currently I cannot get either to agree with the expected solution for Couette flow.
I have the impression, that in the lb_shear test, the variable
SHEAR_RATe does not actually denote the shear rate, since the boundary velocities are set to +,-0.5 * SHEA

[2019-03-19 10:55] fweik commented on #2611
You are free to rename it to `SHEAR_VELOCITY`

[2019-03-19 11:10] KaiSzuttor opened #2612 "Automatic formatting"
I think most of the time the formatting proposed by clang-format is just fine and we could automate the process instead of having to push a formatting commit every time. That is really annoying! The unlikely case of non-optimal formatting by clang-format can then by handle manually. What do you think @fweik @RudolfWeeber ?

[2019-03-19 11:21] fweik commented on #2612
I agree, but I'm not sure how to do it. Also obviously this would mean
automatic commits. If we had a staging branch we could do it when that is
merged into the master.

On Tue, Mar 19, 2019, 12:10 Kai Szuttor <notifications@github.com> wrote:

[2019-03-19 11:24] mkuron commented on #2612
Doing it automatically (either on the pull request or in the staging branch) will cause merge conflicts when someone continues working without pulling in the changes first. So it's not a particularly good idea. I would suggest you just create a pre-commit hook locally that applies the formatting.

[2019-03-19 14:35] jngrad commented on #2612
I don't think we should automate formatting. Formatting is not just about cosmetics, it can also reveal real coding errors, some of which are detected by `-Wmisleading-indentation` (part of `-Wall`). I always stage my changes, then run formatting via a Bash script (only formats the subset of modified files, so it's fast), then review the style changes with `git diff`. This is an excellent way to l

[2019-03-19 15:55] KaiSzuttor commented on #2612
@jngrad if we had ```readability-braces-around-statements``` enabled for clang-tidy, this issue would not have popped up.

[2019-03-19 16:01] mkuron commented on #2612
@KaiSzuttor, that helps in this specific case, but there are other situations where automatic formatting reveals issues. Also, clang-tidy doesn't support Python.

[2019-03-20 08:58] KaiSzuttor opened #2616 "Unit tests for CUDA"
we need some infrastructure for unit testing cuda code such as ```Utils::Array```.

[2019-03-20 12:15] fweik commented on #2589
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/88465

[2019-03-20 13:43] fweik opened #2618 "Timeouts in the CI"
e.g. (times are from the CI)
[code]
with debug builds I regularly get timeouts (default timeout is 300s) even on a modern machine, this is too slow to be practical.

[2019-03-20 14:22] KaiSzuttor commented on #2618
you mean the tests are too long or we should find out where the performance drop comes from... We knew before merging that LB will be slower

[2019-03-20 14:36] KaiSzuttor commented on #2618
[code]
with

[code]

in https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/88590

How do you know that it is connected to the refactoring?

[2019-03-20 14:39] fweik commented on #2618
I don't, but it is reasonable to assume that it is related? Could also some problem in the CI.

[2019-03-20 14:46] fweik commented on #2618
looks like a CI problem, but the issue still needs to be addressed.

[2019-03-21 07:48] fweik commented on #2618
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/88973 has failed due to timed out LB tests

[2019-03-21 12:48] KaiSzuttor commented on #2618
It seems like whenever I run the tests, the issue is gone :disappointed:
I don't have the time to run the tests for everybody, so that doesn't seem to be a solution

[2019-03-21 13:51] KaiSzuttor opened #2624 "LB boundary forces wrong"
The test is very sensitive on parameter changes which makes me doubt that it's correctly testing what it should.

[2019-03-21 14:10] mkuron commented on #2624
Confirmed. I ported that test to Walberla to test the boundary force and it didn't even give the same results for the same parameters. See https://github.com/espressomd/espresso/issues/2540

[2019-03-21 15:04] jngrad commented on #2618
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/89108
[code]

[2019-03-21 15:10] KaiSzuttor commented on #2624
[code]

Seems like there is an error in the force calculation for the boundaries.

[2019-03-21 15:25] fweik commented on #2624
The boundary forces code is highly suspicious, that probably needs to be rewritten or removed.

[2019-03-21 15:36] mkuron commented on #2624
In your test case with a sphere confined between walls, you don't exactly expect Stokes law -- the sphere should be moving a bit slower. (In your case but with only two walls, you'd expect around 30% slower per figure 6a of https://arxiv.org/abs/1503.02681. But since you have four walls, that might be even less).

[2019-03-21 16:11] RudolfWeeber commented on #2624
Your box is too small, I think.
For CPU, the results get much less suspicious, if you go from 1.5 diameters to 4-6 diameters.
For GPU, the results seem wrong for all cases

[2019-03-22 07:23] KaiSzuttor commented on #2624
Still it does not give the correct force and the trend is wrong (the force gets smaller for increasing box size).

[2019-03-24 00:29] jngrad opened #2628 "Remove global variables"
Global variables make code difficult to read and maintain. Tracking their origin is an annoyance, and name collision with local variables is always a risk. Should we consider prefixing global variables with `g_`, just like we prefix class member variables with `m_` and enum values with their enum name? Or enclosing them in namespaces, like enum values from enum classes?

Here is one special exampl

[2019-03-25 12:31] jainka commented on #2624
I must admit that I am quite confused with this. Can you please confirm if the LB parameters that you set in your script are within the Mach number limits of the LBM? I did a quick parameters analysis in _Musubi_ and I found that for this setup (this high velocity and viscosity) you need a time step of at least **0.002**.

With that said, I ran your script upon successively halving the time step.

[2019-03-25 12:36] jainka commented on #2624
I forgot to mention that I also changed the high velocity of 2.3 to 0.09. Will try to see where the problem is. From intuition, it seems like some buggy multiplying factor in get_forces.

[2019-03-25 12:46] jainka commented on #2624
hmmmm.... when the simulation is run much longer the error seems similar... will do more rigorous parametric variations now...

[2019-03-25 13:29] mkuron commented on #2624
Could you please try implementing this simpler test case in Espresso: https://i10git.cs.fau.de/walberla/walberla/blob/c5f81ce2bc58de53debc803186a96677cb86a3cf/tests/lbm/boundary/BoundaryForceCouette.cpp . It's the force on the walls due to Couette flow. This has way fewer potential issues (finite box size, discretization, etc.) than the sphere.

[2019-03-25 14:25] jainka commented on #2624
there are even more simpler test cases, which would be better to implement. I need some time to think and understand whats going on...

[2019-03-25 19:53] fweik commented on #2603
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/89710

[2019-03-25 19:53] fweik commented on #2603
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/89715

[2019-03-25 19:54] fweik commented on #2628
The one you mention is also a linking hazard. In general most should also be static.

[2019-03-25 19:55] #2612 closed, assigned to nobody

[2019-03-26 13:27] #1687 closed, assigned to nobody

[2019-03-26 13:27] #2531 closed, assigned to nobody

[2019-03-26 14:53] diogomusical opened #2630 "Problem h5md"
hello

input: ccmake ./

 IPYTHON_EXECUTABLE               IPYTHON_EXECUTABLE-NOTFOUND
 MAKEINDEX                        MAKEINDEX-NOTFOUND
 MYCONFIG_NAME                    myconfig.hpp
 PDFLATEX                         PDFLATEX-NOTFOUND
 SPHINX_API_DOC_EXE               /Users/diogo/Library/Python/2.7/bin/sphinx-ap
 WARNINGS_ARE_ERRORS              OFF
 WITH_CUDA                        OFF
 WITH

[2019-03-26 16:20] fweik commented on #2589
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/90162

[2019-03-27 15:57] pdebuyl commented on #2630
Hello,

1. You need to have a "toolchain" of compiler / MPI / HDF5 that is consistent (i.e. check that you can compile *and* run a sample MPI program and a sample HDF5 program). Else, either the installation is not appropriate or you need to specify explicilty the components with ccmake (what compiler is used, what mpi library is used, etc).
2. If you modify any of these components, the simplest c

[2019-03-31 21:13] KaiSzuttor commented on #2530
https://api.csswg.org/bikeshed/?force=1&url=https://raw.githubusercontent.com/vector-of-bool/pitchfork/develop/data/spec.bs#tld.build

[2019-03-31 21:14] KaiSzuttor commented on #2530
https://github.com/vector-of-bool/pitchfork

[2019-03-31 21:26] KaiSzuttor commented on #2530
https://github.com/tomtom-international/cpp-dependencies

[2019-04-01 08:03] KaiSzuttor commented on #2630
I think that @diogomusical did not use the current python branch but some release. We updated the error message if the h5md feature is not available in #2591. As @pdebuyl already mentioned you need a parallel version of the hdf5 library installed, otherwise you cannot use the h5md feature.

[2019-04-01 08:03] #2630 closed, assigned to nobody

[2019-04-01 09:15] fweik commented on #2530
Also #2628.

[2019-04-01 13:04] fweik opened #2636 "Scafacos coulomb and dipolar should be seperated"
Currently this is a mess. Also the short range parts should be inline.

[2019-04-03 12:07] fweik commented on #2594
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6362

[2019-04-03 12:08] fweik commented on #2618
Master is read again because of this:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6362

[2019-04-03 12:34] KaiSzuttor commented on #2618
that happens quite often... the tests for the exotic arches fail and nobody notices. The staging branch would probably help here.

[2019-04-03 12:47] mkuron commented on #2618
The staging branch probably wouldn't help. It just would end up not getting automatically merged into the master branch for days until someone noticed.

[2019-04-03 12:50] KaiSzuttor commented on #2618
It helps with respect to having a green master and a documentation that corresponds to the current master.

[2019-04-03 13:05] RudolfWeeber commented on #2618
On Wed, Apr 03, 2019 at 12:35:00PM +0000, Kai Szuttor wrote:

I test-drove Espresso on the native arm processors offered by Amazon EC2 now (a1 instances).
The performance is really bad (10x slower on a single core of a1 compared to my ICP machine).
I don't see the Arm stuff becoming relevant for simulation applications for a while.

In view of our limited resources, we should consider dropping the

[2019-04-03 13:18] mkuron commented on #2618
Amazon's Graviton processor isn't very suitable for pure number crunching (it's optimized for web stuff), so your results are entirely expected. A Cavium ThunderX2 or another Arm CPU targeted at the HPC market should give an entirely different experience. In fact, Cray is selling them and there is one on the TOP500 list, so I am pretty sure Arm is ready to become relevant.

We discovered quite a f

[2019-04-03 13:31] fweik commented on #2618
Instead of disabling the tests altogether, we could also limit the test set to those tests that reliably don't timeout. If possible at all I'd also like to keep the multi-arch tests.

[2019-04-03 13:41] RudolfWeeber commented on #2618
On Wed, Apr 03, 2019 at 06:31:54AM -0700, Florian Weik wrote:

Id be happy with that solution. They only misdirect attention, if they cause false positives.

[2019-04-03 14:00] mkuron commented on #2618
Shouldn't we rather make the tests run faster or figure out why they sometimes are too slow?

[2019-04-03 14:25] RudolfWeeber commented on #2618
#2641

On Wed, Apr 03, 2019 at 07:00:44AM -0700, Michael Kuron wrote:

I did that for the ones, where it was easily possible.
The Stokes sphere (if we keep it) will also get better with #2633, at least it did for clang:6.0.
If you can come up with better solutions for the remaining long-running ones, they can be removed from the blacklist again.

[2019-04-03 15:43] espresso-ci opened #2642 "CI build failed for https://github.com/espressomd/espresso/pull/2640"

[2019-04-03 15:44] #2642 closed, assigned to nobody

[2019-04-03 15:47] mkuron commented on #2642
Maybe only do this for branches and tags, not for pull requests...

[2019-04-03 15:48] KaiSzuttor commented on #2642
I'm just testing, but thanks

[2019-04-03 17:27] espresso-ci opened #2644 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6401

[2019-04-03 17:28] #2644 closed, assigned to nobody

[2019-04-03 17:32] jngrad opened #2645 "nvcc fatal: The version ('60000') of the host compiler ('clang') is not supported"
Solution:
[code]
[code]

Original issue:
[code]
[code]
Using Ubuntu 18.04, Clang 6.0.0-1ubuntu2, nvcc 9.1.85, commit 169dff01db97.

[2019-04-03 17:36] fweik commented on #2645
Actually, it only checks the c compiler, so if you set a supported c compiler (which is not used), and a newer clang++ as cxx compiler, chances are that it will just work. What is your issue with this?

[2019-04-03 19:16] fweik commented on #2488
This is maybe fixed by #2643.

[2019-04-03 19:16] mkuron commented on #2645
CUDA 9.1 probably doesn't support Clang 6. your solution uses Clang _instead_ of nvcc, which works and is what we do inside tge clang Docker image.

[2019-04-03 19:49] KaiSzuttor commented on #2488
it is fixed

[2019-04-03 19:49] #2488 closed, assigned to mkuron

[2019-04-04 04:37] espresso-ci opened #2646 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6407

[2019-04-04 05:08] KaiSzuttor opened #2647 "Optimize tests and revert #2641"
Some tests are skipped for non x86 architectures. We should fix those and revert PR #2641.

[2019-04-04 06:26] espresso-ci opened #2649 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6411

[2019-04-04 06:29] #2649 closed, assigned to nobody

[2019-04-04 07:16] RudolfWeeber opened #2650 "Gpu tests should only run, when a gpu is present"
One can build ESpresso with Cuda support independent of a gpu being present.
This will become relevant for binary distribution packages

[2019-04-04 07:48] #2646 closed, assigned to nobody

[2019-04-04 09:38] KaiSzuttor opened #2652 "LB thermostat cannot be checkpointed"
```set_lb``` requires a LBFluid instance which is not present at the time the state for the thermostat is set

[2019-04-04 11:07] fweik commented on #2618
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/92358

Just to be clear, this does affect all platforms and is not limited to gpu tests.

[2019-04-04 12:01] espresso-ci opened #2655 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6419

[2019-04-04 12:03] espresso-ci opened #2656 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6420

[2019-04-04 12:16] jngrad commented on #2645
The nvcc error message has been an annoyance on my desktop machine for a few months now. Yet the nvcc9/clang6 combination already works out-of-the-box on the containers, so I didn't see the point of tinkering with local installations of various nvcc/clang versions until a combination that worked was found. This is time-consuming when you don't have root privileges; unpacking the clang-7 Ubuntu pac

[2019-04-04 12:26] #2645 closed, assigned to nobody

[2019-04-04 12:49] #2656 closed, assigned to KaiSzuttor

[2019-04-04 12:49] #2655 closed, assigned to nobody

[2019-04-04 12:53] espresso-ci opened #2657 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6423

[2019-04-04 12:54] espresso-ci opened #2658 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6424

[2019-04-04 12:56] #2657 closed, assigned to nobody

[2019-04-04 12:56] #2658 closed, assigned to nobody

[2019-04-04 14:22] KonradBreitsprecher opened #2660 "System.seed for RNGs"
In the Philox version of the Langevin thermostat I require the user to set the seed for the RNG,
just like @KaiSzuttor in PR #2348 for the LB thermostat. In the current code, `system.seed` is required and a int-per-node array that seeds d_random() calls. This is still used in the following files:

- dpd
- reaction_ensemble.cpp
- bonded_interactions/thermalized_bond.hpp
- object-in-fluid/affinity.h

[2019-04-04 14:26] KaiSzuttor commented on #2660
the old interface has to go. it does not make sense to provide a seed and not knowing for which method it is used. so definitely we want opt1

[2019-04-04 15:29] jngrad opened #2661 "More robust documentation checks in CI"
The Sphinx and Doxygen documentations keep piling up errors again. These issues are trivial to fix in the PRs where they emerge in the first place, whereas fixing them weeks after a merge involves a fair amount of guesswork (which can go wrong, as explained in the last meeting with the #2623 case) and has the potential to cause merge conflicts in other opened PRs. CI already fails when Sphinx warn

[2019-04-04 16:21] fweik commented on #2618
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/92670

[2019-04-05 04:33] espresso-ci opened #2664 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6434

[2019-04-05 08:27] #2664 closed, assigned to nobody

[2019-04-05 09:02] thepith opened #2665 "checkpoint does not reproduce state"
Hi,

I was playing around with the `espressomd.checkpointing` and found that when I load a checkpoint I can not reproduce the exact state as I had before.

MWE:
[code]

Run this script multiple times. The first run differs from all subsequent runs.

I also tried to change the FFTW plan from `FFTW_PATIENT` to `FFTW_ESTIMATE` to make the FFTW library [deterministic](http://www.fftw.org/faq/section3.

[2019-04-05 09:14] KaiSzuttor commented on #2665
```p3m.tune()``` is not deterministic

[2019-04-05 09:21] thepith commented on #2665
But why is the actor created with `p3m` different from the actor loaded from the checkpoint?

[2019-04-05 09:56] fweik commented on #2665
I agree the way it is written down it should be deterministic, I'll have a look later...

[2019-04-05 14:17] #2660 closed, assigned to nobody

[2019-04-08 04:35] espresso-ci opened #2667 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6455

[2019-04-08 06:56] mkuron commented on #2667
@kaiszuttor, didn't you say you had implemented automatic closing? I retried the failed Intel job (still due to the CUDA driver thing from last week, but fixed now) and the build has now passed.

[2019-04-08 07:04] fweik opened #2668 "Automatic closing of issues does not work"
C.f. https://github.com/espressomd/espresso/issues/2667

[2019-04-08 07:41] KaiSzuttor commented on #2668
because of the dependency on the docker PR

[2019-04-08 08:14] KaiSzuttor commented on #2667
reopened to test automatic closing

[2019-04-08 08:20] KaiSzuttor opened #2669 "Refactor Utils::get_linear_index / unravel_index"
these two functions purpose is very similar and should be combined into one. They differ in row-/column major and the possible number of dimensions. See #2640

[2019-04-08 08:24] #2667 closed, assigned to nobody

[2019-04-08 08:25] KaiSzuttor commented on #2667
juhuu it works

[2019-04-08 09:50] KaiSzuttor opened #2670 "Counter unit test not run"
```src/core/unit_tests/Counter_test.cpp``` should be added to ```CMakeLists.txt```

[2019-04-08 15:22] fweik commented on #2214
Sorry for the delay. I'm not going to work on this. @jngrad is there anything from you? Otherwise we have to remove the feature or mark it as experimental.

[2019-04-08 15:39] jngrad commented on #2214
Haven't looked into this for a while. I'm still busy refactoring `forces_inlines.hpp` and the dihedral code. After that I'll have a better understanding of the way OIF is integrated and will look for a better solution.

[2019-04-08 16:39] RudolfWeeber commented on #2589
iThis should be resolved, since the test is now deterministc.
Closing for now.

[2019-04-08 16:39] #2589 closed, assigned to nobody

[2019-04-08 16:41] RudolfWeeber commented on #2538
This is solved, to my knowledge

[2019-04-08 16:41] #2538 closed, assigned to nobody

[2019-04-08 16:42] RudolfWeeber commented on #2540
Replaced by #2647

[2019-04-08 16:42] #2540 closed, assigned to KaiSzuttor

[2019-04-08 16:44] RudolfWeeber commented on #2489
@itischler, is this still open?

[2019-04-08 16:50] #1694 closed, assigned to nobody

[2019-04-08 16:51] RudolfWeeber commented on #1694
The underlying code was removed

[2019-04-08 16:56] fweik opened #2675 "Output parameter version of `get_mi_vector` should be removed"
to discourage bad code where the result is not `const`.

[2019-04-08 16:58] fweik commented on #2675
All call sites should be inspected, often the code can be simplified around these calls.

[2019-04-08 18:58] fweik commented on #2618
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/93891

[2019-04-08 20:03] #2670 closed, assigned to nobody

[2019-04-09 04:58] espresso-ci opened #2678 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6490

[2019-04-09 08:34] itischler commented on #2489
still open, but I'm working on it

[2019-04-09 09:41] #2678 closed, assigned to nobody

[2019-04-09 10:24] fweik opened #2680 "Integration scheme not documented"
The integration scheme for Langevin dynamics is not documented, at least I could not find something in the documents or code comments. LD can be done in different ways with a Verlet scheme, in Espresso it is even more complex because it also supports dissipative and inertia coupling to LB, DPD, anisotropy and more, as well as combinations of those. I think this is a central point that should absol

[2019-04-09 11:30] RudolfWeeber opened #2681 "Figure out how to checkpoint LB + Thermostat"

[2019-04-09 11:32] RudolfWeeber opened #2682 "implement being able to change LB temperature without affecting RNG state"

[2019-04-09 11:33] RudolfWeeber opened #2683 "Replace RNG in DPD, thermalized bond by Philox"

[2019-04-09 11:35] fweik commented on #2681
There is already #2652

[2019-04-09 11:36] fweik commented on #2683
@KonradBreitsprecher is iirc working on that.

[2019-04-09 11:36] RudolfWeeber opened #2684 "Implement test for bonded p3m short range ia"

[2019-04-09 11:39] RudolfWeeber opened #2685 "Identify (and resolve) missing coverage for ELC"

[2019-04-09 11:41] RudolfWeeber opened #2686 "Implement test for torus shape"

[2019-04-09 11:41] RudolfWeeber opened #2687 "Re-implement polymer creation"

[2019-04-09 11:42] KonradBreitsprecher commented on #2683
Confirmed

[2019-04-09 11:47] RudolfWeeber opened #2688 "Test force/energy/pressure for coulomb_dh, coulomb_rf, quartic"

[2019-04-09 11:54] RudolfWeeber opened #2689 "Rasterization of LB Boundaries"

[2019-04-09 11:55] RudolfWeeber opened #2690 "Move developer guide to Wiki on Github"

[2019-04-09 12:05] RudolfWeeber opened #2691 "Replace Stokes sphere test"
The force on the sphere should be determined by a surface integral involving the surface normal and the stress around the sphere.
The consistency of that would be sufficient to show the correctnes of the boundary force

[2019-04-09 12:14] RudolfWeeber opened #2692 "Interface Walbera LB"

[2019-04-09 12:22] fweik commented on #2688
@reinaual

[2019-04-09 13:04] #2681 closed, assigned to nobody

[2019-04-09 13:05] KaiSzuttor commented on #2668
it works now

[2019-04-09 13:05] #2668 closed, assigned to nobody

[2019-04-09 14:12] fweik commented on #2682
#2666 solves this for Langevin. I think for the other it can be done in the same way.
The deeper issue here is that the state of those thermostats has static lifetime, so they already exist on program start, because of this the (logical) class invariant `has seed` can not be maintained by simply only defining a constructor that needs a seed. Eventually this has to addressed on this level.

(This i

[2019-04-09 14:14] fweik commented on #2601
Potential spec for physical code organization: https://github.com/vector-of-bool/pitchfork

[2019-04-09 16:16] RudolfWeeber opened #2694 "Prepare docker images for supported Distros with Python 3"

[2019-04-09 16:19] RudolfWeeber commented on #2689
Required for Walberla integration

[2019-04-09 16:30] RudolfWeeber commented on #2279
Is this being worked on?

[2019-04-09 16:36] RudolfWeeber opened #2695 "Inertialess tracers incompatible with normal particles"
Due to their propagation at different points in the integration loop
before and after force calculation
the state of the virtual sites and normal particles are inconsistent.

It needs to be clarified, whether this can be rsolved.
Otherwise the use of normal particles alongside VS has to be prevented.

This ticket replaces #2275

[2019-04-09 16:36] #2275 closed, assigned to nobody

[2019-04-09 16:38] fweik commented on #2695
Also see #2680, it is not documented what they actually do.

[2019-04-09 17:56] fweik commented on #2279
Yes, but depends on #2512.

[2019-04-09 18:43] fweik commented on #2327
I think the feature is not required at all. As far as I can tell that guards only bonded interactions and the volume forces that do not have a performance impact if not enabled. Also I think it is misleading, because some of this features might be useful in totally different contexts. This is the wrong level of abstraction for Espresso. Espresso should have methods that can be combined to build an

[2019-04-09 20:13] #2579 closed, assigned to nobody

[2019-04-09 20:43] fweik opened #2698 "Suspicious warnings from BH patch"
After the patch #2663, there are now warnings, e.g. in https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/94878:

[code]

not sure what to make of this.

[2019-04-09 21:54] bogdan-tanygin commented on #2698
I think that these warnings already have been handled by the fragment:

[code]
One seems that the compiler does not see these "#if" in the warning raising.

[2019-04-09 21:58] fweik commented on #2698
Ok, I'll close this for now. May very well be a false positive, it does also seem to only occur with one specific nvcc version.

[2019-04-09 21:58] #2698 closed, assigned to nobody

[2019-04-09 22:39] RudolfWeeber commented on #2327
On Tue, Apr 09, 2019 at 06:43:16PM +0000, Florian Weik wrote:

So, for 4.1, we take those out and remove the myconfig-feature
IMMERSED_BOUNDARIES. We also move the source files for the bonded IAs.

I agree with this assessment, but would not milestone any work with
that regard for 4.1 without a discussion in the Espresso meeting.

[2019-04-10 04:32] espresso-ci opened #2699 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6532

[2019-04-10 08:45] #2699 closed, assigned to nobody

[2019-04-10 12:40] christophlohrmann commented on #2684
can do

[2019-04-10 13:22] fweik commented on #2684
I think after #2512 is merged, this should just subtract the coulomb short range part, independent of what method is active. This will be `Coulomb::calc_pair_force` from `coulomb_inline.hpp`.

[2019-04-10 15:03] jainka opened #2702 "Sanity check for LB parameters"
The LB parameters prescribed for a simulation should be sanity-checked i.e. it should be ensured that these parameters are within the LB stability and Mach number limits. This should be tested in the core.

[2019-04-10 15:21] jngrad commented on #2690
If the `Page` box on the wiki becomes too crowded, we could consider [creating a sidebar](https://help.github.com/en/articles/creating-a-footer-or-sidebar-for-your-wiki), for example to create a developer guide hierarchy and group the ES meeting proceedings together. The `Page` box would still be available, but collapsed.

[2019-04-10 17:05] jngrad opened #2704 "MayaviLive visualizer segfault"
Traceback on all our desktop machines:
[code]
Espresso compiled for python2.7, running on Ubuntu 18.04.2.

[2019-04-10 19:28] fweik commented on #2685
See [coverage report](https://codecov.io/gh/espressomd/espresso/src/python/src/core/electrostatics_magnetostatics/elc.cpp). The misses mostly seem related to the `space_layer` parameter.

[2019-04-10 19:37] espresso-ci opened #2705 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6564

[2019-04-11 04:34] espresso-ci opened #2706 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6569

[2019-04-11 06:07] #2705 closed, assigned to nobody

[2019-04-11 06:07] KonradBreitsprecher commented on #2685
Should be covered by an additional test with particles more close to the boundaries.
I'm a bit afraid but will try..

[2019-04-11 06:18] jonaslandsgesell opened #2707 "Make PRNG member of ReactionAlgorithm"

[2019-04-11 06:54] #2706 closed, assigned to nobody

[2019-04-11 08:49] jngrad opened #2709 "Cython and Python3: string conversion"
Python2 uses ASCII strings by default (`'ü'` returns `'\xc3\xbc'`) and UTF8 strings when explicitly specified (`u'ü'` returns `u'\xfc'`). In both cases the `print()` function is able to correctly display the accentuated character. Python3 uses UTF8 strings by default (`'ü'` returns `'ü'`).

Runtime error messages from the core are all ASCII, so they can be displayed natively in Python2 but in Pyth

[2019-04-11 09:04] jngrad commented on #2709
Update: actually the bytestrings seems to print just fine with `./pypresso ../testsuite/python/drude.py` (compiled with python3), so it's more of a CTest-related issue.

[2019-04-11 09:13] mkuron commented on #2709
We have wrappers that should take care of the conversions:

https://github.com/espressomd/espresso/blob/bd1cce48aef5634fca29db584664760703bdceff/src/python/espressomd/utils.pyx#L126-L157

[2019-04-11 09:21] espresso-ci opened #2710 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6572

[2019-04-11 09:30] RudolfWeeber commented on #2624
Fixed by #2633

[2019-04-11 09:30] #2624 closed, assigned to jainka

[2019-04-11 09:38] RudolfWeeber commented on #2611
Fixed by #2633

[2019-04-11 09:38] #2611 closed, assigned to nobody

[2019-04-11 11:02] mkuron commented on #2704
Not an Espresso issue. The Ubuntu package seems to just be broken. Minimal test case:
[code]

[2019-04-11 11:07] #2704 closed, assigned to nobody

[2019-04-11 14:45] #2710 closed, assigned to nobody

[2019-04-11 14:47] #2650 closed, assigned to nobody

[2019-04-11 14:50] RudolfWeeber commented on #2650
Fix was merged

[2019-04-11 15:10] jainka commented on #2702
This test was planned keeping following in mind:

- The user specifies shear viscosity, dx (agrid) and time step (tau) in lattice units. Also, a velocity is specified as a boundary condition, if really needed.
- In BGK and TRT relaxation schemes of the LBM, the shear viscosity depends on the relaxation parameter "Omega" which should be less than 2.0
- The velocity specified in lattice units is the

[2019-04-11 16:03] jonaslandsgesell commented on #2276
#2714

[2019-04-11 18:50] fweik opened #2715 "bors branches need to be excluded from travis"
(See e.g. https://travis-ci.org/espressomd/espresso/jobs/518854679)

[2019-04-11 18:51] jngrad commented on #2690
I'm halfway through it. @fweik does [section 4.3](http://espressomd.org/html/doc/dg.html#adding-calls-to-the-master-slave-framework) reflect our current MPI communication strategy?

[2019-04-11 18:53] fweik commented on #2690
No. I can bring that up to date next week, I think I won't get to that tomorrow.

[2019-04-11 19:32] KaiSzuttor commented on #2715
thats already done in the python branch

[2019-04-11 19:32] #2715 closed, assigned to nobody

[2019-04-11 21:30] #2688 closed, assigned to reinaual

[2019-04-11 22:31] fweik commented on #2618
This issue is persisting: https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/96968

[2019-04-12 04:37] espresso-ci opened #2716 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6622

[2019-04-12 07:33] #2716 closed, assigned to nobody

[2019-04-12 22:03] bogdan-tanygin commented on #2500
Actually, this issue is not yet fixed, it is independent one. I've prepared a separate pull request. Is it possible to reopen it formally (if needed)?

[2019-04-12 23:05] #2684 closed, assigned to christophlohrmann

[2019-04-13 04:50] espresso-ci opened #2720 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6649

[2019-04-13 13:27] #2500 closed, assigned to nobody

[2019-04-13 14:04] #2720 closed, assigned to nobody

[2019-04-13 14:08] espresso-ci opened #2721 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6654

[2019-04-13 14:42] #2721 closed, assigned to nobody

[2019-04-13 19:01] fweik opened #2723 "THOLE is not tested"
It is guarded by `P3M` in maxset, but derived features are not available at this point.

[2019-04-14 04:51] espresso-ci opened #2724 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6667

[2019-04-14 08:19] #2724 closed, assigned to nobody

[2019-04-15 16:04] jainka opened #2727 "LB Interpolation test works only for a particular velocity value"
In relation to #2702 it was found that if the boundary velocity in lb_interpolation.py is changed, the test fails (assertions become unequal). Even a slight deviation in velocity (from 1.0 to 1.001) leads to a failure.

[2019-04-15 16:07] RudolfWeeber opened #2728 "LB GPU does not apply velocity bc under unclear circumstances"
Below script simulates a slab geometry with v=0 boundary conditions on top and bottom.
An external force density is applied to the fluid/
Also, a particle is advected.

The resulting flow profile is Poisseullew'ish for LB CPU.
For LB GPU, it is completeley flat unless the WCA interaction is
disabled. Then, it is poisseulle like as well.

[code]

[2019-04-15 20:44] KaiSzuttor commented on #2727
this was trivial to fix, ~~what is of more concern is that the test breaks for values of agrid != 1~~

[2019-04-15 20:58] KaiSzuttor commented on #2728
your gamma is quite large... are you sure that the LB is stable? Also, we have a python test that checks a very similar system...

[2019-04-16 04:41] espresso-ci opened #2730 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6694

[2019-04-16 05:23] #2730 closed, assigned to nobody

[2019-04-16 13:08] RudolfWeeber commented on #2728
setting a short range ia changes the cell geometry.
cells_re_init() calls lb_init_gpu() which calls lb_init_gpu() which deletetes the boundary flasg on the lbgpu nodes via the
reset_boundaries() kernel.

[2019-04-16 13:25] #1377 closed, assigned to jngrad

[2019-04-16 13:45] KaiSzuttor commented on #2728
remove the kernel call?

[2019-04-17 04:21] espresso-ci opened #2735 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6738

[2019-04-17 11:31] RudolfWeeber commented on #2728
This is a regression introduced after 4.0.
In 4.0 the code in on_cell_structure_change() was
#ifdef LB
  if (lattice_switch & LATTICE_LB) {
    lb_init();
  }
#endif

now it reads:
#ifdef LB
  lb_lbfluid_init();
#endif
So, 4.0.2 does not have to wait for this.
I'll open a pr restoring the old behavior.

[2019-04-17 12:20] #2727 closed, assigned to nobody

[2019-04-17 13:23] RudolfWeeber opened #2738 "Need more fine-grained events for LB"
LB implementations (other than the GPU one) need to be able to react to changes of
* (mpi) node grid
* box size
* skin (due to changed LB halo size)

the current event system in Espresso does not have these events.

[2019-04-17 13:51] fweik commented on #2738
There is `on_boxl_change`, isn't that for the box length?

[2019-04-17 15:13] KonradBreitsprecher commented on #2723
Also, the energy calculation is not tested in testsuite/python/tholy.py

[2019-04-18 04:39] espresso-ci opened #2741 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6786

[2019-04-18 07:05] #2741 closed, assigned to nobody

[2019-04-19 07:25] fweik opened #2742 "No such container error at then end of CI job"
See https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/101379,
at the end the jobs fails with
[code]

[2019-04-19 08:27] mkuron commented on #2742
That problem is known to occasionally occur in Gitlab Runner, see e.g. https://gitlab.com/gitlab-org/gitlab-runner/issues/3698, https://gitlab.com/gitlab-org/gitlab-ce/issues/43286, https://gitlab.com/gitlab-org/gitlab-runner/issues/3395, https://gitlab.com/gitlab-com/support-forum/issues/3864. These kinds of errors are simply out of our control, which makes it completely unrealistic to get 100% C

[2019-04-19 08:39] #2489 closed, assigned to nobody

[2019-04-19 10:18] #2728 closed, assigned to nobody

[2019-04-20 04:40] espresso-ci opened #2744 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6817

[2019-04-20 07:30] #2744 closed, assigned to nobody

[2019-04-21 04:38] espresso-ci opened #2745 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6819

[2019-04-22 04:36] espresso-ci opened #2746 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6820

[2019-04-23 11:43] mkuron opened #2747 "test_python_bindings calls CUDA function even if no GPU available"
https://gitlab.icp.uni-stuttgart.de/espressomd/docker/-/jobs/101847 was built with AMD GPU support but the test was run on a machine without an appropriate GPU. That's fine because in the espressomd/docker repo we only run trivial tests. test_python_bindings however seems to call CUDA already when the `espressomd` module is imported (`mpi_init` -> `on_program_start` -> `cuda_init` -> `cudaStreamCr

[2019-04-23 12:35] #2746 closed, assigned to nobody

[2019-04-23 12:54] #2745 closed, assigned to nobody

[2019-04-23 13:17] jngrad commented on #2747
https://github.com/espressomd/espresso/blob/b66eaf5d71a344db53d7b69b456ab18e4cc02286/src/core/event.cpp#L78-L83
https://github.com/espressomd/espresso/blob/b66eaf5d71a344db53d7b69b456ab18e4cc02286/src/core/cuda_init_cuda.cu#L41

I can't reproduce the issue in container `cuda:9.0` without `--runtime=nvidia`: importing `espressomd` doesn't raise any error, even though there is no GPU. To double-chec

[2019-04-23 13:27] mkuron commented on #2747
Ok, then maybe `cudaStreamCreate` is legal without a GPU but `hipStreamCreate` isn't.

Try the following environment variables: `export HIP_PLATFORM=hcc HCC_AMDGPU_TARGET=gfx900`.

[2019-04-23 13:39] mkuron commented on #2747
Also, I would remove the `#if defined(__HIPCC__) and not defined(__CUDACC__)`. While the test is not necessary on Nvidia, it does not harm and it is preferrable to not have special code for the different GPU types.

[2019-04-23 13:48] jngrad commented on #2747
The environment variables solved the compilation error. The import still crashes with the workaround, this time when `cudaGetDeviceCount()` is called. The trace is similar to the one of `cudaStreamCreate()`:
[code]

[2019-04-24 04:41] espresso-ci opened #2750 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6850

[2019-04-24 09:03] #2750 closed, assigned to nobody

[2019-04-24 13:34] #2707 closed, assigned to jonaslandsgesell

[2019-04-25 04:47] espresso-ci opened #2752 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6871

[2019-04-25 09:00] #2752 closed, assigned to nobody

[2019-04-25 11:04] #2690 closed, assigned to jngrad

[2019-04-25 11:04] #2160 closed, assigned to nobody

[2019-04-25 12:06] espresso-ci opened #2754 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6874

[2019-04-25 12:47] #2686 closed, assigned to itischler

[2019-04-25 12:53] thepith opened #2755 "Reaction Ensemble is not reporoducing Results with explicit seed"
I am trying to have reproducible results using the reaction ensemble and starting from a checkpoint.

This is my test example:
[code]

On the first run this script creates a system, runs 10 reaction steps and then save a checkpoint. Then it runs a trial with 10 reaction steps.

On the second run, it loads the checkpoint and runs the trial 10 reaction steps.

As I understand subsequent runs of this

[2019-04-25 13:20] #2754 closed, assigned to nobody

[2019-04-25 14:10] jonaslandsgesell commented on #2755
The PRNG which is member of the ReactionAlgorithm class is not checkpointable. Just resetting the seed won't regenerate the state of the PRNG which it had after drawing a certain amount of random numbers.
Therefore it is not expected from the current implementation that there is the possibility to checkpoint the Algorithm.
Without the checkpoint file the hash is deterministic and always (on my arc

[2019-04-25 14:16] RudolfWeeber commented on #2755
@jonaslandsgesell, can you please add that to the reaction ensembles serialization?

[2019-04-25 14:44] jonaslandsgesell commented on #2755
@RudolfWeeber which reaction ensembles serialization? There was no serialization explicitly implemented.

[2019-04-25 19:28] fweik commented on #2755
I think he means that you should add the PRNG state to the checkpoint. It is probably sufficient to just expose it to python as a property

[2019-04-25 22:42] espresso-ci opened #2761 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6898

[2019-04-25 22:49] #868 closed

[2019-04-26 02:52] espresso-ci opened #2762 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6906

[2019-04-26 06:43] #2762 closed, assigned to nobody

[2019-04-26 07:27] thepith commented on #2755
If I can checkpoint the PRNG, then this would solve my issue.

It should also be noted in the documentation that all ReactionAlgorithms share the same sequence of random numbers.

[2019-04-26 07:34] jonaslandsgesell commented on #2755
This is only true if you use the same seed in each of the instantiations, e.g. for the Widom-Insertion *and* the cpH object. If one uses different seeds, then the random number sequences are not equal.

[2019-04-26 07:39] thepith commented on #2755
I use two different seeds for two different cpH instances, and see that they influence each other. This behaviour is at least unexpected, and therefore should be mentionend in the documentation.

[2019-04-26 07:50] #2761 closed, assigned to nobody

[2019-04-26 07:56] jonaslandsgesell commented on #2755
I will check the generated sequences later. I expect them to be uninfluenced by the presence of further instances of type ReactionAlgorithm or specifications of it. How did you check that the two instances influence each other? Of course both influence the underlying physical system.

PS: Why do you use two cpH instances at all. You should be able to have multiple reactions defined in one cpH inst

[2019-04-26 09:23] thepith commented on #2755
I see that they influence each other, because depending whether the first one is created (and used) or not (which depends on whether the checkpoint exists), I get different results for the second cpH instance.

I tried to have multiple cpH instances as a hack to be able to checkpoint the cpH method.

[2019-04-26 09:55] fweik commented on #2755
From a quick inspection of the code it seems to me that every instance has it's own RNG, so they should have different sequences if they have different seeds.

[2019-04-26 10:00] #2702 closed, assigned to jainka

[2019-04-26 13:04] thepith commented on #2755
Perhaps a simpler example:
[code]

Run the code once as is (run I), and then uncomment the line marked with "uncomment this line" and run the script again (run II).

The hash 1.a and 1.b are equal, and do not differ between run I and run II. This means that when we get the hash 1.a and 1.b the particles are in the same state, and the reaction in the uncommented line did not affect the state of the

[2019-04-26 13:29] fweik commented on #2755
@thepith could you compare if that also happen  #2711? This could be some other form of cross talk.

[2019-04-26 13:45] jonaslandsgesell commented on #2755
Some minor style related comment:
Please do not use two cpH objects because this is not needed! By doing so you get the perfect opportunity to shoot yourself into the knee (e.g. via setting two pH which are not equal). Rather add the other reaction to via
[code]

[2019-04-26 14:00] fweik commented on #2755
Still if it is possible it should work.

[2019-04-26 14:38] thepith commented on #2755
I don't quite understand. I am using the following espressomd version:
[code]
which already contains the merge request #2711

[2019-04-26 14:53] fweik commented on #2755
Oh sorry i meant *before* #2711, I can see how the missing word would be crucial...

[2019-04-26 15:08] fweik opened #2764 "check_sphinx runs the build again"
See https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/104578,
from my understanding of the config it should get the the build folder from
the `cuda-maxset` job by artifact, but apparently this is not working.

[2019-04-26 15:09] fweik commented on #2764
I think it is not using the same parameters, but I'm not sure.

[2019-04-26 16:02] KaiSzuttor commented on #2764
its the timestamp... the checked out files are newer than the artifact.

[2019-04-26 16:03] fweik commented on #2764
Ah that makes sense. Can you think of a fix (besides touching the files)?

[2019-04-27 02:15] espresso-ci opened #2766 "Relocation Error on s390x"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6958

[2019-04-27 05:38] KaiSzuttor commented on #2766
[code]

[2019-04-27 07:40] fweik commented on #2766
I've seen this before in this job, but it does not happen all the time. Best guess is that this is some sort of inconsistency in the packages.

[2019-04-28 02:07] espresso-ci opened #2770 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6977

[2019-04-29 02:02] espresso-ci opened #2771 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/6979

[2019-04-29 05:58] #2771 closed, assigned to nobody

[2019-04-29 10:00] #2770 closed, assigned to nobody

[2019-04-29 10:18] thepith commented on #2755
If I adapt the code to the following
[code]
and use espresso from 7d34a2969 i still get different results depending on whether I comment out the line. Therefore, I am unable to restore the random number generator used for the reaction ensemble.

[2019-04-29 10:27] thepith commented on #2755
For me it would be okay, if one can not create two cpH instances, if 1. It is written in the documentation 2. There is an error raised if I try to do so.

But my main concern is that I want to be able to checkpoint a system using the reaction ensemble. Currently, I can not recreate the state of the RNG so that I can have a simulation starting from a checkpoint produce the identical results as the

[2019-04-29 10:43] #2764 closed, assigned to nobody

[2019-04-29 11:42] fweik commented on #2766
The error suggests some linking issue at the package level, I don't think there is something we can do to fix it. It is curious though that it does not happen all the time.

[2019-04-29 12:45] mkuron commented on #2766
The error actually happens after the test is complete, while OpenMPI terminates. It is not specific to any one test case but seems to happen on any of them (e.g. https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/105337, https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/99793). Happening in the I/O Forwarding module on the rank 0 process: https://github.com/open-mpi/ompi/b

[2019-04-29 13:01] mkuron commented on #2766
[code]
Something is odd there. Single vs. double `@` and libpthread.so linking directly to private symbols.

If I directly use `errno` in my code, I get these symbols and the program executes fine:
[code]

[2019-04-29 14:21] mkuron commented on #2766
According to https://stackoverflow.com/questions/46744260/what-does-numbers-in-parenthesis-means-in-readelf-outputs, `__errno_location@GLIBC_2.2 (2)` means that at least "version 2" (whatever that means) is requested. However, libc contains `__errno_location@@GLIBC_2.2` without a version. I'll have to see whether we can preload a library to fix that.

[2019-04-29 15:47] mkuron commented on #2747
You could `try`/`except` the `ihipException`.

[2019-04-29 16:32] jonaslandsgesell commented on #2755
One problem here is, that there is a call to get_random_p_id, which calls the RNG which lives in random.hpp. Therefore you need to also save the state of this RNG before and after calling the reaction() the first times:
`old_system_random_number_generator_state=system.random_number_generator_state
retval=first_reaction.reaction(10) # < uncomment this line
system.random_number_generator_state=old_s

[2019-04-29 22:11] espresso-ci opened #2776 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7001

[2019-04-29 22:21] RudolfWeeber commented on #2776
@jngrad, looks like the call to nvidia-smi needs to be made conditional on it existing

[2019-04-29 22:36] fweik commented on #2776
If so, why did this work in staging/PR?

[2019-04-30 01:56] espresso-ci opened #2777 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7002

[2019-04-30 09:22] jngrad commented on #2776
Found it: in the staging area, the runner probably had a GPU. Will fix it.

[2019-04-30 09:35] fweik commented on #2777
@mkuron this is now from a gitlab update?

[2019-04-30 10:28] mkuron commented on #2766
I can reproduce this error on my computer in the s390x container (`ctest --repeat-until-fail 1000 -V -R lb_electrohydrodynamics`), but it seems to only occur once in around 300 tests. I would have expected that setting `LD_BIND_NOW=true` would trigger it reliably by resolving the relocation at start up, but that is not the case.

What I'm seeing more often now though is timeouts: the test complete

[2019-04-30 13:02] #2776 closed, assigned to jngrad

[2019-04-30 13:10] pkreissl opened #2780 "Sphinx autodoc should include __init__ constructor for bonded interactions"
Bonded interactions are set up using an `__init__` constructor. It is therefore absolutely fine that in-code documentation documents the parameters there, see as an example from `src/python/espressomd/interactions.pyx`:
[code]
By default `:special-members:` like `__init__` are ignored by autodoc and in general, I think, we want to keep it that way.
However, as is now, the online documentation of t

[2019-04-30 13:55] espresso-ci opened #2782 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7017

[2019-04-30 14:25] #2782 closed, assigned to nobody

[2019-04-30 16:09] fweik opened #2784 "has_features allows checking for non-existing features"

[2019-05-02 07:30] fweik opened #2787 "Build with LB_GPU but w/o LB_BOUNDARIES_GPU is broken"
This combination is not tested...

[2019-05-02 10:47] #2687 closed, assigned to pkreissl

[2019-05-02 12:08] #2784 closed, assigned to nobody

[2019-05-02 14:56] #2766 closed, assigned to mkuron

[2019-05-02 15:50] jngrad commented on #2780
Private class members (one leading underscore in the name) and special members (two leading underscores) aren't meant to be used directly by the user, so it is not immediately obvious why they should appear in the documentation. With the way Sphinx represents classes,
[code]
it feels natural to put the constructor parameters directly in the class docstring, rather than in the constructor docstring

[2019-05-03 01:50] espresso-ci opened #2792 "Sample lbf.py requires EXTERNAL_FORCES"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7069

[2019-05-03 06:32] KaiSzuttor commented on #2780
We once decided to follow the [numpy style](https://numpydoc.readthedocs.io/en/latest/format.html) for documenting python. The style guide for numpy says that the constructor should be documented in the class docstring. We should be following one guideline and be consistent. Therefore, I think it would be cleaner to move the existing documentations of ```__init__``` functions to the respective cla

[2019-05-03 06:50] KaiSzuttor commented on #2780
Also this is not much work, affected classes are:

- [ ] ```Diamond```, diamond.pyx
- [ ] ```Stream```,  MDA_ESP/__init__.py
- [ ] ```NonBondedInteractionHandle``` in interactions.pyx
- [ ] ```BondedInteraction``` in interactions.pyx
- [ ] ```FeneBond``` in interactions.pyx
- [ ] ```HarmonicBond``` in interactions.pyx
- [ ] ```BondedCoulomb``` in interactions.pyx
- [ ] ```BondedCoulombSRBond``` in

[2019-05-03 08:22] KaiSzuttor commented on #2792
this is an actual issue: https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/108194
@jngrad could you please have a look?

[2019-05-03 09:07] #2777 closed, assigned to nobody

[2019-05-03 09:09] mkuron commented on #2792
If it's an actual problem, please change the title of the issue.

[2019-05-03 11:43] jngrad commented on #2792
The sample tests have been merged 17 days ago. Why did it take so long for this error to appear?

[2019-05-03 11:58] mkuron commented on #2792
It was caused by #2783

[2019-05-03 12:07] jngrad commented on #2792
I already looked into that PR but couldn't find the issue. Do you have specific line(s) in mind? EXTERNAL_FORCES does not depend on LB and the ifdef guards around the `fix` property and `set_particle_fix()` function did not change.

[2019-05-03 12:30] fweik commented on #2792
The error did not show up before because it never run in configs without `EXTERNAL_FORCES`, because those also did not have `LB`, if that makes any sense.

[2019-05-03 12:35] jngrad commented on #2792
Oh right, without `LB` the list was empty, so no `FeaturesError` could be raised to skip the test.

[2019-05-03 12:44] #2792 closed, assigned to nobody

[2019-05-03 13:33] espresso-ci opened #2794 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7080

[2019-05-03 16:14] #2787 closed, assigned to KaiSzuttor

[2019-05-04 19:29] jngrad opened #2796 "Legacy observables code"
What is the status of folder `/src/core/observables/not_yet_implemented/`? Most files were deleted during #1384. The remaining two files are not included anywhere and refer to a non-existing `ObservableStructureFactor` class.

[2019-05-04 20:03] fweik commented on #2796
This folder can be removed. This is probably a merge artifact which wasn't noticed...

[2019-05-04 20:08] fweik commented on #2601
Style for python doc strings: https://numpydoc.readthedocs.io/en/latest/format.html

[2019-05-04 21:10] #2780 closed, assigned to jngrad

[2019-05-04 22:24] #2796 closed, assigned to jngrad

[2019-05-05 03:59] espresso-ci opened #2798 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7103

[2019-05-05 08:30] #2798 closed, assigned to nobody

[2019-05-06 11:27] espresso-ci opened #2801 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7121

[2019-05-06 16:34] #2173 closed, assigned to nobody

[2019-05-07 04:06] espresso-ci opened #2805 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7137

[2019-05-07 05:23] RudolfWeeber commented on #2805
CUDA is defined in some myconfigs, eventhough it is an external feature automatically set, when the  dependency is present

[2019-05-07 06:06] RudolfWeeber opened #2807 "Un-needed compile time featues"
These don't exist in the core:
OVERLAPPED, EWALD_GPU, ICC_DEBUG

This doesnot have Python support
metadynamics

Features without performance impact:
IMMERSED_BOUNDARIES
OIF_GLOBAL_FORCES (probably)

Are we keeping the noise shapes for the LB?

Has anyone ever used those debug flags (appart from ADDITIONAL_CHECKS)?

[2019-05-07 12:41] jngrad commented on #2805
should now be fixed by #2806

[2019-05-07 12:41] #2805 closed, assigned to nobody

[2019-05-07 13:37] RudolfWeeber opened #2808 "UG: The checkpointing docs seem to be outdated"

[2019-05-07 13:38] RudolfWeeber opened #2809 "CI: Create Python3 docker containers for all tested distros"

[2019-05-07 13:40] RudolfWeeber opened #2810 "Ug: Update installation instructions for Python3"
Ubuntu: @RudolfWeeber
Mac: @mkuron

[2019-05-07 16:32] jngrad commented on #2808
Sections 14.1 and 14.2 ([4.0.2 version](http://espressomd.org/html/doc4.0.2/io.html) for a stable reference) should be merged into a single section that clearly defines what can be checkpointed.

[2019-05-07 19:08] jngrad commented on #2747
The exception isn't defined in a public header file but in a [source file](https://github.com/ROCm-Developer-Tools/HIP/blob/26d46770919ec4d59438ba97bc45a1398a4f0346/src/hip_hcc_internal.h#L335-L340), so it is not accessible via `#include`. We could make a hard copy if there is no licensing issue. This inelegant and questionable patch works:
[code]
Importing espressomd just prints `Caught the HIP e

[2019-05-07 19:17] fweik commented on #2747
Why can't you just forward-declare it?

[2019-05-07 20:10] #2661 closed, assigned to nobody

[2019-05-08 03:44] espresso-ci opened #2812 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7158

[2019-05-08 07:39] fweik commented on #2812
Features again, but why didn't this happen in the PR?

[2019-05-08 08:03] KaiSzuttor commented on #2812
I think because samples and tutorials are only tested with maxset for a PR

[2019-05-08 08:07] fweik commented on #2812
Ah ok, and this happens now because the LB stuffs runs with empty... There are just guards missing for LJ and LB boundaries, I think.

[2019-05-08 09:35] jngrad commented on #2747
Because you cannot catch a reference to an incomplete type. If there is no risk of side-effect we could declare `class ihipException : public std::exception {};` (that works). We would just need to remember removing that try/catch when HIP 2.5 is released (it's been patched yesterday).

[2019-05-08 10:05] mkuron commented on #2747
Just guard the forward-declaration with `#if HIP_VERSION_PATCH <= 19171`. That's the current version and any newer version should hopefully have the patch.

[2019-05-08 11:40] fweik commented on #2747
Ah, because the compiler needs to check inheritance... This would all be considerably more elegant if the "hip wrapper" wasn't a pile of macros. Also the official HIP documentation does not state any preconditions for the function...

[2019-05-08 11:44] fweik opened #2815 "Doxygen check should be run in first stage"
It's cheap and does not need a build, so it should run early.

[2019-05-08 11:55] jngrad commented on #2747
@fweik is using the empty definition three posts above safe? @mkuron are you sure about that number? `git show -s --format=@%ct 29b3b46b42 | xargs | date -f - --utc +%y%U%w` returns 19182. There are 18 merged PRs between 19171 and 19182, and the patch is in the middle of a group of 12 merges with the same patch number 19182. On a side-note, the ihipException throw was inserted in the HIP developme

[2019-05-08 12:12] fweik commented on #2747
@jngrad I think this might be a odr violation, and it is very brittle for sure.

[2019-05-08 12:20] mkuron commented on #2747
I think 19171 is the current release version. The next release is definitely going to be greater than 19190. Since you actually checked the Git history, your number is the more accurate one.

Until about four weeks ago, this exception was not thrown because the device detection routine was aborted earlier and produced a HIP error before it could raise an exception.

[2019-05-08 13:53] #2812 closed, assigned to jngrad

[2019-05-08 14:50] #2801 closed, assigned to nobody

[2019-05-08 15:05] #2794 closed, assigned to nobody

[2019-05-08 15:23] jngrad commented on #2747
ok so the 2.4.0 release was actually hidden in the release page until "Show 4 newer tags" is clicked, which indeed gives 19171. The only safe option I can think of is catching the parent class `std::exception`, even if it means silencing legitimate errors. Method `what()` in ihipException returns `"std::exception"`, so we can't use that to filter the ihipException, and the full trace starts with `

[2019-05-08 15:42] jngrad commented on #2747
The only safe option I can think of is to catch `std::exception`, even if it means silencing legitimate errors. Method `what()` of `ihipException` returns `"std::exception"`, so that cannot be used to detect an ihipException. The first line of the trace reads `after throwing an instance of 'ihipException'`, but this message is compiler-dependant. For example in gcc, the string `"ihipException"` is

[2019-05-08 15:44] fweik commented on #2747
blub

[2019-05-08 15:52] #2735 closed, assigned to nobody

[2019-05-09 04:16] espresso-ci opened #2820 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7187

[2019-05-09 05:23] mkuron commented on #2820
Looks like an actual problem. Broken bonds while running the cellsystem sample.

[2019-05-09 08:20] fweik commented on #2747
I don't think we should overdo it on this one: You could just do a catch on `std::exception` for the broken versions of HIP. I think it would also totally acceptable to not support broken versions of HIP.

[2019-05-09 10:29] RudolfWeeber opened #2823 "Script-interface managed list-like properties are not checkpointed"
eg. LB Boundaires
The LB Instance is restored via the checkpoitning module and the populations via the LbFluid's load_checkpoint().

[2019-05-09 11:46] RudolfWeeber commented on #2823
The default serialization method from ScriptObjectBase saves the values of the parameters.
ScriptObjectRegistry manages its own container which is not a parameter in the ScriptInterface sense.
So, probably, it needs its own implementation of get_state() and set_state()

[2019-05-09 11:54] fweik commented on #2823
Then this is also true for e.g. constraints?

[2019-05-09 12:02] RudolfWeeber commented on #2823
and auto_update_accumulators and ek boundaries

[2019-05-09 12:11] #2747 closed, assigned to nobody

[2019-05-09 16:11] jngrad commented on #2820
I've seen that one before, so it's a recurring problem. I've run it 2000 times again today on my desktop machine without a single failure, however in both `cuda:9.0` and `cuda:tutorial` I was able to reproduce the failure after ~1000 runs. To reproduce that error on desktop, add `system.integrator.run(1000000)` at the end of the sample, it should take a few seconds (or more) of runtime before a FE

[2019-05-09 16:28] fweik commented on #2820
Did you record the seed of the run that crashed?

[2019-05-09 16:28] fweik commented on #2820
Did you record the seed of the run that crashed?

[2019-05-09 16:33] jngrad commented on #2820
No, but I observed the same trend in multiple independent runs.

[2019-05-09 16:46] jngrad commented on #2820
Actually, the time at which the FENE bond breaks is not reproducible, even when setting the numpy+system+thermostat+polymer seeds. Could it be due to skin tuning or my use of the visualizer?

[2019-05-09 16:48] fweik commented on #2820
The visualizer should not influence the system. Could you please try
without the tuning, and if it crashes please post the seeds or a
deterministic script.

On Thu, May 9, 2019, 18:46 Jean-Noël Grad <notifications@github.com> wrote:

[2019-05-09 17:13] vanadiuz opened #2824 "Homogeneous magnetic field"
Dear developers,

how to turn on a uniform magnetic field? Unfortunately, there is not clear description in the documentation.

I have an idea, but absolutely not sure, if it's true:

[code]

Best regards
Vania

[2019-05-09 17:54] jngrad commented on #2820
Update: skin tuning is not deterministic, and without skin tuning the FENE bonds don't break. MWE:
[code]
It'll take a few minutes to crash due to the numpy operations, but you can make it happen much faster by setting the box size to 40 and max_skin to 20.

[2019-05-09 18:18] fweik commented on #2820
The skin should not affect the result, but the tuning integrates for an nondeterministic time.

[2019-05-10 03:43] espresso-ci opened #2825 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7217

[2019-05-10 06:14] mkuron commented on #2825
Caused by #2819. numerical precision on ppc64le is insufficient for the test case.
`error: in "make_lin_space_test": difference{1.56737e-16} between values.at(i){1.4166666666666665} and start + i * dx{1.4166666666666667} exceeds 1e-14%`

[2019-05-10 08:55] jngrad commented on #2820
I ran 10 simulations of 30 min with a random numpy seed and a random skin (no tuning) between 0.25 and 0.48 box_l without any bond breaking. As soon as skin tuning is used the bonds will break, _unless_ tuning is followed by a reset of the particle positions:
[code]

[2019-05-10 09:48] fweik commented on #2820
I said it *should* not have an influence :-)

[2019-05-10 10:02] jngrad commented on #2820
that's why I tested it :-)
I was really surprised that resetting the particle positions would solve it. The tuning.cpp code does not seem to have side effects other than broadcasting FIELD_SKIN, I'll have a look into the domain decomposition code to see where it goes.

[2019-05-10 10:24] fweik commented on #2820
The test uses n_square iirc

[2019-05-10 12:08] jngrad commented on #2530
Would we have to update .codecov.yml? E.g. in the current state, changing **codecov/project/tests** to
[code]
and **codecov/project/core** to
[code]
(I'm no expert in the codecov YAML syntax, and their [docs](https://docs.codecov.io/docs/codecov-yaml) aren't very helpful, so take these code blocks with a grain of salt.)

[2019-05-10 12:55] RudolfWeeber commented on #2824
Your code looks correct. In case an np.array is not accepted as parameter, please use a python list [].

[2019-05-10 13:43] vanadiuz commented on #2824
Thanks, Rudolf!

[2019-05-10 13:43] #2824 closed, assigned to nobody

[2019-05-10 15:05] jngrad opened #2827 "Magnetostatics prefactor reset"
Accessing the prefactor attributes of a magnetostatics actor before it's added to the list of actors resets its value to 0. MWE:
[code]
Output:
[code]
If the first print statement is removed, the expected behavior is observed:
[code]
Observed in 4.0.2 and devel for `DipolarDirectSumWithReplicaCpu`, `DipolarDirectSumCpu`, `DipolarDirectSumGpu` (didn't try the other classes). Reported by Ricky on th

[2019-05-10 15:22] jngrad opened #2828 "Exceptions in dipolar direct sum methods on cpu"
Classes for dipolar direct sum methods on cpu aren't very verbose in their exceptions. For example in class `DipolarDirectSumCpu`:
https://github.com/espressomd/espresso/blob/75c39277a88dba622cde083efa11fc35c934ec3d/src/python/espressomd/magnetostatics.pyx#L270-L274
The exception doesn't say why class instantiation failed, even though `dawaanr_set_params()` could either print to stderr or return d

[2019-05-10 17:43] jngrad opened #2829 "MacOS failures"
MacOS jobs are failing:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7224
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7225
[code]

[2019-05-10 17:45] KaiSzuttor commented on #2829
we recently had issues with our webserver certificate. those should be resolved by now

[2019-05-10 17:49] jngrad commented on #2829
still failing

[2019-05-10 20:33] mkuron commented on #2829
Fixed now. This was caused by the certificate issue, but is just another variant of the problem where virtual machines don't have the correct time until a few seconds/minutes after they are started. I have now resolved the latter by disabling snapshots so that a fresh VM (with correct time) is booted for every build. This adds about a minute to the build time, but should also fix the occasional ti

[2019-05-10 21:16] jngrad commented on #2829
Perfect! Just ignore pipeline 7224, on the staging branch a pipeline can only fail once.

[2019-05-10 21:16] #2829 closed, assigned to nobody

[2019-05-10 22:06] #2825 closed, assigned to jngrad

[2019-05-13 13:42] jngrad commented on #2815
The doxygen job produces a 150 MB artifact, would it be preferable to move only the style checking part to the first stage, and keep the html generation to the third stage?

[2019-05-13 15:51] jngrad opened #2832 "HTTP status codes"
At the moment scripts posting to GitHub PRs ([maintainer/gh_post_style_patch.py](https://github.com/espressomd/espresso/blob/python/maintainer/gh_post_style_patch.py), [maintainer/gh_post_docs_warnings.py](https://github.com/espressomd/espresso/blob/python/maintainer/gh_post_docs_warnings.py)) do not check for HTTP status codes. When the status code isn't 200, `comments.json()` returns a dict of t

[2019-05-13 16:37] jngrad opened #2833 "SCAFACOS_DIPOLES broken"
`SCAFACOS_DIPOLES` isn't tested anymore (it was in 4.0.2 according to [codecov](https://codecov.io/gh/espressomd/espresso/src/release-4.0.2/src/core/scafacos/Scafacos.cpp)) and doesn't compile:
[code]

[2019-05-13 16:45] fweik commented on #2833
`auto const`...

[2019-05-13 17:25] #2815 closed, assigned to jngrad

[2019-05-13 20:01] jngrad commented on #2809
Duplicate of #2694

[2019-05-13 20:01] #2809 closed, assigned to nobody

[2019-05-15 04:18] espresso-ci opened #2836 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7312

[2019-05-15 08:00] KaiSzuttor opened #2837 "Utils function not compatible with required boost version"
```Utils::make_lin_space``` does not build with boost version 1.53 which is currently the version we require. By inspection of the boost repo, I suppose we need at least 1.57 (from this version on at least the namespaces exist).

[2019-05-15 08:22] KaiSzuttor commented on #2837
see #2839

[2019-05-15 08:28] fweik commented on #2837
For orientation: boost 1.53 was released on February 4th, 2013.

[2019-05-15 08:34] mkuron commented on #2837
Sure, but we really don't want to have people recompile Boost just because their HPC system's version is too old. As far as I can tell, only `boost::iterators::make_counting_iterator` and `boost::iterators::make_transform_iterator` are affected. Looking at https://github.com/boostorg/iterator/blob/boost-1.53.0/include/boost/iterator/counting_iterator.hpp, all you need to do is replace `boost::iter

[2019-05-15 08:35] KaiSzuttor commented on #2837
I've already tried that and it did not work out

[2019-05-15 08:36] fweik commented on #2837
All we need to do is add more unmaintainable workarounds...

[2019-05-15 08:39] mkuron commented on #2837
How is this an unmaintainable workaround? To this date, it's still part of the official Boost API.

[2019-05-15 08:47] fweik commented on #2837
Ah sorry, I did't see that this also working in newer boost versions...

[2019-05-15 09:06] mkuron commented on #2836
This is real. Several failed tests on ppc64le due to significant mathematical deviations.

[2019-05-15 11:34] KaiSzuttor commented on #2837
I don't really see the point in

that's not a big issue and on a HPC system you normally have support, so you don't even have to do it yourself

[2019-05-15 17:27] jngrad commented on #2836
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7329
This is the exact same issue but in the 4.0 branch.

[2019-05-16 04:42] espresso-ci opened #2843 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7330

[2019-05-17 05:36] espresso-ci opened #2844 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7334

[2019-05-17 19:02] #2836 closed, assigned to nobody

[2019-05-17 19:02] #2843 closed, assigned to nobody

[2019-05-17 19:02] #2844 closed, assigned to nobody

[2019-05-18 04:22] espresso-ci opened #2845 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7347

[2019-05-19 05:52] espresso-ci opened #2846 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7349

[2019-05-19 06:12] mkuron commented on #2846
@kaiszuttor, this one is real. Some SSH key permission issue while deploying the documentation.

[2019-05-19 06:18] mkuron commented on #2845
All builds were successfully retried, but this issue was not automatically closed. @KaiSzuttor

[2019-05-20 04:30] espresso-ci opened #2847 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7361

[2019-05-20 10:44] mkuron commented on #2847
Duplicate of #2845. Automatic closing of builds that succeed after retry seems to be currently broken, @KaiSzuttor.

[2019-05-20 10:45] mkuron commented on #2845
[code]

[2019-05-20 11:24] KaiSzuttor commented on #2846
why is the mac VM used for deploying the documentation now?

[2019-05-20 11:32] KaiSzuttor commented on #2846
you seem to have overridden the tags for the deploy job @mkuron. Could you please check the tags of all jobs again.

[2019-05-20 13:10] fweik commented on #2837
@KaiSzuttor did you check what the minimal version is that is required?

[2019-05-20 13:12] KaiSzuttor commented on #2837
I'm currently checking...

[2019-05-20 13:16] fweik commented on #2837
If you find out, it has to be changed in cmake, and we have to make sure that we have a container with this version.

[2019-05-20 13:28] #2845 closed, assigned to nobody

[2019-05-20 13:28] #2847 closed, assigned to nobody

[2019-05-20 13:38] KaiSzuttor commented on #2837
1.55 would work

[2019-05-20 14:10] jngrad commented on #2709
Currently only I and Docker containers ([maxset-python3](https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/98289), [osx-python3](https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/98303), [python3](https://travis-ci.org/espressomd/espresso/jobs/520028202)) can reproduce the issue with bytestrings. By default C strings captured by Cython are stored as bytestrings and need t

[2019-05-20 14:44] jngrad commented on #2828
Also in [`doc/sphinx/magnetostatics.rst`](https://github.com/espressomd/espresso/blob/75c39277a88dba622cde083efa11fc35c934ec3d/doc/sphinx/magnetostatics.rst) there is a citation to `cerda08a`, which probably should be `cerda08d` instead. In the bibtex file [`doc/sphinx/zrefs.bib`](https://github.com/espressomd/espresso/blob/75c39277a88dba622cde083efa11fc35c934ec3d/doc/sphinx/zrefs.bib), the entry

[2019-05-20 15:07] #2846 closed, assigned to nobody

[2019-05-22 02:28] nagarajankarthik opened #2850 "Make Error"
Hi,

I am having difficulty using make to compile the Espresso code even though cmake seems to work fine. The first few lines of the error message are as follows:

[  0%] Built target myconfig
[  0%] Built target check_myconfig
[  0%] Generating config-features.hpp, config-features.cpp
Reading definitions from /home/projects/11000933/karthik/espresso/src/features.def...
Done.
Writing /home/project

[2019-05-22 04:43] espresso-ci opened #2851 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7398

[2019-05-22 05:26] mkuron commented on #2850
Your C++ compiler is probably too old to support Espresso‘s use of C++14. please use a newer version.

[2019-05-22 07:32] nagarajankarthik commented on #2850
Thanks for the help. The problem seems to have been resolved after using a newer version of the compiler.
However, I now encounter another problem mid-way through compilation:

[ 56%] Linking CXX shared library libEspressoCore.so
/usr/bin/ld: /app/fftw/3.3.4/xe_2016/parallel/lib/libfftw3.a(mapflags.o): relocation R_X86_64_32 against `.rodata' can not be used when making a shared object; recompile

[2019-05-22 07:42] mkuron commented on #2850
The error refers to the FFTW library. It seems like you are using one that is only available as a static library compiled without `-fPIC`. Please check whether there is another FFTW library available on your system, ask your system administrator to install one, or compile it yourself.

[2019-05-22 09:02] mkuron commented on #2851
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/116520

 Sounds like the compiler is generating instructions not supported by the processor?

[2019-05-22 09:29] #2851 closed, assigned to nobody

[2019-05-22 12:57] nagarajankarthik commented on #2850
When I attempted to install FFTW, I obtained the following error messages:

/usr/bin/install: cannot create regular file `/usr/local/include/fftw3.h': Permission denied
/usr/bin/install: cannot create regular file `/usr/local/include/fftw3.f': Permission denied
/usr/bin/install: cannot create regular file `/usr/local/include/fftw3l.f03': Permission denied
/usr/bin/install: cannot create regular fi

[2019-05-22 13:09] mkuron commented on #2850
In the original error message, it definitely refers to a static library. Probably there are multiple versions installed. You might want to ask your system administrator for help.

[2019-05-23 05:44] espresso-ci opened #2852 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7412

[2019-05-24 02:17] espresso-ci opened #2855 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7416

[2019-05-24 05:04] mkuron commented on #2855
This one looks like there is no CMake or no Bash installed in the containers with the exotic architectures.

[2019-05-24 05:35] KaiSzuttor commented on #2855
isn't the build checked in the docker repo?

[2019-05-24 07:21] mkuron commented on #2855
Not for the exotic ones. It just takes too long.

[2019-05-24 07:23] KaiSzuttor commented on #2855
but it takes longer to debug afterwards... so if we want to have those images, we need to test the espresso build for all of them

[2019-05-24 07:25] KaiSzuttor commented on #2832
maybe we should have a look into github api wrappers, *e.g.* [PyGithub](https://github.com/PyGithub/PyGithub)

[2019-05-24 07:28] KaiSzuttor commented on #2855
... the log also says that the failed command was
```Command that failed: cmake_params="-DCMAKE_BUILD_TYPE=$build_type -DPYTHON_EXECUTABLE=$(which python$python_version) -DWARNINGS_ARE_ERRORS=ON -DTEST_NP:INT=$check_procs $cmake_params -DWITH_SCAFACOS=ON"```

which is not connected to whether cmake is installed or not

[2019-05-24 07:35] mkuron commented on #2855
It doesn't show any cmake output, so cmake probably wasn't even executed.

In principle, we don't need to test the Docker image for all architectures because they are built from the same Dockerfile as the amd64 image.

[2019-05-24 07:37] KaiSzuttor commented on #2855
no... the issue is just that there is no python2 and therefore ```which python2``` has a non zero return value

[2019-05-24 07:45] KaiSzuttor commented on #2755
whats the status here?

[2019-05-24 07:50] KaiSzuttor commented on #2855
we all know that

(Bjarne Stroustrup)

is unfortunately true. So, let's just test all containers.

[2019-05-24 07:51] mkuron commented on #2855
In that case, testing in the docker repo wouldn't have found the issue. Can you please open a pull request that changes the Python version variable?

[2019-05-24 07:54] KaiSzuttor commented on #2855
there exists a PR by @jngrad

[2019-05-24 08:00] mkuron commented on #2855
It makes no sense to test these containers for three reasons:

- it takes hours. That's exactly the reason why we habe nightly builds in the espresso repo. There's no point to have nightly builds in the docker repo though as anything they would catch is also caught by the espresso repo's nightly builds.
- it wouldn't have caught this issue. It's due to different values of the `$python_version` var

[2019-05-24 08:06] KaiSzuttor commented on #2855
* you want to catch this in ~~this~~ the docker repo since otherwise you have a red python branch in the espresso repository which should in the best of all worlds only happen due to package updates
* you are right, but this is not the only issue we want to catch
* since there is quite some manual work (in terms of custom bash scripts) to create the containers, the inheritance of the amd64 contain

[2019-05-24 08:18] mkuron commented on #2855
You would catch it in both simultaneously the next time the nightly builds run. You can't test the exotic containers in the regular CI pipeline.

[2019-05-24 08:20] KaiSzuttor commented on #2855
we can definitely test the exotic ones in the docker repo. We don't change the images very often.

[2019-05-24 09:16] mkuron commented on #2855
Waiting for half a day when we do is still annoying.

For that you only need to test the i386 container. That's fast because it doesn't require emulation.

[2019-05-24 18:00] #2837 closed, assigned to nobody

[2019-05-24 18:03] jngrad commented on #2852
Fixed by #2853

[2019-05-24 18:03] #2852 closed, assigned to nobody

[2019-05-24 21:39] #2270 closed, assigned to nobody

[2019-05-24 21:43] jngrad opened #2858 "ROCm jobs have random failures"
Especially  `test_checkpoint_ek.gpu_0` and `save_checkpoint_ek.gpu_0`:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/117494
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/117559
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/117560
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/117562

[2019-05-25 06:36] espresso-ci opened #2859 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7435

[2019-05-25 14:57] espresso-ci opened #2860 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7438

[2019-05-25 15:32] #2860 closed, assigned to nobody

[2019-05-26 04:50] espresso-ci opened #2861 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7440

[2019-05-26 11:09] #2861 closed, assigned to nobody

[2019-05-27 03:32] fweik commented on #2858
Maybe same reason as fixed by #2856?

[2019-05-27 05:20] espresso-ci opened #2862 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7443

[2019-05-27 06:34] #2862 closed, assigned to nobody

[2019-05-27 08:51] jngrad commented on #2858
The last commit of that PR actually failed the ROCm job twice with the same error message.

When restarting some of these failing jobs 2 days ago I noticed two ROCm jobs could run simultaneously. But our AMD runner coyote9 has a single GPU. Starting two GPU tests on the same device could cause theses failures.

[2019-05-27 09:06] mkuron commented on #2858
I have now set `concurrent = 1` in /etc/gitlab-runner/config.toml on coyote9. It used to be 3. We'll see whether that helps.

[2019-05-27 09:10] jngrad commented on #2855
Python compatibility issue solved by #2853.
Plans for testing can be discussed in espressomd/docker#88.

[2019-05-27 09:10] #2855 closed, assigned to nobody

[2019-05-28 06:01] espresso-ci opened #2865 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7465

[2019-05-28 06:27] #2865 closed, assigned to nobody

[2019-05-28 19:25] espresso-ci opened #2867 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7475

[2019-05-28 21:05] #2867 closed, assigned to nobody

[2019-05-29 04:36] espresso-ci opened #2868 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7476

[2019-05-29 05:25] mkuron commented on #2868
Same problem as https://github.com/espressomd/docker/issues/92, but only for the arm64 image.

[2019-05-30 05:02] espresso-ci opened #2869 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7481

[2019-05-30 16:11] RudolfWeeber opened #2870 "LB CPU: Node velocity and interpolated velocity inconsistancy"
The node velocity getter in lb.cpp includes the +ext_force_density/2 term,
wheras the node_v() getter in lb_interpolation.cpp does not.
The test_a_ext_force_density() test in lb.py fails for lb cpu if an interpolated velocity is checked in additoin to the node velocity.

[2019-05-30 16:15] RudolfWeeber opened #2871 "LB: Unclear unit conversion for density"
In lb.pxd in the node density getter, the result from the core funciton is devided by agrid^3.
My understanding so far was that the md and lb density unit were identical.
Either this is not so, or the getters in the core should be called lb_lbnode_get_mass()

[2019-05-31 04:37] espresso-ci opened #2872 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7482

[2019-05-31 05:38] mkuron commented on #2872
Duplicate of #2869

[2019-05-31 07:47] KaiSzuttor commented on #2871
why should they have the same units?

[2019-05-31 07:49] KaiSzuttor commented on #2871
The density in the LB world is expressed with respect to a grid unit volume.

[2019-05-31 08:29] KaiSzuttor commented on #2871
why should they be identical? You have to convert between the different length dimensions.

[2019-05-31 10:50] RudolfWeeber commented on #2871
Right.

[2019-05-31 10:51] #2871 closed, assigned to nobody

[2019-05-31 11:54] RudolfWeeber opened #2874 "lb_gpu_viscous.py seems to test the same as lb.py:test_viscous_coupling"

[2019-05-31 12:46] RudolfWeeber opened #2875 "LB CPU+GPU: ext_force_density ignored in 1st time step"

[2019-05-31 14:41] RudolfWeeber opened #2876 "LB CPU: Momentum calculation and node velocity getter inconsistent"
lb_calc_fluid_momentum() adds 1 node force density to the current velocity, whereas the node velocity getter adds 1/2 node force density.
I assume, the latter is correct

[2019-06-01 05:08] espresso-ci opened #2879 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7494

[2019-06-02 04:58] espresso-ci opened #2880 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7495

[2019-06-04 01:25] espresso-ci opened #2881 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7503

[2019-06-04 08:03] fweik opened #2882 "Benchmarks broken"
At least the LJ benchmark script `maintainer/benchmarks/lj.py` does not work anymore due to an API change (`ValueError: A seed has to be given as keyword argument on first activation of the thermostat`), probably those should be included in the CI.

[2019-06-05 05:42] espresso-ci opened #2883 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7516

[2019-06-06 06:45] #2859 closed, assigned to nobody

[2019-06-06 06:46] #2872 closed, assigned to nobody

[2019-06-06 06:46] #2879 closed, assigned to nobody

[2019-06-06 06:48] #2868 closed, assigned to nobody

[2019-06-06 06:51] mkuron commented on #2880
@KaiSzuttor, this one should have been automatically closed.

[2019-06-06 07:02] #2880 closed, assigned to nobody

[2019-06-06 07:43] #2869 closed, assigned to nobody

[2019-06-06 08:00] #2883 closed, assigned to nobody

[2019-06-06 10:53] #2881 closed, assigned to nobody

[2019-06-07 05:22] espresso-ci opened #2887 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7554

[2019-06-07 07:24] #2887 closed, assigned to nobody

[2019-06-08 04:49] espresso-ci opened #2889 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7564

[2019-06-08 05:10] KaiSzuttor commented on #2889
@RudolfWeeber

[2019-06-08 11:39] #2874 closed, assigned to jngrad

[2019-06-08 11:39] #2882 closed, assigned to jngrad

[2019-06-09 04:48] espresso-ci opened #2891 "Ferrofluid tutorial part3 sometimes fails test"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7570

[2019-06-09 13:09] jngrad commented on #2858
The issue didn't surface since @mkuron's fix, I'm closing this.

[2019-06-09 13:09] #2858 closed, assigned to nobody

[2019-06-09 13:11] jngrad commented on #2889
Fixed by #2890.

[2019-06-09 13:11] #2889 closed, assigned to nobody

[2019-06-09 13:25] jngrad commented on #2891
The error has to do with slow convergence of the ferrofluid tutorial:
[code]
It happens infrequently:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/121556
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/121310

[2019-06-09 13:29] jngrad commented on #2891
@RudolfWeeber

[2019-06-09 13:31] #2742 closed, assigned to nobody

[2019-06-10 12:10] jonaslandsgesell opened #2892 "MMM1d and MMM1DGPU forces are not calculated in short-range loop"
This is due to a wrong value for the coulomb cutoff (?) which is zero in both cases. Corresponds to #1663 which probably allowed this to happen.

[2019-06-11 06:31] jonaslandsgesell commented on #1663
I am porting the test for the forces and the energy (taken from gpu mmm1d) https://github.com/espressomd/espresso/blob/tcl/testsuite/tcl/mmm1dgpu.tcl
https://github.com/espressomd/espresso/blob/tcl/testsuite/tcl/mmm1d.tcl

please assign me.

[2019-06-11 09:24] jonaslandsgesell commented on #2892
This is another example which shows off wrong results (all forces are zero, the results are written to forces_mmm1d.txt):

[code]

[pos.txt](https://github.com/espressomd/espresso/files/3275673/pos.txt)
[q.txt](https://github.com/espressomd/espresso/files/3275674/q.txt)

[2019-06-11 11:36] RudolfWeeber opened #2894 "After 4.1 code freeze"
* library restucturing
* move tot current (Ubuntu 18.4) pep8

[2019-06-11 12:05] #2820 closed, assigned to nobody

[2019-06-11 12:43] RudolfWeeber opened #2896 "Mark checkpointing as experimental and add more tests"

[2019-06-11 12:48] #2603 closed, assigned to nobody

[2019-06-11 12:49] #2594 closed, assigned to nobody

[2019-06-11 12:53] RudolfWeeber opened #2897 "Move diamond and friends to Python"
Remove hard-to-read core code

[2019-06-11 12:54] #2327 closed, assigned to nobody

[2019-06-11 12:54] RudolfWeeber commented on #2327
Part of 2807

[2019-06-11 13:22] jngrad commented on #1491
Introducing a new class `TestCaseSystem` deriving from `ut.TestCase` that sets up an espresso `System` reduces the flexibility of the integration tests:
* the class-level `system` handle is no longer available in the test class
   - many Python tests need to set up additional attributes like the time step, box_l, periodicity and skin, which cannot be done with `system.X` anymore, nor with `self.sy

[2019-06-12 08:21] fweik opened #2899 "Reduce uses of the local_cells global"
Many methods directly use the `local_cells` global, in most of the cases to iterate over the particles.
This exposes implementation details of the cell system to the methods, which isn't actually needed.
For those methods the `ParticleRange` to be iterated over should be passed as an argument.

[2019-06-12 08:50] fweik opened #2900 "Remove remaining manual memory management"
E.g. replace `Utils::malloc` and `Utils::realloc` by `std::vector` or similar.

[2019-06-12 08:52] fweik commented on #2899
This can at least be partially automate with tooling, e.g. with clion's extract parameter refactoring. It probably should also be split up, this affects about 150 functions.

[2019-06-12 09:42] fweik commented on #2899
Example:

[code]

should be updated to

[code]

[2019-06-12 11:22] KonradBreitsprecher commented on #2723
Will do that

[2019-06-12 11:31] RudolfWeeber commented on #2680
@christophlohrmann,

The Velocity Verlet integrator is in
src/core/integrate.cpp:integrate_vv()
Literature: Allen Tildesley, also, a google search for
langevin velocity verlet
yields a few papers discussing the combination of the two.

LB Coupling:
src/core/grid_based_algorithms/lb_particle_coupling.cpp and lb_interpolation.cpp
Citations are in the code:
Ahlrichs and Duenweg, JCP 111(17):8225 (199

[2019-06-12 11:33] fweik commented on #2680
I think for the LB coupling stuff https://www.sciencedirect.com/science/article/pii/S0010465514002094
is a good starting point.

[2019-06-12 11:54] christophlohrmann commented on #2680
Ok thanks

[2019-06-12 13:50] #2709 closed, assigned to nobody

[2019-06-12 16:14] #2891 closed, assigned to nobody

[2019-06-12 16:47] jngrad commented on #2850
No activity over the last 3 weeks, I'm closing this issue.

[2019-06-12 16:47] #2850 closed, assigned to nobody

[2019-06-12 17:54] jngrad commented on #259
There was some p_inst analysis feature removed in 4.0:
https://github.com/espressomd/espresso/blob/7981af6e58bdcb6e4bbe6ebdd310b9b47b14b123/NEWS#L280-L287
However `git log -S "p_inst"` could not return any analysis tool with that name. Even when tcl functionality was removed in #933, p_inst was nothing more than a variable in a pressure analysis function. The string `analyze p_inst` still appears

[2019-06-12 18:00] jngrad commented on #1163
Fixed by #1723: commit 6a9667b removed the unused `get_name_of_bonded_ia()` core function.

[2019-06-12 18:00] #1163 closed, assigned to nobody

[2019-06-12 18:03] RudolfWeeber commented on #2892
Can mmm1d be tested with sth for which the expected result can be computed in python directly

e.g. 3 particles in a line along the periodic direction as a starting point.

Or five particles at random positions directly calculated in Python.

As an alternative, the Scafacos library has a direct solver which can handle arbitrary periodicity and image counts.

[2019-06-12 18:24] RudolfWeeber commented on #259
The analysis routine it self is probably gone, but the underlying code probably is still around.

See #2544

[2019-06-13 04:50] espresso-ci opened #2904 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7626

[2019-06-13 06:24] jonaslandsgesell commented on #2892
Good idea, there is already a test with 2 particles in a line. By now the old test works mostly.

[2019-06-13 06:50] #2904 closed, assigned to nobody

[2019-06-13 08:30] pkreissl commented on #2807
I'll have a look.

[2019-06-13 08:51] RudolfWeeber commented on #2652
LB itself has checkpointing via system.actors.
Both, the Actors container and the Actor base class have __getstate__ and __setstate__ methods.
The condition for this to work is that the individual actors restore all their state in the core via the _set_state_in_es_core() method based on the self._params struct.

The actual flow field is not checkpointed, but LBFluid has methods for saving and lodi

[2019-06-13 09:43] jonaslandsgesell commented on #2900
I ll remove what is obvious

[2019-06-13 09:57] jonaslandsgesell opened #2905 "Throw Error if system is partial periodic and particle is placed out of box in nonperiodic box direction"
Would have catched the problem I saw today

[2019-06-13 10:56] fweik commented on #2905
In the periodic direction particles are allowed to leave the box. There is nothing wrong with that.

[2019-06-13 11:04] fweik opened #2907 "Replace gpu manual memory management"
by e.g. `thrust::device_vector` were possible.

[2019-06-13 11:39] jonaslandsgesell commented on #2905
Yes, but in the nonperiodic direction Espresso should throw an error.

[2019-06-13 11:41] fweik commented on #2905
I meant non-periodic.

[2019-06-13 12:16] fweik commented on #2905
This is expected behavior.

[2019-06-13 12:16] #2905 closed, assigned to nobody

[2019-06-13 12:16] jonaslandsgesell commented on #2905
How is this sensible?

[2019-06-13 13:29] #2807 closed, assigned to nobody

[2019-06-13 16:02] #1663 closed, assigned to jonaslandsgesell

[2019-06-13 16:06] #2892 closed, assigned to nobody

[2019-06-13 16:09] jonaslandsgesell commented on #2071
mmm1d is tested as of merging of PR #2893

[2019-06-14 11:51] #2827 closed, assigned to jngrad

[2019-06-14 11:51] #2723 closed, assigned to nobody

[2019-06-14 13:15] #2876 closed, assigned to KaiSzuttor

[2019-06-15 04:44] espresso-ci opened #2918 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7713

[2019-06-15 13:04] #2918 closed, assigned to nobody

[2019-06-15 16:06] #2828 closed, assigned to jngrad

[2019-06-16 05:17] espresso-ci opened #2919 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7718

[2019-06-16 09:16] #2919 closed, assigned to nobody

[2019-06-16 19:47] Raketenjoint opened #2920 "Whitelist latest python-sphinx versions"
@KaiSzuttor blacklisted `python-sphinx` version 2.1.0 in the `requirements.txt` with commit #2884 .
Do you want to hold it back permanently?
Which change is incompatible?

[changes according to homepage](https://www.sphinx-doc.org/en/master/changes.html)
Release 2.1.0 (released Jun 02, 2019)
Incompatible changes
- Ignore filenames without file extension given to Builder.build_specific() API direct

[2019-06-16 19:53] KaiSzuttor commented on #2920
reason is a bug see https://github.com/sphinx-doc/sphinx/issues/6440

[2019-06-16 20:04] Raketenjoint commented on #2920
Thank you for the reference. So we have to wait for a fix from the source.

[2019-06-16 20:04] #2920 closed, assigned to nobody

[2019-06-16 21:34] Raketenjoint commented on #2293
I packaged [`espressomd-git`](https://aur.archlinux.org/packages/espressomd-git/).
Dependencies are managed properly this way on Arch Linux.
Users have to activate features manually but I provide a default `/usr/bin/pypresso`.

[2019-06-17 09:52] #2498 closed, assigned to nobody

[2019-06-17 10:52] espresso-ci opened #2921 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7726

[2019-06-17 11:33] Kischy commented on #2071
I would hate to see the Gay-Berne potential removed. Who is allowed to contribute? If I am allowed to contribute, do you have guidelines for contributions?

[2019-06-17 11:43] jonaslandsgesell commented on #2071
You can create a pull request which implements the removal of the Gay-Berne potential. This is then reviewed and if approved it is merged.

Do you have some arguments why you want the interaction to be removed? Is it broken and can't be fixed? Do you plan an alternative implementation?

[2019-06-17 11:45] Kischy commented on #2071
I said, that "I would hate to see it removed". By this I meant, that I do **not** want it to be removed. Sorry for the unclear statement.

[2019-06-17 11:47] jonaslandsgesell commented on #2071
Sorry I misread your comment. It is best if you could contribute a test for the forces like the tests for the lennard-jones interaction. You can create a pull request which is the reviewed and merged.

[2019-06-17 11:48] Kischy commented on #2071
Okay, I'll look into it.

[2019-06-17 11:48] fweik commented on #2071
@jonaslandsgesell I think you misread @Kischy 's message, He does *not* want to have it removed.
On the subject: the plan is not to remove Gay-Berne, but rather improve it's testing and documentation.
Everybody is welcome to contribute to the project, and pull requests are very welcome. To contribute
you would create your own fork of Espresso, make your changes and then open a pull request against

[2019-06-17 11:49] Kischy commented on #2071
Okay, thank you.

[2019-06-17 11:51] fweik opened #2922 "Gay-Berne has low test coverage"
The Gay-Bernen potential is not properly tested and documented.

[2019-06-17 11:52] fweik commented on #2071
I've opened the issue #2922 for Gay-Berne, if you have any questions don't hesitate to post there.

[2019-06-17 11:59] #2921 closed, assigned to nobody

[2019-06-17 12:02] Kischy commented on #2071
Thanks.

[2019-06-18 05:00] espresso-ci opened #2924 "P3M benchmark randomly fails CI"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7734

[2019-06-18 05:53] jonaslandsgesell opened #2925 "Check whether MMM1d does not suffer from errors in the original article"
There is a comment pointing out some errors in the original article of MMM1D. It needs to be verified and documented that the implementation is free from those errors:

Comment on “MMM1D: A method for calculating electrostatic interactions in one-dimensional periodic geometries” [J. Chem. Phys. 123, 144103 (2005)]
https://aip.scitation.org/doi/abs/10.1063/1.2346457

@mkuron can you comment on this

[2019-06-18 08:30] jngrad commented on #2924
This is a recurring error:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/125861
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/126068
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/126071
Re-starting the job usually fixes it. It is caused by this line:
https://github.com/espressomd/espresso/blob/b7812cb4d71d8df8fafc1201374557a7b9eec485/maintainer/be

[2019-06-18 13:03] #1835 closed, assigned to nobody

[2019-06-19 18:08] Kischy commented on #2922
@fweik One quick question: How can I run only a specific python test or testfile from bash? I only found
`make -j$(nproc) check_python`
in the wiki. And nothing on running a specific test or testfile.

[2019-06-19 18:14] RudolfWeeber commented on #2922
From: Christian Haege <notifications@github.com>
Sent: 19 June 2019 20:09
To: espressomd/espresso <espresso@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [espressomd/espresso] Gay-Berne has low test coverage (#2922)

 <https://github.com/fweik> @fweik One quick question: How can I run only a specific python test or testfile from bash? I only found
make -j$(nproc)

[2019-06-19 18:17] Kischy commented on #2922
Thank you.

[2019-06-20 05:12] espresso-ci opened #2931 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7769

[2019-06-20 07:00] jngrad commented on #2931
duplicate of #2924

[2019-06-20 07:20] #2931 closed, assigned to nobody

[2019-06-20 14:20] RudolfWeeber commented on #2924
Either the p3m tuning doesnot respect box_l/2 as maximum real space cutoff
or tune_skin(), which is called after p3m tuning does not.
Maybe some code needs to be inserted to calculate max_skin from the current interaction cutoffs and the local box length.

[2019-06-20 20:57] jonaslandsgesell commented on #2925
According to Christian the implementation is free from those errors and they were only introduced in the print version of the article.

[2019-06-20 20:57] #2925 closed, assigned to nobody

[2019-06-21 12:22] fweik commented on #2924
I'm looking into this, I think there is a bug in the tuning.

[2019-06-21 12:33] jngrad commented on #2924
I can't reproduce the bug locally nor locally in the docker container, but I can reproduce it on coyote8 in the docker container (after 175 tries). I'll try again while printing the random seed and check if it's deterministic.

[2019-06-21 12:35] fweik commented on #2924
Please don't spend any more time on this, I will fix it, I know what the error is.

[2019-06-21 18:28] Kischy commented on #2922
I would like to add some function to the tests for better expressiveness. Where do you put functions like that? They will only be used in my tests.

[2019-06-21 18:38] KaiSzuttor commented on #2922
you can have a look into the testscripts in ```testsuite/python```.  What do you mean by they are only used in your tests?

[2019-06-21 18:40] Kischy commented on #2922
I usally put everything, even one liners, into extra functions, so it is expressive. I guess it is not neccessary here, nervermind.

[2019-06-21 18:54] fweik commented on #2922
We use the [testing framework from the python standard library](https://docs.python.org/3.7/library/unittest.html), with that you typically have a class
for each test module. So if you want to have functions that you only use internally you can just keep them in the test class.

[2019-06-21 19:06] Kischy commented on #2922
Okay, thank you.

[2019-06-21 20:21] RudolfWeeber commented on #2922
Just to be sure:
In case you have not seen that yet,
testsuite/python/interactions-nonbonded.py:test_gb()
is where the existing test case for the energy lives.
Maybe, you can add to that.
What is missing are test for  the forces and torques.
The expression for those need to be derived from the expression for the potential or found in the literature. Unfortunately, there are quite a view variations

[2019-06-22 09:21] Kischy commented on #2922
Yes, I found it thank you. @RudolfWeeber I have no idea how to calculate the torques yet, but I'll figure it out.

[2019-06-23 10:21] Kischy commented on #2922
Which other non-bonded interaction is depended on the angle between the interaction centers?

[2019-06-24 07:48] Kischy commented on #2922
I have looked at the problem yesterday evening and I am positively confused now. Maybe someone with more experience in md can help me.

The problem is the following:
When calculating the energy in gb.hpp in function 'gb_pair_energy' the cutoff of the potential is enforced like this:
[code]

This if fine, but at the end of the function the returned potential includes a energy contribution from the

[2019-06-24 10:32] mkuron commented on #2925
I can confirm that. My GPU implementation from 2013 took into account that comment and it produces the exact same results as the CPU implementation.

[2019-06-24 12:48] RudolfWeeber commented on #2922
On Sun, Jun 23, 2019 at 03:21:24AM -0700, Christian Haege wrote:

The dipolar interaction. E.g., the short range part of the dipolar P3M.

[2019-06-24 12:51] RudolfWeeber commented on #2922
On Mon, Jun 24, 2019 at 12:48:28AM -0700, Christian Haege wrote:

Probably, like the normaal Lennard Jones interaction, GB is shifted, such that the energy is zero at the cutoff distance.
The pure GB expression does not take that into account, so when returning the energy, the appropriate shift has to be added.
The energy shift is exactly the energy at the cutoff distance.

[2019-06-24 13:01] Kischy commented on #2922
Thank you. The documentation should be updated to include this.

[2019-06-24 14:17] jngrad opened #2934 "OpenMPI incompatible with 32bit builds using overlay2 backend"
The `ubuntu:armhf` container cannot use OpenMPI on the bwCloud (see espressomd/docker#108). In the rare event where a scheduled pipeline must be restarted during the day, while many jobs are already running, there is a chance the `ubuntu:armhf` job will be assigned to a bwCloud machine, which will cause a failure:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/128008

[2019-06-24 14:53] mkuron commented on #2934
If you want to test on bwCloud to actually fix the issue, I can create a virtual machine there for you. Just email me your SSH public key.

[2019-06-24 14:56] KaiSzuttor commented on #2934
don't put any resources into something we won't keep anyway...

[2019-06-24 15:08] espresso-ci opened #2936 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7795

[2019-06-24 15:10] mkuron commented on #2934
It might be an actual issue on armhf. I doubt that anyone will ever run Espresso productively on that, but if we want to be available in the Ubuntu repositories some day, it might be worth fixing anyway.

[2019-06-24 16:11] RudolfWeeber commented on #2934
On Mon, Jun 24, 2019 at 08:10:02AM -0700, Michael Kuron wrote:

We can just use our own ppa, if it comes to that. I'd also not invest work in this.

[2019-06-24 19:26] jngrad commented on #2936
see espressomd/docker#109

[2019-06-24 22:20] #2936 closed, assigned to nobody

[2019-06-25 05:15] espresso-ci opened #2938 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7817

[2019-06-25 10:50] #2938 closed, assigned to nobody

[2019-06-25 12:43] fweik opened #2942 "Implemented CI changes discussed in Offline Meeting"
[The changes we agreed on in the offline meeting](https://github.com/espressomd/espresso/wiki/Espresso-meeting-2019-06-25#simplifying-the-ci-infrastructure) should be implemented. See also https://github.com/espressomd/docker/issues/110.

[2019-06-25 15:07] #1942 closed, assigned to nobody

[2019-06-25 17:30] jngrad opened #2943 "Some constraints cannot be indexed"
Espresso segfaults when iterating or indexing `system.constraints` after some specific constraints have been added. The offending constraints are otherwise working as expected, for example the Gravity object in the MNWE at the bottom of this message correctly drives particles in the right direction. But as soon as the user or any function (e.g. the visualizer) indexes or iterates the list of const

[2019-06-25 17:44] fweik commented on #2943
Was this introduced by #2915, or was it broken before?

[2019-06-25 17:51] jngrad commented on #2943
I used ad319c06f88 (before #2915). I just tried again with 3c598176 (after #2915) and it's still segfaulting.

[2019-06-25 18:54] jngrad commented on #2943
@RudolfWeeber The constraint checkpointing mechanism introduced in #2915 doesn't work with the aforementioned constraints. Here is another MNWE:
[code]

[2019-06-26 05:00] RudolfWeeber commented on #2943
Which method is being called. Is the get_parameters method for the external field-derived constraints tested?

[2019-06-26 05:17] espresso-ci opened #2944 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7854

[2019-06-26 07:50] jngrad commented on #2944
duplicate of #2924

[2019-06-26 07:50] #2944 closed, assigned to nobody

[2019-06-26 08:54] jngrad commented on #2943
The method is `call_method()` from the `PScriptInterface` class. More specifically, it fails when processing the `"get_elements"` string via the recursive function `cdef variant_to_python_object(const Variant & value) except +`. If I understand it correctly, it will process the `"get_elements"` string  by calling the core method `ScriptInterface::ScriptObjectRegistry::call_method("get_elements")`

[2019-06-26 11:00] jngrad commented on #2934
@michael I couldn't get the `openmpi-bin` package to run properly in the armhf image on the vm:
[code]
[code]
[code]
[code]
I've recompiled the binary from the same sources [3.1.3](http://download.open-mpi.org/release/open-mpi/v3.1/openmpi-3.1.3.tar.gz) and installed it, but got linking issues:
[code]
[code]
The package [bug tracker](https://launchpad.net/ubuntu/+source/openmpi/+bugs) shows no suc

[2019-06-26 11:29] mkuron commented on #2934
I can actually reproduce this on my desktop machine (lama). It's not the QEMU version (I tried 4.0.0, 3.1.0 and 2.12.0), so it's somehow OpenMPI-related. Since the command line parsing is already broken, I guess it's something in the emulated integer arithmetic. For now, I guess we can just ignore this error since the QEMU builds are not run automatically anymore. By the time of our next release,

[2019-06-27 08:19] mkuron commented on #2934
Even worse: this is not related to bwCloud or QEMU at all. I have reproduced this issue with the i386 image on my desktop machine. So somehow the newer OpenMPI version doesn't like the new AMD CPUs.

[code]

Looking at strace, it seems like OpenMPI just doesn't even attempt to load any of its modules from /usr/lib/i386-linux-gnu/openmpi/lib/openmpi3. If it doesn't do that, then of course it doesn'

[2019-06-27 15:06] bindgens1 opened #2952 "LB pi vs LB stress"
Change documentation!

lb[x, y, z].pi
lb[x, y, z].pi_neq

is now called:

lb[x, y, z].stress
lb[x, y, z].stress_neq

[2019-06-27 15:13] KaiSzuttor commented on #2952
plus the code should be adopted

[2019-06-27 18:08] RudolfWeeber opened #2953 "LB Stress with thermalization broken"
On the GPU, when thermlization is enabled, the stress of consecutive time steps
alternates in sign.
These are the first few enties of the acf. The box dimension was 11^3.
[ 2.90652982e-03 -2.33863491e-03  2.12404584e-03 -1.84423365e-03 1.65836345e-03 -1.44680546e-03  1.30270577e-03 -1.13605354e-03 1.02269729e-03 -8.90200318e-04  8.03000184e-04 -6.97059505e-04 6.31005908e-04 -5.46651711e-04  4.9477

[2019-06-28 04:35] espresso-ci opened #2954 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7897

[2019-06-28 07:38] jngrad commented on #2954
the failed tutorial job is caused by #2924

[2019-06-28 07:45] mkuron commented on #2934
Turns out the AMD CPUs are just correlation, not causation. It is actually the choice of the Docker storage backend that matters. These images work fine when that is configured to be _aufs_ (as is the case when Docker has been upgraded from some older version or when the scratch filesystem doesn't support certain flags), but fail when I switch to _overlay2_.
elk, lama, and bwCloud use _overlay2_,

[2019-06-28 08:10] fweik commented on #2934
I would suggest to first switch to a single configuration, and then fix that one.

[2019-06-28 11:13] mkuron commented on #2934
[code]
`readdir` reports the module directory as empty, even though in `strace` I can see that the corresponding `getdents64` syscall reports 120 entries and returns 5000 bytes. Confirmed independently of OpenMPI with
[code]
which produces a pointer on aufs and `(nil)`/EOVERFLOW on overlay2. This means it's a kernel or glibc bug.

[2019-06-28 11:21] bindgens1 commented on #2953
The function  get_mesoscopic_values_in_LB_units
always refers to n_a.

Probably it should be switched for every second integration step based on the intflag true or false.

[2019-06-28 12:23] mkuron commented on #2934
The above minimal example works if I add
[code]
which suggests that aufs and OpenMPI use 32-bit inodes, while overlayfs uses 64-bit inodes. Looking at the inodes directly, aufs seems to generate synthetic ones starting at 0 (so the issue would only appear if there were more than 4 billion files in the image), while overlayfs takes the lower 32 bits of the real inode and puts the layer number into

[2019-06-28 16:22] #2952 closed, assigned to nobody

[2019-06-30 05:39] espresso-ci opened #2958 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7918

[2019-07-01 04:23] espresso-ci opened #2959 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7920

[2019-07-01 05:51] #2959 closed, assigned to nobody

[2019-07-01 07:58] #2958 closed, assigned to nobody

[2019-07-01 08:17] RudolfWeeber opened #2960 "virtual sites update missing before energy calculation"
Probably needs to go to  on_observable...

[2019-07-01 08:24] RudolfWeeber opened #2961 "s.cell_system.tune_skin() ignores short range cutoff"
The maximum skin considered must be curtailed such that
r_c +skin <0.5 l
where r_c = short range cutoff, l = local box length.
Alternatively, it needs to throw a clear error msg.
To reproduce:

[code]

[2019-07-01 08:25] RudolfWeeber commented on #2924
#2961
I assume that the resulting p3m parameters are outside usual values in the CI environment.
Short term, it might be enough to disable the tune_skin in the test, but generally #2961 has to be fixed.

[2019-07-01 08:26] RudolfWeeber commented on #2924
Actually, the maximum safe skin might be available from s.cell_system.get_state()["max_skin"]

[2019-07-01 20:21] bogdan-tanygin opened #2964 "Some alignment of quaternion formalism with the referenced works"
In regards to all the key quaternion related equations in the rotation.cpp... There are references sonnenschein1985 and Omelyan1998 though the code and Martys1999 in the code header and in the documentation. A comparison of the formulae provides a match between these 3 works. For the source code: if one compares each component index of the quaternion and such indices of the torque, omega and other

[2019-07-01 20:22] bogdan-tanygin commented on #2964
a bit related discussions: #1048, #1854

[2019-07-01 20:44] bogdan-tanygin commented on #2964
this can be related to the notation convention options: either 1st or last component of the quaternion is real. However, probably, this does not change my above comments ;-)

[2019-07-02 10:11] fweik opened #2966 "Dipolar P3M not tested"
DP3M has not tests at all. @RudolfWeeber what do you think how to do this?

[2019-07-02 11:11] RudolfWeeber commented on #2966
It was compared against p2nfft. Regression of #2833.

[2019-07-02 12:42] fweik commented on #2966
Ok, I'll leave this open because P3M is not mentioned in the other ticket (and technically it's an independent issue).

[2019-07-02 12:44] fweik commented on #2966
Also I think a test independent of scafacos would be nice.

[2019-07-03 06:40] #2954 closed, assigned to nobody

[2019-07-03 09:24] RudolfWeeber commented on #2823
The fix was merged

[2019-07-03 09:24] #2823 closed, assigned to RudolfWeeber

[2019-07-03 09:28] #2618 closed, assigned to nobody

[2019-07-03 09:30] RudolfWeeber commented on #2322
I assume, we wil no longer do this, due to the switch to Walberla.

[2019-07-03 09:31] #2322 closed, assigned to KaiSzuttor

[2019-07-03 09:36] mkuron commented on #2322
Wasn't the plan to reuse the particle coupling code with the Walberla integration? That is, have a common particle coupling code for both existing LBs and Walberla?

[2019-07-03 09:36] RudolfWeeber commented on #2145
Done

[2019-07-03 09:36] #2145 closed, assigned to nobody

[2019-07-03 09:48] RudolfWeeber commented on #1491
I suppose, what can be done at present is achievd by @jngrad's recent PR.

[2019-07-03 09:57] RudolfWeeber commented on #2322
On Wed, Jul 03, 2019 at 02:36:10AM -0700, Michael Kuron wrote:

In principle, yes. But there is no point in putting more work in LBGPU which we will replace very soon.

[2019-07-03 09:59] mkuron commented on #2322
That depends on how long it takes until we actually remove the old stuff and how much work it is to pull out the existing code vs. writing a third implementation.

[2019-07-03 11:23] RudolfWeeber commented on #2322
On Wed, Jul 03, 2019 at 09:59:17AM +0000, Michael Kuron wrote:

There is no third implementation. Walberla re-uses the LBCPU coupling.
Thanks to Kai's work, very little new code was needed, there.

[2019-07-03 17:33] #2675 closed, assigned to nobody

[2019-07-03 18:42] espresso-ci opened #2969 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/7959

[2019-07-03 19:15] #2969 closed, assigned to nobody

[2019-07-04 12:36] jngrad commented on #2810
closed by #2916 and #2950

[2019-07-04 12:36] #2810 closed, assigned to nobody

[2019-07-04 13:47] jngrad commented on #1661
The samples have changed substantially since this issue was opened. The runtime errors have been fixed and the samples are now tested in CI. Most samples now have docstrings. There are only two points left:
- removing calls to `system.__getstate__()`, or calling instead a yet-to-be-created method without the two underscores prefix that would call `__getstate__()` internally
- removing outdated sam

[2019-07-04 15:36] #2833 closed, assigned to RudolfWeeber, jngrad

[2019-07-05 10:01] KaiSzuttor opened #2973 "HIP issue list as discussed in the offline meeting"
* https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/134161 (connected to #2878)
  unreadable error message at runtime

[2019-07-05 17:19] jngrad commented on #2959
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/132023
duplicate of #2924

[2019-07-06 18:31] fweik commented on #2966
Sorry I failed to grep correctly, there is a test against stored data.

[2019-07-06 18:31] #2966 closed, assigned to nobody

[2019-07-08 10:25] #1106 closed, assigned to nobody

[2019-07-08 10:25] #1124 closed, assigned to nobody

[2019-07-08 10:25] #1130 closed, assigned to fweik

[2019-07-08 10:47] jngrad commented on #1165
fixed by #2542

[2019-07-08 10:47] #1165 closed, assigned to nobody

[2019-07-08 11:17] jngrad commented on #1500
Update: the core `ScriptInterface::ScriptObjectRegistry` class now provides a `clear()` method. In python, derived classes `Constraints` and `LBBoundaries` both provide a `clear()` method, but not `AutoUpdateAccumulators`. Concerning interactions, they rely on different classes, and this should be treated in a separate issue.

[2019-07-08 13:48] jngrad commented on #1491
Offline discussion with @RudolfWeeber: the PR in question (#2888) already simplified the tests a lot and little can be done to automatize them further, as shown in my failed attempt in the message above.

I'd add that espresso might eventually be fully contained in a single class, allowing multiple instances of `system` in the same script. This would solve some of the issues listed above, but even

[2019-07-08 14:50] bindgens1 opened #2977 "Fast math breaks some tests"
I have two failing tests on our cluster with the current development branch:

1)

```espresso/src/core/unit_tests/grid_test.cpp(79)```
+
```espresso/src/core/unit_tests/grid_test.cpp(82)```

Fails with:
```error: in "get_mi_coord_test": absolute value of std::abs(get_mi_coord(a, b, box_l, true) - (a - b) - box_l){4.4408920985006262e-16} exceeds 2.2204460492503131e-16```
+
```error: in "get_mi_coor

[2019-07-08 15:11] mkuron commented on #2977
The Intel compiler is supported and we last ran CI tests with version 2018 Update 4 about one week ago. I've just triggered a build on the current master to make sure that it still works: https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/135095.

Which version are you using? Did you enable any non-standard optimizations? What CPU are you running on?

[2019-07-08 15:28] bindgens1 commented on #2977
I didn't specify any special compiler flags.

[code]
[code]
[code]

[2019-07-08 15:34] fweik commented on #2977
Intel turns on fast math automatically, which relaxes the floating point rounding rules. This is probably why the unit test fails.

[2019-07-08 15:41] jngrad commented on #1575
Update: 3pt coupling was completely rewritten in #2551, making this bug obsolete.

Re-introducing the engine 3pt coupling test is probably unnecessary since the existing 2pt coupling test covers the same code (`lb_calc_particle_lattice_ia_gpu()` is now a template for both 3pt and 2pt).

[2019-07-08 15:46] bindgens1 commented on #2977
The failures didn't occur two weeks ago.
That's why I was a bit concerned.

Apparently your CI doesn't have a problem with the Intel Compiler.
Feel free to ignore the issue if you don't consider it a general problem.

Thanks!

[2019-07-08 15:52] mkuron commented on #2977
Could you try disabling fast-math by adding `-fp-model=strict` to your `CMAKE_CXX_FLAGS`? I don't think we've ever tested Espresso with the Intel compiler on a Skylake processor, so it's entirely possible that you found a bug here that should be fixed.

[2019-07-08 16:09] bindgens1 commented on #2977
Test suite passes without issue.

Thanks!

[2019-07-08 20:16] #1575 closed, assigned to nobody

[2019-07-09 02:18] espresso-ci opened #2979 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8027

[2019-07-09 05:35] mkuron commented on #2977
Could you please re-open this issue? We should still fix it on the Espresso side. Preferably not by adding that flag, but by actually fixing either the test or the arithmetic.

[2019-07-09 07:04] jngrad commented on #2979
the value tested in tutorial 11 ferrofluid part 1 seems to be converging too slowly

[2019-07-09 07:20] #2979 closed, assigned to nobody

[2019-07-09 07:53] bindgens1 commented on #2977
Sure!

I just thought it might not be needed if it's only effecting me, as we found a way to circumvent the failing tests.

I might add: Turning fast math on with the GNU compiler, let's the DPD test fail. Nothing else.

[2019-07-09 08:05] mkuron commented on #2977
Shouldn't be too difficult to fix. Please change the issue title to "fast math breaks some tests" or something like that and I might have a look during the next coding day.

[2019-07-09 08:25] fweik commented on #2977
The errors in `rotational_inertia` look large for rounding issues, maybe there the test isn't ideal, in the sense that errors are adding up. In general it's not clear to me how you can say what the expected precision is if the rounding rules are relaxed. If we want to support that someone should look up what fast math exactly means, and how much the results depend on hardware.

[2019-07-09 17:40] jngrad opened #2983 "Invalid code in lb_boundaries.cpp"
To reproduce the compile error on `clang:6.0`:
[code]
[code]

This function is not valid and needs refactoring:
https://github.com/espressomd/espresso/blob/a2110311295c4c03495c601f57378589ac1866b0/src/core/grid_based_algorithms/lb_boundaries.cpp#L286

Issues:
* uneven number of closing braces
    + there should probably be one after line 316 to close the else
    + or the else statement should be

[2019-07-09 20:38] #1491 closed, assigned to nobody

[2019-07-10 01:38] janlle commented on #803
I have the same problem `/usr/bin/ld: cannot find -lpthreads
collect2: error: ld returned 1 exit status`  I can't compile my hadoop3.2.x Please help me!

[2019-07-10 12:08] jngrad commented on #803
This issue is quite old and our build system changed significantly since then. We only use `-lpthreads` for GPU-accelerated code now, where compilation is a different story compared to CPU code. You should look for an answer on the Apache Hadoop project and their [mailing list](https://hadoop.apache.org/mailing_lists.html).

[2019-07-10 13:26] junghans opened #2985 "ParticleCache_test fails on Fedora 31"
[code]

Reported here: https://bugzilla.redhat.com/show_bug.cgi?id=1728057
Build logs here: https://koji.fedoraproject.org/koji/taskinfo?taskID=36164517

This only seems to be an issue on 64-bit archs, i.e. x86_64, aarch64 and ppc64le, the other archs (i686, s390x, armv7hl) pass.

[2019-07-11 09:20] #2694 closed, assigned to jngrad

[2019-07-12 08:59] jngrad commented on #2306
Once we decide on a new version, we'll have to update [`clang-python3:6.0`](https://github.com/espressomd/docker/blob/d92816d848819f0272db3bc3a4e28255a4cd8868/docker/clang-python3/Dockerfile-6.0#L21), revert 0f3d5bed9c and fix [this error](https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/136094).

[2019-07-12 09:11] mkuron commented on #2306
Ubuntu 18.04 doesn't provide autopep8 packages for Python 3. I would suggest we install 1.3.4 (with pycodestyle 2.3.1) from pip, as that is the version it uses for Python 2. Since autopep8 can operate on Python 3 code even when running on a Python 2 interpreter, this allows people to just install the Python 2 version from the Ubuntu repository if they want to run the style checker on their desktop

[2019-07-14 10:29] #2983 closed, assigned to nobody

[2019-07-15 13:34] RudolfWeeber opened #2989 "Unequal MD and LB Timesteps: Forbid or understand and test"

[2019-07-15 13:35] RudolfWeeber opened #2990 "Mark everything untestd as EXPERIMENTAL_FEATURE"

[2019-07-16 07:24] jngrad commented on #2502
C++14:
[code]

C++17:
[code]

[2019-07-16 07:32] jngrad commented on #2628
Other example: there is a global variable `energy`:
https://github.com/espressomd/espresso/blob/182020aa5d0c09c4283b3b55db7439038e98a7a2/src/core/energy.hpp#L38
which can easily be shadowed in functions calculating energies, forcing the use of alternative variable names, like `_energy`, `eng`, `ret`.

Removing globals is also an option: e416e7e528bf3da75, d47a73138a, 34b8821dd3f682, fab58ca37ae, 6

[2019-07-16 09:56] christophlohrmann commented on #2989
I would look at that at the coding day

[2019-07-17 08:48] jngrad commented on #294
2019 update: the DG moved to the wiki and was considerably extended. The core documentation now features [Related Pages](http://espressomd.org/html/dox/pages.html) to provide detailed instructions for developing specific features in the C++ core.

[2019-07-17 09:13] RudolfWeeber opened #2994 "Outdated cuda version picked when using clang as compiler"
At ICP, there is a Cuda 8 installation in /usr/local/cuda-8.0
I'm using clang++ as NVCC host compiler and
cmake -DWITH_C?UDA=on
Since Espresso requires Cuda 9, the installation in/usr/local/cuda-8.0 should be disregarded.

More generally, the cuda detection code in CMakeList.txt is somewhat involved.
If possible, that should be simplified.

[2019-07-17 09:19] mkuron commented on #2994
Clang 6.0 does not pick up CUDA 9.0 because it only supports CUDA 7.0-8.0 (Clang 7.0 is the oldest version that picks up CUDA 9.0). Clang only uses the NVPTX assembler from the CUDA package, and there version 8.0 (or even older ones) are sufficient for Espresso. CUDA 9.0 is the oldest version with an nvcc that supports C++14, but Clang has supported C++14 in device-side code since around Clang 4.0

[2019-07-17 16:35] jngrad commented on #2942
Fixed by #2963

[2019-07-17 16:35] #2942 closed, assigned to nobody

[2019-07-17 16:39] jngrad commented on #1155
@RudolfWeeber is this issue still present in the current implementation of `PScriptInterface`?

[2019-07-18 02:20] espresso-ci opened #2995 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8129

[2019-07-18 07:13] KaiSzuttor commented on #2875
@RudolfWeeber could you please add some info?

[2019-07-18 08:01] #2995 closed, assigned to nobody

[2019-07-18 08:05] KaiSzuttor commented on #2953
@bindgens1 that's not true. In the kernelcall ```*current_nodes``` is passed which is switched every integration step.

https://github.com/espressomd/espresso/blob/182020aa5d0c09c4283b3b55db7439038e98a7a2/src/core/grid_based_algorithms/lbgpu_cuda.cu#L2675-L2676

https://github.com/espressomd/espresso/blob/182020aa5d0c09c4283b3b55db7439038e98a7a2/src/core/grid_based_algorithms/lbgpu_cuda.cu#L2892-L

[2019-07-18 14:56] jngrad commented on #1025
A lot changed since this issue was opened: the `BOND_ANGLE` ifdef was removed in #2546 (7c4f284d), the `TABULATED` ifdef will be removed in #2304 and the `BOND_ANGLEDIST` code was removed in #2338.

[2019-07-18 15:18] pkreissl commented on #2961
I can have a look at this at the coding day.

[2019-07-19 11:28] bindgens1 commented on #2953
@KaiSzuttor

I just had a quick look and indeed didn't see it.
It just resembled the same behaviour that was an issue in another project using the GPU Code.
In the light of this: I can't really imagine why it should only work for every second time step if the nodes are indeed switched.

[2019-07-19 11:33] RudolfWeeber opened #2997 "Py: Document correlator.result()"

[2019-07-19 13:33] jngrad commented on #1345
2018 update: introduction of a benchmarking feature (#2381), needs to be run manually
2019 update: the feature is now more automatized (#2998) and re-uses some logic from the CI script

There are still stability issues (#2924). The Python scripts in the benchmarks are tested (887597b0) but not the CMake and bash logic. The benchmarks are documented [here](https://github.com/espressomd/espresso/wik

[2019-07-19 13:45] jngrad commented on #2985
Note: the fix will have to be applied to both 4.0 and 4.1 (devel) branches.

[2019-07-19 15:15] junghans commented on #2985
@jngrad will there a patch release, otherwise can you point be at the patch, so I can include it in the rpm?

[2019-07-19 15:24] jngrad commented on #2985
Unfortunately, there is no patch yet. Since this ticket was assigned to the 4.1 release, I left a reminder that any fix will have to be cherry-picked into the 4.0 branch.

[2019-07-19 18:38] jngrad commented on #1487
Deploying the pdf's should not be too difficult. However, since this issue was opened, most of the tutorials have been rewritten as Jupyter notebooks. These need to be run in pypresso, which takes quite some time and requires some form of pre-processing to remove long or infinite loops and calls to the visualizers. I've been working on a solution to that problem using a more elaborate version of a

[2019-07-19 19:00] jngrad commented on #2985
I can reproduce the error message in Fedora 31 (replacing `FROM fedora:latest` to `FROM fedora:31` in [centos-python3/Dockerfile-next](https://github.com/espressomd/docker/blob/master/docker/centos-python3/Dockerfile-next)) for both 4.0 and devel, on x86_64 (full message) and ppc64le (truncated message). The failing tests are `ParticleCache_test` on 4.0 and `MpiCallbacks_test`, `ParallelScriptInte

[2019-07-20 11:45] jngrad commented on #1487
Once we get the pdf's deployed, we might as well remove them from the source code. They always get outdated.

[2019-07-20 12:47] junghans commented on #2985
As we did for #2507, we could patch boost::mpi in F31, if you have a fix.

[2019-07-20 15:11] jngrad commented on #2985
When running `ParticleCache_test` without MPI, I get a different error message:
[code]
I recompiled espresso in a new container of the same image but with ` --cap-add=SYS_PTRACE` and GDB installed, and this test did not fail anymore without MPI or with MPI on a single node:
[code]

[2019-07-20 15:38] KaiSzuttor commented on #2985
so UB

[2019-07-20 16:25] mkuron commented on #2985
F30 and F31 actually have the same Boost version. So it must be due to different compiler or MPI versions.

[2019-07-21 02:15] espresso-ci opened #3000 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8146

[2019-07-21 08:09] #3000 closed, assigned to nobody

[2019-07-22 09:25] RudolfWeeber commented on #2934
This affects only our CI infrastructure, where we gave up on 32bit builds.

[2019-07-22 09:25] #2934 closed, assigned to jngrad

[2019-07-22 09:29] RudolfWeeber commented on #2875
The setter updates the value in lb params and broadcasts it but does not update the per-node values being used in the upcoming integration step.
These only get updated after the integration.
I have fixes for this in the Walberla branch. I'll extract those.

[2019-07-22 09:38] RudolfWeeber commented on #2808
I'm going to do this on the coding day.

[2019-07-22 09:43] RudolfWeeber commented on #2682
@kaiszuttor, do you want to address this or should we de-milestone?

[2019-07-22 12:16] RudolfWeeber commented on #2985
On Fri, Jul 19, 2019 at 06:45:19AM -0700, Jean-Noël Grad wrote:

I don't think, we'll do another 4.0 bugfix release.
Efforts need to be focussed on getting 4.1 ready.

[2019-07-22 12:19] jngrad commented on #2985
@mkuron Fedora 31 uses OpenMPI 4.0.1 while Fedora 30 + Ubuntu <= eoan use <= 3.1.4

[2019-07-22 18:45] jngrad commented on #1487
Update: to build PDF's, we need texlive installed. I tried `texlive` (240 MB), `texlive-latex-extra` (404 MB) and `texlive-full` (4.7 GB) and only the latter works. When using the formers, some essential packages are missing (e.g. TikZ) and cannot be installed via the texlive package manager due to a difference of year; I tried pinning the 2017 version of the texlive archive maintained on TUG, onl

[2019-07-22 20:29] mkuron commented on #1487
I wouldn’t recommend increasing the image size like that. How about installing a minimal texlive 2019 with the needed packages? There is a ppa at https://launchpad.net/~jonathonf/+archive/ubuntu/texlive.

[2019-07-23 07:45] KaiSzuttor commented on #2973
* https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/137077

[2019-07-23 08:15] mkuron commented on #2973
That one was due to incorrect `#pragma unroll` use and caused reduced performance (but no crash) on CUDA too.

That's an odd one. We had the same error two months ago (https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/117521), but after two retries it succeeded (https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/117637). This is somehow due to a name collision between `std

[2019-07-23 08:26] mkuron commented on #2973
That one was due to incorrect `#pragma unroll` use and caused reduced performance (but no crash) on CUDA too. Fixed by #2982.

Please merge the latest master branch, that issue has been fixed since #2937.

[2019-07-23 09:25] KonradBreitsprecher opened #3001 "ELC energy wrong for non-neutral systems"
Dragging a particle through the box in a non-neutral system (testscript below), the ELC energy jumps close to the boundaries (inside the elc_params.space_layer):

![image](https://user-images.githubusercontent.com/3974659/61691944-fc071680-ad2c-11e9-8783-e4ca7d3cff53.png)

The current testcase (elc_vs_mmm2d_nonneutral.py) fails to cover this case because the particles don't enter the space layer (

[2019-07-23 14:27] jngrad commented on #1487
Cool! With this PPA, the image size only increases by 240 MB (177 MB for `texlive-latex-recommended` and the rest for required packages). This increases the coupling between the docker and espresso repos though (third block below), so we should refrain ourselves from creating new tutorials in LaTeX:
[code]

[2019-07-23 16:01] RudolfWeeber commented on #2990
See #2071 for a list and links to coverage reporting

[2019-07-23 21:48] jonaslandsgesell commented on #3001
In the following comes some *speculation*: To me the jump looks like being caused by a wrong scaling factor within the outer layers. The trend of the curve looks similar, but scaled.

How does  this jump scale when you change the prefactor?

PS: thanks for reporting this problem! This energy problem (as long as it persists) prevents using ELC in a nonneutral system together with the cpH or reactio

[2019-07-24 02:16] espresso-ci opened #3002 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8174

[2019-07-24 08:05] jngrad commented on #3002
duplicate of #2924

[2019-07-24 08:13] KaiSzuttor commented on #2691
to me it's not clear how to do this. the stress is not known at the "surface" of the sphere, since this surface is *not* located at a LB node in general. Therefore we would have to extrapolate the stress which is not implemented. Am I missing something here? maybe @mkuron knows?

[2019-07-24 08:37] #3002 closed, assigned to nobody

[2019-07-24 09:19] jngrad commented on #2985
@KaiSzuttor We probably should de-milestone this, OpenMPI 4 is not fully backward-compatible with OpenMPI 3 source code. It is unclear to me how much work will be involved to support both v3 and v4 in our codebase, nor when our user base will start the transition to v4.

[2019-07-24 09:28] mkuron commented on #2691
I think you should be able to calculate fluid stress times normal on all surfaces between fluid and boundary cells, sum that up, and divide by 1.5 to account for the different surface areas of spheres in the L2 and L1 metric. That will give you a slightly larger effective sphere though because you can't interpolate stress between fluid and boundary cells.

[2019-07-24 09:43] KaiSzuttor commented on #2691
How exactly can I calculate this fluid stress? I only know it on the nodes that are closest to the boundary node.

What do you mean by that?

Is it possible to estimate the error we would have with this calculation? If not, we can't use it for a test.

[2019-07-24 10:26] mkuron commented on #2691
That will have to suffice.

It's probably a factor of (R+0.5)/R as Stokes friction is linear in R.

An infinitely large discrete sphere has 1.5 times the surface area of an actual sphere. That may need to be accounted for when you perform the surface integral for the discrete sphere.

[2019-07-24 10:29] mkuron commented on #2985
How is that possible? MPI is a standard. We also support other implementations like MPICH (tested in the Intel container). If OpenMPI does not comply to the standard, we won't be able to support it, but I am pretty sure that it is compliant.

[2019-07-24 11:03] jngrad commented on #2985
This is how I interpreted the language in [Open MPI: Version Number Methodology](https://www.open-mpi.org/software/ompi/versions/):

If the issue at hand is indeed a bug in our codebase we should address it, but if it comes from an API change in OpenMPI it will be harder to estimate the amount of efforts to invest into the v4 migration.

[2019-07-24 11:06] #2125 closed, assigned to nobody

[2019-07-24 11:13] mkuron commented on #2985
This is a bit misleading as it is about ABI compatibility and not about API compatibility. This means you cannot combine libmpi.so and mpi.h from different major versions, only from different minor versions. API compatibility is guaranteed between all MPI implementations (MPICH, OpenMPI 3, OpenMPI 4, ...).

[2019-07-24 12:08] itischler commented on #2875
i could take a look at it on coding day

[2019-07-24 17:20] RudolfWeeber opened #3004 "Remove from __future__ in Python code"
since we require Py3 now.

[2019-07-25 10:45] KaiSzuttor commented on #3004
@jrfinkbeiner is looking at it

[2019-07-25 11:28] jngrad commented on #1025
We'll be left with only the `UMBRELLA` ifdef (experimental feature) and the `ROTATION` ifdef for bonded IAs.

[2019-07-25 13:30] #2600 closed, assigned to jngrad

[2019-07-25 13:30] #294 closed

[2019-07-25 14:52] jngrad opened #3016 "Remove residual Python2-specific code"
There is some more Py2-specific code, mainly the use of the six module, the unicode C string wrapper and the Cython 2/3 flags in CMake. That should be removed too.

_Originally posted by @mkuron in https://github.com/espressomd/espresso/pull/3008#issuecomment-515074836_

[2019-07-25 15:12] espresso-ci opened #3018 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8219

[2019-07-25 15:41] #3018 closed, assigned to nobody

[2019-07-25 16:05] fweik opened #3019 "Bond_parameters should be a variant"
This is currently a tagged union, which requires manual construction and destruction when changing the active type (the union contains non-trivial types). This requires boiler plate code for switching the active type and is error prone. This can be made automatic by turning the union
into a `boost::variant`.

[2019-07-25 16:09] fweik commented on #2994
This is not an issue, with clang you have to use the CUDA that clang proposes, which is what we do.
As for the cmake code: I can't see how this can be improved structurally, it has one level of abstraction
which is needed because we decided we want to proided CUDA support in multiple ways.

[2019-07-25 16:09] #2994 closed, assigned to nobody

[2019-07-25 21:26] #2680 closed, assigned to nobody

[2019-07-25 22:28] #3004 closed, assigned to nobody

[2019-07-25 22:28] #2808 closed, assigned to RudolfWeeber

[2019-07-26 10:06] espresso-ci opened #3020 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8269

[2019-07-26 10:34] #3020 closed, assigned to nobody

[2019-07-26 10:45] #1661 closed, assigned to nobody

[2019-07-26 10:45] #2584 closed, assigned to nobody

[2019-07-26 10:45] #1025 closed

[2019-07-26 10:45] #2304 closed, assigned to jngrad

[2019-07-26 11:58] #2652 closed, assigned to nobody

[2019-07-26 12:15] espresso-ci opened #3021 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8278

[2019-07-26 13:19] #3021 closed, assigned to nobody

[2019-07-26 13:19] #2453 closed, assigned to KaiSzuttor

[2019-07-26 14:16] espresso-ci opened #3023 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8294

[2019-07-26 15:13] #3023 closed, assigned to nobody

[2019-07-26 20:55] #2961 closed, assigned to pkreissl

[2019-07-29 18:45] jngrad commented on #3016
concerning the unicode C string wrapper, we could simplify it but not remove it: when running the python, tutorials and samples tests, the first `unicode` conditional is hit 694 times and the second `bytes` conditional is hit 26685 times.

[2019-07-29 19:45] jngrad commented on #3020
duplicate of #2924

[2019-07-30 13:12] #3016 closed, assigned to jngrad

[2019-07-30 13:38] fweik opened #3027 "Evaluating forces executes collisions"
Running `System.integrator.run(steps=0)` does run the collision detection, and therefor mutates the system. I think it should not, as system mutation should only occur if the system is propagated. Otherwise we have results depending on how often you looked at the system,
which would create our very own measurement problem.
Removed the collision handling in the initial force calculation breaks some

[2019-07-30 13:43] jngrad commented on #1155
ping @RudolfWeeber

[2019-07-30 13:47] RudolfWeeber commented on #3027
I was under the impression that recalculating the forces with integrator.run(0) only fils the collision queue but does not call handle_collisions().

So this should have no effect. If that is not so, I’ll take a look once I’m back at work in a week.

[2019-07-30 14:11] fweik commented on #3027
I thought so too, but it actually calls `handle_collisions` and the tests fail if this is removed. Thank you. (That's in line 253 of `integrate.cpp`).

[2019-07-30 15:57] fweik opened #3030 "Charged system tutorials run energy minimization with thermostat turned on"
This is not best practice and probably should not be shown in beginners tutorials. Also in this case it just makes convergence slower.

[2019-07-30 20:53] #2989 closed, assigned to christophlohrmann

[2019-07-30 21:53] espresso-ci opened #3031 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8401

[2019-07-31 05:39] #3031 closed, assigned to nobody

[2019-07-31 12:14] fweik commented on #2502
The same should be done for the energy kernels.

[2019-07-31 12:30] fweik opened #3033 "Replace output parameters by return values for energy kernels"
Same as #2502, but for the energies.

[2019-07-31 12:37] fweik opened #3034 "Narrow signatures of interaction kernels"
Pair interactions should only take those parameters that are really needed for the calculation,
so that their dependencies are visible from the signature. E.g.
[code]
can be narrowed to
[code]
To this end also the debug macros should be removed.

[2019-07-31 12:42] jngrad commented on #3033
I'm currently working on that.

[2019-07-31 12:46] #1487 closed, assigned to jngrad

[2019-07-31 13:42] espresso-ci opened #3035 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8414

[2019-07-31 13:57] fweik opened #3036 "Put non-bonded interaction parameters into per interaction structs"
Currently all non-bonded interaction parameters reside in to struct (`IA_Parameters`) like this:
[code]
To make further refactoring easier they should reside in per interaction data structures like so
[code]

[2019-07-31 14:10] fweik opened #3037 "Turn interaction parameter setters into constructor and separate storage selection from setter"
Depends on #3036 for non-bonded, #3019 for bonded.

Currently the functions setting the interaction parameters also select on which
interaction struct they operate, e.g. they take the types and the use globals to
access the interaction parameters struct, same for bonds where the global data
is accessed by bond id. The data selection can be separated from the parameter
setting to get better separat

[2019-07-31 14:41] fweik commented on #3035
Seems that revtex is missing in the tutorials container

[2019-07-31 15:10] mkuron commented on #2973
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/142467

That one was reproducible on an Nvidia 2080, but we don't have that in CI. So one more case where AMD actually helped find a bug that can affect Nvidia too.

[2019-07-31 16:49] espresso-ci opened #3038 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8420

[2019-07-31 17:40] jngrad commented on #3038
* the `run_tutorials` is running because I forgot the `&&` operator in the YAML file
* the `revtex4-1.cls` file should be installed, I have to investigate the docker image

[2019-07-31 21:11] espresso-ci opened #3041 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8418

[2019-07-31 23:43] junghans commented on #2985
Any news on this?

[2019-08-01 02:41] espresso-ci opened #3042 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8428

[2019-08-01 08:09] #3035 closed, assigned to nobody

[2019-08-01 08:09] #3038 closed, assigned to nobody

[2019-08-01 11:18] #3041 closed, assigned to nobody

[2019-08-01 11:18] #3042 closed, assigned to nobody

[2019-08-02 08:25] jngrad opened #3046 "EK_ELECTROSTATIC_COUPLING"
The `EK_ELECTROSTATIC_COUPLING` flag was removed in #2490 but accidentally re-introduced later:
* in 35efe8cd0cdd https://github.com/espressomd/espresso/blob/25cefff6ea21a5c1b0f0735fa7b32ec40995ff17/src/core/forces.cpp#L182-L184
* in 0309058c4f https://github.com/espressomd/espresso/blob/25cefff6ea21a5c1b0f0735fa7b32ec40995ff17/maintainer/configs/no_rotation.hpp#L53

Compilation fails with
[code]

[2019-08-02 10:14] fweik opened #3048 "Separate types for Tabulated bonds"
Currently there is one bond type for all tabulated bonds (linear, angle, ...), and the actual type is discriminated using an extra parameter. Because of this the number of interaction partners for the bonds can not be statically determined, which would allow for cleaner and more efficient code. This can be solved by introducing separate types for the different kinds of tabulated bonds, and derive/

[2019-08-02 11:39] KaiSzuttor opened #3049 "Bonded potentials lacking documentation"
* https://github.com/espressomd/espresso/blob/25cefff6ea21a5c1b0f0735fa7b32ec40995ff17/src/python/espressomd/interactions.pyx#L2529
* https://github.com/espressomd/espresso/blob/25cefff6ea21a5c1b0f0735fa7b32ec40995ff17/src/python/espressomd/interactions.pyx#L2777
* https://github.com/espressomd/espresso/blob/25cefff6ea21a5c1b0f0735fa7b32ec40995ff17/src/python/espressomd/interactions.pyx#L2859
* ht

[2019-08-02 14:03] #3046 closed, assigned to itischler

[2019-08-02 14:29] jngrad commented on #3049
* AngleHarmonic, AngleCosine, AngleCossquare have some docs in [sections 7.3.1., ...](http://espressomd.org/html/doc/inter_bonded.html#harmonic-angle-potential) but constructor parameter descriptions would indeed be nice
* other classes should definitely have docstrings

[2019-08-03 19:15] jngrad commented on #2985
Tracing the source of the failure got me to this line in the code, which only crashes on mpi rank 0:
https://github.com/espressomd/espresso/blob/5322996769ec0ff72ba82cce276ef723fc2edcd4/src/core/ParticleCache.hpp#L247-L248
The `boost::container::flat_set<Particle, detail::IdCompare> remote_parts` object has correct iterators, and when using a temporary object as the output of `boost::mpi::reduce`

[2019-08-04 08:43] mkuron commented on #2985
The _vader_ issue is not limited to Docker; #2271 saw it on a desktop computer. However, since @junghans‘s build logs do not contain any `Read -1, expected <number>, errno = 1`, they are caused by something else. Also, Fedora‘s build service runs on KVM and thus does not limit ptrace, so there is no need for added privileges. We do grant them on our CI though.

[2019-08-04 16:35] jngrad commented on #2985
Bug not reproducible on Fedora 31 with MPICH.
Bug not reproducible on Ubuntu 18.0 with boost 1.69 and OpenMPI 3.1.
This seems to be OpenMPI v4-specific. I can't get a backtrace in gdb:
[code]

[2019-08-04 17:01] jngrad commented on #2502
Target:
[code]
Progress: [fix-2502-p1b...fix-2502-p2](https://github.com/jngrad/espresso/compare/fix-2502-p1b...fix-2502-p2)

Full benchmarks LJ:

|  commit |           label |  empty | default | maxset |
| ------- | --------------- | ------ | ------- | ------ |
| ac26346 | boost::optional |  64.9% |  106.5% | 111.9% |
| eb89f37 |      std::tuple |  64.3% |  104.8% | 113.7% |
| f1a8a0c |    fix-25

[2019-08-04 20:20] RudolfWeeber commented on #2985
Did you try

catch throw

[2019-08-04 20:25] RudolfWeeber commented on #2502
Am I misreading the P3m numbers for the Python branch? Why is maxset faster than default?

[2019-08-04 20:40] jngrad commented on #2502
I'm not sure. The base commit was benchmarked on a different day, with multiple docker containers open, but none of them were running anything. I can re-run that commit plus another commit overnight (4 hrs/commit), but I've got different programs idle in the background today. At some point we should consider setting up a dedicated machine for benchmarks to avoid day-to-day variance.

[2019-08-04 21:02] jngrad commented on #2985
Thanks! We can finally work on something:
[code]

[2019-08-05 11:19] jngrad commented on #2502
Maybe something was running on my machine 2 days ago, but it couldn't have been condor jobs because I always put my machine on drain beforehand. Anyway, here are the new benchmarks:

LJ:

|  commit |           label |  empty | default | maxset |
| ------- | --------------- | ------ | ------- | ------ |
| ac26346 | boost::optional |  64.6% |  103.9% | 111.1% |
| f1a8a0c |    fix-2502-p1b |  62.3% |

[2019-08-05 12:05] fweik commented on #2502
We already decided to go with the optional. Non of these benchmarks suggest that there are drastic performance penalties, so nothing changes.

[2019-08-05 14:02] fweik commented on #3027
Also the collision detection kernel should not be a part of the force kernel (`add_non_bonded_pair_force`).

[2019-08-05 14:40] RudolfWeeber opened #3052 "ENGINE: Test single time step behavior or depend on EXPERIMENTAL_FEATURES"

[2019-08-05 14:52] fweik commented on #3052
I think the first step is to split this up. As far as I can there are two modes, either the force dipole or a body fixed drift velocity. The latter is uncritical can can be moved out of the feature, this is the same as `LB_ELECTROHYDRODYNAMICS` just body-fixed, and is uncritical as the coupling points are just the same as for normal LB particles. The other one is the force dipole which uses an ext

[2019-08-05 15:26] RudolfWeeber commented on #3052
On Mon, Aug 05, 2019 at 07:52:46AM -0700, Florian Weik wrote:

The v_swim stuff depends on the particle orientation, whereas electrohydrodynamics does not. But it can probably still be fused

[2019-08-05 15:34] xibeisiber opened #3055 "boost 1.70.0: undefined symbol error when importing espressomd"
Hi,
I am installing espresso on my computer. There is no error message in the progress of "cmake" and "make". But when I import the espressomd, it returns:

File "<stdin>", line 1, in <module>
  File "/remote/pi309a/jia/software/Espresso/src/python/espressomd/__init__.py", line 23, in <module>
    import espressomd._init
ImportError: /remote/pi309a/jia/software/Espresso/src/core/cluster_analysis/l

[2019-08-05 15:51] fweik commented on #3052
Yes, it's a body-fixed drift velocity. In the same sense that for Langevin its an body-fixed external force.

[2019-08-05 16:46] jngrad commented on #3055
Hi,
We'll need your operating system (Ubuntu 18.04, CentOS 7, ...) and the version of espresso (4.0.2, devel, ...) to reproduce your issue.

[2019-08-05 16:58] jngrad opened #3056 "Avoid calls to mpi_alloc_mem if possible"
MNWE:
[code]
[code]
A few independent issues with the OpenGL visualizer have already been fixed in #3051.

[2019-08-05 16:59] xibeisiber commented on #3055
Hi, jngrad,
thanks. the operating system is Debian GNU/Linux 9.9 (stretch).
I tried espresso 4.0.2 and 4.0.1. Both versions have the same problem.

[2019-08-05 18:44] #3027 closed, assigned to nobody

[2019-08-05 19:31] jngrad commented on #3055
I just compiled espresso 4.0.2 for Python2 in Debian 9 with CMake 3.15.1 and boost 1.70.0 and got the same error message, but instead of `typeinfo for boost::archive::detail::basic_iarchive`, got a different undefined symbol: `boost::filesystem::detail::copy_file(boost::filesystem::path const&, boost::filesystem::path const&, boost::filesystem::detail::copy_option, boost::system::error_code*)`. I

[2019-08-05 19:33] jngrad commented on #3055
I also can't run unit tests with 1.70.0 because of another undefined symbol: ```undefined reference to `boost::unit_test::unit_test_main(bool (*)(), int, char**)'```

[2019-08-05 20:03] KaiSzuttor commented on #3055
https://stackoverflow.com/questions/35007134/c-boost-undefined-reference-to-boostfilesystemdetailcopy-file

[2019-08-05 20:22] jngrad commented on #3055
actually, we already use that workaround:
https://github.com/espressomd/espresso/blob/5322996769ec0ff72ba82cce276ef723fc2edcd4/src/core/io/writer/h5md/h5md_core.hpp#L35-L37
defining it globally with `cmake .. -DCMAKE_CXX_FLAGS=-DBOOST_NO_CXX11_SCOPED_ENUMS` didn't help

[2019-08-05 20:26] xibeisiber commented on #3055
Several months ago I compiled espresso 4.0.1 successfully, the CMakeCache.txt file is as follows:_----------
//The directory containing a CMake configuration file for Boost.
Boost_DIR:PATH=Boost_DIR-NOTFOUND

//Boost filesystem library (debug)
Boost_FILESYSTEM_LIBRARY_DEBUG:FILEPATH=/usr/lib/x86_64-linux-gnu/libboost_filesystem.so

//Boost filesystem library (release)
Boost_FILESYSTEM_LIBRARY_RELE

[2019-08-05 20:38] jngrad commented on #3055
Debian 9 is shipped with [libboost v1.62](https://packages.debian.org/stretch/libboost-dev) (stored in `/usr/lib/x86_64-linux-gnu/`), maybe your institute decided to move to libboost v1.70, which means manually compiling the source code (by default it gets installed in a different directory: `/opt/boost_1_70_0/`). If you still have the 1.62 files (check with `ls /usr/lib/x86_64-linux-gnu/libboost*

[2019-08-05 20:45] xibeisiber commented on #3055
Thanks very much, jngrad.
Problem solved now by forcing cmake to use boost 1.62.0.

[2019-08-05 21:14] #3055 closed, assigned to nobody

[2019-08-06 06:22] hmenke commented on #3052
I don't really understand what has to be done here.  If you can tell me, I would be willing to take this on to prevent removal of yet another feature.

[2019-08-06 06:34] KaiSzuttor commented on #3052
move from a data-driven test to a single step integrate and check the effect test.

[2019-08-06 07:22] KaiSzuttor commented on #3052
As stated in the title of this issue, we would mark the feature experimental as we cannot guarantee the correctness if there is no test. Actually, we shouldn't have merged it with the data driven test in the first place.

[2019-08-06 07:43] RudolfWeeber commented on #3052
@hmenke, thanks. Please coordinate with @christophlohrmann, who is also looking at this.
The initial plan was to place the swimmer on an lb node, use a dipole length of n*agrid and an orientation parallel to lattice vectors.
Then, the outcome of a single coupling can be written down in Python and checked.

We're going to expose the LB node force applied in the last time step, so that that can be c

[2019-08-06 07:47] RudolfWeeber commented on #2924
Did this re-occur, since the adjust_max_skin was added in the tune_skin() call?
Otherwise, it can be closed.

[2019-08-06 07:56] RudolfWeeber commented on #2896
The docs now clearly state the limitations and limited testability.
I'm de-milestoning this, but we should add an end-to-end test with a reasonably complex simulation setup in the long run.

[2019-08-06 08:06] KaiSzuttor commented on #2896
@RudolfWeeber have you checked the coverage of the checkpointing tests?

[2019-08-06 08:14] RudolfWeeber commented on #2896
On Tue, Aug 06, 2019 at 01:06:44AM -0700, Kai Szuttor wrote:

Up to a point, yes. It includes the main integrator features, standard script interface classes, ScriptObjectRegistry-derived script interface classes such as LBBoundaries and Constraints.
Also @pkreissl and me have run end-to-end tests on our current research projects.

[2019-08-06 08:20] RudolfWeeber commented on #2922
Any news here?

[2019-08-06 08:21] RudolfWeeber commented on #2900
This is merged, right?

[2019-08-06 08:21] RudolfWeeber commented on #2899
This is merged?

[2019-08-06 08:57] fweik commented on #2899
This is an issue.

[2019-08-06 09:41] RudolfWeeber commented on #2899
On Tue, Aug 06, 2019 at 01:57:03AM -0700, Florian Weik wrote:

Yes. But was it resolved by #3006?

[2019-08-06 09:54] Kischy commented on #2922
No, I am on holiday now and before I didn't have enough time to finish it. I hope to have time in August or September.

I wrote tests for the GB force using gradient checking and they fail. So the next step is to find the error in the source code.

[2019-08-06 09:59] fweik commented on #2900
No, not resolved.

[2019-08-06 09:59] fweik commented on #2899
No, of course not?!

[2019-08-06 10:00] fweik commented on #2899
`local_cells.particles()` is still used in 157 places.

[2019-08-06 10:02] fweik commented on #2899
Candidates for refactoring:
[code]

[2019-08-06 12:28] jngrad commented on #2922
@Kischy please note the source code for GB changed substantially last week, using Vector3d to improve readability. The numerical results however _should_ be unchanged.

[2019-08-06 12:37] Kischy commented on #2922
Ok, I'll take a look at the changes when I'm home. Thank you.

[2019-08-06 15:05] jngrad commented on #3056
Compiled espresso with GPU/maxset on bors merge commits since May. The bug seems to have been introduced by #2949.

[2019-08-06 15:51] jngrad commented on #3030
With `system.thermostat.turn_off()` I couldn't get the minimization loop to converge, the `min_dist` variable seems to cycle between 0 and half `max_sigma`. With
[code]
the energy cycles between 8e15 and 2e23.

[2019-08-06 16:53] #3036 closed, assigned to nobody

[2019-08-06 18:32] jngrad opened #3058 "Improve tutorial tests"
Some tutorial tests only execute the tutorials, without checking numerical results:

- [x] 02 charged system: [part 2](https://github.com/espressomd/espresso/blob/python/testsuite/scripts/tutorials/test_02-charged_system-2.py)
- [x] 04 LB: [part 2](https://github.com/espressomd/espresso/blob/python/testsuite/scripts/tutorials/test_04-lattice_boltzmann_part2.py), [part 3](https://github.com/espress

[2019-08-06 19:17] fweik commented on #3030
Those parameters are not sensible.

[2019-08-07 09:26] mkuron commented on #3056
This is a race condition in `MPI_Alloc_mem`. Fixed by https://github.com/open-mpi/ompi/issues/2921. This fix is in OpenMPI 3.0.3 and higher, 3.1.3 and higher, 4 and higher. I don't think it is needed for 1.10 and lower.

The only thing we can do is add a line to the documentation saying that crashes in `MPI_Alloc_mem` are expected in OpenMPI 2.0-2.1, 3.0.0-3.0.2 and 3.1.0-3.1.2 and people have to

[2019-08-07 09:30] christophlohrmann commented on #3052
From manual inspection of swimmer trajectories I found the following:
- swimmers with v_swim don't get a second force center, the `dipole_length` parameter does not do anything
- swimmers with f_swim seem to work qualitatively as long as they do not cross a periodic boundary, in that case the second force center is not applied to the fluid (current python branch)
- In @fweik's pull request #3025 t

[2019-08-07 09:44] KaiSzuttor commented on #3056
unfortunately it's called for every ```MpiCallbacks::call```

[2019-08-07 09:58] mkuron commented on #3056
Does it really need to be called? Or is that just how it is currently implemented?

[2019-08-07 10:02] fweik opened #3059 "Inertialess Tracers should not be a virtual site implementation"
The inertialess traces consist of two parts, an Euler integrator for the position and the LB coupling. Neither one is a virtual site mechanism. The two parts should be separated, and
can be used independently. One could e.g. trigger the lb coupling by allowing to set gamma
per particle and do the trace coupling for gamma infinity. I think the Euler integration is not
needed if the coupling just se

[2019-08-07 10:04] fweik commented on #3059
@RudolfWeeber @KaiSzuttor i think this is a clean solution, what do you think? (Some unsolicited wisdom on top: The rule here is `if it is fighting you, you are doing it wrong`, which really was an
important insight for me.)

[2019-08-07 10:27] fweik commented on #3052
@christophlohrmann this isn't only about the force on the fluid: To get the correct forces on the particle, the fluid velocity at the force dipole site needs to be known. The forces for the particles
are calculated elsewhere and only for local particles, so the velocity (called `v_source`) needs to
be communicated back. I'm not sure that this part is working correctly.

[2019-08-07 11:46] fweik opened #3060 "Separate generic properties from interaction potentials"
The actual interaction potentials should be separated from generic properties like
cutoff, offset and shift. This is independent from each other, would give all potentials
shifts and cutoff and would reduce code duplication. We also had bugs in the past
because potentials did not correctly calculate the cutoff if there was a shift.
Here is a rough draft of what I have in mind:

[code]

This also a

[2019-08-07 12:57] RudolfWeeber commented on #3059
I agree.

[2019-08-07 14:08] KaiSzuttor commented on #3060
[code]

would also work?

[2019-08-07 14:13] fweik commented on #3060
No. (it says `Utils::for_each` not `std::for_each` for a reason). Also discussions of implementation details make more sense if there is an actual implementation.

[2019-08-07 14:23] KaiSzuttor commented on #3060
it was just for curiosity not for productivity

[2019-08-07 14:31] fweik commented on #3060
STL algorithms only work on homogeneous containers, in your code `CentralPotential` is a template, not a type, it would already fail there.

[2019-08-07 14:32] KaiSzuttor commented on #3060
[code]
should work

[2019-08-07 15:11] jngrad commented on #2924
Hasn't yet in CI. But I was able to trigger a similar error today on coyote8 after 493 retries:
[code]
The last 3 lines changed. The error now throws in `espressomd.cellsystem.CellSystem.tune_skin` instead of `espressomd.analyze.Analysis.energy`.

[2019-08-07 15:52] RudolfWeeber commented on #2924
So that means that tune_skin() doesn't chose the maximum permissible skin for adjust_max_skin=True correctly?

[2019-08-07 15:58] RudolfWeeber commented on #2924
There is a global 'max_skin'
domain_decomposition.cpp:  max_skin = min_cell_size - max_cut;
which is set to sth different than in tune_skin()
  double const max_permissible_skin = 0.5 * min_local_box_l - max_cut;

[2019-08-07 16:01] fweik commented on #2924
The first one is correct, the second one isn't. You should also maybe have a look at #3053, which clarifies some of these things.

[2019-08-07 19:56] #3048 closed, assigned to jngrad

[2019-08-08 02:17] espresso-ci opened #3064 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8560

[2019-08-08 05:48] #3064 closed, assigned to nobody

[2019-08-08 08:44] KaiSzuttor commented on #3060
side note: it should be ```auto const r_eff = r - offset```

[2019-08-08 09:03] jngrad commented on #3064
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/146771
duplicate of #2924

[2019-08-08 11:13] jngrad commented on #2924
I've just merged #3053 locally in python and was able to get the same error message, plus a new one:
[code]

[2019-08-08 13:42] jngrad commented on #3049
Would that be ok to move OIF interactions to the end of the [page](http://espressomd.org/html/doc/inter_bonded.html) and place the thermalized distance bond from the end of the page to the bonds section?

[2019-08-08 15:50] KaiSzuttor commented on #3060
what about using something like this for the interactions container?
[code]

[2019-08-08 16:03] fweik commented on #3060
What are you trying to do here? Not sure we are on the same page...

[2019-08-08 16:04] KaiSzuttor commented on #3060
just experimenting with the mapping of type pairs to interactions

[2019-08-08 16:06] fweik commented on #3060
This is not what this is about.

On Thu, Aug 8, 2019, 18:04 Kai Szuttor <notifications@github.com> wrote:

[2019-08-08 16:56] KaiSzuttor commented on #3060
i see

[2019-08-08 18:59] KaiSzuttor commented on #3060
~~could you please explain what data structure you had in mind for the potentials? you used a struct and tuple for ```IA_parameters``` in your snippets~~ got it

[2019-08-08 21:51] fweik commented on #3060
Just to spell it out: this is about multiple different interaction e.g. per pair or bond. This is independent of how those interactions are assigned to the interaction pairs, e.g. by type for which there would be an separate data structure, containing multiple such tuples as discussed here. Sorry if that wasn't clear.

[2019-08-09 08:06] KaiSzuttor commented on #3056
I think it's only called because we are using ```boost::mpi::packed_oarchive```

[2019-08-09 08:08] KaiSzuttor commented on #2683
@KonradBreitsprecher are you also working on thermalized bond with philox?

[2019-08-09 08:36] KonradBreitsprecher commented on #2683
Yes that's almost done.

[2019-08-09 09:42] jngrad opened #3069 "Rethink set_default_params()"
The bonded IA classes in Python have a method `set_default_params()` that is _supposed_ to set default values. It is unclear to me what this method is actually doing in the current state, because:
* it's followed by a call to `_params.update()` that will override them by those stored in the core
  https://github.com/espressomd/espresso/blob/c2e8604c4d914b70616133be32989f9203baedaf/src/python/espre

[2019-08-09 11:10] #3049 closed, assigned to jngrad

[2019-08-09 11:35] RudolfWeeber commented on #2985
It is our impression that this is caused by an incompatibility between Opnmpi 4 and boost-mpi. We're giving up for now.

[2019-08-09 11:43] mkuron commented on #2985
We need a minimum working example without Espresso so we can file a bug with OpenMPI or Boost.MPI as appropriate. Otherwise this bug is going to haunt us once Ubuntu 20.04 LTS ships with OpenMPI 4.0...

[2019-08-09 11:54] RudolfWeeber commented on #2695
We are de-milestoning this. Once applied forces are accessible from Python, this can be tested in a single step.
Also, the feature will change, once we implement Ulf's coupling scheme.

[2019-08-09 12:20] RudolfWeeber commented on #2953
We'll decide on this based on results from theramlized Walberla LB

[2019-08-09 16:07] jngrad commented on #2899
thanks to @reinaual there are only 29 occurrences left:
[code]

[2019-08-10 15:12] jngrad commented on #3030
Didn't realize `max_displacement` was per time step. Using the steepest descent from part 2 of the tutorial (with an even smaller displacement) gave good results.

The C++ code for the steepest descent algorithm could be improved. For example, the maximal displacement is stored but never used, `f_max` is not a force cap (!), and `f_max`/`max_displacement` actually aren't compared to the respective

[2019-08-11 13:01] fweik commented on #3056
I don't think it is  feasible to avoid, because such calls can occur inside of boost.mpi under
certain conditions. Some context here: boost.mpi has to modes it uses to handle types
that are not mpi-native, depending on the trait `boost::mpi::is_mpi_datatype`: Either that is
true, in which case it builds an mpi datatype for the (c++) type from the serialization information,
and uses that directly w

[2019-08-11 18:52] RudolfWeeber commented on #3056
[…]

OK, then let’s give up on this. Unfortunately, Ubuntu 18.04 is affected, so we (and our users) probably haven’t seen the last of this issue.

[2019-08-11 21:15] mkuron commented on #3056
We should add a warning to the user guide. Also, good luck explaining to average users how to compile their own OpenMPI and Boost...

The maintenance state of OpenMPI in Ubuntu LTS is terrible and the quality of OpenMPI seems to have gotten a lot buggier since the 1.8.x days. Boost.MPI has its own share of bugs and design flaws. It almost seems like it‘s not being used by many people other than us

[2019-08-11 22:56] fweik commented on #3056
@jngrad what is the actual problem this is causing? Is there a way it can be tested?

[2019-08-12 07:49] mkuron commented on #3056
As a workaround, you could try making a small allocation with
[code]
right after `MPI_Init` if one of the affected OpenMPI versions is detected. The crash happens while resizing the free list when it's first used later on, and if it is already initialized by that time, perhaps we can get by without a resize.

[2019-08-12 08:48] jngrad commented on #3056
@fweik see the original message on top, before @RudolfWeeber's edit