[2019-08-12 13:56] #3030 closed, assigned to jngrad

[2019-08-12 15:26] fweik opened #3079 "ICC and virtual sites not updated for energy and pressure calculation"

[2019-08-12 15:27] fweik commented on #3079
If the system has be changed by the user, virtual site and icc are not updated before the energy and pressure calculation, leading to wrong results.

[2019-08-13 09:39] fweik commented on #3079
Also true for area and volume conservation.

[2019-08-15 02:15] espresso-ci opened #3083 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8779

[2019-08-15 08:44] #3083 closed, assigned to nobody

[2019-08-15 13:15] fweik opened #3084 "Separate bond iteration, particle resolution and kernel"
Bonds need ghost particle access and synchronization, and as such need to be handled by
the cell system, probably within `short_range_loop` or similar. To this end the iteration over
the bonds, the resolving of the id's to particles and the kernel execution needs to be separated.
The should be separated kernels that take a parameter struct and a list of particle pointers as
input, and then e.g. ca

[2019-08-16 02:17] espresso-ci opened #3086 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8804

[2019-08-16 08:53] jngrad commented on #3086
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/150713
duplicate of #2924

[2019-08-16 09:14] #3086 closed, assigned to nobody

[2019-08-16 10:03] jngrad commented on #2985
@mkuron I was able to factor out the boost unit test logic, most of the Particle structure and most of the ParticleCache logic while preserving the backtrace in a MWE, but it still has the following dependencies:
[code]
I'm not familiar enough with our `MpiCallbacks` class to reduce it further.

[2019-08-16 12:17] RudolfWeeber opened #3087 "Update and IPython conversion of reactions tutorial"

[2019-08-16 12:21] RudolfWeeber commented on #3087
@kosovan, tracking ticket

[2019-08-16 12:29] RudolfWeeber opened #3088 "Add section about interface changes to release notes"
* Removal of global seed
* Seed passed to individual methods:
  * Langevin thermostat
  * DPD
  * LB Thermostat
  * Thermalized bodns
  * Reaction ensemble
* Changed LB Activation
* Changed polymer setup

[2019-08-17 10:55] jonaslandsgesell commented on #3088
The

* Wang-Landau-reaction ensemble
* reaction ensemble
* constant pH ensemble
* Widom insertion method
also take seeds now.

[2019-08-19 15:00] jngrad commented on #2985
@mkuron finally got the `MpiCallbacks` class out. The MWE is ~150 lines long and produces the error message of the first failing test, i.e. `BOOST_AUTO_TEST_CASE(update)`. See [openmpi-sample.tar.gz](https://github.com/espressomd/espresso/files/3516433/openmpi-sample.tar.gz)

[2019-08-19 15:17] mkuron commented on #2985
That‘s still quite a lot of code... is there any chance you could reduce it further? I still have no idea where the issue might be coming from.

[2019-08-19 15:47] jngrad commented on #2985
Well the first overloaded function of [`boost::mpi::reduce`](https://www.boost.org/doc/libs/1_68_0/doc/html/boost/mpi/reduce.html) requires a commutative merge operator (`class Merge`, `struct is_commutative`) for a serializable container (`boost::container::flat_set`, `void load`, `void save`, `void serialize`) of a serializable orderable class (`class Particle`, `class IdCompare`). There's nothi

[2019-08-19 16:16] mkuron commented on #2985
So do we now know whether it‘s OpenMPI‘s or Boost.MPI‘s fault? If not, we should probably reach out to Boost.MPI first and open an issue with them.

[2019-08-19 19:15] jngrad commented on #2985
I still can't tell. Manually following the sample.cpp GDB trace (file followed by the corresponding code):
[code]

It seemed the throw was triggered by the return value `MPI_ERR_TAG` of the call to `MPI_Recv()`. According to the [MPICH implementation](https://www.mpich.org/static/docs/v3.1.x/www3/MPI_Recv.html):

Modifying `/usr/include/boost/mpi/collectives/reduce.hpp` to printf the tag shows:

*

[2019-08-20 05:26] mkuron commented on #2985
Try reporting it at https://github.com/boostorg/mpi/issues. Tell them that we are unsure whether this is due to Boost.MPI incorrectly using MPI or OpenMPI 4.0 violating the MPI standard.

[2019-08-20 10:40] Kischy commented on #2922
**Part 1: Errors in the force calculation**
----------------------------------------------------------------------------------------
I finally found the errors in file "gay_berne.hpp" in the force calculation. I will do a pull request in the next few day.

Both errors are related to the parameter `gay_berne.sig`. The error does not matter if one uses a value of 1.0 for `gay_berne.sig`, in all othe

[2019-08-20 10:46] #3069 closed, assigned to nobody

[2019-08-20 12:17] jngrad commented on #2922
Thank you for looking into this.

The force function is less readable than the energy function due to the use of meaningless variable names for intermediate results (`a`, `b`, `Plus1`, `Minus1`, etc.). Updating the nomenclature would probably help a lot when comparing the code to the formula in the literature. If you used a paper to work out the math, please cite it in the Doxygen comment block.

[2019-08-20 12:35] Kischy commented on #2922
Thank you for your fast reply.

I did not use a paper to calculate the forces. I just calculated the (negative) derivatives of the potential using Sympy. Then I wrote my equations using the meaningless nomenclature used in code and compared them. Therefore I can't cite anything.
Concerning the nomenclature: The equations are quite long and therefore the original author of the code probably substit

[2019-08-20 15:15] jngrad commented on #2985
New datapoint: the error is not reproducible on Ubuntu 18.04 with OpenMPI 4.0.1 and boost 1.69.
Furthermore, the issue is independent of our merge operator and flat_set container: the second example with std::string in [boost tutorial/reduce](https://www.boost.org/doc/libs/1_69_0/doc/html/mpi/tutorial.html#mpi.reduce) produces the same error.

I now think the issue comes from Fedora 31. For exampl

[2019-08-20 17:28] mkuron commented on #2985
Where does the value of MPI_TAG_UB come from? It seems like it can be set from the outside too: https://github.com/open-mpi/ompi/blob/7962a8e40b132172488c8f3a38f531af44097b76/ompi/attribute/attribute_predefined.c#L132

[2019-08-20 17:33] jngrad commented on #2985
I'm using code extracted from [boost::mpi::environment::max_tag()](https://github.com/boostorg/mpi/blob/48879409552179b2d830740d0f44dcbfa8890aec/src/environment.cpp#L174-L180)

[2019-08-20 18:03] mkuron commented on #2985
Sure, but how does OpenMPI decide what value to use?

[2019-08-20 21:59] junghans commented on #2985
@opoplawski, any idea what is special about rawhide's openmpi package.

[2019-08-21 09:18] Kischy commented on #2922
I found a way to test the torque. No help needed at this time. Thank you.

[2019-08-21 09:50] Kischy commented on #2922
Quick question: Am I allowed to make a new file or at least a new class for the python integration tests of the GB potential, force and torque? It would be much cleaner, but I will code to your preference.

[2019-08-21 09:59] jngrad commented on #2922
We have a few exceptions, such as [testsuite/python/thermalized_bond.py](https://github.com/espressomd/espresso/blob/python/testsuite/python/thermalized_bond.py), but if possible we would prefer you keep the GB test logic in [testsuite/python/interactions_non-bonded.py](https://github.com/espressomd/espresso/blob/python/testsuite/python/interactions_non-bonded.py) and [testsuite/python/tests_commo

[2019-08-21 11:23] Kischy commented on #2922
Ok, thank you. I will create some helper functions for clarity, if that is ok.

[2019-08-21 11:33] jngrad commented on #2922
Sure, we use helper functions all the time. We write them as class methods (without the `test_` prefix) if they can be used by other test methods, otherwise we place them inside the test methods. See for example the 4 helper functions defined in [ObservableTests::test_BondDihedrals()](https://github.com/espressomd/espresso/blob/29488596c0ea6b8842fa0d5fded554d2c5df2947/testsuite/python/observable_c

[2019-08-21 12:33] Kischy commented on #2922
Ty

[2019-08-21 13:34] RudolfWeeber opened #3090 "Bump required cmake version to 3.10"
Cmkae fails for 3.8 and older.

[2019-08-21 14:02] RudolfWeeber commented on #3090
Ubuntu 16.4 has 3.9.2, which seems to work. So using that. PR is forthcoming

[2019-08-21 14:43] Kischy commented on #2922
I did a pull request (#3091).

I did not change the nomenclature, because I could not think of a better one yet. The tests should be sufficient now and the bugs are fixed. Will the GB potential stay in espresso now that it is properly tested? Do I need to do something else?

If there are problems with the pull request, please tell me on #3091.

[2019-08-21 15:30] jngrad commented on #3090
This means we can replace [`if(NOT ${CMAKE_VERSION} VERSION_LESS "3.12")`](https://github.com/espressomd/espresso/blob/29488596c0ea6b8842fa0d5fded554d2c5df2947/CMakeLists.txt#L25) by the more readable `if(${CMAKE_VERSION} VERSION_GREATER_EQUAL "3.12")` and remove the checks for [3.5.2](https://github.com/espressomd/espresso/blob/29488596c0ea6b8842fa0d5fded554d2c5df2947/CMakeLists.txt#L67) and [3.7

[2019-08-21 16:48] RudolfWeeber commented on #3090
OK. It's more complicated. Travis uses 3.9.2 on its runners. Ubuntu 16.4 has 3.5.
It's not clear to me under what conditions older cmake versions work.
I'm not going to work on this for 4.1

[2019-08-21 16:49] RudolfWeeber opened #3093 "Decide on minimum required versions for dependencies after 4.1"

[2019-08-21 16:54] RudolfWeeber opened #3094 "Add installation instructions for Windows Subsystem for Linux"

[2019-08-21 16:56] RudolfWeeber commented on #3088
https://github.com/espressomd/espresso/wiki/es_41_release_notes

[2019-08-21 19:12] junghans commented on #2985
@jngrad Do you guys have a mini-reproducer I can give to Fedora's openmpi maintainer?

[2019-08-21 19:12] junghans commented on #2985
As the problem is Fedora specific just open a bug report here: https://bugzilla.redhat.com/

[2019-08-21 19:18] fweik opened #3095 "Remove debug macros"
Remove the debug macros from `debug.hpp` and the corresponding includes. They are less powerful than a debugger and add a lot of noise and coupling.

[2019-08-21 19:21] fweik commented on #3095
This can probably be automated with a clever combination  of `unifdef` and `grep`.

[2019-08-21 19:24] jngrad commented on #2616
I've finally found a way to test both CPU and GPU versions of `Utils::Array` and `Utils::Span`. Mixed linking ([devblog](https://devblogs.nvidia.com/separate-compilation-linking-cuda-device-code/)) didn't work (got the same `__fatbinwrap` error as in [1](https://devtalk.nvidia.com/default/topic/987956/cuda-setup-and-installation/a-question-llvm-ir-for-cuda-code/), [2](https://devtalk.nvidia.com/de

[2019-08-21 19:30] jngrad commented on #3095
<s>Please cherry-pick  0c63f76 first! One debug macro is misnamed and can fool tooling.</s> Update: dealt with in #3098. Use grep on [maintainer/configs](https://github.com/espressomd/espresso/tree/python/maintainer/configs), too, and update [doc/sphinx/installation.rst](https://github.com/espressomd/espresso/blob/python/doc/sphinx/installation.rst) accordingly.

[2019-08-21 20:14] jngrad commented on #2985
We're currently unsure from which package the issue comes from. The GDB backtrace is incomplete, and when I tried to fill in the gaps by manually inspecting the boost::mpi header files, I ended up with a path that wasn't actually visited, because commenting out parts of that path had no effect on the GDB backtrace, excepted for showing inexistent filenames. Without a complete backtrace, it's diffi

[2019-08-22 08:36] RudolfWeeber commented on #3095
Once the debug macros are gone, we can also remove the nocheck_maxset CI job.

[2019-08-22 18:18] jngrad commented on #2683
Done.

[2019-08-22 18:18] #2683 closed, assigned to KonradBreitsprecher

[2019-08-23 11:13] #2922 closed, assigned to nobody

[2019-08-23 12:08] espresso-ci opened #3097 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8917

[2019-08-23 12:36] #3097 closed, assigned to nobody

[2019-08-23 12:57] jngrad commented on #3095
Obvious candidates were removed in #3098. The 12 remaining ones are located in parts of the core I'm less familiar with. These grep commands print the number of occurrences of debug/trace macros:
[code]

[2019-08-23 13:01] jngrad commented on #3095
Some debug messages could be converted to comments. I've seen a few helpful `CELL_TRACE` printf messages that clarified what the code was doing when moving particles to neighboring cells.

[2019-08-23 16:16] espresso-ci opened #3099 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8922

[2019-08-23 18:49] #3099 closed, assigned to nobody

[2019-08-23 20:51] fweik opened #3101 "GB should return only one torque"
Currently GB returns one force, but two independent torques. This is not needed,
as the opposing torque can be calculated (as is the opposing force). It should instead
return a `ParticleForce`.

[2019-08-23 20:55] fweik opened #3102 "Thole should be part of coulomb"
The Thole dampening should be part of the coulomb short range calculation, and its parameter
stored per particle (looking at [LAMMPS](https://lammps.sandia.gov/doc/pair_thole.html), this should be possible to store the a and alpha parameters per particle). With this the drude model
would no longer need bonds on ghosts and the bond lookup for the exclusion.

[2019-08-23 21:00] #3034 closed, assigned to jngrad

[2019-08-24 18:07] jngrad commented on #2943
The error happens in the call to `variant_to_python_object()` at line 115:

https://github.com/espressomd/espresso/blob/e2e7c5db0a71b5270734ec2443a0f8408467ce99/src/python/espressomd/script_interface.pyx#L115-L118

The cryptic error message in my original post was caused by the return statement at line 118. Not sure why execution didn't halt, maybe the creation of the Python object from the core v

[2019-08-25 02:33] espresso-ci opened #3103 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8928

[2019-08-25 10:41] jngrad opened #3104 "drude gpu sample fails CI"
Two samples have been randomly failing tests recently:
* Grand Canonical has large deviations from target concentration (for the last 2 weeks)
* Drude in BMIM PF6 has broken bonds (for the last 2 days)

[2019-08-25 10:41] jngrad commented on #3103
sample_drude_bmimpf6_with_gpu
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/153399
sample_grand_canonical
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/153402
see #3104

[2019-08-25 10:41] jngrad commented on #3099
sample_drude_bmimpf6_with_gpu
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/153218
see #3104

[2019-08-25 10:41] jngrad commented on #3097
sample_drude_bmimpf6_with_gpu
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/153073
see #3104

[2019-08-25 10:41] jngrad commented on #3083
sample_grand_canonical
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/150552
see #3104

[2019-08-25 11:32] #3103 closed, assigned to nobody

[2019-08-28 02:17] espresso-ci opened #3106 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8946

[2019-08-28 08:27] jngrad commented on #2924
master is still failing:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/153761

[2019-08-28 08:27] jngrad commented on #3106
duplicate of #2924

[2019-08-28 08:51] #3106 closed, assigned to nobody

[2019-08-29 02:18] espresso-ci opened #3108 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8963

[2019-08-29 03:40] pkovacs commented on #2985
I discovered that the issue is somewhere in the ucx support of openmpi.  If you rebuild openmpi without ucx, the problem goes away and the tag reports the correct value, as I mentioned on the [Fedora bug report](https://bugzilla.redhat.com/show_bug.cgi?id=1746564)

[2019-08-29 05:20] hjelmn commented on #2985
Not a bug in Open MPI. There are no guarantees in the MPI standard on what the tag ub is. Any code using MPI must use a tag below the tag ub.

[2019-08-29 08:48] #3108 closed, assigned to nobody

[2019-08-29 16:39] jngrad commented on #2985
MPI tag issue reported on Red Hat Bugzilla under [Bug 1746564](https://bugzilla.redhat.com/show_bug.cgi?id=1746564). The root cause was an incorrect value for `MPI_TAG_UB` in the Open MPI 4.0.1 library which caused integer overflow in UCX. It has been fixed in the upcoming Open MPI 4.0.2 release. [Bug 1728057](https://bugzilla.redhat.com/show_bug.cgi?id=1728057) has been notified. I'm closing this

[2019-08-29 16:39] #2985 closed, assigned to nobody

[2019-08-29 16:42] hjelmn commented on #2985
Yup. pml/ucx had a bug. Sorry for the noise. Max tag is something that should be covered by our tests but apparently not.

[2019-08-30 18:08] jngrad opened #3110 "Update samples with WCA"
WCA is part of the default features since March. We could now replace most occurrences of
[code]
by
[code]

Candidates:
* samples/billiard.py
* samples/cellsystem_test_deterministic.py
* samples/cellsystem_test_det.py
* samples/cellsystem_test_visu.py
* samples/chamber_game.py
* samples/constraints.py
* samples/electrophoresis.py
* samples/espresso_logo.py
* samples/grand_canonical.py
* samples/mi

[2019-08-30 19:56] #2943 closed, assigned to jngrad

[2019-08-31 02:17] espresso-ci opened #3111 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/8985

[2019-08-31 13:15] #3111 closed, assigned to nobody

[2019-08-31 15:57] jngrad commented on #3101
How would you deduce the opposing torque? GB torques aren't symmetric.

[2019-09-03 09:17] jngrad commented on #2977
Maybe have a look at the [Consistency of Floating-Point Results using the Intel® Compiler](https://software.intel.com/en-us/articles/consistency-of-floating-point-results-using-the-intel-compiler), section *Bottom Line*, which provides Linux/macOS/Windows compiler flags to get consistent results across different CPU architecture. That paragraph is copy-pasted from the PDF in the page footer, which

[2019-09-03 12:52] RudolfWeeber commented on #2960
Replaced by #3079

[2019-09-03 12:52] #2960 closed, assigned to RudolfWeeber

[2019-09-03 12:55] RudolfWeeber commented on #2953
I also saw this behaviour in early results from Walberla's thermalized LB.
A possible explanation would be an overshoot in the stress  relaxation.
In that case, this should go away for lower viscosities or temperatures.

[2019-09-03 12:59] RudolfWeeber commented on #2689
As Walberla support has been de-milestoned, work on this can be delayed.

[2019-09-03 13:01] RudolfWeeber commented on #2685
@reinaual, what is the status here?

[2019-09-03 13:29] RudolfWeeber commented on #2990
Not everything untested is a compile time feature.

To still block the use of some stuff, we'd need a decorator

[code]

[2019-09-03 15:11] itischler commented on #3079
I will look at this on the coding day

[2019-09-04 07:09] christophlohrmann commented on #2997
can do

[2019-09-04 08:38] jonaslandsgesell opened #3115 "Document how to run ipython notebooks"
searching in the documentation http://espressomd.org/html/doc/
does not give a significant hit for notebook/ ipython / ipypresso/ jupyter

For people creating tutorials it is also important to know how to clear cells (output) such that when commiting to git the diff is not too huge. Please document this in the wiki.

[2019-09-04 08:59] christophlohrmann commented on #3052
@hmenke  I have two questions about the `rotational_friction` feature:
1.) why is this an "active" feature? I understand that it needs the fluid velocity at a body-fixed distance but the rotational friction does not depend on self propulsion.
2.) where does the formula for omega_swim come from? I do not see why the cross product has to be normalized and then rescaled with the norm of the velocity

[2019-09-05 02:16] espresso-ci opened #3118 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9004

[2019-09-05 08:03] RudolfWeeber opened #3119 "Switch NPT to Philox"

[2019-09-05 08:08] RudolfWeeber opened #3120 "Affinity needs to use Philox with its own seed/salt"

[2019-09-05 08:17] #3118 closed, assigned to nobody

[2019-09-05 08:21] RudolfWeeber opened #3121 "Affinity needs to be refactored"
* The application of forces should not be mixed with creating/removing bonds.
This part of the functionality needs to be moved to collision detection and the upcoming bond breakage.

* There should be separate non-bonded interactions for separate force expressions.

* There is no test coverage.

* In the interest of performance, if the debugging file I/O is still needed after tests are written, it

[2019-09-05 08:34] RudolfWeeber opened #3122 "Reaction ensemble sstill depends on global seed"
in ReactionEnsemble::ConstantpHEnsemble::get_random_valid_p_id() calls i_random().
@jonaslandsgesell, please obtain a random int from the reaction ensemble's private generator, otherwise things can become non-deterministic in a complicated way.

This might be the cause of #2755

[2019-09-05 09:00] pkreissl commented on #3088
Taking care of this.

[2019-09-05 09:52] RudolfWeeber commented on #3115
See the readme in doc/tutorials

[2019-09-05 12:12] pkreissl commented on #3088
The interface changes have been added to the draft for the release notes. Please remember that the links in on the release notes wiki page currently point to the **ESPResSo devel** documentation. Upon release the 4.1 documentation should be uploaded and the links updated accordingly.

[2019-09-05 14:01] RudolfWeeber opened #3129 "Remove uninterfaced HarmonicWwell and HarmonicOrientationWell"
src/core/actors

[2019-09-05 16:52] #3110 closed, assigned to nobody

[2019-09-05 16:52] #3115 closed, assigned to jngrad

[2019-09-05 16:52] #3129 closed, assigned to nobody

[2019-09-05 17:42] jngrad commented on #3104
Drude is still failing:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/156474
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/154727

[2019-09-05 17:53] #2997 closed, assigned to christophlohrmann

[2019-09-05 19:19] jngrad opened #3134 "DAG in GitLab-CI shortcomings"
The new CI dependency graph introduced in #3109 (later modified in #3133) doesn't always work.

For example when stage 1 fails, stage 3 still runs instead of going directly to stage 4:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9012

When some jobs in stage 2 fail, stage 3 can't start and we never reach stage 4:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelin

[2019-09-06 07:52] jonaslandsgesell opened #3135 "Langevin Test Fails on the institute machines"
[code]

[2019-09-06 07:57] jonaslandsgesell commented on #3122
Fixed in f328a0458136e6f2c36b1a6e66546f6b38de576a, but does not fix issue #2755

[2019-09-06 08:03] #2685 closed, assigned to reinaual

[2019-09-06 08:15] jngrad commented on #3135
[numpy.histogram docs](https://docs.scipy.org/doc/numpy/reference/generated/numpy.histogram.html):

Our [requirements.txt](https://github.com/espressomd/espresso/blob/b363e1dd62bf3c97dc6fd3f536807b8125d18673/requirements.txt) doesn't say anything about the version number of numpy required in espresso. I'd say we replace `normed` by `density` in all calls to `np.histogram()`. Affected files:

* tes

[2019-09-06 08:29] KaiSzuttor commented on #3135
the deprecation warning is not connected to the failing test

[2019-09-06 08:30] jonaslandsgesell commented on #3135
I also use numpy version 1.16.4 and the current development branch

[2019-09-06 08:32] KaiSzuttor commented on #3135
please check what the difference is to the environment used in CI

[2019-09-06 08:34] jngrad commented on #3135
please post your myconfig.hpp

[2019-09-06 08:38] jonaslandsgesell commented on #3135
#define EXPERIMENTAL_FEATURES
#define EXTERNAL_FORCES
#define MASS
#define EXCLUSIONS
#define BOND_CONSTRAINT

/* Rotation */
#define ROTATION
#define ROTATIONAL_INERTIA

/* Electrostatics */
#define ELECTROSTATICS
#define VIRTUAL_SITES_RELATIVE
#define LENNARD_JONES
#define LENNARD_JONES_GENERIC
#define GAY_BERNE

[2019-09-06 08:40] jngrad commented on #3135
I can also get it to fail with maxset.hpp minus the `PARTICLE_ANISOTROPY` feature

[2019-09-06 12:29] jngrad commented on #2924
even after merging #3132, it's still possible to get the p3m benchmark to fail on coyote7 after 200 trials: `Exception: Error during tune_skin: ERROR: number of cells 1 is smaller than minimum 8 (interaction range too large or min_num_cells too large)`

[2019-09-06 15:25] jngrad commented on #3134
Offline discussion with @RudolfWeeber: we might have to re-create the scenario described above in PRs and tweak the DAG until it's fixed.

[2019-09-06 16:24] #3135 closed, assigned to nobody

[2019-09-07 02:20] espresso-ci opened #3139 "Missing feature guards in samples"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9069

[2019-09-07 11:15] jngrad commented on #2549
What are the steps to reproduce the MPI hang? With OpenMPI 2.1.1, this script quits immediately:
[code]
[code]

[2019-09-07 11:52] jngrad commented on #2990
Fixed by #3131

[2019-09-07 11:52] #2990 closed, assigned to nobody

[2019-09-07 18:39] jngrad commented on #3095
The `debug.hpp` include is required in some places to get access to the global variable `this_node`. It's not always possible to use `communication.hpp` because we cannot include `mpi.h` in CUDA code, e.g. in `EspressoSystemInterface.hpp`.

There is a global variable `regular_exit` that doesn't seem used. The `CUDA_DEBUG` guards a call to `cudaDeviceSynchronize()`, if it's helpful for debugging GP

[2019-09-07 19:00] fweik commented on #3095
Using `this_node` but not needing access to a communicator sounds odd.

[2019-09-07 19:15] #3139 closed, assigned to jngrad

[2019-09-07 20:11] espresso-ci opened #3142 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9077

[2019-09-07 20:43] jngrad commented on #3142
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/157490
duplicate of #3104

[2019-09-07 21:01] #3142 closed, assigned to nobody

[2019-09-08 02:15] espresso-ci opened #3143 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9078

[2019-09-08 08:40] #3143 closed, assigned to nobody

[2019-09-09 10:11] pkreissl commented on #3088
@RudolfWeeber, you want to keep this issue open for last-minute interface changes before the deadline? Or is this one resolved?

[2019-09-09 13:28] RudolfWeeber commented on #2276
I'll do this

[2019-09-09 15:46] RudolfWeeber opened #3145 "system.analysis.linear_momentum is fishy"
because it uses
mass * velocity +Force/2 *timestep / mass (statistics.cpp:predict_momentum_particles())
for the particle momentum, independently of wheter or not the fluid momentum is requested or not.

I think, the F/2 in the particle momentum may be wrong even in conjunction with LB particle coupling, since:
* not all the forces on the particles originate from the LB coupling
* It is not clear t

[2019-09-09 17:56] #3079 closed, assigned to nobody

[2019-09-09 19:41] jngrad opened #3147 "Coulomb tuning fails CI on AMD GPU"
Over the last 2 days:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/157535
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/157613
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/157493
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/157874
Restarting the job often fixes it.

[2019-09-10 09:01] RudolfWeeber commented on #3147
Wasn’t there a hack in the testsuite preventing p3m_gpu from running on the AMD GPU. That was, IIRC, for a specific card ID. Now, we have a different card in the new CI machine.

[2019-09-10 09:19] mkuron commented on #3147
Is there a reason why we never looked at why the tuning selects a bad set of parameters?

[2019-09-10 09:42] JensWehner opened #3149 "Fatal Python error: Py_Initialize: can't initialize sys standard streams espresso 4.0.2"
System is Ubuntu 18.04. LTS all denpendencies were installed according to manual

``cmake  -DPYTHON_EXECUTABLE=`which python3` -DCMAKE_INSTALL_PREFIX=~/Programs/espresso-4.0.2 ..
``

[cmake.log](https://github.com/espressomd/espresso/files/3594892/cmake.log)

Executing `make` the following error appears:
`[ 68%] Linking CXX shared library analyze.so`
`[ 68%] Built target analyze`
`[ 68%] Generatin

[2019-09-10 10:08] jngrad commented on #3149
We are still unsure why this issue exists. What happens when you adapt the build script attached in [2019-07/msg00029](https://lists.nongnu.org/archive/html/espressomd-users/2019-07/msg00029.html) and try compiling espresso with it?

[2019-09-10 10:18] KaiSzuttor commented on #3149
it's somehow related to the python script that generates ```code_info.pyx``` and the fact that we called a module ```io``` which was probably not the best idea. However, I cannot reproduce this issue... Therefore it's difficult to trace it.

[2019-09-10 13:34] JensWehner commented on #3149
It worked.

[2019-09-10 13:39] KaiSzuttor commented on #3149
And what has changed?

[2019-09-10 13:41] jngrad commented on #3149
The `io` module is renamed `io_` during compilation, and renamed back to `io` during installation.

[2019-09-10 13:51] #3147 closed, assigned to nobody

[2019-09-10 13:52] KaiSzuttor commented on #3149
But how could you resolve your issue? Maybe helpful for other users.

[2019-09-10 13:54] jngrad commented on #3149
The patch and build script are attached at the end of the mail in [2019-07/msg00029](https://lists.nongnu.org/archive/html/espressomd-users/2019-07/msg00029.html).

[2019-09-10 13:57] JensWehner commented on #3149
Sorry for the short answer. I used the patch and build script, I changed only the paths for cmake in that script.

[2019-09-10 14:00] jngrad commented on #3149
The only thing to adapt is replacing the list of options in the line `cmake .. <options>` by the options you would have normally used without the patch.

[2019-09-10 14:03] KaiSzuttor commented on #3149
@jngrad this only helps circumventing the symptoms of the issue, I'd like to know how to reproduce it

[2019-09-10 14:47] #3052 closed, assigned to hmenke, christophlohrmann

[2019-09-10 14:55] jngrad commented on #3149
I finally found the issue! To reproduce it:
[code]
The trailing colon symbol causes the local folder to be included in the Python search tree, therefore searching for the built-in io module returns 2 results and the resolution mechanism selects the io module in the current folder. This happens when writing the following statement in `${HOME}/.bashrc`:
[code]
If `$PYTHONPATH` was an empty string, y

[2019-09-10 15:03] #3149 closed, assigned to nobody

[2019-09-10 15:36] jonaslandsgesell commented on #3122
Is fixed in #3116

[2019-09-10 16:02] RudolfWeeber commented on #2924
Out of ideas. De-milestoning.

[2019-09-10 16:04] #3088 closed, assigned to nobody

[2019-09-10 16:11] RudolfWeeber commented on #3001
Offline discussion with @reinaual:
No solution was found inspite of considerable effort.
We're going to block the affected combintaion of features.

[2019-09-10 16:28] #3087 closed, assigned to jonaslandsgesell

[2019-09-10 16:28] #3122 closed, assigned to nobody

[2019-09-10 21:09] jngrad commented on #3134
It looks like `check_cuda_maxset_no_gpu` is sometimes rebuilding the core and Python interface instead of recycling the artifacts, which increases the runtime  from 5 min to 20 min:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/159169

[2019-09-11 09:52] #3095 closed, assigned to jngrad

[2019-09-11 10:16] fweik opened #3154 "Observables: Particle selection and filtering should be independent of observable"
For particle observables the selection and filtering of the particles should be independent
of what is calculated. These are those currently derived from `Obsevables::PidObservable`,
and are already a separate class hierarchy. One plan of action could be to change the the
signature of `virtual std::vector<double> Obsevables::PidObservable::evaluate(PartCfg &partCfg) const` to `virtual std::vector<

[2019-09-11 14:21] RudolfWeeber opened #3157 "Split the Particle definition from the rest of particle_data.hpp"
To avoid circular includes

[2019-09-11 15:12] RudolfWeeber opened #3158 "Identify and sort out interdependence between virtual sites and ComFixed, RATTLE"

[2019-09-11 16:16] #2875 closed, assigned to KaiSzuttor

[2019-09-12 09:32] RudolfWeeber commented on #2964
It is not clear to me, whether this would be a user-visible change. Does this change the numeric values of ParticleHandle.quat representing a specific orientation?

[2019-09-12 10:18] mkuron commented on #3147
To reproduce this issue locally, use lama (which has an AMD GPU) and run two instances of the test simultaneously. When only one is running, the issue does not occur.
[code]

[2019-09-12 11:53] #2502 closed, assigned to jngrad

[2019-09-12 11:53] #3033 closed, assigned to jngrad

[2019-09-12 11:57] bogdan-tanygin commented on #2964
I think that it will swap 1st and last quaternion component visible by
user. Maybe some signs. I've already seen 2 options of these formalism in
different books. Maybe I will just add a reference to the textbook
additionally to the present references with a note of this difference?

Sincerely yours / mit freundlichen Grüßen,
Bogdan Tanygin

On Thu, 12 Sep 2019, 12:32 RudolfWeeber, <notifications@g

[2019-09-12 12:05] pdebuyl commented on #2964
Hey, just pitching in :-)

One important issue is whether one can store quaternions in the output data. If so, I would like to support -- if possible -- to conform to the storage scheme of a nice quaternion library in Python, [rowan](http://rowan.readthedocs.io/en/latest/). Their scheme is "scalar i j k" components.

For processing the rotational dynamics via, say, H5MD files, this would make it v

[2019-09-12 13:52] bogdan-tanygin commented on #2964
in this case, I suppose, that existing quaternion scheme is already fine. Cause, for a value of (1,0,0,0), the body and space frames coincide. I need to check, but I think so. So, only a reference correction (addition), perhaps, is needed. I can do it if needed.

[2019-09-12 22:21] jngrad commented on #2964
In my opinion, the current formalism is espresso is not satisfactory. The indices do not match those from other libraries like `boost::math::quaternion`, and operations like [rotation inversion](https://github.com/espressomd/espresso/blob/a7172b01e4f8035945678c9cf08344e767a5faa7/src/core/virtual_sites.cpp#L98-L110) and [first/second derivative](https://github.com/espressomd/espresso/blob/a7172b01e

[2019-09-13 06:10] RudolfWeeber commented on #2964
When I implemented the code rotating a single particle, I had the imperssion that Espresso uses quaternions the way, they are described in the Wikipedia.

I have reservations about changing the meaning of quaternion indices in a way that is visible to the user. That would be a really nasty silent interface change. Users specify quaternions directly, e.g., for virtual sites which have a fixed orien

[2019-09-13 19:12] jngrad commented on #3056
I've tried @mkuron's workaround with various allocation sizes without success. However, it can be remediated by not using the `ADDITIONAL_CHECKS` feature (tested on maxset).

[2019-09-13 21:12] mkuron commented on #3056
Interesting find. Do you know which one of the additional checks triggers it? If so, we could conditionally disable that check if an affected OpenMPI version is used.

[2019-09-13 21:49] jngrad commented on #3056
Didn't have the time to bisect the code, but that shouldn't be too hard now that we have this information. Good thing that it's in this feature, because we don't need it for production runs.

[2019-09-14 12:58] bogdan-tanygin commented on #2964
@jngrad could you please specify which indices do not match? Is the boost quaternion "scalar i j k"?

[2019-09-14 13:08] bogdan-tanygin commented on #2964
please correct me if I'm wrong. I think, I've just found answer:
https://cs.brown.edu/~jwicks/boost/libs/math/quaternion/quaternion.html
... real and R_component_1 return the same value. ...
Hence, yes, should be "scalar i j k".

[2019-09-14 15:23] jngrad commented on #2964
Nevermind, `quaternion<T> & boost::math::quaternion::operator *=(quaternion<X> const & rhs)` has the exact same formula as in our multiplication function if I re-arrange the terms properly. Both boost and espresso use the {scalar, vector} aka `(w, i, j, k)` format.

[2019-09-14 16:08] bogdan-tanygin commented on #2964
great! So, after the work on #3164 I suggest to add some reference which align referred works Martys1999/Omelyan1998/sonnenschein1985 towards our implemented formalism. It can be e.g. `Allen, Michael P., and Dominic J. Tildesley. Computer simulation of liquids. Oxford university press, 2017.` considering highly cited textbooks. I can help with it, probably, this is just comments in the source code

[2019-09-14 17:57] jngrad commented on #3056
Here is the call site that triggers the OpenMPI bug:
https://github.com/espressomd/espresso/blob/ab33eaef9aa664b54dca5c6c34585238b8725fc0/src/core/event.cpp#L160-L167
It is guarded by `ADDITIONAL_CHECKS`. The code calls `boost::mpi::broadcast(comm, root_value, 0)` with `root_value` containing an enum value.  If we use instead `static_cast<int>(coulomb.method)` and `static_cast<int>(dipole.method)`

[2019-09-15 15:53] #3056 closed, assigned to nobody

[2019-09-15 15:59] espresso-ci opened #3170 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9239

[2019-09-15 17:20] #3170 closed, assigned to nobody

[2019-09-16 02:16] espresso-ci opened #3171 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9245

[2019-09-16 07:33] jngrad commented on #3171
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/162510
duplicate of #3104

[2019-09-16 07:51] #3171 closed, assigned to nobody

[2019-09-16 08:08] espresso-ci opened #3172 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9246

[2019-09-16 08:13] jngrad commented on #3172
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/162549
duplicate of #3104

[2019-09-16 08:33] #3172 closed, assigned to nobody

[2019-09-16 09:00] espresso-ci opened #3173 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9251

[2019-09-16 09:40] #3173 closed, assigned to nobody

[2019-09-16 14:09] #2276 closed, assigned to nobody

[2019-09-17 02:16] espresso-ci opened #3175 "Feature guards for electrokinetics tutorial"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9264

[2019-09-17 09:17] RudolfWeeber commented on #3001
@reinaual, can you please open a Pr which blocks the activation of ELC with the non-working parameter combinations.
Please also add entries to the ES 4.1 release notes in the Wiki, explaining what you fixed and what wasn't fixed.

[2019-09-17 11:04] #3175 closed, assigned to jngrad

[2019-09-18 13:55] fweik opened #3180 "Separate RPC interface and parallel core"
Currently thee parallel core (mpi synchronous) and frontend interface (callbacks) are fused together. This should be separated for clarity and for making sure only the latter is called from the script level, which has been one of the most common bugs in the past. Then we need to
decide what to do in the future, because conceptually there is some overlap between direct
callbacks and the script inte

[2019-09-19 02:17] espresso-ci opened #3181 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9295

[2019-09-19 07:44] #3181 closed, assigned to nobody

[2019-09-20 10:01] #2180 closed, assigned to nobody

[2019-09-20 10:01] jonaslandsgesell commented on #2180
It does not use the exclusion radius anymore

[2019-09-20 14:18] jngrad commented on #2306
Just tried @mkuron's combination on Ubuntu18.04. 180 files were updated. The formatting is now more consistent, however it is also more zealous, e.g.:
[code]
or
[code]
Just like in autopep8 v0.9.1, the formatting remains sub-optimal when the input is incorrectly formatted. For example if we put a carriage return after opening a square bracket, autopep8 v1.3.4 will not fix it, which causes this:
[c

[2019-09-20 14:27] mkuron commented on #2306
We should. These examples are just ugly.

[code]

That change is not useful enough to be worth the other uglyness. `if X not in` and `if not X in` are just different syntax for the same thing, right?

[2019-09-20 14:33] jngrad commented on #2306
that's the same syntax, `if not X in` is corrected because it is ambiguous (adding parentheses changes the behavior: `if (not X) in`)

[2019-09-20 14:41] RudolfWeeber commented on #2306
Aye!

[2019-09-20 14:43] mkuron commented on #2306
It's not ambiguous if we can expect our developers to know that the `in` operator has higher precedence than the `not` operator. This precedence should not be a surprise to anyone because member access (`.__contains__(X)`) obviously has higher precedence than negation.

[2019-09-20 18:35] jonaslandsgesell opened #3185 "Use published result to check LJ rdf in tutorials test"
We could show the published result for the LJ rdf in the tutorial and use it in the test for the LJ tutorial:

https://www.sciencedirect.com/science/article/pii/S0301010404005452

[2019-09-20 22:23] jngrad commented on #2306
Here is the formatted code at different levels of aggressiveness:
* [default](https://github.com/jngrad/espresso/commit/14ba52968611abc71fd10520e92f4f947e2ca457): improves the formatting in a consistent manner
* [`--aggressive`](https://github.com/jngrad/espresso/commit/dc9d8944d35b55492bb8395cdebe88e5d1ff70b7): adds `BaseException`, trims decorative separators, wraps around comments longer than 8

[2019-09-21 09:03] RudolfWeeber commented on #2306
I don’t find the line wrapping that important, but I’m also fine with –aggressive once.

Since you looked at it in the most detail, I suggest, you make the decision.

[2019-09-21 15:56] jngrad opened #3187 "Guard CUDA-specific statement in Barnes Hut"
The following conditional macro is undefined behavior:
https://github.com/espressomd/espresso/blob/03536720f4ac54a3ea201ed9f71265a13d6d8cd5/src/core/actor/DipolarBarnesHut_cuda.cu#L845-L850
because `CUDA_VERSION` expands to nothing. To get it we need to `#include <cuda.h>` somewhere, and then we need to guard the conditional above with an additional check for CUDA via Nvidia. It is used twice in t

[2019-09-21 21:19] jngrad commented on #2306
@mkuron it looks like we cannot expect our developers to know `in` has higher precedence :)
https://github.com/espressomd/espresso/blob/03536720f4ac54a3ea201ed9f71265a13d6d8cd5/src/python/espressomd/electrokinetics.pyx#L39-L45
I'll change those and others to `not in` for consistency, as recommended in [PEP8](https://www.python.org/dev/peps/pep-0008/#programming-recommendations). I'll use only one

[2019-09-23 07:47] KaiSzuttor commented on #3145
resolved in #3156

[2019-09-23 07:47] #3145 closed, assigned to nobody

[2019-09-23 07:49] RudolfWeeber commented on #3145
Is that change already mentioned in the release notes in the ES wiki? Otherwise, please do so.

[2019-09-23 08:04] #2306 closed, assigned to nobody

[2019-09-23 08:12] RudolfWeeber commented on #3001
acitvating the affected featues was blocked. De-milestoning this issue.

[2019-09-23 08:26] fweik commented on #3187
Are you sure about the "undefined behavior"? cppref says

which suggests that `CUDA_VERSION >= 9000` just evaluate to false if `CUDA_VERSION` is not defined.

[2019-09-23 08:49] jngrad commented on #3187
I should have looked harder. This explains why the macro takes the second branch.

[2019-09-23 11:46] mkuron commented on #3187
HIP still uses the `__all` branch. `__all_sync` does not exist there. So the current branching is correct, but you indeed need to add something like
[code]
to the beginning of the file.

[2019-09-23 12:23] jngrad commented on #3187
I'll add the include. For the conditional, I'd argue we should write
[code]
because testing a value that does not actually exist (when compiling with HIP) does not make sense, right?

[2019-09-23 12:39] mkuron commented on #3187
Actually, change it to `defined(__CUDA__) && CUDA_VERSION >= 9000`. One could also use hipcc to compile for a CUDA target, so there are situations where your suggestion would not work...

[2019-09-23 15:43] jngrad opened #3194 "Python3 linter"
`pylint` was recently removed (b720b5c1) because it only checked for one warning that had become a false positive in Python3. We can re-enable it (and move it to the style check job) if there is a need for rules that cannot be enforced by `autopep8`. A few candidates: `class-naming-style`, `const-naming-style`. Feel free to propose more rules here. The full list can be found in [Pylint features](h

[2019-09-23 16:40] #3187 closed, assigned to nobody

[2019-09-24 02:16] espresso-ci opened #3195 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9344

[2019-09-25 00:49] CompRhys commented on #2232
I am returning to this line of work and would like to integrate a faster method to get the structure factor as an additional routine i.e. structure_factor_fast or something similar. For personal use I previously just hacked in my solution but in order to make my work more reproducible I think it is best to try have the method included via a PR.

The idea is that rather than looking at every grid p

[2019-09-25 02:15] espresso-ci opened #3201 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9364

[2019-09-25 10:15] #3195 closed, assigned to jngrad

[2019-09-25 10:15] #3201 closed, assigned to nobody

[2019-09-25 16:20] jngrad commented on #3194
`pylint` can't run on Cython files, therefore whenever a .py file loads a function from a .pyx file, a warning is generated, usually one of E0001/E0401/E0611/E1101. The solution is to whitelist rules using `--disable=all --enable=...`. Most of the `pylint` logic has already been written down in the `fix_style.sh` script that runs in the style job, it's only a matter of reverting commit f2ea574 and

[2019-09-26 02:11] espresso-ci opened #3204 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9379

[2019-09-26 09:02] KaiSzuttor opened #3205 "Check LB tutorial with current HEAD"

[2019-09-26 09:05] KaiSzuttor opened #3206 "Check lennard-jones tutorial with current HEAD"

[2019-09-26 09:05] KaiSzuttor opened #3207 "Check charged systems tutorial with current HEAD"

[2019-09-26 09:06] KaiSzuttor opened #3208 "Check active matter tutorial with current HEAD"

[2019-09-26 09:06] KaiSzuttor opened #3209 "Check electrokinetics tutorial with current HEAD"

[2019-09-26 09:07] KaiSzuttor opened #3210 "Check ferrofluid tutorial with current HEAD"

[2019-09-26 09:08] KaiSzuttor opened #3211 "Check reaction ensemble tutorial with current HEAD"

[2019-09-26 12:24] jonaslandsgesell commented on #3211
I suggest to remove this old tutorial.
I would even do it before the release.

[2019-09-26 12:35] jngrad opened #3215 "Use AST parser in the tutorial test logic"
Replace as many of the regex patterns in [`importlib_wrapper.py`](https://github.com/espressomd/espresso/blob/python/testsuite/scripts/importlib_wrapper.py) by AST expressions.

[2019-09-26 12:47] jngrad commented on #3210
@mbschumacher confirmed to me the tutorial was working as intended.

[2019-09-26 12:47] #3210 closed

[2019-09-26 13:56] #3206 closed, assigned to jonaslandsgesell

[2019-09-26 14:29] jngrad commented on #3093
* Python (currently >= 3.3), Cython (currently >= 0.23)
* CMake: discussion in #3090
* boost: versions below 1.67 make the [CMake logic convoluted](https://github.com/espressomd/espresso/blob/d14acdb8642e3546b95a4a3ad9880df6422bf0b5/CMakeLists.txt#L378-L403),  dockerfiles require patches
* python packages: numpy, scipy, pylint, vtk, etc. should be written to [`requirements.txt`](https://github.com

[2019-09-26 15:18] itischler commented on #3209
Tested it and it works as intended

[2019-09-26 15:56] #3209 closed, assigned to itischler

[2019-09-26 17:11] #3208 closed, assigned to christophlohrmann

[2019-09-26 18:55] #3204 closed, assigned to jngrad

[2019-09-26 19:47] espresso-ci opened #3217 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9411

[2019-09-26 19:57] KaiSzuttor commented on #3217
we have to fix the drude sample...

[2019-09-26 20:05] jngrad commented on #3217
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/167414
duplicate of #3104

[2019-09-26 20:23] #3217 closed, assigned to nobody

[2019-09-27 07:49] jonaslandsgesell commented on #3058
01 lennard jones fluid: We could show the published result for the LJ rdf in the tutorial and use it in the test for the LJ tutorial:
https://www.sciencedirect.com/science/article/pii/S0301010404005452
However the number of fit parameters seem excessive to me. Maybe we can only check for the limiting behaviour lim r-> 0 g(r) =0, lim r-> infty g(r)=1.

[2019-09-27 07:50] jonaslandsgesell commented on #3185
Mentioned in #3058

[2019-09-27 07:50] #3185 closed, assigned to nobody

[2019-09-27 14:35] jngrad commented on #3194
Rule `C0411` detected 128 python files where import statements are incorrectly ordered. Cython and IPython files have the same issue. We could re-order them, just like we re-order C++ includes in the core to minimize merge conflicts. @KaiSzuttor found out [fiximports](https://pypi.org/project/fiximports/) might help automate this task.

[2019-09-27 14:39] KaiSzuttor commented on #3207
checked by @reinaual

[2019-09-27 14:39] #3207 closed, assigned to reinaual

[2019-09-27 14:59] KaiSzuttor commented on #3194
[isort](https://github.com/timothycrosley/isort) looks more promising. see #3220

[2019-09-27 17:09] #3205 closed, assigned to KaiSzuttor

[2019-09-30 02:22] espresso-ci opened #3222 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9473

[2019-09-30 10:04] mkuron commented on #3222
Can reproduce this using
[code]

Something in the driver seems to have changed recently. Adding `--privileged` helps, but I'm still trying to find out which specific capability is needed.

[2019-09-30 13:05] mkuron commented on #3222
https://github.com/RadeonOpenCompute/ROCm-docker/pull/61 recommends `--security-opt seccomp=unconfined`, but `--cap-add=SYS_NICE` seems to suffice too. I've modified our config accordingly.

[2019-09-30 13:16] #3222 closed, assigned to nobody

[2019-10-01 16:45] RudolfWeeber opened #3224 "Remove AFFINITY"
based on a Skype discussion with the original authors (@icimrak, @ijancigova).
The feature is no longer used.

I'll prepare a PR, after the school.

[2019-10-02 02:16] espresso-ci opened #3227 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9502

[2019-10-02 08:23] jngrad commented on #3227
seems like the ferrofluid tutorial test is still too sensitive

[2019-10-02 08:40] #3227 closed, assigned to nobody

[2019-10-02 10:59] #3224 closed, assigned to fweik

[2019-10-02 20:11] junghans opened #3230 "mpiio tests fails on i686 with espresso-4.1.0"
[code]

Details [here](https://github.com/espressomd/espresso/files/3683130/build_i686.log.txt)

[2019-10-02 20:11] junghans commented on #3230
Same on ppc64le and aarch64, see: https://koji.fedoraproject.org/koji/taskinfo?taskID=38009265

[2019-10-03 12:44] mkuron commented on #3230
This looks like https://github.com/espressomd/espresso/issues/2507. Are you sure that's fixed in the Boost packages on current Fedora? We need a full backtrace to diagnose this if you think it's something else.

[2019-10-03 13:04] junghans commented on #3230
The fix from #2507 is still in there: https://src.fedoraproject.org/rpms/boost/blob/master/f/boost.spec#_153

@jwakely, correct?

It seems to be a similar, but different bug.

[2019-10-03 14:35] jwakely commented on #3230
Right, the fix should still be in the Fedora package.

[2019-10-04 02:13] espresso-ci opened #3231 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9517

[2019-10-04 09:04] jngrad commented on #3231
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/170209
duplicate of #2924

[2019-10-04 09:21] #3231 closed, assigned to nobody

[2019-10-04 11:15] mkuron commented on #3230
Is there a i386 Fedora docker image? I can't attach a debugger to the emulated ones (aarch64, ppc64le) and the x86_64 build does not exhibit the problem. I can't even find a Fedora 32 ISO image that I could install in a VM. Alternatively, is it possible to somehow get a backtrace straight from the build environment?

[2019-10-04 11:30] jwakely commented on #3230
On a Fedora x86_64 system you can use `mock -r fedora-32-i386 --rebuild `[`espresso-4.1.0-1.fc32.src.rpm`](https://kojipkgs.fedoraproject.org//work/tasks/663/38010663/espresso-4.1.0-1.fc32.src.rpm) to try and build it in a local i686 chroot.

I'm trying that now.

[2019-10-04 12:38] jwakely commented on #3230
That built OK and all tests passed. :confused:

[2019-10-04 16:27] junghans commented on #3230
I was able to make it fail on my 64-bit Fedora 30 system running:
[code]
Now, you can use `mock -r fedora-rawhide-i386 --shell` to debug.

[2019-10-04 17:45] mkuron commented on #3230
Thanks, @junghans. So `mpi_mpiio_common_read` is here: https://github.com/espressomd/espresso/blob/31e730bde5f22377d016f0c87808aa6df69aa8dd/src/core/io/mpiio/mpiio.cpp#L344. Looking at the code, a potential candidate is https://github.com/espressomd/espresso/blob/31e730bde5f22377d016f0c87808aa6df69aa8dd/src/core/io/mpiio/mpiio.cpp#L451 for the case of zero bonds. Since you already have a build env

[2019-10-05 02:17] espresso-ci opened #3233 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9520

[2019-10-05 03:28] junghans commented on #3230
@mkuron worked! Patched in https://src.fedoraproject.org/rpms/espresso/blob/master/f/espresso.spec#_18

[2019-10-05 06:19] mkuron commented on #3230
Wow, that was just a wild guess... I‘ll post a pull request later and make sure this fix ends up in 4.1.1.

[2019-10-05 15:53] #3233 closed, assigned to nobody

[2019-10-07 02:15] espresso-ci opened #3235 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9529

[2019-10-07 09:53] mkuron commented on #3235
AMD's ROCm 2.9 update broke rocFFT. Investigating...

Bug introduced by https://github.com/ROCmSoftwarePlatform/rocFFT/commit/0453c45243080d1f34ed112573bd15e1a4e8471c (https://github.com/ROCmSoftwarePlatform/rocFFT/pull/248).
Bug fixed by https://github.com/ROCmSoftwarePlatform/rocFFT/commit/3b0813fe17a8ba39ff9b25b3c1c6f651691e95bf (https://github.com/ROCmSoftwarePlatform/rocFFT/pull/266).

It's t

[2019-10-07 19:15] #3235 closed, assigned to nobody

[2019-10-07 19:34] fweik opened #3237 "Paths not properly escaped in {i,}pypresso wrapper script"
As reported by @jonaslandsgesell:

[2019-10-08 15:27] jngrad opened #3242 "Shell linter"
We've recently had a few issues troubleshooting bash scripts that relied on the inherent flexibility of the shell syntax, resulting in silent bugs that went undetected, verbose bugs that took a while to correctly diagnose, and shell scripts that are generally hard to maintain (#3238, #2932, #2998).

Our shell scripts could be made less brittle by following some of the recommendations in the Google

[2019-10-10 12:00] RudolfWeeber opened #3243 "Pull out integration kenerls for rotational dof"
and place together with positional ones. This is already the case for steepest descent, but not for the rest

[2019-10-11 19:50] #3230 closed, assigned to nobody

[2019-10-11 19:50] #3237 closed, assigned to nobody

[2019-10-14 08:34] fweik opened #3247 "Improve performance of minimum image distance calculation"
The current implementation of `get_mi_coordinate` recalculates the inverse box length
for each evaluation. Since this is the hottest function in the code for some cell sytems,
and FP division is relatively expensive it is probably worthwhile to save that value in `BoxGeometry`. This needs some
cleanup, because currently the box length data member in `BoxGeometry` is set directly
via the globals me

[2019-10-14 08:34] fweik commented on #3243
Can you be more specific what kernels you mean?

[2019-10-14 08:41] fweik commented on #3242
I think we should also check if some of the shell scripts can be replaced by python. We have shell scripts with non-trivial logic, e.g. the CI script, for which I think python would be way more maintainable. We should discuss if it wouldn't be a more sustainable solution to replace shell scripts altogether instead putting effort into a linting solution which then has to be maintained on top of the

[2019-10-14 13:28] fweik commented on #3121
This feature does no longer exist.

[2019-10-14 13:28] #3121 closed, assigned to nobody

[2019-10-14 14:46] #3120 closed, assigned to nobody

[2019-10-15 08:21] mkuron opened #3249 "Convert active matter and reaction ensemble tutorials to ipython"
The students last week struggled quite a bit with the active matter tutorial because it was the only one not in ipython yet.

[2019-10-15 09:35] jngrad commented on #232
2019 update: feature `VIRTUAL_SITES_COM` is not functional anymore and will be removed in #3250.

[2019-10-15 09:38] fweik commented on #232
This is not relevant anymore, the (molecule)-topology system does not exist anymore, neither does virtual sites com.

[2019-10-15 09:38] #232 closed

[2019-10-15 11:59] jonaslandsgesell commented on #3249
I suggest to delete the old reaction ensemble tutorial completely.

[2019-10-15 12:07] KaiSzuttor commented on #3249
i think thats the wrong issue

[2019-10-15 16:50] #3157 closed, assigned to fweik

[2019-10-16 22:19] #3211 closed, assigned to nobody

[2019-10-17 14:54] KaiSzuttor commented on #2089
the samples are not in the best shape I think... maybe we should have a look at some point

[2019-10-18 15:27] vanadiuz opened #3262 "Structure Factor improvements"
Dear developers,

here are several suggestions on how to improve the function for calculating the structure factor:

1) using the parameter, explicitly specify whether the structure factor will be calculated for folded or unfolded coordinates. This affects the amplitudes of the peaks.

2) enter a parameter for changing the resolution of the structure factor, in other words, provide users the abili

[2019-10-18 20:02] espresso-ci opened #3264 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9769

[2019-10-18 20:06] jngrad commented on #3264
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/176855
duplicate of #2924

[2019-10-18 20:22] #3264 closed, assigned to nobody

[2019-10-19 11:39] jngrad commented on #2896
Tests were added for constraints (#3105), thermostats and integrators (#3245) checkpointing in 4.1.1.

[2019-10-19 18:05] jngrad commented on #2089
- [x] Check that all samples run with the current Espresso
   * the tests ensure they can always run, except lj-demo.py where the python dependencies are broken in Ubuntu 18.04 and the thermostat is not working properly
- [ ]  Put docstrings at the top of the sample files explaining what they do
   * I will take care of that and find a way to remove the out-of-date duplication in [introduction.rst

[2019-10-20 14:23] junghans opened #3266 "h5md tests fails on CentOs8/aarch64"
From https://koji.fedoraproject.org/koji/taskinfo?taskID=38408326 with
[details here](https://github.com/espressomd/espresso/files/3747936/build_aarch64.txt):

[code]
which seems like an error in `h5py`, but when I setup a aarch64 env using mock (on fedora):
[code]
everything seems to work
[code]

[2019-10-21 09:27] fweik commented on #3158
This also has to consider the fixing of coordinates, both translational and rotational. What all of these things have in common is that they are constraints (in the physics sense). The fixes act like a constraint forcing the corresponding velocity component to zero, virtual sites and RATTLE are different type of rigid body constraints and com fixed (and the old vs com) are collective constraints.

[2019-10-21 09:43] jngrad commented on #3194
With `isort`, the following  constraint:
https://github.com/espressomd/espresso/blob/8e549adbbbc849b2cf92d21747c26a4a7ac61c53/testsuite/python/h5md.py#L28-L30
becomes:
[code]

[2019-10-21 09:45] #2894 closed, assigned to nobody

[2019-10-21 10:00] RudolfWeeber commented on #1865
The LB CPU hsa been reworked since then. Closing for now.

[2019-10-21 10:00] #1865 closed, assigned to nobody

[2019-10-22 10:56] espresso-ci opened #3270 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9811

[2019-10-22 11:13] #3270 closed, assigned to nobody

[2019-10-22 12:13] KaiSzuttor commented on #3194
* `W0102`: mutable values in optional arguments: `def foo(a=[]):` to `def foo(a=()):`
    * `W0401`: wildcard imports, e.g. `from a import *` to `from a import (b, c, d\n e, f, g\n)`
    * `W0611`: unused imports
    * `W0614`: unused imports from a wildcard
    * `W1505`: deprecated `assertRaisesRegexp()`
    * `R1701`: merge type checks: `isinstance(x, y) or isinstance(x, z)` to `isinstance(x, (

[2019-10-22 12:29] jngrad opened #3271 "Merge the two MinimizeEnergy interfaces"
There are currently two Python interfaces for the steepest descent (SD) algorithm in the core:
* `MinimizeEnergy`: has type checks, default values, can be checkpointed, no interruption handling
* `Integrator`: has no type checks, no default values, can be checkpointed, interruption handling

When using `Integrator`, the previous integrator state is overridden in both the core and interface, and ne

[2019-10-22 12:37] RudolfWeeber commented on #3194
I think there are quite a few trivial style checks in that list.
I'm fine with the ones actually preventing dangerous stuff.

This is quite common in the test suite.

Not dangerous.

Not dangerous

Not dangerous.

Not dangerous

Dangerous

I agree with those, since authors might expect changed behavior when changing a variable's value.

Not dangerous. In fact I find the 'if seq' more dangerous, be

[2019-10-22 12:40] RudolfWeeber commented on #3271
Agreed. Furthermore, the term 'minimize energy' should not appear, since that is not, what it does.

[2019-10-22 23:51] fweik commented on #3271
I think if we are considering a (major) interface change here, we should evaluate if the integrator should really be a property of the system. Mixing algorithmic aspects with the definition of the system is not co-aligned with the mental model suggested by statistical mechanics. I've always disliked how the current interface mixes the declaration of what the system is with what you do to it.
If we

[2019-10-23 08:01] KaiSzuttor commented on #3194
so to summarize, we agree on the following rules:

* `W0102`: mutable values in optional arguments: `def foo(a=[]):` to `def foo(a=()):`
* `W0401`: wildcard imports, e.g. `from a import *` to `from a import (b, c, d\n e, f, g\n)`
* `W0611`: unused imports
* `W0614`: unused imports from a wildcard
* `W1505`: deprecated `assertRaisesRegexp()`
* `R1707`: trailing comma tuple: `return a,` to either `r

[2019-10-23 11:57] jngrad commented on #3194
Maybe one more: `E0602` no undefined variable/function (excluding `samples/load_checkpoint.py` and `testsuite/python/test_checkpoint.py` where variables are loaded implicitly when unpickling).

Maybe one less: `C0411` wrong ordering of import statements, I think Rudolf wasn't convinced having unsorted import statements was a good reason for causing a failure in CI.

The corresponding pylint comman

[2019-10-23 14:12] jngrad commented on #3271
@fweik I mostly agree. But what's the right approach? Re-designing the interface to be meaningful, with a clear separation between physical concepts and algorithms, requires a large effort. Splitting the effort in incremental changes is what seems to work best in the espresso team, because each small change tends to grow rapidly in scope. The present issue is just another sad example of the typica

[2019-10-23 14:37] RudolfWeeber commented on #3271
So, getting a clear idea of how things do and should inter-relate is something we are working on. I'd probably change the interface, only once we have a clear idea and focus the dis-entangling effort on the core for now.

When we do change the interface at some point, however, it does help if there is exactly one place to touch.

So, short term, I think, only integrator.set_steepest_descent should

[2019-10-23 14:42] RudolfWeeber commented on #3194
@jngrad, the "not" in "not dangerous" went missing for
if (a ==2)
I indeed think, this is a not terribly important style thing.
I'm fine with the rest.

[2019-10-23 15:24] fweik commented on #3271
What @RudolfWeeber says. I totally agree that this should be changed, but I think we should do one big change when we have figured out that we want do minimize the frequency of breaking interface changes, e.g. such changes that force many users to adapt their scripts.

[2019-10-24 02:27] espresso-ci opened #3275 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9852

[2019-10-24 08:02] jngrad commented on #3275
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/178763
duplicate of #2924

[2019-10-24 08:21] #3275 closed, assigned to nobody

[2019-10-26 02:24] espresso-ci opened #3280 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9888

[2019-10-26 09:20] #3280 closed, assigned to nobody

[2019-10-28 12:26] espresso-ci opened #3281 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9898

[2019-10-28 12:52] jngrad commented on #3281
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/179603
duplicate of #3104

[2019-10-28 13:07] #3281 closed, assigned to nobody

[2019-10-28 14:24] jngrad commented on #3194
This issue needs merging #3267 first.

[2019-10-29 22:30] jonaslandsgesell opened #3283 "Improve widom insertion error estimate"
The standard error is used as estimate for the error of the mean. The assumption is uncorrelated samples which might result in error estimates being too optimistic. Additionally Widoms method tries to brute force sample rare events.

Peter would like to be able to check how well the assumption for uncorrelated samples was fulfilled. He thinks that it would be more useful to output the whole time-s

[2019-10-29 22:35] jonaslandsgesell opened #3284 "`reaction_ensemble` module contains several independent classes"
the `reaction_ensemble` class now contains several methods, not just the eponymic `ReactionEnsemble`. Perhaps it would be more appropriate to give a more generic name to the whole class, e.g. `reaction_mehods` or `chemical_reactions`.

Please also note that the Reaction ensemble itself hosts a MC method for configurational moves in the canonical ensemble (i.e. acc=min(1,exp(-\beta Delta E)))

Not

[2019-10-30 01:55] jonaslandsgesell commented on #3283
Alternatively a correlation corrected error could be implemented ... (Making use of the Markov Chain CLT and a criterion for stopping the integral of the ACF or a Blocking analysis)

[2019-10-30 03:21] espresso-ci opened #3285 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9908

[2019-10-30 08:40] jngrad commented on #3285
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/179937
duplicate of #3104

[2019-10-30 09:00] #3285 closed, assigned to nobody

[2019-10-31 09:16] pstaerk opened #3286 "Segfault while removing virtual site"
[code]

[2019-10-31 12:32] #2089 closed, assigned to nobody

[2019-10-31 13:09] fweik commented on #3286
Thank you for reporting this issue. It's not actually related to virtual sites, but was a general bug in the particle removal code that you happened to trigger. This is fixed in #3288.

[2019-10-31 13:15] fweik opened #3289 "Cell systems should use p_old for sorting"
The cell systems are actually sorted by `p_old`, which should also be used to find the current cell for the particle. This always works, and makes the cell system independent of the geometry, e.g.
it can just use normal distance calculation, instead of minimum image convention.
For this to work in layered and dd the criterion has to be adapted to use p_old, when adding new
particles, p_old has to

[2019-10-31 13:17] kosovan commented on #3284
I think that `MC methods` is a good name for the class, if there are no other MC methods implemented in some other classes, Otherwise, it might lead to even more confusion than now.

[2019-10-31 13:22] kosovan commented on #3283
As mentioned earlier,

Because correlation-corrected error estimates also rely on some assumptions, and they fail (produce incorrect results) if the assumptions are not fulfilled. To my best knowledge, there is no algorithm to compute correlation-corrected error estimates that could reliably and automatically check for its own consistency without user intervention.

[2019-10-31 18:27] #3286 closed, assigned to fweik

[2019-11-04 17:30] jngrad commented on #3093
Concerning version numbers for python dependencies, the version numbers of the corresponding packages in the Ubuntu 16.04 repository (which we currently support in the Clang 6 image) would offer a conservative estimate, unless stated otherwise, for example `pint` is pinned to a higher version due to numpy-related compatibility bugs in the version available on Ubuntu.

[2019-11-04 18:40] jngrad commented on #3194
removing `W1401`: use raw strings, it has too many false positives, e.g.
*  `\*\*kwargs` or ``:math:`f_{x1},\\ f_{y1}` `` in docstrings (asterisks and backslashes have to be escaped),
* `re.sub(..., '\g<0>\n')` (here we need an actual newline, not the two characters `\` and `n`)

[2019-11-04 19:51] jngrad commented on #3194
versions of pylint found in the Ubuntu repositories have an outdated command line interface

[2019-11-04 20:57] hmenke commented on #3093
Also #1644 requires at least Boost 1.65.1, because it's now using Boost.Spirit X3 which is relatively new.

[2019-11-05 18:14] RudolfWeeber opened #3294 "Requirements for bond breakage"
This is the outcome of a discussion during the offline Espresso meeting.
Potential users of this feature, please comment on this issue, explaining what you agree to and what should be added/changed/removed.
Once the requirements are clear, I'll try to write a plan for implementation.

The feature should provide the ability to remove bonds between particles, once a certain criterion is met.
* all p

[2019-11-06 03:21] espresso-ci opened #3295 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/9985

[2019-11-06 10:00] jngrad commented on #3295
Will be fixed by espressomd/docker#146

[2019-11-06 10:47] itischler commented on #3294
I would say, that this does not need to be particle type specific, however in my case I would need a bond type specific criteria, because only bonds that are part of the reaction should be able to break.
The criteria (bond length, energy, force and probability) are sufficient enough (for my cases I will take the probability criteria).
The runtime errors should contain the contain the the particles

[2019-11-06 10:58] RudolfWeeber opened #3296 "Requirements for reworked collision detection"
This is my understanding of a dicsussion during the Espresso offline meeting

The feature creates bonds between colliding particles.
It can additionally creates "non-sliding contacts" by creating virtual sites related to the colliding particles and bonds between those virtual sites.

There is an other "mode", in which, when two particles collide, a third particle in the vicinity is searched. If on

[2019-11-06 12:53] christophlohrmann commented on #3296
Sounds good to me. As for the questions: I would be fine with the simple distance criterion.
Potential things to add:
- collision with shapes
- not looking for collisions in each time step (when e.g. the binding rate is small)
- the collision-action of doing nothing and just making the information of the collision detection available

[2019-11-06 14:06] #3295 closed, assigned to nobody

[2019-11-06 14:41] itischler commented on #3296
I think for now they are not needed.

For my system I would need the collision detection to be possible between a virtual particle (a point at the surface of a main particle) and a real particle. This would skip the creation of the first virtual site (v1).

[2019-11-06 15:05] RudolfWeeber commented on #3296
Do you need the creation of a second virtual site on collision, or just a bond to the colliding (non-virtual) particle?

[2019-11-06 15:15] itischler commented on #3296
In my cases the second virtual site is not needed. I would only need the bond between the reactive site (virtual particle relative to the catalyst particle) and the colliding particle.

[2019-11-06 15:36] christophlohrmann commented on #3294
- I would like to see the option to make it type-specific so that only a few bonds can break and others can't
- For the criteria I think one criterion per bond type would be enough. The variation can be done by choosing the particle type combination
- breakage based on force, not energy is enough for me.
- especially when breaking is based just on a fixed probability, checking once every N time st

[2019-11-08 01:38] kosovan commented on #3294
@RudolfWeeber is this bond-breaking algorithm intended to represent a specific mechanism of bond breaking, or is this the "kinetic" alternative to modeling chemical reactions that we discussed at the Espresso school?

We might want to use this feature too, for modeling chemical reactions where bonds are created between polymers.

Should the criterion be implemented in the Espreso core, or specifie

[2019-11-08 13:05] bindgens1 commented on #3294
@RudolfWeeber
Sorry for the delayed reply!

A bond specific breakage criterion would be sufficient for me. I have so far only one type of colloids in my system. Later on several different colloids might be added but this is not necessary for now. Since multiple e.g.: Harmonic or tabulated bonds are supported I can get around with this as long as each bond has it's own breakage criteria.

As for th

[2019-11-08 15:27] bindgens1 commented on #3296
For me the old bind_centers and bind_at_point_of_collision methods worked fine. Except for the need of a "binding probability" that might be useful like the probability for the bond breaking.

[2019-11-09 03:12] espresso-ci opened #3297 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10003

[2019-11-09 11:55] jngrad commented on #3297
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/182539
maybe the same as #2924, although now there is a segfault stack trace

[2019-11-09 12:08] #3297 closed, assigned to nobody

[2019-11-10 03:21] espresso-ci opened #3298 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10006

[2019-11-11 08:39] #3298 closed, assigned to jngrad

[2019-11-11 11:40] hirschsn commented on #3296
I want to throw in an additional point: Currently, the collision queue is allgathered on all processes. We could improve this by allgathering the local queues only in the respective process neighborhood.  Potentially, the cell_system could provide a MPI_Comm created by MPI_Dist_graph_create or similar.

[2019-11-11 16:48] #3194 closed, assigned to jngrad

[2019-11-12 20:30] espresso-ci opened #3302 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10033

[2019-11-12 22:19] #3302 closed, assigned to nobody

[2019-11-13 18:42] fweik commented on #3296
@hirschsn I agree that this is a good idea, but the definition of neighborhood and the communicator have to be provided by the cell system.

[2019-11-14 00:25] junghans opened #3305 "espresso-4.1.1: wang_landau_reaction_ensemble test fails on Fedora 31 under s390x"
[code]

Details [here] (https://github.com/espressomd/espresso/files/3844051/build_s390x.log.txt)

[2019-11-14 00:30] junghans opened #3306 "espresso-4.1.1: some tests fail in MPI_INIT on Fedora 32 (multiple archs)"
E.g. on i686 (see https://koji.fedoraproject.org/koji/taskinfo?taskID=38977434):
 82/144 Test  #49: particle_slice ....................................***Failed    0.56 sec
[code]
and armv7hl (https://koji.fedoraproject.org/koji/taskinfo?taskID=38973338):
[code]

[2019-11-14 00:32] junghans opened #3307 "espresso-4.1.1: multiple tests segfault on CentOs8 EPEL (x86_64)"
From https://koji.fedoraproject.org/koji/taskinfo?taskID=38977438:
[code]

Details [here](https://github.com/espressomd/espresso/files/3844066/build_x86_64.log.txt)

[2019-11-14 03:21] espresso-ci opened #3308 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10048

[2019-11-14 08:51] mkuron commented on #3305
That's pure Python code, so you should file a bug report against Fedora's s390x python package.
https://github.com/espressomd/espresso/blob/ef37a157aad3f62ce597bb73e169cfb026a42932/testsuite/python/wang_landau_reaction_ensemble.py#L80-L81

You could try changing `np.c_[[0, 1], [0, 0], [9, 9]]` to `np.transpose([[0, 1], [0, 0], [9, 9]])`. I've never seen `c_` before...

[2019-11-14 09:01] mkuron commented on #3307
So this looks like OpenMPI's `MPI_Init` fails when called from an executable but works when called from a shared library (like a Python module). MPICH is unaffected, so I'd blame OpenMPI or CentOS packaging.
[code]

Judging by the backtrace, I suspect this is a duplicate of https://github.com/open-mpi/ompi/issues/6671 and/or https://github.com/open-mpi/ompi/issues/6789.

[2019-11-14 09:16] mkuron commented on #3306
This looks like a temporary glitch in OpenMPI's `MPI_Init`. If you rerun the test, it will probably disappear. Your MPICH builds worked fine.

The armv7hl error (`Unreachable in file ext3x_client.c`) looks like https://github.com/open-mpi/ompi/issues/7025, but we are not calling the executable twice. The i686 error (`Error handler registration`) happens deep inside `MPI_Init`, but Espresso has no

[2019-11-14 12:13] #3308 closed, assigned to nobody

[2019-11-14 13:42] jngrad opened #3309 "Reaction Ensemble docs update"
* correctly indent the Reaction Ensemble subsections in the Sphinx docs
* add a note explaining particles aren't iterable anymore when a chemical reaction is added
* depends on #3254

[2019-11-14 14:40] fweik opened #3311 "Test missing for ELC"
Both ELC and MMM2d lack basic physic tests. They are only compared against each other,
but ELC's implementation is mostly just copied from MMM2d, so this does not add confidence.
E.g. the bug fixed in #3310 shows that thins are just broken in both code. I'd also recommend
flagging both features as experimental until proper tests are added.

@RudolfWeeber @jngrad I think there is a decision needed

[2019-11-14 15:02] hirschsn commented on #3296
@fweik Indeed that was also what I meant. Reading the last sentence from my last comment now again, it seems quite cryptic. :)

[2019-11-14 16:57] junghans commented on #3306
It seems reproducible at least 1 out of the 6 archs on Fedora already fails, @opoplawski any ideas?

[2019-11-14 16:57] junghans commented on #3307
@opoplawski any ideas?

[2019-11-14 21:13] junghans commented on #3305
That help, I will make a PR, now the error is:
[code]

[2019-11-14 21:17] junghans commented on #3306
Several retriggers make it pass...not great, but ok!

[2019-11-14 21:17] #3306 closed, assigned to nobody

[2019-11-14 21:37] mkuron commented on #3305
Thanks for testing. No idea why transpose works.

The not test failure is a different error. Probably also one that only occurs randomly and only on OpenMPI, like the other three issues you opened. Not much we can do about these; OpenMPI just seems very unstable in Fedora right now.

[2019-11-15 00:48] junghans commented on #3305
Ok, the other one is just flacky and got fixed by re-triggering.

[2019-11-15 03:14] espresso-ci opened #3313 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10060

[2019-11-15 09:24] jngrad commented on #3313
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/184266
Duplicate of #2924

[2019-11-15 09:55] #3313 closed, assigned to nobody

[2019-11-15 17:47] junghans opened #3315 "espresso-v4.1.1: MpiCallbacks_test and matrix_vector_product fail on i586 (OpenSuse Tumbleweed)"
64-bit works, but i586 fails with:
[code]
and
[code]

Details [here](https://github.com/espressomd/espresso/files/3852607/i586_log.txt)

I didn't package v4.1 for OpenSuse, so I am not sure if was introduced in v4.1 or v4.1.1.

[2019-11-15 18:47] junghans commented on #3307
I cannot reproduce this in a CentOs8 docker container.

[2019-11-15 18:50] junghans opened #3316 "espresso-4.1.1: sigint fails on s390x (Fedora31)"
Yet another issue:
[code]

Related: https://python-forum.io/Thread-Fatal-Python-error-init-sys-streams-can-t-initialize-sys-standard-streams-Attribute

Details [here](https://github.com/espressomd/espresso/files/3852800/build_s390x.log.txt)

[2019-11-15 18:52] junghans commented on #3315
And:
[code]

[2019-11-16 02:06] opoplawski commented on #3307
There are UCX issues with openmpi in RHEL8.  See:
https://bugzilla.redhat.com/show_bug.cgi?id=1747506
https://bugzilla.redhat.com/show_bug.cgi?id=1747517
https://bugzilla.redhat.com/show_bug.cgi?id=1770184

[2019-11-16 03:18] espresso-ci opened #3317 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10070

[2019-11-16 08:51] #3317 closed, assigned to nobody

[2019-11-18 03:20] espresso-ci opened #3322 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10078

[2019-11-18 09:01] jngrad commented on #3322
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/184840
duplicate of #2924

[2019-11-18 09:17] #3322 closed, assigned to nobody

[2019-11-19 14:10] RudolfWeeber commented on #3311
Standard ELC and MMM2d without fancy features such as constant potential difference are tested against p2nfft from the Scafacos library in the coulomb mixed periodicity test.
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/184707/artifacts/raw/build/testsuite/python/Testing/Temporary/LastTest.log
(Artefact available for 4 more days)
P2NFFT was developed and implemented by a differen

[2019-11-21 13:09] reinaual opened #3333 "some python tests fail silently on some architectures with OpenMPI 2.X"
Executing tests on my local machine which dont have specified the `MAX_NUM_PROC` are shown as passed although they were never executed. This happens for example with `make -j8 check_python ARGS='-R experimental_decorator -V'` which results in

[code]

[2019-11-21 14:29] jngrad commented on #3333
Notes on @reinaual's environment:
* the CPU is hyperthreaded to expose 24 logical cores, `mpiexec -n 12` doesn't produce the warning
* with `mpiexec -n 12` an espresso runtime error is raised
* with `mpiexec -n 4` a different espresso runtime error is raised
* with `mpiexec -n 1` and without mpi the test runs fine
* uses mpiexec (OpenRTE) 2.1.1

The thread warning probably exits with error code 0

[2019-11-21 15:15] mkuron commented on #3333
Please don't change `--bind-to`. Just use `-oversubscribe`. That will run with as many processes as you specify, even if that puts multiple processes on the same core. Then you don't need any guards etc.

[2019-11-22 15:09] #3333 closed, assigned to jngrad

[2019-11-22 16:34] #3309 closed, assigned to jonaslandsgesell

[2019-11-24 02:28] espresso-ci opened #3338 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10167

[2019-11-25 02:25] espresso-ci opened #3339 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10170

[2019-11-25 11:56] #3339 closed, assigned to nobody

[2019-11-25 14:31] #3338 closed, assigned to nobody

[2019-11-26 19:54] fweik opened #3343 "Correlated noise"
The langevin thermostat uses maximally correlated noise for the translation and rotation thermalization.

[2019-11-28 03:10] espresso-ci opened #3344 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10218

[2019-11-28 10:29] jngrad commented on #3344
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/187649
duplicate of #3104

[2019-11-28 10:33] mkuron commented on #3344
We should probably prioritize fixing #3104 and #2924. Seemingly every other day, a build fails due to them.

[2019-11-28 10:48] #3344 closed, assigned to nobody

[2019-11-28 22:39] jngrad commented on #2924
We might as well disable this test in CI. We already know this benchmark cannot be used due to the non-deterministic nature of the P3M tuning function. It also fails due to the other, less frequent bug [reported above](https://github.com/espressomd/espresso/issues/2924#issuecomment-519475399). We can re-enable the test once the tuning function gets re-implemented.

[2019-11-29 03:15] espresso-ci opened #3345 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10235

[2019-11-29 09:10] espresso-ci opened #3346 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10236

[2019-11-29 09:55] #3346 closed, assigned to nobody

[2019-11-29 10:39] fweik commented on #2924
I agree do disable it now. We could also use fixed parameters to avoid the
problem.

On Thu, Nov 28, 2019, 23:39 Jean-Noël Grad <notifications@github.com> wrote:

[2019-11-29 13:20] #3345 closed, assigned to nobody

[2019-12-01 03:13] espresso-ci opened #3348 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10261

[2019-12-01 09:05] #3348 closed, assigned to nobody

[2019-12-02 16:02] jonaslandsgesell opened #3350 "Bonds get lost when deleting an uninvolved particle"
Starting from commit a2bb7e19237022cb6a05bf344a2fc8e86c2df1a9 from 31st October 2019, there is unexpected behaviour: deleting a particle without bond results in removing some bonds from particles which have bonds.
The reaction ensemble inserts and deletes particles, with the deletion taking place in function ReactionAlgorithm::delete_particle(int p_id) in reaction_ensemble.cpp.
Belwo you find a mi

[2019-12-04 03:06] espresso-ci opened #3353 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10282

[2019-12-04 12:27] #3353 closed, assigned to nobody

[2019-12-04 15:09] RudolfWeeber commented on #3343
A different RNG salt has to be used for translation and rotation.

Test fragment
[code]

[2019-12-05 10:21] #3350 closed, assigned to nobody

[2019-12-05 11:10] espresso-ci opened #3357 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10294

[2019-12-05 12:08] jngrad commented on #3357
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/189324
duplicate of #2924

[2019-12-05 12:19] jngrad commented on #3315
Build log for `python3-espressomd/openSUSE_Tumbleweed/i586`:
[code]
The machine precision tolerance of another unit test in the same file was increased last year (213101a4d9) due to a similar issue on i386. I'll increase the test tolerance.

[2019-12-05 12:25] #3357 closed, assigned to nobody

[2019-12-05 12:34] #3305 closed, assigned to nobody

[2019-12-05 12:37] #3242 closed, assigned to nobody

[2019-12-05 13:28] #2924 closed, assigned to nobody

[2019-12-06 03:11] espresso-ci opened #3361 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10307

[2019-12-06 09:51] jngrad commented on #3361
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/189773
duplicate of #3104

[2019-12-06 10:07] #3361 closed, assigned to nobody

[2019-12-06 16:24] RudolfWeeber opened #3362 "Some observables return values for wrong particles"
because they use the index in the id list rather than the entry.
Working on it.

[2019-12-06 17:09] RudolfWeeber opened #3363 "ParticleSlice forgets particles in member access"
looks like in the constructor the index of id_selection is used in masking rather than the value

[2019-12-07 03:12] espresso-ci opened #3365 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10317

[2019-12-07 12:37] jngrad commented on #3365
just a runner failure

[2019-12-07 12:58] #3365 closed, assigned to nobody

[2019-12-07 13:32] #3343 closed, assigned to jngrad

[2019-12-08 03:11] espresso-ci opened #3366 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10320

[2019-12-09 03:09] espresso-ci opened #3368 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10324

[2019-12-09 10:02] jngrad commented on #3368
runner failure

[2019-12-09 10:03] jngrad commented on #3366
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/190098
duplicate of #3104

[2019-12-09 10:11] #3366 closed, assigned to nobody

[2019-12-09 10:15] #3368 closed, assigned to nobody

[2019-12-09 13:37] RudolfWeeber opened #3369 "Come up with a more clear syntax of particle slicing"
It should probably be made clear by the syntax of
system.part[]
that ranges refer to particle ids, not indicies in a (probably sorted ascending) list of existing particle ids.
E.g.,
system.part[min_id=0, max_id=20]
system.part[min_id=5]

[2019-12-09 17:30] RudolfWeeber opened #3370 "The ComForce observable should be renamed to TotalForce"
at least that's what the documentation claims it calculates. That's also what would make sense, physically, I think.
The code currenlty calculates
sum F_i m_i
and doesn't normalize by sum_i m_i. I don't think, that makes sense.

[2019-12-10 03:14] espresso-ci opened #3371 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10344

[2019-12-10 09:54] jngrad commented on #3371
runner failure

[2019-12-10 10:22] #3371 closed, assigned to nobody

[2019-12-10 12:09] jngrad commented on #3104
Finally found the source of the error: bad P3M parameters from the tuning function. There seems to be a pattern in P3M parameters from simulations that crash: the `r_cut` value is almost twice as small as in simulations that run fine. To reproduce it locally or on a coyote with `ubuntu-python3:cuda-10.1`:
[code]

The LJ sigmas are in the range 3.4-5.0, in simulations that don't crash the tuned P3M

[2019-12-10 14:13] fweik commented on #3370
If you rename it, it should be called `TotalForce`, which is a more common term (think total charge, total current, total momentum, ...).

[2019-12-11 03:13] espresso-ci opened #3374 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10355

[2019-12-11 10:22] jngrad commented on #3374
runner failure

[2019-12-11 10:26] #3374 closed, assigned to nobody

[2019-12-11 11:04] jngrad commented on #3093
Update: a discussion took place in [es meeting 2019-11-26](https://github.com/espressomd/espresso/wiki/Espresso-meeting-2019-11-26)
We'll probably need to increase the boost requirements in two steps: first 1.58, which we have to support until the Ubuntu 20.04 LTS release (we need to support Ubuntu 16.04 LTS until then), then 1.65. Python versions 3.3 and 3.4 are only supported on CentOS SCLo.

[2019-12-11 13:20] KaiSzuttor opened #3376 "min_global_cut can lead to wrong behavior of callback"
Running the following script in debug mode fails due to an assertion during particle setting.

[code]

[code]

[2019-12-12 09:08] fweik commented on #3376
Needs to be run with two ranks to reproduce the error.

[2019-12-12 09:29] KaiSzuttor commented on #3376
sorry, I forgot to mention that

[2019-12-12 10:01] fweik commented on #3376
This is not really related to `min_global_cut`, this only triggers it because it changes the cell size. This is really an rounding error problem, due to which two nodes claim the particle. Will fix.

[2019-12-12 11:27] #3363 closed, assigned to nobody

[2019-12-12 12:20] espresso-ci opened #3379 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10365

[2019-12-12 12:26] jngrad commented on #3379
ROCm: https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/191285
[code]

[2019-12-12 12:44] #3379 closed, assigned to nobody

[2019-12-12 16:03] #3376 closed, assigned to fweik

[2019-12-12 17:06] #3362 closed, assigned to nobody

[2019-12-13 13:57] RudolfWeeber commented on #337
Looks good, except that project version needs to be changed in CMakeList.txt and maybe also in src/config/version.hpp.in
Once that's done, it's ready

[2019-12-13 13:58] RudolfWeeber commented on #337
Sorry, wrong ticket

[2019-12-13 15:34] jngrad commented on #2973
* `Memory access fault by GPU node-4 (Agent handle: 0x55be70acd450) on address 0x7f70b50ec000. Reason: Page not present or supervisor privilege.`
   * https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/191997
   * https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/191285

[2019-12-14 03:10] espresso-ci opened #3382 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10416

[2019-12-14 15:59] #3382 closed, assigned to nobody

[2019-12-16 14:15] espresso-ci opened #3383 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10420

[2019-12-16 14:50] #3383 closed, assigned to nobody

[2019-12-17 03:13] espresso-ci opened #3384 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10422

[2019-12-17 15:20] #3384 closed, assigned to nobody

[2019-12-23 02:50] espresso-ci opened #3387 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10501

[2019-12-23 11:59] jngrad commented on #3387
Error message:
[code]
It's caused by a broken symlink:
[code]
I've regenerated the `clang-python3:6.0` docker image.

[2019-12-23 12:34] #3387 closed, assigned to nobody

[2019-12-24 19:28] jngrad commented on #3271
The GROMACS team seems to be facing the same issues of integrator maintenance, extensibility and nomenclature as we do:
* [cleanup of integration loop](https://redmine.gromacs.org/issues/1793)
* [Proposal for integrator framework (do_md) in future GROMACS](https://redmine.gromacs.org/issues/1137)
* [Roadmap for thermostats / barostats in new propagation/integration scheme](https://redmine.gromacs.

[2019-12-27 18:12] RudolfWeeber commented on #2214
I took a look. My impression is that the current force calculation evaluates bonds first, so this issue probably does not arise in the 4.1 line. (src/core/algorithms/...)
However, that is not something we guarantee for the future, so the implementation of membrane collision will have to change in the next few months.

@icimrak, @fweik, @jngrad
My understanding of the current state of the discussio

[2019-12-27 19:00] fweik commented on #2214
This is not correct.

[2019-12-27 19:20] jngrad commented on #3249
Tutorial reaction ensemble: replaced by the constant pH tutorial in 4.2.

Tutorial active matter: the LaTeX file was converted to Jupyter in [jngrad/espresso/fix-3249](https://github.com/espressomd/espresso/compare/python...jngrad:fix-3249).
[code]
Everything related to LaTeX or BibTeX was also removed.

@mkuron: how should we proceed with the exercises and solutions?
1. @KaiSzuttor once looked in

[2019-12-27 21:28] RudolfWeeber commented on #2214
@fweik, I see. The fact that the single particle kernel is called ahead of the pair kernel is not sufficient, since the membrane collision interaction uses the out direction of both particles.

@icimrak, the check which should catch not-set out_direction  in membrane_collision.hpp is incorrect. It passes if only one of the two vectors is non-zero.

A failing test is in my github repo in membrane_c

[2019-12-30 15:16] jngrad commented on #3316
In a docker container with Fedora31 running with QEMU for s390x:
[code]

Couldn't run any MPI-enabled test due to the following PMIX error:
[code]

[2020-01-03 14:05] #3090 closed, assigned to nobody

[2020-01-03 16:36] #2964 closed, assigned to nobody

[2020-01-04 03:04] junghans opened #3396 "epresso-4.1.2: Many tests fail on OpenSuse tumbleweed due to IndexError: _Map_base::at"
Due to https://build.opensuse.org/request/show/760741, I tried to bump espresso to v4.1.2 on OpenSUSE, but many tests fail on x86_64 with:
[code]
Details [here](https://github.com/espressomd/espresso/files/4021479/_log.txt).

Surprisingly on i586, only `matrix_vector_product` fails:
[code]

Details [here](https://github.com/espressomd/espresso/files/4021484/_log.txt)

[2020-01-04 15:03] junghans commented on #3396
@mcepl saved us from OpenSUSE removal.

[2020-01-04 19:55] RudolfWeeber commented on #3396
Regarding
[code]
I have no idea. The trace seems to be incomplete. To my understanding, no map lookup happens at PScriptinterface.get_sip().
In case you can interact with (or download and install) the resulting build, could you please run
[code]

[  765s] 48/68 Test #48: matrix_vector_product ............***Failed    0.00 sec
[  765s] Running 1 test case...
[  765s] /home/abuild/rpmbuild/BUILD/esp

[2020-01-04 21:01] fweik commented on #3396
This looks more like a linker/shared object problem. The exception is raised because an unknown class name is encountered by the factory, which lives in global static memory. In the place where the exception is raised the access is from a different shared object than in all the other cases (where it works). I can maybe have a look next week. The question is also how urgent this is, because some of

[2020-01-04 22:04] mcepl commented on #3396
not super urgent … if we know that somebody actually works on this issue, I can keep espresso put in openSUSE.

[2020-01-04 22:07] junghans commented on #3396
I was able to reproduce this on OpenSuse tumbleweed with:
[code]
(Not sure why `all_compare_test` fails in my VM`)

[2020-01-06 14:57] RudolfWeeber commented on #3396
So, we cannot safely declare Python script interface classes in pyx files.

IIRC, the only reason I made collision_detection.pyx a Cython file was not to copy the values of the collision mode enum. It should be easily separable. The long-term solution will come with the refactoring of collision detection and its interface.

Due to the seriousness of the bugs fixed in 4.1.2, I think we need to fix

[2020-01-06 15:38] junghans commented on #3396
@RudolfWeeber, if you make a clean patch, I will just apply it in the 4.1.2 rpm for OpenSUSE.

[2020-01-06 23:25] fweik opened #3400 "Check on_observable_calc for unneeded ghost communication"
In and around `on_observable_calc` there are potentially some unneeded calls to `cells_update_ghosts`. It should be checked if all calls are needed.

[2020-01-07 13:19] pkreissl opened #3401 "Building with feature DIPOLES but without ELECTROSTATICS fails"
As suggested by the issue title, building fails when compiling with feature DIPOLES &ndash; unless the ELECTROSTATICS feature is also compiled in. Produces error message
[code]
.

[2020-01-07 15:43] #3401 closed, assigned to fweik

[2020-01-07 16:31] espresso-ci opened #3405 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10614

[2020-01-07 18:16] #3405 closed, assigned to nobody

[2020-01-08 15:11] espresso-ci opened #3407 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10645

[2020-01-08 15:40] #3407 closed, assigned to nobody

[2020-01-09 03:19] espresso-ci opened #3409 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10650

[2020-01-09 09:55] jngrad commented on #3409
tutorial_11-ferrofluid_1
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/195938

[2020-01-09 10:14] #3409 closed, assigned to nobody

[2020-01-12 03:15] espresso-ci opened #3411 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10669

[2020-01-13 08:00] #3411 closed, assigned to nobody

[2020-01-13 18:30] jngrad commented on #3396
Could not reproduce the error in a docker container with the `opensuse/tumbleweed` base image on an x86_64 machine with espresso 4.1.2.

[2020-01-13 19:49] junghans commented on #3396
Did you use `osc`?

[2020-01-13 23:49] junghans commented on #3396
For me it still persist using `osc`.

[2020-01-14 03:20] espresso-ci opened #3413 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10679

[2020-01-14 08:45] #3413 closed, assigned to nobody

[2020-01-14 15:25] jngrad commented on #3396
In an openSUSE Docker container:
- direct build: issue not reproducible
- rpm build with your openSUSE spec file: issue not reproducible
- osc build with your script: issue reproducible for Python tests

@junghans I thought `osc` would use `rpmbuild` internally. Nevermind.

@RudolfWeeber @fweik In GDB, pypresso throws at the call to `make_shared("CollisionDetection::CollisionDetection", ScriptInte

[2020-01-14 15:40] mcepl commented on #3396
It does, but first it generates isolated environment. Would diff between output of ``rpmbuild -ba`` and ``osc build`` (or ``osc lbl``) be any helpful?

[2020-01-14 18:42] jngrad commented on #3396
@mcepl `rpmbuild -ba` succeeds while `osc build` fails due to the index error. There are several differences in the compiler and linker flags passed as argument to CMake in the `osc build` vs. the `rpmbuild`, but even when using the `rpmbuild`-generated CMake command in an `osc shell`, there are still Rpath issues, so `osc` must be setting environment variables as well. This means we have to open

[2020-01-14 18:59] junghans commented on #3396
@jngrad yeah rpm hates rpath hence `%cmake` injects something like `-DCMAKE_SKIP_RPATH:BOOL=ON` and that is why we have to explicitly use `LD_LIBRARY_PATH` with `make check`. Is there a way to compile espresso without an rpath being injected after install?
(On Fedora, which isn't as strict with rpaths, I found that even with `-DCMAKE_INSTALL_RPATH=""` the libraries will have some like `/tmp/foo/ba

[2020-01-15 13:06] jngrad commented on #3396
@junghans Just had a look with `objdump -a -x` in the .so files and the RPATH field is indeed empty. This makes sense now. OpenSUSE forbids hardcoded Rpath values in .so files, so we have to work around it. The issue is reproducible on Ubuntu 18.04 simply by copying the `osc` CMake command:
[code]
For some reason, with the Ubuntu build the GDB backtrace doesn't allow printing the value of Cython v

[2020-01-15 13:56] mcepl commented on #3396
Just a note, the hate towards rpath is not only openSUSE-thing, Fedora Packaging Guidelines forbids it as well, we are just a way more thorough about actual checking it (running rpmlint on every package build).

[2020-01-15 15:51] jngrad commented on #3396
@RudolfWeeber using the procedure above for Ubuntu 18:
[code]
When compiling espresso with the minimal config, the issue happens for the ComFixed attribute, as described earlier. I don't get why the Rpath would have any impact on ComFixed, which is defined in a plain python file. Could it be another issue? The GDB trace for both `CollisionDetection()` and `ComFixed()` actually fails before the `na

[2020-01-15 16:59] fweik commented on #3396
@jngrad can you please try giving the function `make_remote_handle` external linkage? Since the lookup is by address, it's possible that the address is not the same for every point of view for weak linkage. That behavior could also be (at least in theory) be influence by whether the rpath is set (because the symbol resolution is done at link/load time).

[2020-01-15 18:50] jngrad commented on #3396
Adding `extern` didn't help, additionally pulling `make_remote_handle` out of the anonymous namespace also didn't help. Adding the Rpath manually with `patchelf  --set-rpath` didn't help. Removing successively `-Wl,-z,now`, `-Wl,--as-needed`, `-Wl,--no-undefined` (in that order) didn't help.

I think the root cause is the LTO (link time optimization), enabled through the `-flto` compiler/linker fl

[2020-01-15 20:05] junghans commented on #3396
@jngrad will test this
@mcepl is there a more elegant way to do this?

[2020-01-15 22:44] junghans commented on #3396
Ok, x86_64 is ok now, i586 still fails on matrix_vector_product.

[2020-01-15 23:10] mcepl commented on #3396
Yes, add definition
[code]

See https://build.opensuse.org/request/show/764818

[2020-01-15 23:25] junghans commented on #3396
On i586 in addition:
[code]

[2020-01-16 08:49] #3271 closed, assigned to jngrad

[2020-01-16 16:17] jngrad commented on #3396
On making espresso LTO-compliant: I originally thought the `make_remote_handle` function was either inlined or optimized out by LTO, making the corresponding function pointer either pointing to a copy of the function or dangling. Adding `__attribute__((used))` to an unused function prevents its removal by LTO (tested in both gcc 7.4 and clang 6.0), yet adding this attribute to `void make_remote_ha

[2020-01-16 20:30] RudolfWeeber commented on #3396
Please don’t use Gnu specifics. No idea if any of that works on MSVC.
I also think, this is out of scope for us. The architecture is from the mid 90s.

That said,
I don’t understand why the error of something that involves more than one operation should be <= 1 epsilon, in the first place.
Let’s just increase the tolerance to 4 epsilon or 8 epsilon for affected tests.

[2020-01-17 03:16] espresso-ci opened #3415 "Increase error bounds for electrophoresis sample"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10735

[2020-01-17 07:36] KaiSzuttor commented on #3415
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/197087

[2020-01-17 09:38] fweik commented on #3396
So how does one find error limits for floating point calculations? Is the error bounded? Introducing random error bounds with magic numbers does not increase confidence IMHO... In general, `epsilon` is also just a relevant quantity if the numbers are `O(1)`, because the precision of floating point numbers depends on their magnitude.

[2020-01-17 10:03] jngrad commented on #3396
Not sure this will help. If a contribution leads to loss of precision, our CI infrastructure will not catch it, but OpenSUSE i586 will, and a ticket will be opened here again. If we can't test it in CI and there is no reliable way to detect it at compile time, we need to officially drop support for i586 and remove all epsilon prefactors added so far. Christoph can then craft an i586-specific specf

[2020-01-17 10:21] mcepl commented on #3396
I don’t understand, what’s so complicated about adding ``%ifarch`` condition to the existing SPEC file? Also, no Linux distribution I know about uses upstream-provided SPEC files, so you don’t have to bother that much.

[2020-01-17 10:41] jngrad commented on #3415
I assume you used the for loop at the end of [samples - Writing tests](https://github.com/espressomd/espresso/wiki/Testing#writing-tests-2) to find the error bounds in #3414. This is not the first time we develop sample tests with this for loop and get unstable CI. It's probably time we find another way of bootstrapping error bounds.

[2020-01-17 10:43] RudolfWeeber commented on #3396
On Fri, Jan 17, 2020 at 02:03:12AM -0800, Jean-Noël Grad wrote:

I'm in favor of looking at the specific test rather than discussing the abstract question of floating point accuracy.

Looking at src/utils/tests/matrix_vector_product.cpp,
the involved matrix and vector are of order 1 to 100.
Expected and observed results agreeing to 10E-16 should be convincing enough.

[2020-01-17 10:58] fweik commented on #3396
why?

[2020-01-17 13:02] RudolfWeeber opened #3416 "Out_direction and membrane_collision can be removed"
based on Skype discussions with the OIF team, a fix for #2214 has been merged into their code. The fix is too invasive for the main line of Es, though.
Therefore, we'll remove the not-fixed out_direction and membrane_collision from the dev branch.
We will then bring the functionallity back via virtual sites placed at the center of each surface triangle.

[2020-01-19 03:10] espresso-ci opened #3420 "Tutorial 12 constant pH fails with pint 10.1"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10746

[2020-01-19 14:34] jngrad commented on #3420
The constant pH tutorial failed due to the new `pint` version deployed today in the docker images:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/197409

The version went from 0.9 to 10.1. Looking through the [release notes](https://github.com/hgrecco/pint/blob/master/CHANGES), this is probably caused by:

Also noteworthy:

We could rollback to `pint` 0.9 until the tutorial gets fi

[2020-01-19 14:35] jngrad opened #3421 "NEP 29: new release schedule for scientific python packages"
The [NEP 29 - Recommend Python and Numpy version support as a community policy standard](https://numpy.org/neps/nep-0029-deprecation_policy.html) proposes a new release schedule for `numpy`. Major python packages like `matplotlib`, `jupyter` and `scipy` have already adopted NEP 29, which means that most python dependencies of espresso will be affected either directly or indirectly. The proposed re

[2020-01-19 15:41] RudolfWeeber commented on #3421
I think we don’t support 16.04 for any support schedule reasons. We have it because we are stuck with it for ICP internal reasons.

Can’t we pin the pint version in the 16.04 container?

[2020-01-20 03:15] espresso-ci opened #3422 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10748

[2020-01-20 09:29] jngrad commented on #3422
duplicate of #3420

[2020-01-20 15:09] #3420 closed, assigned to nobody

[2020-01-20 15:09] #3422 closed, assigned to nobody

[2020-01-20 18:01] #2214 closed, assigned to nobody

[2020-01-20 18:01] #3416 closed, assigned to fweik

[2020-01-21 03:17] espresso-ci opened #3425 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10775

[2020-01-21 10:59] #3425 closed, assigned to nobody

[2020-01-21 14:20] jngrad opened #3426 "Fix Boost tests"
[`BOOST_CHECK_CLOSE`](https://www.boost.org/doc/libs/1_66_0/libs/test/doc/html/boost_test/utf_reference/testing_tool_ref/assertion_boost_level_close.html) takes a percentage as tolerance. Epsilon values must be multiplied by 100.

In this example, the first line is incorrect:
https://github.com/espressomd/espresso/blob/d553bd52da3a74dc00d177e3ebb9330ff5d4b273/src/utils/tests/int_pow_test.cpp#L43-L

[2020-01-21 14:52] fweik commented on #3426
I don't understand the boost documentation.

[2020-01-21 15:21] jngrad commented on #3426
According to section [tolerance-based comparisons](https://www.boost.org/doc/libs/1_66_0/libs/test/doc/html/boost_test/testing_tools/extended_comparison/floating_point/floating_points_comparison_impl.html), function `BOOST_CHECK_CLOSE` does a relative comparison and evaluates to `assert(abs(x - y)/abs(x) <= tol && abs(x - y)/abs(y) <= tol)` when both `x` and `y` are non-zero.

In the binary, `::bo

[2020-01-21 16:57] KaiSzuttor opened #3429 "doc: add example for setting the inertia tensor of a particle"
There seems to be a need (several internal people had issues) for an example of rigid body dynamics.

[2020-01-21 18:27] #3426 closed, assigned to jngrad

[2020-01-21 18:38] jngrad commented on #3315
- `MpiCallbacks_test`: fixed by #3327
- `matrix_vector_product`: fixed by #3427
- `field_coupling_fields`: fixed by #3358
- `collision_detection`: still failing in 4.1.2, @fweik did we decide to do something?

[2020-01-21 19:14] espresso-ci opened #3430 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10796

[2020-01-21 20:04] junghans commented on #3315
Fix on its way into OpenSUSE: https://build.opensuse.org/request/show/766150

[2020-01-21 20:09] jngrad commented on #3430
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/198489
duplicate of #3104

[2020-01-21 20:24] #3430 closed, assigned to nobody

[2020-01-22 09:01] #3058 closed, assigned to jngrad

[2020-01-22 09:01] #3215 closed, assigned to jngrad

[2020-01-22 09:52] espresso-ci opened #3431 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10804

[2020-01-22 10:08] jngrad commented on #3431
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/198662
duplicate of #3415

[2020-01-22 10:23] #3431 closed, assigned to nobody

[2020-01-22 21:10] espresso-ci opened #3433 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10814

[2020-01-23 12:33] #3433 closed, assigned to nobody

[2020-01-24 22:09] fweik opened #3437 "Add cutoff limits to P3M tuning"
To help with #3104, it should be possible to set bounds on the cutoff for P3M tuning.

[2020-01-25 14:10] #1360 closed, assigned to nobody

[2020-01-27 03:17] espresso-ci opened #3439 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/10866

[2020-01-30 10:52] fweik opened #3442 "Not all bond type considered for cutoff calculation"
The calculation of the required cutoff for bonded interactions does not consider all bond
types that should be taken into account. The cutoff is calculate in `double recalc_maximal_cutoff_bonded()` in `bonded_interaction_data.cpp:26`, that calculation is
at least missing the `Harmonic_dumbbell_bond` and the `Quartic_bond`.

[2020-01-30 18:07] #3442 closed, assigned to nobody

[2020-01-30 19:16] #3439 closed, assigned to nobody

[2020-02-04 12:32] KaiSzuttor commented on #3429
resolved by #3441

[2020-02-04 12:32] #3429 closed, assigned to nobody

[2020-02-04 13:57] #3119 closed, assigned to jngrad

[2020-02-05 16:00] itischler opened #3450 "cylindrical_average is broken and should be removed"
Fixing this issue is easy.
However either a testcase should be written for it, because it was never correct, or remove the `cylindrical_average` completly, because the observable version `CylindricalDensityProfile` does exactly the same and is beeing tested.

[2020-02-05 16:10] KaiSzuttor commented on #3450
it should go

[2020-02-06 12:28] jngrad opened #3453 "ELC sample is missing the gap region"

[2020-02-06 12:34] jngrad opened #3454 "Sort out waLBerla CMake logic"
Find and implement one of these options:
1. cleanly integrate the waLBerla CMake logic with ESPResSo's
2. treat waLBerla as a module and use the fetch option (requires bumping to CMake 3.11)
3. compile the waLBerla files ourselves

[2020-02-06 12:35] jngrad opened #3455 "waLBerla unit testing particle coupling"

[2020-02-06 12:39] jngrad opened #3456 "Check for side-effects in bonded and non-bonded kernels"

[2020-02-06 12:43] jngrad opened #3457 "Document places where local_cells is accessed"
Remove all occurrences of `local_cells` (#2899). When the change cannot be operated easily, please open a dedicated issue during the coding day.

[2020-02-06 12:50] jngrad commented on #3457
duplicate

[2020-02-06 13:01] jngrad commented on #2900
coding day: identify places where malloc and realloc are still used

[2020-02-06 13:06] jngrad opened #3458 "Find duplicates in Analyze module"

[2020-02-06 13:16] jngrad opened #3459 "Removing counter-ions from diamond"

[2020-02-06 13:19] jngrad commented on #2279
Fixed by #3340

[2020-02-06 13:19] #2279 closed, assigned to nobody

[2020-02-06 15:08] RudolfWeeber opened #3460 "Rotation test not properly guarded"
[code]
with SciPy version 1.3.3

[2020-02-06 15:59] jngrad commented on #3460
I've already fixed it in a branch

[2020-02-06 16:22] RudolfWeeber commented on #3456
Explanation:
pair force functions (e.g., Lennard Jones) and bonded interaction kernels (e.g., Harmonic, Fene, AngleHarmonic) should only produce forces (and in case of rotation related kernels, torque).
In the past, these kernels were createively re-used for other purposes. We have eliminated some of them, but we aren't sure, we got all.

The task is to open tickets for those kernels, which have s

[2020-02-06 16:27] RudolfWeeber commented on #3459
The task is to remove the random counter ion placing code from the Espresso core. (src/core/diamond.cpp)
The same can be done by the user in a few lines of Python. Alternatively, ions can be placed randomly by the user and the standard techniques for overlap removal can be used.

Once the counter ion code is gone, the global (non-philox) random number generator and the system seed and user_has_see

[2020-02-06 16:29] RudolfWeeber commented on #3458
Some functionality is available twice identical or quite similar, once in system.analysis and once as an observable in src/core/observables.

The task is to identify those duplicates or close matches and open a ticket for them.
In case of exact matches, the version in src/python/espressomd/analysis.pyx should be removed.

[2020-02-06 16:32] jngrad commented on #3456
You can also check for functions named  `*_energy(...)` and `*_force(...)` in files `src/core/*bonded_interactions/*.hpp`. They should only take const references to objects. If they take a particle pointer as argument, this needs to be reported.

[2020-02-06 16:34] RudolfWeeber commented on #3455
The Walberla LB connection uses full double buffering for the forces.
I.e., it is possible to examine both, the forces to be applied to the fluid in the next time step and those that were applied in the previous time step.
This makes it possible to test the viscous particle coupling independently.

Note: There is a python test testsuite/python/lb_momentum_conservation.py. For parameters we typical

[2020-02-06 16:36] RudolfWeeber commented on #3454
Regarding 1.
This is currently done via some CMake stuff I found on github. However, it changes the source tree, the way it is currently used.

[2020-02-06 16:42] RudolfWeeber opened #3462 "Walberla, prepare for switchable implementations"
Things like the LB stencil (e.g., D3Q19) are template parameters to Walberla.
The connection code needs to be changed, such that
* there is an abstract base class defining the interface
* and derived classes using different template Parameters, switching details of the implementatoin in Walberla.

My current understanding of how that should be done is to
* write a base class with abstract member f

[2020-02-06 16:46] RudolfWeeber commented on #3370
locations to work on:
/src/core/observables
src/script_interface/observables (including intialize.cppp)
src/python/espressomd/observable.py

[2020-02-06 16:48] RudolfWeeber commented on #3450
If there is really no point in reparing them, please change the issue title

[2020-02-06 16:55] fweik commented on #3462
The is called the "Type erasure" pattern, an clear cut example can be found at https://en.wikibooks.org/wiki/More_C%2B%2B_Idioms/Type_Erasure#Example_Implementation_from_Sean_Parent_talk or in Espresso, where the mpi callback handlers in MPICallbacks.hpp are implemented in the same way.

[2020-02-06 16:57] fweik commented on #3454
I would strongly prefer the `FetchContent` version.

[2020-02-06 17:09] RudolfWeeber commented on #3454
On Thu, Feb 06, 2020 at 08:57:05AM -0800, Florian Weik wrote:

Bumping cmake version is not that big an issue, as it can be installed via pip.

This variant would have the advantage that the solution might stay functional if Walberla and its build system changes.

[2020-02-06 18:58] jngrad commented on #3453
@biermanncarl I've already a working solution for this issue and will open the PR during the coding day. You can then review it, it's not too difficult.

[2020-02-07 16:29] #3460 closed, assigned to jngrad

[2020-02-07 16:40] RudolfWeeber opened #3464 "Walberla: Figure out unit issues with stress tensor"
The off-diagonal elements, e.g., in lb_shear.py do not match.

The Walberla output scales like a +b / sqrt(dt) with a<0, b>0 and dt the time step.
This should not happen.

[2020-02-10 03:20] espresso-ci opened #3465 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11003

[2020-02-10 09:17] itischler commented on #3455
i will look at this on coding day

[2020-02-10 10:25] #3465 closed, assigned to nobody

[2020-02-10 12:26] pkreissl commented on #3450
I could start with this one, tomorrow.

[2020-02-10 18:18] RudolfWeeber commented on #3455
I'd suggest the following procedure:
* in the unit test, check that add_force_at_pos() and get_force_at_spo() are consistent. Use positions on the node, central between nodes and shifted non-tivially.
* Add get_last_applied_force_at_pos based on get_force_at_pos with hte last_applied_force_field.
* Check that after an integration, the outcoem of get_last_applied_force_at_pos matches, what was appl

[2020-02-11 09:46] pkreissl commented on #3370
I'll work on this one.

[2020-02-11 10:27] fweik commented on #2899
The following places can be kept until we have decided how to pass global state to
callbacks:
- src/core/galilei.cpp
- src/core/particle_data.cpp
- src/core/electrostatics_magnetostatics/mdlc_correction.cpp
- src/script_interface/h5md/h5md.cpp
- src/core/electrostatics_magnetostatics/p3m.cpp
- src/core/electrostatics_magnetostatics/p3m-dipolar.cpp

The following places do actually depend on the ce

[2020-02-11 10:58] jngrad opened #3472 "Make tutorial python scripts proper dependencies"
Instead of using `COPY` on the folders, use a glob to list the files and create a target. This way, when modifying the python scripts, the tutorial testsuite will be updated as well. Reported by @KaiSzuttor

[2020-02-11 12:13] #3450 closed, assigned to pkreissl

[2020-02-11 12:24] pkreissl commented on #3456
I'll have a look.

[2020-02-11 12:44] jrfinkbeiner commented on #3458
Analysis.stress_tensor() and observables.StressTensor both calculate the (instantaneous) total stress tensor. Analysis.stress_tensor() however also returns specific contributions (kinetic, bonded, nonbonded, ...)

[2020-02-11 13:03] RudolfWeeber commented on #3458
On Tue, Feb 11, 2020 at 04:44:54AM -0800, jrfinkbeiner wrote:

This probably has to stay for the time being.
observables.StressTensor might be renamed to TotalStressTensor

[2020-02-11 13:11] #3370 closed, assigned to pkreissl

[2020-02-11 14:03] jrfinkbeiner commented on #3458
Analysis.linear_momentum() and observables.ComVelocity are fairly similar.
(One calculates momentum, the other one velocity by just dividing with the total mass in the end.)
linear_momentum() optionally includes LB fluid, ComVelocity does not. ComVelocity inherits from PidObservable...

[2020-02-11 14:06] pkreissl commented on #3456
As far as I am concerned, the interaction kernels seem to not have side-effects.

[2020-02-11 14:08] espresso-ci opened #3473 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11029

[2020-02-11 14:30] fweik opened #3474 "Utils::Array should be equality comparable"
`template<class T, size_t N> Utils::Array<T, N>` and `template<class U, size_t M> Utils::Array<U, M>`
should be comparable if `T` and `U` are comparable, and `N == M`. Probably the comparison ops from `Vector` can be move to `Array`.

[2020-02-11 14:37] jrfinkbeiner commented on #3458
Analysis.center_of_mass() and observables.ComPosition are almost identical.
center_of_mass() takes particle type as argument, ComPosition particle slices (as it inherits from PidObservable).
(Implementation via statistics.centerofmass() looks nicer to me as it uses Utils::Vector3d, than the implementation in observables.ComPosition)

[2020-02-11 14:39] #3473 closed, assigned to nobody

[2020-02-11 14:52] jngrad commented on #2900
`grep -r --color -P '(m|re)alloc(?=\()' src/core`

Most matches are in `src/core/grid_based_algorithms`, which will be replaced by waLBerla. The only exception is `src/core/ParticleList.hpp`, where the container size grows linearly (a std::vector grows exponentially).

[2020-02-11 17:36] #3453 closed, assigned to jngrad

[2020-02-11 18:31] espresso-ci opened #3475 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11041

[2020-02-11 19:49] #3475 closed, assigned to nobody

[2020-02-11 21:03] jngrad commented on #3454
@RudolfWeeber The fetch strategy works. You can find my solution in 48959e1e561 (from branch [jngrad/espresso/fix-3454](https://github.com/jngrad/espresso/tree/fix-3454)). The waLBerla CMake variables must be passed to the subproject with `set(WALBERLA_BUILD_TESTS off CACHE BOOL "")` or with `option(WALBERLA_BUILD_TESTS "" OFF )`.

If I correctly understood answers on the CMake mailing list, `opti

[2020-02-11 21:42] #3457 closed, assigned to fweik

[2020-02-12 03:25] espresso-ci opened #3476 "Sphinx CI job fails on Sphinx v2.4.0"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11044

[2020-02-12 13:03] jngrad commented on #3476
I'm investigating. `cuda:10.1` was rolled back to an earlier version for the time being.

[2020-02-13 03:17] espresso-ci opened #3478 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11053

[2020-02-13 09:41] fweik commented on #2900
This, and then there is `Utils::List`, which is used for the bond and exclusion lists. Those have the advantage of being smaller than most implementations of `std::vector` if they are empty (because most impls store 3 pointers, and `List` is a pointer and two ints). In principle both can be replaced by boosts vector, which is the same size and has a customizable growth strategy, but this requires

[2020-02-13 10:50] #3478 closed, assigned to nobody

[2020-02-13 11:57] #2897 closed, assigned to fweik

[2020-02-13 11:57] #3459 closed, assigned to christophlohrmann

[2020-02-13 13:03] jngrad commented on #3476
In our CMake logic, we have:
https://github.com/espressomd/espresso/blob/55375b874637e14f4eebf7290d8bb08ab99ffdf4/doc/sphinx/CMakeLists.txt#L74-L79
where the `-P` flag means documenting private members, i.e. all classes and methods starting with a single underscore symbol. This flag was introduced in d8c56d7ad41, a few days after the `private-members` option was added in c5e9fa264fa. However, the

[2020-02-13 19:29] #3476 closed, assigned to jngrad

[2020-02-14 12:21] fweik opened #3483 "Polymer generation does not obey minimum image convention"

[2020-02-14 12:31] fweik commented on #3483
Also it compares its trial points to positions that have not been set, because `is_valid_position` always checks the complete `positions` array.

[2020-02-14 17:15] #3483 closed, assigned to fweik

[2020-02-14 23:56] fweik opened #3487 "File names of tutorials are not uniform"
Some directories in the tutorial directory are all uppercase, while others are not.

[2020-02-15 03:22] espresso-ci opened #3488 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11080

[2020-02-15 17:22] #3488 closed, assigned to nobody

[2020-02-16 14:42] #3472 closed, assigned to jngrad

[2020-02-16 15:42] espresso-ci opened #3489 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11083

[2020-02-16 17:53] jngrad commented on #3489
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/205938
duplicate of #3415

all other jobs failed because the codecov server was unresponsive

[2020-02-16 18:15] jngrad commented on #3488
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/205799
duplicate of #3104

[2020-02-16 18:28] #3489 closed, assigned to nobody

[2020-02-17 03:26] espresso-ci opened #3490 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11084

[2020-02-17 09:02] jngrad commented on #3490
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/205979
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/205980
duplicate of #3415

[2020-02-17 09:33] jngrad commented on #3490
after CI pipeline retry:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/206007
duplicate of #3415

[2020-02-17 09:53] #3490 closed, assigned to nobody

[2020-02-17 11:54] espresso-ci opened #3492 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11086

[2020-02-17 12:20] jngrad commented on #3492
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/206053
duplicate of #3415

[2020-02-17 12:37] #3492 closed, assigned to nobody

[2020-02-17 15:25] jngrad opened #3494 "RDF analysis function silently broke in 4.1.2"
Running `system.analysis.rdf()` without the argument `r_max` causes an access to a global variable `min_box_l` that doesn't exist anymore (removed in #2970):
[code]
The issue is also present in devel, but that RDF function will go away soon.

[2020-02-17 16:35] jngrad opened #3495 "Uncaught exception in System.number_of_particles()"
An uncaught exception in `espressomd.system.System.number_of_particles()` leads to a cryptic error message without segfault:
[code]
The `IndexError` is actually an `std::out_of_range` in the core.

[2020-02-17 16:53] fweik commented on #3495
That is actually a core/cython problem, probably just forwarding the `out_of_range` exception would be more meaningful. (Assuming the exception is cause by a non-existent type)

[2020-02-17 16:55] jngrad commented on #3495
My solution: I'm now throwing if the type isn't part of the map object, and catch with `handle_errors`.

[2020-02-17 17:07] jonaslandsgesell commented on #3495
@jngrad that is a functional solution. The code throws because (probably) the type does not exist in the map.

The types for which the map tracks the number of particles (when using the normal functions for adding or removing particles from the system) need to be registered first. Only then one can access the number of particles for the given type.

We decided to not automatically registering ever

[2020-02-17 19:45] fweik commented on #3495
I would in principle be possible to build the index on demand, which I think would be preferable, maybe I'll fix this quickly. Your fix is for sure better than the uncaught exception.

[2020-02-17 20:03] fweik commented on #3495
Ok it's broken anyway, because it does not track programmatic particle or type changes.

[2020-02-17 20:15] jonaslandsgesell commented on #3495
The counting mechanism is aware of any changes in particle number occuring due to a call to set_particle_type() or remove_particle() in particle_data.cpp
(through invoking remove_id_from_map() or add_id_to_type_map() ). These are the "normal functions for adding or removing particles from the system" I meant above.

Not sure how much effort would need to be placed into making this aware of possibl

[2020-02-17 20:25] fweik commented on #3495
There is other systems that can add/remove particles and change types e.g. by collisions. I don't think it's feasible to track those state changes on the head node, but we can do the same thing as with the node index, e.g. drop it on change and rebuild it on demand. In principle this should be build into the RE, but I can't even really figure out where the entry points are :-)

[2020-02-17 20:38] jonaslandsgesell commented on #3495
The reaction_algortihms implemented in reaction_ensemble.hpp all use set_particle_type() or remove_particle() from particle_data.hpp to change particle numbers (i.e. on the head node). The number of particles is then retrieved by calling number_of_particles_with_type() from particle_data.hpp.

The Monte Carlo moves for the reaction algorithm are then performed on demand by calling the correspondin

[2020-02-17 20:56] jngrad opened #3497 "Undefined variable exception in the OpenGL visualizer with periodic images"
A variable `dim` is accessed when drawing bonds in periodic images of the unit cell:
https://github.com/espressomd/espresso/blob/f9ae0e88f4b62b63696330553ab1aaff9e7b2cfb/src/python/espressomd/visualization_opengl.pyx#L1225-L1226
https://github.com/espressomd/espresso/blob/f9ae0e88f4b62b63696330553ab1aaff9e7b2cfb/src/python/espressomd/visualization_opengl.pyx#L1261-L1264

However the variable is ne

[2020-02-17 21:21] fweik opened #3498 "Particle counter per type broken"
There is a mechanism for tracking the number of particles per type in the head node particle data interface. This does so by tracking type changes thru the front end, but does not register type/particles changes from other places e.g. by collisions. This count is used in the reaction ensemble (and exposed to the user), and wrong counts can lead to wrong results. There are concrete plans to use RE

[2020-02-17 21:22] fweik commented on #3498
Was #3495.

[2020-02-17 22:07] jonaslandsgesell commented on #3498
What mechanism do you have in mind? The current state tracking is of O(1) and avoids looping over all particles to determine the number of particles of a given type. This state tracking, therefore, is fast compared to looping over all particles and reading their type which is O(N).

[2020-02-17 22:13] #3494 closed, assigned to jngrad

[2020-02-17 22:13] #3495 closed, assigned to jngrad

[2020-02-17 22:55] jngrad commented on #3415
It's also failing in PRs:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/206171
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/206235
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/206248
Why has the frequency of failures increased so much in the last few days?

[2020-02-18 03:16] espresso-ci opened #3502 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11096

[2020-02-18 09:06] jngrad commented on #3502
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/206381
duplicate of #3415

[2020-02-18 09:22] #3502 closed, assigned to nobody

[2020-02-18 10:22] espresso-ci opened #3503 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11097

[2020-02-18 10:25] jngrad commented on #3503
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/206419
duplicate of #3415

[2020-02-18 10:41] #3503 closed, assigned to nobody

[2020-02-18 13:37] fweik commented on #3498
It has to be calculated once when the control transfers to the RE, then the changes done by the RE itself can be tracked without recounting. A linear term is no problem, considering that the RE e.g. also does linear searches for neighbor distances when inserting as well as energy calculations which are more expensive. Also I'm sure there are even faster methods to obtain an incorrect result :-)

[2020-02-18 15:58] jngrad commented on #3415
It failed three times in the kodiak merge commit of #3501:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/206642
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/206661
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/206662
and caused the merge to fail:
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/206660

[2020-02-18 16:24] KaiSzuttor commented on #3415
may be connected to #3484

[2020-02-18 17:46] RudolfWeeber commented on #3454
Thank you. I much prefer this to the current solution.

If there is further need for discussion about raising the CMake requirement to 3.11 on the devel branch, anyone, please speak up by the end of the week.

Otherwise, I’m going to merge @jngrad’s solution into the Walberla feature branch.

@jngrad, @kaiszuttor, @fweik, @mkuron

[2020-02-18 17:52] fweik commented on #3454
+1

[2020-02-18 20:22] jngrad commented on #3415
Good point, I forgot this sample used a polymer. I'll run the electrophoresis sample test in a loop on `coyote10` overnight and compute the mean and standard deviation of every quantity that is being checked.

[2020-02-18 21:38] espresso-ci opened #3506 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11117

[2020-02-19 00:32] espresso-ci opened #3507 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11121

[2020-02-19 03:23] espresso-ci opened #3508 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11124

[2020-02-19 10:11] jngrad commented on #3415
Here is the 99.9% confidence interval for various values of `N_SAMPLES`:

| variable | N=400 | N=800 | N=1200 |
|---|---|---|---|
| com_vel[0] | -0.974+/-0.004 | -0.995+/-0.004 | -0.990+/-0.003 |
| com_vel[1] | -0.022+/-0.007 | -0.010+/-0.005 | -0.014+/-0.004 |
| com_vel[2] | -0.006+/-0.007 | -0.012+/-0.005 | -0.014+/-0.004 |
| mu | 1.013+/-0.004 | 1.033+/-0.004 | 1.028+/-0.003 |
| persistence_len

[2020-02-19 11:58] #3415 closed, assigned to KaiSzuttor

[2020-02-19 12:03] #3508 closed, assigned to nobody

[2020-02-19 12:03] #3507 closed, assigned to nobody

[2020-02-19 12:03] #3506 closed, assigned to nobody

[2020-02-19 13:14] jngrad commented on #2628
Progress report:
* thermostat/integrator global variables were moved into structs
* global variables associated with the Mersenne Twister were removed (0abe004dc)
* many obsolete globals were removed from the Python interface (1cb64f280403, 80a79079674e, 2ba1480cf)
* most accesses to `local_cells` have been removed (#2899) and the last occurrences are now being accessed through a function (#3501)

[2020-02-19 13:26] jngrad commented on #3497
Also, bonds that are cut by the faces of the simulation box are drawn with an incorrect angle.

[2020-02-19 15:56] #3497 closed, assigned to jngrad

[2020-02-19 16:59] RudolfWeeber opened #3513 "Walberla: Sort out checkpointing and related tests"
This likely depends partially on thermalization and the LB thermostat working with Walberla.

The corresponding tests are diabled at CMake level.

[2020-02-19 17:02] RudolfWeeber opened #3514 "Walberla: Fix engine_lb"
on one mpi rank, there is a slight momentum deviation. This may be due to the changed behavior that
dt * F/2
from the last LB time step are now included in momentum calculation.

On two mpi ranks, the test freezes.
The test is disabled at CMake level

[2020-02-19 17:06] RudolfWeeber opened #3515 "Walberla: Fix inertialess tracers"
Points to keep in mind:
* This should only be pursued after the LB momentum conservation test (and thus, standard particle coupling) works.
* The coupling code has been rewritten and now uses methods from lb_interpolation.cpp and lb_particle_coupling.cpp
* The correct catching/throwing of an exception when VS Tracers are used without active LB might be missing
* The test has been disabled at CMake

[2020-02-19 17:10] RudolfWeeber opened #3516 "Walberla: Decide on whether or not programmatic access to LB populations should be possible."
If yes, re-add the implementation.
Keep in mind that the number of values per node is no longer fixed, as other stencils than D3Q19 might be used.

The setter/getter test is currently only tested in lb_walberla.py. Depending on the decision, it should be moved to lb.py or removed.
The lb_walberla.py test is currently disabled at CMAke level. In the end, anything in there that is not covered elsewh

[2020-02-19 17:14] RudolfWeeber opened #3517 "Walberla: Decide about the future of stress_neq."
Walberla provides only one stress getter per node. It is not entirely clear, what that returns. Likely the hydrostatic part is not included, but the diagonals are not zero for the unthermalized lb_shear test either.
Once a decision has been made, the lb node stress_neq test can be re-activated in array_properties.py (search for stress_neq)

[2020-02-19 17:23] RudolfWeeber opened #3518 "Walberla: fix LB velocity profile observable"
@itischler, this is likely of interest for your current project (velocity and force interpolation).

* The velocity profile test is commented out in observable_profileLB.py
* It works neither on one nor on two nodes

* likely, the diagonal neighbors are missing again from the communication stencil in LbWalberla_impl.hpp. If I'm unavailebl, @itischler knows how to ree-add them

[2020-02-19 17:25] RudolfWeeber opened #3519 "Walberla: Decide on final rules/design of velocity boundary conditions"
Implementation in grid_based_algorithsm/lbbdounaries.cpp and lbboundaries/LbBoundary.hpp
The lb_boundary_velocity test is disabled at CMake level

[2020-02-19 17:29] RudolfWeeber opened #3520 "Walberla: fix lb_boundary_volume_force.py on 2 mpi ranks"
Limited to one rank at CMake level.
Likely an issue with ghost layers. Might be useful to defer until final decision aboutn velocity BC have been made (#3519).
It also needs to be checked that the ResetForce sweep in LbWalberla_impl.hpp does not meddle with forces on boundary nodes.

[2020-02-19 17:31] RudolfWeeber opened #3521 "Walberal: Fix lb_poisseuille_cylinder.py"
Disabled at CMake level

[2020-02-19 17:34] RudolfWeeber opened #3522 "Walberla: fix velocity interpolation in lb_interpolation.py"
The velocity interpolation test is disabled in the Python file. The mach number limit test passes.

[2020-02-19 17:37] RudolfWeeber opened #3523 "Walberla: Resolve the boundary flag test in lb_boundary.py"
Disabled within the Python file. Remaingin tests in the file work

[2020-02-19 17:38] RudolfWeeber commented on #3520
Same for lb_buoyancy_force.py Liekly same cause. Limited to 1 rank at CMake level

[2020-02-19 17:40] RudolfWeeber commented on #3455
This affects lb_momentum_conservation.py which does not work close to the domain boundary. Likely related to all issues pertaining to velocity interpolation at boundaries.
Test disabled in CMake

[2020-02-19 18:03] RudolfWeeber commented on #3516
The test in array_properties.py also has to be re-enabled based on the decision

[2020-02-19 18:05] RudolfWeeber commented on #3464
The stress check in lb_shear.py is currently commented out, but can serve to work on this issue.

[2020-02-20 00:26] jngrad commented on #3454
A few points on the currently accepted solution:
* the `target_link_libraries(EspressoCore PUBLIC ${WALBERLA_LIBS})` has `walberla::core` and `walberla::domain_decomposition` linked twice, is this necessary?
* I've updated the branch [jngrad/espresso/fix-3454](https://github.com/jngrad/espresso/tree/fix-3454) with commit ad220de to avoid unnecessary CMake errors for CI images that won't get CMake

[2020-02-20 08:57] RudolfWeeber commented on #3520
Note that the tangential forces on the walls in the lb shear test are correct, even on two nodes.

[2020-02-20 09:00] RudolfWeeber opened #3524 "Scripts to run py style and pylint checks on specified files"
would be helpful

[2020-02-20 09:10] RudolfWeeber opened #3525 "Test in the additional_test stage run, when style check failed"

[2020-02-20 09:46] RudolfWeeber opened #3526 "System includes should be excluded from clang-tidy"
So it can be used in the standard development workflow, not involvin docker or the like

[2020-02-20 10:18] RudolfWeeber opened #3527 "Walberla: Re-enable tests for lb samples and tutorials"

[2020-02-20 10:36] jngrad commented on #3525
duplicate of #3134

[2020-02-20 11:04] jngrad commented on #3524
I have developed such a tool a year ago. It is now a custom git command called `git style` that has the same syntax as `git diff`, e.g. you can filter files by their name with the double dash `--`, by a regex with `-G`, by added/deleted strings with `-S`, or by cache status.

[2020-02-20 11:06] RudolfWeeber commented on #3524
How do I get it?

[2020-02-20 11:16] RudolfWeeber opened #3528 "Walberla: Sort out failed assertion in field destructor"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/208137
In lb_buoyancy.py. I cannot reproduce this locally.
Walberla disagrees with itself about the reference count.

[2020-02-20 11:24] RudolfWeeber commented on #3528
@mkuron, could you take a look please.
It seems like this is related to boundary handling.
Should there be a corresponding delete to the
new
in the call operator of Lb_boundary_handling.
The code thee seems to be what is done in all Walberla samples, but the new looks fishy to me.

I'm disabling the buoyancy test for now. It needs to be re-enabled when investigating this.

[2020-02-20 11:31] RudolfWeeber opened #3529 "Walberla; sort out parallelization on more than 2 cores"
Espresso and Walberla currently disagree about the mapping from the integer mpir rank to the region of space allocated to a process.
Row-major vs column-major.

This limits parallelization to 2 cores.

Short term workaround: Switch the mapping in Espresso
Long term solution: Discuss with the Walberla team how we can prescribe a domain decomposition in the block forest creation.

To test this, all

[2020-02-20 11:42] jngrad commented on #3524
Copy `/tikhome/jgrad/bin/git-style` into a folder that is is in your path. `git style -h` for help.

[2020-02-20 12:10] RudolfWeeber commented on #3529
Seems to be some kind of undefined behavior. This time it appeared in lb_shear.py on the pdf field.
I re-enabled the buoyancy test but forced the maxset-walberla build job to release build type to prevent the assertions to be executed.
This needs to be reverted, when resolving this issue.

[2020-02-20 15:21] RudolfWeeber commented on #3526
system includes are actually excluded, but boost is not.

On the command-line this can be achieved with
-line-filter="[{name: boost/mpi/collectives/all_reduce.hpp}]"
I'd much prefer this to patching boost in CI docker containers.

BTW: Are we sure, .clang-tidy is found and being used for out-of-tree builds?

[2020-02-20 20:09] jngrad opened #3530 "Online visualization memory leak"
There is a memory leak when running a simulation with the OpenGL visualizer. The leak rate is around 12 MiB/min for a polymer (`visualization_bonded.py`) and 0.3 MiB/min for a Lennard-Jones liquid (`visualization_ljliquid.py`). It does not change when doubling or halving the number of particles in the system. The leak persists even if the simulation freezes, e.g. when the for loop in the integrati

[2020-02-21 03:26] espresso-ci opened #3531 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11159

[2020-02-21 09:03] jngrad commented on #3531
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/208432
tutorial 12 constant pH failed

[2020-02-21 09:11] #3531 closed, assigned to nobody

[2020-02-21 10:43] RudolfWeeber commented on #3522
Discussion with @itischler:

Test:
* set velocity v on all corner nodes
* run ghost communication?
* check that interpolated velocity for all corner positions is v
* check that interpolated velocity between corners (i.e., outside the box, inside the halo region) is v. Needs to be done for coordinates <0 and >n
* Situation on 1 node: ther may be ghost layers, even though the direct node would be ac

[2020-02-21 10:53] RudolfWeeber opened #3532 "Walberla: sort out documentation"
Re-enable sphinx check in .gitlab-ci.yml afterwards.

[2020-02-21 10:55] #3525 closed, assigned to nobody

[2020-02-21 10:59] RudolfWeeber commented on #3522
The reverse test would be needed for forces:
* Interpolate a force F onto positions just outside the box corners (on all mpi ranks. Different mpi ranks might fold the position differently).
* Check that the sum of the node force on all corner nodes is F. An mpi reduction will be needed in the unit test. Node force getters (if they don't exist yet) are needed for testing the particle coupling and e

[2020-02-21 11:37] jngrad commented on #3530
The behavior persists when using `visualizer.run(0)`, so the bug must be contained in the cython file `visualization_opengl.pyx`. The memory leak rate of a polymer simulation when bonds are not drawn with open `draw_bonds=False` is identical to that of a LJ liquid: 0.3 MiB/min leak rate and same memory usage curve.

There seems to be a missing memory deallocation in function `draw_cylinder()`. Add

[2020-02-21 13:30] mkuron commented on #3528
This happens when the block forest is destroyed at the end. Seems like you are doing something that decrements the refcount of some field by one even though it wasn't incremented before. No idea what could be doing that.

[2020-02-21 20:46] #3530 closed, assigned to jngrad

[2020-02-22 05:46] dpo854 opened #3534 "Failure to invoke espressomd from the python code"
Hi everyone,
I have installed the latest version of espresso, which is 4.1.2, on my laptop, following the procedure outlined on its documentation website. The installation was quite smooth. However, when I tried to run one of the examples from the website, I ran into the following error.

  File "/home/debadutta/Downloads/espresso/build/src/python/espressomd/__init__.py", line 23, in <module>

[2020-02-22 15:43] jngrad opened #3535 "TypeError in System.number_of_particles()"
The following error message is unhelpful:
[code]
[code]
That's because logical OR will always evaluate the right-hand side if the left-hand side is `False`:
https://github.com/espressomd/espresso/blob/babd3deb2438a4fa5cd032e279c4d39e842cfb3f/src/python/espressomd/system.pyx#L398-L401

Also, the following code is an anti-pattern, if the type is valid we should return `True`, not `False`:
https://gi

[2020-02-22 16:02] jngrad commented on #3535
On a side-note, global variable `max_seen_particle_type` is initialized with value `1` somewhere, even when no particle was added to the system, bypassing the value check in `System._is_valid_type()` for particle types `0` and `1`. I won't look into that though, because the resulting `std::out_of_range` error was fixed by #3495.

[2020-02-23 16:26] #3535 closed, assigned to jngrad

[2020-02-24 06:11] nagarajankarthik opened #3537 "Building Espresso: Cython fails with "NameError: name 'pattern' is not defined""
Dear all,

I encountered the following error when trying to build version 4.0 of Espresso:
[code]

May I know what could be the source of the problem?

[2020-02-24 08:21] KaiSzuttor commented on #3537
In order to be able to help you we need  some more information like the cython version and the compiler you are using.

[2020-02-24 08:46] nagarajankarthik commented on #3537
Hi,

I am using Cython version 0.25.2,python/3.5.1,and the gcc/5.1.0 compiler.
The Linux version is Red Hat Enterprise Linux Server release 6.10 (Santiago). Please let me know if any other information is required. Thank you for your help.

[2020-02-24 09:24] nagarajankarthik commented on #3537
I have also tried to build the latest version, 4.1. I got the following error message:
[code]
As shown in the message above, the boost version is 1.60.0. Any help would be greatly appreciated!

[2020-02-24 09:36] jngrad commented on #3537
The first error is actually a bug in the Cython compiler:
[code]
The variable `pattern` is accessed out of scope in [PyrexTypes.py#L4078-L4083](https://github.com/cython/cython/blob/cc2abe1f895f9f9340f48732c5377befe6f21e4e/Cython/Compiler/PyrexTypes.py#L4078-L4083). This bug was introduced in Cython 0.25.x and fixed in Cython 0.26.x. You'll need to upgrade Cython to build espresso 4.0. This is rep

[2020-02-24 09:56] jngrad commented on #3537
Concerning the Intel Parallel Studio XE 2016 compiler error, we only tested the 2015 and 2017 versions using boost 1.65 and boost 1.66 on Ubuntu 14.04. There was probably a good reason to use far more recent boost versions than those available in the Ubuntu 14.04 repository, but the commit message is unhelpful (espressomd/docker@38e0cc5e31). @mkuron do you remember the reason?

[2020-02-24 11:52] mkuron commented on #3537
Older Boost versions were broken in multiple ways with newer Intel compilers. Try 1.66 as a minimum.

[2020-02-24 12:37] nagarajankarthik commented on #3537
@jngrad and @mkuron : Thank you for the quick reply.

I am trying to build Espresso on a High-Performance Computing (HPC) cluster for which I do not have administrative privileges. Therefore, I am unsure of the feasibility of upgrading the software required to build Espresso. My system specifications are as follows:

Red Hat Enterprise Linux Server release 6.10 (Santiago)
Boost 1.60.0
Python 3.5.1

[2020-02-24 13:44] RudolfWeeber opened #3539 "ParticleList:: switch to boost::vector"

[2020-02-24 13:45] RudolfWeeber opened #3540 "Utils::List: switch to boost::vector"

[2020-02-24 15:07] jngrad commented on #3315
Since our CI infrastructure doesn't have i586, we cannot reproduce the `collision_detection` failure on our side, and the error message is not sufficient to determine the cause, so we will not investigate it further. The test has been disabled for i586 ([openSUSE:Factory/python3-espressomd/python3-espressomd.spec](https://build.opensuse.org/package/view_file/openSUSE:Factory/python3-espressomd/pyt

[2020-02-24 15:07] #3315 closed, assigned to KaiSzuttor

[2020-02-24 15:16] jngrad commented on #3396
Update: the epsilon value in the boost unit tests was wrong and got fixed in #3427, which is now a patch in the openSUSE package ([openSUSE:Factory/python3-espressomd/3427.patch](https://build.opensuse.org/package/view_file/openSUSE:Factory/python3-espressomd/3427.patch?expand=1)). Other failing tests were patched (https://github.com/espressomd/espresso/issues/3315#issuecomment-576820269), excepte

[2020-02-24 15:16] #3396 closed, assigned to nobody

[2020-02-24 15:23] jngrad commented on #3316
This issue is now obsolete, espresso-4.1.1 was replaced by espresso-4.1.2 ([koji build 1422305](https://koji.fedoraproject.org/koji/buildinfo?buildID=1422305)).

[2020-02-24 15:23] #3316 closed, assigned to nobody

[2020-02-24 15:34] jngrad commented on #3307
The issue is still being investigated ([Bugzilla 1747506](https://bugzilla.redhat.com/show_bug.cgi?id=1747506), [Bugzilla 1722181](https://bugzilla.redhat.com/show_bug.cgi?id=1722181)). It seems orthogonal to espresso. Closing.

[2020-02-24 15:34] #3307 closed, assigned to nobody

[2020-02-24 18:28] jngrad commented on #2233
I've come up with a solution where each Observable class has a `std::vector<int> shape()` method that is called in Cython to reshape the flattened array into an N-dimensional array. Is it what you had in mind?

[2020-02-26 13:35] jngrad commented on #3537
We've only tested espresso with the Intel MPI library in combination with the Intel compiler and recent boost versions in CI. Below are the logs of manual builds with various versions of GCC/CUDA/Cython/Intel-MPI/boost. Cuda 8 to 10 are supported, GCC 4.8 to 7.4, boost 1.63 and 1.66.

I'm not sure you'll be able to compile espresso with Cython 0.25 and boost 1.60. Do you have the option of buildin

[2020-02-26 14:50] jngrad commented on #3454
When compiling waLBerla and an `ExternalProject` with Clang 9 and ASAN on Ubuntu 20.04, the CMake output shows `/usr/bin/c++` instead of `/usr/bin/clang++-9` in the configuration step but uses `clang++-9` in the build step, finds `MPI_C` (aka `libmpi.so`) but not `MPI_CXX` (aka `libmpi_cxx.so`, which is in the same folder!!), and fails with `fatal error: 'mpi.h'` because it doesn't find the path t

[2020-02-26 21:24] jonaslandsgesell commented on #3534
Hello Debadutta!

This looks like an MPI error to me. What mpi package and version did you install?

[2020-02-27 02:25] nagarajankarthik commented on #3537
I am unsure as to whether I can build Espresso in a docker container since docker does not seem to be installed in my system. I have downloaded boost 1.72. Are there any specific steps I need to take to build certain libraries?

[2020-02-27 03:25] espresso-ci opened #3546 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11204

[2020-02-27 07:16] jngrad commented on #3537
This is how we build boost from sources for the Intel MPI library and set up environment variables such that the espresso CMake can find it: [espressomd/docker/intel-python3/Dockerfile-19#L47-L58](https://github.com/espressomd/docker/blob/c127f91b069acf0f07e0be155ac42799a968a3e2/docker/intel-python3/Dockerfile-19#L47-L58)

[2020-02-27 12:54] nagarajankarthik commented on #3537
Do I need to install Docker first? From this page (https://docs.docker.com/install/linux/docker-ce/ubuntu/), it appears that would require me to have sudo privileges, which I do not have.

[2020-02-27 15:28] jngrad commented on #3537
The section highlighted in yellow is standard shell syntax. Use e.g. `install --prefix=$HOME/boost` to install the compiled boost files somewhere in your home folder, and `export BOOST_ROOT=$HOME/boost`, `export LD_LIBRARY_PATH="$HOME/boost/lib:${LD_LIBRARY_PATH}"` so that CMake can find them.

[2020-02-28 01:41] nagarajankarthik commented on #3537
When attempting to build Boost using the steps shown in (https://github.com/espressomd/docker/blob/c127f91b069acf0f07e0be155ac42799a968a3e2/docker/intel-python3/Dockerfile-19#L47-L58), I got numerous error messages such as the one below:

[code]

How do I locate pyconfig.h?

[2020-02-28 03:29] espresso-ci opened #3548 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11221

[2020-02-28 09:11] jngrad commented on #3537
On Fedora or Red Hat Enterprise, you'll need to install package `python3-devel` from your package manager to generate file `/usr/include/python3.*/pyconfig.h`.

[2020-02-28 09:56] #3546 closed, assigned to jngrad

[2020-02-28 09:56] #3548 closed, assigned to jngrad

[2020-02-28 09:56] nagarajankarthik commented on #3537
I just tried to do that using the command 'yum install python3-devel'. But I got the following error message:

Loaded plugins: priorities, product-id, search-disabled-repos, security, subscription-manager
Error loading certificate: [Errno 13] Permission denied: '/etc/pki/entitlement/3172555776528829459.pem'
You need to be root to perform this command.

Is there a workaround for this?

[2020-02-28 10:00] pkreissl opened #3550 "HollowConicalFrustum's orientation does not align with its `axis` parameter"
Currently, `HollowConicialFrustum` is visualized via rasterization of its surface via distance calculation &ndash; consequently, its visualization is a direct representation of the respective constraint applied in the core (meaning, this can't just be a visualization bug).

Running the sample script `espressomd/samples/visualization_constraints.py --hollowconicalfrustum`, one observes the expected

[2020-02-28 10:01] pkreissl commented on #3550
@KaiSzuttor , maybe you want to have a look.

[2020-02-28 10:55] jngrad commented on #3537
The file `pyconfig.h` is built from `pyconfig.h.in` when installing `python3-devel`, so you can't really work around it. You'll need to consult the system administrator of the HPC center and the system administrator of your home institute to find a solution. Maybe they can setup a server with docker (if necessary using kaniko or the docker-in-docker method for improved security) or any other emula

[2020-02-28 12:11] nagarajankarthik commented on #3537
I see. The problem is that I am presently unable to contact my system admininstrator.

Anyhow, @jngrad , many thanks for patiently answering my various questions. I guess we can close this issue for the time being.

[2020-02-28 12:11] #3537 closed, assigned to nobody

[2020-02-28 15:44] KaiSzuttor opened #3552 "system time not part of system's state"

[2020-02-29 03:17] espresso-ci opened #3553 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11233

[2020-02-29 09:48] jngrad commented on #3553
The failing CI pulled commit 8c89097c. Our GitLab mirror didn't pull the most recent commits with the fix (5aab7f7ec5). The corresponding webhook `91723408-5a10-11ea-9ea9-a634c6a9a89c` was correctly delivered, though:
[code]
I've re-delivered the webhook and the GitLab mirror got the latest commit.

[2020-02-29 09:48] #3553 closed, assigned to nobody

[2020-02-29 10:23] espresso-ci opened #3554 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11234

[2020-02-29 14:33] jngrad commented on #3554
This was just a runner failure.

[2020-02-29 15:31] #3554 closed, assigned to nobody

[2020-03-01 19:25] dpo854 commented on #3534
Hi Jonas,
I have the following library installed.

Intel(R) MPI Library for Linux* OS, Version 2018 Build 20170713 (id: 17594)
Copyright (C) 2003-2017, Intel Corporation. All rights reserved.

[2020-03-01 19:27] dpo854 commented on #3534
By the way, it's running fine on my cluster as well as on my office desktop.

[2020-03-01 21:44] dpo854 opened #3555 "Out of memory error"
Hi everyone,
I made some modifications to the grand canonical code to simulate ions under cylindrical confinement. However, it throws up the following error.

/var/spool/slurmd/job6198668/slurm_script: line 19: 29195 Killed                  $ESPRESSO_PATH/pypresso MD-cell.py 0.0000048184 -0.06561
slurmstepd: error: Detected 1 oom-kill event(s) in step 6198668.batch cgroup. Some of your processes m

[2020-03-02 09:05] KaiSzuttor commented on #3555
Could you please check if you script works without a scheduling system?

[2020-03-02 09:11] KaiSzuttor commented on #3534
could you please check which MPI library is found by ```cmake``` and therefore is linked against? You probably have to set the ```LD_LIBRARY_PATH``` environment variable. This is necessary if you have multiple installations of the MPI library on your system.

[2020-03-02 09:34] fweik commented on #3555
I made the following minimal working script from the code you posted:

[code]

according to valgrind's massif tool, this has a peak memory usage of 8.406 MB,
which sounds reasonable. It could be possible that you have to request memory
with your submission script to slurm.

[2020-03-02 10:06] KaiSzuttor commented on #3552
I was wrong

[2020-03-02 10:06] #3552 closed, assigned to nobody

[2020-03-02 19:41] espresso-ci opened #3558 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11259

[2020-03-02 21:48] #3558 closed, assigned to nobody

[2020-03-03 03:28] dpo854 commented on #3534
Doing cmake .. gave me the following:

-- Boost version: 1.58.0
-- Found the following Boost libraries:
--   mpi
--   serialization
--   filesystem
--   system
--   unit_test_framework

[2020-03-03 03:51] dpo854 commented on #3555
Requesting memory solved the problem for the time being. However, another problem came up, which unless resolved can make it difficult to predict whether the current problem has been resolved. The error is due probably to large forces experienced by particles, but I had made sure to put all particles inside the cylinder. This actually causes the electrostatic solver to fail as shown below.

ERROR:

[2020-03-03 06:00] dpo854 commented on #3555
I am sorry for rushing with the program. Later thinking a bit more deeply about the particle addition/deletion scheme in espresso, I realized that perhaps the constraint due to the wall does not automatically limit the positions of the created particles in grand canonical ensemble to the inside of the cylinder, which is why they might be colliding with the wall and hence, getting kicked out of the

[2020-03-03 10:23] KaiSzuttor commented on #3534
please post the output of the following command (called from your build directory)
[code]

[2020-03-03 15:07] #3550 closed, assigned to KaiSzuttor

[2020-03-03 16:07] dpo854 commented on #3534
libboost_mpi.so.1.58.0 => /usr/lib/x86_64-linux-gnu/libboost_mpi.so.1.58.0 (0x00007febcb506000)
	libmpicxx.so.12 => /opt/intel/compilers_and_libraries_2018.0.128/linux/mpi/intel64/lib/libmpicxx.so.12 (0x00007febcaee7000)
	libmpi.so.12 => /opt/intel/compilers_and_libraries_2018.0.128/linux/mpi/intel64/lib/libmpi.so.12 (0x00007febca1b5000)
	libmpi_cxx.so.1 => /usr/lib/libmpi_cxx.so.1 (0x00007febc910

[2020-03-03 16:07] espresso-ci opened #3561 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11269

[2020-03-03 17:05] jngrad commented on #3561
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/212052
AMD GPU
[code]

[2020-03-03 17:26] #3561 closed, assigned to nobody

[2020-03-03 17:53] jonaslandsgesell commented on #3555
The situation you mention will happen, unless you restrict the volume to which you want to insert the ions. This is because it is not clear what the default behavior should be. The program cannot know which system should be simulated (i.e. whether the region of interest is inside or outside the cylindrical constraint, or both?).

A cylindrical constraint in z-direction can be set for the reaction_

[2020-03-03 18:36] KaiSzuttor commented on #3555
btw why isnt there just a “respect constraints” flag?

[2020-03-03 20:27] KaiSzuttor commented on #3534
so I guess ```/opt/intel/compilers_and_libraries_2018.0.128/linux/mpi/intel64/lib``` is not in your ```LD_LIBRARY_PATH```

[2020-03-03 21:19] mkuron commented on #3534
It‘s in `LD_LIBRARY_PATH `, otherwise `ldd` wouldn‘t pick it up. However, it is clearly mixing the C library (Intel) and the C++ library (OpenMPI?), which cannot work.

This looks like CMake is using the wrong `mpicc` during its MPI detection. Something is wrong in your `$PATH` or `$LD_LIBRARY_PATH` or your Intel MPI installation is incomplete.

[2020-03-03 22:26] #1142 closed, assigned to nobody

[2020-03-03 23:32] #2233 closed, assigned to jngrad

[2020-03-04 09:41] KaiSzuttor commented on #3526
yes, see below

[clang homepage](https://clang.llvm.org/extra/clang-tidy/#suppressing-undesired-diagnostics)
[code]

[2020-03-05 05:56] dpo854 commented on #3555
Hi Jonas,
I added the above lines to my code and put a gap of at least 2 sigma between **radius_of_cylinder** and WCA cylinder wall. Unfortunately, the error still remains.

[2020-03-05 10:41] jngrad opened #3565 "Register ESPResSo in DaRUS"
* Make the software citable (DOI for every major, minor, patch release), depends on #2253
* Create software metadata (software main contributors, home institute, publications, etc.)
   * The metadata can be retrieved by the Universitätsbibliothek Stuttgart (IZUS)
   * The metadata can be used to create a `CITATION.cff` file
* Links:
   * [DaRUS - the Data Repository of the University of Stuttgart]

[2020-03-05 19:39] fweik commented on #3565
I don't think this is needed with historic versions.

[2020-03-05 19:41] fweik commented on #2253
Not sure if/why this is needed. There exist automatic tarballs and tags for the releases.

[2020-03-06 05:59] dpo854 commented on #3555
The code is attached below. It's the same code as grandcanonical.py except for the lines on the constraint. I have tried to simulate this cell model with hoomd, which gave me memory error.
[code]

[2020-03-06 06:01] dpo854 commented on #3555
There is no way I can upload my file here. Please let me know if you need the file.

[2020-03-06 06:16] mkuron commented on #2253
The tarballs have signatures and pre-generated autoconf/automake files.

[2020-03-06 06:20] jonaslandsgesell commented on #3555
Hello Debadutta,

from a quick look at how the cylindrical constraint is setup, I guess the problem lies there.
If you want to debug your script, please check the positions of all particles and check whether "unexpected" positions occur.
Good candidates for possible blow ups of your simulation are also these parameters in the cylindrical constraint part:

- direction=-1 (please check)
- length=box

[2020-03-06 06:51] dpo854 commented on #3555
Thanks Jonas for offering to help. I have indeed set the direction to -1 at the time of defining the cylinder and made sure that all particles initially respect the constraint by explicitly printing out their positions while they are being created. Of course, this happens before RE.reaction(), meaning there is no way I could track the positions of added particles.  Regarding the length, does it ta

[2020-03-06 10:39] jngrad opened #3566 "Incorrect documentation of shape parameters"
The documentation of shapes `Cylinder` and `SpheroCylinder` incorrectly states the `length` parameter represents half the cylinder length:

https://github.com/espressomd/espresso/blob/0436a79c927161ce220907763893615d8153c09b/doc/sphinx/constraints.rst#L249-L250

This was only true in the Tcl version, it was changed in the 4.0.0 release (6a1ff8558).

Reported by @dpo854 in https://github.com/espres

[2020-03-06 14:45] jngrad commented on #3566
The `Rhomboid` shape is also incorrectly documented.

[2020-03-06 18:57] #3487 closed, assigned to nobody

[2020-03-06 18:57] #3566 closed, assigned to jngrad

[2020-03-07 08:47] jonaslandsgesell commented on #3555
I sent you an email with my simulation setup of the single-chain CGM (also to @kosovan, @KaiSzuttor , @fweik ).

[2020-03-10 16:35] fweik opened #3573 "Unit tests thermostats_test and random_test are very slow"
in debug builds. This is due to the use of heap allocations and std::functions in the how loop.
With a better implementation these tests can be considerably sped up, which would lead to
a smoother workflow.
We should also discuss if statistical tests on the thermostats are needed or a good idea, or
if would be better if a mock RNG could be passed to then, and then checked if it is used correctly.

[2020-03-12 03:26] espresso-ci opened #3576 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11379

[2020-03-12 07:39] KaiSzuttor opened #3577 "observable accumulators do not return correct shape"
E.g.: ```TimeSeries``` returns an array of shape ```(N_samples, flat_observable_shape)``` instead of ```(N_samples, observable_shape)```

[2020-03-12 10:14] jngrad commented on #3576
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/213921
duplicate of #3104

[2020-03-12 10:34] #3576 closed, assigned to nobody

[2020-03-12 11:36] espresso-ci opened #3580 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11384

[2020-03-12 12:07] jngrad commented on #3580
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/214025
duplicate of #3104

[2020-03-12 12:26] #3580 closed, assigned to nobody

[2020-03-12 15:55] espresso-ci opened #3581 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11401

[2020-03-12 16:09] jngrad commented on #3581
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/214530
that's a new one: test `ek_charged_plate` failed

[2020-03-12 16:14] KaiSzuttor commented on #3581
but only rocm...

[2020-03-12 16:15] jngrad commented on #2973
The ROCm library rocFFT broke on multiple occasions:
* ROCm 2.9: espressomd/docker#139, had to write a complex fix and wait for a patch upstream
* ROCm 3.0: espressomd/docker#157, url in `/etc/apt/sources.list.d/rocm.list` was wrong
* ROCm 3.1: espressomd/docker#156, we have to wait for a patch upstream

[2020-03-12 16:24] jngrad commented on #3581
I think it's just a flaky test, in the debug console it passes.

[2020-03-12 16:40] #3581 closed, assigned to nobody

[2020-03-14 23:38] jngrad commented on #3573
Concerning the runtime: I chose the number of samples to remain below the 15 sec mark in Debug builds. I found out today that Debug builds don't get their `-Og` flag overridden by `-O0` when coverage is enabled, only the Release builds do. For Release buids with coverage, the runtime is between 80-300 sec depending on the hardware, which is too much.

[2020-03-16 19:18] fweik commented on #3573
Yes, this can also be easily fixed. E.g. replacing `std::function` and `std::vector` by just static constructs which can be deduced at compile time. I also don't think this is very high priority,
maybe a task for a coding day for somebody who wants to sharpen their C++ skills.

[2020-03-16 19:25] jngrad commented on #3573
We need to weigh in on the importance of fixing those tests in the context of using `-O0` vs. `-Og` for coverage builds, maybe during tomorrow's meeting. This thermostat test actually timed out in CI of #3582 when I replaced `-Og` by `-O0` to be in line with recommendations from `gcov`. Looking through the git history, I couldn't find the rationale for using `-Og`. Was it to reduce test time in CI

[2020-03-16 22:09] fweik commented on #3573
Yes I think so. That is basically turning on all the optimizations that are still compatible with coverage. I think `-Og` can be used everywhere if available?

[2020-03-16 22:13] fweik commented on #3573
Looking at the code, replacing the `std::function` is trivial. But my guess would be that most overhead is from the memory allocation caused by all the `std::vector`s that are created in destroyed in the  hot-loop, in the call to `noise_statistics`. From the call sites I looked at neither the `variant` nor the heap allocations nor the `std::function` is needed, it's all static information.

[2020-03-17 09:21] fweik opened #3585 "Thermostat noise for different seeds is correlated"
Currently the thermostat noise for different seeds is correlated, the seed just shifts the sequence.
Currently the seed is used to offset the counter, but it should be used in the key to get independent
sequences. Also there should only be one counter...

[2020-03-17 13:00] jngrad commented on #3585
We could use the user-provided seed value as the offset of a Philox counter and take the random number at that index as the seed for the thermostats.

[2020-03-17 13:06] jonaslandsgesell commented on #3555
Can this be closed here?
The wrongly documented parameters for the cylinder could have resulted in the explosion of the system.

[2020-03-17 13:12] KaiSzuttor commented on #3585
we should start with writing a failing test

[2020-03-17 13:17] fweik commented on #3585
The obvious and simple solution is to use the seed as part of the key. This would also allow to just use one counter for all the RNGs (as a global propagation parameter).

[2020-03-17 13:30] fweik commented on #3585
Also the salt should be part of the key, not the counter....

[2020-03-17 13:44] fweik commented on #3585
I'll propose a fix.

[2020-03-17 16:21] fweik commented on #3585
There is a sketch in https://github.com/fweik/espresso/tree/counter, which this the thermostats can be turned into proper classes, because `seed` just a regular parameter, which allows for removing all of the coursed constructions around the thermostats. I'm not going to work anymore on this in my free time...

[2020-03-17 16:22] fweik commented on #3585
The branch lacks the python interface, which can also be considerably simplified. The counter needs to be added to the state (this is why the checkpointing tests fail), and the cython stuff needs to be adjusted.

[2020-03-18 10:12] #3555 closed, assigned to nobody

[2020-03-18 12:12] jngrad commented on #3585
You've also added an extra `seed` argument to all functions in `src/core/random.hpp`, but that seed isn't used.

[2020-03-19 03:25] espresso-ci opened #3587 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11478

[2020-03-19 12:02] jngrad commented on #3587
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/215951
duplicate of #3581
@mkuron the `ek_charged_plate` test has become flaky on ROCm recently.

[2020-03-19 12:10] mkuron commented on #3587
That's odd. There haven't been any changes to the EK recently (or to ROCm) as far as I remember. Do you have an easy way of checking the CI logs to see when it popped up for the first time?

[2020-03-19 12:26] jngrad commented on #3587
As root on elk, you can do
[code]

[2020-03-19 12:37] jngrad commented on #3587
To limit the results to the python branch, to ROCm builds and to the last 3 months:
[code]
There are only two results. Read files with `less -R` to skip most of the color encoding symbols. Removing the `python` constraint generates a lot of PR logfiles where most tests failed.

[2020-03-20 11:38] fweik commented on #3585
Ah right. I'll finish this next week.

[2020-03-24 08:50] fweik opened #3590 "MPIIO needs some improvement"
The mpiio parallel io method needs some work. Currently it only stores part of the particle information, which might be very surprising (e.g. the linear position is stored, but the orientation is dropped). I think I should either use the same selection mechanism as for the ghosts, eg make it switchable which sub structs are stored, or just always store complete particles. It's also currently possi

[2020-03-24 09:02] fweik opened #3591 "Add and enforce CMake formatting rules"
We should have a .cmake-format file, and enforce it in the CI. We might also consider checking
if there are source files that are not mentioned in the build system and warn about that (not sure about this one).

[2020-03-24 09:03] fweik opened #3592 "Add headers to CMake source list"
We might consider adding header files to the target source as this can improve how some generators (e.g. visual studio) work with the project. I don't think that there is a downside. @KaiSzuttor any opinion on this?

[2020-03-24 09:11] fweik commented on #3592
Potentially this does not work with our CUDA targets...

[2020-03-25 13:38] RudolfWeeber opened #3594 "Performance regression when creating particles"
The following script changed from ~0.8 to 50 secs with recent changes in the Python branch
[code]

It is my impression that this is caused in/around the particle node lookup, particularly, when the particle node cache is rebuilt.

In my actual simulations, I need 1^6 particles, so the particle creation would take nearly ten minutes...
It gets worse, when bonds are involved, because then, even more

[2020-03-25 14:50] RudolfWeeber commented on #3594
With full optimization, perf reports
60% in cell_structure::add_local_particle and 30% in get_maximal_particle_id.

[2020-03-25 16:09] fweik commented on #3594
From a quick glance the reason is that the python code gets the maximal id after every added particle,
which causes a lot of communication. This is actually not needed, for a slice it only needs to be calculated once, and then all the subsequent ids can be filled in.

[2020-03-25 16:20] RudolfWeeber commented on #3594
Profile with -Og:
[code]

[2020-03-25 16:34] fweik commented on #3594
In your example script you are adding all particles to the same cell, that also hurts performance.

[2020-03-25 16:37] RudolfWeeber commented on #3594
I’m working on the suggested change in the Py interface. It halves the problem, but 25sec for 100k particles still isn’t ok.

My actual simulation uses more evenly spaced particles.

[2020-03-25 16:37] fweik commented on #3594
As I was saying, your example script does add all the particles at the same position. This is not realistic, so this is not a good benchmark.

[2020-03-25 16:43] fweik commented on #3594
So the background is, every time a cell reallocates, the addresses of all the particle in it changes. So the index has to be updated, which is linear in he number of particles already in the cell. Because the cell reallocates every fixed number of particles added, this makes the whole process quadratic. This has always been the case. The recent changes made the prefactor worse, which can be fixed,

[2020-03-25 17:26] RudolfWeeber commented on #3594
So, for random positions it's somewhat better, but 500k particles still take over a minute.
Things get worse, when adding bonds (or likely other particle properites). Then 100k particles take over a minute.

This is, with the particle id pre-calcualtion, you suggested.

[code]

[2020-03-25 17:32] fweik commented on #3594
Did you compare to an older version? I understand the index thing, but the performance of the bonds  adding should not have changed recently. I think the proper fix for all of this would be to allow bulk-adding particles...

[2020-03-25 17:37] fweik commented on #3594
Ah I found something.

[2020-03-25 17:40] RudolfWeeber commented on #3594
With bonds it takes 1sec with an older version.
Most of the time in the current code for the bodns case is spentin get_particle_node().

W/r to the index, would it help to reserve capacity in the vector in bigger chunks?

[2020-03-25 18:07] fweik commented on #3594
I found the problem in `get_particle_node`, just give me a minute. Then I can do a benchmark with more realistic positions.

[2020-03-25 18:31] fweik commented on #3594
#3595 restores the old behavior as far as I can tell. If you need a faster solution, we should
add a function to bulk-add particles, which would maybe be a good idea in general.

[2020-03-25 18:41] fweik commented on #3594
[code]
now takes 1.094s on my machine.

[2020-03-25 21:40] fweik opened #3596 "Rotational degrees of virtual sites do not contribute to kinetic energy"
From `energy_inline.hpp`:
[code]

The situation is actually more complicated, because this depends on the virtual sites
parameters. Maybe `VirtualSites::m_have_quaternion` should be dropped in favor of
obeying the rotation flag of the virtual particle. Also there is of course no test.

[2020-03-26 03:25] espresso-ci opened #3597 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11538

[2020-03-26 07:07] #3597 closed, assigned to nobody

[2020-03-26 11:44] fweik commented on #3594
Fixed by #3598.

[2020-03-26 11:44] #3594 closed, assigned to nobody

[2020-03-26 17:55] jngrad opened #3599 "Refactoring the `PidObservable` and `ProfileObservable` framework"
We currently have the following observable framework:
[code]

The cartesian and cylindrical observables have a completely different inheritance diagram despite doing the same thing with different names (attributes `x, y, z` become `r, phi, z`). There is also un-necessary code duplication in the script interface, where each core class must be re-declared with `AutoParameters`. Finally, adding anoth

[2020-03-27 16:20] RudolfWeeber opened #3600 "Performance regression when evaluating PidObservable"
Evaluating ParticlePositions for 40k particles takes 40 sec with a current ES, but <0.1s with an older version.
The profile suggests that most of the time is spent in building the particle cache.

Test script:
[code]

[2020-03-27 17:48] jngrad commented on #3599
Concerning the last point, I tried returning the histogram edges from the core observables, but I can't get the `AutoParameters` interface to work out. The WIP is in [jngrad/espresso:observable-edges](https://github.com/jngrad/espresso/tree/observable-edges). The compiler error in a118cc3af17 is not human-readable. Converting the read-only `AutoParameter` (the lambda is a getter) by a `call_method

[2020-03-27 20:10] fweik commented on #3600
Unfortunately `class ParticleCache` is completely incomprehensible to me, I wonder who implemented that monstrosity... :-)

[2020-03-28 00:50] fweik commented on #3600
#3601 speeds the benchmark up to 15ms. Adding particles is still a little bit slow, but this is a separate issue.

[2020-03-28 17:09] #3600 closed, assigned to nobody

[2020-03-28 17:12] fweik opened #3602 "Make size of the particle fetch cache setable by the user"
The front end particle access is sped up by a cache, whose size is currently hard-coded to 100MB,
which corresponds to ~100k-1M particles, depending on what features are activated. As the is a
significant performance impact on operations from python, this size should probably controllable
by the user. I'd tend to also increase default size by 10x.

[2020-03-29 17:28] RudolfWeeber opened #3603 "LB Profile observables: incorrect interpolation positoins"
Can be tested by placing particles at the nodes of the lb, and then comparing
the particle velocities (and FluxDensityProfile) against LbVelocityProfile:

[code]

[2020-03-29 17:31] RudolfWeeber commented on #3603
I believe the calculation of sampling positions in LBProfileObservable to be incorrect:
[code]
In my view:
* rather than the box size, the max_[x,y,z] should be used
* the number of bins should be taken from user input rather than recalculating it. As it is, the sampling_offset has to be removed from the expresssions fro n_samples_[x,y,z]

[2020-03-29 19:31] fweik commented on #3599
You can not get a `std::vector<std::vector<int>>` from a `Variant`, because this is not a type
that it can hold. You can get a `std::vector<Variant>`, and then a `std::vector<int>` from every entry.
From the python side it should just work, e.g. a list of lists of int should be converted to a `std::vector<Variant>`. Does this answer your question?

[2020-03-29 19:33] fweik commented on #3599
The change in 688bcc7 is not required, the variant can already contain nested data, because
its a recursive variant.

[2020-03-30 06:33] KaiSzuttor commented on #3599
So is the discussion about the overall observables design finished? Otherwise I would avoid thinking about implementation details.
E.g. it's not totally obvious to me why we need a ```PtypeObservable``` (btw. should be called ```PartTypeObservable``` or ```PTypeObservable```). Filtering the particles can be done on the interface level very easily or do you want to dynamically include particles in

[2020-03-30 06:37] KaiSzuttor commented on #3603
Can you explain why you believe this? It's tested in ```testsuite/python/observable_profileLB.py```. The real downside of the implementation is that it's not production ready performancewise.

[2020-03-30 07:19] KaiSzuttor commented on #3591
maybe we should also have a look at [pre-commit](https://pre-commit.com). Would probably be handy and could avoid all those useless formatting commits.

[2020-03-30 07:58] dpo854 opened #3605 "FENE bonds breaking during the simulation"
What is the default equilibrium bond length for FENE? Is it 1 or zero in distance units? Is it the reason polymer bonds often break during the simulation?

[2020-03-30 08:00] RudolfWeeber commented on #3591
As a first step, we might include @jngrad’s git-style command in the maintainer folder. With this, the style checks execute in less than 3 secs, so you can actually run them more frequently. The full fix_style.sh runs for more than 1 min for me, which is too slow for frequent use.

Commit hooks probably place rather specific requirements on users’  environments.

[2020-03-30 08:02] KaiSzuttor commented on #3605
The default for ```r_0``` is ```0.0```. That may or may not be the source of your issue. Please provide a minimal *not* working example.

[2020-03-30 08:04] KaiSzuttor commented on #3591
The advantage of ```pre-commit``` is that it only runs on changed files which is very fast.
The tool, however, is probably more useful for the espresso team that for regular users. Still I see some value here.

[2020-03-30 08:15] mkuron commented on #3591
For use by regular users, you can put it into the fix_style script that is already run by CI. For your own purposes, add pre-commit hooks to your local repository as you find useful (hooks are not part of the repository and thus cannot be pushed to a remote anyway).

[2020-03-30 08:21] KaiSzuttor commented on #3591
it's also a tool, in case you missed that

[2020-03-30 08:25] dpo854 commented on #3605
I see. But then how do you prevent two adjacent bonded particles from collapsing into each other? Does the non-boned potential act between two bonded particles?

[2020-03-30 08:26] KaiSzuttor commented on #3605
yes

[2020-03-30 08:51] RudolfWeeber commented on #3603
Please take a look at the sample code provided in the ticket.

It places a particle at the center of each lb node and then retrieves the info via the lb profile observable. The result from the observable is stlightly shifted, due to a different step with (box_size -sampling_offset)/n rather than box_size/n.

The outcome is that the last “row” (result[n,:]) is empty.

This is not so for the FluxDen

[2020-03-30 09:04] mkuron commented on #3591
That makes no difference, it just makes it easier to share your hooks with someone else. Not too different from a shell script in the repo and symlinks. Enabling them requires manual work and they are not run server-side (e.g. when merging a pull request). It does not change anything about the general concept of git hooks. I'm not a fan of git hooks because they can make advanced git operations li

[2020-03-30 09:26] fweik commented on #3599
@jngrad, if the `AutoParameters` stuff makes you too much trouble, you don't have to use it. You can also just directly implement `ScriptInterfaceBase` and do by your own rules. I know that all of this
business is fairly horrible. I have an considerable improvement in the pipeline, but I can't promise when this will be ready. Frankly, I'm already overloaded, and as per usual there is no plan for a

[2020-03-30 09:49] fweik commented on #3605
In a typical (Kermer-Grest type) polymer model, you have the `r_0` of the bond at zero, but Lennard-Jones (LJ) interactions between the bonds, which keeps them at 1 sigma at equilibrium. This is also stable at unit temperature. You can have a look at `samples/minimal-polymer.py` for a minimal setup, this uses a purely repulsive LJ (=WCA), but this also works with an LJ that has an attractive part.

[2020-03-30 12:39] jngrad commented on #3599
@fweik I finally managed to get the core to send a vector of vectors back to Python using the recursive Variant. Let's see if I can figure out how to pass a list of lists from Python to the core...

The frustration with the `AutoParameters` infrastructure stems from the limited documentation (I have to read the `AutoParameter` implementation to understand the feature) and from the unreadable templ

[2020-03-31 08:11] KaiSzuttor opened #3609 "test"

[2020-03-31 08:16] #3609 closed, assigned to nobody

[2020-03-31 08:37] #3603 closed, assigned to KaiSzuttor

[2020-03-31 11:46] fweik opened #3610 "Remove unneeded cache resets of front-end code"
Currently the whole particle fetch cache is dropped when any particle is touched. This is not
needed, because in most of the cases it is know which particle is modified, so only that particle
needs to be removed from the cache. For particle updates thru the messages, there is even a
description of the mutation, so the updated can also be applied to the cache particle, and
the cache can stay valid.

[2020-03-31 15:58] RudolfWeeber opened #3611 "CI Cuda Jobs"
This is the suggested list of GPU CI jobs to run in the future:
* Ubuntu 20.04 with Ubuntu-supplied Cuda 10.1
* Ubuntu 18.04 with Ubuntu-supplied Cuda 9.1
* NVidia supplied Ubuntu with Cuda-latest (currently 10.2)
* OSX with Cuda 10.2
* Ubuntu 20.04 with Rocm (3, I suppose?)

This ticket only pertains to GPU jobs. Everything else CI/docker is a different matter

[2020-03-31 16:09] mkuron commented on #3611
We can drop CUDA on OSX. Apple hasn't shipped Macs with Nvidia GPUs since the Kepler generation and CUDA 10.2 is the last version to support Kepler.

[2020-03-31 18:22] espresso-ci commented on #3609
test

[2020-03-31 18:29] jngrad opened #3612 "Update espresso-ci bot with new GET syntax"
GitHub has deprecated the GET syntax we use for espresso-ci ([Deprecating API authentication through query parameters](https://developer.github.com/changes/2020-02-10-deprecating-auth-through-query-param/)). We currently get a monthly email reminder, then starting September 30th the GitHub API will randomly fail to incentivize the migration to the new GET syntax.

[2020-03-31 19:43] jngrad commented on #3612
Waiting for espressomd/docker#160

[2020-04-01 10:59] #3612 closed, assigned to jngrad

[2020-04-01 11:04] fweik commented on #2973
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/218922

[2020-04-01 11:08] hirschsn opened #3616 "topology_check_resort inconsistent type"
Introduced in 7f4caf7, `topology_check_resort` returns `true` as default. This was used in `cells_update_ghosts` to decide if resorting is necessary or not. Later in 4e468e9, the function was changed to return an `unsigned` and is currently defined as follows:
[code]
Results should semantically be values of `enum Cells::Resort`.

Now I don't directly do a PR because I don't know what you @fweik in

[2020-04-01 11:14] mkuron commented on #2973
That's an odd one. Why does that test even call into HIP code?

[code]

[2020-04-01 11:15] fweik commented on #3616
Yes, I agree it should be GLOBAL. The implicit integer conversion rules are great stuff ^^

[2020-04-01 14:24] espresso-ci opened #3620 "ROCm: Memory access fault by GPU node"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11601

[2020-04-01 14:31] #3616 closed, assigned to nobody

[2020-04-01 17:40] jngrad commented on #3620
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/219168
[code]

[2020-04-01 17:41] jngrad commented on #2973
It happened again today, dedicated ticket: #3620

[2020-04-01 18:49] fweik commented on #2973
@mkuron I think the gpu initialization code if always run, to detect the devices present and so on, but I haven't checked.

[2020-04-01 20:18] jngrad commented on #3534
@dpo854 did you find a solution?

[2020-04-02 08:25] mkuron commented on #2973
ROCm 3.3 was released last night (not sure what happened to 3.2). It's installed for testing on lama. It's still broken in multiple ways:

- `ln -s /opt/rocm/bin/hcc* /opt/rocm/hip/bin/` required because the `hipcc_cmake_linker_helper` has not been fixed.
- tests succeed, but hang during `HSA::hsa_shut_down()`

At least they fixed the `cudaMemcpyToSymbol` thing that broke the EK and LB tests. The

[2020-04-02 17:31] jngrad opened #3624 "ESPResSo installation is broken (.so and .py name collision)"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/-/jobs/219704
[code]
We currently install the compiled Cython files (.so), compiled libraries (.so) and Python files (.py) in the same folder, which is just asking for trouble. #3543 introduced a name collision between `shapes.py` and `shapes.so`. The waLBerla integration will pull in even more shared objects, increasing the likelihood of nam

[2020-04-03 09:53] espresso-ci opened #3626 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11633

[2020-04-03 10:17] #3626 closed, assigned to nobody

[2020-04-03 10:29] #3587 closed, assigned to nobody

[2020-04-03 10:29] #3620 closed, assigned to nobody

[2020-04-03 17:50] RudolfWeeber opened #3627 "Move clang-tidy, ASAN, UBSAN to clang-9"
Results so far:
Build with Clang9 on the ICP machines:
* Clang++ cannot be used for the Cuda code, unless we are prepared to patch thrust. The code makes use of `va_printf` which is not defined (https://github.com/thrust/thrust/issues/1032). Alternatively, we could include the workaround discussed in the isseu in Espresso. Personally, I'd just use Nvcc.
* The following clang-tidy checks get trigge

[2020-04-03 17:54] fweik commented on #3627
`bugprone-unhandled-self-assignment` that sounds scary

[2020-04-03 18:01] RudolfWeeber commented on #3627
@fweik, I think it was in the (copy or move) constructor of Utils::List

Some of the narrowing warnings should probably also be looked at.

[2020-04-03 18:09] mkuron commented on #3627
That would get rid of clang-tidy checking on CUDA code. NVCC basically has no warnings, so if we can patch thrust we should do that to keep clang.

[2020-04-03 18:15] fweik commented on #3627
The `bugprone-narrowing-conversions` in `src/shapes/src/SpheroCylinder.cpp:52:8` is almost certainly an actual bug. Seems like a useful warning to me.

[2020-04-03 18:18] jngrad commented on #3524
The `pre-commit` tool was added by #3622 to format only changed files.

The `git-style` tool was adapted accordingly. I don't think we should include `git-style` in ESPResSo, as in its current form it would re-introduce the complexity that was removed by #3622 and lead to undesired code duplication. In the future I might rewrite `git-style` to delegate all the version detection and code formatting

[2020-04-03 18:27] #3539 closed, assigned to fweik

[2020-04-03 18:30] jngrad commented on #3524
Let me correct my previous statement: I can't delegate to `/maintainer/format/*.sh` because their command line arguments are populated by the `pre-commit` tool and the filenames are passed one by one by `pre-commit`.

[2020-04-03 18:49] fweik commented on #3627
The self-assignment is fixed in #3628, please do not remove the check.

[2020-04-03 19:10] fweik commented on #3627
The narrowing thing is fixed in #3629.

[2020-04-03 19:30] fweik opened #3630 "Replace macros in Shapes::Rhomboid"
Shape::Rhomboid contains macros that mix calculation with control flow which cause problems with clang-tidy and are a bad idea on general grounds. Those should be replaced.
When this is fixed, the clang-tidy check `bugprone-macro-parentheses` can be enabled.

[2020-04-03 19:35] fweik commented on #3627
`modernize-avoid-c-arrays` has to be disabled I think: `Utils::Array` uses c-array as portable storage backend that also works on the GPU, which makes changing it more complicated. It's probably not
worthwhile to implemented a more sophisticated solution for this, because the GPU support for
`Array` can be removed with the soonish (?) removal of the GPU LB.

[2020-04-03 19:48] RudolfWeeber commented on #3627
@fweik, I'll re-enable the checks corresponding to your fixes.
#mkuron,
Getting rid of patched boost/thrust/other-stuff and getting the CI containers simple is my main goal with this project.
Also, peoples' dev environments should be (apt-install)-simple. People should be able to just use clang-tidy and the sanitizers on the ICP machines.

Also, a lot of the GPU stuff will go away, once we are rea

[2020-04-03 19:58] fweik commented on #3627
I'll also fix `bugprone-exception-escape`

[2020-04-03 20:36] mkuron commented on #3627
Sure, but sometimes that is not possible. Clang is a useful tool and helps find actual bugs before they become big problems. Complex tools like that require some maintenance effort; and as long as that only means patching a file, it‘s not worth forgoing correctness in favor of simplicity.

[2020-04-05 10:57] dpo854 commented on #3534
No. I did not pursue it further since it is running fine on my cluster.

[2020-04-05 11:10] dpo854 opened #3633 "Charge unit in espresso"
While going through the page on electrostatics, I realized that the prefactor should be KT*lB/(eo**2) instead of kT*lB as suggested by the package. Most example programs have mentioned the prefactor to be 2 and the charges to be integers.  How do these charges connect to the electronic charge?

[2020-04-05 11:13] #3534 closed, assigned to nobody

[2020-04-05 21:09] espresso-ci opened #3635 "CI build failed for merged PR"
https://gitlab.icp.uni-stuttgart.de/espressomd/espresso/pipelines/11655

[2020-04-06 00:32] dpo854 commented on #3633
I guess the prefactor definition is wrong on the documentation webpage in that it should be eo**2/(4*pi*epsilon0*epsilonr). This makes it equal to lB*kBT and for temperature =1 (in hoomd units), the prefactor is 2 for a sigma value of 0.35 and a Bjerrum length of 0.7 nm, which is the case for water.